Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(parent): scope guardian pickup management to safe targets + audit
  backend/api/parent/child_write_handlers.go
  backend/database/migrations/001015144_guardian_pickup_change_audit.go
  backend/database/repositories/audit/guardian_pickup_change.go
  backend/database/repositories/factory.go
  backend/models/audit/guardian_pickup_change.go
  backend/models/config/keys.go
  backend/seed/api/parent_enrollment.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
  backend/services/factory.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
  backend/services/parent/parent_service.go
  frontend/src/components/parent/guardians-panel.tsx
Due: frontend-lint, go-imports

feat(parent): guardian contact & pickup management in parents portal (#1667)
  backend/api/parent/api.go
  backend/api/parent/child_write_handlers.go
  backend/api/parent/guardian_handlers.go
  backend/api/parent/me_handlers_test.go
  backend/auth/authorize/guardian_permission.go
  backend/database/migrations/001015143_grant_guardian_edit_pickup_permissions.go
  backend/services/factory.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
  backend/services/parent/parent_service.go
  frontend/src/app/api/parent/me/children/[studentId]/guardians/[guardianProfileId]/contact/route.ts
  frontend/src/app/api/parent/me/children/[studentId]/guardians/[guardianProfileId]/pickup/route.ts
  frontend/src/app/api/parent/me/children/[studentId]/guardians/route.ts
  frontend/src/components/parent/child-detail.tsx
  frontend/src/components/parent/guardians-panel.test.tsx
  frontend/src/components/parent/guardians-panel.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix(parent): surface orphaned guardian link as 500, not 403
  backend/services/parent/parent_guardian_service.go
Due: go-imports

fix(parent): lock guardian profile on contact edit + widen family containment
  backend/database/migrations/001015143_grant_guardian_edit_pickup_permissions.go
  backend/services/parent/parent_guardian_service.go
Due: go-imports

refactor(parent): drop unwired guardian emergency_priority from parent feature
  backend/api/parent/guardian_handlers.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_service.go
  frontend/src/components/parent/guardians-panel.test.tsx
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix(parent): store bare guardian email addr-spec, not display-name form
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_validate_internal_test.go
Due: go-imports

fix(parent): lock relationship edits + bound guardian phone label
  backend/services/parent/parent_guardian_service.go
Due: go-imports

docs(parent): clarify guardian-management toggle also gates self-edit
  backend/services/config/defaults/operations.go
Due: go-imports

feat(parent): audit guardian contact edits + batch-load guardian list
  backend/database/migrations/001015143_grant_guardian_edit_pickup_permissions.go
  backend/database/migrations/001015144_guardian_change_audit.go
  backend/database/migrations/001015144_guardian_pickup_change_audit.go
  backend/database/repositories/audit/guardian_change.go
  backend/database/repositories/audit/guardian_pickup_change.go
  backend/database/repositories/factory.go
  backend/database/repositories/users/guardian_phone.go
  backend/database/repositories/users/guardian_profile.go
  backend/models/audit/guardian_change.go
  backend/models/audit/guardian_pickup_change.go
  backend/models/users/repository.go
  backend/services/config/defaults/operations.go
  backend/services/factory.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_service_test.go
Due: go-imports

fix(parent): redact guardian contact data + calmer guardian rows
  backend/api/parent/child_write_handlers.go
  backend/api/parent/guardian_handlers.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
  frontend/src/components/parent/guardians-panel.test.tsx
  frontend/src/components/parent/guardians-panel.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix(parent): send guardian pickup fields only when changed
  frontend/src/components/parent/guardians-panel.tsx
Due: frontend-lint

fix(parent): drop contact PII from guardian audit trail
  backend/models/audit/guardian_change.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
Due: go-imports

style(parent): reduce guardian panel colors to match restrained palette
  frontend/src/components/parent/guardians-panel.tsx
Due: frontend-lint

style(parent): green avatar + move guardian row actions to top-right
  frontend/src/components/parent/guardians-panel.tsx
Due: frontend-lint

fix(parent): protect full guardian roles from parent edits, not just account holders
  backend/api/parent/child_write_handlers.go
  backend/api/parent/guardian_handlers.go
  backend/auth/authorize/guardian_permission.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
  frontend/src/components/parent/guardians-panel.test.tsx
  frontend/src/components/parent/guardians-panel.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix(parent): broadcast guardian contact edit to all of the profile's children
  backend/services/parent/parent_guardian_service.go
Due: go-imports

fix(parent): drop unused export on GuardianPhone type
  frontend/src/lib/parent-api.ts
Due: frontend-lint

fix(parent): address guardian review — reachable pickup note, email precheck, scoped relationship write
  backend/models/users/repository.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
  frontend/src/components/parent/guardians-panel.test.tsx
  frontend/src/components/parent/guardians-panel.tsx
Due: frontend-lint, go-imports

fix(parent): scope relationship write to exactly the supplied fields
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
Due: go-imports

fix: use eltern host for parents portal
  .github/workflows/build.yml
  backend/models/platform/organization.go
  backend/models/platform/organization_test.go
  backend/models/platform/school_test.go
  docs/parent-portal-rollout-checklist.md
  environments/production.sops.env
  environments/staging.sops.env
  frontend/src/instrumentation.test.ts
  frontend/src/lib/env-validation.test.ts
  frontend/src/lib/parent-url.ts
  frontend/src/lib/reserved-slugs.ts
  frontend/src/lib/server-runtime-env.test.ts
  frontend/src/proxy.ts
  frontend/src/server/auth/parent-config.ts
Due: frontend-lint, go-imports

fix(parent): close guardian write-path gaps from second review pass
  backend/database/migrations/001015145_guardian_email_lower_unique_index.go
  backend/database/repositories/users/student_guardian.go
  backend/database/repositories/users/student_guardian_test.go
  backend/models/users/repository.go
  backend/models/users/student_guardian.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
  frontend/src/components/parent/guardians-panel.test.tsx
  frontend/src/components/parent/guardians-panel.tsx
Due: frontend-lint, go-imports

fix(parent): close guardian write-path gaps from third review pass
  backend/database/migrations/001015146_guardian_has_account_check.go
  backend/models/users/guardian_profile.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
  backend/services/users/guardian_service.go
  backend/services/users/guardian_service_internal_test.go
  backend/services/users/guardian_service_test.go
  frontend/src/components/parent/guardians-panel.test.tsx
  frontend/src/components/parent/guardians-panel.tsx
Due: frontend-lint, go-imports

fix: redirect legacy parents host
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint

fix: drop internal port from parents redirect
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint

fix: allow starting spontaneous activity in Schulhof-only context
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
Due: frontend-lint

test: guard spontaneous-activity start against Schulhof deadlock
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.test.tsx
Due: frontend-lint

feat: add portal-specific favicons
  frontend/public/favicons/eltern-staging/apple-touch-icon.png
  frontend/public/favicons/eltern-staging/favicon.ico
  frontend/public/favicons/eltern-staging/icon-192.png
  frontend/public/favicons/eltern-staging/icon-32.png
  frontend/public/favicons/eltern-staging/icon-512.png
  frontend/public/favicons/eltern/apple-touch-icon.png
  frontend/public/favicons/eltern/favicon.ico
  frontend/public/favicons/eltern/icon-192.png
  frontend/public/favicons/eltern/icon-32.png
  frontend/public/favicons/eltern/icon-512.png
  frontend/public/favicons/normal-staging/apple-touch-icon.png
  frontend/public/favicons/normal-staging/favicon.ico
  frontend/public/favicons/normal-staging/icon-192.png
  frontend/public/favicons/normal-staging/icon-32.png
  frontend/public/favicons/normal-staging/icon-512.png
  frontend/public/favicons/normal/apple-touch-icon.png
  frontend/public/favicons/normal/favicon.ico
  frontend/public/favicons/normal/icon-192.png
  frontend/public/favicons/normal/icon-32.png
  frontend/public/favicons/normal/icon-512.png
  frontend/public/favicons/operator-staging/apple-touch-icon.png
  frontend/public/favicons/operator-staging/favicon.ico
  frontend/public/favicons/operator-staging/icon-192.png
  frontend/public/favicons/operator-staging/icon-32.png
  frontend/public/favicons/operator-staging/icon-512.png
  frontend/public/favicons/operator/apple-touch-icon.png
  frontend/public/favicons/operator/favicon.ico
  frontend/public/favicons/operator/icon-192.png
  frontend/public/favicons/operator/icon-32.png
  frontend/public/favicons/operator/icon-512.png
  frontend/src/app/layout.test.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/manifest.test.ts
  frontend/src/app/manifest.ts
  frontend/src/lib/favicon-variants.test.ts
  frontend/src/lib/favicon-variants.ts
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint

test: split active-supervisions test to fix coverage OOM
  .github/workflows/test.yml
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part11.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part2.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part3.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part4.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part5.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part6.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part7.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part8.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part9.test.tsx
Due: frontend-lint

fix: stop render-loop OOM in Schulhof regression test; revert CI heap bump
  .github/workflows/test.yml
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part4.test.tsx
Due: frontend-lint

fix dashboard absence counts
  backend/api/students/status_day_internal_test.go
  backend/database/repositories/active/student_status_day.go
  backend/database/repositories/active/student_status_day_test.go
  backend/models/active/student_status_day.go
  backend/services/active/analytics_service.go
  backend/services/active/analytics_service_test.go
Due: go-imports

feat(ui): restyle portal favicons – white rounded tile, per-portal logo color
  frontend/public/favicons/eltern-staging/apple-touch-icon.png
  frontend/public/favicons/eltern-staging/favicon.ico
  frontend/public/favicons/eltern-staging/icon-192.png
  frontend/public/favicons/eltern-staging/icon-32.png
  frontend/public/favicons/eltern-staging/icon-512.png
  frontend/public/favicons/eltern/apple-touch-icon.png
  frontend/public/favicons/eltern/favicon.ico
  frontend/public/favicons/eltern/icon-192.png
  frontend/public/favicons/eltern/icon-32.png
  frontend/public/favicons/eltern/icon-512.png
  frontend/public/favicons/normal-staging/apple-touch-icon.png
  frontend/public/favicons/normal-staging/favicon.ico
  frontend/public/favicons/normal-staging/icon-192.png
  frontend/public/favicons/normal-staging/icon-32.png
  frontend/public/favicons/normal-staging/icon-512.png
  frontend/public/favicons/normal/apple-touch-icon.png
  frontend/public/favicons/normal/favicon.ico
  frontend/public/favicons/normal/icon-192.png
  frontend/public/favicons/normal/icon-32.png
  frontend/public/favicons/normal/icon-512.png
  frontend/public/favicons/operator-staging/apple-touch-icon.png
  frontend/public/favicons/operator-staging/favicon.ico
  frontend/public/favicons/operator-staging/icon-192.png
  frontend/public/favicons/operator-staging/icon-32.png
  frontend/public/favicons/operator-staging/icon-512.png
  frontend/public/favicons/operator/apple-touch-icon.png
  frontend/public/favicons/operator/favicon.ico
  frontend/public/favicons/operator/icon-192.png
  frontend/public/favicons/operator/icon-32.png
  frontend/public/favicons/operator/icon-512.png
Due: none

feat: add daily status to Tagesliste export
  backend/api/students/export_handlers.go
  backend/api/students/export_handlers_test.go
  backend/services/listexport/service.go
  backend/services/listexport/service_test.go
  backend/services/listexport/types.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/student-export-modal.test.tsx
  frontend/src/lib/student-export-api.test.ts
  frontend/src/lib/student-export-api.ts
Due: frontend-lint, go-imports

fix ci lint failures
  backend/services/parent/parent_master_data_service.go
  backend/services/users/master_data_review_service_test.go
  frontend/src/lib/master-data-review-api.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

docs: add Tagesliste export artifacts
  output/pdf/tagesliste-sternengruppe.pdf
  tmp/pdfs/sandra-tagesliste/page-1.png
  tmp/sandra-tagesliste/01-login.png
  tmp/sandra-tagesliste/02-after-login.png
  tmp/sandra-tagesliste/03-kindersuche-sternengruppe.png
  tmp/sandra-tagesliste/04-export-modal-tagesliste.png
  tmp/sandra-tagesliste/05-after-export.png
Due: none

chore: remove generated Tagesliste artifacts
  output/pdf/tagesliste-sternengruppe.pdf
  tmp/pdfs/sandra-tagesliste/page-1.png
  tmp/sandra-tagesliste/01-login.png
  tmp/sandra-tagesliste/02-after-login.png
  tmp/sandra-tagesliste/03-kindersuche-sternengruppe.png
  tmp/sandra-tagesliste/04-export-modal-tagesliste.png
  tmp/sandra-tagesliste/05-after-export.png
Due: none

fix migration version collisions
  backend/database/migrations/001015147_create_student_data_change_requests.go
  backend/database/migrations/001015148_backfill_guardian_master_data_permissions.go
Due: go-imports

test master data review coverage
  backend/api/parent/master_data_handlers_test.go
  backend/api/parent/me_handlers_test.go
  backend/api/students/master_data_review_handlers_test.go
  frontend/src/app/[tenant]/(protected)/admin/change-requests/page.test.tsx
  frontend/src/app/api/parent/me/children/[studentId]/master-data/[target]/[field]/route.test.ts
  frontend/src/app/api/parent/me/children/[studentId]/master-data/requests/route.test.ts
  frontend/src/app/api/parent/me/children/[studentId]/master-data/route.test.ts
  frontend/src/app/api/students/master-data-change-requests/[requestId]/decide/route.test.ts
  frontend/src/app/api/students/master-data-change-requests/route.test.ts
  frontend/src/app/parents/children/[id]/stammdaten/page.test.tsx
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/students/master-data-review-list.test.tsx
  frontend/src/lib/master-data-review-api.test.ts
  frontend/src/lib/parent-api.test.ts
Due: frontend-lint, go-imports

test master data coverage gaps
  backend/database/repositories/users/student_data_change_request_coverage_test.go
  backend/models/users/student_data_change_request_test.go
  backend/services/parent/parent_master_data_internal_test.go
  backend/services/parent/parent_master_data_request_service_test.go
  backend/services/parent/parent_master_data_service_test.go
  backend/services/users/master_data_review_service_test.go
Due: go-imports

fix hermetic master data model test
  backend/models/users/student_data_change_request_test.go
Due: go-imports

Add custom timed break durations
  backend/api/time-tracking/api_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/lib/time-tracking-api.test.ts
Due: frontend-lint, go-imports
