Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(migrations): replace TRUNCATE with data-preserving backfill
  backend/database/migrations/001008002_activities_groups_created_by.go
Due: go-imports

fix(migrations): use correct table activities.supervisors for backfill
  backend/database/migrations/001008002_activities_groups_created_by.go
Due: go-imports

fix(test): use fake timers for date-dependent pickup schedule tests
  frontend/src/lib/pickup-schedule-helpers.test.ts
Due: frontend-lint

fix: grant suggestions permissions to all system roles and add German role translations
  backend/database/migrations/001009003_grant_suggestions_to_all_roles.go
  frontend/src/lib/auth-helpers.test.ts
  frontend/src/lib/auth-helpers.ts
Due: frontend-lint, go-imports

fix(frontend): replace loading spinner with skeleton cards on suggestions page
  frontend/src/app/(protected)/suggestions/page.tsx
Due: frontend-lint

fix(test): update suggestions test to expect skeleton loading state
  frontend/src/app/(protected)/suggestions/page.test.tsx
Due: frontend-lint

fix(test): fix flaky sick-status test failing on weekends
  frontend/src/lib/pickup-schedule-helpers.test.ts
Due: frontend-lint

feat(settings): add info tooltip for long setting descriptions
  frontend/src/components/settings/settings-category.tsx
  frontend/src/components/ui/info-tooltip.tsx
Due: frontend-lint

fix(test): fix flaky scheduler cleanup test with synctest yield
  backend/services/scheduler/scheduler_test.go
Due: go-imports

fix: grant suggestions permissions to all roles & improve UX (#794)
  backend/database/migrations/001009003_grant_suggestions_to_all_roles.go
  backend/services/scheduler/scheduler_test.go
  frontend/src/app/(protected)/suggestions/page.test.tsx
  frontend/src/app/(protected)/suggestions/page.tsx
  frontend/src/lib/auth-helpers.test.ts
  frontend/src/lib/auth-helpers.ts
  frontend/src/lib/pickup-schedule-helpers.test.ts
Due: frontend-lint, go-imports

Fix/activity restrictive delete and edit (#761)
  backend/api/activities/activities_test.go
  backend/api/activities/api.go
  backend/api/iot/checkin/schulhof.go
  backend/database/migrations/001008002_activities_groups_created_by.go
  backend/database/repositories/activities/group_repository_test.go
  backend/models/activities/group.go
  backend/models/activities/group_test.go
  backend/seed/fixed/activities.go
  backend/seed/fixed/pickup_schedules.go
  backend/services/activities/activity_service.go
  backend/services/activities/activity_service_test.go
  backend/services/activities/errors.go
  backend/services/activities/interface.go
  backend/services/scheduler/scheduler_test.go
  backend/test/fixtures.go
  frontend/src/components/activities/activity-management-modal.test.tsx
  frontend/src/components/activities/activity-management-modal.tsx
  frontend/src/components/ui/logout-modal.test.tsx
  frontend/src/components/ui/modal-utils.test.tsx
  frontend/src/components/ui/modal-utils.tsx
  frontend/src/lib/pickup-schedule-helpers.test.ts
Due: frontend-lint, go-imports

fix: resolve migration version collision for activities.groups created_by
  backend/database/migrations/001008003_activities_groups_created_by.go
Due: go-imports

fix: resolve migration version collision for activities.groups created_by (#797)
  backend/database/migrations/001008003_activities_groups_created_by.go
Due: go-imports

fix: remove non-existent is_active column from migration fallback query
  backend/database/migrations/001008003_activities_groups_created_by.go
Due: go-imports

fix: handle partially-applied migration state on staging
  backend/database/migrations/001008003_activities_groups_created_by.go
Due: go-imports

fix: use relative assertions in TestGetActiveGroupsCount to prevent CI flake
  backend/services/active/analytics_service_test.go
Due: go-imports

feat: add staff time tracking (Zeiterfassung) for German labor law compliance
  backend/api/base.go
  backend/api/server.go
  backend/api/time-tracking/api.go
  backend/api/time-tracking/errors.go
  backend/auth/authorize/permissions/constants.go
  backend/database/migrations/001010001_create_work_sessions.go
  backend/database/migrations/001010002_time_tracking_permissions.go
  backend/database/repositories/active/work_session.go
  backend/database/repositories/factory.go
  backend/models/active/repository.go
  backend/models/active/work_session.go
  backend/services/active/active_service.go
  backend/services/active/session_service.go
  backend/services/active/work_session_service.go
  backend/services/factory.go
  backend/services/scheduler/scheduler.go
  frontend/src/app/(protected)/time-tracking/page.tsx
  frontend/src/app/api/time-tracking/[id]/route.ts
  frontend/src/app/api/time-tracking/break/route.ts
  frontend/src/app/api/time-tracking/check-in/route.ts
  frontend/src/app/api/time-tracking/check-out/route.ts
  frontend/src/app/api/time-tracking/current/route.ts
  frontend/src/app/api/time-tracking/history/route.ts
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/time-tracking-api.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

fix: use relative assertions in TestGetActiveGroupsCount to prevent CI flake (#798)
  backend/services/active/analytics_service_test.go
Due: go-imports

fix: remove all t.Skip() calls from backend tests (26 skips)
  backend/api/admin/grade_transitions_test.go
  backend/api/iot/sessions/sessions_test.go
  backend/api/substitutions/substitutions_test.go
  backend/database/repositories/auth/role_permission_test.go
  backend/database/repositories/base/base_test.go
  backend/models/base/filters_integration_test.go
  backend/services/active/active_group_service_test.go
  backend/services/active/session_service.go
  backend/services/activities/activity_service_test.go
  backend/services/auth/auth_core_test.go
  backend/services/auth/invitation_service_test.go
  backend/services/users/person_service_test.go
Due: go-imports

refactor: move supervisor lookup before transaction in EndActivitySession
  backend/services/active/session_service.go
Due: go-imports

chore: add shadcn MCP server configuration
  .mcp.json
Due: none

test: add unit tests for EndActivitySession error paths
  backend/services/active/end_session_unit_test.go
Due: go-imports

feat: redesign time tracking UI and add work session seed data
  backend/api/time-tracking/api.go
  backend/api/time-tracking/errors.go
  backend/database/repositories/active/work_session.go
  backend/seed/fixed/result.go
  backend/seed/fixed/seeder.go
  backend/seed/fixed/work_sessions.go
  backend/seed/seed.go
  backend/services/active/work_session_service.go
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/(protected)/time-tracking/page.tsx
  frontend/src/app/api/time-tracking/[id]/route.ts
  frontend/src/app/api/time-tracking/break/route.ts
  frontend/src/app/api/time-tracking/check-in/route.ts
  frontend/src/app/api/time-tracking/check-out/route.ts
  frontend/src/app/api/time-tracking/current/route.ts
  frontend/src/app/api/time-tracking/history/route.ts
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/lib/time-tracking-helpers.ts
  frontend/src/styles/globals.css
Due: frontend-lint, go-imports

fix: remove unused shadcn artifacts flagged by knip
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/chart.tsx
Due: frontend-lint

feat: add pause segment tracking with timer freeze and activity log
  frontend/src/app/(protected)/time-tracking/page.tsx
Due: frontend-lint

feat(schulhof): add permanent Schulhof tab in active supervisions
  backend/api/active/active_test.go
  backend/api/active/api.go
  backend/api/active/checkin_test.go
  backend/api/active/schulhof_handlers.go
  backend/api/base.go
  backend/services/facilities/schulhof_service.go
  backend/services/factory.go
  frontend/src/app/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/app/api/active/schulhof/status/route.ts
  frontend/src/app/api/active/schulhof/supervise/route.ts
  frontend/src/components/active/unclaimed-rooms.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/active-helpers.ts
  frontend/src/lib/active-service.ts
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint, go-imports

fix: lint issues in schulhof service and active-supervisions page
  backend/services/facilities/schulhof_service.go
  frontend/src/app/(protected)/active-supervisions/page.tsx
Due: frontend-lint, go-imports

fix: update tests to mock new Schulhof status API endpoint
  frontend/src/app/api/active-supervision-dashboard/route.test.ts
  frontend/src/components/active/unclaimed-rooms.test.tsx
  frontend/src/lib/supervision-context.test.tsx
Due: frontend-lint

test: add comprehensive tests for Schulhof feature (90%+ coverage)
  backend/api/active/schulhof_handlers_test.go
  backend/services/facilities/schulhof_service_test.go
  frontend/src/app/api/active/schulhof/status/route.test.ts
  frontend/src/app/api/active/schulhof/supervise/route.test.ts
  frontend/src/lib/active-helpers.test.ts
  frontend/src/lib/active-service.test.ts
Due: frontend-lint, go-imports

fix: handle errcheck lint for sqlmock Close in unit test
  backend/services/active/end_session_unit_test.go
Due: go-imports

feat: add multi-break tracking with dedicated work_session_breaks table
  backend/api/time-tracking/api.go
  backend/api/time-tracking/errors.go
  backend/database/migrations/001010003_add_pause_started_at.go
  backend/database/migrations/001010004_create_work_session_breaks.go
  backend/database/repositories/active/work_session.go
  backend/database/repositories/active/work_session_break.go
  backend/database/repositories/factory.go
  backend/models/active/repository.go
  backend/models/active/work_session_break.go
  backend/seed/fixed/result.go
  backend/seed/fixed/work_sessions.go
  backend/seed/seed.go
  backend/services/active/work_session_service.go
  backend/services/factory.go
  frontend/src/app/(protected)/time-tracking/page.tsx
  frontend/src/app/api/time-tracking/break/end/route.ts
  frontend/src/app/api/time-tracking/break/route.ts
  frontend/src/app/api/time-tracking/break/start/route.ts
  frontend/src/app/api/time-tracking/breaks/[sessionId]/route.ts
  frontend/src/components/ui/chart.tsx
  frontend/src/lib/time-tracking-api.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

fix: move supervisor fetch inside transaction for atomicity
  backend/services/active/end_session_unit_test.go
  backend/services/active/session_service.go
Due: go-imports

fix: rename labels and align styles on time-tracking page
  frontend/src/app/(protected)/time-tracking/page.tsx
Due: frontend-lint

fix: remove all t.Skip() calls from backend tests (#800)
  backend/api/admin/grade_transitions_test.go
  backend/api/iot/sessions/sessions_test.go
  backend/api/substitutions/substitutions_test.go
  backend/database/repositories/auth/role_permission_test.go
  backend/database/repositories/base/base_test.go
  backend/models/base/filters_integration_test.go
  backend/services/active/active_group_service_test.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/session_service.go
  backend/services/activities/activity_service_test.go
  backend/services/auth/auth_core_test.go
  backend/services/auth/invitation_service_test.go
  backend/services/users/person_service_test.go
Due: go-imports

test: add comprehensive unit test coverage for backend packages
  backend/api/active/errors_test.go
  backend/api/activities/errors_test.go
  backend/api/auth/errors_test.go
  backend/api/database/errors_test.go
  backend/api/feedback/errors_test.go
  backend/api/groups/errors_test.go
  backend/api/iot/common/errors_test.go
  backend/api/iot/common/helpers_test.go
  backend/api/rooms/errors_test.go
  backend/api/staff/errors_test.go
  backend/api/substitutions/errors_test.go
  backend/api/suggestions/errors_test.go
  backend/api/usercontext/errors_test.go
  backend/auth/authorize/authorization_service_test.go
  backend/auth/authorize/errors_test.go
  backend/auth/jwt/errors_test.go
  backend/cmd/cleanup_test.go
  backend/cmd/gendoc_test.go
  backend/cmd/root_test.go
  backend/cmd/seed_test.go
  backend/cmd/serve_test.go
  backend/cmd/simulate_test.go
  backend/database/database_config_test.go
  backend/database/repositories/auth/email_delivery_helpers_test.go
  backend/database/repositories/base/snake_case_test.go
  backend/database/repositories/education/substitution_helpers_test.go
  backend/database/repositories/users/person_helpers_test.go
  backend/models/audit/data_import_test.go
  backend/models/import/student_test.go
  backend/models/import/types_test.go
  backend/services/active/errors_test.go
  backend/services/activities/errors_test.go
  backend/services/auth/errors_test.go
  backend/services/auth/password_helpers_test.go
  backend/services/config/errors_test.go
  backend/services/database/errors_test.go
  backend/services/education/errors_test.go
  backend/services/import/helpers_test.go
  backend/services/usercontext/errors_test.go
  backend/services/users/errors_test.go
Due: go-imports

test: add comprehensive unit test coverage for backend packages (#789)
  backend/api/active/errors_test.go
  backend/api/activities/errors_test.go
  backend/api/auth/errors_test.go
  backend/api/database/errors_test.go
  backend/api/feedback/errors_test.go
  backend/api/groups/errors_test.go
  backend/api/iot/common/errors_test.go
  backend/api/iot/common/helpers_test.go
  backend/api/rooms/errors_test.go
  backend/api/staff/errors_test.go
  backend/api/substitutions/errors_test.go
  backend/api/suggestions/errors_test.go
  backend/api/usercontext/errors_test.go
  backend/auth/authorize/authorization_service_test.go
  backend/auth/authorize/errors_test.go
  backend/auth/jwt/errors_test.go
  backend/cmd/cleanup_test.go
  backend/cmd/gendoc_test.go
  backend/cmd/root_test.go
  backend/cmd/seed_test.go
  backend/cmd/serve_test.go
  backend/cmd/simulate_test.go
  backend/database/database_config_test.go
  backend/database/repositories/auth/email_delivery_helpers_test.go
  backend/database/repositories/base/snake_case_test.go
  backend/database/repositories/education/substitution_helpers_test.go
  backend/database/repositories/users/person_helpers_test.go
  backend/models/audit/data_import_test.go
  backend/models/import/student_test.go
  backend/models/import/types_test.go
  backend/services/active/errors_test.go
  backend/services/activities/errors_test.go
  backend/services/auth/errors_test.go
  backend/services/auth/password_helpers_test.go
  backend/services/config/errors_test.go
  backend/services/database/errors_test.go
  backend/services/education/errors_test.go
  backend/services/import/helpers_test.go
  backend/services/usercontext/errors_test.go
  backend/services/users/errors_test.go
Due: go-imports

fix: resolve ESLint and TypeScript errors in Schulhof API tests
  backend/api/active/schulhof_handlers_test.go
  frontend/src/app/api/active/schulhof/status/route.test.ts
  frontend/src/app/api/active/schulhof/status/route.ts
  frontend/src/app/api/active/schulhof/supervise/route.test.ts
  frontend/src/app/api/active/schulhof/supervise/route.ts
  frontend/src/lib/active-service.test.ts
  frontend/src/lib/active-service.ts
Due: frontend-lint, go-imports

fix: add CreatedBy field to activity groups for Schulhof service
  backend/models/activities/group.go
  backend/services/facilities/schulhof_service.go
  backend/services/facilities/schulhof_service_test.go
Due: go-imports

fix: update mock interface for SchulhofService createdBy parameter
  backend/api/active/schulhof_handlers_test.go
Due: go-imports
