Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix: add missing SettingsService interface methods to config test mock
  backend/api/iot/config_test.go
Due: go-imports

feat: redesign dienstplan tab with calendar view and KPI cards
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/components/staff/dienstplan-tab.tsx
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint

feat: protect system rooms and activities from deletion and renaming
  backend/api/activities/errors.go
  backend/api/rooms/errors.go
  backend/constants/activities.go
  backend/services/activities/activity_service.go
  backend/services/activities/errors.go
  backend/services/facilities/errors.go
  backend/services/facilities/facility_service.go
  frontend/src/components/activities/activity-detail-modal.tsx
  frontend/src/components/activities/activity-edit-modal.tsx
  frontend/src/components/rooms/room-detail-modal.tsx
  frontend/src/components/rooms/room-edit-modal.tsx
  frontend/src/components/ui/database/database-form.tsx
  frontend/src/components/ui/detail-modal-actions.tsx
  frontend/src/lib/activity-helpers.ts
  frontend/src/lib/database/types.ts
  frontend/src/lib/room-helpers.ts
Due: frontend-lint, go-imports

fix: preserve idempotent delete for non-existent activities
  backend/services/activities/activity_service.go
Due: go-imports

test: add coverage for system room/activity protection
  backend/api/activities/errors_test.go
  backend/api/rooms/errors_test.go
  backend/constants/activities_test.go
  backend/services/activities/activity_service_test.go
  backend/services/activities/errors_test.go
  backend/services/facilities/errors_test.go
  backend/services/facilities/facility_service_test.go
  frontend/src/lib/activity-helpers.test.ts
  frontend/src/lib/room-helpers.test.ts
Due: frontend-lint, go-imports

test: cover remaining system entity branches for SonarQube
  backend/services/activities/activity_service_test.go
  frontend/src/components/activities/activity-edit-modal.test.tsx
  frontend/src/components/rooms/room-edit-modal.test.tsx
Due: frontend-lint, go-imports

fix: use exact room names in system room tests
  backend/services/facilities/facility_service_test.go
Due: go-imports

fix: resolve test failures from cross-package interference
  backend/services/activities/activity_service_test.go
  backend/services/facilities/facility_service_test.go
  backend/services/facilities/schulhof_service_test.go
  frontend/src/components/rooms/room-detail-modal.test.tsx
Due: frontend-lint, go-imports

fix: add cleanupSchulhofArtifacts to all Schulhof service tests
  backend/services/facilities/schulhof_service_test.go
Due: go-imports

refactor: address PR review feedback for checkout settings
  backend/api/iot/checkin/helpers.go
  backend/api/iot/config.go
  docs/settings/future-settings-backlog.md
Due: go-imports

fix: use colon instead of em dash in system entity helper text
  frontend/src/components/activities/activity-edit-modal.test.tsx
  frontend/src/components/activities/activity-edit-modal.tsx
  frontend/src/components/rooms/room-edit-modal.test.tsx
  frontend/src/components/rooms/room-edit-modal.tsx
Due: frontend-lint

fix: translate permissions page fully to German
  frontend/src/app/[tenant]/(protected)/database/permissions/page.tsx
  frontend/src/components/permissions/permission-detail-modal.tsx
  frontend/src/components/permissions/permission-selector.tsx
  frontend/src/lib/database/configs/permissions.config.tsx
  frontend/src/lib/permission-labels.ts
Due: frontend-lint

test: update permission tests for German localization changes
  frontend/src/app/[tenant]/(protected)/database/permissions/page.test.tsx
  frontend/src/components/permissions/permission-detail-modal.test.tsx
  frontend/src/lib/permission-labels.test.ts
Due: frontend-lint

test: fix permission selector and config test assertions
  frontend/src/components/permissions/permission-selector.test.tsx
  frontend/src/lib/database/configs/permissions.config.test.tsx
Due: frontend-lint

fix: address PR review — migration dependency, service-layer validation, intent comment
  backend/api/auth/api.go
  backend/database/migrations/001015031_roles_base_role.go
  backend/services/auth/role_management.go
Due: go-imports

fix: caregiver modal title em dash and footer button overlap
  frontend/src/components/teachers/caregiver-capability-modal.tsx
  frontend/src/components/ui/form-modal.tsx
Due: frontend-lint

feat: overhaul settings page UI and fix focus rings app-wide
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/app/[tenant]/(public)/reset-password/page.tsx
  frontend/src/app/[tenant]/page.tsx
  frontend/src/app/operator/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/settings/fields/boolean-field.tsx
  frontend/src/components/settings/fields/number-field.tsx
  frontend/src/components/settings/fields/password-field.tsx
  frontend/src/components/settings/fields/select-field.tsx
  frontend/src/components/settings/fields/text-field.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/settings/personalization-tab.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/components/shared/settings-layout.tsx
  frontend/src/components/suggestions/suggestion-form.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/logout-modal.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/password-reset-modal.tsx
  frontend/src/components/ui/tabs.tsx
Due: frontend-lint

feat: replace native time picker with masked HH:MM text input
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/fields/time-field.tsx
Due: frontend-lint

fix: hide reset button for boolean toggle settings
  frontend/src/components/settings/settings-field.tsx
Due: frontend-lint

fix: use monitor icon for devices tab matching database page
  frontend/src/components/settings/settings-page.tsx
Due: frontend-lint

feat: show "Jederzeit" label for empty time fields with edit/clear UX
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/fields/time-field.tsx
Due: frontend-lint

style: improve empty time field UI with styled pill button
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/fields/time-field.tsx
Due: frontend-lint

fix: only show Jederzeit pill for time fields with empty default
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/settings/settings-field.tsx
Due: frontend-lint

fix: hide reset button for time fields with empty default
  frontend/src/components/settings/settings-field.tsx
Due: frontend-lint

fix: use Zurücksetzen button instead of X for clearable time fields
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/settings/settings-field.tsx
Due: frontend-lint

feat: support Enter key to confirm in number, time, and text fields
  frontend/src/components/settings/fields/number-field.tsx
  frontend/src/components/settings/fields/text-field.tsx
  frontend/src/components/settings/fields/time-field.tsx
Due: frontend-lint

fix: select field width and dropdown arrow alignment
  frontend/src/components/settings/fields/select-field.tsx
Due: frontend-lint

fix: use custom chevron icon for select field dropdown arrow
  frontend/src/components/settings/fields/select-field.tsx
Due: frontend-lint

feat: redesign password/PIN field with eye toggle and PIN-aware input
  frontend/src/components/settings/fields/password-field.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/lib/settings-api.ts
Due: frontend-lint

feat: redesign PIN/password field UI and set default PIN to 1234
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/security.go
  frontend/src/components/settings/fields/password-field.test.tsx
  frontend/src/components/settings/fields/password-field.tsx
Due: frontend-lint, go-imports

style: simplify password/PIN display to single clickable pill
  frontend/src/components/settings/fields/password-field.tsx
Due: frontend-lint

feat: add reveal endpoint for password/PIN fields with eye toggle
  backend/api/config/settings_api.go
  frontend/src/app/api/settings/values/[key]/reveal/route.ts
  frontend/src/components/settings/fields/password-field.test.tsx
  frontend/src/components/settings/fields/password-field.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/lib/settings-api.ts
Due: frontend-lint, go-imports

fix: fix reveal API response parsing and remove spinner flicker
  frontend/src/components/settings/fields/password-field.tsx
  frontend/src/lib/settings-api.ts
Due: frontend-lint

feat: make settings page fully mobile responsive
  frontend/src/components/settings/fields/boolean-field.tsx
  frontend/src/components/settings/fields/number-field.tsx
  frontend/src/components/settings/fields/password-field.tsx
  frontend/src/components/settings/fields/select-field.tsx
  frontend/src/components/settings/fields/text-field.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/settings/personalization-tab.test.tsx
  frontend/src/components/settings/personalization-tab.tsx
  frontend/src/components/settings/settings-category.test.tsx
  frontend/src/components/settings/settings-category.tsx
  frontend/src/components/settings/settings-field.test.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/components/shared/settings-layout.tsx
Due: frontend-lint

style: redesign mobile settings nav to iOS grouped list style
  frontend/src/components/shared/settings-layout.tsx
Due: frontend-lint

test: increase settings test coverage for SonarQube quality gate
  frontend/src/app/api/settings/values/[key]/reveal/route.test.ts
  frontend/src/components/settings/fields/number-field.test.tsx
  frontend/src/components/settings/fields/password-field.test.tsx
  frontend/src/components/settings/fields/text-field.test.tsx
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/personalization-tab.test.tsx
  frontend/src/components/settings/settings-field.test.tsx
  frontend/src/lib/settings-api.test.ts
Due: frontend-lint

fix: remove oversized min-h-[44px] from desktop buttons
  frontend/src/components/settings/fields/password-field.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/settings/settings-field.tsx
Due: frontend-lint

refactor: move system activity check after CanModifyActivity
  backend/services/activities/activity_service.go
Due: go-imports

fix: default session cleanup to disabled (opt-in)
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
Due: go-imports

feat: admin supervision overview with per-tenant opt-in setting
  backend/api/active/active_test.go
  backend/api/active/api.go
  backend/api/active/checkin_test.go
  backend/api/active/groups_handlers.go
  backend/api/active/supervisors_handlers.go
  backend/api/base.go
  backend/api/sse/resource.go
  backend/api/sse/sse_helpers.go
  backend/api/sse/sse_internal_test.go
  backend/api/sse/sse_test.go
  backend/database/repositories/active/group_supervisor.go
  backend/models/active/repository.go
  backend/models/config/keys.go
  backend/seed/api/data.go
  backend/services/active/active_service.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/interface.go
  backend/services/active/work_session_service_test.go
  backend/services/config/defaults/operations.go
  backend/services/scheduler/scheduler_test.go
  backend/simulate/fullday.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/app/api/active/supervisors/all/route.ts
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint, go-imports
