Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(students): Plan-Erweiterungen erst nach Zustimmung übernehmen und Fremd-Echo nicht auf neue Entwürfe anwenden
  frontend/src/components/students/personal-info-form-modal.test.tsx
  frontend/src/components/students/personal-info-form-modal.tsx
  frontend/src/components/students/student-stammdaten-tab.test.tsx
  frontend/src/components/students/student-stammdaten-tab.tsx
  frontend/src/lib/hooks/__tests__/use-companion-remote-refresh.test.ts
  frontend/src/lib/hooks/use-companion-remote-refresh.ts
Due: frontend-lint

fix(students): Companion-Benachrichtigung nur bei linkrelevanten Saves
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
Due: frontend-lint

fix(students): Companion-Sperrreihenfolge global ordnen und Bulk-Lookup linearisieren
  backend/api/students/companion_handlers.go
  backend/database/repositories/users/student_companion.go
  backend/database/repositories/users/student_companion_repository_test.go
  backend/services/enrollment/change_request_service.go
  backend/services/factory.go
  backend/services/users/companion_lock_test.go
  backend/services/users/student_service.go
Due: go-imports

fix(students): Stale Abfahrtsplan rebasen und Companion-Fehler nicht als Daten ausgeben
  backend/api/students/companion_handlers.go
  backend/api/students/export_handlers.go
  backend/api/students/student_handlers.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_departure_days_test.go
  backend/models/users/student.go
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint, go-imports

fix(students): Stale Plaene rebasen, Companion-Sperre gezielt nehmen, Roster-Tage filtern
  backend/api/students/companion_handlers.go
  backend/api/students/student_handlers.go
  backend/models/users/student_companion.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  frontend/src/components/students/student-stammdaten-tab.test.tsx
  frontend/src/components/students/student-stammdaten-tab.tsx
Due: frontend-lint, go-imports

fix(students): Plan-Sync als Student-Update melden und Stale-Flag pro Kind zurücksetzen
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_adjustment_service.go
  frontend/src/components/students/personal-info-form-modal.tsx
  frontend/src/components/students/student-stammdaten-tab.tsx
  frontend/src/lib/hooks/__tests__/use-companion-remote-refresh.test.ts
  frontend/src/lib/hooks/use-companion-remote-refresh.ts
Due: frontend-lint, go-imports

fix(students): Companion-Kanten tenant-sicher verankern und Fingerprint im Contract fuehren
  backend/database/migrations/001015208_student_companions.go
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

fix(students): Plan-getriebenes Loeschen an Baseline binden und Companion-Verdikt melden
  backend/api/students/companion_handlers.go
  backend/api/students/companion_stale_plan_test.go
  backend/api/students/student_handlers.go
  backend/api/students/types.go
  backend/services/users/student_service.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/app/api/students/[id]/route.ts
  frontend/src/components/students/personal-info-form-modal.tsx
  frontend/src/components/students/student-stammdaten-tab.test.tsx
  frontend/src/components/students/student-stammdaten-tab.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/student-helpers.test.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

fix(students): Companion-Links nicht gegen veralteten Plan trimmen
  backend/api/students/export_handlers.go
  frontend/src/components/students/companion-picker.test.tsx
  frontend/src/components/students/companion-picker.tsx
Due: frontend-lint, go-imports

fix(students): Plan-Entwurf als Companion-Konflikt werten, Wochentag in Berlin bestimmen
  backend/api/students/companion_handlers.go
  frontend/src/components/students/student-stammdaten-tab.tsx
Due: frontend-lint, go-imports

fix(students): Companion-Entwurf waehrend des Speicherns schuetzen, Gruppen einmal berechnen
  backend/database/repositories/users/student_companion.go
  frontend/src/components/students/personal-info-form-modal.tsx
  frontend/src/components/students/student-stammdaten-tab.tsx
  frontend/src/lib/hooks/__tests__/use-companion-remote-refresh.test.ts
  frontend/src/lib/hooks/use-companion-remote-refresh.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

fix(students): Companion-Stranding im Sammel-Update gegen Endzustand pruefen
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_reconcile_companions_test.go
  backend/models/users/companion_stranding_batch.go
  backend/models/users/repository.go
  backend/services/enrollment/change_request_service.go
  backend/services/users/student_service.go
Due: go-imports

fix(students): Plan-Entwurf im Modal als Companion-Konflikt werten
  frontend/src/components/students/personal-info-form-modal.companion-stale.test.tsx
  frontend/src/components/students/personal-info-form-modal.tsx
Due: frontend-lint

fix(students): Echo-Grace beim Schliessen entwaffnen, Companions beim Kindwechsel leeren
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/lib/hooks/use-companion-remote-refresh.ts
Due: frontend-lint

fix(students): Companion-Liste ohne erlaubten Begleit-Tag ablehnen
  backend/api/students/companion_handlers.go
  backend/api/students/companion_stale_plan_test.go
  frontend/src/components/students/personal-info-form-modal.test.tsx
  frontend/src/components/students/student-form-fields.tsx
Due: frontend-lint, go-imports

fix(students): Datenschutz-Schreibvorgang vor den Kind-PUT ziehen
  frontend/src/app/api/students/[id]/route.test.ts
  frontend/src/app/api/students/[id]/route.ts
Due: frontend-lint

fix(students): Teilerfolg beim Datenschutz-Schreibvorgang melden
  frontend/src/app/api/students/[id]/route.test.ts
  frontend/src/app/api/students/[id]/route.ts
  frontend/src/components/students/student-stammdaten-tab.test.tsx
  frontend/src/components/students/student-stammdaten-tab.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
Due: frontend-lint

fix(students): Datenschutz-Paar nur bei echter Aenderung schreiben
  frontend/src/app/api/students/[id]/route.ts
  frontend/src/components/students/student-stammdaten-tab.test.tsx
  frontend/src/components/students/student-stammdaten-tab.tsx
  frontend/src/components/ui/database/database-form.test.tsx
  frontend/src/components/ui/database/database-form.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
Due: frontend-lint

style(students): Kinderdetail-Label von "Laeuft mit" auf "Geht mit"
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint

fix(migrations): student_companions auf 1.15.209 umnummerieren
  backend/database/migrations/001015209_student_companions.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_companion.go
  backend/models/users/student_companion.go
Due: go-imports

fix(students): Companion-Fingerprint und Fehler-Parsing ohne Sonar-Reliability-Befunde
  frontend/src/components/students/student-stammdaten-tab.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/student-companion-api.ts
Due: frontend-lint

fix(calendar): reject impossible recurrences, safe all_school_parents rollback
  backend/database/migrations/001015206_calendar_target_all_school_parents.go
  backend/services/calendar/service.go
  backend/services/calendar/service_helpers_test.go
  backend/services/calendar/service_integration_test.go
Due: go-imports

fix(calendar): refresh token on .ics download, clear pending notice on occurrence cancel
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  frontend/src/app/api/calendar/appointments/[appointmentId]/ics/route.ts
  frontend/src/app/api/parent/calendar/appointments/[appointmentId]/ics/route.ts
  frontend/src/lib/ics-download.server.test.ts
  frontend/src/lib/ics-download.server.ts
Due: frontend-lint, go-imports

fix(students): Companion-IDs als String annehmen und Events an echte Link-Aenderung binden
  backend/api/students/companion_handlers.go
  backend/api/students/types_bind_test.go
  backend/database/repositories/users/student.go
  backend/models/users/companion_change_recorder.go
  backend/services/schedule/care_request_service.go
  backend/services/schedule/care_request_service_test.go
  backend/services/users/master_data_review_service.go
  backend/services/users/master_data_review_service_test.go
  frontend/src/lib/api.ts
  frontend/src/lib/student-companion-api.ts
  frontend/src/lib/student-helpers.test.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

fix(calendar): include end date in multi-day timed appointment emails
  backend/services/calendar/email_test.go
  backend/services/calendar/notifications.go
Due: go-imports

fix(enrollment): Companion-Refusals melden und Events an echte Link-Aenderung binden
  backend/services/enrollment/decision_companion_sync_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/test/hermetic_verification_test.go
Due: go-imports

fix(calendar): redact feed token in logs, bound recurrence membership checks
  backend/api/base.go
  backend/api/log_redaction.go
  backend/api/log_redaction_test.go
  backend/services/calendar/feed.go
  backend/services/calendar/service.go
  backend/services/calendar/service_helpers_test.go
Due: go-imports

feat(betreuungsplan): Block-Detailansicht als zentriertes Modal statt Slide-Over
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/instance-detail-modal.stories.tsx
  frontend/src/components/timetable/instance-detail-modal.test.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
  frontend/src/components/timetable/timetable-style.ts
  frontend/src/components/ui/origin-chip.tsx
Due: frontend-lint

fix: renumber calendar migrations to 1.15.210/211/212 (version collision)
  backend/database/migrations/001015210_calendar_feed_token.go
  backend/database/migrations/001015211_calendar_target_all_school_parents.go
  backend/database/migrations/001015212_calendar_appointment_revision.go
Due: go-imports

fix(betreuungsplan): Detail-Modal pausiert unter dem Termin-Editor und ignoriert laufende Escape-Events
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/instance-detail-modal.test.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
  frontend/src/components/ui/modal.tsx
Due: frontend-lint

feat(time-tracking): add NFC staff clock endpoint
  backend/api/base.go
  backend/api/iot/api.go
  backend/api/iot/pyreportal_error_strings_test.go
  backend/api/iot/staffclock/errors.go
  backend/api/iot/staffclock/resource.go
  backend/api/iot/staffclock/staffclock_test.go
  backend/api/iot/staffclock/types.go
  backend/api/testdata/iot_auth_matrix.golden
  backend/api/testdata/route_table.golden
  backend/services/active/labor_time_policy.go
  backend/services/factory.go
  backend/services/iot/staffclock/service.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(ui): Escape-Guard im Modal ohne Uhrenvergleich
  frontend/src/components/ui/modal.tsx
Due: frontend-lint

chore(workflows): Timetable-UI-Workflows auf instance-detail-modal.tsx umgestellt
  .claude/workflows/timetable-ui-audit.js
  .claude/workflows/timetable-ui-fix.js
Due: none

feat(calendar): Dienstplan-Schichten als eigene Event-Quelle im persönlichen Kalender
  backend/models/calendar/appointment.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  backend/services/factory.go
  backend/test/fixtures.go
Due: go-imports

feat(calendar): Schicht-Events orange als Dienst-Karten darstellen
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/components/calendar/personal-calendar.test.tsx
  frontend/src/components/calendar/personal-calendar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/personal-calendar-api.ts
Due: frontend-lint

fix(calendar): redact feed token in security logger, cap recurrence count
  backend/api/base.go
  backend/middleware/log_redaction.go
  backend/middleware/log_redaction_test.go
  backend/middleware/security_logger.go
  backend/models/calendar/appointment.go
  backend/models/calendar/appointment_test.go
  backend/services/calendar/service.go
Due: go-imports

feat(calendar): Zeitachsen-Raster und Mo-Fr-Standard im persönlichen Kalender
  frontend/src/components/calendar/personal-calendar.test.tsx
  frontend/src/components/calendar/personal-calendar.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(calendar): Review-Befunde im Zeitraster beheben
  backend/services/calendar/service.go
  frontend/src/components/calendar/personal-calendar.test.tsx
  frontend/src/components/calendar/personal-calendar.tsx
Due: frontend-lint, go-imports

fix(calendar): Rasterfenster mit Render-Ende rechnen, Schichtarten batch-laden
  backend/services/calendar/service.go
  frontend/src/components/calendar/personal-calendar.tsx
Due: frontend-lint, go-imports

fix(calendar): tenant-qualified iCalendar UID, redact feed token in Sentry
  backend/services/calendar/ics.go
  backend/services/calendar/service_helpers_test.go
  frontend/src/sentry.shared.test.ts
  frontend/src/sentry.shared.ts
Due: frontend-lint, go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
