Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

chore: refresh composition inventory
  backend/architecture/composition.json
Due: none

test: Routen-Goldens und Query-Budget für die Klassenausnahme nachziehen
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/api/timetable/student_day_test.go
Due: go-imports

fix(frontend): keep tenant detail navigation reachable
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/ui/mobile-back-button.test.tsx
  frontend/src/components/ui/mobile-back-button.tsx
Due: frontend-lint

fix(students): retain scanned directory rows
  backend/database/repositories/activities/group.go
  backend/modules/peopledirectory/internal/adapters/postgres/student_store.go
Due: go-imports

fix(frontend): preserve responsive tenant navigation
  frontend/src/app/[tenant]/(protected)/database/students/class-list/page.tsx
  frontend/src/app/school/nachrichten/[threadID]/page.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix(status): serialize legacy flag archival
  backend/database/repositories/active/student_directory.go
  backend/database/repositories/active/student_status_day.go
  backend/database/repositories/active/student_status_day_archive_internal_test.go
  backend/database/repositories/student_projection.go
Due: go-imports

fix(students): klassenausnahmen robust speichern
  backend/api/students/class_arrival_exception_handlers.go
  backend/api/students/class_arrival_exception_handlers_test.go
  backend/api/students/pickup_schedule_handlers.go
  backend/seed/api/stammdaten.go
  backend/services/schedule/arrival_class_exception_service.go
  backend/services/schedule/arrival_class_exception_test.go
  frontend/src/components/students/class-arrival-exception-panel.test.tsx
  frontend/src/components/students/class-arrival-exception-panel.tsx
Due: frontend-lint, go-imports

fix(frontend): retain Tagesplan disabled-state title
  frontend/src/app/[tenant]/(protected)/tagesplan/page.tsx
Due: frontend-lint

fix(careplanning): scope student locks to databases
  backend/api/parent/child_write_handlers_test.go
  backend/internal/careplanning/lock.go
  backend/services/absence/excused_request_service_test.go
  backend/services/absence/lock_test_helpers.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/rollover_service_test.go
  backend/services/parent/excused_request_test.go
  backend/services/schedule/care_exception_lock.go
  backend/services/schedule/pickup_auto_excusal_test.go
Due: go-imports

fix: kalenderdaten für klassenausnahmen stabilisieren
  backend/api/students/class_arrival_exception_handlers_test.go
  backend/seed/api/stammdaten.go
  backend/services/schedule/arrival_class_exception_test.go
Due: go-imports

chore(architecture): update composition inventory
  backend/architecture/composition.json
Due: none

fix(frontend): align staff page states
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix(frontend): handle loading time-account summaries
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
Due: frontend-lint

test(parent): bind care lock in write service setup
  backend/architecture/composition.json
  backend/services/parent/parent_write_service_test.go
Due: go-imports

fix(frontend): use shared activity create button
  frontend/src/app/[tenant]/(protected)/activities/page.tsx
Due: frontend-lint

fix(schedule): isolate class arrival exceptions
  backend/architecture/composition.json
  backend/database/repositories/schedule/class_arrival_exception_repo.go
  backend/services/schedule/arrival_baseline_service.go
  backend/services/schedule/arrival_class_exception_internal_test.go
  backend/services/schedule/arrival_class_exception_test.go
  backend/services/schedule/arrival_service.go
  frontend/src/components/students/class-arrival-exception-panel.test.tsx
  frontend/src/components/students/class-arrival-exception-panel.tsx
Due: frontend-lint, go-imports

fix(frontend): retain tenant-aware student navigation
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint

refactor(frontend): simplify student permission state
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint

fix(students): validate class arrival exceptions
  backend/api/students/class_arrival_exception_handlers.go
  backend/api/students/class_arrival_exception_handlers_test.go
  frontend/src/components/active-supervisions/timetable-roster-class-exception.test.tsx
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/students/class-arrival-exception-panel.test.tsx
  frontend/src/components/students/class-arrival-exception-panel.tsx
Due: frontend-lint, go-imports

test(frontend): cover tenant-aware dashboard links
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
Due: frontend-lint

fix(schedule): preserve weekly arrival data
  backend/architecture/composition.json
  backend/services/schedule/arrival_class_exception_test.go
  backend/services/schedule/arrival_service.go
  frontend/src/components/students/class-arrival-exception-panel.test.tsx
  frontend/src/components/students/class-arrival-exception-panel.tsx
Due: frontend-lint, go-imports

fix(frontend): preserve tenant route context
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.tsx
  frontend/src/app/help/setup/page.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix(frontend): preserve loading announcements
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/[tenant]/(protected)/anfragen/page.test.tsx
  frontend/src/app/[tenant]/(protected)/anfragen/page.tsx
  frontend/src/app/[tenant]/(protected)/profile/page.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
Due: frontend-lint

test(students): account for class arrival exceptions
  backend/api/students/ogs_group_live_test.go
Due: go-imports

fix(frontend): label timetable loading state
  frontend/src/components/timetable/betreuungsplan-view.tsx
Due: frontend-lint

fix: close the staff membership follow-ups from the #2961 review
  backend/api/common/not_found.go
  backend/api/common/not_found_test.go
  backend/api/staff_routes_test.go
  backend/api/time-tracking/staff_admin_balance_adjustment_internal_test.go
  backend/architecture/composition.json
  backend/database/repositories/education/group_substitution.go
  backend/database/repositories/facilities/room.go
  backend/database/repositories/staff_membership_adapters_test.go
  backend/database/repositories/staff_membership_decorators.go
  backend/database/repositories/staff_membership_teacher.go
  backend/models/base/db_errors.go
  backend/modules/schoolmembership/compose/new.go
  backend/modules/schoolmembership/compose/new_test.go
  backend/modules/schoolmembership/internal/adapters/postgres/store.go
  backend/modules/schoolmembership/internal/domain/membership.go
  backend/modules/schoolmembership/schoolmembership.go
  backend/modules/schoolmembership/schoolmembership_test.go
Due: go-imports

fix(students): clarify day arrival title
  frontend/src/components/students/class-bulk-arrival-modal-day-view.test.tsx
  frontend/src/components/students/class-bulk-arrival-modal.tsx
Due: frontend-lint

fix(frontend): retain chat back navigation
  frontend/src/app/[tenant]/(protected)/team-chat/[threadID]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/team-chat/[threadID]/page.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix(architecture): recognize raw migration tables
  backend/internal/architecture/migration_additions.go
  backend/internal/architecture/ratchet_cli_test.go
Due: go-imports

fix(frontend): preserve tenant enrollment navigation
  frontend/src/app/[tenant]/(protected)/team-chat/[threadID]/page.tsx
  frontend/src/components/enrollment/admin-enrollments-list.tsx
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix: Review-Befunde zur Klassenausnahme
  backend/api/students/class_arrival_exception_handlers_test.go
  backend/services/schedule/arrival_class_exception_internal_test.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/components/active-supervisions/planned-now-section.test.tsx
  frontend/src/components/active-supervisions/planned-now-section.tsx
  frontend/src/components/students/class-arrival-exception-panel.tsx
Due: frontend-lint, go-imports

fix: address meal participation review
  backend/api/base.go
  backend/api/base_utility_test.go
  backend/database/migrations/001015364_meal_participation.go
  backend/modules/mealplan/internal/application/service.go
  backend/modules/mealplan/internal/application/service_test.go
  frontend/src/components/meal-plan/meal-participant-list.test.tsx
  frontend/src/components/meal-plan/meal-participant-list.tsx
Due: frontend-lint, go-imports

fix(enrollment): preserve guardian directory binding
  backend/database/repositories/factory.go
  backend/services/factory_test.go
Due: go-imports

test(composition): refresh factory inventory
  backend/architecture/composition.json
Due: none

fix(frontend): preserve personnel invitations in empty state
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/components/ui/tenant-page.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

test(frontend): retain mobile header utility contract
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix(frontend): keep tenant navigation in enrollment actions
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
Due: frontend-lint

fix(frontend): align tenant page summaries and actions
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/dashboard/header/refresh-button.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

fix(frontend): align tenant page state details
  frontend/src/app/[tenant]/(protected)/absences/page.tsx
  frontend/src/app/[tenant]/(protected)/settings/page.test.tsx
  frontend/src/app/[tenant]/(protected)/settings/page.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
