Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix: preserve proxied client IP in access logs
  backend/api/base.go
  backend/api/base_utility_test.go
Due: go-imports

feat: allow deleting enrollment phases with enrollments, preserving students
  backend/api/enrollment/api.go
  backend/api/enrollment/phase_handlers.go
  backend/api/enrollment/phase_handlers_test.go
  backend/database/repositories/enrollment/care_offering_repository.go
  backend/database/repositories/enrollment/request_child_repository.go
  backend/database/repositories/enrollment/request_repository.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/request.go
  backend/models/enrollment/request_child.go
  backend/services/enrollment/phase_service.go
  backend/services/enrollment/phase_service_test.go
  backend/services/factory.go
  frontend/src/app/api/enrollment/phases/[id]/delete-impact/route.ts
  frontend/src/app/api/enrollment/phases/[id]/route.ts
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/components/operator/delete-device-modal.tsx
  frontend/src/components/operator/delete-person-modal.tsx
  frontend/src/components/ui/confirm-delete-modal.tsx
  frontend/src/lib/enrollment-phase-api.ts
Due: frontend-lint, go-imports

test: align enrollment-phase-api tests with the new delete behavior
  frontend/src/lib/enrollment-phase-api.test.ts
Due: frontend-lint

feat(import): add staff CSV import via bulk invitations
  backend/api/base.go
  backend/api/import/api.go
  backend/api/import/file_upload.go
  backend/api/import/import_test.go
  backend/api/import/staff.go
  backend/models/import/staff.go
  backend/services/factory.go
  backend/services/import/staff_import_config.go
  backend/services/import/staff_parser.go
  backend/services/import/staff_parser_test.go
  frontend/src/app/[tenant]/(protected)/database/personal/import/page.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/app/api/import/teachers/import/route.ts
  frontend/src/app/api/import/teachers/preview/route.ts
  frontend/src/app/api/import/teachers/template/route.ts
Due: frontend-lint, go-imports

feat(import): show and accept role display names in staff import
  backend/api/import/import_test.go
  backend/services/import/staff_import_config.go
  frontend/src/app/[tenant]/(protected)/database/personal/import/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/import/page.tsx
Due: frontend-lint, go-imports

feat(import): import student consent dates (phase 2b)
  backend/api/import/api.go
  backend/api/import/import_test.go
  backend/models/import/student.go
  backend/services/import/helpers.go
  backend/services/import/student_import_config.go
  backend/services/import/student_import_config_test.go
Due: go-imports

fix(students): load real privacy consent in Stammdaten tab
  frontend/src/components/students/student-stammdaten-tab.test.tsx
  frontend/src/components/students/student-stammdaten-tab.tsx
Due: frontend-lint

feat: add student list exports
  backend/api/base.go
  backend/api/students/api.go
  backend/api/students/export_handlers.go
  backend/api/students/export_handlers_test.go
  backend/services/factory.go
  backend/services/listexport/docx.go
  backend/services/listexport/pdf.go
  backend/services/listexport/service.go
  backend/services/listexport/service_test.go
  backend/services/listexport/types.go
  backend/services/listexport/xlsx.go
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/app/api/students/export/route.ts
  frontend/src/components/students/student-export-modal.tsx
  frontend/src/lib/student-export-api.ts
Due: frontend-lint, go-imports

fix(import): use nbsp spacer for template button alignment
  frontend/src/app/[tenant]/(protected)/database/personal/import/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/import/page.tsx
Due: frontend-lint

test(import): cover staff import frontend + backend (coverage)
  backend/api/import/import_test.go
  backend/services/import/staff_parser_test.go
  frontend/src/app/[tenant]/(protected)/database/personal/import/page.test.tsx
  frontend/src/app/api/import/teachers/import/route.test.ts
  frontend/src/app/api/import/teachers/preview/route.test.ts
  frontend/src/app/api/import/teachers/template/route.test.ts
Due: frontend-lint, go-imports

test(import): cover staff upload-validation error paths
  backend/api/import/import_test.go
Due: go-imports

fix: satisfy export coverage gate
  .github/workflows/test.yml
  frontend/src/lib/student-export-api.test.ts
  frontend/src/lib/student-export-api.ts
Due: frontend-lint

feat: add room snapshot exports
  backend/api/base.go
  backend/api/rooms/api.go
  backend/api/rooms/export_handlers.go
  backend/api/rooms/export_handlers_test.go
  backend/services/listexport/service.go
  backend/services/listexport/types.go
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/app/api/rooms/export/route.ts
  frontend/src/lib/room-export-api.ts
Due: frontend-lint, go-imports

fix: tighten room snapshot rows
  backend/api/rooms/export_handlers.go
  backend/api/rooms/export_handlers_test.go
Due: go-imports

fix: move room checklist column
  backend/api/rooms/export_handlers.go
Due: go-imports

test: cover export flows
  backend/services/listexport/service_test.go
  frontend/src/components/students/student-export-modal.test.tsx
  frontend/src/lib/room-export-api.test.ts
Due: frontend-lint, go-imports

feat: add emergency list export
  backend/api/base.go
  backend/api/emergency/api.go
  backend/services/emergency/service.go
  backend/services/emergency/service_test.go
  backend/services/factory.go
  backend/services/listexport/service.go
  backend/services/listexport/types.go
  frontend/src/app/[tenant]/(protected)/emergency/page.test.tsx
  frontend/src/app/[tenant]/(protected)/emergency/page.tsx
  frontend/src/app/api/emergency/snapshot/export/route.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/emergency-export-api.test.ts
  frontend/src/lib/emergency-export-api.ts
  frontend/src/lib/navigation-icons.ts
Due: frontend-lint, go-imports

fix: include emergency coverage in sonar
  .github/workflows/test.yml
  backend/services/emergency/service.go
  backend/services/emergency/service_test.go
  frontend/src/app/[tenant]/(protected)/emergency/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/lib/emergency-export-api.ts
Due: frontend-lint, go-imports

fix: address export review gaps
  backend/api/rooms/api.go
  backend/api/students/export_handlers.go
  backend/api/students/export_handlers_test.go
  backend/services/emergency/service.go
  backend/services/emergency/service_test.go
  backend/services/factory.go
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint, go-imports

feat: add per-tenant info texts behind enrollment consent checkboxes
  backend/api/enrollment/api.go
  backend/api/enrollment/legal_handlers.go
  backend/models/config/keys.go
  backend/models/config/registry.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/enrollment.go
  backend/services/config/settings_service.go
  backend/services/enrollment/request_service.go
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/api/enrollment/legal/[tenantSlug]/route.ts
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/settings/fields/textarea-field.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/lib/enrollment-form-schema-api.ts
  frontend/src/lib/settings-api.ts
Due: frontend-lint, go-imports

test: cover staff import paths
  backend/services/import/helpers_test.go
  backend/services/import/staff_import_config_test.go
  backend/services/import/staff_parser_test.go
Due: go-imports

ci: include import coverage profile
  .github/workflows/test.yml
Due: none

fix(mfa): close audit-drop and RLS write gaps from #1430 review round 3
  backend/api/auth/mfa_handlers.go
  backend/api/auth/mfa_handlers_extra_internal_test.go
  backend/database/migrations/001015092_mfa_overrides_restrict_global_write.go
  backend/models/platform/operator_audit_log.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_service_followups_test.go
Due: go-imports

feat(enrollment): info fields, conditional visibility, editable suggested labels
  backend/api/enrollment/admin_decision_handlers.go
  backend/models/enrollment/form_field_visibility_test.go
  backend/models/enrollment/form_schema.go
  backend/services/enrollment/form_schema_service.go
  backend/services/enrollment/form_schema_visibility_test.go
  backend/services/enrollment/form_visibility.go
  backend/services/enrollment/form_visibility_test.go
  backend/services/enrollment/request_service.go
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/lib/enrollment-field-visibility.test.ts
  frontend/src/lib/enrollment-field-visibility.ts
  frontend/src/lib/enrollment-form-schema-api.ts
Due: frontend-lint, go-imports

ci: preserve room history coverage
  .github/workflows/test.yml
  frontend/src/lib/api-helpers.test.ts
Due: frontend-lint

feat: make enrollment base fields and custom fields configurably required
  backend/api/enrollment/schema_handlers.go
  backend/api/enrollment/schema_handlers_test.go
  backend/database/migrations/001015079_form_schemas_core_requirements.go
  backend/models/enrollment/form_schema.go
  backend/models/enrollment/form_schema_validate_test.go
  backend/services/enrollment/form_schema_service.go
  backend/services/enrollment/form_schema_service_extra_test.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  backend/services/enrollment/rollover_autoapprove_integration_test.go
  backend/services/enrollment/rollover_service_test.go
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/settings/fields/boolean-field.tsx
  frontend/src/lib/enrollment-form-schema-api.ts
Due: frontend-lint, go-imports

feat: allow marking a care offering as required per phase
  backend/api/enrollment/care_offering_handlers.go
  backend/api/enrollment/submission_handlers.go
  backend/database/migrations/001015080_care_offerings_is_required.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/care_offering_validate_test.go
  backend/services/enrollment/request_helpers_test.go
  backend/services/enrollment/request_service.go
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/lib/care-offering-api.test.ts
  frontend/src/lib/care-offering-api.ts
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

refactor: centralize enrollment consent-flag keys
  backend/models/enrollment/request.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/request_service.go
Due: go-imports

feat(enrollment): allow required suggested fields + care-offering selection rules
  backend/api/enrollment/care_offering_handlers.go
  backend/database/migrations/001015078_care_offerings_selection_rules.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/care_offering_validate_test.go
  backend/services/enrollment/care_offering_rules.go
  backend/services/enrollment/care_offering_rules_test.go
  backend/services/enrollment/form_visibility.go
  backend/services/enrollment/form_visibility_test.go
  backend/services/enrollment/request_service.go
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/lib/care-offering-api.ts
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

fix: propagate enrollment schema edits to bound phases
  backend/database/repositories/enrollment/phase_repository.go
  backend/models/enrollment/phase.go
  backend/services/enrollment/form_schema_service.go
  frontend/src/app/api/enrollment/schema/[id]/route.ts
  frontend/src/app/api/enrollment/schema/route.ts
Due: frontend-lint, go-imports

fix: enforce required care-offering days with inline errors
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint

fix: use bun.List instead of deprecated bun.In in RepointFormSchema
  backend/database/repositories/enrollment/phase_repository.go
Due: go-imports

fix(test): add SELECTION_RULE_LABELS to care-offering-api vi.mock
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
Due: frontend-lint

refactor: address SonarCloud findings on enrollment required-fields
  backend/services/enrollment/request_service.go
  frontend/src/app/api/enrollment/schema/[id]/route.ts
  frontend/src/app/api/enrollment/schema/route.ts
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint, go-imports

feat: add public Anleitung guide for schools
  docs/anleitung/content-map.md
  docs/anleitung/landing.md
  docs/anleitung/nfc.md
  docs/anleitung/screenshots.md
  docs/anleitung/standard.md
  frontend/public/anleitung/screens/aktivitaeten-anlegen.png
  frontend/public/anleitung/screens/aktivitaeten.png
  frontend/public/anleitung/screens/aktuelle-aufsicht.png
  frontend/public/anleitung/screens/anmeldungen.png
  frontend/public/anleitung/screens/betreuungszeiten-pflegen.png
  frontend/public/anleitung/screens/datenverwaltung.png
  frontend/public/anleitung/screens/feedback.png
  frontend/public/anleitung/screens/go-live-check.png
  frontend/public/anleitung/screens/gruppen-anlegen.png
  frontend/public/anleitung/screens/kind-manuell-anlegen.png
  frontend/public/anleitung/screens/kinder-importieren.png
  frontend/public/anleitung/screens/kindersuche.png
  frontend/public/anleitung/screens/konto-erstellen.png
  frontend/public/anleitung/screens/meine-gruppen.png
  frontend/public/anleitung/screens/mitarbeitende-anlegen.png
  frontend/public/anleitung/screens/mitarbeiter.png
  frontend/public/anleitung/screens/nfc-geraete-pruefen.png
  frontend/public/anleitung/screens/raeume-anlegen.png
  frontend/public/anleitung/screens/raeume.png
  frontend/public/anleitung/screens/stundenplan.png
  frontend/public/anleitung/screens/vertretungen.png
  frontend/public/anleitung/screens/zeiterfassung.png
  frontend/src/app/anleitung/ersteinrichtung/page.tsx
  frontend/src/app/anleitung/funktionen/page.tsx
  frontend/src/app/anleitung/nfc/page.tsx
  frontend/src/app/anleitung/page.tsx
  frontend/src/components/anleitung/guide-components.tsx
  frontend/src/components/anleitung/guide-data.ts
  frontend/src/components/anleitung/print-button.tsx
  frontend/src/proxy.ts
Due: frontend-lint

refactor(anleitung): group guide pages into chapters with tone/callout/checklist
  docs/anleitung/content-map.md
  frontend/src/app/anleitung/ersteinrichtung/page.tsx
  frontend/src/app/anleitung/funktionen/page.tsx
  frontend/src/app/anleitung/nfc/page.tsx
  frontend/src/app/anleitung/page.tsx
  frontend/src/components/anleitung/guide-components.tsx
  frontend/src/components/anleitung/guide-data.ts
Due: frontend-lint

refactor: improve guide navigation layout
  docs/anleitung/content-map.md
  frontend/src/app/anleitung/funktionen/page.tsx
  frontend/src/components/anleitung/guide-components.tsx
  frontend/src/components/anleitung/guide-data.ts
  frontend/src/proxy.ts
  frontend/src/styles/globals.css
Due: frontend-lint

docs: refine guide room setup copy
  frontend/src/components/anleitung/guide-data.ts
Due: frontend-lint

feat: add student day planning filters
  backend/api/base.go
  backend/api/students/api.go
  backend/api/students/day_planning.go
  backend/api/students/export_handlers.go
  backend/api/students/list_helpers.go
  backend/api/students/students_test.go
  backend/api/students/test_helpers_test.go
  backend/api/students/types.go
  backend/api/timetable/instance_students_unit_test.go
  backend/database/repositories/schedule/student_day.go
  backend/models/schedule/instance_student.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/app/api/ogs-dashboard/route.ts
  frontend/src/app/api/students/route.ts
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/day-planning-helper.ts
  frontend/src/lib/student-export-api.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

feat: add capacity observability stack
  .env.example
  backend/api/base.go
  backend/api/iot/api.go
  backend/api/iot/metrics.go
  backend/api/server.go
  backend/database/migrations/001015056_enable_pg_stat_statements.go
  backend/go.mod
  backend/go.sum
  backend/observability/capacity.go
  backend/observability/capacity_test.go
  backend/observability/prometheus.go
  backend/realtime/events.go
  backend/realtime/hub.go
  backend/tenant/http_middleware.go
  config/ssl/postgres/postgresql.conf
  environments/production.compose.yml
  environments/production.sops.env
  environments/staging.compose.yml
  environments/staging.sops.env
  frontend/.env.example
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/api/internal/metrics/route.ts
  frontend/src/env.js
  frontend/src/lib/api-helpers.ts
  frontend/src/lib/operator/route-wrapper.ts
  frontend/src/lib/server-metrics.ts
  loadtests/README.md
  loadtests/k6/phoenix-capacity.js
  loadtests/node/sse-hold.mjs
  loadtests/sql/capacity-snapshot.sql
  monitoring/README.md
  monitoring/caddy/Caddyfile.observability.example
  monitoring/grafana/provisioning/dashboards/json/phoenix-capacity.json
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus/prometheus.yml
Due: frontend-lint, go-imports
