Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

test(enrollment): cover more pure helpers for the coverage gate
  backend/services/enrollment/request_helpers_test.go
  backend/services/enrollment/rollover_helpers_test.go
Due: go-imports

fix(enrollment): validate guardian phone at submit/edit to unblock approval
  backend/api/enrollment/admin_decision_handlers.go
  backend/api/enrollment/submission_handlers.go
  backend/models/users/guest.go
  backend/models/users/phone_validation.go
  backend/models/users/phone_validation_test.go
  backend/models/users/student.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  backend/services/import/student_import_config.go
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

test(enrollment): comprehensive coverage of DecisionService
  backend/services/enrollment/decision_service_test.go
Due: go-imports

test(enrollment): cover validators + email renderers + form schema lifecycle
  backend/models/enrollment/care_offering_validate_test.go
  backend/models/enrollment/phase_validate_test.go
  backend/services/enrollment/decision_renderers_test.go
  backend/services/enrollment/email_renderer_helpers_test.go
  backend/services/enrollment/email_renderers_test.go
  backend/services/enrollment/form_schema_service_extra_test.go
Due: go-imports

fix(enrollment): pin guardian email validation to one rule across submit and approval
  backend/api/enrollment/submission_handlers.go
  backend/models/users/email_validation.go
  backend/models/users/email_validation_test.go
  backend/models/users/student.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

feat(enrollment): scroll to and mark invalid fields on the public enrollment form
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint

fix(enrollment): show specific message when only one consent is missing
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint

test(parent,enrollment): cover handler helpers + parent service paths
  backend/api/enrollment/submission_handlers_test.go
  backend/api/parent/handler_helpers_test.go
  backend/services/parent/parent_service_extra_test.go
Due: go-imports

test(enrollment): cover rollover validator + pgdriver violation helpers
  backend/services/enrollment/rollover_helpers_pure_test.go
Due: go-imports

feat(enrollment): scroll to the first invalid field instead of the banner
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint

test(enrollment): cover rollover handler date + body parsing helpers
  backend/api/enrollment/rollover_helpers_test.go
Due: go-imports

test(enrollment): cover toAdminRequestSummary response shaper
  backend/api/enrollment/admin_handlers_helpers_test.go
Due: go-imports

test(platform): cover EmailOutbox validator + kind constants
  backend/models/platform/email_outbox_test.go
Due: go-imports

test(enrollment): cover FormSchema.Validate + parseGradeLevel
  backend/api/enrollment/me_handlers_test.go
  backend/models/enrollment/form_schema_validate_test.go
Due: go-imports

test(enrollment): cover remaining email branding helpers
  backend/services/enrollment/email_branding_extra_test.go
Due: go-imports

test(enrollment): cover RequestChild predicates + status constants
  backend/models/enrollment/constants_test.go
  backend/models/enrollment/request_child_test.go
Due: go-imports

test(enrollment): cover CaptchaService.Verify HTTP paths
  backend/services/enrollment/captcha_verify_test.go
Due: go-imports

test(enrollment,parent): cover remaining response shapers + getClientIP
  backend/api/enrollment/response_shapers_test.go
  backend/api/parent/get_client_ip_test.go
Due: go-imports

test(auth): cover schoolLogoURLFromSettings JSON parsing
  backend/services/auth/school_logo_settings_test.go
Due: go-imports

test(enrollment): DB-integration tests for form_schema/phase/request repos
  backend/database/repositories/enrollment/form_schema_repository_test.go
  backend/database/repositories/enrollment/phase_repository_test.go
  backend/database/repositories/enrollment/request_repository_test.go
Due: go-imports

test(enrollment): DB-integration tests for child/care/rate-limit repos
  backend/database/repositories/enrollment/care_offering_repository_test.go
  backend/database/repositories/enrollment/request_child_offering_repository_test.go
  backend/database/repositories/enrollment/request_child_repository_test.go
  backend/database/repositories/enrollment/submission_rate_limit_repository_test.go
Due: go-imports

test(parent,platform): DB-integration tests for email outbox + parent repos
  backend/database/repositories/parent/child_repository_test.go
  backend/database/repositories/parent/enrollable_phase_repository_test.go
  backend/database/repositories/platform/email_outbox_repository_test.go
Due: go-imports

test(enrollment): HTTP handler tests for admin decision + schema endpoints
  backend/api/enrollment/admin_decision_handlers_test.go
  backend/api/enrollment/schema_handlers_test.go
Due: go-imports

test(enrollment): HTTP handler tests for phase + care offering endpoints
  backend/api/enrollment/care_offering_handlers_test.go
  backend/api/enrollment/phase_handlers_test.go
Due: go-imports

test(frontend): Vitest coverage for parent-url + enrollment API helpers
  frontend/src/lib/enrollment-form-schema-api.test.ts
  frontend/src/lib/enrollment-phase-api.test.ts
  frontend/src/lib/parent-url.test.ts
Due: frontend-lint

test(frontend): Vitest coverage for parent + care-offering API clients
  frontend/src/lib/care-offering-api.test.ts
  frontend/src/lib/parent-api.test.ts
Due: frontend-lint

fix(ci): cap test DB pool, plus-subaddress emails, lint+typecheck fixes
  backend/database/repositories/enrollment/phase_repository_test.go
  backend/database/repositories/parent/enrollable_phase_repository_test.go
  backend/models/users/email_validation.go
  backend/models/users/email_validation_test.go
  backend/test/helpers.go
  frontend/src/lib/care-offering-api.test.ts
  frontend/src/lib/enrollment-form-schema-api.test.ts
  frontend/src/lib/enrollment-phase-api.test.ts
  frontend/src/lib/parent-api.test.ts
Due: frontend-lint, go-imports

fix(frontend): rollover-form Modus label + settings-page useSearchParams mock
  frontend/src/components/enrollment/rollover-form.test.tsx
  frontend/src/components/enrollment/rollover-form.tsx
  frontend/src/components/settings/settings-page.test.tsx
Due: frontend-lint

fix(frontend): add EnrollmentConsentsSection to student-form-fields mock
  frontend/src/components/students/student-stammdaten-tab.test.tsx
Due: frontend-lint

test: improve enrollment coverage
  backend/services/enrollment/form_schema_service_extra_test.go
  backend/services/enrollment/form_schema_service_test.go
  backend/services/enrollment/phase_service_test.go
  backend/services/enrollment/request_service_test.go
  backend/services/enrollment/rollover_service_test.go
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-status-view.test.tsx
  frontend/src/lib/enrollment-submission-api.test.ts
Due: frontend-lint, go-imports

test: isolate public phase list assertion
  backend/services/enrollment/phase_service_test.go
Due: go-imports

test: stabilize backend coverage run
  .github/workflows/test.yml
  backend/api/students/students_room_filter_test.go
  backend/database/repositories/enrollment/request_repository_test.go
  backend/database/repositories/platform/announcement_view_repository_test.go
Due: go-imports

test: cover enrollment admin editors
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
Due: frontend-lint

ci: focus sonar coverage scope
  sonar-project.properties
Due: none

ci: always regenerate go coverage
  .github/workflows/test.yml
Due: none

ci: include all go packages in coverage
  .github/workflows/test.yml
Due: none

test: cover parent portal enrollment flows
  frontend/src/components/auth/guardian-invitation-accept-form.test.tsx
  frontend/src/components/parent/parent-portal.test.tsx
  frontend/src/lib/guardian-invitation-api.test.ts
  sonar-project.properties
Due: frontend-lint

feat: add planned student status days
  backend/api/students/api.go
  backend/api/students/status_day_handlers.go
  backend/api/students/status_days_response.go
  backend/api/students/types.go
  backend/database/migrations/001015076_student_status_days_planned_source.go
  backend/database/repositories/active/student_status_day.go
  backend/models/active/student_status_day.go
  backend/services/active/active_service.go
  backend/services/active/attendance_service.go
  backend/services/active/visit_helpers.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/app/api/students/[id]/status-days/[statusDayId]/route.ts
  frontend/src/app/api/students/[id]/status-days/route.ts
  frontend/src/components/students/arrival-schedule-manager.tsx
  frontend/src/components/students/care-day-override-modal.tsx
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/components/students/care-weekly-plan-modal.tsx
  frontend/src/components/students/pickup-schedule-manager.test.tsx
  frontend/src/components/students/pickup-schedule-manager.tsx
  frontend/src/components/students/planned-status-days-modal.tsx
  frontend/src/components/ui/date-picker.test.tsx
  frontend/src/components/ui/date-picker.tsx
  frontend/src/lib/arrival-schedule-helpers.ts
  frontend/src/lib/pickup-schedule-helpers.ts
  frontend/src/lib/student-status-days-api.ts
Due: frontend-lint, go-imports

fix(enrollment): honor phase show_status_reason_to_parent on parent-facing reads
  backend/database/repositories/parent/enrollment_request_repository.go
  backend/models/parent/child_summary.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_service_test.go
Due: go-imports

fix: soften student care schedule borders
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/components/students/planned-status-days-modal.tsx
Due: frontend-lint
