Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

chore: keep timetable roster instance type local
  frontend/src/lib/timetable-operations-types.ts
Due: frontend-lint

refactor: polish timetable instance detail slide-over
  frontend/src/components/timetable/instance-detail-slide-over.tsx
Due: frontend-lint

refactor(services): extract settings side-effects into a registry
  backend/api/base.go
  backend/api/config/settings_api.go
  backend/api/config/settings_api_test.go
  backend/api/config/settings_integration_test.go
  backend/api/operator/api.go
  backend/api/operator/settings.go
  backend/api/operator/settings_integration_test.go
  backend/api/operator/settings_internal_test.go
  backend/api/students/test_helpers_test.go
  backend/realtime/broadcaster.go
  backend/realtime/events.go
  backend/realtime/hub.go
  backend/realtime/hub_broadcast_to_tenant_test.go
  backend/services/active/attendance_sse_enrichment_test.go
  backend/services/active/broadcast_test.go
  backend/services/config/sideeffects/registry.go
  backend/services/facilities/settings_sideeffects.go
  backend/services/factory.go
  backend/tenant/aftercommit.go
  backend/tenant/aftercommit_test.go
  backend/tenant/tx.go
  frontend/src/components/tenant/tenant-provider.test.tsx
Due: frontend-lint, go-imports

refactor(settings): centralize schema fetch via SWR + cross-tab bridge
  frontend/src/app/[tenant]/(protected)/layout.tsx
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/components/tenant/tenant-provider.tsx
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-settings-cache-bridge.ts
  frontend/src/lib/hooks/use-sse.ts
  frontend/src/lib/settings-api.ts
  frontend/src/lib/settings-broadcast.ts
  frontend/src/lib/settings-keys.ts
  frontend/src/lib/sse-types.ts
Due: frontend-lint

refactor: simplify active supervisions page
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/components/active-supervisions/planned-now-section.tsx
  frontend/src/components/active-supervisions/states.tsx
  frontend/src/components/active-supervisions/view-model.test.ts
  frontend/src/components/active-supervisions/view-model.ts
Due: frontend-lint

fix: prevent active supervision UI flash
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
Due: frontend-lint

test: add unit tests for registry, after-commit hooks, side-effects
  backend/services/config/sideeffects/registry_test.go
  backend/services/facilities/settings_sideeffects_test.go
  backend/tenant/aftercommit_internal_test.go
  backend/test/hermetic_verification_test.go
  frontend/src/lib/settings-api.test.ts
Due: frontend-lint, go-imports

test: cover scheduleSettingsBroadcast + cache bridge to clear coverage gate
  backend/api/config/settings_broadcast_test.go
  backend/api/operator/settings_broadcast_test.go
  backend/tenant/aftercommit_test_helpers.go
  backend/test/hermetic_verification_test.go
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/__tests__/use-settings-cache-bridge.test.tsx
  frontend/src/lib/settings-broadcast.test.ts
Due: frontend-lint, go-imports

fix: complete timetable instances on session cleanup
  backend/database/migrations/001015053_complete_stale_timetable_instances.go
  backend/services/active/interface.go
  backend/services/active/session_service.go
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/session_end_timetable_test.go
Due: go-imports

fix: make timetable week view and period dropdown fit mobile
  frontend/src/components/timetable/period-switcher-dropdown.tsx
  frontend/src/components/timetable/weekly-calendar-grid.tsx
Due: frontend-lint

fix: improve mobile timetable toolbar
  frontend/src/components/timetable/planning-menu.tsx
  frontend/src/components/timetable/timetable-toolbar.tsx
Due: frontend-lint

docs: mark timetable F3 F4 complete
  docs/timetable-system-plan.md
Due: none

fix timetable operations roster consistency
  backend/api/timetable/api.go
  backend/api/timetable/operations.go
  backend/services/factory.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint, go-imports

test: fix active supervision frontend tests
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.test.tsx
  frontend/src/app/api/active-supervision-dashboard/route.test.ts
  frontend/src/app/api/active-supervision-dashboard/route.ts
Due: frontend-lint

test: cover timetable operations
  backend/api/timetable/operations_unit_test.go
  backend/services/schedule/timetable_operations_service_test.go
  frontend/src/lib/timetable-operations-api.test.ts
  frontend/src/lib/timetable-operations-types.test.ts
Due: frontend-lint, go-imports

feat(time-tracking): record stamp channel (app/nfc) for Homeoffice audit trail
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/database/migrations/001015049_work_sessions_source.go
  backend/models/active/work_session.go
  backend/services/active/session_service.go
  backend/services/active/work_session_export_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/test/fixtures.go
Due: go-imports

feat(parent): cross-tenant enrollment-list endpoint + invite-accept backfill
  backend/api/parent/api.go
  backend/api/parent/me_handlers.go
  backend/database/repositories/factory.go
  backend/database/repositories/parent/enrollment_request_repository.go
  backend/models/parent/child_summary.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/factory.go
  backend/services/parent/parent_service.go
Due: go-imports

feat(parent): add "Meine Anmeldungen" section to dashboard
  frontend/src/app/api/parent/me/enrollments/route.ts
  frontend/src/app/parents/page.tsx
  frontend/src/components/parent/enrollments-overview.tsx
  frontend/src/lib/parent-api.ts
Due: frontend-lint

feat(time-tracking): backfill historical work_session source via timing heuristic
  backend/database/migrations/001015049_work_sessions_source.go
  backend/database/migrations/001015049_work_sessions_source_test.go
Due: go-imports

refactor(time-tracking): preserve originating source on session reopen
  backend/models/active/work_session.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
Due: frontend-lint, go-imports

fix(time-tracking): reject silent status flip on session reopen
  backend/api/time-tracking/errors.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/lib/time-tracking-api.ts
Due: frontend-lint, go-imports

refactor(time-tracking): split Status/Quelle columns and tighten audit observability
  backend/database/migrations/001015049_work_sessions_source.go
  backend/services/active/session_service.go
  backend/services/active/work_session_export_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
Due: frontend-lint, go-imports

ci: preserve full go coverage report
  .github/workflows/test.yml
Due: none

test: stabilize timetable time assertions
  backend/api/timetable/instances_list_test.go
  backend/database/repositories/schedule/timeframe_repository_test.go
  backend/services/schedule/schedule_service_test.go
Due: go-imports

test: cover active supervision timetable UI
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.test.tsx
  frontend/src/components/active-supervisions/planned-now-section.test.tsx
  frontend/src/components/active-supervisions/view-model.test.ts
Due: frontend-lint

test: raise active supervision coverage
  frontend/src/components/timetable/instance-detail-slide-over.test.tsx
Due: frontend-lint

test: cover realtime timetable UI branches
  frontend/src/components/timetable/instance-detail-slide-over.test.tsx
  frontend/src/components/timetable/timetable-small-components.test.tsx
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
Due: frontend-lint

test: cover timetable operation edge cases
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/timetable-operations-api.test.ts
  frontend/src/lib/timetable-operations-types.test.ts
Due: frontend-lint

test: cover planned activity plural state
  frontend/src/components/active-supervisions/planned-now-section.test.tsx
Due: frontend-lint

fix(time-tracking): handle reopen+update partial failure and tighten test scaffolding
  backend/api/time-tracking/api_test.go
  backend/database/migrations/001015049_work_sessions_source_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/lib/auth-api.ts
  frontend/src/lib/time-tracking-api.ts
Due: frontend-lint, go-imports

fix timetable operation authorization
  backend/api/timetable/instance_students.go
  backend/api/timetable/operations.go
  backend/api/timetable/operations_unit_test.go
  backend/models/schedule/instance_student.go
  backend/models/schedule/instance_student_test.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
Due: go-imports

fix(time-tracking): classify status-change validation errors as 400
  backend/api/time-tracking/api_test.go
  backend/api/time-tracking/errors.go
Due: go-imports

test(time-tracking): cover migration Down, source validation, typed error
  backend/database/migrations/001015049_work_sessions_source_test.go
  backend/services/active/work_session_service_test.go
Due: go-imports

fix(settings): purge tenant cache on writes + monotonic resolve sequence
  frontend/src/app/api/operator/provisioning/schools/[id]/settings/values/[key]/route.test.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/settings/values/[key]/route.ts
  frontend/src/app/api/settings/values/[key]/route.test.ts
  frontend/src/app/api/settings/values/[key]/route.ts
  frontend/src/components/tenant/tenant-provider.test.tsx
  frontend/src/components/tenant/tenant-provider.tsx
  frontend/src/lib/settings-keys.ts
  frontend/src/lib/sse-types.ts
  frontend/src/lib/tenant-host.test.ts
  frontend/src/lib/tenant-host.ts
Due: frontend-lint

refactor(time-tracking): replace NFC backfill heuristic with 'unknown' sentinel
  backend/database/migrations/001015049_work_sessions_source.go
  backend/database/migrations/001015049_work_sessions_source_test.go
  backend/models/active/work_session.go
  backend/services/active/work_session_export_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
Due: go-imports

fix: resolve duplicate BroadcastToTenant from auto-merge
  backend/api/students/test_helpers_test.go
  backend/realtime/broadcaster.go
  backend/services/active/attendance_sse_enrichment_test.go
  backend/services/active/broadcast_test.go
Due: go-imports

test(time-tracking): scope selectPresentMode helper by role
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
Due: frontend-lint

fix(time-tracking): resolve CI failures and shore up new-code coverage
  backend/database/migrations/001015054_work_sessions_source.go
  backend/database/migrations/001015054_work_sessions_source_test.go
  backend/models/active/work_session.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/time-tracking-api.test.ts
Due: frontend-lint, go-imports
