Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: resolve enrollment schedule reviewer staff
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/rollover_autoapprove_integration_test.go
  backend/services/factory.go
  environments/staging.sops.env
Due: go-imports

fix parent master data review safety
  backend/database/migrations/001015147_create_student_data_change_requests.go
  backend/database/repositories/users/person.go
  backend/database/repositories/users/student_data_change_request.go
  backend/models/users/repository.go
  backend/models/users/student_data_change_request.go
  backend/services/parent/parent_master_data_request_service.go
  backend/services/parent/parent_master_data_request_service_test.go
  backend/services/parent/parent_master_data_service.go
  backend/services/parent/parent_master_data_service_test.go
  backend/services/users/master_data_review_service.go
  backend/services/users/master_data_review_service_test.go
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/parent/child-master-data.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint, go-imports

chore: help guide sync codex
  .agents/skills/help-guide-sync/SKILL.md
Due: none

feat(auth): parent password reset flow
  backend/api/parent/api.go
  backend/api/parent/auth_handlers.go
  backend/api/parent/auth_handlers_test.go
  backend/services/auth/auth_login_parent.go
  backend/services/auth/auth_service.go
  backend/services/auth/interface.go
  backend/services/auth/password_reset.go
  backend/services/auth/password_reset_integration_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/factory.go
  backend/services/platform/operator_provisioning_service_test.go
  backend/templates/email/password-reset.html
  frontend/src/app/api/parent/auth/password-reset/confirm/route.ts
  frontend/src/app/api/parent/auth/password-reset/route.ts
  frontend/src/app/parents/auth-guard.tsx
  frontend/src/app/parents/login/page.test.tsx
  frontend/src/app/parents/login/page.tsx
  frontend/src/app/parents/reset-password/page.tsx
  frontend/src/components/auth/reset-password-page-content.tsx
  frontend/src/components/ui/password-reset-modal.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-api.ts
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint, go-imports

test(auth): cover parent password reset flow
  backend/api/parent/auth_handlers_test.go
  backend/services/auth/password_reset_integration_test.go
  frontend/src/app/api/parent/auth/password-reset/confirm/route.test.ts
  frontend/src/app/api/parent/auth/password-reset/route.test.ts
  frontend/src/app/parents/reset-password/page.test.tsx
  frontend/src/components/auth/reset-password-page-content.test.tsx
  frontend/src/lib/auth-api.test.ts
Due: frontend-lint, go-imports

chore(auth): drop unused export on PasswordResetModalCopy
  frontend/src/components/ui/password-reset-modal.tsx
Due: frontend-lint

fix: hide enrollment status tokens from admin lists
  backend/api/enrollment/admin_decision_handlers.go
  backend/api/enrollment/admin_decision_handlers_test.go
  backend/api/enrollment/admin_handlers_helpers_test.go
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.test.tsx
  frontend/src/lib/enrollment-admin-api.ts
Due: frontend-lint, go-imports

test: stabilize scheduler shutdown wait test
  backend/services/scheduler/scheduler_test.go
Due: go-imports

fix master data review ci tests
  backend/services/auth/test_helpers_test.go
  backend/services/platform/operator_provisioning_service_test.go
  backend/services/users/master_data_review_service_test.go
Due: go-imports

fix(auth): address parent password reset review
  backend/api/parent/auth_handlers.go
  backend/api/parent/auth_handlers_test.go
  backend/services/auth/password_reset.go
  backend/services/auth/password_reset_integration_test.go
  frontend/src/app/parents/reset-password/page.tsx
  frontend/src/components/auth/reset-password-page-content.tsx
Due: frontend-lint, go-imports

fix: revoke operator refresh tokens on password change
  backend/api/operator/auth.go
  backend/api/operator/auth_test.go
  backend/api/operator/errors.go
  backend/database/migrations/001015147_operator_refresh_tokens.go
  backend/database/repositories/factory.go
  backend/database/repositories/platform/operator_email_change_token_repository_test.go
  backend/database/repositories/platform/operator_refresh_token.go
  backend/database/repositories/platform/operator_refresh_token_repository_test.go
  backend/models/entity_interfaces_test.go
  backend/models/platform/operator_refresh_token.go
  backend/models/platform/repository.go
  backend/services/factory.go
  backend/services/platform/errors.go
  backend/services/platform/operator_auth_mfa_gate_test.go
  backend/services/platform/operator_auth_service.go
  backend/services/platform/operator_auth_service_extra_test.go
  backend/services/platform/operator_auth_service_test.go
  backend/services/platform/operator_email_change_integration_test.go
  backend/services/platform/test_mocks_test.go
Due: go-imports

fix master data review edge cases
  backend/api/students/master_data_review_handlers.go
  backend/api/students/master_data_review_handlers_test.go
  backend/services/factory.go
  backend/services/parent/parent_master_data_request_service.go
  backend/services/parent/parent_master_data_request_service_test.go
  backend/services/parent/parent_master_data_service.go
  backend/services/parent/parent_master_data_service_test.go
  backend/services/users/master_data_review_service.go
  backend/services/users/master_data_review_service_test.go
  frontend/src/app/api/students/master-data-change-requests/[requestId]/decide/route.test.ts
  frontend/src/app/api/students/master-data-change-requests/[requestId]/decide/route.ts
  frontend/src/app/api/students/master-data-change-requests/route.test.ts
  frontend/src/app/api/students/master-data-change-requests/route.ts
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/parent/child-master-data.tsx
Due: frontend-lint, go-imports

fix: reject inactive operator access tokens
  backend/api/operator/api.go
  backend/api/operator/api_test.go
  backend/api/operator/middleware.go
  backend/api/operator/middleware_test.go
Due: go-imports

fix: handle Schulhof room conflicts
  backend/api/active/schulhof_handlers.go
  backend/api/active/schulhof_handlers_test.go
  backend/services/facilities/schulhof_service.go
Due: go-imports

fix: require IoT supervisor for daily checkout
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/api/iot/attendance/attendance_test.go
  backend/api/iot/attendance/handlers.go
  backend/api/sse/resolve_supervisions_internal_test.go
  backend/services/active/attendance_service.go
  backend/services/active/attendance_service_test.go
  backend/services/active/interface.go
  backend/services/scheduler/scheduler_test.go
Due: go-imports

fix device last-seen debounce test flake
  backend/auth/device/debounce_test.go
Due: go-imports

test: cover Schulhof room conflict recovery
  backend/services/facilities/schulhof_service_conflict_test.go
Due: go-imports

test: cover CI failure paths
  backend/api/iot/attendance/handlers.go
  backend/api/operator/api_test.go
  backend/api/operator/middleware_test.go
  backend/database/migrations/001015147_operator_refresh_tokens.go
  backend/database/migrations/migrations_test.go
  backend/models/platform/operator_refresh_token_test.go
  backend/services/platform/operator_auth_service_test.go
Due: go-imports

test: isolate student parent notes fetch
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
Due: frontend-lint

Fix parent master data contact capability
  backend/api/parent/child_write_handlers.go
  backend/services/parent/parent_master_data_service_test.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_write_service.go
  frontend/src/app/api/parent/me/children/[studentId]/features/route.ts
  frontend/src/components/parent/child-care.tsx
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/parent/child-master-data.tsx
  frontend/src/components/parent/parent-portal.test.tsx
  frontend/src/lib/parent-api.test.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

Fix master data migration version collision
  backend/database/migrations/001015149_create_student_data_change_requests.go
  backend/database/migrations/001015150_backfill_guardian_master_data_permissions.go
Due: go-imports

feat: add auto-resuming custom breaks
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/time-tracking-api.test.ts
  frontend/src/lib/time-tracking-api.ts
Due: frontend-lint, go-imports

refactor(active-supervisions): rebuild spontaneous activity modal on UI kit
  frontend/src/components/active-supervisions/spontaneous-activity-start.test.tsx
  frontend/src/components/active-supervisions/spontaneous-activity-start.tsx
  frontend/src/components/ui/custom-select.test.tsx
  frontend/src/components/ui/form-modal.test.tsx
  frontend/src/components/ui/form-modal.tsx
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

fix: select active activity on combobox enter
  frontend/src/components/active-supervisions/spontaneous-activity-start.test.tsx
  frontend/src/components/active-supervisions/spontaneous-activity-start.tsx
Due: frontend-lint

fix: select activity suggestion on pointer-down (Safari/iOS)
  frontend/src/components/active-supervisions/spontaneous-activity-start.test.tsx
  frontend/src/components/active-supervisions/spontaneous-activity-start.tsx
Due: frontend-lint

fix(messaging): map missing students to 403 and align unread hook test
  backend/services/messaging/service.go
  frontend/src/lib/hooks/use-suggestions-unread.test.ts
Due: frontend-lint, go-imports

fix(messaging): keep unread cursor and badge tenant-correct
  backend/database/migrations/001015148_parent_messaging.go
  frontend/src/lib/hooks/use-unread-count.ts
Due: frontend-lint, go-imports

fix(messaging): tie-break read cursors, isolate tenant/child unread state
  backend/database/migrations/001015148_parent_messaging.go
  backend/database/repositories/users/parent_message_read.go
  backend/database/repositories/users/parent_messaging_repository_test.go
  backend/models/users/parent_message_read.go
  backend/services/messaging/service.go
  backend/services/parent/parent_messaging_service.go
  frontend/src/components/parent/child-detail.tsx
  frontend/src/lib/hooks/use-unread-count.ts
Due: frontend-lint, go-imports

fix(messaging): harden chat error states, darken disabled badges, dedupe receipt/auth logic
  backend/models/users/parent_message.go
  backend/services/messaging/service.go
  backend/services/parent/parent_messaging_service.go
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/components/parent/ogs-conversation.tsx
Due: frontend-lint, go-imports

fix(messaging): dedupe append/broadcast, align disabled-school unread, tidy review findings
  backend/database/repositories/users/parent_message_read.go
  backend/models/users/parent_message_read.go
  backend/realtime/hub.go
  backend/services/messaging/service.go
  backend/services/parent/parent_messaging_service.go
  backend/services/parentmessaging/parentmessaging.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/parents/messages/page.tsx
  frontend/src/components/parent/child-detail.tsx
  frontend/src/lib/date-helpers.ts
  frontend/src/lib/hooks/use-suggestions-unread.test.ts
Due: frontend-lint, go-imports

fix(messaging): align disabled-school unread, dedupe receipts, drop dead repo methods
  backend/database/repositories/users/parent_message_read.go
  backend/database/repositories/users/parent_messaging_repository_test.go
  backend/models/users/parent_message_read.go
  backend/services/messaging/service.go
  backend/services/parent/parent_messaging_service.go
  backend/services/parentmessaging/parentmessaging.go
  frontend/src/app/parents/messages/page.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/lib/hooks/use-messages-activity.ts
Due: frontend-lint, go-imports

fix(messaging): address review findings on parent<->OGS messaging
  backend/database/migrations/001015148_parent_messaging.go
  backend/database/repositories/users/parent_message_read.go
  backend/models/users/parent_message.go
  backend/models/users/parent_message_read.go
  backend/services/messaging/service.go
  backend/services/parentmessaging/parentmessaging.go
  frontend/src/components/messaging/message-composer.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/lib/hooks/use-unread-count.ts
Due: frontend-lint, go-imports

fix(messaging): guard background read-cursor, fail-open badge, reuse kit
  backend/services/messaging/service.go
  backend/services/parent/parent_write_service_test.go
  frontend/src/app/parents/messages/page.tsx
  frontend/src/lib/hooks/use-messages-activity.ts
Due: frontend-lint, go-imports

feat: add historical active supervision moves
  backend/api/active/api.go
  backend/api/active/exports.go
  backend/api/active/move_handlers.go
  backend/api/active/move_handlers_test.go
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/api/sse/resolve_supervisions_internal_test.go
  backend/api/students/api.go
  backend/api/students/students_room_filter_test.go
  backend/api/timetable/operations.go
  backend/api/timetable/operations_unit_test.go
  backend/services/active/interface.go
  backend/services/active/transit_service.go
  backend/services/active/transit_service_test.go
  backend/services/scheduler/scheduler_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active/visits/move-to-group/route.test.ts
  frontend/src/app/api/active/visits/move-to-group/route.ts
  frontend/src/app/api/active/visits/move-to-transit/route.test.ts
  frontend/src/app/api/active/visits/move-to-transit/route.ts
  frontend/src/components/active-supervisions/spontaneous-activity-start.tsx
  frontend/src/components/active-supervisions/student-move-panel.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/rooms/students-in-room-section.tsx
  frontend/src/lib/active-service.ts
  frontend/src/lib/api.ts
  frontend/src/lib/student-api.ts
Due: frontend-lint, go-imports

fix(messaging): close debounce read-race, stale-seed badge, dedupe read-cursor
  backend/realtime/hub.go
  backend/services/messaging/service.go
  backend/services/parent/parent_messaging_service.go
  backend/services/parent/parent_write_service_test.go
  backend/services/parentmessaging/parentmessaging.go
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/lib/hooks/use-messages-activity.ts
Due: frontend-lint, go-imports

fix(messaging): chat viewport tracks iOS keyboard, tenant-scope suggestions badge
  frontend/src/lib/hooks/use-chat-viewport-lock.ts
  frontend/src/lib/hooks/use-suggestions-unread.test.ts
  frontend/src/lib/hooks/use-suggestions-unread.ts
Due: frontend-lint

test: fix active supervision move CI failures
  backend/api/timetable/operations_unit_test.go
  backend/services/active/transit_service_test.go
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/lib/active-service.test.ts
  frontend/src/lib/student-api.test.ts
Due: frontend-lint, go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
