Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

chore(lefthook): add govulncheck to pre-push hooks
  lefthook.yml
Due: none

chore(docker): add air hot reload for backend development
  backend/.air.toml
  backend/Dockerfile.dev
  docker-compose.example.yml
Due: none

added better auth skill
  .claude/skills/better-auth-best-practices/SKILL.md
  .claude/skills/create-auth-skill/SKILL.md
Due: none

fix: remove unused test helpers to fix dead code detection
  backend/api/admin/grade_transitions_test.go
Due: go-imports

fix: use handler accessors in grade transition tests to bypass JWT middleware
  backend/api/admin/grade_transitions.go
  backend/api/admin/grade_transitions_test.go
Due: go-imports

fix: handle nil data in history test when no records exist
  backend/api/admin/grade_transitions_test.go
Due: go-imports

fix: make mappings test more defensive and add better error messages
  backend/api/admin/grade_transitions_test.go
Due: go-imports

fix(test): update hermetic verification to handle affected counts and Windows paths
  backend/test/hermetic_verification_test.go
Due: go-imports

fix(test): use correct action values in mappings test
  backend/api/admin/grade_transitions_test.go
Due: go-imports

refactor: sonar cloud issues (1/2)
  backend/api/admin/grade_transitions.go
  backend/database/repositories/education/grade_transition.go
  backend/services/education/grade_transition_service.go
Due: go-imports

refactor: reduce cognitive complexity and deduplicate SQL literals
  backend/services/education/grade_transition_service.go
  backend/test/fixtures.go
Due: go-imports

fix: use active_only filter for supervisors and combined groups
  backend/api/active/combined_handlers.go
  backend/api/active/supervisors_handlers.go
Due: go-imports

fix(test): use past end time in CombinedGroup test
  backend/api/active/handlers_unit_test.go
Due: go-imports

fix(test): update hermetic verification for Windows paths and new patterns
  backend/test/hermetic_verification_test.go
Due: go-imports

test(api): improve test coverage across API packages
  backend/api/active/active_internal_test.go
  backend/api/activities/activities_internal_test.go
  backend/api/auth/auth_internal_test.go
  backend/api/common/errors_test.go
  backend/api/common/internal_test.go
  backend/api/common/request_test.go
  backend/api/common/response_test.go
  backend/api/common/student_data_snapshot_test.go
  backend/api/common/student_locations_test.go
  backend/api/iot/api_test.go
  backend/api/iot/attendance/attendance_internal_test.go
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/sessions/sessions_internal_test.go
  backend/api/usercontext/usercontext_internal_test.go
Due: go-imports

test(api/activities): expand internal tests for helper functions
  backend/api/activities/activities_internal_test.go
Due: go-imports

added agent-browser skill for token-efficient browser automation
  .claude/skills/agent-browser/SKILL.md
Due: none

test(api): add coverage tests for active, auth, and groups packages
  backend/api/active/active_test.go
  backend/api/auth/auth_internal_test.go
  backend/api/auth/auth_test.go
  backend/api/groups/groups_internal_test.go
Due: go-imports

fix(ci): use corepack instead of pnpm/action-setup
  .github/workflows/lint.yml
  .github/workflows/test.yml
  frontend/package.json
Due: none

fix(ci): remove extra -- from pnpm lint command
  .github/workflows/lint.yml
Due: none

chore: sync docker-compose.example.yml with docker-compose.yml
  docker-compose.example.yml
Due: none

chore: sync docker-compose.example.yml with docker-compose.yml (#665)
  docker-compose.example.yml
Due: none

feat: add BetterAuth service for multi-tenancy authentication (WP1)
  .env.example
  betterauth/.env.example
  betterauth/.gitignore
  betterauth/Dockerfile
  betterauth/package.json
  betterauth/pnpm-lock.yaml
  betterauth/src/auth.ts
  betterauth/src/index.ts
  betterauth/tsconfig.json
  docker-compose.example.yml
Due: none

feat: add roles and permissions for multi-tenancy access control (WP2)
  betterauth/src/auth.ts
  betterauth/src/permissions.ts
Due: none

feat: add ogs_id columns to domain tables for multi-tenancy (WP3)
  backend/database/migrations/001007006_add_ogs_id_columns.go
  backend/database/migrations/001007007_create_first_ogs.go
  backend/database/migrations/001007008_backfill_ogs_id.go
  backend/database/migrations/001007009_make_ogs_id_required.go
Due: go-imports

feat: add tenant schema with traeger and buero tables (WP4)
  backend/database/migrations/001007010_create_tenant_tables.go
  backend/database/migrations/001007011_seed_first_traeger.go
  backend/database/repositories/factory.go
  backend/database/repositories/tenant/buero.go
  backend/database/repositories/tenant/traeger.go
  backend/models/tenant/buero.go
  backend/models/tenant/repository.go
  backend/models/tenant/traeger.go
Due: go-imports

feat: add tenant middleware for BetterAuth session validation (WP5)
  backend/api/base.go
  backend/auth/betterauth/client.go
  backend/auth/betterauth/client_test.go
  backend/auth/betterauth/types.go
  backend/auth/tenant/context.go
  backend/auth/tenant/errors.go
  backend/auth/tenant/middleware.go
  backend/auth/tenant/permission.go
  backend/auth/tenant/permission_test.go
  backend/auth/tenant/roles.go
Due: go-imports

feat: add config, schedule, feedback, substitution permissions (WP6 prep)
  backend/auth/tenant/roles.go
  betterauth/src/permissions.ts
Due: go-imports

fix: address pre-push hook issues for WP5/WP6 code
  backend/auth/betterauth/client.go
  backend/auth/tenant/tenant_test.go
Due: go-imports

feat: migrate all API handlers to tenant-aware BetterAuth authentication (WP6)
  backend/api/active/active_test.go
  backend/api/active/api.go
  backend/api/active/checkin_test.go
  backend/api/activities/api.go
  backend/api/base.go
  backend/api/config/api.go
  backend/api/database/api.go
  backend/api/feedback/api.go
  backend/api/groups/api.go
  backend/api/guardians/api.go
  backend/api/import/api.go
  backend/api/import/import_test.go
  backend/api/rooms/api.go
  backend/api/schedules/api.go
  backend/api/sse/api.go
  backend/api/sse/resource.go
  backend/api/sse/sse_helpers.go
  backend/api/sse/sse_internal_test.go
  backend/api/sse/sse_test.go
  backend/api/staff/api.go
  backend/api/students/api.go
  backend/api/students/authorization.go
  backend/api/students/list_helpers.go
  backend/api/students/visit_handlers.go
  backend/api/substitutions/api.go
  backend/api/usercontext/api.go
  backend/api/users/api.go
Due: go-imports

fix(frontend): add global test mocks for env and SWR
  frontend/src/test/mocks/swr.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: frontend-lint

test(frontend): expand API service test coverage
  frontend/src/lib/api.test.ts
Due: frontend-lint

fix: update API tests to use tenant context for BetterAuth migration
  backend/api/active/checkin_test.go
  backend/api/database/api.go
  backend/api/database/database_test.go
  backend/api/groups/groups_test.go
  backend/api/import/import_test.go
  backend/api/sse/sse_test.go
  backend/api/staff/staff_test.go
  backend/api/students/test_helpers_test.go
  backend/api/testutil/helpers.go
Due: go-imports

feat: implement PostgreSQL Row-Level Security policies (WP7)
  backend/database/migrations/001007012_create_rls_function.go
  backend/database/migrations/001007013_enable_rls_policies.go
  backend/database/migrations/001007014_create_bypass_role.go
  backend/database/migrations/001007015_create_ogs_id_trigger.go
  backend/database/repositories/active/group.go
  backend/models/active/group.go
  backend/models/active/visit.go
  backend/models/activities/category.go
  backend/models/activities/group.go
  backend/models/base/base.go
  backend/models/education/group.go
  backend/models/facilities/room.go
  backend/models/iot/device.go
  backend/models/users/person.go
  backend/models/users/staff.go
  backend/models/users/student.go
  backend/models/users/teacher.go
  backend/seed/seed.go
  backend/services/facilities/facility_service.go
Due: go-imports

test(frontend): add comprehensive tests for auth-api and guardian-api
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/guardian-api.test.ts
Due: frontend-lint

test(frontend): add comprehensive tests for lib helper modules
  frontend/src/lib/api-helpers.test.ts
  frontend/src/lib/guardian-helpers.test.ts
  frontend/src/lib/rooms-helpers.test.ts
  frontend/src/lib/usercontext-api.test.ts
  frontend/src/lib/usercontext-helpers.test.ts
Due: frontend-lint

fix: use absolute path resolution for skill-reminder hook
  .claude/settings.json
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
