Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

style(aufsicht): Abschnitte im offenen Raum als zusammenhängende Einheit rahmen
  frontend/src/components/active-supervisions/open-room-sections.tsx
Due: frontend-lint

docs: Screenshot Schulhof-Raumansicht mit gerahmten Abschnitten
  screenshots-pr3294/01-schulhof-raumansicht.png
Due: none

refactor: drop the unreachable platform organization validation
  backend/models/platform/organization.go
  backend/models/platform/organization_test.go
  backend/modules/organizationtenancy/organizationtenancy.go
  frontend/src/lib/reserved-slugs.ts
  frontend/src/lib/tenant-slug.ts
Due: frontend-lint, go-imports

test(timetable): compile SessionRosters fixtures with ptr
  backend/modules/timetable/session_rosters_test.go
Due: go-imports

feat(rooms): Schulhof-Freigabe bei Blockbetrieb per Migration zurücknehmen
  backend/database/migrations/001015390_schulhof_release_block_planning.go
  backend/database/migrations/001015390_schulhof_release_block_planning_test.go
  backend/modules/devicescan/internal/application/systemspace.go
  backend/seed/api/data.go
  backend/services/facilities/schulhof_service.go
  docs/adr/0019-open-room-release-is-a-school-decision.md
Due: go-imports

docs: remove GitHub labels agent guidance
  .claude/README.md
  CLAUDE.md
  docs/agents/github-labels.md
Due: none

chore(seed): parallelize time-tracking history and reuse logins
  backend/seed/api/client.go
  backend/seed/api/login_cache.go
  backend/seed/api/login_cache_test.go
  backend/seed/api/seed_time_tracking.go
  backend/seed/api/seed_time_tracking_test.go
  backend/seed/api/seeder.go
  backend/seed/api/seeder_test.go
Due: go-imports

fix(provisioning): run school account creation in one tenant transaction
  backend/modules/organizationtenancy/compose/new.go
  backend/modules/organizationtenancy/internal/application/provisioning.go
  backend/modules/organizationtenancy/internal/application/provisioning_accounts.go
  backend/modules/organizationtenancy/internal/application/provisioning_fakes_internal_test.go
  backend/modules/organizationtenancy/internal/ports/ports.go
  backend/services/operator_provisioning_integration_test.go
Due: go-imports

test(provisioning): cover caregiver upgrade and tighten transaction guard
  backend/modules/organizationtenancy/internal/application/provisioning_accounts.go
  backend/modules/organizationtenancy/internal/application/provisioning_fakes_internal_test.go
  backend/services/operator_provisioning_integration_test.go
Due: go-imports

refactor(parent): drop the production services/schedule edge and tighten rule texts
  backend/architecture/README.md
  backend/architecture/policy.json
  backend/modules/careplan/inbound/parent/care_schedule_handlers.go
  backend/workflows/parentportal/legacy/parent_care_delegations.go
  backend/workflows/parentportal/legacy/parent_messaging_delegations.go
Due: go-imports

refactor(identity-access): move operator MFA records into the module
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/factory.go
  backend/database/repositories/operator_audit_log.go
  backend/database/repositories/platform/operator_adapter_test.go
  backend/database/repositories/platform/operator_mfa_credential.go
  backend/database/repositories/platform/operator_mfa_credential_coverage_test.go
  backend/database/repositories/platform/operator_mfa_email_challenge.go
  backend/database/repositories/platform/operator_mfa_smoke_test.go
  backend/database/repositories/platform/operator_mfa_trusted_device.go
  backend/database/repositories/platform/operator_passkey.go
  backend/models/platform/repository.go
  backend/modules/identityaccess/compose/new.go
  backend/modules/identityaccess/compose/operator_mfa.go
  backend/modules/identityaccess/identityaccess.go
  backend/modules/identityaccess/integration/operator_mfa_runtime_evidence_test.go
  backend/modules/identityaccess/integration/operator_mfa_test.go
  backend/modules/identityaccess/internal/adapters/postgres/operator_mfa.go
  backend/modules/identityaccess/internal/application/operator_mfa.go
  backend/modules/identityaccess/internal/domain/operator_mfa.go
  backend/modules/identityaccess/internal/ports/ports.go
  backend/modules/identityaccess/operator_mfa.go
  backend/services/factory.go
  backend/services/operator_mfa_composition.go
  backend/services/operator_test_helpers.go
  backend/services/platform/operator_audit_panic_test.go
  backend/services/platform/operator_mfa_disable_tx_test.go
  backend/services/platform/operator_mfa_service.go
  backend/services/platform/operator_mfa_service_coverage_test.go
  backend/services/platform/operator_mfa_service_test.go
  backend/services/platform/operator_mfa_synchronous_delivery_test.go
  backend/services/platform/operator_mfa_verify_race_test.go
  backend/services/platform/operator_ports.go
Due: go-imports

refactor(identity-access): report role directory wiring failures and name the caregiver policy (#3314)
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/modules/identityaccess/compose/account_lifecycle.go
  backend/modules/identityaccess/compose/operator_authentication.go
  backend/modules/identityaccess/compose/role_administration.go
  backend/modules/identityaccess/internal/application/role_administration.go
  backend/modules/identityaccess/internal/application/role_administration_internal_test.go
  backend/services/account_authentication_composition.go
  backend/services/account_lifecycle_composition.go
  backend/services/auth/role_assignment_resolve_test.go
Due: go-imports

fix(migrations): Kontingent-Verfall auf Version 1.15.391 verschieben
  backend/database/migrations/001015391_absence_allowance_carryover.go
Due: go-imports

fix(seed): accept the Schule location in the manual profile check
  backend/seed/api/manual_profile.go
  backend/seed/api/manual_profile_test.go
Due: go-imports

fix(workforce): Kontingentbuchungen vor Merge schützen
  backend/database/migrations/001015391_absence_allowance_carryover.go
  backend/database/migrations/001015391_absence_allowance_carryover_test.go
  backend/modules/workforce/inbound/timetracking/staff_admin_sessions.go
  backend/modules/workforce/legacy/timetracking/staff_absence_service.go
  backend/modules/workforce/legacy/timetracking/staff_absence_service_test.go
  backend/modules/workforce/legacy/timetracking/staff_absence_type_service_test.go
  frontend/src/components/staff/use-absence-type-options.test.tsx
Due: frontend-lint, go-imports

fix(workforce): Überschneidungen als Konflikt melden
  backend/modules/workforce/inbound/timetracking/api_test.go
  backend/modules/workforce/inbound/timetracking/errors.go
  backend/modules/workforce/inbound/timetracking/staff_admin_sessions.go
  backend/modules/workforce/timetracking.go
  backend/modules/workforce/workforce.go
  backend/services/workforce_time_tracking.go
  backend/services/workforce_time_tracking_internal_test.go
Due: go-imports

fix(workforce): Kontingentkonflikt sauber kennzeichnen
  backend/modules/workforce/inbound/timetracking/api_test.go
  backend/modules/workforce/legacy/timetracking/staff_absence_service.go
Due: go-imports

test(workforce): Architekturgrenze einhalten
  backend/services/workforce_time_tracking_internal_test.go
Due: go-imports

fix(timetable): renumber the pickup extension migration to 1.15.392
  backend/database/migrations/001015392_pickup_extension_tasks.go
Due: go-imports

fix(timetable): refresh later pickup choices
  backend/database/migrations/001015392_pickup_extension_tasks.go
  backend/modules/timetable/compose/pickup_extension_owner_test.go
  backend/modules/timetable/internal/adapters/postgres/pickup_extensions.go
  backend/modules/timetable/pickup_extensions.go
  frontend/public/help/screens/startseite.webp
  frontend/src/components/help/guide-data.ts
  frontend/src/components/home/pickup-extension-todos.tsx
  frontend/src/components/students/care-request-review-item.pickup-extension.test.tsx
  frontend/src/components/timetable/pickup-extension-access.tsx
  frontend/src/components/timetable/pickup-extension-dialog.test.tsx
  frontend/src/components/timetable/pickup-extension-dialog.tsx
  frontend/src/lib/pickup-extension-api.test.ts
  frontend/src/lib/pickup-extension-api.ts
Due: frontend-lint, go-imports

test(timetable): isolate future enrollment fixture
  backend/modules/timetable/compose/pickup_extension_owner_test.go
Due: go-imports

fix(timetable): reconcile later pickup tasks
  backend/modules/timetable/compose/pickup_extension_owner_test.go
  backend/modules/timetable/internal/adapters/postgres/pickup_extensions.go
  backend/modules/timetable/internal/application/pickup_extensions.go
  backend/modules/timetable/internal/application/service.go
  backend/services/schedule/pickup_auto_excusal.go
  backend/services/schedule/pickup_extension_trigger_test.go
  frontend/src/app/[tenant]/(protected)/anfragen/page.test.tsx
  frontend/src/app/[tenant]/(protected)/anfragen/page.tsx
Due: frontend-lint, go-imports

fix(frontend): neue Map-Daten nach dem Nachladen übernehmen
  frontend/src/lib/swr/compare.test.ts
  frontend/src/lib/swr/compare.ts
  frontend/src/lib/swr/config.ts
Due: frontend-lint

feat(workforce): vergangene Abwesenheiten auf eine andere Art umbuchen (#3258)
  backend/database/migrations/001015395_absence_rebooking_audit.go
  backend/modules/studentpresence/legacy/models/active/staff_absence_audit.go
  backend/modules/workforce/absence.go
  backend/modules/workforce/compose/absence_allowance.go
  backend/modules/workforce/compose/absence_engine.go
  backend/modules/workforce/inbound/timetracking/api_test.go
  backend/modules/workforce/inbound/timetracking/staff_admin.go
  backend/modules/workforce/inbound/timetracking/staff_admin_absence_rebook_test.go
  backend/modules/workforce/inbound/timetracking/staff_admin_sessions.go
  backend/modules/workforce/internal/adapters/postgres/absence_store.go
  backend/modules/workforce/internal/application/absence_allowance.go
  backend/modules/workforce/internal/domain/absence.go
  backend/modules/workforce/legacy/absence_repositories.go
  backend/modules/workforce/legacy/timetracking/options.go
  backend/modules/workforce/legacy/timetracking/staff_absence_rebooking.go
  backend/modules/workforce/legacy/timetracking/staff_absence_service.go
  backend/modules/workforce/legacy/timetracking/staff_absence_type_service.go
  backend/modules/workforce/legacy/timetracking/staff_absence_type_service_test.go
  backend/modules/workforce/timetracking.go
  backend/modules/workforce/timetracking_request_json_test.go
  backend/seed/api/seed_time_tracking.go
  backend/services/factory.go
  backend/services/workforce_absence_type_reader.go
  backend/services/workforce_test_helpers.go
  backend/services/workforce_time_tracking.go
Due: go-imports

feat(frontend): Abwesenheiten umbuchen und nachtragen (#3258)
  frontend/public/help/screens/abwesenheit-art-aendern.webp
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/api/staff/[id]/absences/rebook/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/absence-booking-modal.tsx
  frontend/src/components/staff/absence-rebook-modal.test.tsx
  frontend/src/components/staff/absence-rebook-modal.tsx
  frontend/src/components/staff/abwesenheiten-tab.rebook.test.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/staff-audit-log.test.tsx
  frontend/src/components/staff/staff-audit-log.tsx
  frontend/src/components/staff/staff-session-table.backfill.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-api.ts
Due: frontend-lint

fix(timetable): reconcile later pickup choices
  backend/modules/timetable/compose/pickup_extension_owner_test.go
  backend/modules/timetable/internal/adapters/postgres/pickup_extensions.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_pickup_projection_test.go
  backend/services/enrollment/offering_pickup_time_service.go
  backend/services/factory.go
Due: go-imports

fix: reserve petrol #217A78 as the Schule status room color
  backend/database/migrations/001015392_rooms_retire_at_school_color.go
  backend/database/migrations/001015392_rooms_retire_at_school_color_test.go
  backend/models/facilities/room_colors_drift_test.go
  backend/models/facilities/room_colors_test.go
  backend/modules/facilities/room_lifecycle.go
Due: go-imports

fix(timetable): reuse future weekday enrollments
  backend/modules/timetable/compose/pickup_extension_owner_test.go
  backend/modules/timetable/internal/application/pickup_extensions.go
Due: go-imports

fix(guardians): Hinweis-Mail zum Elternportal für vorhandene Konten
  backend/architecture/composition.json
  backend/modules/identityaccess/compose/account_lifecycle.go
  backend/modules/identityaccess/internal/application/account_lifecycle_fakes_internal_test.go
  backend/modules/identityaccess/internal/application/guardian_relative_access.go
  backend/modules/identityaccess/internal/application/guardian_relative_access_internal_test.go
  backend/modules/identityaccess/internal/ports/account_lifecycle.go
  backend/services/account_lifecycle_composition.go
  backend/services/auth/guardian_existing_account_email_test.go
  backend/services/auth/guardian_invitation_renderer.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/auth/guardian_related_accounts_test.go
  backend/templates/email/guardian-invitation.html
  frontend/src/components/guardians/student-guardian-manager.test.tsx
  frontend/src/components/guardians/student-guardian-manager.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

feat(frontend): Krankmeldung aus der Zeiterfassung nachtragen (#3258)
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/sick-report-modal.tsx
  frontend/src/components/staff/staff-session-table.backfill.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
Due: frontend-lint

test(api): Umbuchungs-Route in den Routentabellen (#3258)
  backend/api/staff_routes_test.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
Due: go-imports

fix(timetable): limit later pickup follow-up
  backend/database/migrations/001015392_pickup_extension_tasks.go
  backend/services/schedule/pickup_auto_excusal.go
  backend/services/schedule/pickup_auto_excusal_test.go
  frontend/src/components/students/care-request-review-item.pickup-extension.test.tsx
  frontend/src/components/students/care-request-review-item.tsx
Due: frontend-lint, go-imports

fix(messages): lange Chats im OGS-Portal scrollen wieder (#3328)
  .claude/rules/frontend-ui-kit.md
  .github/workflows/test.yml
  frontend/e2e/layout/tenant-body-grow.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/playwright.layout.config.ts
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/app/[tenant]/(protected)/team-chat/[threadID]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/team-chat/[threadID]/page.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

refactor(architecture): adopt guardian financial data under People Directory (#3221)
  backend/architecture/README.md
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/internal/architecture/cli.go
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/table_adoption_test.go
  docs/adr/0015-owners-adopt-existing-unowned-tables.md
Due: go-imports

fix(timetable): resolve migration version collision
  backend/database/migrations/001015393_pickup_extension_tasks.go
Due: go-imports
