Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: harden purge procedure quoting, GDPR logging, and revalidateTag test mock
  backend/database/migrations/001015021_create_purge_tenant_procedure.go
  backend/services/platform/operator_provisioning_service.go
  frontend/src/app/api/operator/provisioning/revalidate-tenant/route.test.ts
Due: frontend-lint, go-imports

fix: set SUGGESTION_NOTIFY_EMAIL in production environment
  environments/production.sops.env
Due: none

test: fix subcommand count and boost coverage for tenant lifecycle
  backend/api/operator/provisioning_internal_test.go
  backend/cmd/cleanup.go
  backend/cmd/cleanup_test.go
  frontend/src/app/api/operator/provisioning/schools/[id]/purge/route.test.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/restore/route.test.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/route.test.ts
  frontend/src/lib/operator/provisioning-api.test.ts
  frontend/src/lib/operator/provisioning-helpers.test.ts
Due: frontend-lint, go-imports

test: add comprehensive page tests for trash view and tenant lifecycle UI
  frontend/src/app/operator/provisioning/page.test.tsx
Due: frontend-lint

test: add repository integration tests for soft-delete lifecycle
  backend/database/repositories/platform/school_repository_test.go
Due: go-imports

fix: remove help modals from all pages (#1137)
  frontend/src/app/[tenant]/page.test.tsx
  frontend/src/app/[tenant]/page.tsx
  frontend/src/app/operator/login/page.test.tsx
  frontend/src/app/operator/login/page.tsx
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/shared/login-help-content.test.tsx
  frontend/src/components/shared/login-help-content.tsx
  frontend/src/components/ui/help_button.test.tsx
  frontend/src/components/ui/help_button.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/help-content.test.tsx
  frontend/src/lib/help-content.tsx
Due: frontend-lint

feat: add Mailpit for local email testing
  .env.example
  backend/dev.env.example
  backend/email/smtp.go
  docker-compose.example.yml
Due: go-imports

feat: add hidden field to schools for landing page visibility control
  backend/api/auth/api.go
  backend/api/operator/provisioning.go
  backend/api/operator/provisioning_internal_test.go
  backend/database/migrations/001015019_add_school_hidden.go
  backend/database/repositories/platform/school_repository.go
  backend/database/repositories/platform/school_repository_test.go
  backend/models/platform/repository.go
  backend/models/platform/school.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/platform/operator_provisioning_service.go
  backend/services/platform/operator_provisioning_service_internal_test.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/app/operator/provisioning/create-device-modal.test.tsx
  frontend/src/app/operator/provisioning/create-school-modal.tsx
  frontend/src/app/operator/provisioning/edit-school-modal.test.tsx
  frontend/src/app/operator/provisioning/edit-school-modal.tsx
  frontend/src/app/operator/provisioning/page.test.tsx
  frontend/src/app/operator/provisioning/page.tsx
  frontend/src/lib/operator/provisioning-api.test.ts
  frontend/src/lib/operator/provisioning-helpers.test.ts
  frontend/src/lib/operator/provisioning-helpers.ts
Due: frontend-lint, go-imports

refactor: extract VisibilityToggle to fix SonarCloud duplication gate
  frontend/src/app/operator/provisioning/create-school-modal.tsx
  frontend/src/app/operator/provisioning/edit-school-modal.tsx
  frontend/src/app/operator/provisioning/provisioning-shared.tsx
Due: frontend-lint

fix: remove leftover help modal code from profile dropdown
  frontend/src/components/dashboard/header/profile-dropdown.test.tsx
  frontend/src/components/dashboard/header/profile-dropdown.tsx
Due: frontend-lint

feat: add tenant soft-delete, restore, and lifecycle guards
  backend/api/auth/api.go
  backend/api/base.go
  backend/api/iot/api.go
  backend/api/operator/api.go
  backend/api/operator/provisioning.go
  backend/api/operator/provisioning_internal_test.go
  backend/api/students/api.go
  backend/auth/device/device_auth.go
  backend/auth/device/device_auth_test.go
  backend/database/migrations/001015020_add_school_deleted_at.go
  backend/database/repositories/platform/school_repository.go
  backend/database/repositories/platform/school_repository_test.go
  backend/models/platform/operator_audit_log.go
  backend/models/platform/repository.go
  backend/models/platform/school.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/platform/errors.go
  backend/services/platform/operator_provisioning_service.go
  backend/services/platform/operator_provisioning_service_internal_test.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/app/operator/provisioning/create-device-modal.test.tsx
  frontend/src/app/operator/provisioning/edit-school-modal.test.tsx
  frontend/src/app/operator/provisioning/page.test.tsx
  frontend/src/app/operator/provisioning/page.tsx
  frontend/src/lib/operator/provisioning-api.test.ts
  frontend/src/lib/operator/provisioning-api.ts
  frontend/src/lib/operator/provisioning-helpers.test.ts
  frontend/src/lib/operator/provisioning-helpers.ts
Due: frontend-lint, go-imports

docs: add settings review, migration suggestions, and trimmed implementation plan
  docs/settings-implementation-plan.md
  docs/settings-rfc-review.md
  docs/settings-suggestions.md
Due: none

fix: add missing Next.js route handlers and tenant cache invalidation for soft-delete
  backend/database/repositories/platform/school_repository.go
  frontend/src/app/[tenant]/layout.tsx
  frontend/src/app/api/operator/provisioning/revalidate-tenant/route.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/restore/route.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/route.ts
Due: frontend-lint, go-imports

test: close coverage gaps for soft-delete handlers, device auth, and route proxies
  backend/api/operator/provisioning_internal_test.go
  backend/auth/device/device_auth_test.go
  backend/database/repositories/platform/school_repository_test.go
  frontend/src/app/api/operator/provisioning/schools/[id]/restore/route.test.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/route.test.ts
Due: frontend-lint, go-imports

fix: guard all FindByID callers against soft-deleted schools
  backend/api/auth/invitation_handlers.go
  backend/services/auth/invitation_service.go
  backend/services/platform/operator_provisioning_service.go
Due: go-imports

fix: close remaining review gaps for error propagation, JWT docs, and toggle race
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/platform/operator_provisioning_service.go
  frontend/src/app/operator/provisioning/page.test.tsx
  frontend/src/app/operator/provisioning/page.tsx
Due: frontend-lint, go-imports

feat: settings plan v1
  docs/settings-v1-plan.md
Due: none

feat: add static maintenance page for Caddy fallback
  environments/maintenance/maintenance.html
Due: none

docs: add Caddyfile setup instructions for maintenance page
  environments/maintenance/README.md
Due: none

docs: add review of settings v1 plan
  docs/settings-v1-plan-review.md
Due: none

refactor: extract shared handler and consolidate state in provisioning page
  backend/services/platform/operator_provisioning_service.go
  frontend/src/app/operator/provisioning/page.tsx
Due: frontend-lint, go-imports

fix: resolve CI test failures for slug collision, revalidateTag mock, and missing deletedAt
  backend/database/repositories/platform/school_repository_test.go
  frontend/src/app/api/operator/provisioning/revalidate-tenant/route.test.ts
  frontend/src/lib/operator/provisioning-api.test.ts
Due: frontend-lint, go-imports

test: close coverage gaps for soft-delete guards across service, auth, and frontend layers
  backend/api/auth/auth_test.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/app/api/operator/provisioning/revalidate-tenant/route.test.ts
  frontend/src/lib/operator/provisioning-api.test.ts
  frontend/src/lib/operator/provisioning-helpers.test.ts
Due: frontend-lint, go-imports

fix: harden soft-delete guards and return accurate error types
  backend/api/operator/provisioning.go
  backend/api/operator/provisioning_internal_test.go
  backend/auth/device/device_auth.go
  backend/auth/device/device_auth_test.go
  backend/services/platform/operator_provisioning_service.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/app/api/operator/provisioning/schools/[id]/route.test.ts
Due: frontend-lint, go-imports

feat: add org/tenant-specific targeting for announcements (#1139)
  backend/api/operator/announcements.go
  backend/api/operator/announcements_test.go
  backend/api/platform/announcements.go
  backend/api/platform/announcements_test.go
  backend/database/migrations/001015020_announcement_org_tenant_targeting.go
  backend/database/repositories/platform/announcement_view_repository.go
  backend/models/platform/announcement.go
  backend/models/platform/repository.go
  backend/services/platform/announcement_service.go
  backend/services/platform/announcement_service_test.go
  backend/services/platform/test_mocks_test.go
  frontend/src/app/operator/announcements/page.tsx
  frontend/src/lib/operator/announcements-api.test.ts
  frontend/src/lib/operator/announcements-helpers.test.ts
  frontend/src/lib/operator/announcements-helpers.ts
Due: frontend-lint, go-imports

test: add org/tenant targeting tests for announcements
  backend/api/operator/announcements_test.go
  backend/api/platform/announcements_test.go
  backend/services/platform/announcement_service_test.go
  frontend/src/lib/operator/announcements-api.test.ts
  frontend/src/lib/operator/announcements-helpers.test.ts
Due: frontend-lint, go-imports

fix: prevent NULL insertion for announcement targeting arrays
  backend/models/platform/announcement.go
Due: go-imports

feat: include student pickup time in checkin response
  backend/api/base.go
  backend/api/iot/api.go
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/handlers.go
  backend/api/iot/checkin/resource.go
  backend/api/iot/checkin/workflow.go
Due: go-imports

fix: guard against undefined targetOrgIds/targetTenantIds in announcement card
  frontend/src/app/operator/announcements/page.tsx
Due: frontend-lint

test: add coverage for pickup time in checkin response
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/checkin/checkin_test.go
Due: go-imports

test: add comprehensive coverage for announcement org/tenant targeting
  backend/api/operator/announcements_test.go
  backend/api/platform/announcements_test.go
  backend/models/platform/announcement_test.go
  backend/services/platform/announcement_service_test.go
  frontend/src/lib/operator/announcements-helpers.test.ts
Due: frontend-lint, go-imports

fix: run pickup time lookup outside tenant transaction
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/handlers.go
Due: go-imports

fix: use tenant tx context for pickup time lookup
  backend/api/iot/checkin/handlers.go
Due: go-imports

fix: add DISTINCT to prevent duplicate students in IoT student list
  backend/database/repositories/users/student.go
Due: go-imports

test: boost announcement targeting coverage with 45 additional tests
  backend/api/operator/announcements_test.go
  backend/services/platform/announcement_service_test.go
Due: go-imports

test: cover operator handler error paths and page.tsx org/tenant targeting
  backend/api/operator/announcements_test.go
  frontend/src/app/operator/announcements/page.test.tsx
Due: frontend-lint, go-imports

fix: add parent domain matching to operator redirect callback
  frontend/src/server/auth/shared.ts
Due: frontend-lint

test: add repository integration tests and fix GetStats array scan
  backend/api/operator/announcements_test.go
  backend/database/repositories/platform/announcement_view_repository.go
  backend/database/repositories/platform/announcement_view_repository_test.go
Due: go-imports

fix: use subdomain check instead of parent domain for operator redirects
  frontend/src/server/auth/shared.ts
Due: frontend-lint

fix: use struct scan for GetStats targeting to fix bigint[] array deserialization
  backend/database/repositories/platform/announcement_view_repository.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
