Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: respect demo room capacity in simulation
  backend/simulate/fullday.go
  backend/simulate/fullday_test.go
Due: go-imports

fix(active): restore session consistency
  backend/database/repositories/active/active_only_filter.go
  backend/database/repositories/active/bulk_readers_test.go
  backend/database/repositories/active/combined_group.go
  backend/database/repositories/active/group.go
  backend/database/repositories/active/group_supervisor.go
  backend/database/repositories/active/group_supervisor_repository_test.go
  backend/models/active/repository.go
  backend/services/active/active_service.go
  backend/services/active/broadcast_test.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/session_lifecycle.go
  backend/services/active/session_lifecycle_test.go
  backend/services/active/session_service.go
Due: go-imports

fix: preserve activity uniqueness on rollback
  backend/database/migrations/001015367_spontaneous_activity_instance_uniqueness.go
  backend/database/migrations/001015367_spontaneous_activity_instance_uniqueness_test.go
Due: go-imports

chore(architecture): refresh composition inventory
  backend/architecture/composition.json
Due: none

test: parallelize migration rollback test
  backend/database/migrations/001015367_spontaneous_activity_instance_uniqueness_test.go
Due: go-imports

fix: enforce health status in test adapter
  backend/test/http_api_adapter.go
  backend/test/http_api_adapter_test.go
Due: go-imports

test: respect adapter dependency boundaries
  backend/test/http_api_adapter_test.go
Due: go-imports

fix(devbox): pin pnpm and isolate Next cache
  backend/test/go_toolchain_pins_ratchet_test.go
  devbox.json
  devbox.lock
  docker-compose.example.yml
  lefthook.yml
Due: go-imports

test(toolchain): enforce pnpm pin on manifest changes
  .github/workflows/main.yml
  backend/test/toolchain_pins_ratchet_test.go
  lefthook.yml
Due: go-imports

test(toolchain): reject unqualified pnpm versions
  .github/workflows/main.yml
Due: none

fix: preserve RFID lookup failure status
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/workflow.go
Due: go-imports

test: update composition inventory
  backend/architecture/composition.json
Due: none

feat(frontend): Seitenwechsel ohne Zwischenzustand (#2828)
  .claude/rules/frontend-ui-kit.md
  docs/perf/frontend-baseline-2026.md
  frontend/package.json
  frontend/playwright.perf-nav.config.ts
  frontend/scripts/perf/navigation.perf.ts
  frontend/scripts/perf/targets.ts
  frontend/src/app/[tenant]/(protected)/loading.test.tsx
  frontend/src/app/[tenant]/(protected)/loading.tsx
  frontend/src/app/[tenant]/(protected)/staff/dienstplan/loading.tsx
  frontend/src/components/dashboard/header/brand-link.test.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.test.tsx
  frontend/src/components/dashboard/header/profile-dropdown.test.tsx
  frontend/src/components/dashboard/sidebar-sub-item.test.tsx
  frontend/src/components/tenant/tenant-switcher.test.tsx
  frontend/src/components/ui/nav-link.test.tsx
  frontend/src/components/ui/nav-link.tsx
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
  frontend/src/components/ui/portal-shell.tsx
  frontend/src/lib/loading-boundaries.test.ts
  frontend/src/styles/globals.css
Due: frontend-lint

fix: contain RFID failures and roll back sessions
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/handlers.go
  backend/api/iot/checkin/workflow.go
  backend/architecture/composition.json
  backend/simulate/fullday.go
  backend/simulate/fullday_test.go
Due: go-imports

fix(frontend): synchronize debounced search state
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/components/ui/page-header/PageHeaderWithSearch.test.tsx
  frontend/src/components/ui/page-header/PageHeaderWithSearch.tsx
  frontend/src/components/ui/page-header/SearchBar.test.tsx
  frontend/src/components/ui/page-header/SearchBar.tsx
  frontend/src/components/ui/page-header/types.ts
  frontend/src/lib/hooks/use-latest.ts
Due: frontend-lint

fix: end sessions after simulation failures
  backend/simulate/fullday.go
  backend/simulate/fullday_test.go
  backend/simulate/player.go
Due: go-imports

chore(frontend): Bundle-Baseline auf die CI-Messung des Merge-Stands setzen
  frontend/scripts/perf/bundle-baseline.json
Due: none

fix(frontend): memoize student card callback sources
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint

fix: clean up statistics seed sessions
  backend/seed/api/seed_extras.go
  backend/seed/api/seeder_test.go
Due: go-imports

fix(frontend): keep debounced search callback current
  frontend/src/components/ui/page-header/SearchBar.test.tsx
  frontend/src/components/ui/page-header/SearchBar.tsx
Due: frontend-lint

fix(frontend): correct tenant loading controls
  frontend/src/app/[tenant]/(protected)/rooms/loading.tsx
  frontend/src/app/[tenant]/(protected)/staff/loading.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

chore(frontend): update bundle baseline from CI
  frontend/scripts/perf/bundle-baseline.json
Due: none

chore: update CONTEXT.md
  CONTEXT.md
Due: none

chore: update CONTEXT.md (#3016)
  CONTEXT.md
Due: none

fix(timetable): preserve test and admin projections
  backend/database/repositories/active/group_admin_projection_test.go
  backend/database/repositories/factory_test_helpers.go
  backend/modules/timetableprojection/projection.go
  backend/services/users/factory_test_helpers_regression_test.go
Due: go-imports

test(frontend): isolate lazy room history charts
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.test.tsx
Due: frontend-lint

fix(architecture): refresh composition inventory after merge
  backend/architecture/composition.json
Due: none

fix(frontend): scope shared search drafts explicitly
  frontend/src/components/ui/page-header/PageHeaderWithSearch.test.tsx
  frontend/src/components/ui/page-header/PageHeaderWithSearch.tsx
  frontend/src/components/ui/page-header/SearchBar.test.tsx
  frontend/src/components/ui/page-header/SearchBar.tsx
Due: frontend-lint

fix(attendance): gate corrections to completed instances
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.tsx
  frontend/src/components/students/student-historie-tab.test.tsx
  frontend/src/components/students/student-historie-tab.tsx
  frontend/src/lib/attendance-history-helpers.test.ts
  frontend/src/lib/attendance-history-helpers.ts
Due: frontend-lint, go-imports

feat: add versioned demo school profile contract
  .github/workflows/perf-nightly.yml
  .github/workflows/test.yml
  README.md
  backend/README.md
  backend/architecture/policy.json
  backend/cmd/seed.go
  backend/cmd/seed_test.go
  backend/cmd/simulate.go
  backend/cmd/simulate_test.go
  backend/demoprofile/state.go
  backend/seed/api/parent_enrollment.go
  backend/seed/api/profile_steps.go
  backend/seed/api/profile_steps_test.go
  backend/seed/api/profiles.go
  backend/seed/api/seeder.go
  backend/seed/api/seeder_test.go
  backend/seed/api/state.go
  backend/seed/api/state_test.go
  backend/seed/api/state_test_helpers_test.go
  backend/seed/api/workflow_steps.go
  backend/simulate/fullday.go
  backend/simulate/fullday_test.go
  backend/simulate/live.go
  backend/simulate/state.go
  backend/simulate/state_profile_test.go
  backend/simulate/state_test_helpers_test.go
  backend/simulate/status.go
  docs/getting-started.md
  frontend/e2e/betreuungsplan-flow.spec.ts
  frontend/e2e/dienstplan.spec.ts
  frontend/e2e/student-betreuungsplan-tab.spec.ts
  frontend/e2e/vertretung-flow.spec.ts
  frontend/scripts/perf/access.ts
  frontend/scripts/seed-state.test.ts
  frontend/scripts/seed-state.ts
Due: frontend-lint, go-imports

fix(frontend): keep student detail scaffold while loading
  frontend/src/app/[tenant]/(protected)/students/[id]/loading.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page-skeleton.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
Due: frontend-lint

fix(architecture): reuse dev-tools for demo profile contract
  backend/architecture/policy.json
Due: none

docs(help): describe mobile staff preview access
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

chore: configure isolated wt worktrees
  .envrc
  .gitignore
  .wtconfig
Due: none

refactor: move activity HTTP into timetable module
  backend/api/activities/caregiver_supervisors_internal_test.go
  backend/api/base.go
  backend/api/testdata/middleware_table.golden
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/active/visits_repository_test.go
  backend/database/repositories/activities/student_enrollment_repository_test.go
  backend/database/repositories/activities/supervisor_planned_repository_test.go
  backend/database/repositories/auth/account_tenant_repository_test.go
  backend/database/repositories/education/grade_transition_students_test.go
  backend/database/repositories/factory_test_helpers.go
  backend/database/repositories/platform/operator_summaries_repository_test.go
  backend/modules/careplan/integration/parent_child_repository_test.go
  backend/modules/timetable/compose/activities_internal_test.go
  backend/modules/timetable/compose/activity_handlers.go
  backend/modules/timetable/compose/category_handlers.go
  backend/modules/timetable/compose/enrollment_handlers.go
  backend/modules/timetable/compose/errors.go
  backend/modules/timetable/compose/helpers.go
  backend/modules/timetable/compose/http.go
  backend/modules/timetable/compose/http_types.go
  backend/modules/timetable/compose/httpintegration/activities_test.go
  backend/modules/timetable/compose/httpintegration/activity_access_control_test.go
  backend/modules/timetable/compose/httpintegration/category_api_test.go
  backend/modules/timetable/compose/httpintegration/errors_test.go
  backend/modules/timetable/compose/httpintegration/main_test.go
  backend/modules/timetable/compose/httpintegration/supervisor_query_budget_test.go
  backend/modules/timetable/compose/httpintegration/system_filter_test.go
  backend/modules/timetable/compose/schedule_handlers.go
  backend/modules/timetable/compose/supervisor_handlers.go
  backend/services/active/cross_tenant_test.go
  backend/services/education/grade_transition_service_test.go
  backend/services/education/substitution_module_test.go
  backend/services/parent/parent_messaging_read_service_test.go
  backend/services/scheduler/scheduler_status_flag_test.go
  backend/services/users/care_booking_authority_integration_test.go
  backend/services/users/care_lifecycle_integration_test.go
  backend/services/users/care_lifecycle_service_test.go
  backend/services/users/factory_test_helpers_regression_test.go
Due: go-imports

fix(frontend): keep departure placeholder consistent
  frontend/src/components/students/search-student-card.tsx
Due: frontend-lint

fix(frontend): memoize student search cards
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint

fix(frontend): preserve room filter labels
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
