Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

test: add comprehensive tests for sync_user_handler achieving 100% coverage
  backend/api/internal/sync_user_handler_test.go
Due: go-imports

test: add comprehensive tests for api/base.go achieving 100% coverage on unit-testable functions
  backend/api/base_test.go
Due: go-imports

fix: phone numbers not saved during CSV import
  backend/services/import/csv_parser.go
  backend/services/import/student_import_config.go
Due: go-imports

test: add comprehensive tests for api-helpers.server achieving 100% coverage
  frontend/src/lib/api-helpers.server.test.ts
Due: frontend-lint

test: add comprehensive tests for betterauth client achieving 96% coverage
  backend/auth/betterauth/client_test.go
Due: go-imports

test: add comprehensive tests for auth-client achieving 100% coverage
  frontend/src/lib/auth-client.test.ts
Due: frontend-lint

fix: guardian repositories now use transaction from context
  backend/database/repositories/users/guardian_phone.go
  backend/database/repositories/users/guardian_profile.go
Due: go-imports

test: add comprehensive tests for betterauth/email.ts achieving 98.59% coverage
  betterauth/package.json
  betterauth/pnpm-lock.yaml
  betterauth/src/email.test.ts
  betterauth/src/test/setup.ts
  betterauth/vitest.config.ts
Due: none

test: add comprehensive tests for betterauth/index.ts achieving 97.8% coverage
  betterauth/src/index.test.ts
Due: none

test: add comprehensive tests for betterauth/permissions.ts achieving 100% coverage
  betterauth/.gitignore
  betterauth/src/permissions.test.ts
  betterauth/vitest.config.ts
Due: none

chore: remove unused test helpers and fix type inference warnings
  backend/api/auth/api_test.go
  backend/api/internal/email_handler_test.go
  backend/database/repositories/tenant/buero_repository_test.go
Due: go-imports

fix: exclude mock-based auth API tests from hermetic ID check
  backend/test/hermetic_verification_test.go
Due: go-imports

fix: add phone number parsing to XLSX import
  backend/services/import/xlsx_parser.go
Due: go-imports

fix: remove check_contact_method DB constraint
  backend/api/guardians/guardians_test.go
  backend/database/migrations/001007007_remove_guardian_contact_constraint.go
Due: go-imports

test: achieve 100% coverage for frontend middleware
  frontend/src/middleware.test.ts
Due: frontend-lint

test: add comprehensive edge case tests for betterauth/src/index.ts
  betterauth/src/index.test.ts
Due: none

test: improve resource_middleware.go coverage to 90.9%
  backend/auth/authorize/resource_middleware_test.go
Due: go-imports

fix(frontend): update guardian-list tests for flexible phone numbers
  frontend/src/components/guardians/guardian-list.test.tsx
Due: frontend-lint

test: add comprehensive tests for person_service.go to reach 81.5% coverage
  backend/api/users/users_test.go
  backend/services/users/person_service_test.go
Due: go-imports

test: add comprehensive tests for api/staff/api.go achieving 81.3% coverage
  backend/api/base_test.go
Due: go-imports

test: add comprehensive tests for password_reset.go achieving 93%+ coverage
  backend/database/repositories/users/staff.go
  backend/database/repositories/users/staff_repository_test.go
  backend/models/users/repository.go
Due: go-imports

test: add comprehensive tests for student.go achieving 90% coverage
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_repository_test.go
Due: go-imports

test: add comprehensive tests for password_reset.go achieving 93%+ coverage
  backend/services/auth/password_reset_integration_test.go
  backend/services/auth/test_helpers_test.go
Due: go-imports

test: add comprehensive tests for api/database/api.go achieving 100% coverage
  backend/api/database/database_test.go
Due: go-imports

test: add comprehensive tests for api/iot/api.go achieving 100% coverage
  backend/api/iot/api_test.go
Due: go-imports

test: add comprehensive tests for api/rooms/api.go achieving 90.7% coverage
  backend/api/rooms/rooms_test.go
Due: go-imports

test: add comprehensive tests for api/feedback/api.go achieving 84% coverage
  backend/api/feedback/feedback_test.go
Due: go-imports

test: add comprehensive tests for api/substitutions/api.go achieving 82%+ coverage
  backend/api/substitutions/substitutions_test.go
Due: go-imports

test: add comprehensive tests for api/config/api.go achieving 96.8% coverage
  backend/api/config/api_internal_test.go
Due: go-imports

test: add comprehensive tests for api/iot/checkin/workflow.go achieving 84%+ coverage
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/checkin/checkin_test.go
  backend/database/repositories/users/staff_repository_test.go
Due: go-imports

test: add comprehensive tests for signup-form achieving 100% coverage
  frontend/src/components/auth/signup-form.test.tsx
Due: frontend-lint

test(services/auth): improve invitation_service coverage to 80%+
  backend/services/auth/invitation_service_test.go
Due: go-imports

test: verify coverage for lib/route-wrapper.ts
  TASK.md
Due: none

test: add comprehensive tests for lib/supervision-context.tsx
  TASK.md
  frontend/src/lib/supervision-context.test.tsx
Due: frontend-lint

test: add comprehensive tests for lib/admin-auth.ts
  frontend/src/lib/admin-auth.test.ts
Due: frontend-lint

test: add comprehensive tests for lib/tenant-context.ts
  TASK.md
  frontend/src/lib/tenant-context.test.ts
Due: frontend-lint

test: add comprehensive tests for lib/profile-context.tsx
  TASK.md
  frontend/src/lib/profile-context.test.tsx
Due: frontend-lint

test: add comprehensive tests for lib/redirect-utils.ts
  frontend/src/lib/redirect-utils.test.ts
Due: frontend-lint

test: add comprehensive tests for lib/api-client.ts
  frontend/src/lib/api-client.test.ts
Due: frontend-lint

test: add comprehensive tests for lib/swr/
  TASK.md
  frontend/src/lib/swr/config.test.ts
  frontend/src/lib/swr/index.test.ts
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
