Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix appointment reminder delivery options
  backend/api/calendar/api.go
  backend/services/calendar/reminders.go
  backend/services/calendar/service.go
Due: go-imports

fix reminder recurrence interval bounds
  backend/database/repositories/calendar/appointment_repository.go
Due: go-imports

fix(announcements): Sonar-Reliability-Befunde beheben
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/parent/news/news-components.tsx
Due: frontend-lint

style(staff): unify Stammdaten modal control heights and edit buttons
  frontend/src/components/staff/stammdaten-section-modals.tsx
  frontend/src/components/staff/stammdaten-tab.tsx
Due: frontend-lint

fix calendar update notification preference
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
Due: go-imports

fix(parent): use Berlin time for poll deadlines
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/lib/date-helpers.test.ts
  frontend/src/lib/date-helpers.ts
Due: frontend-lint

fix(parent): deliver polls to all guardians
  backend/database/repositories/users/parent_announcement_poll.go
  backend/services/announcement/service.go
  backend/services/announcement/service_publish_internal_test.go
Due: go-imports

fix appointment reminder push retries
  backend/services/calendar/notifications.go
  backend/services/calendar/reminders.go
  backend/services/calendar/reminders_integration_test.go
  backend/services/calendar/service.go
  backend/services/factory.go
  backend/services/notifications/service.go
  backend/services/notifications/webpush_channel.go
Due: go-imports

fix(staff): align Stammdaten permissions
  backend/api/staff/api.go
  backend/api/staff/staff_test.go
  backend/api/staff/stammdaten_api_test.go
  backend/services/users/staff_stammdaten_service.go
  backend/services/users/staff_stammdaten_service_test.go
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/components/staff/stammdaten-sections.test.tsx
  frontend/src/components/staff/stammdaten-tab.tsx
Due: frontend-lint, go-imports

chore(ci): skip CI on draft PRs and take Sonar off the gate critical path
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

fix durable reminder push claims
  backend/services/calendar/reminders.go
Due: go-imports

fix(staff): restrict master data workflows
  backend/api/staff/api.go
  backend/database/migrations/001015252_staff_master_data_contract_dates.go
  backend/models/users/staff_master_data.go
  backend/services/users/staff_stammdaten_service.go
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
Due: frontend-lint, go-imports

fix(parent): read poll deadlines as Berlin days
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/lib/date-helpers.test.ts
  frontend/src/lib/date-helpers.ts
Due: frontend-lint

fix reminder delivery concurrency
  backend/database/repositories/calendar/appointment_repository.go
  backend/services/notifications/webpush_channel.go
  backend/services/scheduler/scheduler.go
Due: go-imports

fix(staff): isolate financial profile reads
  backend/api/staff/api.go
  backend/api/staff/staff_handlers.go
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/lib/staff-api.ts
Due: frontend-lint, go-imports

fix reminder candidate lock mode
  backend/database/repositories/calendar/appointment_repository.go
Due: go-imports

fix(iot): remove student greeting and school class from check-in Info logs
  backend/CLAUDE.md
  backend/api/iot/checkin/gdpr_logging_internal_test.go
  backend/api/iot/checkin/gdpr_logging_test.go
  backend/api/iot/checkin/handlers.go
  backend/test/gdpr_log_pii_ratchet_test.go
  docs/gdpr-checkin-logging.md
Due: go-imports

fix(staff): proxy financial profiles
  backend/api/staff/staff_test.go
  frontend/src/app/api/staff/financial-profile/[id]/route.ts
Due: frontend-lint, go-imports

fix appointment reminder delivery gaps
  backend/services/calendar/reminders.go
  backend/services/calendar/reminders_integration_test.go
  backend/services/notifications/webpush_channel.go
  backend/services/scheduler/appointment_reminders.go
  backend/services/scheduler/appointment_reminders_test.go
  backend/services/scheduler/scheduler.go
Due: go-imports

fix(staff): mark financial profiles as reduced
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/lib/staff-api.ts
Due: frontend-lint

test reminder opt-out behavior
  backend/services/calendar/reminders_integration_test.go
Due: go-imports

refactor(iot): trim the #2062 log guards
  backend/CLAUDE.md
  backend/api/iot/checkin/gdpr_logging_internal_test.go
  backend/api/iot/checkin/gdpr_logging_test.go
  backend/api/iot/checkin/handlers.go
  backend/test/gdpr_log_pii_ratchet_test.go
  docs/gdpr-checkin-logging.md
Due: go-imports

test(gdpr): close slog PII ratchet gaps
  backend/test/gdpr_log_pii_ratchet_test.go
Due: go-imports

fix(parent): Antwortfrist in Berliner Zeit anzeigen
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/parent/news/news-components.tsx
  frontend/src/lib/date-helpers.test.ts
  frontend/src/lib/date-helpers.ts
Due: frontend-lint

fix(calendar): commit reminders before push delivery
  backend/services/calendar/reminders.go
  backend/services/notifications/webpush_channel.go
  backend/services/notifications/webpush_channel_internal_test.go
  backend/tenant/aftercommit.go
  backend/tenant/aftercommit_internal_test.go
Due: go-imports

test(gdpr): clarify log ratchet scope
  backend/test/gdpr_log_pii_ratchet_test.go
Due: go-imports

fix(staff): preserve financial tenant integrity
  backend/api/staff/stammdaten_api_test.go
  backend/api/staff/stammdaten_handlers.go
  backend/database/migrations/001015251_staff_stammdaten.go
  backend/models/audit/staff_master_data_change.go
  backend/services/users/interface.go
  backend/services/users/staff_stammdaten_service.go
  backend/services/users/userstest/mocks.go
  frontend/src/components/staff/stammdaten-sections.test.tsx
  frontend/src/components/staff/stammdaten-tab.tsx
  frontend/src/components/ui/section-card.tsx
Due: frontend-lint, go-imports

fix(calendar): preserve queued appointment reminders
  backend/database/repositories/platform/email_outbox_repository.go
  backend/database/repositories/platform/email_outbox_repository_test.go
  backend/models/platform/email_outbox.go
  backend/services/calendar/notifications.go
  backend/services/calendar/reminders.go
  backend/services/calendar/reminders_integration_test.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  backend/services/platform/outbox_service.go
Due: go-imports

fix(calendar): isolate reminder push delivery
  backend/database/repositories/platform/email_outbox_repository.go
  backend/database/repositories/platform/email_outbox_repository_test.go
  backend/models/platform/email_outbox.go
  backend/services/calendar/notifications.go
  backend/services/calendar/reminders.go
  backend/services/calendar/reminders_integration_test.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  backend/services/platform/outbox_service.go
Due: go-imports

fix(calendar): batch reminder push dispatch
  backend/services/calendar/reminders.go
Due: go-imports

fix(staff): keep Stammdaten sections off the users:read tier
  backend/api/staff/api.go
  backend/api/staff/stammdaten_api_test.go
  backend/services/users/staff_stammdaten_service_test.go
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

feat(sse): substitution_changed für Gruppen-Übergaben und Vertretungen
  backend/api/base.go
  backend/api/groups/api.go
  backend/api/groups/group_transfer_sse_test.go
  backend/api/substitutions/api.go
  backend/api/substitutions/substitution_sse_test.go
  backend/realtime/events.go
  backend/realtime/substitution.go
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-sse.ts
  frontend/src/lib/sse-types.ts
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint, go-imports

fix(calendar): close appointment reminder races
  backend/database/repositories/calendar/appointment_repository.go
  backend/services/calendar/service.go
  backend/services/notifications/webpush_channel.go
  backend/services/notifications/webpush_channel_sync_concurrency_test.go
  backend/services/scheduler/appointment_reminders.go
  backend/services/scheduler/appointment_reminders_lead_change_test.go
Due: go-imports

chore(api): add Stammdaten routes to the route-table golden
  backend/api/testdata/route_table.golden
Due: none

fix(staff): keep Stammdaten updated_at current
  backend/database/migrations/001015251_staff_stammdaten.go
Due: go-imports

test(staff): cover the Stammdaten client, models and shared mock
  backend/models/audit/staff_master_data_change_test.go
  backend/models/users/staff_master_data_test.go
  backend/services/users/userstest/mocks_test.go
  frontend/src/lib/staff-api.test.ts
Due: frontend-lint, go-imports

fix(calendar): release cancelled reminder claims
  backend/services/calendar/notifications.go
  backend/services/calendar/reminders.go
  backend/services/scheduler/appointment_reminders.go
  backend/services/scheduler/appointment_reminders_setting_error_test.go
Due: go-imports

refactor(sse): group_access_changed statt substitution_changed, Emit im Service
  backend/api/base.go
  backend/api/groups/api.go
  backend/api/groups/group_access_sse_test.go
  backend/api/groups/group_transfer_sse_test.go
  backend/api/substitutions/api.go
  backend/api/substitutions/substitution_sse_test.go
  backend/realtime/events.go
  backend/realtime/group_access.go
  backend/realtime/substitution.go
  backend/services/education/education_service.go
  backend/services/factory.go
  backend/test/broadcaster.go
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-sse.ts
  frontend/src/lib/sse-types.ts
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint, go-imports

refactor(parent): Elternportal auf das UI-Kit umstellen
  frontend/src/app/parents/calendar/page.tsx
  frontend/src/app/parents/feedback/page.tsx
  frontend/src/app/parents/messages/page.tsx
  frontend/src/app/parents/news/page.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/parent/child-care-offerings.tsx
  frontend/src/components/parent/child-care-schedule.tsx
  frontend/src/components/parent/child-detail-section.tsx
  frontend/src/components/parent/child-detail.tsx
  frontend/src/components/parent/child-master-data.tsx
  frontend/src/components/parent/child-row.tsx
  frontend/src/components/parent/guardians-panel.stories.tsx
  frontend/src/components/parent/guardians-panel.tsx
  frontend/src/components/parent/parent-children-page.tsx
  frontend/src/components/parent/parent-dashboard.tsx
  frontend/src/components/parent/parent-meal-plan-page.tsx
  frontend/src/components/parent/parent-page.tsx
  frontend/src/components/parent/related-accounts-panel.stories.tsx
  frontend/src/components/parent/related-accounts-panel.tsx
  frontend/src/components/ui/section-card.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
