Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(help): keep guide PDF screenshots uncropped
  frontend/src/components/help/guide-components.tsx
Due: frontend-lint

fix NFC settings visibility and dashboard links
  backend/services/config/schema_builder.go
  backend/services/config/settings_service_test.go
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
Due: frontend-lint, go-imports

fix: harden agent hook reminders
  .claude/hooks/skill-reminder.sh
  .claude/hooks/subagent-reminder.sh
  .claude/settings.json
  .codex/hooks.json
  .codex/hooks/skill-reminder.sh
  .codex/hooks/subagent-reminder.sh
Due: none

test: cover NFC mobile activity visibility
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
Due: frontend-lint

fix(help): tune guide PDF page breaks
  frontend/src/components/help/guide-components.test.tsx
  frontend/src/components/help/guide-components.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix: hide activity entry points in binary mode
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
Due: frontend-lint

fix(help): polish NFC guide PDF layout
  .codex/hooks/skill-reminder.sh
  .codex/hooks/subagent-reminder.sh
  frontend/src/components/help/guide-components.test.tsx
  frontend/src/components/help/guide-components.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(help): split NFC armband assignment PDF card
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix: remove hook changes from PDF branch
  .codex/hooks/skill-reminder.sh
  .codex/hooks/subagent-reminder.sh
Due: none

fix(enrollment): address 2nd PR review (conditional-required consistency)
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/form_visibility.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/lib/enrollment-field-visibility.test.ts
  frontend/src/lib/enrollment-field-visibility.ts
Due: frontend-lint, go-imports

fix spontaneous activity startup
  backend/api/timetable/operations.go
  backend/api/timetable/operations_unit_test.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
  frontend/src/components/active-supervisions/spontaneous-activity-start.test.tsx
  frontend/src/components/active-supervisions/spontaneous-activity-start.tsx
Due: frontend-lint, go-imports

fix(enrollment): address 3rd PR review (visibility + structured-required + group homogeneity)
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/care_offering_service_test.go
  backend/services/enrollment/form_visibility.go
  backend/services/enrollment/form_visibility_test.go
  backend/services/enrollment/request_service_test.go
  frontend/src/lib/enrollment-field-visibility.test.ts
  frontend/src/lib/enrollment-field-visibility.ts
Due: frontend-lint, go-imports

fix: update operator bootstrap email
  backend/database/migrations/001015100_operator_email_kontakt_moto.go
  environments/production.sops.env
  environments/staging.sops.env
Due: go-imports

Improve guide PDF pagination
  frontend/src/components/help/guide-components.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

Update guide PDF pagination tests
  frontend/src/components/help/guide-components.test.tsx
Due: frontend-lint

feat: kompakter Export aller Anmeldungen pro Phase (PDF/XLSX)
  backend/api/base.go
  backend/api/enrollment/admin_decision_handlers_test.go
  backend/api/enrollment/api.go
  backend/api/enrollment/export_format.go
  backend/api/enrollment/export_format_test.go
  backend/api/enrollment/export_handlers.go
  backend/api/enrollment/export_handlers_test.go
  backend/database/migrations/001015099_audit_data_access_log_metadata.go
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/database/repositories/enrollment/request_child_offering_repository_test.go
  backend/database/repositories/enrollment/request_child_repository.go
  backend/database/repositories/enrollment/request_child_repository_test.go
  backend/go.mod
  backend/models/audit/data_access_log.go
  backend/models/audit/data_access_log_test.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/request_child.go
  backend/services/enrollment/decision_export_audit_test.go
  backend/services/enrollment/decision_export_integration_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/rollover_service_test.go
  backend/services/factory.go
  backend/services/listexport/pdf.go
  backend/services/listexport/pdf_translit_test.go
  backend/services/listexport/records.go
  backend/services/listexport/records_test.go
  backend/services/listexport/service_test.go
  backend/services/listexport/types.go
  backend/services/listexport/xlsx.go
  backend/test/hermetic_verification_test.go
  frontend/src/app/api/enrollment/phases/[id]/export/route.test.ts
  frontend/src/app/api/enrollment/phases/[id]/export/route.ts
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/lib/enrollment-export-api.test.ts
  frontend/src/lib/enrollment-export-api.ts
Due: frontend-lint, go-imports

fix(migrations): renumber audit metadata migration to 1.15.100
  backend/database/migrations/001015100_audit_data_access_log_metadata.go
  backend/models/audit/data_access_log.go
Due: go-imports

feat: add arrival schedules to student import
  backend/api/import/api.go
  backend/models/import/student.go
  backend/services/factory.go
  backend/services/import/csv_parser_test.go
  backend/services/import/helpers.go
  backend/services/import/helpers_test.go
  backend/services/import/student_import_config.go
  backend/services/import/student_import_config_test.go
  backend/services/import/xlsx_parser_test.go
Due: go-imports

feat: add caregiver option to admin invites
  backend/api/operator/provisioning.go
  backend/api/operator/provisioning_internal_test.go
  backend/database/migrations/001015100_invitation_tokens_caregiver_enabled.go
  backend/models/auth/invitation_token.go
  backend/services/auth/invitation_interface.go
  backend/services/auth/invitation_service.go
  backend/services/auth/invitation_service_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/app/operator/provisioning/invite-admin-modal.test.tsx
  frontend/src/app/operator/provisioning/invite-admin-modal.tsx
  frontend/src/lib/operator/provisioning-api.test.ts
  frontend/src/lib/operator/provisioning-helpers.test.ts
  frontend/src/lib/operator/provisioning-helpers.ts
Due: frontend-lint, go-imports

fix: resolve system caregiver role for invitations
  backend/services/auth/invitation_service.go
  backend/services/auth/invitation_service_test.go
  backend/services/auth/test_helpers_test.go
Due: go-imports

test: raise invitation service coverage
  backend/services/auth/invitation_service_test.go
Due: go-imports

feat(help): search across the Anleitung guides
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/help/page.tsx
  frontend/src/components/help/guide-components.tsx
  frontend/src/components/help/guide-search.test.ts
  frontend/src/components/help/guide-search.ts
  frontend/src/components/help/help-search-sync.test.ts
  frontend/src/components/help/help-search.test.tsx
  frontend/src/components/help/help-search.tsx
  frontend/src/components/ui/page-header/SearchBar.tsx
  frontend/src/components/ui/page-header/types.ts
Due: frontend-lint

feat: gate spontaneous activities by care concept
  backend/api/timetable/operations.go
  backend/api/timetable/operations_unit_test.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
Due: go-imports

feat: add absence summary to active supervision
  docs/pr-screenshots/1561/ogs-groups-absence-summary-desktop.png
  docs/pr-screenshots/1561/ogs-groups-absence-summary-mobile.png
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/components/active-supervisions/planned-now-section.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix stale session error during login
  frontend/src/app/[tenant]/page.test.tsx
  frontend/src/app/[tenant]/page.tsx
Due: frontend-lint

fix operator feedback hidden badge count
  backend/database/repositories/suggestions/comment_read_repository.go
  backend/database/repositories/suggestions/comment_read_repository_test.go
  backend/database/repositories/suggestions/post_read_repository.go
  backend/database/repositories/suggestions/post_read_repository_test.go
  backend/models/suggestions/repository.go
  frontend/src/app/operator/suggestions/[id]/page.test.tsx
  frontend/src/app/operator/suggestions/[id]/page.tsx
Due: frontend-lint, go-imports

chore(seed): add dev-only seed-parents command
  backend/cmd/seed_parents.go
Due: go-imports

fix(parents): resolve CI failures (migration collision + knip)
  backend/database/migrations/001015101_student_status_days_parent_source.go
  backend/database/migrations/001015102_student_status_days_note.go
  backend/database/migrations/001015103_student_parent_notes.go
  frontend/src/components/parent/child-care.tsx
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix(seed): remove hardcoded password default from seed-parents
  backend/cmd/seed_parents.go
Due: go-imports

test(parents): cover sick-note + parent-notes feature (≥80% new code)
  backend/api/parent/child_write_handlers_test.go
  backend/api/students/parent_staff_internal_test.go
  backend/database/repositories/parent/child_repository_test.go
  backend/database/repositories/users/student_parent_note_test.go
  backend/services/parent/parent_write_service_test.go
  backend/test/fixtures.go
Due: go-imports

test(parents): cover the 0%-coverage new files (frontend clients + model)
  backend/models/users/student_parent_note_test.go
  frontend/src/lib/parent-api.test.ts
  frontend/src/lib/student-parent-notes-api.test.ts
Due: frontend-lint, go-imports

fix(enrollment): address export review — fail closed on schema load, keep email-only contacts, document export
  backend/api/enrollment/export_format.go
  backend/api/enrollment/export_format_test.go
  backend/services/enrollment/decision_export_integration_test.go
  backend/services/enrollment/decision_service.go
  frontend/public/help/screens/anmeldungen-exportieren.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(migrations): renumber audit metadata migration to 1.15.101
  backend/database/migrations/001015101_audit_data_access_log_metadata.go
  backend/models/audit/data_access_log.go
Due: go-imports

feat: connect enrollment offerings to timetable materialization
  backend/api/timetable/templates_create.go
  backend/api/timetable/templates_list.go
  backend/api/timetable/templates_update.go
  backend/database/migrations/001015101_student_enrollment_selected_weekdays.go
  backend/database/repositories/activities/student_enrollment.go
  backend/models/activities/student_enrollment.go
  backend/services/enrollment/decision_service.go
  backend/services/factory.go
  backend/services/schedule/materialization_integration_test.go
  backend/services/schedule/materialization_service.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
  frontend/src/components/active-supervisions/planned-now-section.test.tsx
  frontend/src/components/active-supervisions/planned-now-section.tsx
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-operations-types.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix: improve vacation request warnings
  backend/api/time-tracking/errors.go
  frontend/src/components/time-tracking/leave-requests-card.tsx
  frontend/src/components/time-tracking/vacation-request-modal.tsx
  frontend/src/components/ui/date-range-picker.tsx
Due: frontend-lint, go-imports

fix: match staff card hover
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
Due: frontend-lint

feat: configure time tracking account start
  .claude/rules/settings-system.md
  backend/api/base.go
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/models/config/keys.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
  backend/services/config/settings_service.go
  backend/services/config/settings_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/app/api/time-tracking/config/route.ts
  frontend/src/components/staff/staff-time-views.tsx
  frontend/src/components/staff/uebersicht-tab.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
  frontend/src/lib/time-tracking-api.ts
Due: frontend-lint, go-imports

test: stabilize active time tracking badge
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
Due: frontend-lint

test: cover time tracking staff APIs
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/time-tracking-api.test.ts
  frontend/src/lib/time-tracking-helpers.test.ts
Due: frontend-lint
