Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(sentry): unexport redactFeedToken to satisfy knip
  frontend/src/sentry.shared.ts
Due: frontend-lint

fix(staff-clock): return a kiosk DTO instead of the session model
  backend/services/iot/staffclock/service.go
Due: go-imports

feat(nav): Planung-Akkordeon bündeln, Übergaben als Gruppenzugriff gaten
  frontend/public/help/screens/vertretungen.webp
  frontend/src/app/[tenant]/(protected)/substitutions/page.test.tsx
  frontend/src/app/[tenant]/(protected)/substitutions/page.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/hooks/__tests__/use-sidebar-accordion.test.ts
  frontend/src/lib/hooks/use-sidebar-accordion.ts
  frontend/src/lib/substitution-helpers.test.ts
  frontend/src/lib/substitution-helpers.ts
Due: frontend-lint

feat(planung): Kalenderzeitraum im Dienstplan anzeigen, A/B-Woche sichtbar machen
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/timetable/period-switcher-dropdown.tsx
Due: frontend-lint

fix(time-tracking): show the real source in the own staff view
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
  frontend/src/lib/time-tracking-helpers.test.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint

fix(calendar): hide RSVP for cancelled appointments in the time grid
  frontend/src/components/calendar/personal-calendar.tsx
Due: frontend-lint

fix(planung): Review-Befunde aus PR #1965 beheben
  docs/planung-redesign/E1-1940-uebergaben-gruppenzugriff.md
  frontend/src/app/[tenant]/(protected)/calendar-periods/page.test.tsx
  frontend/src/app/[tenant]/(protected)/calendar-periods/page.tsx
  frontend/src/app/[tenant]/(protected)/substitutions/page.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/timetable/period-switcher-dropdown.test.tsx
  frontend/src/components/timetable/period-switcher-dropdown.tsx
  frontend/src/lib/calendar-period-helpers.test.ts
  frontend/src/lib/calendar-period-helpers.ts
Due: frontend-lint

docs(help): Abschalt-Callout nennt alle vier Planungsseiten mit Route-Gate
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

docs(planung): unbelegten Burbach-Prüfpunkt aus E1 entfernen
  docs/planung-redesign/E1-1940-uebergaben-gruppenzugriff.md
Due: none

fix(calendar): feed-delete tombstone, period-bounded recurrence, day/week actions
  backend/services/calendar/service.go
  backend/services/calendar/service_helpers_test.go
  backend/services/calendar/service_integration_test.go
  frontend/src/components/calendar/personal-calendar.tsx
Due: frontend-lint, go-imports

style(calendar): gofmt comment alignment in recurrence tests
  backend/services/calendar/service_helpers_test.go
Due: go-imports

fix: harden planning navigation routing
  frontend/src/app/[tenant]/(protected)/calendar-periods/page.tsx
  frontend/src/app/[tenant]/(protected)/eltern/page.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/planning/planning-disabled-state.test.tsx
  frontend/src/components/planning/planning-disabled-state.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/lib/calendar-period-helpers.test.ts
  frontend/src/lib/calendar-period-helpers.ts
  frontend/src/lib/hooks/__tests__/use-settings-cache-bridge.test.tsx
  frontend/src/lib/hooks/use-settings-cache-bridge.ts
  frontend/src/lib/hooks/use-settings-schema.test.ts
  frontend/src/lib/hooks/use-settings-schema.ts
  frontend/src/lib/hooks/use-sidebar-accordion.ts
  frontend/src/lib/hooks/use-timetable-day-hours.test.ts
  frontend/src/lib/hooks/use-timetable-day-hours.ts
  frontend/src/lib/planning-navigation.test.ts
  frontend/src/lib/planning-navigation.ts
  frontend/src/lib/settings-api.test.ts
  frontend/src/lib/settings-api.ts
  frontend/src/lib/tenant-path.test.ts
  frontend/src/lib/tenant-path.ts
Due: frontend-lint

fix(planung): Halbjahres-Grid teilt Perioden-SWR-Key mit der Kontextzeile
  frontend/src/components/staff/dienstplan-halbjahr-grid.test.tsx
  frontend/src/components/staff/dienstplan-halbjahr-grid.tsx
Due: frontend-lint

fix(planung): Kalenderzeiträume bleiben ohne Betreuungsplan erreichbar
  frontend/src/app/[tenant]/(protected)/calendar-periods/page.test.tsx
  frontend/src/app/[tenant]/(protected)/calendar-periods/page.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(staff-clock): report a raced check-in as a state conflict
  backend/api/iot/staffclock/errors.go
  backend/services/iot/staffclock/service.go
  backend/services/iot/staffclock/service_internal_test.go
Due: go-imports

fix(staff-clock): pin one calendar day per kiosk request
  backend/services/iot/staffclock/service.go
  backend/services/iot/staffclock/service_internal_test.go
Due: go-imports

fix(planung): Planung-Header folgt der ersten sichtbaren Unterseite
  docs/planung-redesign/E1-1940-uebergaben-gruppenzugriff.md
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/lib/hooks/use-settings-cache-bridge.ts
Due: frontend-lint

fix(zeiterfassung): Wochenendtage mit Daten in der Tagesansicht zeigen
  frontend/src/components/staff/staff-session-table.targets.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
Due: frontend-lint

fix(staff-clock): pin every kiosk lookup to one calendar day
  backend/api/time-tracking/api_test.go
  backend/database/repositories/active/work_session.go
  backend/models/active/repository.go
  backend/services/active/session_service_internal_test.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/iot/staffclock/service.go
  backend/services/iot/staffclock/service_internal_test.go
Due: go-imports

fix(zeiterfassung): ungelöste Tagessalden ausblenden
  frontend/src/components/staff/staff-session-table.targets.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
Due: frontend-lint

refactor(time-tracking): drop the now-unused clock-derived break lock
  backend/database/repositories/active/work_session.go
  backend/models/active/repository.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_session_service_test.go
Due: go-imports

fix(zeiterfassung): Kontostart im Tagessaldo beachten
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-session-table.stories.tsx
  frontend/src/components/staff/staff-session-table.targets.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
Due: frontend-lint

fix(zeiterfassung): Tagessalden korrekt begrenzen
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-session-table.stories.tsx
  frontend/src/components/staff/staff-session-table.targets.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
Due: frontend-lint

fix(staff-clock): resolve the kiosk day from the running session
  backend/api/time-tracking/api_test.go
  backend/database/repositories/active/work_session.go
  backend/models/active/repository.go
  backend/services/active/session_service_internal_test.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/iot/staffclock/service.go
  backend/services/iot/staffclock/service_internal_test.go
Due: go-imports

fix(staff-clock): Sitzung auf den Tag ihres Stempels legen
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/iot/staffclock/service_internal_test.go
Due: go-imports

fix(staff-clock): Karte ohne Person und Tageswechsel sauber behandeln
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/iot/staffclock/service.go
  backend/services/iot/staffclock/service_internal_test.go
Due: go-imports

feat(time-tracking): Feiertagskalender pro Bundesland mit Soll-Reduktion (#1418 3a)
  backend/api/base.go
  backend/api/time-tracking/api.go
  backend/api/time-tracking/holidays.go
  backend/api/time-tracking/holidays_test.go
  backend/go.mod
  backend/go.sum
  backend/internal/holidays/holidays.go
  backend/internal/holidays/holidays_test.go
  backend/models/config/keys.go
  backend/services/active/work_session_service.go
  backend/services/active/work_time_month_holiday_test.go
  backend/services/active/work_time_month_service.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
  backend/services/factory.go
  backend/services/schedule/holiday_service.go
  backend/services/schedule/holiday_service_test.go
  backend/services/schedule/staff_schedule_overview.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/app/api/time-tracking/holidays/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/time-tracking-api.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

test(api): Route-Table-Golden um GET /api/time-tracking/holidays ergänzen
  backend/api/testdata/route_table.golden
Due: none

fix(zeiterfassung): verplante Wochenenden bei ungelöstem Soll behalten
  frontend/src/components/staff/staff-session-table.targets.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
Due: frontend-lint

fix(calendar): soft-delete tombstones + window-bounded feed recurrence
  backend/database/migrations/001015213_calendar_appointment_deleted_at.go
  backend/database/repositories/calendar/appointment_repository.go
  backend/models/calendar/appointment.go
  backend/models/calendar/repository.go
  backend/services/calendar/feed.go
  backend/services/calendar/ics.go
  backend/services/calendar/service.go
  backend/services/calendar/service_helpers_test.go
  backend/services/calendar/service_integration_test.go
Due: go-imports

test(time-tracking): cover holiday paths
  backend/internal/holidays/holidays_test.go
  backend/services/schedule/holiday_service_test.go
  backend/services/schedule/staff_schedule_overview_internal_test.go
  frontend/src/lib/time-tracking-api.test.ts
  frontend/src/lib/time-tracking-helpers.test.ts
Due: frontend-lint, go-imports

fix(calendar): block deleted appointments on overview/RSVP, dedupe recurrence days
  backend/models/calendar/appointment.go
  backend/models/calendar/appointment_test.go
  backend/services/calendar/service.go
  backend/services/calendar/service_helpers_test.go
  backend/services/calendar/service_integration_test.go
Due: go-imports

fix(calendar): redact feed token from Sentry, unclamp feed RRULE, guard cancel race
  backend/cmd/serve.go
  backend/cmd/serve_test.go
  backend/database/migrations/001015213_calendar_appointment_deleted_at.go
  backend/database/repositories/calendar/appointment_repository.go
  backend/middleware/log_redaction.go
  backend/middleware/log_redaction_test.go
  backend/models/calendar/repository.go
  backend/services/calendar/feed.go
  backend/services/calendar/ics.go
  backend/services/calendar/service.go
  backend/services/calendar/service_helpers_test.go
  backend/services/calendar/service_integration_test.go
Due: go-imports

fix(holidays): wlbr/feiertage statt rickar/cal als Feiertagsquelle
  backend/go.mod
  backend/go.sum
  backend/internal/holidays/holidays.go
  backend/internal/holidays/holidays_test.go
Due: go-imports

fix(time-tracking): show holidays on weekends
  frontend/src/components/staff/staff-session-table.targets.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
Due: frontend-lint

fix(calendar): response-aware ICS auth, conditional edit, gated + opt-in cancel mail
  backend/api/calendar/api.go
  backend/database/migrations/001015214_calendar_appointment_notify_guardians.go
  backend/database/repositories/calendar/appointment_repository.go
  backend/models/calendar/appointment.go
  backend/models/calendar/repository.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  frontend/src/app/api/calendar/appointments/[appointmentId]/ics/route.ts
  frontend/src/app/api/parent/calendar/appointments/[appointmentId]/ics/route.ts
Due: frontend-lint, go-imports

feat(timetable): Betreuungsslot-Listen mit Plan/Ist/Abgleich (#1565)
  backend/api/base.go
  backend/api/timetable/api.go
  backend/api/timetable/instances_create.go
  backend/api/timetable/instances_list.go
  backend/api/timetable/instances_update.go
  backend/api/timetable/lists.go
  backend/api/timetable/lists_test.go
  backend/api/timetable/templates_create.go
  backend/api/timetable/templates_list.go
  backend/api/timetable/templates_update.go
  backend/database/migrations/001015121_timetable_list_kind.go
  backend/models/activities/group.go
  backend/models/config/keys.go
  backend/models/schedule/activity_instance.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/timetable.go
  backend/services/factory.go
  backend/services/listexport/types.go
  backend/services/listexport/xlsx.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/materialization_service.go
  backend/services/slotlists/service.go
  backend/services/slotlists/service_integration_test.go
  backend/services/slotlists/types.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/app/api/timetable/lists/export/route.ts
  frontend/src/app/api/timetable/lists/options/route.ts
  frontend/src/app/api/timetable/lists/preview/route.ts
  frontend/src/app/api/timetable/lists/request-normalizer.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/ui/date-picker.tsx
  frontend/src/components/ui/page-header/DesktopFilters.tsx
  frontend/src/lib/navigation-icons.ts
  frontend/src/lib/slot-lists-api.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

feat(timetable): Tageslisten in Exporte-Hub integrieren, Listenart im Termin-Editor (#1565)
  backend/api/timetable/lists.go
  backend/database/migrations/001015210_timetable_list_kind.go
  backend/database/repositories/activities/group.go
  backend/models/activities/repository.go
  backend/services/schedule/template_create_service.go
  backend/services/slotlists/service.go
  backend/services/slotlists/service_integration_test.go
  frontend/src/app/[tenant]/(protected)/database/exports/page.tsx
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/app/api/timetable/lists/export/route.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/event-form/form-model.ts
  frontend/src/components/timetable/event-form/step-termin.tsx
  frontend/src/components/timetable/event-form/use-event-form.ts
Due: frontend-lint, go-imports

style(exports): Gedankenstrich in Tageslisten-Karte entfernen
  frontend/src/app/[tenant]/(protected)/database/exports/page.tsx
Due: frontend-lint

chore(nav): ungenutztes dailyLists-Icon entfernen
  frontend/src/lib/navigation-icons.ts
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
