Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

feat: finish parent pickup approval and message emails
  backend/api/parent/api.go
  backend/api/parent/care_exception_handlers.go
  backend/api/parent/care_schedule_handlers_test.go
  backend/api/parent/child_write_handlers.go
  backend/api/parent/me_handlers_test.go
  backend/api/students/care_request_review_handlers.go
  backend/api/students/companion_plan_error_test.go
  backend/api/testdata/route_table.golden
  backend/database/migrations/001015297_pickup_change_requests.go
  backend/database/repositories/schedule/care_schedule_change_request.go
  backend/models/platform/email_outbox.go
  backend/models/schedule/care_schedule_change_request.go
  backend/services/factory.go
  backend/services/messaging/message_email.go
  backend/services/messaging/message_email_test.go
  backend/services/messaging/service.go
  backend/services/parent/care_exception_service_test.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_write_service.go
  backend/services/schedule/care_request_service.go
  backend/services/schedule/care_request_service_test.go
  backend/services/schedule/pickup_change_request_service_test.go
  backend/templates/email/parent-message-notification.html
  frontend/src/app/api/parent/me/children/[studentId]/care-exception/route.ts
  frontend/src/app/api/parent/me/children/[studentId]/pickup-change-requests/[requestId]/route.ts
  frontend/src/app/api/parent/me/children/[studentId]/pickup-change-requests/route.ts
  frontend/src/components/parent/child-care.test.tsx
  frontend/src/components/parent/child-care.tsx
  frontend/src/components/parent/child/child-page.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/components/students/care-request-review-list.test.tsx
  frontend/src/components/students/care-request-review-list.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/care-request-review-api.test.ts
  frontend/src/lib/care-request-review-api.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix: loese die Migrations-Kollision nach dem Merge auf
  backend/database/migrations/001015298_withdraw_parent_arrival_requests.go
  backend/database/migrations/001015298_withdraw_parent_arrival_requests_test.go
  backend/database/migrations/001015299_pickup_change_requests.go
  frontend/src/app/[tenant]/(protected)/profile/page.test.tsx
Due: frontend-lint, go-imports

fix: disable inert loading-state search inputs, drop redundant payroll guard
  frontend/src/app/[tenant]/(protected)/messages/loading.tsx
  frontend/src/app/[tenant]/(protected)/rooms/loading.tsx
  frontend/src/app/[tenant]/(protected)/staff/loading.tsx
  frontend/src/components/staff/stammdaten-tab.tsx
  frontend/src/components/ui/page-header/types.ts
Due: frontend-lint

fix: bringe Eltern-Installation, Nachrichten-Mail und Route-Golden in Deckung
  backend/api/testdata/route_table.golden
  backend/templates/email/parent_message_notification_test.go
  frontend/src/instrumentation-client.test.ts
  frontend/src/lib/pwa-install-prompt.ts
Due: frontend-lint, go-imports

fix: make loading skeletons consistent
  frontend/src/app/[tenant]/(protected)/database/layout.test.tsx
  frontend/src/app/[tenant]/(protected)/database/layout.tsx
  frontend/src/app/[tenant]/(protected)/database/loading.tsx
  frontend/src/app/[tenant]/(protected)/database/page-skeleton.tsx
  frontend/src/app/[tenant]/(protected)/database/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/page.tsx
  frontend/src/app/[tenant]/(protected)/database/section-skeleton.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/app/[tenant]/(protected)/loading.test.tsx
  frontend/src/app/[tenant]/(protected)/loading.tsx
  frontend/src/app/[tenant]/(protected)/rooms/loading.tsx
  frontend/src/app/[tenant]/(protected)/staff/loading.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/loading.tsx
  frontend/src/app/loading.test.tsx
  frontend/src/app/loading.tsx
  frontend/src/components/database/master-detail-skeleton.tsx
  frontend/src/components/students/student-card-skeleton.tsx
  frontend/src/components/ui/loading.test.tsx
  frontend/src/components/ui/loading.tsx
  frontend/src/components/ui/page-header/PageHeaderSkeleton.tsx
  frontend/src/components/ui/page-skeletons.test.tsx
  frontend/src/components/ui/page-skeletons.tsx
  frontend/src/lib/loading-boundaries.test.ts
  frontend/src/styles/globals.css
Due: frontend-lint

test: decke Eltern-Copy, Wochentagslogik und Betreuungstag ab
  backend/services/notifications/parent_copy_test.go
  backend/services/parent/parent_today_status_internal_test.go
  backend/services/parent/parent_today_status_service_test.go
  frontend/src/lib/parent-locale-navigation.test.ts
Due: frontend-lint, go-imports

test: sichere den Abholaenderungs-Weg der Eltern ab
  backend/services/parent/parent_pickup_change_service_test.go
Due: go-imports

test: sichere die Zusage einer Abholaenderung gegen bestehende Eintraege
  backend/services/schedule/pickup_change_request_service_test.go
Due: go-imports

fix: repariere die Betreuungstag-Tests, die nur werktags laufen
  backend/services/parent/parent_today_status_service_test.go
Due: go-imports

test: fahre den Abholaenderungs-Weg der Eltern einmal ganz durch
  backend/services/parent/parent_pickup_change_service_test.go
Due: go-imports

fix(enrollment): keep automatic days when a mixed booking is unticked
  backend/services/enrollment/offering_adjustment_grandfathering_internal_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_availability_test.go
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(enrollment): count booking stats like the capacity gate does
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/database/repositories/enrollment/request_child_offering_repository_grade_levels_test.go
  backend/models/enrollment/care_offering.go
  backend/services/enrollment/care_offering_booking_stats_internal_test.go
  backend/services/enrollment/care_offering_service.go
Due: go-imports

fix(frontend): restore immediate loading feedback
  frontend/src/app/[tenant]/(protected)/database/layout.test.tsx
  frontend/src/app/[tenant]/(protected)/database/layout.tsx
  frontend/src/app/[tenant]/(protected)/database/loading.tsx
  frontend/src/app/[tenant]/(protected)/database/section-skeleton.test.tsx
  frontend/src/app/[tenant]/(protected)/database/section-skeleton.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/change-history/loading.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/change-history/page-skeleton.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/change-history/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/loading.tsx
  frontend/src/app/loading.test.tsx
  frontend/src/app/loading.tsx
  frontend/src/components/ui/page-header/PageHeaderSkeleton.tsx
  frontend/src/components/ui/page-skeletons.test.tsx
  frontend/src/lib/loading-boundaries.test.ts
Due: frontend-lint

fix(frontend): keep protected loading inside app shell
  frontend/src/app/[tenant]/(protected)/loading.test.tsx
  frontend/src/app/[tenant]/(protected)/loading.tsx
  frontend/src/lib/loading-boundaries.test.ts
Due: frontend-lint

fix(frontend): preserve page-shaped loading states
  frontend/src/app/[tenant]/(protected)/rooms/[id]/loading.tsx
  frontend/src/app/[tenant]/(protected)/rooms/loading.tsx
  frontend/src/app/[tenant]/(protected)/staff/dienstplan/loading.tsx
  frontend/src/app/[tenant]/(protected)/staff/loading.tsx
  frontend/src/components/ui/page-header/PageHeaderSkeleton.tsx
  frontend/src/components/ui/page-skeletons.test.tsx
  frontend/src/lib/loading-boundaries.test.ts
Due: frontend-lint

fix(enrollment): klarere Texte und aktueller Hilfe-Screenshot für Verfügbarkeitsregeln
  frontend/public/help/screens/betreuungsangebote.webp
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/care-offerings-editor.tsx
Due: frontend-lint

docs: Screenshots für PR #2358
  screenshots-pr2358/01-regel-editor-hinweis.png
Due: none

fix(frontend): match title-only header skeleton to PageHeader geometry
  frontend/src/app/[tenant]/(protected)/database/page-skeleton.tsx
  frontend/src/components/ui/page-header/PageHeaderSkeleton.tsx
  frontend/src/components/ui/page-skeletons.test.tsx
Due: frontend-lint

feat(students): add batch school-checkin endpoint (#2359)
  backend/api/students/api.go
  backend/api/students/school_checkin_batch_integration_test.go
  backend/api/students/school_checkin_handlers.go
Due: go-imports

fix(deps): bump nanoid override to 3.3.18 (GHSA-2v37-7h3g-55p8)
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

feat(students): Sammelauswahl in der Kindersuche (#2359)
  frontend/src/app/[tenant]/(protected)/students/search/page.companion-grouping.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.date-filter.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.room-filter.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.school-checkin-detailed.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.school-checkin.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/app/api/students/school-checkin/batch/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/school-checkin-mode-mobile.tsx
  frontend/src/components/students/school-checkin-selection-bar.test.tsx
  frontend/src/components/students/school-checkin-selection-bar.tsx
  frontend/src/components/students/student-card.select.test.tsx
  frontend/src/components/students/student-card.tsx
  frontend/src/lib/hooks/use-school-checkin-mode.bulk.test.ts
  frontend/src/lib/hooks/use-school-checkin-mode.ts
  frontend/src/lib/student-api.ts
Due: frontend-lint

fix(frontend): show German labels for master data change request values
  frontend/src/components/students/master-data-review-list.test.tsx
  frontend/src/components/students/master-data-review-list.tsx
  frontend/src/lib/student-helpers.ts
Due: frontend-lint

fix(frontend): fall back to raw value for unknown language codes
  frontend/src/components/students/master-data-review-list.test.tsx
  frontend/src/components/students/master-data-review-list.tsx
Due: frontend-lint

docs: Screenshots für PR #2369
  screenshots-pr2369/after-01-change-requests.png
  screenshots-pr2369/before-01-change-requests.png
  screenshots-pr2369/pair-01-change-requests.png
Due: none

fix(frontend): format birthday change request values as German dates
  frontend/src/components/students/master-data-review-list.test.tsx
  frontend/src/components/students/master-data-review-list.tsx
Due: frontend-lint

fix(students): drop unused exports flagged by knip (#2359)
  frontend/src/components/students/school-checkin-selection-bar.tsx
  frontend/src/lib/student-api.ts
Due: frontend-lint

fix(frontend): explain admin-only backfill instead of silent no-op in time tracking
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/staff-session-table.edit.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
Due: frontend-lint

docs: Screenshots für PR #2373
  screenshots-pr2373/admin-tab.png
  screenshots-pr2373/hint-modal-betreuer.png
  screenshots-pr2373/hint-modal.png
Due: none

fix(frontend): simplify hint dialog copy and shorten backfill button
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

docs: aktualisierte Screenshots für PR #2373
  screenshots-pr2373/hint-modal-betreuer.png
  screenshots-pr2373/hint-modal.png
Due: none

fix(frontend): gegenderte Form Mitarbeitende im Guide-Text
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

test(students): add batch school-checkin route to route-table golden (#2359)
  backend/api/testdata/route_table.golden
Due: none

fix(students): address batch checkin review findings (#2372)
  backend/api/students/school_checkin_batch_integration_test.go
  backend/api/students/school_checkin_handlers.go
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/app/api/students/school-checkin/batch/route.ts
  frontend/src/lib/hooks/use-school-checkin-mode.bulk.test.ts
  frontend/src/lib/hooks/use-school-checkin-mode.ts
  frontend/src/lib/student-api.school-checkin.test.ts
  frontend/src/lib/student-api.ts
Due: frontend-lint, go-imports

fix(frontend): guard backfill against full-day absences
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-session-table.edit.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
Due: frontend-lint

feat(backend): derive partial absences from pulled-forward day pickup times (#2360)
  backend/api/display/api_test.go
  backend/api/students/partial_absence_handlers.go
  backend/api/students/pickup_schedule_handlers.go
  backend/api/timetable/instances_list.go
  backend/database/migrations/001015298_auto_partial_absence_from_pickup.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/models/schedule/pickup_schedule.go
  backend/services/absence/excused_request_service.go
  backend/services/active/student_status_day_write.go
  backend/services/factory.go
  backend/services/parent/care_exception_auto_excusal_test.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_write_service.go
  backend/services/schedule/effective_time_domains.go
  backend/services/schedule/effective_time_service.go
  backend/services/schedule/partial_absence_service.go
  backend/services/schedule/pickup_auto_excusal.go
  backend/services/schedule/pickup_auto_excusal_test.go
  backend/services/schedule/pickup_schedule_provenance_test.go
  backend/services/schedule/pickup_schedule_service.go
  backend/services/schedule/timetable_data_service.go
  backend/services/slotlists/service_integration_test.go
Due: go-imports

feat(frontend): surface auto excusals from pulled-forward pickup times (#2360)
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-plan-editor-modal.tsx
  frontend/src/components/students/pickup-day-edit-modal.tsx
  frontend/src/components/students/planned-status-days-modal.test.tsx
  frontend/src/components/students/planned-status-days-modal.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
  frontend/src/lib/pickup-schedule-helpers.ts
  frontend/src/lib/student-partial-absences-api.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

feat: notify staff about parent messages
  backend/database/migrations/001015298_staff_parent_message_notification_debounce.go
  backend/database/repositories/users/parent_message_thread.go
  backend/database/repositories/users/parent_messaging_repository_test.go
  backend/models/users/parent_message_thread.go
  backend/services/factory.go
  backend/services/notifications/absence_producer.go
  backend/services/notifications/absence_producer_mock_test.go
  backend/services/notifications/staff_parent_message_producer.go
  backend/services/notifications/staff_parent_message_producer_test.go
  backend/services/notifications/staff_recipient_resolver.go
  backend/services/notifications/staff_recipient_resolver_test.go
  backend/services/notifications/types.go
  backend/services/notifications/types_test.go
  backend/services/parent/parent_messaging_read_service_test.go
  backend/services/parent/parent_messaging_service.go
  backend/services/parent/parent_service.go
  docs/notifications.md
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(frontend): harden absence backfill eligibility
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-session-table.edit.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.invalidation.test.ts
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint

fix(students): bound batch checkin request early and batch its reads (#2372)
  backend/api/students/school_checkin_batch_integration_test.go
  backend/api/students/school_checkin_handlers.go
Due: go-imports

fix(students): move batch checkin into the active service (#2372)
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/api/students/school_checkin_handlers.go
  backend/api/students/school_checkin_handlers_test.go
  backend/services/active/attendance_changed_flag_test.go
  backend/services/active/attendance_service.go
  backend/services/active/interface.go
  backend/services/active/school_checkin_batch.go
  backend/services/scheduler/scheduler_test.go
  backend/services/usercontext/sse_subscription_internal_test.go
  frontend/src/app/api/students/school-checkin/batch/route.ts
  frontend/src/lib/route-wrapper-utils.server.ts
  frontend/src/lib/route-wrapper-utils.test.ts
  frontend/src/lib/route-wrapper.server.ts
Due: frontend-lint, go-imports
