Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: inject operator MFA JWT configuration
  backend/services/auth/factory_operator_mfa_config_test.go
  backend/services/factory.go
Due: go-imports

fix: keep notification constructor production-reachable
  backend/services/notifications/service.go
Due: go-imports

test: update composition inventory
  backend/architecture/composition.json
Due: none

fix: close SMTP exchange on cancellation
  backend/email/smtp.go
  backend/email/smtp_context_test.go
Due: go-imports

fix: satisfy backend quality checks
  backend/auth/device/device_auth.go
  backend/auth/device/device_auth_legacy_test.go
  backend/cmd/cleanup.go
  backend/cmd/cleanup_helpers.go
  backend/cmd/migrate.go
  backend/database/migrations/00_migrations.go
  backend/database/migrations/main.go
  backend/models/config/registry.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/email_test.go
Due: go-imports

fix: retry failed MFA challenge cleanup
  backend/email/smtp.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_synchronous_delivery_test.go
  backend/services/platform/operator_mfa_service.go
  backend/services/platform/operator_mfa_synchronous_delivery_test.go
Due: go-imports

chore: update composition inventory
  backend/architecture/composition.json
Due: none

fix(nav): Aufsicht im binären Anwesenheitsmodus mobil ausblenden
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
Due: frontend-lint

fix: keep undelivered MFA codes inactive
  backend/api/operator/mfa.go
  backend/api/operator/mfa_delivery_mapping_internal_test.go
  backend/architecture/composition.json
  backend/database/repositories/auth/mfa_email_challenge.go
  backend/database/repositories/platform/operator_mfa_email_challenge.go
  backend/email/smtp.go
  backend/models/auth/repository.go
  backend/models/platform/repository.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_synchronous_delivery_test.go
  backend/services/platform/operator_mfa_service.go
  backend/services/platform/operator_mfa_synchronous_delivery_test.go
Due: go-imports

style: format MFA activation logs
  backend/services/auth/mfa_service.go
  backend/services/platform/operator_mfa_service.go
Due: go-imports

fix(sidebar): ein Raster und eine Bewegung fuer beide Klappzustaende
  frontend/src/components/dashboard/sidebar-accordion-section.tsx
  frontend/src/components/dashboard/sidebar-geometry.ts
  frontend/src/components/dashboard/sidebar-sub-item.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/hooks/use-sidebar-collapse-transition.ts
Due: frontend-lint

fix(sidebar): Rollbalken nur im Icon-Streifen ausblenden
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix(sidebar): kein zweites Gruppen-Icon im eingeklappten Streifen
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix(auth): Personaldaten aus users:update herauslösen (#2906)
  backend/api/staff/api.go
  backend/api/staff/api_internal_test.go
  backend/api/staff/documents_api_test.go
  backend/api/staff/staff_handlers.go
  backend/api/staff/staff_helpers.go
  backend/api/staff/staff_test.go
  backend/api/staff/stammdaten_api_test.go
  backend/api/staff/substitution_handlers.go
  backend/api/staff/types.go
  backend/auth/authorize/permissions/constants.go
  backend/database/migrations/001015359_staff_hr_permissions.go
  backend/database/migrations/001015359_staff_hr_permissions_test.go
  backend/database/repositories/audit/work_session_edit.go
  backend/services/users/errors.go
  backend/services/users/interface.go
  backend/services/users/person_service.go
  backend/services/users/person_service_test.go
  backend/services/users/staff_document_service.go
  backend/services/users/staff_document_service_test.go
  backend/test/hermetic_verification_test.go
  frontend/src/app/[tenant]/(protected)/database/personal/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/dokumente-tab.tsx
  frontend/src/components/staff/stammdaten-sections.test.tsx
  frontend/src/components/staff/stammdaten-tab.tsx
  frontend/src/components/teachers/staff-master-detail.tsx
  frontend/src/lib/permission-labels.ts
  frontend/src/lib/staff-api.ts
  frontend/src/lib/staff-documents-api.ts
Due: frontend-lint, go-imports

docs: add screenshots for PR #2927
  screenshots-pr2927/pair-01-dashboard.png
  screenshots-pr2927/pair-03-roles.png
  screenshots-pr2927/pair-04-settings.png
  screenshots-pr2927/pair-06-room-history.png
  screenshots-pr2927/pair-07-guardian-form.png
  screenshots-pr2927/pair-08-personalization.png
Due: none

feat(statistics): Kursteilnahme als dritter Statistik-Bereich (#2891)
  backend/api/statistics/api.go
  backend/api/statistics/api_test.go
  backend/api/statistics/export.go
  backend/api/statistics/response.go
  backend/database/repositories/factory.go
  backend/database/repositories/schedule/course_statistics_repo.go
  backend/models/schedule/course_statistics.go
  backend/seed/api/client.go
  backend/seed/api/seed_extras.go
  backend/seed/api/workflow_steps.go
  backend/services/factory.go
  backend/services/statistics/courses.go
  backend/services/statistics/courses_internal_test.go
  backend/services/statistics/service.go
  frontend/src/app/[tenant]/(protected)/statistics/page.test.tsx
  frontend/src/app/[tenant]/(protected)/statistics/page.tsx
  frontend/src/app/api/statistics/report/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/statistics-api.ts
Due: frontend-lint, go-imports

fix: fail closed for MFA email delivery
  backend/database/repositories/auth/mfa_email_challenge.go
  backend/database/repositories/platform/operator_mfa_email_challenge.go
  backend/email/dispatcher.go
  backend/email/dispatcher_synchronous_test.go
  backend/email/mailer.go
  backend/email/mockMailer.go
  backend/email/smtp.go
  backend/email/smtp_configuration_test.go
  backend/email/smtp_context_test.go
  backend/models/auth/repository.go
  backend/models/platform/repository.go
  backend/services/auth/mfa_service.go
  backend/services/factory.go
  backend/services/platform/operator_mfa_service.go
  frontend/src/components/database/configs/devices.config.tsx
  frontend/src/components/database/configs/students.config.tsx
Due: frontend-lint, go-imports

fix: reject undeliverable mock emails
  backend/email/mailer_test.go
  backend/email/mockMailer.go
Due: go-imports

test: Anhang-Empfängerkreis-Test auf die Test-eigene Datenbank binden (#2890)
  backend/services/parent/parent_announcement_attachments_test.go
Due: go-imports

fix: refresh active supervision after SSE reconnect
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

test: expect MFA delivery failure without SMTP
  backend/services/auth/factory_operator_mfa_config_test.go
Due: go-imports

refactor: keep the attendance-correction trail inside the audit module (#2898)
  backend/architecture/composition.json
  backend/database/repositories/audit/attendance_correction_repository_test.go
  backend/models/audit/attendance_correction.go
  backend/test/fixtures.go
Due: go-imports

test: wire MFA delivery fixtures
  backend/services/auth/auth_login_school_atomicity_test.go
  backend/services/auth/auth_login_test.go
  backend/services/auth/mfa_service_extra_test.go
  backend/services/auth/mfa_service_test.go
  backend/services/platform/operator_mfa_service_test.go
Due: go-imports

fix: reconcile supervision after forced SSE reconnect
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/__tests__/use-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-sse.ts
Due: frontend-lint

fix(auth): Aktionsnamen der neuen Personal-Berechtigungen übersetzen (#2906)
  frontend/src/lib/permission-labels.ts
Due: frontend-lint

fix: ignore stale SSE connection callbacks
  frontend/src/lib/hooks/__tests__/use-sse.test.ts
  frontend/src/lib/hooks/use-sse.ts
Due: frontend-lint

fix: reset SSE state for replacement streams
  frontend/src/lib/hooks/__tests__/use-sse.test.ts
  frontend/src/lib/hooks/use-sse.ts
Due: frontend-lint

fix: enforce semantic directional border colors
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/scripts/oxlint-plugin-ui-kit.test.mjs
  frontend/src/components/settings/personalization-tab.tsx
Due: frontend-lint

test: wait for invitation delivery cleanup
  backend/services/auth/invitation_service_test.go
Due: go-imports

fix(sidebar): Bereichs-Kopfzeile als Kit-Button, kein Zwillings-Icon waehrend der Bewegung
  frontend/src/components/dashboard/sidebar-accordion-section.tsx
  frontend/src/components/dashboard/sidebar-geometry.ts
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix: address request access review findings
  frontend/src/app/[tenant]/(protected)/anfragen/page.test.tsx
  frontend/src/app/[tenant]/(protected)/anfragen/page.tsx
  frontend/src/lib/hooks/__tests__/use-settings-cache-bridge.test.tsx
  frontend/src/lib/hooks/use-change-request-access.test.ts
  frontend/src/lib/hooks/use-change-request-access.ts
  frontend/src/lib/hooks/use-settings-cache-bridge.ts
Due: frontend-lint

test: isolate protected layout cache bridge
  frontend/src/app/[tenant]/(protected)/layout.test.tsx
Due: frontend-lint

feat: allow parents to renew photo consent (#2636)
  backend/api/parent/api.go
  backend/api/parent/consent_handlers.go
  backend/api/parent/consent_handlers_test.go
  backend/api/parent/me_handlers_test.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/services/parent/parent_consent_service.go
  backend/services/parent/parent_consent_service_test.go
  backend/services/parent/parent_service.go
  backend/services/users/student_consent_recorder.go
  backend/services/users/student_consent_recorder_test.go
  frontend/src/app/api/parent/me/children/[studentId]/consents/photo/route.ts
  frontend/src/components/parent/child/child-consents-section.test.tsx
  frontend/src/components/parent/child/child-consents-section.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix: show photo consent hint only when actionable (#2636)
  frontend/src/components/parent/child/child-consents-section.test.tsx
  frontend/src/components/parent/child/child-consents-section.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

fix(statistics): Datenumfang der Kursteilnahme korrigieren (#2891)
  backend/api/statistics/api_test.go
  backend/database/repositories/schedule/course_statistics_repo.go
  backend/services/statistics/courses.go
  backend/services/statistics/courses_internal_test.go
  backend/services/statistics/service.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
