Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(time-tracking): map comp-time balance conflicts
  backend/api/time-tracking/api_test.go
  backend/api/time-tracking/errors.go
Due: go-imports

fix(enrollment): apply submitted fields on existing-student approval, narrow offered classes, classify audience gate (#1663)
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/public_bootstrap.go
  backend/services/enrollment/request_service.go
Due: go-imports

fix(students): emit arrival_schedule_changed after commit, like the pickup path
  backend/api/students/arrival_schedule_handlers.go
  backend/api/students/arrival_schedule_handlers_test.go
Due: go-imports

fix(time-tracking): account for worked half days
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_time_month_adjustment_test.go
  backend/services/active/work_time_month_service.go
Due: go-imports

fix(time-tracking): account for realized comp time
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_time_month_adjustment_test.go
  backend/services/active/work_time_month_service.go
Due: go-imports

fix(enrollment): scope parent enrollment submit authorization per child (#1663)
  backend/api/enrollment/submission_handlers.go
  backend/api/parent/enrollment_handlers.go
  backend/api/parent/handler_helpers_test.go
  backend/database/repositories/users/student_guardian.go
  backend/database/repositories/users/student_guardian_test.go
  backend/models/users/repository.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_eligibility_internal_test.go
  backend/services/factory.go
Due: go-imports

fix(education): harden Jahrgangswechsel lifecycle, editor, and permissions (#405)
  backend/database/migrations/001015219_grade_transition_history_from_status.go
  backend/database/repositories/education/grade_transition.go
  backend/database/repositories/users/student.go
  backend/models/education/grade_transition.go
  backend/models/education/grade_transition_history.go
  backend/services/education/grade_transition_findings_test.go
  backend/services/education/grade_transition_service.go
  backend/services/factory.go
  frontend/src/app/[tenant]/(protected)/database/grade-transitions/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/database/grade-transitions/grade-transitions-manager.tsx
  frontend/src/components/database/grade-transitions/transition-editor.tsx
  frontend/src/lib/grade-transition-api.ts
Due: frontend-lint, go-imports

fix(time-tracking): preserve future balance reductions
  backend/services/active/staff_balance_adjustment_service.go
  backend/services/active/staff_balance_adjustment_service_mock_test.go
Due: go-imports

fix(enrollment): close existing-student duplication, guardian/schedule loss, and picker/error gaps (#1663)
  backend/database/repositories/parent/enrollable_phase_eligibility_test.go
  backend/database/repositories/parent/enrollable_phase_repository.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/request_service.go
  frontend/src/lib/enrollment-error-messages.ts
Due: frontend-lint, go-imports

fix(staff): expose balance tools to managers
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
Due: frontend-lint

fix(education): reject alumni at check-in and serialize graduation (#405)
  backend/api/admin/grade_transitions.go
  backend/api/admin/grade_transitions_test.go
  backend/api/iot/internal/shared/errors.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_alumni_filter_test.go
  backend/services/active/active_service.go
  backend/services/active/attendance_service.go
  backend/services/active/errors.go
  backend/services/active/visit_service_test.go
  backend/services/education/grade_transition_service.go
  backend/services/iot/checkin/checkin_service.go
  backend/services/iot/checkin/checkin_service_test.go
  frontend/src/components/database/grade-transitions/grade-transitions-manager.tsx
  frontend/src/components/database/grade-transitions/transition-preview-modal.tsx
  frontend/src/lib/grade-transition-api.ts
Due: frontend-lint, go-imports

fix(ui): guard portaled dropdown against Vaul dismissal and form/a11y edges
  frontend/src/components/ui/custom-select.tsx
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

fix(enrollment): roll back approval when existing-student schedule replacement fails (#1663)
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
Due: go-imports

fix(education): propagate graduation soft-delete across audiences, rosters, and check-in (#405)
  backend/api/active/errors.go
  backend/api/students/school_checkin_handlers.go
  backend/api/timetable/operations.go
  backend/database/repositories/users/parent_announcement.go
  backend/services/active/active_service.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/components/database/grade-transitions/grade-transitions-manager.tsx
Due: frontend-lint, go-imports

fix(time-tracking): correct lifecycle feedback and half-days
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/staff-session-table.targets.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/time-tracking/leave-requests-card.tsx
  frontend/src/lib/absence-helpers.test.ts
  frontend/src/lib/absence-helpers.ts
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-api.ts
Due: frontend-lint

fix(enrollment): guard existing-student re-enrollment against cross-guardian and identity-edit corruption (#1663)
  backend/api/enrollment/submission_handlers.go
  backend/database/repositories/enrollment/request_repository.go
  backend/database/repositories/enrollment/request_repository_test.go
  backend/models/enrollment/request.go
  backend/services/enrollment/form_visibility.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_matched_student_internal_test.go
  frontend/src/components/parent/parent-enroll-picker.test.tsx
  frontend/src/components/parent/parent-enroll-picker.tsx
  frontend/src/lib/localized-date-format.ts
Due: frontend-lint, go-imports

fix(ui): validate required Träger in edit school modal
  frontend/src/app/operator/provisioning/edit-school-modal.tsx
Due: frontend-lint

fix(education): propagate graduation across materialization, revert order, and detailed check-in (#405)
  backend/api/admin/grade_transitions.go
  backend/database/repositories/activities/student_enrollment.go
  backend/database/repositories/education/grade_transition.go
  backend/models/education/grade_transition.go
  backend/services/education/grade_transition_findings_test.go
  backend/services/education/grade_transition_service.go
  backend/services/iot/checkin/checkin_errors.go
  backend/services/iot/checkin/checkin_service.go
  backend/services/iot/checkin/checkin_service_test.go
  backend/services/schedule/edited_instance_detection.go
  backend/services/schedule/materialization_integration_test.go
  backend/services/schedule/materialization_service.go
Due: go-imports

fix(education): reconcile rosters and close graduation lifecycle races (#405)
  backend/api/students/student_handlers.go
  backend/api/students/students_test.go
  backend/api/timetable/instance_students_unit_test.go
  backend/database/repositories/education/grade_transition.go
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/models/education/grade_transition.go
  backend/models/schedule/activity_instance.go
  backend/models/schedule/instance_student.go
  backend/services/education/grade_transition_roster_reconcile_test.go
  backend/services/education/grade_transition_service.go
  backend/services/factory.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/roster_reconciler.go
  backend/services/scheduler/setters_test.go
Due: go-imports

fix(enrollment): resolve review findings on migrations, account linkage, reuse panel, and grade-1 eligibility (#1663)
  backend/api/common/guardian_profile_response.go
  backend/api/enrollment/admin_decision_handlers.go
  backend/api/enrollment/admin_late_invite_handlers.go
  backend/database/migrations/001015222_phase_eligibility_columns.go
  backend/database/migrations/001015223_phase_audience_existing_students.go
  backend/database/migrations/001015224_request_children_matched_student.go
  backend/database/repositories/users/guardian_profile.go
  backend/models/enrollment/phase.go
  backend/models/enrollment/phase_eligibility_validate_test.go
  backend/models/users/guardian_profile_with_children.go
  backend/services/enrollment/decision_guardian_resolve_internal_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/school_class_test.go
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

fix(audit): make the audit schema append-only for phoenix_tenant (#1924)
  backend/database/migrations/001015225_audit_append_only_grants.go
  backend/database/migrations/001015225_audit_append_only_grants_test.go
Due: go-imports

fix(education): unblock migration merge and close alumni read gaps (#405)
  backend/api/timetable/instance_students_unit_test.go
  backend/api/timetable/student_day.go
  backend/database/migrations/001015222_grade_transition_history_from_status.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/models/schedule/instance_student.go
  backend/services/activities/enrollment_operations.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/roster_reconciler.go
  frontend/src/components/database/grade-transitions/grade-transitions-manager.tsx
  frontend/src/components/database/grade-transitions/transition-preview-modal.tsx
  frontend/src/lib/grade-transition-api.ts
Due: frontend-lint, go-imports

fix(enrollment): close guardian-profile claim, enrollment-window and re-enrollment gaps (#1663)
  backend/api/common/guardian_profile_response.go
  backend/database/repositories/parent/enrollable_phase_eligibility_test.go
  backend/database/repositories/parent/enrollable_phase_repository.go
  backend/database/repositories/users/guardian_profile.go
  backend/models/users/guardian_profile_with_children.go
  backend/services/enrollment/decision_enrollment_window_internal_test.go
  backend/services/enrollment/decision_guardian_resolve_internal_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_eligibility_internal_test.go
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

fix(ui): restore native required validation for CustomSelect
  frontend/src/components/ui/custom-select.test.tsx
  frontend/src/components/ui/custom-select.tsx
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

fix(audit): close TRUNCATE gap and assert retention DELETE stays (#1924)
  backend/database/migrations/001015225_audit_append_only_grants.go
  backend/database/migrations/001015225_audit_append_only_grants_test.go
Due: go-imports

fix(ui): clamp dropdown menus horizontally and restore empty options
  frontend/src/app/[tenant]/(protected)/substitutions/page.tsx
  frontend/src/app/operator/provisioning/create-device-modal.tsx
  frontend/src/app/operator/provisioning/create-school-modal.tsx
  frontend/src/app/operator/provisioning/edit-school-modal.tsx
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/components/activities/activity-management-modal.tsx
  frontend/src/components/activities/quick-create-modal.tsx
  frontend/src/components/groups/group-transfer-modal.tsx
  frontend/src/components/permissions/permission-selector.tsx
  frontend/src/components/staff/arbeitszeitmodell-tab.tsx
  frontend/src/components/timetable/event-form/step-personal-kinder.tsx
  frontend/src/components/timetable/event-form/step-termin.tsx
  frontend/src/components/timetable/event-form/step-wiederholung.tsx
  frontend/src/components/ui/custom-select.test.tsx
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

fix(enrollment): integrate existing-student safeguards with the change-request lifecycle (#1663)
  backend/database/migrations/001015224_request_children_matched_student.go
  backend/database/repositories/enrollment/request_child_repository.go
  backend/database/repositories/enrollment/request_repository.go
  backend/database/repositories/enrollment/request_repository_test.go
  backend/database/repositories/parent/enrollable_phase_eligibility_test.go
  backend/database/repositories/parent/enrollable_phase_repository.go
  backend/database/repositories/users/student.go
  backend/models/enrollment/request.go
  backend/models/enrollment/request_child.go
  backend/services/enrollment/change_request_matched_student_internal_test.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/change_request_service_test.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_matched_student_internal_test.go
  backend/services/factory.go
Due: go-imports

fix(education): make grade transitions cohort-exact and roster-reversible (#405)
  backend/api/timetable/instance_students_unit_test.go
  backend/database/migrations/001015223_grade_transition_roster_removals.go
  backend/database/repositories/education/grade_transition.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/models/education/grade_transition.go
  backend/models/schedule/instance_student.go
  backend/services/education/grade_transition_findings_test.go
  backend/services/education/grade_transition_roster_reconcile_test.go
  backend/services/education/grade_transition_service.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/roster_reconciler.go
  frontend/src/components/database/grade-transitions/grade-transitions-manager.test.tsx
  frontend/src/components/database/grade-transitions/grade-transitions-manager.tsx
Due: frontend-lint, go-imports

feat(time-tracking): tenantweite Zeiterfassungssicht + Monatsabschluss
  backend/api/base.go
  backend/api/staff/api.go
  backend/api/staff/month_close_handlers.go
  backend/api/staff/overview_api_test.go
  backend/api/staff/overview_handlers.go
  backend/api/staff/staff_test.go
  backend/api/testdata/route_table.golden
  backend/database/migrations/001015222_staff_month_balance_snapshots.go
  backend/database/repositories/active/staff_absence.go
  backend/database/repositories/active/staff_balance_adjustment.go
  backend/database/repositories/active/staff_month_balance_snapshot.go
  backend/database/repositories/active/staff_vacation_quota.go
  backend/database/repositories/active/work_session.go
  backend/database/repositories/active/work_session_break.go
  backend/database/repositories/config/staff_work_schedule.go
  backend/database/repositories/factory.go
  backend/database/repositories/schedule/staff_shift_repo.go
  backend/database/repositories/users/staff.go
  backend/models/active/repository.go
  backend/models/active/staff_month_balance_snapshot.go
  backend/models/config/staff_work_schedule.go
  backend/models/schedule/repository.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/staff_balance_adjustment_service.go
  backend/services/active/staff_month_close_service.go
  backend/services/active/staff_overview_integration_test.go
  backend/services/active/staff_overview_service.go
  backend/services/active/work_session_autocheckout_mock_test.go
  backend/services/active/work_session_service_test.go
  backend/services/active/work_time_month_prefetch.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_snapshot_test.go
  backend/services/factory.go
  backend/services/schedule/staff_shift_service_mock_test.go
Due: go-imports

test(time-tracking): Zeitabhängigkeit im Auszahlungs-Fixture beseitigen
  backend/api/staff/balance_adjustment_api_test.go
Due: go-imports

feat: add pitch team slide
  frontend/public/pitch/reach/team/christian-kamann.webp
  frontend/public/pitch/reach/team/conrad-reintjes.webp
  frontend/public/pitch/reach/team/florian-luettgenau-v7.png
  frontend/public/pitch/reach/team/jule-soll-v2.webp
  frontend/public/pitch/reach/team/tristan-heitger-v3.png
  frontend/public/pitch/reach/team/yannick-wenger-v4.png
  frontend/src/app/reach-pitch/page.tsx
Due: frontend-lint

copy: refine pitch team roles
  frontend/src/app/reach-pitch/page.tsx
Due: frontend-lint

fix(audit): fail the migration when the default ACL revoke misses (#1924)
  backend/database/migrations/001015225_audit_append_only_grants.go
Due: go-imports

fix(enrollment): apply full renewal semantics on existing-student approval (#1663)
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
Due: go-imports

fix(education): close tenant, roster-replay, and revert-target gaps (#405)
  backend/api/timetable/instance_students_unit_test.go
  backend/database/migrations/001015223_grade_transition_roster_removals.go
  backend/database/repositories/education/grade_transition.go
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/models/education/grade_transition.go
  backend/models/schedule/activity_instance.go
  backend/models/schedule/instance_student.go
  backend/services/education/grade_transition_roster_reconcile_test.go
  backend/services/education/grade_transition_service.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/materialization_service.go
  backend/services/schedule/roster_reconciler.go
  backend/services/schedule/template_recurrence_lock.go
  backend/services/scheduler/setters_test.go
  frontend/src/components/database/grade-transitions/grade-transitions-manager.test.tsx
  frontend/src/components/database/grade-transitions/grade-transitions-manager.tsx
Due: frontend-lint, go-imports

copy: update pitch team role
  frontend/src/app/reach-pitch/page.tsx
Due: frontend-lint

fix(enrollment): stop phase-save class loss and unmask late-invite lookup failures (#1663)
  backend/database/repositories/enrollment/late_invite_repository.go
  backend/models/enrollment/late_invite.go
  backend/services/enrollment/late_invite_audience_test.go
  backend/services/enrollment/request_service.go
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/phases-editor.tsx
Due: frontend-lint, go-imports

fix(education): protect recorded attendance, preserved enrollments, and previewed cohorts (#405)
  backend/api/admin/grade_transitions.go
  backend/api/iot/internal/shared/errors.go
  backend/api/iot/internal/shared/errors_test.go
  backend/database/migrations/001015224_grade_transition_roster_baseline.go
  backend/database/repositories/education/grade_transition.go
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/models/education/grade_transition.go
  backend/models/schedule/activity_instance.go
  backend/models/schedule/recurrence_lock.go
  backend/services/activities/activity_service_test.go
  backend/services/activities/enrollment_operations.go
  backend/services/education/grade_transition_findings_test.go
  backend/services/education/grade_transition_roster_reconcile_test.go
  backend/services/education/grade_transition_service.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/roster_reconciler.go
  backend/services/schedule/template_recurrence_lock.go
  backend/services/scheduler/setters_test.go
  frontend/src/app/api/admin/grade-transitions/[id]/apply/route.ts
  frontend/src/components/database/grade-transitions/grade-transitions-manager.test.tsx
  frontend/src/components/database/grade-transitions/transition-preview-modal.tsx
  frontend/src/lib/grade-transition-api.ts
Due: frontend-lint, go-imports

fix(audit): revoke tenant privileges on the backup-table sequences (#1924)
  backend/database/migrations/001015225_audit_append_only_grants.go
  backend/database/migrations/001015225_audit_append_only_grants_test.go
Due: go-imports

fix(time-tracking): serialize month-close invariants
  backend/models/active/repository.go
  backend/services/active/staff_balance_adjustment_service.go
  backend/services/active/staff_balance_adjustment_service_mock_test.go
  backend/services/active/staff_month_close_service.go
  backend/services/active/staff_month_close_service_mock_test.go
Due: go-imports
