Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(staff): schedule orphan document cleanup
  backend/api/server.go
  backend/api/staff/document_cleanup.go
  backend/api/staff/documents_api_test.go
  backend/database/repositories/platform/school_repository.go
  backend/models/platform/repository.go
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/staff_document_cleanup.go
  backend/services/scheduler/staff_document_cleanup_test.go
  backend/test/repo_mocks.go
Due: go-imports

fix(staff): retry deleted document files
  backend/api/staff/document_cleanup.go
  backend/api/staff/documents_api_test.go
  backend/database/repositories/users/staff_document.go
  backend/models/users/staff_document.go
  backend/services/users/staff_document_service.go
Due: go-imports

fix: restore parent portal control interactions
  frontend/src/components/parent/child-detail.tsx
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/parent/child-master-data.tsx
  frontend/src/components/parent/child-row.tsx
  frontend/src/components/parent/parent-page.tsx
  frontend/src/components/ui/avatar.test.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/button.tsx
Due: frontend-lint

chore(frontend): tote Exports aus dem Elternportal-Refactor entfernen
  frontend/src/components/parent/parent-page.tsx
  frontend/src/components/ui/section-card.tsx
Due: frontend-lint

fix(calendar): Migrationskollision und Datumsüberlauf der Terminerinnerung beheben
  backend/database/migrations/001015253_appointment_reminder_push_deliveries.go
  backend/database/migrations/001015254_appointment_reminder_push_revisions.go
  backend/database/migrations/001015255_appointment_reminder_push_delivery_access.go
  backend/database/migrations/001015256_fix_appointment_reminder_push_release.go
  backend/database/repositories/calendar/appointment_repository.go
  backend/services/calendar/reminders_integration_test.go
  backend/test/calendar_date_verification_test.go
Due: go-imports

test(notifications): Terminerinnerungs- und Push-Pfade abdecken
  backend/database/repositories/calendar/appointment_repository_internal_test.go
  backend/services/calendar/email_test.go
  backend/services/calendar/notifications_dispatch_test.go
  backend/services/calendar/reminders_failure_test.go
  backend/services/calendar/reminders_override_test.go
  backend/services/messaging/notify_internal_test.go
  backend/services/notifications/service_synchronous_test.go
  backend/services/notifications/webpush_channel_sync_internal_test.go
  backend/services/parentmessaging/decision_notification_integration_test.go
Due: go-imports

test(parent): Assertions an das entdoppelte Elternportal anpassen
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/parent/parent-portal.test.tsx
Due: frontend-lint

fix(calendar): Push-Erinnerung von der Outbox lösen und Ansprüche freigeben
  backend/database/migrations/001015254_appointment_reminder_push_revisions.go
  backend/services/calendar/reminders.go
  backend/services/calendar/reminders_integration_test.go
  docs/notifications.md
Due: go-imports

fix(staff): keep the category select border on the kit gray
  frontend/src/components/staff/dokumente-tab.tsx
Due: frontend-lint

docs(calendar): Semantik der Erinnerungs-Ansprüche richtig beschreiben
  backend/services/calendar/reminders.go
  docs/notifications.md
Due: go-imports

fix(parentmessaging): Kindzugriff vor der Entscheidungs-Push erneut prüfen
  backend/services/parentmessaging/decision_notification_integration_test.go
  backend/services/parentmessaging/emitter.go
  docs/notifications.md
Due: go-imports

fix(notifications): Kindzugriff im Zustellweg der Eltern-Push prüfen
  backend/database/repositories/iot/push_subscription.go
  backend/database/repositories/iot/push_subscription_repository_test.go
  backend/models/iot/push_subscription.go
  backend/services/messaging/notify_internal_test.go
  backend/services/messaging/service.go
  backend/services/notifications/service.go
  backend/services/notifications/webpush_channel.go
  backend/services/notifications/webpush_channel_internal_test.go
  backend/services/parentmessaging/emitter.go
  docs/notifications.md
Due: go-imports

perf(students): schlanke Listen-Projektion fuer die Kindersuche
  backend/api/students/list_helpers.go
  backend/api/students/list_projection.go
  backend/api/students/list_projection_internal_test.go
  backend/api/students/list_projection_test.go
  backend/api/students/student_handlers.go
  frontend/src/lib/api.ts
Due: frontend-lint, go-imports

perf(sse): Kindersuche-Invalidierung auf den Gruppen-Scope eingrenzen
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/swr/room-derived-caches.ts
  frontend/src/lib/swr/search-students-key.ts
Due: frontend-lint

test(staff): cover the document client, model and rollback hooks
  backend/models/users/staff_document_test.go
  backend/tenant/afterrollback_internal_test.go
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-documents-api.test.ts
Due: frontend-lint, go-imports

fix(staff): keep document cleanup progress on partial failure
  backend/services/scheduler/staff_document_cleanup.go
  backend/services/scheduler/staff_document_cleanup_test.go
Due: go-imports

fix(sse): Gruppenzugriffs-Wechsel invalidiert die Kindersuche
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

fix(students): align slim payload and SSE scope
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/app/api/students/route.test.ts
  frontend/src/app/api/students/route.ts
  frontend/src/lib/hooks/use-global-sse.test.ts
  frontend/src/lib/student-helpers.ts
  frontend/src/lib/swr/search-students-key.ts
Due: frontend-lint

fix(active): Web-Checkout sendet wieder SSE-Ereignisse (#2113)
  backend/services/active/active_service.go
  backend/services/active/attendance_service.go
Due: go-imports

test(active): Checkout-Broadcast gegen #2113 absichern
  backend/services/active/checkout_broadcast_test.go
Due: go-imports

fix: redact sensitive frontend log fields
  frontend/.oxlintrc.json
  frontend/scripts/oxlint-plugin-logging-safety.mjs
  frontend/src/app/api/logs/route.test.ts
  frontend/src/app/api/logs/route.ts
  frontend/src/components/database/configs/teachers.config.test.tsx
  frontend/src/components/database/configs/teachers.config.tsx
  frontend/src/lib/active-service.test.ts
  frontend/src/lib/active-service.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
  frontend/src/lib/logger.redaction.test.ts
  frontend/src/lib/logger.ts
Due: frontend-lint

fix(active): Check-in sendet SSE-Ereignisse (#2113)
  backend/services/active/active_service.go
  backend/services/active/attendance_broadcast_test.go
  backend/services/active/attendance_service.go
  backend/services/active/attendance_service_retry_mock_test.go
Due: go-imports

test(active): Check-in-Broadcast absichern
  backend/services/active/attendance_broadcast_test.go
Due: go-imports

refactor(active): BroadcastDailyCheckout entfernen
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/services/active/attendance_service.go
  backend/services/active/attendance_service_test.go
  backend/services/active/broadcast_test.go
  backend/services/active/interface.go
  backend/services/scheduler/scheduler_test.go
  backend/services/usercontext/sse_subscription_internal_test.go
Due: go-imports

fix(calendar): Kindzugriff auch bei Termin-Push beim Senden prüfen
  backend/database/repositories/calendar/appointment_repository.go
  backend/database/repositories/iot/push_subscription.go
  backend/database/repositories/iot/push_subscription_repository_test.go
  backend/models/iot/push_subscription.go
  backend/services/calendar/notifications.go
  backend/services/calendar/notifications_dispatch_test.go
  backend/services/calendar/reminders.go
  backend/services/messaging/notify_internal_test.go
  backend/services/messaging/service.go
  backend/services/notifications/service.go
  backend/services/notifications/webpush_channel.go
  backend/services/notifications/webpush_channel_internal_test.go
  backend/services/parentmessaging/emitter.go
  docs/notifications.md
Due: go-imports

fix: redact API and header credentials in frontend logs
  frontend/src/app/api/logs/route.test.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
  frontend/src/lib/logger.redaction.test.ts
Due: frontend-lint

fix(active): preserve checkout broadcasts for healed visits
  backend/services/active/active_service.go
  backend/services/active/attendance_broadcast_test.go
  backend/services/active/attendance_service.go
Due: go-imports

fix: redact JWT and API key header credentials
  frontend/src/app/api/logs/route.test.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
  frontend/src/lib/logger.redaction.test.ts
Due: frontend-lint

fix: harden frontend log redaction
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
  frontend/src/lib/logger.redaction.test.ts
  frontend/src/lib/logger.ts
Due: frontend-lint

fix: redact complete unquoted log credentials
  frontend/src/app/api/logs/route.test.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
Due: frontend-lint

fix: resolve structured logger bindings in lint rule
  frontend/scripts/oxlint-plugin-logging-safety.mjs
  frontend/scripts/oxlint-plugin-logging-safety.test.ts
Due: frontend-lint

fix: redact acronym keys and staff PIN headers
  frontend/src/app/api/logs/route.test.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
Due: frontend-lint

fix: redact compound token fields in log text
  frontend/src/app/api/logs/route.test.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
Due: frontend-lint

fix: cover compound credentials in log safeguards
  frontend/scripts/oxlint-plugin-logging-safety.mjs
  frontend/scripts/oxlint-plugin-logging-safety.test.ts
  frontend/src/app/api/logs/route.test.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
Due: frontend-lint

fix: redact proxied calendar capability URLs
  frontend/src/app/api/logs/route.test.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
Due: frontend-lint

fix: harden frontend log safeguards
  frontend/scripts/oxlint-plugin-logging-safety.mjs
  frontend/scripts/oxlint-plugin-logging-safety.test.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
Due: frontend-lint

fix: redact escaped serialized credentials
  frontend/src/app/api/logs/route.test.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
Due: frontend-lint

fix: redact invitation tokens and staff auth IDs
  frontend/src/app/api/logs/route.test.ts
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
Due: frontend-lint

fix: make frontend log redaction linear
  frontend/src/lib/log-redaction.test.ts
  frontend/src/lib/log-redaction.ts
Due: frontend-lint

fix(staff): proxy the document profile route
  frontend/src/app/api/staff/documents-profile/[id]/route.ts
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
