Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: stabilize enrollment review tests
  backend/api/enrollment/change_request_review_list_router_test.go
  backend/api/enrollment/main_test.go
Due: go-imports

fix: preserve planned room lookup errors
  backend/services/active/session_service.go
  backend/services/active/session_service_internal_test.go
Due: go-imports

fix: Kind-Kontext ist kein Filter im Änderungsprotokoll
  frontend/src/components/students/aggregated-request-list.tsx
Due: frontend-lint

docs: Screenshots für PR #2457
  screenshots-pr2457/01-protokoll-desktop.png
  screenshots-pr2457/02-protokoll-leer.png
  screenshots-pr2457/03-protokoll-mobil.png
Due: none

test: Kind-Filter im Änderungsprotokoll-Client abdecken
  frontend/src/lib/change-request-list-api.test.ts
Due: frontend-lint

fix student change protocol rendering
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/change-protocol-tab.test.tsx
  frontend/src/components/students/change-protocol-tab.tsx
Due: frontend-lint

test make change request filter hermetic
  backend/api/students/change_request_list_db_test.go
Due: go-imports

test remove redundant change request cleanup
  backend/api/students/change_request_list_db_test.go
Due: go-imports

test: drop redundant change request fixture cleanup
  backend/api/students/change_request_list_db_test.go
Due: go-imports

test: adopt parallel test harness
  backend/api/time-tracking/api_test.go
  backend/database/repositories/active/work_session_test.go
  backend/models/active/work_session_test.go
  backend/services/active/labor_time_policy_test.go
  backend/services/active/staff_overview_integration_test.go
  backend/services/active/work_session_service_test.go
  backend/services/active/work_time_month_service_mock_test.go
  backend/services/iot/staffclock/service_internal_test.go
Due: go-imports

test: align work session fixtures
  backend/database/repositories/active/work_session_test.go
  backend/services/active/staff_overview_integration_test.go
Due: go-imports

fix(time-tracking): retain overnight open blocks
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
Due: go-imports

fix(time-tracking): cap stale open blocks by age
  backend/services/active/work_time_month_service.go
Due: go-imports

fix(time-tracking): align overnight work totals
  backend/services/active/labor_time_policy.go
  backend/services/active/labor_time_policy_test.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  backend/services/iot/staffclock/service.go
  backend/services/iot/staffclock/service_internal_test.go
Due: go-imports

fix(time-tracking): split chart totals by day
  frontend/src/components/staff/uebersicht-tab.overnight.test.ts
  frontend/src/components/staff/uebersicht-tab.tsx
Due: frontend-lint

fix(time-tracking): split overnight blocks by day
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/uebersicht-tab.overnight.test.ts
  frontend/src/components/staff/uebersicht-tab.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/time-tracking-helpers.test.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

fix(time-tracking): preserve complete night blocks
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-session-table.blocks.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/uebersicht-tab.tsx
Due: frontend-lint, go-imports

docs: Anfragen-Texte auf den fertigen Stand ziehen
  backend/api/students/change_request_history_responses.go
  frontend/src/app/[tenant]/(protected)/anfragen/page.tsx
  frontend/src/app/api/students/care-schedule-change-requests/history/route.ts
  frontend/src/app/api/students/care-schedule-change-requests/route.ts
  frontend/src/app/api/students/excused-absence-requests/history/route.ts
  frontend/src/app/api/students/excused-absence-requests/route.ts
  frontend/src/app/api/students/master-data-change-requests/history/route.test.ts
  frontend/src/app/api/students/master-data-change-requests/history/route.ts
  frontend/src/app/api/students/master-data-change-requests/route.test.ts
  frontend/src/app/api/students/master-data-change-requests/route.ts
  frontend/src/app/api/students/offering-change-requests/history/route.ts
  frontend/src/app/api/students/offering-change-requests/route.ts
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

refactor: durch den Aggregator tot gewordene Anfragen-Routen entfernen
  backend/api/students/api.go
  backend/api/students/care_request_frozen_history_test.go
  backend/api/students/care_request_review_handlers.go
  backend/api/students/change_request_history_handlers_test.go
  backend/api/students/change_request_history_responses.go
  backend/api/students/change_request_list_handlers_test.go
  backend/api/students/change_request_pending_count_test.go
  backend/api/students/excused_request_review_handlers.go
  backend/api/students/master_data_review_handlers.go
  backend/api/students/master_data_review_handlers_test.go
  backend/api/students/offering_request_review_handlers.go
  backend/api/students/open_care_absence_test.go
  frontend/src/lib/care-request-review-api.test.ts
  frontend/src/lib/care-request-review-api.ts
  frontend/src/lib/excused-request-review-api.test.ts
  frontend/src/lib/excused-request-review-api.ts
  frontend/src/lib/master-data-review-api.test.ts
  frontend/src/lib/master-data-review-api.ts
  frontend/src/lib/offering-request-review-api.test.ts
  frontend/src/lib/offering-request-review-api.ts
Due: frontend-lint, go-imports

feat: historische Angebots-Korrekturen im Änderungsprotokoll sichtbar machen
  backend/database/migrations/001015309_offering_adjustment_source_backfill.go
  backend/database/migrations/001015309_offering_adjustment_source_backfill_test.go
Due: go-imports

fix(time-tracking): batch overnight work totals
  backend/services/active/work_time_month_prefetch.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/lib/hooks/use-period-metrics.ts
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
  frontend/src/lib/time-tracking-helpers.test.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

test(time-tracking): cover overnight week range
  frontend/src/lib/hooks/use-period-metrics.test.ts
Due: frontend-lint

fix(time-tracking): align daily block summaries
  backend/services/active/work_session_service.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/uebersicht-tab.tsx
Due: frontend-lint, go-imports

fix(time-tracking): toten Code und Lint-Befunde entfernt (#2402)
  backend/api/staff/balance_adjustment_api_test.go
  backend/models/active/work_session.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_time_month_service.go
Due: go-imports

fix(time-tracking): preserve custom absence types
  backend/api/absence-types/api.go
  backend/services/active/staff_absence_merge_audit_mock_test.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/use-absence-type-options.ts
  frontend/src/lib/absence-type-api.ts
  frontend/src/lib/absence-type-select.test.ts
  frontend/src/lib/absence-type-select.ts
  frontend/src/lib/time-tracking-api.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

docs: QA-Screenshots fuer PR #2460
  screenshots-pr2460/01-anfragen-offen.png
  screenshots-pr2460/02-anfragen-historie.png
  screenshots-pr2460/03-kinderkartei-protokoll.png
  screenshots-pr2460/04-mitarbeitende-tab.png
Due: none

fix: preserve supervision rollout compatibility
  backend/api/common/handler_builders.go
  backend/api/common/handler_builders_test.go
  backend/api/usercontext/api.go
  backend/middleware/ratelimit.go
  backend/middleware/ratelimit_test.go
  backend/realtime/events.go
  backend/services/active/active_service.go
  backend/services/active/attendance_broadcast_test.go
  backend/services/active/broadcast_test.go
  backend/services/active/school_checkin_batch.go
  backend/services/active/session_service.go
  backend/services/active/sse_adapter.go
  backend/services/active/visit_helpers.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/supervision-context.test.tsx
  loadtests/README.md
  loadtests/node/parallel-supervision.mjs
Due: frontend-lint, go-imports

fix(api): preserve absence request response fields
  backend/api/testdata/route_table.golden
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
Due: go-imports

fix request queue cursor and backfill matching
  backend/api/students/change_request_list_handlers.go
  backend/api/students/change_request_list_handlers_test.go
  backend/database/migrations/001015309_offering_adjustment_source_backfill.go
  backend/database/migrations/001015309_offering_adjustment_source_backfill_test.go
  backend/test/hermetic_verification_test.go
Due: go-imports

test(time-tracking): mock absence type options
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
Due: frontend-lint

fix: harden rate limit backoff handling
  backend/middleware/ratelimit.go
  backend/middleware/ratelimit_test.go
  backend/services/active/session_service.go
  frontend/src/lib/rate-limit-backoff.test.ts
  frontend/src/lib/rate-limit-backoff.ts
  frontend/src/lib/swr/config.test.ts
Due: frontend-lint, go-imports

test: fail Playwright tests on first attempt
  frontend/playwright.config.ts
  frontend/playwright.guides.config.ts
  frontend/scripts/generate-guides.ts
Due: frontend-lint

fix(time-tracking): handle retired absence types
  backend/database/migrations/001015308_staff_absence_types.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/staff_time_export_rows.go
  backend/services/active/work_session_export_test.go
  frontend/src/components/ui/creatable-select.test.tsx
  frontend/src/components/ui/creatable-select.tsx
Due: frontend-lint, go-imports

fix: harden supervision update recovery
  frontend/src/app/providers.tsx
  frontend/src/components/notifications/notification-bridge.tsx
  frontend/src/components/rate-limit-bridge.tsx
  frontend/src/lib/api-interceptor.test.ts
  frontend/src/lib/api-transport.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/rate-limit-backoff.ts
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

fix: preserve legacy supervision updates
  backend/services/active/active_service.go
  backend/services/active/broadcast_test.go
  backend/services/active/school_checkin_batch.go
  backend/services/active/session_service.go
  backend/services/active/sse_adapter.go
Due: go-imports

fix: restore attendance SSE compatibility
  backend/services/active/active_service.go
  backend/services/active/attendance_broadcast_test.go
  backend/services/active/broadcast_test.go
  backend/services/active/school_checkin_batch.go
  backend/services/active/session_service.go
  backend/services/active/sse_adapter.go
Due: go-imports

fix: make tenant test fixtures concurrent-safe
  backend/test/fixtures.go
  backend/test/fixtures_tenant_test.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
