Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix: grant SELECT on platform.operators to phoenix_tenant role
  backend/database/migrations/001015004_grant_tenant_platform_operators.go
Due: go-imports

fix: add JWT token refresh for operator dashboard
  backend/api/operator/api.go
  backend/api/operator/auth.go
  backend/api/operator/auth_test.go
  backend/api/operator/errors.go
  backend/services/platform/operator_auth_service.go
  frontend/src/app/api/operator/refresh/route.ts
  frontend/src/lib/operator/auth-context.tsx
  frontend/src/lib/operator/route-wrapper.ts
Due: frontend-lint, go-imports

test: add coverage for operator token refresh across backend and frontend
  backend/api/operator/auth_test.go
  backend/services/platform/operator_auth_service_test.go
  frontend/src/app/api/operator/refresh/route.test.ts
  frontend/src/lib/operator/auth-context.test.tsx
  frontend/src/lib/operator/route-wrapper.test.ts
Due: frontend-lint, go-imports

fix: harden operator token refresh with scope validation and safe assertions
  backend/api/operator/auth.go
  frontend/src/lib/operator/auth-context.tsx
Due: frontend-lint, go-imports

fix: recover operator session via refresh on startup and survive transient 5xx
  frontend/src/lib/operator/auth-context.test.tsx
  frontend/src/lib/operator/auth-context.tsx
Due: frontend-lint

fix: harden operator JWT refresh with singleflight dedup, request queue, and expiry-aware polling
  frontend/src/app/api/operator/login/route.ts
  frontend/src/app/api/operator/refresh/route.test.ts
  frontend/src/app/api/operator/refresh/route.ts
  frontend/src/lib/operator/auth-context.test.tsx
  frontend/src/lib/operator/auth-context.tsx
  frontend/src/lib/operator/jwt-utils.test.ts
  frontend/src/lib/operator/jwt-utils.ts
  frontend/src/lib/operator/route-wrapper.test.ts
  frontend/src/lib/operator/route-wrapper.ts
Due: frontend-lint

fix: address phase 4 multi-tenancy review findings (security + isolation)
  backend/database/migrations/001015002_create_composite_fks.go
  backend/database/migrations/001015005_security_invoker_views.go
  backend/database/repositories/auth/account_role.go
  backend/database/repositories/auth/permission.go
  backend/dev.env.example
  backend/models/audit/auth_event.go
  backend/models/auth/repository.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_switch_tenant.go
  frontend/src/components/tenant/tenant-provider.tsx
  frontend/src/lib/swr/hooks.test.ts
  frontend/src/lib/swr/hooks.ts
  frontend/src/middleware.ts
Due: frontend-lint, go-imports

fix: resolve CI failures from phase 4 review commit
  backend/database/migrations/001015005_security_invoker_views.go
  backend/services/auth/test_helpers_test.go
  frontend/src/components/tenant/tenant-provider.tsx
  frontend/src/lib/swr/hooks.test.ts
  frontend/src/lib/swr/hooks.ts
Due: frontend-lint, go-imports

fix: remove dead loadAccountPermissions and suppress knip for useTenantSlugSafe
  backend/services/auth/auth_login.go
  frontend/src/components/tenant/tenant-provider.tsx
Due: frontend-lint, go-imports

fix: remove shared module-level refresh state to prevent cross-operator session bleed
  frontend/src/lib/operator/route-wrapper.test.ts
  frontend/src/lib/operator/route-wrapper.ts
Due: frontend-lint

feat: enrich tenant resolve response with orgId, orgName, and settings
  backend/api/auth/api.go
  backend/database/repositories/platform/school_repository.go
  frontend/src/app/[tenant]/layout.tsx
  frontend/src/lib/tenant-api.ts
Due: frontend-lint, go-imports

fix: scope ValidateToken role/permission loading to JWT tenant
  backend/services/auth/auth_login.go
Due: go-imports

feat: move TenantTxMiddleware to per-route and add TenantSwitcher UI
  backend/api/active/api.go
  backend/api/activities/api.go
  backend/api/admin/grade_transitions.go
  backend/api/auth/api.go
  backend/api/config/api.go
  backend/api/feedback/api.go
  backend/api/groups/api.go
  backend/api/guardians/api.go
  backend/api/import/api.go
  backend/api/iot/api.go
  backend/api/rooms/api.go
  backend/api/schedules/api.go
  backend/api/staff/api.go
  backend/api/students/api.go
  backend/api/substitutions/api.go
  backend/api/suggestions/api.go
  backend/api/testutil/helpers.go
  backend/api/time-tracking/api.go
  backend/api/usercontext/api.go
  backend/api/users/api.go
  backend/database/repositories/platform/school_repository.go
  backend/models/platform/repository.go
  frontend/src/app/api/auth/account-tenants/route.ts
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/tenant/tenant-switcher.tsx
  frontend/src/lib/tenant-api.ts
Due: frontend-lint, go-imports

fix: add TenantSwitcher mock to header test
  frontend/src/components/dashboard/header.test.tsx
Due: frontend-lint

test: add coverage tests for multi-tenancy tenant switching
  backend/services/auth/auth_switch_tenant_test.go
  frontend/src/app/api/auth/account-tenants/route.test.ts
  frontend/src/app/api/auth/switch-tenant/route.test.ts
  frontend/src/app/api/tenant/resolve/route.test.ts
  frontend/src/components/tenant/tenant-provider.test.tsx
  frontend/src/components/tenant/tenant-switcher.test.tsx
  frontend/src/lib/tenant-api.test.ts
  frontend/src/test/setup.ts
Due: frontend-lint, go-imports

fix: remove SwitchTenant success test that hits unresolved schema issue
  backend/services/auth/auth_switch_tenant_test.go
Due: go-imports

feat: add Phase 4 spec compliance fixes (CSP headers, ESLint SWR rule, Bruno scaffold)
  backend/models/active/cross_tenant.go
  backend/services/auth/auth_switch_tenant_test.go
  backend/test/fixtures.go
  backend/test/helpers.go
  bruno/auth/account-tenants.bru
  bruno/auth/login.bru
  bruno/auth/switch-tenant.bru
  bruno/collection.bru
  bruno/environments/local.bru
  bruno/tenant/resolve.bru
  frontend/eslint.config.js
  frontend/src/app/(operator)/operator/announcements/page.tsx
  frontend/src/app/(operator)/operator/suggestions/[id]/page.tsx
  frontend/src/app/(operator)/operator/suggestions/page.tsx
  frontend/src/lib/hooks/use-announcements.test.ts
  frontend/src/lib/hooks/use-announcements.ts
  frontend/src/lib/swr/hooks.test.ts
  frontend/src/lib/swr/hooks.ts
  frontend/src/middleware.ts
Due: frontend-lint, go-imports

fix: update proxy.test.ts mock to include headers for CSP middleware
  frontend/src/proxy.test.ts
Due: frontend-lint

feat: add TenantGuard for two-tab tenant mismatch detection (FIX-6)
  frontend/src/app/[tenant]/layout.tsx
  frontend/src/components/tenant/tenant-guard.test.tsx
  frontend/src/components/tenant/tenant-guard.tsx
  frontend/src/server/auth/config.ts
Due: frontend-lint

docs: add multi-tenancy architecture planning documents
  docs/multi-tenancy/00-status-quo-analyse.md
  docs/multi-tenancy/01-architektur-vorschlag.md
  docs/multi-tenancy/02-phasen-plan.md
  docs/multi-tenancy/03-schnittstellen-definition.md
Due: none

docs: add requirements document and renumber multi-tenancy docs
  docs/multi-tenancy/00-anforderungen.md
  docs/multi-tenancy/01-status-quo-analyse.md
  docs/multi-tenancy/02-architektur-vorschlag.md
  docs/multi-tenancy/03-phasen-plan.md
  docs/multi-tenancy/04-schnittstellen-definition.md
Due: none

docs: add Eltern role and Betreuer edge cases to requirements
  docs/multi-tenancy/00-anforderungen.md
Due: none

docs: update requirements with team feedback
  docs/multi-tenancy/00-anforderungen.md
  docs/multi-tenancy/03-phasen-plan.md
Due: none

docs: add validated technical recommendation for multi-tenancy
  docs/multi-tenancy/05-technische-empfehlung.md
Due: none

docs: split technical recommendation into granular documents
  docs/multi-tenancy/01-architektur.md
  docs/multi-tenancy/02-datenbank.md
  docs/multi-tenancy/03-backend.md
  docs/multi-tenancy/04-frontend.md
  docs/multi-tenancy/05-technische-empfehlung.md
  docs/multi-tenancy/05-testing.md
  docs/multi-tenancy/legacy/01-status-quo-analyse.md
  docs/multi-tenancy/legacy/02-architektur-vorschlag.md
  docs/multi-tenancy/legacy/03-phasen-plan.md
  docs/multi-tenancy/legacy/04-schnittstellen-definition.md
Due: none

docs: add multi-tenancy architecture debate decisions (D1-D17)
  docs/multi-tenancy/DEBATE.md
Due: none

docs: add open issues and feasibility investigation report
  docs/multi-tenancy/06-offene-punkte.md
  docs/multi-tenancy/07-investigation-report.md
Due: none

docs: align multi-tenancy docs with DEBATE decisions D1-D17
  docs/multi-tenancy/00-anforderungen.md
  docs/multi-tenancy/01-architektur.md
  docs/multi-tenancy/03-backend.md
  docs/multi-tenancy/04-frontend.md
Due: none

docs: add 6 codebase-audit findings to multi-tenancy open issues
  docs/multi-tenancy/06-offene-punkte.md
Due: none

docs: align remaining multi-tenancy docs with DEBATE decisions
  docs/multi-tenancy/02-datenbank.md
  docs/multi-tenancy/03-backend.md
  docs/multi-tenancy/05-testing.md
Due: none

docs: add multi-tenancy plan review and devil's advocate findings
  docs/multi-tenancy/08-review-yonnock.md
  docs/multi-tenancy/09-devils-advocate-findings-yonnock.md
Due: none

docs: reverse D13 — per-tenant RBAC replaces global roles
  docs/multi-tenancy/00-anforderungen.md
  docs/multi-tenancy/02-datenbank.md
  docs/multi-tenancy/03-backend.md
  docs/multi-tenancy/05-testing.md
  docs/multi-tenancy/06-offene-punkte.md
  docs/multi-tenancy/DEBATE.md
Due: none

docs: resolve all remaining multi-tenancy review findings
  docs/multi-tenancy/02-datenbank.md
  docs/multi-tenancy/03-backend.md
  docs/multi-tenancy/04-frontend.md
  docs/multi-tenancy/05-testing.md
  docs/multi-tenancy/06-offene-punkte.md
  docs/multi-tenancy/DEBATE.md
Due: none

docs: fix C-1/C-2 from devil's advocate review
  docs/multi-tenancy/03-backend.md
  docs/multi-tenancy/04-frontend.md
  docs/multi-tenancy/07-devils-advocate-review.md
Due: none

docs: devils advocate
  docs/multi-tenancy/10-codebase-audit-findings.md
Due: none

docs: devils advocate 2
  docs/multi-tenancy/12-devils-advocate-4-agents.md
Due: none

docs: fix 5 consistency issues across multi-tenancy plan
  docs/multi-tenancy/01-architektur.md
  docs/multi-tenancy/02-datenbank.md
  docs/multi-tenancy/05-testing.md
  docs/multi-tenancy/DEBATE.md
Due: none

docs: add multi-tenancy implementation plan
  docs/multi-tenancy/11-implementierungsplan.md
Due: none

docs: recommendations
  docs/multi-tenancy/13-plan-review-recommendations.md
Due: none

feat: add multi-tenancy Phase 1 foundation primitives
  backend/auth/jwt/claims.go
  backend/auth/jwt/claims_test.go
  backend/auth/jwt/tenant_middleware.go
  backend/auth/jwt/tenant_middleware_test.go
  backend/auth/jwt/tokenauth.go
  backend/database/migrations/001013001_create_organizations_and_schools.go
  backend/database/migrations/001013002_create_account_tenants.go
  backend/database/repositories/base/helpers.go
  backend/database/repositories/base/tenant_db.go
  backend/models/auth/account_tenant.go
  backend/models/base/tenant.go
  backend/models/platform/organization.go
  backend/models/platform/school.go
  backend/tenant/context.go
  backend/tenant/context_test.go
  backend/tenant/tx.go
  backend/tenant/tx_test.go
  backend/test/fixtures.go
  docs/multi-tenancy/14-phase1-implementation-summary.md
Due: go-imports
