Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(import): Modus-Auswahl auf schmalen Bildschirmen nicht abschneiden
  frontend/src/components/import/import-mode-selector.tsx
Due: frontend-lint

fix(team-chat): quorum-Befunde abarbeiten (#2598)
  backend/api/common/errors.go
  backend/api/server.go
  backend/api/staffmessaging/errors.go
  backend/database/repositories/users/staff_message_read.go
  backend/database/repositories/users/staff_message_thread.go
  backend/models/users/staff_message_read.go
  backend/models/users/staff_message_thread.go
  backend/seed/api/seed_staff_messaging.go
  backend/seed/api/workflow_steps.go
  backend/services/staffmessaging/cleanup.go
  backend/services/staffmessaging/isolation_test.go
  backend/services/staffmessaging/service.go
  frontend/src/app/[tenant]/(protected)/team-chat/[threadID]/page.tsx
  frontend/src/test/setup.ts
Due: frontend-lint, go-imports

fix(team-chat): Senden darf eingehende Nachrichten nicht als gelesen markieren (#2598)
  backend/services/staffmessaging/service.go
  backend/services/staffmessaging/service_test.go
Due: go-imports

docs(team-chat): Screenshot fuer das Hilfe-Guide-Kapitel (#2598)
  frontend/public/help/screens/team-chat.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

docs(team-chat): Guide-Bild zeigt jetzt mehrere Unterhaltungen (#2598)
  frontend/public/help/screens/team-chat.webp
Due: none

fix(import): Review-Runde 3: Modus-Auswahl inline, umbrechende Segmente, Erziehungsberechtigte ohne E-Mail nicht doppelt anlegen
  backend/services/import/stammdaten_import_test.go
  backend/services/import/student_import_config.go
  frontend/src/app/[tenant]/(protected)/database/personal/import/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/import/page.tsx
  frontend/src/components/import/import-mode-selector.tsx
  frontend/src/components/ui/segmented-control.tsx
  frontend/src/lib/import-mode.ts
Due: frontend-lint, go-imports

fix(seed): Team-Chat-Lesecursor mitsaeen, sonst bleibt staff_message_reads leer (#2598)
  backend/seed/api/seed_staff_messaging.go
Due: go-imports

fix(team-chat): Review-Befunde von yungweng abarbeiten (#2598)
  backend/database/migrations/001015332_staff_messaging.go
  backend/database/repositories/users/staff_message_read.go
  backend/seed/api/seed_staff_messaging.go
  backend/services/staffmessaging/cleanup.go
  backend/services/staffmessaging/isolation_test.go
  backend/services/staffmessaging/service_test.go
Due: go-imports

test(import): Hermetic-Gate: Guardian-Matcher-Test ohne feste IDs
  backend/services/import/stammdaten_import_test.go
Due: go-imports

fix(team-chat): dritte Review-Runde abarbeiten (#2598)
  backend/database/migrations/001015332_staff_messaging.go
  backend/services/staffmessaging/isolation_test.go
  backend/services/staffmessaging/service.go
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
Due: frontend-lint, go-imports

feat(statistics): Anwesenheitsquoten und Raumauslastung je Zeitraum (#2606)
  backend/api/base.go
  backend/api/statistics/api.go
  backend/api/statistics/api_test.go
  backend/api/statistics/export.go
  backend/api/statistics/main_test.go
  backend/api/statistics/response.go
  backend/architecture/policy.json
  backend/database/repositories/active/statistics.go
  backend/database/repositories/factory.go
  backend/models/active/statistics.go
  backend/models/audit/data_access_log.go
  backend/services/factory.go
  backend/services/statistics/service.go
  backend/services/statistics/service_internal_test.go
Due: go-imports

feat(statistics): Statistik-Seite mit Zeitraum, Gruppenfilter und Export (#2606)
  frontend/src/app/[tenant]/(protected)/statistics/page.tsx
  frontend/src/app/api/statistics/export/route.ts
  frontend/src/app/api/statistics/report/route.ts
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/moto-concepts.ts
  frontend/src/lib/section-navigation.ts
  frontend/src/lib/statistics-api.ts
Due: frontend-lint

fix(statistics): eigener Raumexport, Dezimalkomma und Umlaut-Sortierung (#2606)
  backend/api/statistics/api.go
  backend/api/statistics/api_test.go
  backend/api/statistics/export.go
  backend/services/statistics/service.go
  frontend/public/help/screens/statistik.webp
  frontend/src/app/[tenant]/(protected)/statistics/page.tsx
  frontend/src/app/api/statistics/export/route.ts
  frontend/src/lib/statistics-api.ts
Due: frontend-lint, go-imports

fix(team-chat): vierte Review-Runde - vier neue Befunde (#2598)
  backend/database/repositories/users/staff_message_read.go
  backend/services/staffmessaging/isolation_test.go
  frontend/src/app/[tenant]/(protected)/team-chat/[threadID]/page.tsx
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/settings-keys.ts
Due: frontend-lint, go-imports

fix(statistics): kürzerer Kopf, Bereichsumschalter statt drei Tabellen (#2606)
  frontend/public/help/screens/statistik.webp
  frontend/src/app/[tenant]/(protected)/statistics/page.tsx
  frontend/src/components/ui/date-range-picker.tsx
  frontend/src/lib/statistics-api.ts
Due: frontend-lint

fix(team-chat): Ladefehler nicht als "keine Nachrichten" ausgeben (#2598)
  frontend/src/app/[tenant]/(protected)/team-chat/page.tsx
Due: frontend-lint

fix(team-chat): zwei Frischefehler aus meinen eigenen Korrekturen (#2598)
  frontend/src/app/[tenant]/(protected)/team-chat/[threadID]/page.tsx
  frontend/src/app/[tenant]/(protected)/team-chat/page.tsx
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-messages-activity.test.ts
  frontend/src/lib/hooks/use-messages-activity.ts
Due: frontend-lint

fix(statistics): apply filters and permissions consistently
  backend/api/statistics/export.go
  backend/database/repositories/active/statistics.go
  backend/models/active/statistics.go
  backend/services/factory.go
  backend/services/statistics/service.go
  backend/services/statistics/service_internal_test.go
  frontend/src/app/[tenant]/(protected)/statistics/page.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/statistics-api.ts
Due: frontend-lint, go-imports

fix(team-chat): Schreiben stoppt, wenn die Gegenseite die Schule verlassen hat (#2598)
  backend/api/common/errors.go
  backend/api/staffmessaging/errors.go
  backend/services/staffmessaging/isolation_test.go
  backend/services/staffmessaging/notify.go
  backend/services/staffmessaging/service.go
  frontend/src/app/[tenant]/(protected)/team-chat/[threadID]/page.tsx
  frontend/src/lib/staff-messages-api.ts
Due: frontend-lint, go-imports

test(api): update statistics route golden
  backend/api/testdata/route_table.golden
Due: none

fix(statistics): enforce visit retention in room reports
  backend/api/statistics/api_test.go
  backend/database/repositories/active/statistics.go
  frontend/src/app/[tenant]/(protected)/statistics/page.tsx
  frontend/src/lib/statistics-api.ts
Due: frontend-lint, go-imports

fix(statistics): require tenant context for room reports
  README.md
  backend/database/repositories/active/statistics.go
  backend/database/repositories/active/statistics_test.go
Due: go-imports

fix(statistics): respect enrollment intervals
  backend/api/statistics/api.go
  backend/api/statistics/api_test.go
  backend/database/repositories/active/statistics.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_repository_test.go
  backend/models/users/repository.go
  backend/services/statistics/service.go
  backend/services/statistics/service_internal_test.go
Due: go-imports

fix(statistics): preserve archived absence days
  backend/api/statistics/api_test.go
  backend/database/repositories/active/statistics.go
  backend/seed/api/seed_extras.go
  backend/seed/api/seeder_test.go
  backend/seed/api/workflow_steps.go
Due: go-imports

fix(statistics): clamp rooms to enrollment
  backend/api/statistics/api_test.go
  backend/database/repositories/active/statistics.go
Due: go-imports

fix(seed): close statistics demo session
  backend/seed/api/seed_extras.go
  backend/seed/api/seeder_test.go
Due: go-imports

test(time-tracking): make live block assertion exact
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
Due: frontend-lint

fix(statistics): exclude alumni from room totals
  backend/api/statistics/api_test.go
  backend/database/repositories/active/statistics.go
  frontend/src/app/[tenant]/(protected)/statistics/page.tsx
Due: frontend-lint, go-imports

fix: update seed coverage ratchet
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

fix(migrations): resolve import migration version collision
  backend/database/migrations/001015334_invitation_tokens_person_id.go
Due: go-imports

fix: handle semantic SQL edge cases
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/semantic/bun/bun.go
  backend/internal/architecture/testdata/semantic/invalid/dynamic/dynamic.go
  backend/internal/architecture/testdata/semantic/valid/adapter/adapter.go
Due: go-imports

fix: resolve test source paths at runtime
  backend/api/iot/pyreportal_error_strings_test.go
  backend/internal/architecture/cli_test.go
Due: go-imports

fix: harden semantic SQL analysis
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/semantic/bun/bun.go
  backend/internal/architecture/testdata/semantic/invalid/dynamic/dynamic.go
  backend/internal/architecture/testdata/semantic/valid/adapter/adapter.go
Due: go-imports

fix: close semantic checker bypasses
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/semantic/invalid/foreign/foreign.go
  backend/internal/architecture/testdata/semantic/invalid/policy.json
  backend/internal/architecture/testdata/semantic/invalid/service/service.go
Due: go-imports

fix: enforce direct database access
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/semantic/bun/bun.go
  backend/internal/architecture/testdata/semantic/invalid/foreign/foreign.go
  backend/internal/architecture/testdata/semantic/invalid/policy.json
  backend/internal/architecture/testdata/semantic/invalid/service/service.go
Due: go-imports

test: avoid hermetic scanner false positive
  backend/internal/architecture/cli_test.go
Due: go-imports

fix: detect database interfaces
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/semantic/invalid/service/service.go
Due: go-imports

fix: recognize SQL database interfaces
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/semantic/invalid/service/service.go
Due: go-imports

fix: validate semantic database interfaces
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/semantic/invalid/foreign/foreign.go
  backend/internal/architecture/testdata/semantic/invalid/policy.json
  backend/internal/architecture/testdata/semantic/invalid/service/service.go
Due: go-imports

fix: tighten semantic interface checks
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/semantic/invalid/foreign/foreign.go
  backend/internal/architecture/testdata/semantic/invalid/policy.json
  backend/internal/architecture/testdata/semantic/invalid/service/service.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
