Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

perf(backend): doppelte Arrival-/Pickup-Bulk-Loads pro Listen-Request entfernen (#2098)
  backend/api/students/day_planning.go
  backend/api/students/export_handlers.go
  backend/api/students/list_students_planning_times_budget_test.go
  backend/api/students/response_helpers.go
  backend/api/students/student_handlers.go
Due: go-imports

fix(timetable): Review-Befunde der vierten Runde zur Angebots-Quelle beheben
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/schedule/template_offering_source_integration_test.go
  backend/services/schedule/template_update_service.go
Due: go-imports

test(backend): make planning query budget deterministic
  backend/api/students/list_students_planning_times_budget_test.go
Due: go-imports

fix(timetable): Review-Befunde der fünften Runde zur Angebots-Quelle beheben
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/factory.go
  backend/services/schedule/template_offering_source_integration_test.go
  backend/services/schedule/template_update_service.go
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
Due: frontend-lint, go-imports

fix(timetable): Ref-Schreibzugriff aus dem setForm-Updater der Angebots-Quelle ziehen
  frontend/src/components/timetable/event-form/use-event-form.ts
Due: frontend-lint

fix(timetable): Review-Befunde der sechsten Runde zur Angebots-Quelle beheben
  backend/services/enrollment/phase_service.go
  backend/services/enrollment/phase_service_test.go
  backend/services/factory.go
  backend/services/schedule/template_create_service.go
  frontend/src/components/timetable/event-form/form-model.test.ts
  frontend/src/components/timetable/event-form/form-model.ts
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint, go-imports

fix(timetable): Review-Blocker der siebten Runde zur Angebots-Quelle beheben
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/enrollment/phase_service.go
  backend/services/enrollment/phase_service_test.go
Due: go-imports

fix(timetable): Review-Blocker der achten Runde zur Angebots-Quelle beheben
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/factory.go
  backend/services/schedule/template_offering_source_integration_test.go
  backend/services/schedule/template_split_service.go
Due: go-imports

fix(timetable): Review-Befunde der neunten Runde zur Angebots-Quelle beheben
  backend/database/repositories/activities/group.go
  backend/models/activities/repository.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/schedule/template_offering_source_integration_test.go
Due: go-imports

fix(timetable): Review-Befunde der zehnten Runde und CI-Regression beheben
  backend/api/base.go
  backend/api/students/api.go
  backend/api/students/student_handlers.go
  backend/api/students/update_class_resync_test.go
  backend/database/repositories/activities/group.go
  backend/models/activities/repository.go
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
Due: frontend-lint, go-imports

fix(timetable): Review-Befunde der elften Runde zur Angebots-Quelle beheben
  backend/database/migrations/001015266_template_offering_source.go
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/care_offering_service_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/enrollment/phase_service.go
  backend/services/enrollment/phase_service_test.go
  backend/services/schedule/roster_reconciler.go
  backend/services/schedule/template_update_service.go
Due: go-imports

fix(enrollment): Rückzieh-Klickfalle auf der Statusseite entschärfen (#2156)
  frontend/src/components/enrollment/enrollment-status-view.test.tsx
  frontend/src/components/enrollment/enrollment-status-view.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

feat(enrollment): Admin-Aktion zum Wiederherstellen zurückgezogener Anmeldungen (#2157)
  backend/api/enrollment/admin_decision_handlers.go
  backend/api/enrollment/admin_decision_handlers_test.go
  backend/api/enrollment/api.go
  backend/database/migrations/001015267_enrollment_restorations_audit.go
  backend/database/repositories/audit/enrollment_restoration.go
  backend/database/repositories/enrollment/request_child_repository.go
  backend/database/repositories/enrollment/request_repository.go
  backend/database/repositories/factory.go
  backend/models/audit/enrollment_restoration.go
  backend/models/enrollment/request.go
  backend/models/enrollment/request_child.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/restore_service.go
  backend/services/enrollment/restore_service_test.go
  backend/services/enrollment/rollover_service_test.go
  backend/services/factory.go
Due: go-imports

feat(enrollment): Wiederherstellen-Button, Bestätigungsdialog und Guide-Schritt (#2157)
  frontend/src/app/api/enrollment/admin/requests/[id]/restore/route.ts
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/enrollment-admin-api.ts
  frontend/src/lib/enrollment-error-messages.ts
Due: frontend-lint

fix(enrollment): Review-Punkte zur Rückzieh-Klickfalle (#2156)
  frontend/src/components/enrollment/enrollment-status-view.test.tsx
  frontend/src/components/enrollment/enrollment-status-view.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

fix(timetable): Review-Befunde der zwölften Runde zur Angebots-Quelle beheben
  backend/api/students/student_handlers.go
  backend/api/timetable/templates_split.go
  backend/api/timetable/templates_update.go
  backend/api/timetable/templates_update_source_presence_test.go
  backend/database/repositories/users/student.go
  backend/models/users/repository.go
  backend/services/users/student_service.go
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix(enrollment): Restore läuft durch dasselbe Kapazitäts-Gate wie der Submit (#2157)
  backend/api/enrollment/admin_decision_handlers.go
  backend/database/repositories/enrollment/request_child_repository.go
  backend/models/enrollment/request_child.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/restore_service.go
  backend/services/enrollment/restore_service_test.go
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/enrollment-admin-api.ts
  frontend/src/lib/enrollment-error-messages.ts
Due: frontend-lint, go-imports

chore(enrollment): buildRestoreInfoMessage nicht exportieren, nur dateiintern genutzt
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
Due: frontend-lint

fix(timetable): Review-Befunde der dreizehnten Runde zur Angebots-Quelle beheben
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_source_service_test.go
  frontend/src/components/timetable/event-form/form-model.ts
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint, go-imports

fix(enrollment): submitted-Flag einmalig machen statt in der URL zu persistieren (#2156)
  frontend/src/app/[tenant]/(public)/enroll/status/[token]/page.tsx
  frontend/src/app/parents/enroll/status/[token]/page.tsx
  frontend/src/lib/hooks/use-one-time-query-flag.test.tsx
  frontend/src/lib/hooks/use-one-time-query-flag.ts
Due: frontend-lint

fix(enrollment): Restore-Claims im eigenen Gültigkeitsintervall prüfen, Button auch bei Teilrückzug (#2157)
  backend/api/testdata/route_table.golden
  backend/services/enrollment/request_service.go
  backend/services/enrollment/restore_service.go
  backend/services/enrollment/restore_service_test.go
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
Due: frontend-lint, go-imports

fix(enrollment): Rückzieh-Modal während laufendem Rückzug nicht schließbar machen (#2156)
  frontend/src/components/enrollment/enrollment-status-view.tsx
Due: frontend-lint

fix(timetable): Review-Befunde der vierzehnten Runde zur Angebots-Quelle beheben
  backend/api/timetable/templates_split.go
  backend/api/timetable/templates_split_unit_test.go
  backend/api/timetable/templates_update.go
  backend/api/timetable/templates_update_source_presence_test.go
  backend/services/schedule/template_offering_source_integration_test.go
  backend/services/schedule/template_offering_source_unit_test.go
  backend/services/schedule/template_split_service.go
Due: go-imports

fix(enrollment): überlappende Kapazitäts-Claims queuen segmentweise gegeneinander (#2157)
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/restore_service.go
  backend/services/enrollment/restore_service_test.go
Due: go-imports

fix(ui): wartende Modal-Dismissals abbrechen sobald Schließen gesperrt wird (#2156)
  frontend/src/components/ui/modal.test.tsx
  frontend/src/components/ui/modal.tsx
Due: frontend-lint

fix(timetable): Review-Befund der fünfzehnten Runde zur Angebots-Quelle beheben
  backend/services/enrollment/offering_adjustment_service.go
Due: go-imports

fix(enrollment): Ladefehler beim Restore nicht als Not-Found maskieren (#2157)
  backend/database/repositories/enrollment/request_repository.go
  backend/services/enrollment/restore_service.go
  backend/services/enrollment/restore_service_test.go
Due: go-imports

fix(timetable): Review-Befund der sechzehnten Runde zur Angebots-Quelle beheben
  backend/services/education/grade_transition_offering_resync_test.go
  backend/services/education/grade_transition_service.go
Due: go-imports

fix(timetable): Review-Befund der siebzehnten Runde zur Angebots-Quelle beheben
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_source_service_test.go
Due: go-imports

fix: Kinder-Konzept auf schlichtes Personen-Icon umstellen
  frontend/src/lib/moto-concepts.test.ts
  frontend/src/lib/moto-concepts.ts
Due: frontend-lint

fix(timetable): Angebots-Quelle vor dem Template-Write prüfen
  backend/services/factory.go
  backend/services/schedule/template_create_service.go
  backend/services/schedule/template_offering_source.go
  backend/services/schedule/template_offering_source_unit_test.go
  backend/services/schedule/template_update_service.go
  backend/services/schedule/timetable_data_service.go
Due: go-imports

feat: optionales concept-Prop fuer PageHeaderWithSearch und EntityHeaderCard
  frontend/src/components/operator/entity-header-card.test.tsx
  frontend/src/components/operator/entity-header-card.tsx
  frontend/src/components/ui/page-header/PageHeader.test.tsx
  frontend/src/components/ui/page-header/PageHeader.tsx
  frontend/src/components/ui/page-header/PageHeaderWithSearch.test.tsx
  frontend/src/components/ui/page-header/PageHeaderWithSearch.tsx
  frontend/src/components/ui/page-header/types.ts
  frontend/src/lib/moto-concepts.ts
Due: frontend-lint

feat(students): elternsichtbare Stammdaten in der Betreuerapp kennzeichnen (#2163)
  frontend/src/components/guardians/guardian-form-modal.tsx
  frontend/src/components/guardians/guardian-relationship-fields.tsx
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/components/students/parent-visible-fields.test.tsx
  frontend/src/components/students/personal-info-form-modal.tsx
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/components/students/student-form-fields.tsx
  frontend/src/components/ui/info-card.tsx
  frontend/src/components/ui/parent-visible-badge.tsx
  frontend/src/lib/parent-visible-fields.ts
Due: frontend-lint

fix: Konzept- und Farb-Semantik im gesamten Frontend korrigieren
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/[tenant]/(protected)/eltern/page.tsx
  frontend/src/app/[tenant]/(protected)/messages/page.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/parent/child-detail.tsx
  frontend/src/lib/location-helper.ts
  frontend/src/lib/operator/suggestions-helpers.test.ts
  frontend/src/lib/operator/suggestions-helpers.ts
Due: frontend-lint

fix: allow late invite email changes
  backend/api/enrollment/admin_decision_handlers.go
  backend/api/enrollment/admin_decision_handlers_test.go
  backend/api/enrollment/care_offering_handlers.go
  backend/api/enrollment/public_bootstrap_response_test.go
  backend/database/repositories/enrollment/late_invite_repository.go
  backend/database/repositories/enrollment/late_invite_repository_test.go
  backend/models/enrollment/late_invite.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/public_bootstrap.go
  backend/services/enrollment/public_bootstrap_test.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_eligibility_internal_test.go
  backend/services/enrollment/request_service_test.go
  backend/services/factory.go
  backend/test/hermetic_verification_test.go
  frontend/src/app/[tenant]/(public)/enroll/[phaseId]/page.tsx
  frontend/src/app/parents/enroll/[tenantSlug]/[phaseId]/page.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/lib/enrollment-admin-api.ts
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

fix: Vertretungs-Badge Desktop-Variante konsistent zum Mobile-Icon machen
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.school-checkin.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
Due: frontend-lint

feat(schulhof): Schulhof als regulären planbaren Raum behandeln (#2161)
  backend/api/active/api.go
  backend/api/active/schulhof_handlers.go
  backend/api/active/schulhof_handlers_test.go
  backend/api/testdata/route_table.golden
  backend/api/timetable/instances.go
  backend/api/timetable/instances_test.go
  backend/api/timetable/operations.go
  backend/api/timetable/operations_unit_test.go
  backend/services/facilities/schulhof_service.go
  backend/services/facilities/schulhof_service_conflict_test.go
  backend/services/facilities/schulhof_service_test.go
  backend/services/facilities/settings_sideeffects_test.go
  backend/services/iot/checkin/checkin_service.go
  backend/services/reminders/batch.go
  backend/services/reminders/service.go
  backend/services/reminders/service_internal_test.go
  backend/services/schedule/auto_start_service.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/instance_absorb_unit_test.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_unit_test.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
  backend/services/scheduler/scheduler.go
  frontend/src/app/api/active/schulhof/supervise/route.test.ts
  frontend/src/app/api/active/schulhof/supervise/route.ts
Due: frontend-lint, go-imports

refactor(students): Legende der Elternsichtbarkeit auf eine Zeile kürzen
  frontend/src/components/guardians/guardian-relationship-fields.tsx
  frontend/src/components/students/parent-visible-fields.test.tsx
  frontend/src/components/ui/parent-visible-badge.tsx
Due: frontend-lint
