Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(frontend): das Punktmuster läuft mobil bis an die Oberkante
  frontend/src/components/dashboard/app-shell.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

test: serialize lock contention tests
  backend/database/repositories/active/session_start_lock_test.go
  backend/database/repositories/users/staff_capability_lock_test.go
Due: go-imports

fix: qualify meal plan persistence table
  backend/modules/mealplan/internal/adapters/postgres/store.go
  backend/modules/mealplan/mealplan_test.go
Due: go-imports

test: classify meal plan adapter date column
  backend/test/calendar_date_verification_test.go
Due: go-imports

fix(frontend): runde Knöpfe bleiben rund unter der erzwungenen Bedienhöhe
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/page-header/FilterButton.tsx
  frontend/src/components/ui/page-header/OverflowMenu.test.tsx
  frontend/src/components/ui/page-header/OverflowMenu.tsx
Due: frontend-lint

test: account for serial lock contention tests
  backend/test/hermetic_verification_test.go
Due: go-imports

fix(frontend): das mobile Reiterband zeigt an, dass es scrollt
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

test: use fixture for session lock activity
  backend/database/repositories/active/session_start_lock_test.go
Due: go-imports

feat(sidebar): make the desktop sidebar collapsible to an icon rail
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/sidebar-toggle.test.tsx
  frontend/src/components/dashboard/header/sidebar-toggle.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/hooks/__tests__/use-sidebar-collapsed.test.ts
  frontend/src/lib/hooks/use-sidebar-collapsed.ts
  frontend/vitest.config.ts
Due: frontend-lint

fix(parents): restore permanent departure editing (#2876)
  frontend/src/components/parent/child/child-page.test.tsx
  frontend/src/components/parent/child/child-page.tsx
Due: frontend-lint

test(parents): cover Monday departure request (#2876)
  frontend/src/components/parent/child-master-data.test.tsx
Due: frontend-lint

test(students): cover weekday departure edit (#2877)
  frontend/src/components/students/personal-info-form-modal.test.tsx
Due: frontend-lint

fix: allow atomic module architecture migrations
  backend/architecture/README.md
  backend/architecture/policy.json
  backend/internal/architecture/composition_removals.go
  backend/internal/architecture/package_additions.go
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/ratchet_cli_test.go
Due: go-imports

fix(sidebar): Tagesplan im Icon-Streifen + In-Memory-Fallback bei Schreibfehlern
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/hooks/__tests__/use-sidebar-collapsed.test.ts
  frontend/src/lib/hooks/use-sidebar-collapsed.ts
Due: frontend-lint

fix(parents): share child master-data state
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/parent/child-master-data.tsx
  frontend/src/components/parent/child/child-page.test.tsx
  frontend/src/components/parent/child/child-page.tsx
Due: frontend-lint

fix(parents): clarify read-only departures
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/parent/child-master-data.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

test: regenerate meal plan middleware golden
  backend/api/testdata/middleware_table.golden
Due: none

fix(sidebar): Kit-Button im Icon-Streifen, Toggle-Logik in die Kopfzeile
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/sidebar-toggle.test.tsx
  frontend/src/components/dashboard/header/sidebar-toggle.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

feat: add parent consent management (#2636)
  backend/api/base.go
  backend/api/parent/api.go
  backend/api/parent/consent_handlers.go
  backend/api/parent/consent_handlers_test.go
  backend/api/parent/me_handlers_test.go
  backend/api/students/api.go
  backend/api/students/student_handlers.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/auth/authorize/guardian_permission.go
  backend/auth/authorize/guardian_permission_test.go
  backend/database/migrations/001015355_parent_student_consents.go
  backend/database/migrations/001015355_parent_student_consents_test.go
  backend/database/repositories/audit/student_consent_change.go
  backend/database/repositories/factory.go
  backend/models/audit/student_consent_change.go
  backend/seed/api/seed_parent_engagement.go
  backend/seed/api/seed_parent_engagement_test.go
  backend/services/enrollment/decision_service.go
  backend/services/factory.go
  backend/services/import/student_import_config.go
  backend/services/parent/parent_consent_service.go
  backend/services/parent/parent_consent_service_test.go
  backend/services/parent/parent_service.go
  backend/services/users/student_consent_recorder.go
  backend/services/users/student_consent_recorder_test.go
  backend/services/users/student_photo_service.go
  frontend/src/app/api/parent/me/children/[studentId]/consents/photo/route.ts
  frontend/src/app/api/parent/me/children/[studentId]/consents/route.ts
  frontend/src/components/parent/child/child-consents-section.test.tsx
  frontend/src/components/parent/child/child-consents-section.tsx
  frontend/src/components/parent/child/child-page.test.tsx
  frontend/src/components/parent/child/child-page.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

feat: schreibgeschützte Mitarbeiter-Vorschau für Admins (#2893)
  backend/api/auth/api.go
  backend/api/auth/preview_handlers.go
  backend/api/auth/staff_preview_api_test.go
  backend/api/common/readonly_preview.go
  backend/api/common/readonly_preview_test.go
  backend/api/common/router.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/auth/jwt/claims.go
  backend/auth/jwt/readonly_claims_test.go
  backend/auth/jwt/tokenauth.go
  backend/models/audit/auth_event.go
  backend/services/auth/errors.go
  backend/services/auth/interface.go
  backend/services/auth/staff_preview.go
  backend/services/auth/staff_preview_test.go
  backend/services/auth/token_cleanup.go
  backend/services/platform/operator_provisioning_service_test.go
Due: go-imports

feat: Mitarbeiter-Vorschau im Tenant-Portal (#2893)
  frontend/src/app/api/auth/staff-preview/candidates/route.ts
  frontend/src/app/api/auth/staff-preview/end/route.ts
  frontend/src/app/api/auth/staff-preview/route.ts
  frontend/src/components/dashboard/app-shell.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/profile-dropdown.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff-preview/staff-preview-banner.test.tsx
  frontend/src/components/staff-preview/staff-preview-banner.tsx
  frontend/src/components/staff-preview/staff-preview-modal.tsx
  frontend/src/components/tenant/tenant-guard.tsx
  frontend/src/components/tenant/tenant-switcher.tsx
  frontend/src/lib/api-error-message.ts
  frontend/src/lib/shell-auth-context.tsx
  frontend/src/lib/staff-preview-api.ts
  frontend/src/server/auth/shared.ts
  frontend/src/server/auth/staff-preview-session.test.ts
Due: frontend-lint

refactor: remove zero-caller repository methods
  backend/api/timetable/templates_split_test.go
  backend/api/timetable/templates_test.go
  backend/architecture/composition.json
  backend/database/repositories/active/group_mapping.go
  backend/database/repositories/active/group_mapping_repository_test.go
  backend/database/repositories/auth/account_permission.go
  backend/database/repositories/auth/account_permission_repository_test.go
  backend/database/repositories/auth/mfa_override.go
  backend/database/repositories/auth/mfa_override_test.go
  backend/database/repositories/auth/token.go
  backend/database/repositories/auth/token_repository_test.go
  backend/database/repositories/calendar/appointment_repository.go
  backend/database/repositories/schedule/recurrence_rule.go
  backend/database/repositories/schedule/recurrence_rule_repository_test.go
  backend/database/repositories/schedule/timeframe.go
  backend/database/repositories/schedule/timeframe_repository_test.go
  backend/models/active/repository.go
  backend/models/auth/repository.go
  backend/models/calendar/repository.go
  backend/models/schedule/repository.go
  backend/services/active/end_session_unit_test.go
  backend/services/auth/role_management_internal_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/calendar/service_integration_test.go
  backend/services/scheduler/rollover_deadline_test.go
  backend/test/repo_method_caller_ratchet_test.go
Due: go-imports

fix: inherit button color for concept icons (#2901)
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/components/planning/calendar-periods-editor.tsx
  frontend/src/components/ui/moto-duotone-icon.test.tsx
  frontend/src/components/ui/moto-duotone-icon.tsx
Due: frontend-lint

fix: Review-Befunde zur Mitarbeiter-Vorschau (#2893)
  backend/api/auth/preview_handlers.go
  backend/api/auth/staff_preview_api_test.go
  backend/api/calendar/api.go
  backend/api/display/api.go
  backend/api/enrollment/api.go
  backend/api/import/api.go
  backend/api/operator/api.go
  backend/api/parent/api.go
  backend/api/platform/api.go
  backend/api/route_table_golden_test.go
  backend/api/school/api.go
  backend/api/testdata/middleware_table.golden
  backend/api/usercontext/api.go
  backend/auth/jwt/claims.go
  backend/auth/jwt/mfa_pending_claims.go
  backend/auth/jwt/readonly_claims_test.go
  backend/auth/jwt/tokenauth.go
  backend/services/auth/errors.go
  backend/services/auth/interface.go
  backend/services/auth/staff_preview.go
  backend/services/auth/staff_preview_test.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/staff-preview/staff-preview-banner.test.tsx
  frontend/src/components/staff-preview/staff-preview-banner.tsx
  frontend/src/components/tenant/tenant-guard.tsx
  frontend/src/components/tenant/tenant-switcher.tsx
  frontend/src/lib/staff-preview-api.ts
Due: frontend-lint, go-imports

test: preserve account permission mapping assertions
  backend/database/repositories/auth/account_permission_repository_test.go
Due: go-imports

test: refresh composition inventory
  backend/architecture/composition.json
Due: none

fix: use canonical button sizing
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/components/enrollment/phases-editor.tsx
Due: frontend-lint

fix: hide unrecorded parent consents (#2636)
  frontend/src/components/parent/child/child-consents-section.test.tsx
  frontend/src/components/parent/child/child-consents-section.tsx
Due: frontend-lint

fix: Vorschau-Audit als ein Start und ein Ende (#2893)
  backend/api/auth/preview_handlers.go
  backend/auth/jwt/claims.go
  backend/auth/jwt/readonly_claims_test.go
  backend/auth/jwt/tokenauth.go
  backend/database/repositories/audit/auth_event.go
  backend/models/audit/repository.go
  backend/services/auth/interface.go
  backend/services/auth/staff_preview.go
  backend/services/auth/staff_preview_test.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/server/auth/shared.ts
  frontend/src/server/auth/staff-preview-session.test.ts
Due: frontend-lint, go-imports

fix: address meal plan migration review findings
  backend/api/base.go
  backend/api/base_utility_test.go
  backend/api/common/error_rules.go
  backend/api/common/errors.go
  backend/api/testutil/helpers.go
  backend/architecture/composition.json
  backend/internal/timezone/date.go
  backend/internal/timezone/date_test.go
  backend/modules/mealplan/compose/new_test.go
  backend/modules/mealplan/http/api.go
  backend/modules/mealplan/http/api_test.go
  backend/modules/mealplan/internal/adapters/postgres/store.go
  backend/modules/mealplan/internal/adapters/postgres/store_test.go
  backend/modules/mealplan/internal/application/service.go
  backend/modules/mealplan/internal/domain/entry.go
  backend/modules/mealplan/internal/ports/ports.go
  backend/modules/mealplan/mealplan.go
  backend/observability/prometheus.go
  backend/observability/prometheus_test.go
  backend/services/calendar/service.go
  backend/services/parent/parent_write_service.go
  backend/services/planexport/week.go
Due: go-imports

style: soften parent consent withdrawal action (#2636)
  frontend/src/components/parent/child/child-consents-section.test.tsx
  frontend/src/components/parent/child/child-consents-section.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

refactor: eliminate model getter ratchet
  .claude/rules/backend-conventions.md
  backend/database/repositories/base/base.go
  backend/models/audit/auth_event.go
  backend/models/audit/data_access_log.go
  backend/models/audit/data_access_log_test.go
  backend/models/audit/data_deletion.go
  backend/models/audit/deviation_event.go
  backend/models/audit/deviation_event_test.go
  backend/models/audit/enrollment_offering_adjustment.go
  backend/models/audit/enrollment_offering_adjustment_test.go
  backend/models/audit/guardian_change.go
  backend/models/auth/passkey.go
  backend/models/auth/passkey_test.go
  backend/models/base/base.go
  backend/models/base/interfaces.go
  backend/models/config/setting_audit.go
  backend/models/config/setting_audit_test.go
  backend/models/entity_interfaces_test.go
  backend/models/platform/operator_passkey.go
  backend/models/platform/operator_passkey_test.go
  backend/services/auth/passkey_service.go
  backend/services/auth/passkey_service_test.go
  backend/services/platform/operator_passkey_service.go
  backend/services/platform/operator_passkey_service_test.go
  backend/test/model_ceremony_ratchet_test.go
Due: go-imports

fix: Vorschau-Start und -Ende ohne Rennen (#2893)
  backend/database/migrations/001015355_staff_preview_end_once.go
  backend/database/repositories/audit/auth_event.go
  backend/models/audit/repository.go
  backend/services/auth/staff_preview.go
  backend/services/auth/staff_preview_test.go
  frontend/src/server/auth/shared.ts
  frontend/src/server/auth/staff-preview-session.test.ts
Due: frontend-lint, go-imports

feat: correct attendance of a completed block with an audit trail (#2898)
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/api/timetable/api.go
  backend/api/timetable/attendance_correction.go
  backend/api/timetable/attendance_correction_test.go
  backend/api/timetable/timetable_data_test_helpers_test.go
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/database/migrations/001015355_attendance_corrections.go
  backend/database/repositories/audit/attendance_correction.go
  backend/database/repositories/audit/attendance_correction_repository_test.go
  backend/database/repositories/factory.go
  backend/models/audit/attendance_correction.go
  backend/models/audit/attendance_correction_test.go
  backend/services/factory.go
  backend/services/schedule/attendance_correction.go
  backend/services/schedule/timetable_data_service.go
  frontend/src/app/api/timetable/instances/[id]/students/[studentId]/correction/route.ts
  frontend/src/app/api/timetable/instances/[id]/students/[studentId]/corrections/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/attendance-correction-modal.tsx
  frontend/src/components/students/student-historie-tab.tsx
  frontend/src/lib/attendance-history-helpers.ts
Due: frontend-lint, go-imports

fix: Vorschau endet immer im Protokoll (#2893)
  backend/database/repositories/audit/auth_event.go
  backend/models/audit/repository.go
  backend/services/auth/staff_preview.go
  backend/services/auth/staff_preview_test.go
  frontend/src/lib/shell-auth-context.test.tsx
  frontend/src/lib/shell-auth-context.tsx
  frontend/src/server/auth/shared.ts
  frontend/src/server/auth/staff-preview-session.test.ts
Due: frontend-lint, go-imports

fix: align Go toolchain across environments
  .claude/hooks/format-go.sh
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  backend/CLAUDE.md
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/README.md
  backend/go.mod
  backend/test/go_toolchain_pins_ratchet_test.go
  backend/tools/go.mod
  devbox.json
  devbox.lock
  docs/getting-started.md
  lefthook.yml
  scripts/backend-architecture/go.mod
  scripts/run-go-toolchain.sh
Due: go-imports

fix: reject value repository lookup types
  backend/database/repositories/base/base.go
  backend/database/repositories/base/base_test.go
Due: go-imports

fix: preserve Go runtime defaults
  backend/README.md
  backend/test/go_toolchain_pins_ratchet_test.go
  scripts/run-go-toolchain.sh
Due: go-imports

fix: Vorschau-Audit im Namen des Admins, Ende ohne Sitzung (#2893)
  backend/api/auth/api.go
  backend/api/auth/preview_handlers.go
  backend/api/auth/staff_preview_api_test.go
  backend/api/common/readonly_preview.go
  backend/api/common/readonly_preview_test.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/services/auth/interface.go
  backend/services/auth/staff_preview.go
  backend/services/auth/staff_preview_test.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/app/api/auth/staff-preview/end/route.ts
  frontend/src/components/dashboard/header/profile-dropdown.tsx
  frontend/src/server/auth/shared.ts
  frontend/src/server/auth/staff-preview-session.test.ts
Due: frontend-lint, go-imports

fix: Vorschau beenden ohne Admin-Sitzung (#2893)
  frontend/src/app/api/auth/staff-preview/end/route.ts
  frontend/src/lib/staff-preview-api.ts
Due: frontend-lint
