Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(students): validate + export accompanied departure end-to-end (#1694)
  backend/api/students/api.go
  backend/api/students/export_handlers.go
  backend/api/students/export_handlers_test.go
  backend/api/students/types.go
  backend/api/students/types_bind_test.go
  backend/models/users/student.go
  backend/services/enrollment/form_visibility.go
  backend/services/enrollment/form_visibility_test.go
  backend/services/enrollment/request_service.go
  backend/services/import/student_import_config.go
  backend/services/import/student_import_config_test.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(students): keep companion note consistent with accompanied plan (#1694)
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_departure_days_test.go
  backend/services/enrollment/form_visibility.go
  backend/services/enrollment/form_visibility_test.go
Due: go-imports

fix(enrollment): bound companion note before storing the request (#1694)
  backend/services/enrollment/form_visibility.go
  backend/services/enrollment/form_visibility_test.go
Due: go-imports

feat: add enrollment offering adjustment audit
  backend/api/enrollment/admin_decision_handlers.go
  backend/api/enrollment/admin_decision_handlers_test.go
  backend/api/enrollment/api.go
  backend/database/migrations/001015139_enrollment_offering_adjustments.go
  backend/database/repositories/activities/student_enrollment.go
  backend/database/repositories/audit/enrollment_offering_adjustment.go
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/database/repositories/factory.go
  backend/models/activities/repository.go
  backend/models/audit/enrollment_offering_adjustment.go
  backend/models/enrollment/care_offering.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/rollover_service_test.go
  backend/services/factory.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/app/api/enrollment/admin/offering-adjustments/route.ts
  frontend/src/app/api/enrollment/admin/offerings/route.ts
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/student-enrollments-tab.tsx
  frontend/src/lib/enrollment-admin-api.ts
Due: frontend-lint, go-imports

test: cover enrollment offering adjustment repositories
  backend/database/repositories/activities/student_enrollment_repository_test.go
  backend/database/repositories/audit/enrollment_offering_adjustment_test.go
  backend/models/audit/enrollment_offering_adjustment_test.go
Due: go-imports

fix: address enrollment extra fields review
  backend/api/students/enrollment_extra_fields.go
  backend/api/students/enrollment_extra_fields_test.go
  frontend/src/components/students/student-stammdaten-tab.tsx
  frontend/src/lib/student-api.test.ts
  frontend/src/lib/student-api.ts
Due: frontend-lint, go-imports

fix frontend image cache permissions
  frontend/Dockerfile
  frontend/Dockerfile.prod
Due: none

fix(students): treat accompanied as a real departure arrangement (#1694)
  frontend/src/lib/student-helpers.ts
Due: frontend-lint

fix(enrollment): couple companion note across all departure fields (#1694)
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint

fix(migrations): normalize accompanied departure data on rollback (#1694)
  backend/database/migrations/001015138_students_departure_accompanied.go
Due: go-imports

fix enrollment navigation labels
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/components/enrollment/admin-enrollments-list.tsx
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(enrollment): gate accompanied custom field option
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint

fix enrollment care offering wording
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix: preserve empty care offering filters
  backend/api/enrollment/export_handlers_test.go
  backend/api/enrollment/report_handlers.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  frontend/src/components/ui/multi-checkbox-select.tsx
  frontend/src/lib/enrollment-report-api.test.ts
  frontend/src/lib/enrollment-report-api.ts
Due: frontend-lint, go-imports

fix(students): derive non-self legacy pickup_status for accompanied + allow legacy drop of accompanied with blank note (#1694)
  backend/api/students/admin_filters_test.go
  backend/api/students/response_helpers.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_departure_days_test.go
  backend/models/users/departure_days.go
  backend/models/users/departure_days_test.go
  backend/models/users/pickup_days.go
Due: go-imports

fix: remove fake parent pickup contacts
  frontend/src/components/parent/child-detail.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

style(students): neutralize departure-mode badges in stammdaten view (#1694)
  frontend/src/components/students/allowed-departure-modes-display.tsx
  frontend/src/components/students/student-form-fields.tsx
  frontend/src/lib/student-helpers.ts
Due: frontend-lint

fix enrollment care offering automation invariants
  backend/api/enrollment/care_offering_handlers.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_auto_offerings_test.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/lib/care-offering-api.ts
  frontend/src/lib/enrollment-admin-api.ts
Due: frontend-lint, go-imports

fix(students): preserve accompanied departure signal in legacy paths (#1694)
  backend/api/students/api.go
  backend/api/students/response_helpers.go
  backend/api/students/response_helpers_test.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_departure_days_test.go
  backend/models/enrollment/form_schema.go
  backend/models/enrollment/form_schema_validate_test.go
  backend/models/users/allowed_departure_modes.go
  backend/models/users/departure_days.go
  backend/models/users/departure_days_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
Due: go-imports

fix: handle auto-added enrollment offerings
  backend/database/migrations/001015140_student_enrollment_request_child_source.go
  backend/database/repositories/activities/student_enrollment.go
  backend/database/repositories/activities/student_enrollment_repository_test.go
  backend/models/activities/repository.go
  backend/models/activities/student_enrollment.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_auto_offerings_test.go
Due: go-imports

fix: harden enrollment offering adjustments
  backend/database/repositories/activities/student_enrollment.go
  backend/database/repositories/activities/student_enrollment_repository_test.go
  backend/models/activities/repository.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/care_offering_validate_test.go
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/care_offering_service_test.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
Due: frontend-lint, go-imports

fix(students): guard companion-note column + match create validation to persistence precedence (#1694)
  backend/api/students/types.go
  backend/api/students/types_bind_test.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_departure_days_test.go
  backend/models/users/student.go
Due: go-imports

fix enrollment offering review issues
  backend/database/migrations/001015140_student_enrollment_request_child_source.go
  backend/database/migrations/001015140_student_enrollment_request_child_source_test.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  frontend/src/components/enrollment/admin-enrollments-list.test.tsx
  frontend/src/components/enrollment/admin-enrollments-list.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/lib/tenant-path.ts
Due: frontend-lint, go-imports

fix: renumber enrollment care migrations
  backend/database/migrations/001015139_care_offering_auto_rules.go
  backend/database/migrations/001015140_enrollment_offering_adjustments.go
  backend/database/migrations/001015141_student_enrollment_request_child_source.go
  backend/database/migrations/001015141_student_enrollment_request_child_source_test.go
Due: go-imports

refactor(parents): replace pastel action icon treatments with neutral tiles (#1722)
  frontend/src/components/parent/child-care.tsx
  frontend/src/components/parent/child-detail.tsx
  frontend/src/components/parent/parent-children-page.tsx
  frontend/src/components/parent/parent-dashboard.tsx
  frontend/src/components/parent/related-accounts-panel.tsx
Due: frontend-lint

fix: repair enrollment adjustment edge cases
  backend/database/migrations/001015141_student_enrollment_request_child_source.go
  backend/database/migrations/001015141_student_enrollment_request_child_source_test.go
  backend/database/migrations/001015142_backfill_student_enrollment_request_child_source.go
  backend/database/repositories/activities/student_enrollment.go
  backend/models/activities/repository.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
  frontend/src/app/[tenant]/layout.tsx
  frontend/src/app/[tenant]/page.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/components/enrollment/admin-enrollments-list.test.tsx
  frontend/src/components/enrollment/admin-enrollments-list.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/components/tenant/tenant-provider.test.tsx
  frontend/src/components/tenant/tenant-provider.tsx
  frontend/src/lib/tenant-path.test.ts
  frontend/src/lib/tenant-path.ts
  frontend/src/lib/tenant-router.test.ts
  frontend/src/lib/tenant-router.ts
  frontend/src/test/setup.ts
Due: frontend-lint, go-imports

fix frontend tenant routing mocks
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(public)/reset-password/page.test.tsx
  frontend/src/components/auth/smart-redirect.test.tsx
Due: frontend-lint

fix: refresh student status days on SSE updates
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

feat: support AGB PDFs in enrollment templates
  backend/api/base.go
  backend/api/enrollment/api.go
  backend/api/enrollment/legal_document_handlers.go
  backend/api/enrollment/legal_document_handlers_test.go
  backend/database/repositories/enrollment/form_schema_repository.go
  backend/database/repositories/enrollment/form_schema_repository_test.go
  backend/models/enrollment/form_schema.go
  backend/models/enrollment/form_schema_validate_test.go
  backend/services/enrollment/request_legal_blocks_test.go
  backend/services/enrollment/request_service.go
  frontend/src/app/api/enrollment/legal-documents/[filename]/route.ts
  frontend/src/app/api/enrollment/legal-documents/route.ts
  frontend/src/app/api/public/enrollment-form-legal-documents/[filename]/route.ts
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/enrollment-form-schema-api.ts
Due: frontend-lint, go-imports

test: cover enrollment legal document api
  frontend/src/lib/enrollment-form-schema-api.test.ts
Due: frontend-lint

feat: parent portal "Abmelden" with sick/excused reason (#1735)
  backend/api/parent/child_write_handlers.go
  backend/api/parent/child_write_handlers_test.go
  backend/api/parent/me_handlers_test.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_write_service.go
  backend/services/parent/parent_write_service_test.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/parent/child-care.test.tsx
  frontend/src/components/parent/child-care.tsx
  frontend/src/components/parent/parent-portal.test.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/parent-api.test.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

style: soften avatar initials to brand-green fill across portals
  frontend/src/app/[tenant]/(protected)/profile/page.tsx
  frontend/src/components/ui/avatar.tsx
Due: frontend-lint

chore: resolve frontend security advisories
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix(parent): restrict excused absence listing to parent-reported rows (#1735)
  backend/services/parent/parent_write_service.go
  backend/services/parent/parent_write_service_test.go
Due: go-imports

fix(students): hoist check-in FAB button style into a typed const
  frontend/src/components/students/school-checkin-fab.tsx
Due: frontend-lint

fix: harden enrollment AGB PDF template flow
  backend/api/enrollment/legal_document_handlers.go
  backend/models/enrollment/legal_document.go
  backend/services/enrollment/form_schema_service.go
  backend/services/enrollment/form_schema_service_test.go
  frontend/src/app/api/enrollment/legal-documents/[filename]/route.test.ts
  frontend/src/app/api/enrollment/legal-documents/[filename]/route.ts
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form-editor.tsx
Due: frontend-lint, go-imports

feat(enrollment): require a pickup time for every care day
  backend/services/enrollment/form_visibility.go
  backend/services/enrollment/form_visibility_test.go
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint, go-imports

fix(enrollment): align pickup schedule hints with validation gate
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

fix: handle inherited AGB PDF templates
  backend/models/enrollment/legal_document.go
  backend/services/enrollment/form_schema_service.go
  backend/services/enrollment/form_schema_service_test.go
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form-editor.tsx
Due: frontend-lint, go-imports

fix: normalize guardian phone primaries
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
