Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

chore: optimize CLAUDE.md context for token efficiency
  .claude/rules/security/additional-cryptography.md
  .claude/rules/security/cloud-kubernetes.md
  .claude/rules/security/devops-cicd-containers.md
  .claude/rules/security/iac-security.md
  .claude/rules/security/mobile-apps.md
  .claude/rules/security/safe-c-functions.md
  .claude/rules/security/xml-serialization.md
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

fix: shorten announcement subtitle to "Wichtige Informationen"
  frontend/src/components/platform/announcement-modal.test.tsx
  frontend/src/components/platform/announcement-modal.tsx
Due: frontend-lint

chore: remove OpenSSL C API references from backend CLAUDE.md
  backend/CLAUDE.md
Due: none

docs: recommendations
  docs/multi-tenancy/13-plan-review-recommendations.md
Due: none

chore: restore go-bun-expert agent to backend directory
  backend/.claude/agents/go-bun-expert.md
Due: none

chore: restore API URL architecture docs to frontend CLAUDE.md
  frontend/CLAUDE.md
Due: none

chore: remove dead MultiEdit matcher from PostToolUse hook
  .claude/settings.json
Due: none

chore: update README versions and replace stale boilerplate
  README.md
  backend/README.md
  frontend/README.md
Due: none

docs: regenerate OpenAPI spec with 60+ missing route definitions
  backend/docs/openapi.yaml
Due: none

chore: gitignore openapi.yaml and remove from tracking
  .gitignore
  backend/docs/openapi.yaml
Due: none

chore: gitignore root node_modules to prevent accidental installs
  .gitignore
Due: none

chore: update devbox dependencies and align pnpm version
  devbox.lock
  frontend/package.json
Due: none

fix: require admin auth and valid role_id for /auth/register (#610)
  backend/api/auth/api.go
  backend/api/auth/auth_test.go
  frontend/src/app/api/auth/register/route.test.ts
  frontend/src/app/api/teachers/route.test.ts
  frontend/src/app/api/teachers/route.ts
  frontend/src/lib/auth-helpers.ts
  frontend/src/lib/auth-service.test.ts
  frontend/src/lib/auth-service.ts
Due: frontend-lint, go-imports

chore: gitignore .beads/ directory
  .gitignore
Due: none

test: add coverage for role lookup, register roleId, and non-Error catch paths
  frontend/src/app/api/teachers/route.test.ts
  frontend/src/lib/auth-service.test.ts
Due: frontend-lint

feat: add multi-tenancy Phase 1 foundation primitives
  backend/auth/jwt/claims.go
  backend/auth/jwt/claims_test.go
  backend/auth/jwt/tenant_middleware.go
  backend/auth/jwt/tenant_middleware_test.go
  backend/auth/jwt/tokenauth.go
  backend/database/migrations/001013001_create_organizations_and_schools.go
  backend/database/migrations/001013002_create_account_tenants.go
  backend/database/repositories/base/helpers.go
  backend/database/repositories/base/tenant_db.go
  backend/models/auth/account_tenant.go
  backend/models/base/tenant.go
  backend/models/platform/organization.go
  backend/models/platform/school.go
  backend/tenant/context.go
  backend/tenant/context_test.go
  backend/tenant/tx.go
  backend/tenant/tx_test.go
  backend/test/fixtures.go
  docs/multi-tenancy/14-phase1-implementation-summary.md
Due: go-imports

fix: resolve 3 auth registration bugs from role consolidation
  backend/api/auth/api.go
  backend/api/auth/auth_test.go
  frontend/src/app/api/teachers/route.ts
  frontend/src/lib/auth-helpers.ts
  frontend/src/lib/auth-service.test.ts
  frontend/src/lib/auth-service.ts
Due: frontend-lint, go-imports

test: align teacher route tests with user role rename
  frontend/src/app/api/teachers/route.test.ts
Due: frontend-lint

chore: exclude test files from GitGuardian secret scanning
  .gitguardian.yml
Due: none

fix: reject queued requests when token refresh fails
  frontend/src/lib/api-interceptor.test.ts
  frontend/src/lib/api.ts
Due: frontend-lint

fix: make combined group creation atomic to prevent partial failures
  backend/api/active/combined_handlers.go
  backend/services/active/combined_group_service.go
  backend/services/active/combined_group_service_test.go
  backend/services/active/interface.go
  backend/services/scheduler/scheduler_test.go
Due: go-imports

feat: add multi-tenancy Phase 2 database expand (tenant_id on 58+1 tables)
  backend/database/migrations/001014001_create_tenant_roles.go
  backend/database/migrations/001014002_add_tenant_id_to_all_tables.go
  backend/database/migrations/001014003_migrate_unique_constraints.go
  backend/database/migrations/001014004_create_composite_pk_indexes.go
  backend/database/migrations/001014005_create_tenant_indexes.go
  backend/database/migrations/001014006_populate_account_tenants.go
  backend/models/activities/category.go
  backend/models/auth/role.go
  backend/models/config/settings.go
  backend/models/education/group.go
  backend/models/facilities/room.go
  docs/multi-tenancy/15-phase2-implementation-summary.md
Due: go-imports

fix: map missing group IDs to validation error instead of 500
  backend/services/active/combined_group_service.go
Due: go-imports

fix: address Phase 2 audit findings (credentials, indexes, model tags, grants)
  backend/database/migrations/001014001_create_tenant_roles.go
  backend/database/migrations/001014005_create_tenant_indexes.go
  backend/models/auth/account_parent.go
  backend/models/iot/device.go
  backend/models/users/guest.go
  backend/models/users/profile.go
  backend/models/users/staff.go
  backend/models/users/teacher.go
  docs/multi-tenancy/02-datenbank.md
  docs/multi-tenancy/15-phase2-implementation-summary.md
Due: go-imports

ci: run lint+test on PRs targeting any branch
  .github/workflows/main.yml
Due: none

fix: address code review findings for multi-tenancy Phase 1
  backend/models/auth/account_tenant.go
  backend/models/platform/organization.go
  backend/models/platform/school.go
  backend/test/fixtures.go
Due: go-imports

fix: distinguish role-not-found from server errors in registration
  backend/api/auth/api.go
Due: go-imports

fix: resolve late-queued requests with refreshed token instead of rejecting
  frontend/src/lib/api.ts
Due: frontend-lint

ci: remove Docker smoke-build jobs from lint pipeline
  .github/workflows/lint.yml
Due: none

ci: add deadcode exclusions for multi-tenancy Phase 1 primitives
  .github/workflows/lint.yml
Due: none

docs: add ecosystem section to CLAUDE.md
  CLAUDE.md
Due: none

fix: resolve critical review findings for multi-tenancy Phase 1
  .github/workflows/lint.yml
  backend/database/migrations/001013003_fix_schools_subdomain.go
  backend/tenant/context.go
  backend/tenant/context_test.go
  backend/tenant/tx.go
Due: go-imports

fix: correct type assertion in TxFromContext (CRIT-1 bridge)
  backend/models/base/transaction.go
Due: go-imports

fix: add -y flag to yq for YAML output in simulator key sync script
  scripts/update-simulator-keys.sh
Due: none

fix: resolve Phase 2 migration bugs and doc inconsistencies
  backend/database/migrations/001014001_create_tenant_roles.go
  backend/database/migrations/001014002_add_tenant_id_to_all_tables.go
  docs/multi-tenancy/02-datenbank.md
  docs/multi-tenancy/11-implementierungsplan.md
Due: go-imports

fix: address sequence, rollback, and password fallback issues in Phase 2
  backend/database/migrations/001014001_create_tenant_roles.go
  backend/database/migrations/001014002_add_tenant_id_to_all_tables.go
  backend/database/migrations/001014006_populate_account_tenants.go
Due: go-imports

fix: skip tables without id column in composite tenant index creation
  backend/database/migrations/001014005_create_tenant_indexes.go
Due: go-imports

fix: resolve index name collisions between V1.14.3 and V1.14.5
  backend/database/migrations/001014005_create_tenant_indexes.go
Due: go-imports

fix: require PHOENIX_AUTH_PASSWORD from env, remove hardcoded fallback
  .env.example
  backend/database/migrations/001014001_create_tenant_roles.go
  backend/dev.env.example
  docker-compose.example.yml
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
