Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

feat(work-time): tenant-level templates with rotation support
  backend/api/base.go
  backend/api/staff/api.go
  backend/api/staff/staff_test.go
  backend/api/work-time-models/api.go
  backend/database/migrations/001010009_create_work_time_models.go
  backend/database/repositories/config/work_time_model.go
  backend/database/repositories/factory.go
  backend/models/config/staff_work_schedule.go
  backend/models/config/work_time_model.go
  backend/models/config/work_time_model_test.go
  backend/models/users/staff.go
  backend/seed/api/seed_time_tracking.go
Due: go-imports

feat(staff): Arbeitszeitmodell tab with templates + A/B-Wochen rotation
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/components/staff/arbeitszeitmodell-tab.tsx
  frontend/src/components/staff/dienstplan-tab.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/uebersicht-tab.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/staff-api.ts
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint

fix(staff): add Next.js proxy routes for the new schedule + templates API
  frontend/src/app/api/staff/[id]/schedule/route.ts
  frontend/src/app/api/work-time-models/[id]/route.ts
  frontend/src/app/api/work-time-models/route.ts
Due: frontend-lint

fix(staff): use StaffRepository.Update so schedule writes hit the right RLS role
  backend/api/staff/api.go
Due: go-imports

fix(staff): align dropdown chevrons in Arbeitszeitmodell editor
  frontend/src/components/staff/arbeitszeitmodell-tab.tsx
Due: frontend-lint

fix(work-time): explicit entry load instead of bun Relation()
  backend/database/repositories/config/work_time_model.go
  backend/models/config/work_time_model.go
Due: go-imports

feat(backend): /api/students room_id filter + room presence service (#1323)
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/api/rooms/api.go
  backend/api/sse/resolve_supervisions_internal_test.go
  backend/api/students/api.go
  backend/api/students/list_helpers.go
  backend/api/students/students_room_filter_test.go
  backend/database/repositories/active/visits.go
  backend/database/repositories/active/visits_repository_test.go
  backend/models/active/repository.go
  backend/services/active/active_service.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/interface.go
  backend/services/active/visit_count_unit_test.go
  backend/services/facilities/facility_service.go
  backend/services/facilities/facility_service_test.go
  backend/services/scheduler/scheduler_test.go
Due: go-imports

feat(rooms): live 'Kinder im Raum' detail modal on /rooms (#1323, #1374)
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/components/rooms/index.ts
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/rooms/room-detail-modal.tsx
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

feat(students): room-filtered Kindersuche + nav context for room drill-in (#1323, #1374)
  frontend/src/app/[tenant]/(protected)/students/search/page.room-filter.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/app/api/students/route.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/rooms/index.ts
  frontend/src/components/rooms/room-detail-content.tsx
Due: frontend-lint

test(rooms): cover modal/content/proxy paths to clear SonarCloud gate (#1374)
  frontend/src/app/api/students/route.test.ts
  frontend/src/components/rooms/room-detail-content.test.tsx
  frontend/src/components/rooms/room-detail-modal.test.tsx
Due: frontend-lint

fix: preload timetable series templates
  frontend/src/app/[tenant]/(protected)/timetables/page.tsx
Due: frontend-lint

feat: add timetable year view
  frontend/src/app/[tenant]/(protected)/timetables/page.tsx
  frontend/src/components/timetable/period-switcher-dropdown.tsx
  frontend/src/components/timetable/timetable-toolbar.tsx
  frontend/src/components/timetable/year-planner-grid.tsx
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint

fix: show activities in month timetable cells
  frontend/src/components/timetable/month-planner-grid.tsx
Due: frontend-lint

fix: improve timetable settings wording
  backend/services/config/defaults/timetable.go
Due: go-imports

fix: require explicit timetable planning periods
  backend/api/timetable/api_test.go
  backend/database/migrations/001015040_backfill_default_calendar_periods.go
  backend/database/migrations/001015041_archive_timetable_templates.go
  backend/services/factory.go
  backend/services/platform/export_test.go
  backend/services/platform/operator_provisioning_service.go
  backend/services/platform/operator_provisioning_service_test.go
  backend/services/schedule/calendar_period_integration_test.go
  backend/services/schedule/calendar_period_service.go
  frontend/src/app/[tenant]/(protected)/timetables/page.tsx
Due: frontend-lint, go-imports

fix(enrollment): unblock Submit on Basis phases + fix tx-killing email_outbox INSERT
  backend/database/migrations/001015058_enrollment_requests_schema_id_nullable.go
  backend/database/migrations/001015059_email_outbox_add_updated_at.go
  backend/database/repositories/enrollment/form_schema_repository.go
  backend/models/enrollment/request.go
  backend/services/enrollment/request_service.go
Due: go-imports

feat(enrollment): replace DOB date input with three German dropdowns
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint

feat(enrollment): admin review UI — list + detail + per-child decisions (PR 8 slice 1)
  backend/api/base.go
  backend/api/enrollment/admin_decision_handlers.go
  backend/api/enrollment/api.go
  backend/database/repositories/enrollment/request_repository.go
  backend/models/enrollment/request.go
  backend/services/enrollment/decision_service.go
  backend/services/factory.go
  frontend/src/app/[tenant]/(protected)/admin/enrollments/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/admin/enrollments/page.tsx
  frontend/src/app/api/enrollment/admin/requests/[id]/children/[childId]/decide/route.ts
  frontend/src/app/api/enrollment/admin/requests/[id]/route.ts
  frontend/src/app/api/enrollment/admin/requests/route.ts
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/admin-enrollments-list.tsx
  frontend/src/lib/enrollment-admin-api.ts
Due: frontend-lint, go-imports

feat(enrollment): atomic approval pipeline + decision emails (PR 8 slice 2)
  backend/api/base.go
  backend/api/enrollment/admin_decision_handlers.go
  backend/api/enrollment/api.go
  backend/database/repositories/enrollment/request_child_repository.go
  backend/models/enrollment/request_child.go
  backend/services/enrollment/decision_renderers.go
  backend/services/enrollment/decision_service.go
  backend/services/factory.go
  backend/templates/email/enrollment-approved.html
  backend/templates/email/enrollment-rejected.html
  backend/templates/email/enrollment-waitlisted.html
Due: go-imports

feat: improve timetable event planning panel
  frontend/src/app/[tenant]/(protected)/timetables/page.tsx
  frontend/src/components/timetable/template-list.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

test(e2e): add Playwright foundation, flow specs, and isolated test stack (#1142)
  .env.example
  backend/cmd/safeguard.go
  docker-compose.example.yml
  frontend/.env.example
  frontend/e2e/.gitignore
  frontend/e2e/README.md
  frontend/e2e/auth.setup.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/flows/auth.spec.ts
  frontend/e2e/flows/checkin.spec.ts
  frontend/e2e/flows/groups-crud.spec.ts
  frontend/e2e/flows/iot-api.spec.ts
  frontend/e2e/flows/students-crud.spec.ts
  frontend/e2e/flows/tenant-switch.spec.ts
  frontend/e2e/helpers/admin-api.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/helpers/checkin-fixtures.ts
  frontend/e2e/helpers/iot.ts
  frontend/e2e/helpers/safeguard.ts
  frontend/e2e/helpers/seed-data.ts
  frontend/e2e/sick-badge-size.spec.ts
  frontend/next.config.js
  frontend/playwright.config.ts
  scripts/assert-local-url.sh
  scripts/seed-e2e-multi-tenant.sh
  scripts/seed-e2e.sh
  scripts/setup-e2e-hosts.sh
Due: frontend-lint, go-imports

test(e2e): harden suite, add CI integration, and isolate frontend on :3030 (#1142)
  .env.example
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  .gitignore
  README.md
  backend/cmd/seed.go
  backend/cmd/seed_test.go
  backend/seed/api/seeder.go
  backend/seed/api/workflow_steps.go
  docker-compose.example.yml
  frontend/.env.example
  frontend/e2e/README.md
  frontend/e2e/fixtures.ts
  frontend/e2e/flows/auth.spec.ts
  frontend/e2e/flows/checkin.spec.ts
  frontend/e2e/flows/groups-crud.spec.ts
  frontend/e2e/flows/iot-api.spec.ts
  frontend/e2e/flows/staff-permissions.staff.spec.ts
  frontend/e2e/flows/students-crud.spec.ts
  frontend/e2e/flows/tenant-switch.spec.ts
  frontend/e2e/helpers/checkin-fixtures.ts
  frontend/e2e/helpers/iot.ts
  frontend/e2e/helpers/seed-data.ts
  frontend/e2e/helpers/seed-state.ts
  frontend/playwright.config.ts
  scripts/lib/assert-local-url.sh
  scripts/seed-e2e-multi-tenant.sh
  scripts/seed-e2e.sh
Due: frontend-lint, go-imports

fix(e2e): chmod seed-state file readable on CI Linux runners
  scripts/seed-e2e.sh
Due: none

test(e2e): add factories, route helpers, UI CRUD coverage, and docs (#1142)
  frontend/e2e/README.md
  frontend/e2e/fixtures.ts
  frontend/e2e/flows/auth.spec.ts
  frontend/e2e/flows/groups-crud.spec.ts
  frontend/e2e/flows/students-crud.spec.ts
  frontend/e2e/helpers/factories.ts
  frontend/e2e/helpers/routes.ts
  frontend/playwright.config.ts
Due: frontend-lint

test(e2e): close remaining flakes — selectors, paths, timing, hermetics (#1142)
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  docker-compose.example.yml
  frontend/e2e/flows/auth.spec.ts
  frontend/e2e/flows/students-crud.spec.ts
  frontend/e2e/flows/tenant-switch.spec.ts
  frontend/e2e/helpers/seed-data.ts
  frontend/e2e/helpers/seed-state.ts
  frontend/e2e/sick-badge-size.staff.spec.ts
  frontend/playwright.config.ts
  scripts/seed-e2e.sh
Due: frontend-lint

fix(e2e): satisfy GitGuardian and SonarCloud quality gates
  .github/workflows/e2e.yml
  frontend/e2e/fixtures.ts
  frontend/e2e/flows/groups-crud.spec.ts
  frontend/e2e/flows/students-crud.spec.ts
  frontend/e2e/helpers/factories.ts
  frontend/e2e/helpers/seed-data.ts
  scripts/lib/assert-local-url.sh
  scripts/seed-e2e-multi-tenant.sh
  scripts/seed-e2e.sh
Due: frontend-lint

fix(e2e): exclude Playwright specs and CI workflow from specific Sonar rules
  .github/workflows/e2e.yml
  frontend/e2e/flows/groups-crud.spec.ts
  frontend/e2e/flows/students-crud.spec.ts
  sonar-project.properties
Due: frontend-lint

chore: parameterize compose host ports
  .env.example
  docker-compose.example.yml
  scripts/env-check.sh
Due: none

feat: improve timetable weekly planning
  CLAUDE.md
  backend/api/timetable/exception_conflicts_test.go
  backend/api/timetable/templates_create.go
  backend/database/migrations/001015050_timeframes_use_time_without_timezone.go
  backend/database/migrations/migrations_test.go
  backend/database/repositories/activities/schedule.go
  backend/database/repositories/activities/schedule_repository_test.go
  backend/internal/timezone/timezone.go
  backend/services/schedule/materialization_service.go
  backend/services/schedule/materialization_service_test.go
  backend/services/schedule/schedule_service.go
  backend/services/schedule/schedule_service_test.go
  backend/test/e2e/timetable/flow_g_template_clock_time_test.go
  backend/test/e2e/timetable/shared_setup.go
  frontend/src/app/[tenant]/(protected)/timetables/page.tsx
  frontend/src/components/timetable/instance-detail-slide-over.tsx
  frontend/src/components/timetable/planning-menu.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/components/timetable/timetable-toolbar.tsx
  frontend/src/components/timetable/weekly-calendar-grid.tsx
Due: frontend-lint, go-imports

test: remove unused timetable conflict helper
  backend/api/timetable/exception_conflicts_test.go
Due: go-imports

fix(students): cap page_size on /api/students proxy to prevent forced huge queries
  frontend/src/app/api/students/route.ts
Due: frontend-lint

chore: remove grepai and add qodana to gitignore
  .gitignore
  .grepai/index.gob
Due: none

refactor(e2e): move second-tenant provisioning from bash to Go seeder
  .github/workflows/e2e.yml
  backend/cmd/seed.go
  backend/seed/api/runtime.go
  backend/seed/api/second_tenant.go
  backend/seed/api/second_tenant_test.go
  backend/seed/api/seeder.go
  backend/seed/api/state.go
  backend/seed/api/workflow_steps.go
  frontend/e2e/README.md
  frontend/e2e/flows/tenant-switch.spec.ts
  frontend/e2e/helpers/iot.ts
  frontend/e2e/helpers/seed-data.ts
  frontend/e2e/helpers/seed-state.ts
  frontend/package.json
  frontend/playwright.config.ts
  scripts/seed-e2e-multi-tenant.sh
  scripts/seed-e2e.sh
Due: frontend-lint, go-imports

refactor(rooms): right slide-over with compact student rows and quiet section headers (#1323)
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.tsx
  frontend/src/components/rooms/room-detail-content.test.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/rooms/room-detail-modal.test.tsx
  frontend/src/components/rooms/room-detail-modal.tsx
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
  frontend/src/components/students/compact-student-card.tsx
  frontend/src/components/ui/drawer.tsx
Due: frontend-lint

refactor(rooms): brand colors + content-shaped skeletons to remove layout shift (#1323)
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/components/rooms/room-detail-content.test.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/rooms/room-detail-modal.tsx
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
  frontend/src/components/students/compact-student-card.tsx
Due: frontend-lint

refactor(rooms): dedupe categoryColors + content-shaped /rooms grid skeleton (#1323)
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/components/rooms/room-detail-content.test.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/lib/room-helpers.ts
Due: frontend-lint

test(students): cover CompactStudentCard for SonarCloud new-code gate (#1323)
  frontend/src/components/students/compact-student-card.test.tsx
Due: frontend-lint

chore(rooms): drop unused exports flagged by knip (#1323)
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/lib/room-helpers.ts
Due: frontend-lint

fix(students): forward current_room_color to detail-page LocationBadge (#1381)
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/lib/hooks/use-student-data.ts
Due: frontend-lint

fix(enrollment): attach existing global account on cross-school approval (PR 10)
  backend/services/enrollment/decision_service.go
  backend/services/factory.go
Due: go-imports
