Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

refactor: share student owner composition constructor
  backend/database/repositories/people_directory.go
Due: go-imports

test: classify student rollback archive after owner cutover
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

fix(tenant): scope switch retries to target school
  frontend/src/components/tenant/tenant-guard.test.tsx
  frontend/src/components/tenant/tenant-guard.tsx
Due: frontend-lint

fix(tenant): reload supervision on URL school changes
  frontend/src/components/tenant/tenant-guard.tsx
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

fix(tenant): hide stale supervision snapshots
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

fix(tenant): invalidate supervision on session loss
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

fix(tenant): invalidate stale session responses
  frontend/src/components/tenant/tenant-guard.test.tsx
  frontend/src/components/tenant/tenant-guard.tsx
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

fix(tenant): preserve recovery during token refresh
  frontend/src/components/tenant/tenant-guard.test.tsx
  frontend/src/components/tenant/tenant-guard.tsx
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

feat: invite guardians of many children at once (#3378)
  backend/api/guardians_composition.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/modules/identityaccess/account_lifecycle.go
  backend/modules/identityaccess/behavior/guardian_bulk_invite_test.go
  backend/modules/identityaccess/compose/account_lifecycle.go
  backend/modules/identityaccess/compose/guardian_bulk_invite.go
  backend/modules/identityaccess/guardian_bulk_invite.go
  backend/modules/identityaccess/internal/application/account_lifecycle_fakes_internal_test.go
  backend/modules/identityaccess/internal/application/guardian_bulk_invite.go
  backend/modules/identityaccess/internal/application/guardian_bulk_invite_internal_test.go
  backend/modules/identityaccess/internal/application/guardian_relative_access.go
  backend/modules/identityaccess/internal/domain/guardian_bulk_invite.go
  backend/modules/identityaccess/internal/ports/account_lifecycle.go
  backend/modules/peopledirectory/http/guardian_bulk_invite.go
  backend/modules/peopledirectory/http/guardian_bulk_invite_test.go
  backend/modules/peopledirectory/http/guardians.go
  backend/modules/peopledirectory/http/guardians_test.go
  backend/services/account_lifecycle_composition.go
  backend/services/guardian_directory_composition.go
  backend/test/module_function_length_ratchet_test.go
  frontend/public/help/screens/eltern-sammeleinladung.webp
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/app/api/guardians/bulk-invite/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/selection-bulk-invite-modal.test.tsx
  frontend/src/components/students/selection-bulk-invite-modal.tsx
  frontend/src/components/students/students-list.test.tsx
  frontend/src/components/students/students-list.tsx
  frontend/src/lib/guardian-bulk-invite-api.test.ts
  frontend/src/lib/guardian-bulk-invite-api.ts
Due: frontend-lint, go-imports

fix(tenant): mask stale URL metadata
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

fix(tenant): respect path tenant identity
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

test: isolate worker duration evidence from parallel metric series
  backend/observability/prometheus_test.go
Due: go-imports

feat(architecture): enforce migration evidence in CI
  .github/workflows/main.yml
  backend/architecture/README.md
  backend/architecture/account-sessions-2720.json
  backend/architecture/checkpoint-ticket-template.json
  backend/architecture/device-scan-2698.json
  backend/architecture/emergency-snapshot-2704.json
  backend/architecture/identity-membership-2721.json
  backend/architecture/migration-ticket-template.json
  backend/architecture/operator-sessions-2720.json
  backend/architecture/plan-export-2706.json
  backend/architecture/request-review-2705.json
  backend/architecture/session-end-2697.json
  backend/architecture/staff-offboarding-2709.json
  backend/architecture/staff-owner-backfill-2752.json
  backend/architecture/student-owner-backfill-2758.json
  backend/architecture/student-owner-cutover-2759.json
  backend/internal/architecture/evidence_delta.go
  backend/internal/architecture/evidence_gate_test.go
  backend/internal/architecture/evidence_history_fields.go
  backend/internal/architecture/evidence_inventory.go
  backend/internal/architecture/evidence_metric.go
  backend/internal/architecture/migration_evidence.go
  backend/internal/architecture/migration_evidence_test.go
  docs/adr/0026-migration-evidence-gate-preserves-provenance.md
  scripts/backend-architecture.sh
  scripts/check-migration-evidence.mjs
  scripts/check-migration-evidence.test.mjs
Due: go-imports

test: anchor care booking phases to scenario validity dates
  backend/modules/careplan/legacy/carelifecycle/care_booking_authority_integration_test.go
Due: go-imports

fix: preserve absence flags through student owner cutover
  backend/architecture/student-owner-backfill-2758.json
  backend/architecture/student-owner-cutover-2759.json
  backend/database/migrations/001015394_student_owner_backfill.go
  backend/database/migrations/001015394_student_owner_backfill_test.go
  backend/database/migrations/001015397_student_owner_cutover.go
  backend/database/migrations/student_care_compatibility_test.go
  backend/database/migrations/student_owner_backfill.go
  backend/database/migrations/student_owner_backfill_verify.go
  backend/database/migrations/student_owner_cutover_preflight_test.go
  docs/operations/student-owner-storage-backfill.md
  docs/operations/student-owner-storage-cutover.md
  docs/operations/student-owner-storage-cutover.sql
Due: go-imports

docs: align cutover evidence with preserved absence state
  backend/architecture/student-owner-backfill-2758.json
  backend/architecture/student-owner-cutover-2759.json
  docs/operations/student-owner-storage-backfill.md
  docs/operations/student-owner-storage-cutover.md
Due: none

test(careplan): keep booking fixtures valid across calendar dates
  backend/modules/careplan/legacy/carelifecycle/care_booking_authority_integration_test.go
Due: go-imports

docs: record policy rule cleanup issue proposal
  backend/architecture/rule-backfill-3416/proposal.jsonl
  scripts/propose-rule-issues.mjs
Due: none

chore: keep the bulk invite problem reason type module-local
  frontend/src/lib/guardian-bulk-invite-api.ts
Due: frontend-lint

fix(eltern): Sammeleinladungen absichern
  backend/modules/identityaccess/compose/account_authentication.go
  backend/modules/identityaccess/internal/adapters/postgres/store.go
  backend/modules/identityaccess/internal/application/account_authentication_fakes_test.go
  backend/modules/identityaccess/internal/application/account_lifecycle_fakes_internal_test.go
  backend/modules/identityaccess/internal/application/guardian_bulk_invite.go
  backend/modules/identityaccess/internal/application/guardian_bulk_invite_internal_test.go
  backend/modules/identityaccess/internal/application/guardian_relative_access.go
  backend/modules/identityaccess/internal/application/service.go
  backend/modules/identityaccess/internal/ports/ports.go
  backend/modules/peopledirectory/http/guardian_bulk_invite.go
  backend/modules/peopledirectory/http/guardian_bulk_invite_test.go
  backend/modules/peopledirectory/http/guardians_test.go
  frontend/src/components/students/selection-bulk-invite-modal.test.tsx
  frontend/src/components/students/selection-bulk-invite-modal.tsx
Due: frontend-lint, go-imports

fix(eltern): Ratchets der Sammeleinladung erfüllen
  backend/modules/identityaccess/internal/application/guardian_bulk_invite.go
  backend/modules/identityaccess/internal/application/guardian_invitation_insert.go
  backend/modules/identityaccess/internal/application/guardian_relative_access.go
  backend/test/module_complexity_ratchet_test.go
  backend/test/module_file_size_ratchet_test.go
  backend/test/module_function_length_ratchet_test.go
Due: go-imports

fix(eltern): Einladungsfehler korrekt klassifizieren
  backend/api/guardians_composition.go
  backend/api/guardians_composition_internal_test.go
  backend/modules/peopledirectory/http/guardians.go
  backend/services/guardian_directory_composition.go
  backend/services/guardian_directory_composition_internal_test.go
Due: go-imports

fix(eltern): bestehende Konten beim Sammelversand verknüpfen
  backend/modules/identityaccess/account_lifecycle.go
  backend/modules/identityaccess/compose/account_lifecycle.go
  backend/modules/identityaccess/compose/account_lifecycle_errors.go
  backend/modules/identityaccess/internal/application/guardian_bulk_invite.go
  backend/modules/identityaccess/internal/application/guardian_bulk_invite_internal_test.go
  backend/modules/identityaccess/internal/application/guardian_invitation_validation.go
  backend/modules/identityaccess/internal/application/guardian_relative_access.go
  backend/modules/identityaccess/internal/application/guardian_relative_access_internal_test.go
  backend/modules/identityaccess/internal/domain/account_lifecycle.go
  backend/services/guardian_directory_composition.go
  backend/test/module_file_size_ratchet_test.go
  frontend/src/components/students/selection-bulk-invite-modal.test.tsx
  frontend/src/components/students/selection-bulk-invite-modal.tsx
Due: frontend-lint, go-imports

test: keep ungated student contract helper in test scope
  backend/database/migrations/student_owner_contract.go
  backend/database/migrations/student_owner_contract_test.go
Due: go-imports

fix(frontend): add contextual help to school portal
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/help/context-help-link.test.tsx
  frontend/src/components/help/context-help-link.tsx
  frontend/src/lib/help-topics.test.ts
  frontend/src/lib/help-topics.ts
Due: frontend-lint

refactor(platform): contract the last api/platform and models/platform legacy edges
  backend/api/base.go
  backend/api/enrollment/phase_handlers_test.go
  backend/api/platform/announcements.go
  backend/api/platform/announcements_test.go
  backend/api/platform/api.go
  backend/api/platform/api_test.go
  backend/architecture/WORKPLAN.md
  backend/architecture/legacy.jsonl
  backend/models/platform/operator.go
  backend/models/platform/operator_email_change_token.go
  backend/models/platform/operator_email_change_token_test.go
  backend/models/platform/operator_invitation_token.go
  backend/models/platform/operator_invitation_token_test.go
  backend/models/platform/operator_test.go
  backend/models/platform/organization.go
Due: go-imports

fix: allow student storage cleanup during normal deployments
  backend/architecture/student-owner-contract-2760.json
  backend/database/migrations/001015399_student_owner_contract.go
  backend/database/migrations/student_owner_contract_context.go
  backend/database/migrations/student_owner_contract_runner_test.go
  backend/database/migrations/student_owner_contract_test.go
  docs/operations/student-owner-storage-contract.md
Due: go-imports

docs(architecture): record the #2740 contract evidence
  backend/architecture/contract-platform-2740.json
Due: none

feat: report cyclic components of the architecture owner graphs
  backend/architecture/README.md
  backend/internal/architecture/cli.go
  backend/internal/architecture/cycles.go
  backend/internal/architecture/cycles_test.go
  backend/internal/architecture/testdata/cycles/acyclic.json
  backend/internal/architecture/testdata/cycles/baseline/alpha/one/one.go
  backend/internal/architecture/testdata/cycles/baseline/alpha/two/two.go
  backend/internal/architecture/testdata/cycles/baseline/beta/beta.go
  backend/internal/architecture/testdata/cycles/baseline/go.mod
  backend/internal/architecture/testdata/cycles/baseline/legacy.jsonl
  backend/internal/architecture/testdata/cycles/baseline/policy.json
  backend/internal/architecture/testdata/cycles/shared-node.json
  backend/internal/architecture/testdata/cycles/two-node.json
  scripts/backend-architecture.sh
Due: go-imports

fix(architecture): retain mixed cycle evidence
  backend/internal/architecture/cycles.go
  backend/internal/architecture/cycles_test.go
Due: go-imports

feat(betreuung): Tagesnotiz ohne Abholzeit als Wochentags-Notiz (#3369)
  backend/api/students/effective_time_handler_core.go
  backend/api/students/pickup_schedule_handlers.go
  backend/api/students/pickup_weekday_note_test.go
  backend/database/migrations/001015400_weekday_pickup_notes.go
  backend/database/repositories/student_schedule_adapters.go
  backend/models/schedule/pickup_schedule.go
  backend/models/schedule/pickup_schedule_test.go
  backend/modules/careplan/internal/adapters/postgres/student_pickup_notes.go
  backend/modules/careplan/internal/adapters/postgres/student_schedules.go
  backend/modules/careplan/legacy/careschedule/pickup_schedule_service.go
  backend/modules/careplan/schedules.go
  backend/seed/api/seed_planning.go
  backend/seed/api/seed_planning_test.go
  backend/test/module_file_size_ratchet_test.go
Due: go-imports

feat(betreuung): Notiz zum Tag im Wochenplan und auf der Kinderkachel (#3369)
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/components/active-supervisions/student-grid.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/components/students/care-weekly-plan-editor.test.tsx
  frontend/src/components/students/care-weekly-plan-editor.tsx
  frontend/src/components/students/search-student-card.tsx
  frontend/src/components/students/student-card.test.tsx
  frontend/src/components/students/student-card.tsx
  frontend/src/lib/pickup-schedule-helpers.ts
  frontend/src/lib/pickup-weekday-notes.test.ts
Due: frontend-lint

fix: remove historical student cleanup deployment gates
  .github/workflows/build.yml
  backend/Dockerfile
  backend/architecture/student-owner-contract-2760.json
  backend/cmd/migrate.go
  backend/cmd/migrate_release.go
  backend/cmd/migrate_release_test.go
  backend/cmd/migrate_student_contract.go
  backend/database/migrations/student_owner_contract.go
  backend/database/migrations/student_owner_contract_context.go
  backend/database/migrations/student_owner_contract_evidence.go
  backend/database/migrations/student_owner_contract_evidence_test.go
  backend/database/migrations/student_owner_contract_preflight.go
  backend/database/migrations/student_owner_contract_preflight_test.go
  backend/database/migrations/student_owner_contract_runner_test.go
  backend/database/migrations/student_owner_contract_test.go
  docs/operations/student-owner-storage-contract.md
  scripts/deploy-remote.sh
  scripts/release-backup.test.mjs
  scripts/test-support/release-docker.mjs
Due: go-imports

docs: add public demo glossary terms and ADR 0027
  CONTEXT.md
  docs/adr/0027-public-demo-runs-as-its-own-environment.md
Due: none

refactor: remove temporary file storage composition dependencies
  backend/api/base.go
  backend/api/common/private_uploads.go
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/modules/documentrendering/compose/file_cleanup.go
  backend/modules/filestorage/compose/new.go
  backend/modules/filestorage/http/files/api_test.go
  backend/modules/filestorage/internal/ports/ports.go
  backend/modules/securityruntime/permission.go
  backend/services/factory.go
  backend/services/filestore_composition.go
  backend/services/filestore_test_helpers.go
  backend/test/policy_temporary_rules_ratchet_test.go
Due: go-imports

fix(careplan): preserve recurring pickup notes in readers
  backend/api/students/pickup_weekday_note_test.go
  backend/modules/careplan/internal/adapters/postgres/student_pickup_notes.go
  backend/modules/careplan/internal/adapters/postgres/student_pickup_notes_test.go
  backend/modules/careplan/legacy/careschedule/pickup_schedule_service.go
Due: go-imports

feat: make the demo seeder repeatable in one database (#3457)
  .github/workflows/test.yml
  backend/architecture/composition.json
  backend/cmd/safeguard.go
  backend/cmd/safeguard_test.go
  backend/cmd/seed.go
  backend/cmd/seed_adapter.go
  backend/cmd/seed_parents.go
  backend/cmd/seed_parents_test.go
  backend/internal/seedtoken/seedtoken.go
  backend/internal/seedtoken/seedtoken_test.go
  backend/seed/api/demo_school_test.go
  backend/seed/api/parent_enrollment.go
  backend/seed/api/seeder.go
  backend/seed/api/stammdaten.go
  backend/seed/api/workflow_steps.go
  docs/agents/operations.md
  docs/getting-started.md
Due: go-imports
