Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

refactor(people-directory): move the student write flow to its owner
  backend/architecture/README.md
  backend/database/repositories/auth_persistence_test_helpers.go
  backend/database/repositories/auth_test_helpers.go
  backend/database/repositories/care_plan.go
  backend/database/repositories/factory.go
  backend/database/repositories/parent_route_test_helpers.go
  backend/database/repositories/people_directory.go
  backend/database/repositories/rfid_test_helpers.go
  backend/database/repositories/staff_route_test_helpers.go
  backend/database/repositories/student_writes.go
  backend/database/repositories/timetable_test_helpers.go
  backend/database/repositories/users/student.go
  backend/models/users/companion_stranding_batch.go
  backend/models/users/student_companion.go
  backend/modules/careplan/compose/companion_records.go
  backend/modules/peopledirectory/compose/new.go
  backend/modules/peopledirectory/compose/student_companions.go
  backend/modules/peopledirectory/compose/student_write.go
  backend/modules/peopledirectory/departure/plan.go
  backend/modules/peopledirectory/departure/stranding_batch.go
  backend/modules/peopledirectory/internal/adapters/postgres/student_directory.go
  backend/modules/peopledirectory/internal/adapters/postgres/student_write.go
  backend/modules/peopledirectory/internal/application/student.go
  backend/modules/peopledirectory/internal/application/student_write.go
  backend/modules/peopledirectory/internal/domain/student.go
  backend/modules/peopledirectory/internal/domain/student_record.go
  backend/modules/peopledirectory/internal/domain/student_write.go
  backend/modules/peopledirectory/internal/ports/student.go
  backend/modules/peopledirectory/internal/ports/student_companions.go
  backend/modules/peopledirectory/peopledirectory.go
  backend/modules/peopledirectory/peopledirectory_test.go
  backend/modules/peopledirectory/student_engine_test.go
  backend/modules/peopledirectory/student_write.go
  backend/test/isolation_test.go
Due: go-imports

chore(identity): drop the legacy model validators the retired ports orphaned
  backend/auth/authorize/client_address.go
  backend/models/auth/token.go
  backend/models/auth/token_test.go
  backend/models/platform/operator.go
  backend/models/platform/operator_invitation_token.go
  backend/models/platform/operator_invitation_token_test.go
  backend/models/platform/operator_test.go
  backend/modules/identityaccess/internal/domain/operator_validate_test.go
  backend/modules/securityruntime/client_address.go
  backend/services/client_address.go
  backend/services/mfa_composition.go
  backend/services/operator_authentication_composition.go
Due: go-imports

refactor(people-directory): move the student lifecycle writes to the owner
  backend/database/repositories/student_writes.go
  backend/database/repositories/users/student.go
  backend/models/users/student_directory_filter.go
  backend/modules/peopledirectory/compose/student_write.go
  backend/modules/peopledirectory/internal/adapters/postgres/student_lifecycle.go
  backend/modules/peopledirectory/internal/application/student_lifecycle.go
  backend/modules/peopledirectory/internal/ports/student.go
  backend/modules/peopledirectory/student_engine_test.go
  backend/modules/peopledirectory/student_write.go
  backend/test/isolation_test.go
Due: go-imports

refactor(people-directory): move the student reads to the owner
  backend/api/timetable/participants_test.go
  backend/api/timetable/student_day_test.go
  backend/api/timetable/timetable_data_test_helpers_test.go
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/student_reads.go
  backend/database/repositories/student_writes.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_enrolled_lookup_test.go
  backend/models/users/student.go
  backend/modules/emergencysnapshot/legacy/legacy_test.go
  backend/modules/emergencysnapshot/legacy/runtime_checkpoint_test.go
  backend/modules/peopledirectory/compose/students.go
  backend/modules/peopledirectory/internal/adapters/postgres/student_records.go
  backend/modules/peopledirectory/internal/application/student_records.go
  backend/modules/peopledirectory/internal/domain/student_write.go
  backend/modules/peopledirectory/internal/ports/student.go
  backend/modules/peopledirectory/student_directory.go
  backend/modules/peopledirectory/student_engine_test.go
  backend/modules/peopledirectory/student_write.go
  backend/services/users/care_lifecycle_service_test.go
  backend/services/users/master_data_review_service_test.go
  backend/test/isolation_test.go
  backend/test/query_budgets.go
Due: go-imports

refactor(people-directory): move the locked student reads and the class gate
  backend/database/repositories/student_reads.go
  backend/database/repositories/student_writes.go
  backend/database/repositories/users/student.go
  backend/modules/peopledirectory/compose/students.go
  backend/modules/peopledirectory/internal/adapters/postgres/student_directory.go
  backend/modules/peopledirectory/internal/application/student_write.go
  backend/modules/peopledirectory/internal/domain/student_write.go
  backend/modules/peopledirectory/student_directory.go
  backend/modules/peopledirectory/student_engine_test.go
Due: go-imports

fix(workforce): validate rebooking overlap effects
  backend/modules/workforce/inbound/timetracking/staff_admin_absence_rebook_test.go
  backend/modules/workforce/legacy/timetracking/staff_absence_rebooking.go
  backend/modules/workforce/legacy/timetracking/staff_absence_service_test.go
Due: go-imports

refactor(people-directory): retire the generic student filter surface
  backend/architecture/composition.json
  backend/database/repositories/student_reads.go
  backend/database/repositories/student_writes.go
  backend/database/repositories/users/list_behavior_test.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_repository_test.go
  backend/models/users/repository.go
  backend/modules/peopledirectory/compose/students.go
  backend/modules/peopledirectory/internal/adapters/postgres/student_records.go
  backend/modules/peopledirectory/internal/application/student_records.go
  backend/modules/peopledirectory/internal/domain/student_write.go
  backend/modules/peopledirectory/internal/ports/student.go
  backend/modules/peopledirectory/student_directory.go
  backend/modules/peopledirectory/student_engine_test.go
  backend/services/enrollment/report_all_classes_test.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  backend/services/factory.go
  backend/services/users/person_directory_service.go
Due: go-imports

refactor(people-directory): move the student rosters to the owner
  backend/database/repositories/student_reads.go
  backend/database/repositories/student_writes.go
  backend/database/repositories/users/student.go
  backend/models/users/student_directory_filter.go
  backend/modules/peopledirectory/compose/students.go
  backend/modules/peopledirectory/internal/adapters/postgres/student_roster.go
  backend/modules/peopledirectory/internal/application/student_records.go
  backend/modules/peopledirectory/internal/domain/student_write.go
  backend/modules/peopledirectory/internal/ports/student.go
  backend/modules/peopledirectory/student_directory.go
  backend/modules/peopledirectory/student_engine_test.go
Due: go-imports

docs(architecture): record that the child table has one reader left
  backend/architecture/README.md
Due: none

fix(workforce): show rebooking accounts for each year
  frontend/src/components/staff/absence-booking-modal.tsx
  frontend/src/components/staff/absence-rebook-modal.test.tsx
  frontend/src/components/staff/absence-rebook-modal.tsx
Due: frontend-lint

feat(migrations): cut over student storage with previous-image compatibility
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/cmd/backfill_test.go
  backend/cmd/migrate_student_compatibility.go
  backend/database/migrations/001015119_students_drop_bus_column_test.go
  backend/database/migrations/001015124_students_departure_days_test.go
  backend/database/migrations/001015130_students_allowed_departure_modes_test.go
  backend/database/migrations/001015285_wissingen_departure_modes_test.go
  backend/database/migrations/001015363_parent_student_consents_test.go
  backend/database/migrations/001015365_meal_participation_test.go
  backend/database/migrations/001015387_guardian_storage_expand_test.go
  backend/database/migrations/001015393_student_owner_storage_expand_test.go
  backend/database/migrations/001015394_student_owner_backfill_test.go
  backend/database/migrations/001015396_student_owner_cutover.go
  backend/database/migrations/student_owner_backfill.go
  backend/database/migrations/student_owner_backfill_verify.go
  backend/database/migrations/student_owner_compatibility.go
  backend/database/migrations/student_owner_compatibility_repair.go
  backend/database/migrations/student_owner_cutover.go
  backend/database/migrations/student_owner_cutover_test.go
  backend/database/repositories/users/student_departure_days_test.go
  backend/services/import/integration/owner_failure_test.go
  backend/test/student_storage_cutover.go
  docs/operations/student-owner-storage-cutover.md
  docs/operations/student-owner-storage-cutover.sql
Due: go-imports

fix: clarify open room supervision UI
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part7.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part9.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/components/active-supervisions/states.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

test(timetable): take the pickup-extension students from the composed owner
  backend/api/timetable/pickup_extensions_test.go
Due: go-imports

fix(migrations): keep a routed student update whole across its three owners
  backend/architecture/student-owner-cutover-2759.json
  backend/database/migrations/student_owner_compatibility.go
  backend/database/migrations/student_owner_cutover_test.go
  backend/seed/api/coverage_ratchet_test.go
  docs/operations/student-owner-storage-cutover.md
Due: go-imports

test(migrations): pin the dependent consent view across the student cutover
  backend/architecture/composition.json
  backend/database/migrations/student_owner_cutover_test.go
  backend/test/student_storage_cutover.go
  docs/operations/student-owner-storage-backfill.md
Due: go-imports

feat(architecture): let a reviewed epoch declare a package relocation
  backend/architecture/README.md
  backend/architecture/policy.json
  backend/internal/architecture/import_debt.go
  backend/internal/architecture/policy.go
  backend/internal/architecture/relocation.go
  backend/internal/architecture/relocation_test.go
  docs/adr/0020-a-relocated-package-keeps-its-debt.md
Due: go-imports

chore(people-directory): retire the code the owner took over
  backend/database/repositories/student_audit.go
  backend/database/repositories/student_consent.go
  backend/database/repositories/student_seam_test_helpers.go
  backend/models/users/privacy_consent.go
  backend/models/users/privacy_consent_test.go
Due: go-imports

fix(auth): ausgeschaltetes Konto beim Login benennen statt als Passwortfehler
  backend/api/auth/session_handlers.go
  backend/modules/identityaccess/behavior/auth_login_inactive_test.go
  backend/modules/identityaccess/internal/application/account_login.go
  frontend/src/app/[tenant]/page.test.tsx
  frontend/src/app/[tenant]/page.tsx
  frontend/src/app/school/login/page.tsx
Due: frontend-lint, go-imports

fix(invitations): erneute Einladung weckt ein stillgelegtes Konto wieder auf
  backend/modules/identityaccess/behavior/invitation_dormant_account_test.go
  backend/modules/identityaccess/internal/application/school_invitation.go
  backend/modules/identityaccess/internal/ports/school_invitation.go
Due: go-imports

fix(students): wrap long health information
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint

fix(students): constrain health information width
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint

docs(operations): name the two tickets the student caller switch waits on
  docs/operations/student-owner-storage-cutover.md
Due: none

refactor(architecture): say what the relocation file check proves, and test its edges
  backend/architecture/README.md
  backend/internal/architecture/relocation.go
  backend/internal/architecture/relocation_test.go
  docs/adr/0020-a-relocated-package-keeps-its-debt.md
Due: go-imports

test(offboarding): erneute Einladung stellt das Konto wieder her
  backend/services/users/staff_offboarding_test.go
Due: go-imports

fix(migrations): register student owner cutover as 1.15.397
  backend/architecture/student-owner-cutover-2759.json
  backend/database/migrations/001015397_student_owner_cutover.go
  backend/test/student_storage_cutover.go
  docs/operations/student-owner-storage-cutover.md
Due: go-imports

test: assert open room status separately
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part9.test.tsx
Due: frontend-lint

fix(students): keep a garbled care-exit token actually garbled
  backend/api/students/care_exit_handlers_test.go
Due: go-imports

docs(invitations): Annahmevertrag beschreibt stillgelegte Konten
  docs/reference/invitation-acceptance.md
Due: none

docs(personal): Wiederaufnahme und Neuaufnahme festlegen
  CONTEXT.md
  docs/adr/0020-wiederaufnahme-fuehrt-die-fruehere-beschaeftigung-fort.md
Due: none

docs: ADR zur Wiederaufnahme auf 0021 umnummerieren
  docs/adr/0021-wiederaufnahme-fuehrt-die-fruehere-beschaeftigung-fort.md
Due: none

fix(migrations): keep routed student updates from clobbering concurrent commits
  backend/architecture/student-owner-cutover-2759.json
  backend/database/migrations/001015397_student_owner_cutover.go
  backend/database/migrations/student_owner_compatibility.go
  backend/database/migrations/student_owner_cutover.go
  backend/database/migrations/student_owner_cutover_test.go
  docs/operations/student-owner-storage-cutover.md
Due: go-imports

chore(adr): ADR-Nummern eindeutig machen und Dubletten prüfen
  backend/architecture/README.md
  backend/internal/architecture/relocation.go
  docs/adr/0020-a-relocated-package-keeps-its-debt.md
  docs/adr/0022-parent-portal-is-an-application-workflow.md
  lefthook.yml
  scripts/check-agent-context.mjs
  scripts/check-agent-context.test.mjs
Due: go-imports

fix(migrations): keep archive-only student columns across concurrent updates
  backend/architecture/student-owner-cutover-2759.json
  backend/database/migrations/student_owner_compatibility.go
  backend/database/migrations/student_owner_cutover_test.go
  docs/operations/student-owner-storage-cutover.md
Due: go-imports

refactor(careplan): name the care-exit read projection and wire the exit repositories at construction
  backend/api/base.go
  backend/api/students/care_exit_handlers_test.go
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/activity_booking_directory.go
  backend/database/repositories/care_exit_wiring.go
  backend/database/repositories/care_lifecycle_test_helpers.go
  backend/database/repositories/care_plan.go
  backend/database/repositories/factory.go
  backend/database/repositories/factory_test.go
  backend/database/repositories/factory_test_helpers.go
  backend/database/repositories/school_calendar.go
  backend/database/repositories/student_test_helpers.go
  backend/database/repositories/timetable_test_helpers.go
  backend/modules/careplan/legacy/careexitview/careexitview.go
  backend/modules/careplan/legacy/carelifecycle/care_exit_cleanup.go
  backend/modules/careplan/legacy/carelifecycle/care_exit_repository.go
  backend/modules/studentpresence/legacy/services/active/attendance_sse_enrichment_test.go
  backend/modules/timetable/legacy/timetableplanning/schedule_service_test.go
  backend/modules/timetable/legacy/timetableplanning/template_weekday_roster_integration_test.go
  backend/modules/timetable/legacy/timetableplanning/timetable_cleanup_service_test.go
  backend/modules/timetable/legacy/timetablesqltest/activity_exception_repo_test.go
  backend/modules/timetable/legacy/timetablesqltest/instance_staff_repo_test.go
  backend/modules/timetable/legacy/timetablesqltest/instance_student_repo_test.go
  backend/modules/timetable/legacy/timetablesqltest/planning_track_repo_test.go
  backend/modules/timetable/legacy/timetablesqltest/recurrence_rule_repository_test.go
  backend/modules/timetable/legacy/timetablesqltest/timeframe_repository_test.go
  backend/modules/workforce/legacy/shiftplanning/staff_schedule_overview_integration_test.go
  backend/services/enrollment/care_offering_service_test.go
  backend/services/enrollment/rollover_service_test.go
  backend/services/factory.go
  backend/services/scheduler/rollover_deadline_test.go
  backend/services/scheduler/session_end_timetable_test.go
  backend/test/isolation_test.go
Due: go-imports

test(careplan): give the relocated suites their own tenants and wire the companion service
  backend/api/students/parent_staff_internal_test.go
  backend/api/students/status_day_internal_test.go
  backend/api/students/test_helpers_test.go
  backend/modules/careplan/legacy/carelifecycle/companion_lock_test.go
  backend/modules/careplan/legacy/carelifecycle/main_test.go
  backend/modules/careplan/legacy/carelifecycle/student_companion_service_test.go
  backend/services/users/student_deletion_workflow_test.go
  backend/test/fixtures_care_lifecycle.go
Due: go-imports

docs(architecture): record where the care-exit application landed and why
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/modules/timetable/legacy/timetableplanning/timetable_cleanup_service_test.go
Due: go-imports

fix: portal mobile database create fab
  frontend/src/components/database/database-create-action.test.tsx
  frontend/src/components/database/database-create-action.tsx
Due: frontend-lint

fix: remove child deletion name confirmation
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/student-deletion-modal.test.tsx
  frontend/src/components/students/student-deletion-modal.tsx
Due: frontend-lint
