Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(outbox): lock claimed row during send to honor cancellation
  backend/database/repositories/platform/email_outbox_repository.go
  backend/database/repositories/platform/email_outbox_repository_test.go
  backend/models/platform/email_outbox.go
  backend/services/platform/outbox_worker.go
  backend/services/platform/outbox_worker_test.go
Due: go-imports

fix: make staff shift moves atomic
  backend/api/staff-shifts/api.go
  backend/api/staff-shifts/api_internal_test.go
  backend/api/testdata/route_table.golden
  backend/services/schedule/staff_shift_move.go
  backend/services/schedule/staff_shift_move_mock_test.go
  backend/services/schedule/staff_shift_series_integration_test.go
  backend/services/schedule/staff_shift_service.go
  frontend/e2e/dienstplan.spec.ts
  frontend/src/app/api/staff/shifts/[shiftId]/move/route.test.ts
  frontend/src/app/api/staff/shifts/[shiftId]/move/route.ts
  frontend/src/components/staff/dienstplan-halbjahr-grid.test.tsx
  frontend/src/components/staff/dienstplan-halbjahr-grid.tsx
  frontend/src/components/staff/shift-move-dialog.test.tsx
  frontend/src/components/staff/shift-move-dialog.tsx
  frontend/src/lib/shift-api.test.ts
  frontend/src/lib/shift-api.ts
Due: frontend-lint, go-imports

fix(migrations): resolve enrollment version collision
  backend/database/migrations/001015200_enrollment_deletions_audit.go
  backend/database/migrations/001015201_offering_adjustments_append_only.go
Due: go-imports

fix(dienstplan): preserve recurring shift invariants
  backend/database/migrations/001015190_staff_shift_series_test.go
  backend/database/migrations/001015202_staff_shift_series_occurrence_date.go
  backend/database/repositories/schedule/staff_shift_repo.go
  backend/database/repositories/schedule/staff_shift_series_exception_repo.go
  backend/models/schedule/staff_shift.go
  backend/services/schedule/staff_shift_flexible_changes_mock_test.go
  backend/services/schedule/staff_shift_move.go
  backend/services/schedule/staff_shift_move_mock_test.go
  backend/services/schedule/staff_shift_series_integration_test.go
  backend/services/schedule/staff_shift_series_service.go
  backend/services/schedule/staff_shift_service.go
  frontend/src/components/staff/dienstplan-halbjahr-grid.test.tsx
  frontend/src/components/staff/dienstplan-halbjahr-grid.tsx
  frontend/src/lib/hooks/use-dienstplan-data.test.ts
  frontend/src/lib/hooks/use-dienstplan-data.ts
Due: frontend-lint, go-imports

fix(dienstplan): reject stale shift edits
  backend/services/schedule/staff_shift_service.go
  backend/services/schedule/staff_shift_service_mock_test.go
  frontend/src/components/staff/dienstplan-halbjahr-grid.test.tsx
Due: frontend-lint, go-imports

fix(dienstplan): refresh half-year plan data
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/lib/hooks/use-dienstplan-data.test.ts
  frontend/src/lib/hooks/use-dienstplan-data.ts
Due: frontend-lint

fix(time-tracking): Monatskarte-Review-Findings Runde 8 (#1842)
  backend/services/active/labor_time_policy.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-session-table.targets.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/hooks/use-account-balance.test.ts
  frontend/src/lib/hooks/use-account-balance.ts
Due: frontend-lint, go-imports

fix(time-tracking): Migration auf 1.15.203 umnummerieren (#1842)
  backend/database/migrations/001015203_staff_schedule_rotation_anchor.go
  backend/models/config/staff_work_schedule.go
  backend/models/config/weekly_targets.go
Due: go-imports

fix(header): enlarge brand logo so star tip stays visible
  frontend/src/components/dashboard/header/brand-link.tsx
Due: frontend-lint

fix(time-tracking): laufende Pause konsistent auswerten (#1842)
  backend/services/active/labor_time_policy.go
  backend/services/active/labor_time_policy_test.go
  backend/services/active/work_session_service.go
  frontend/src/lib/staff-api.ts
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint, go-imports

docs(help): add screenshots for the central export page
  frontend/public/help/screens/datenverwaltung.webp
  frontend/public/help/screens/exporte.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

refactor(planung): extract shared useUrlParams hook from vertretung and dienstplan views
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/lib/hooks/use-url-params.test.tsx
  frontend/src/lib/hooks/use-url-params.ts
Due: frontend-lint

feat(ui): extend CapacityStrip with div render mode and reductions docking point
  frontend/src/components/ui/capacity-strip.stories.tsx
  frontend/src/components/ui/capacity-strip.test.tsx
  frontend/src/components/ui/capacity-strip.tsx
Due: frontend-lint

refactor(timetable): render InstanceBlock through PlanBlock and mark open gaps in the calendar
  frontend/src/components/timetable/instance-block.test.tsx
  frontend/src/components/timetable/instance-block.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/components/timetable/weekly-calendar-grid.test.tsx
  frontend/src/components/timetable/weekly-calendar-grid.tsx
  frontend/src/components/ui/plan-block.tsx
Due: frontend-lint

test(active): fix midnight attendance lookup
  backend/services/active/visit_helpers_test.go
Due: go-imports

feat(betreuungsplan): rebuild URL state on d/view/block and replace the header with PlanningContextBar
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/demand-origin.test.ts
  frontend/src/components/timetable/demand-origin.ts
  frontend/src/components/timetable/gap-jump-list.tsx
Due: frontend-lint

refactor(betreuungsplan): remove the chrome section, year view path and inline substitute
  frontend/src/components/timetable/betreuungsplan-skeleton.tsx
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/timetable-toolbar.tsx
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint

feat(betreuungsplan): opt-in day header with planned staff counts per weekday
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/weekly-calendar-grid.test.tsx
  frontend/src/components/timetable/weekly-calendar-grid.tsx
  frontend/src/components/ui/capacity-strip.tsx
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint

feat(timetable): Regeltermin OriginChip in the detail slide-over and criterion-13 redirect test
  frontend/src/components/timetable/instance-detail-slide-over.test.tsx
  frontend/src/components/timetable/instance-detail-slide-over.tsx
  frontend/src/components/timetable/planung-redirect.test.ts
Due: frontend-lint

chore(timetable): delete replaced chrome components and orphaned helpers, sync the help guide
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/plan-quality-panel.stories.tsx
  frontend/src/components/timetable/plan-quality-panel.test.tsx
  frontend/src/components/timetable/plan-quality-panel.tsx
  frontend/src/components/timetable/timetable-overview.stories.tsx
  frontend/src/components/timetable/timetable-overview.tsx
  frontend/src/components/timetable/timetable-setup-guide.stories.tsx
  frontend/src/components/timetable/timetable-setup-guide.test.tsx
  frontend/src/components/timetable/timetable-setup-guide.tsx
  frontend/src/components/timetable/timetable-small-components.test.tsx
  frontend/src/components/timetable/timetable-stat-card.stories.tsx
  frontend/src/components/timetable/timetable-stat-card.tsx
  frontend/src/components/timetable/timetable-style.ts
  frontend/src/components/timetable/timetable-toolbar.stories.tsx
  frontend/src/components/timetable/timetable-toolbar.tsx
  frontend/src/components/timetable/year-planner-grid.stories.tsx
  frontend/src/components/timetable/year-planner-grid.tsx
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

test(betreuungsplan): add end-to-end flow spec and refresh the guide screenshot
  frontend/e2e/betreuungsplan-flow.spec.ts
  frontend/public/help/screens/stundenplan.webp
  frontend/src/components/timetable/betreuungsplan-view.tsx
Due: frontend-lint

fix(betreuungsplan): apply review findings from the increment-4 pass
  frontend/src/components/timetable/betreuungsplan-skeleton.tsx
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/instance-detail-slide-over.tsx
  frontend/src/components/timetable/period-switcher-dropdown.stories.tsx
  frontend/src/components/timetable/period-switcher-dropdown.tsx
  frontend/src/components/timetable/weekly-calendar-grid.tsx
  frontend/src/components/ui/plan-block.tsx
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint

fix(timetable): render tiny blocks single-line and clamp reduced capacity at zero
  frontend/src/components/timetable/instance-block.tsx
  frontend/src/components/ui/capacity-strip.tsx
Due: frontend-lint

fix: restore NFC quickstart QR callout
  frontend/public/help/quickstart/nfc-guide-qr.svg
  frontend/src/app/help/nfc/erste-schritte/page.tsx
Due: frontend-lint

fix: clarify NFC quickstart overview text
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix: hide NFC quickstart QR callout on screen
  frontend/src/app/help/nfc/erste-schritte/page.tsx
Due: frontend-lint

fix: remove NFC quickstart QR code
  frontend/public/help/quickstart/nfc-guide-qr.svg
  frontend/src/app/help/nfc/erste-schritte/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix: index NFC quickstart in help search
  frontend/src/app/help/nfc/erste-schritte/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/help/guide-search.test.ts
  frontend/src/components/help/guide-search.ts
Due: frontend-lint

fix(time-tracking): Monatskarte-Review-Findings Runde 10 (#1842)
  backend/api/staff/month_summary_handlers.go
  backend/api/time-tracking/month_summary.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/components/staff/uebersicht-tab.targets.test.tsx
  frontend/src/components/staff/uebersicht-tab.tsx
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-api.ts
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

refactor(database): one card per export list, align card actions
  frontend/src/app/[tenant]/(protected)/database/exports/page.tsx
  frontend/src/components/students/student-export-modal.test.tsx
  frontend/src/components/students/student-export-modal.tsx
  frontend/src/components/ui/info-card.tsx
Due: frontend-lint

docs(help): update the export guide for the sectioned page
  frontend/public/help/screens/exporte.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(database): gate the room export card on rooms:read
  frontend/src/app/[tenant]/(protected)/database/exports/page.tsx
Due: frontend-lint

fix(time-tracking): Monatskarte-Review-Findings Runde 11 (#1842)
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/arbeitszeitmodell-tab.invalidation.test.ts
  frontend/src/components/staff/arbeitszeitmodell-tab.tsx
  frontend/src/components/staff/uebersicht-tab.targets.test.tsx
  frontend/src/components/staff/uebersicht-tab.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/components/time-tracking/monatskarte.test.tsx
  frontend/src/components/time-tracking/monatskarte.tsx
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-api.ts
Due: frontend-lint, go-imports

fix(betreuungsplan): apply aggregated review findings from the increment-4 reviews
  frontend/src/app/api/timetable/exception-conflicts/route.ts
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/gap-jump-list.tsx
  frontend/src/components/ui/capacity-strip.test.tsx
  frontend/src/components/ui/capacity-strip.tsx
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-api.ts
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

fix(time-tracking): Monatskarte-Review-Findings Runde 12 (#1842)
  backend/services/active/work_session_export_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/components/staff/arbeitszeitmodell-tab.invalidation.test.ts
  frontend/src/components/staff/arbeitszeitmodell-tab.tsx
  frontend/src/components/staff/uebersicht-tab.error.test.tsx
  frontend/src/components/staff/uebersicht-tab.tsx
Due: frontend-lint, go-imports

fix(students): reject student exports over the page-size cap
  backend/api/students/export_handlers.go
  backend/api/students/export_handlers_test.go
  frontend/src/app/api/students/export/route.ts
  frontend/src/lib/student-export-api.test.ts
  frontend/src/lib/student-export-api.ts
Due: frontend-lint, go-imports

fix(students): keep the export handler under the complexity ratchet
  backend/api/students/export_handlers.go
Due: go-imports

fix(export): cap the export after filters and gate the enrollment link on admin
  backend/api/students/export_handlers.go
  backend/api/students/export_handlers_test.go
  backend/api/students/list_helpers.go
  frontend/src/app/[tenant]/(protected)/database/exports/page.tsx
Due: frontend-lint, go-imports

fix(time-tracking): Monatskarte-Review-Findings Runde 13 (#1842)
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/components/staff/uebersicht-tab.tsx
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint, go-imports

fix(betreuungsplan): omit invalid zero coverage pair
  frontend/src/components/timetable/gap-jump-list.test.tsx
  frontend/src/components/timetable/gap-jump-list.tsx
Due: frontend-lint
