Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

docs(help): Konflikt-Banner und neue Konfliktregeln im Betreuungsplan-Kapitel dokumentieren (#2139)
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

chore(timetable): ConflictWarning-Interface nicht mehr exportieren (knip)
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

test(api): Route-Golden um GET /api/timetable/offering-sources ergänzen
  backend/api/testdata/route_table.golden
Due: none

test(api): Route-Golden um Conflict-Ack-Endpoints ergänzen (#2139)
  backend/api/testdata/route_table.golden
Due: none

feat(timetable): Sammel-Aktion 'Alle ausblenden' für offene Konflikte (#2139)
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/conflict-warnings-banner.stories.tsx
  frontend/src/components/timetable/conflict-warnings-banner.test.tsx
  frontend/src/components/timetable/conflict-warnings-banner.tsx
Due: frontend-lint

fix(timetable): Banner bei komplett quittierten Konflikten ausblenden, Wiedereinstieg über das Kopfzeilen-Menü (#2139)
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/conflict-warnings-banner.stories.tsx
  frontend/src/components/timetable/conflict-warnings-banner.test.tsx
  frontend/src/components/timetable/conflict-warnings-banner.tsx
Due: frontend-lint

test(timetable): Angebots-Quelle auf Backend- und Frontend-Seite abdecken
  backend/models/activities/group_offering_source_test.go
  backend/services/schedule/template_offering_source_integration_test.go
  backend/services/schedule/template_offering_source_unit_test.go
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-helpers.test.ts
Due: frontend-lint, go-imports

fix(timetable): compact planning track actions
  frontend/src/components/timetable/planning-track-manage-modal.test.tsx
  frontend/src/components/timetable/planning-track-manage-modal.tsx
Due: frontend-lint

fix(import): GDPR-Audit in der Import-Transaktion persistieren (#2141)
  backend/api/import/api.go
  backend/api/import/import_test.go
  backend/api/import/staff.go
  backend/services/import/import_service.go
Due: go-imports

fix(review): quorum-Erkennung an den quorum-Account binden statt an Kommentarform
  .claude/rules/quorum-review-loop.md
  scripts/quorum-rerequest.sh
Due: none

fix(timetable): Angebots-Resync respektiert die Gültigkeit der Anmeldung
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
Due: go-imports

fix(timetable): Ack-Bestand pro Konto begrenzen und effektiven Raum laufender Gruppen auflösen (#2139)
  backend/api/timetable/conflict_acks.go
  backend/database/migrations/001015263_timetable_conflict_acks.go
  backend/database/repositories/schedule/timetable_conflict_ack_repo.go
  backend/database/repositories/schedule/timetable_conflict_ack_repo_test.go
  backend/models/schedule/timetable_conflict_ack.go
  backend/services/schedule/auto_start_service.go
  backend/services/schedule/instance_conflict.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
Due: go-imports

feat(timetable): manage planning tracks inline
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/event-form/step-termin.test.tsx
  frontend/src/components/timetable/event-form/step-termin.tsx
  frontend/src/components/timetable/planning-track-manage-modal.test.tsx
  frontend/src/components/timetable/planning-track-manage-modal.tsx
  frontend/src/components/timetable/planning-track-select.test.tsx
  frontend/src/components/timetable/planning-track-select.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/components/ui/anchored-popover.tsx
  frontend/src/components/ui/input.tsx
Due: frontend-lint

fix(timetable): align planning track field sizing
  frontend/src/components/timetable/planning-track-select.tsx
  frontend/src/components/ui/anchored-popover.tsx
Due: frontend-lint

fix(review): Re-Request muss dem letzten Push folgen, quorum-Account wird deklariert
  .claude/rules/quorum-review-loop.md
  .github/quorum-reviewer
  scripts/quorum-rerequest.sh
Due: none

fix(timetable): satisfy planning track quality gates
  backend/database/repositories/schedule/planning_track_repo_test.go
  backend/models/schedule/planning_track_test.go
  backend/services/schedule/planning_track_service_edges_test.go
  backend/services/schedule/planning_track_service_test.go
  frontend/src/components/timetable/planning-track-select.test.tsx
  frontend/src/components/timetable/planning-track-select.tsx
  frontend/src/lib/planning-track-api.test.ts
Due: frontend-lint, go-imports

fix(import): Einladungsmail, Preview-Commit und Fehlerdetails härten
  backend/api/import/api.go
  backend/api/import/opening_balance.go
  backend/api/import/staff.go
  backend/services/auth/invitation_service.go
Due: go-imports

fix(review): Fehlerpfade dürfen weder als Erfolg enden noch den Request verlieren
  scripts/quorum-rerequest.sh
Due: none

test(timetable): cover planning track error paths
  backend/database/repositories/schedule/planning_track_repo_unit_test.go
  backend/services/schedule/planning_track_service_edges_test.go
  backend/services/schedule/planning_track_service_test.go
  backend/services/schedule/template_split_service_test.go
  frontend/src/lib/timetable-helpers.test.ts
Due: frontend-lint, go-imports

fix(timetable): Review-Befunde zur Angebots-Quelle beheben
  backend/api/timetable/templates_split.go
  backend/api/timetable/templates_split_test.go
  backend/database/migrations/001015264_template_offering_source.go
  backend/database/repositories/activities/group.go
  backend/models/activities/repository.go
  backend/services/education/grade_transition_offering_resync_test.go
  backend/services/education/grade_transition_service.go
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/factory.go
  backend/services/schedule/template_offering_source.go
  backend/services/schedule/template_offering_source_integration_test.go
  backend/services/schedule/template_split_service.go
Due: go-imports

fix(review): Push-Erkennung allein aus der Timeline, Apply-Zustand frisch verifizieren
  scripts/quorum-rerequest.sh
Due: none

fix(timetable): load dynamic targets for period edits
  backend/api/timetable/templates_create.go
  backend/api/timetable/templates_test.go
  backend/api/timetable/templates_update.go
  backend/services/schedule/timetable_data_service.go
Due: go-imports

fix(migrations): resolve version collision
  backend/database/migrations/001015264_group_targets.go
Due: go-imports

fix(deps): alle 25 offenen npm-Sicherheitswarnungen schliessen
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

fix(timetable): handle target-only series edits
  backend/services/schedule/template_split_service.go
  backend/services/schedule/template_weekday_validation_unit_test.go
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
Due: frontend-lint, go-imports

fix: align unassigned month track styling
  frontend/src/components/timetable/month-planner-grid.tsx
  frontend/src/components/timetable/planning-track-rendering.test.tsx
Due: frontend-lint

fix(timetable): align multi-target downstream behavior
  backend/api/timetable/templates_test.go
  backend/database/repositories/activities/group.go
  backend/models/activities/repository.go
  backend/services/schedule/timetable_data_capacity_test.go
  backend/services/schedule/timetable_data_service.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
  frontend/src/components/timetable/event-form/step-personal-kinder.tsx
  frontend/src/components/ui/multi-checkbox-select.test.tsx
  frontend/src/components/ui/multi-checkbox-select.tsx
Due: frontend-lint, go-imports

fix: position scoped planning track popover
  frontend/src/components/ui/anchored-popover.test.tsx
  frontend/src/components/ui/anchored-popover.tsx
Due: frontend-lint

fix(ui): preserve multi-select trigger semantics
  frontend/src/components/ui/multi-checkbox-select.test.tsx
  frontend/src/components/ui/multi-checkbox-select.tsx
Due: frontend-lint

fix(frontend): Session-Lookups deduplizieren, Kindersuche laedt frueher (#2123)
  frontend/src/components/database/configs/activities.config.tsx
  frontend/src/components/students/student-historie-tab.tsx
  frontend/src/lib/api-interceptor.test.ts
  frontend/src/lib/api-transport.ts
  frontend/src/lib/api.ts
  frontend/src/lib/auth-service.ts
  frontend/src/lib/database/service-factory.ts
  frontend/src/lib/passkey-api.ts
  frontend/src/lib/session-cache.test.ts
  frontend/src/lib/session-cache.ts
  frontend/src/lib/student-arrival-api.ts
  frontend/src/lib/student-companion-api.ts
  frontend/src/lib/teacher-api.test.ts
  frontend/src/lib/time-tracking-api.ts
  frontend/src/lib/timetable-api.ts
  frontend/src/test/setup.ts
Due: frontend-lint

fix(timetable): Review-Blocker zur Angebots-Quelle beheben
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/factory.go
  backend/services/schedule/roster_reconciler.go
  backend/services/schedule/template_create_service.go
  backend/services/schedule/template_offering_source_unit_test.go
  backend/services/schedule/template_update_service.go
Due: go-imports

fix(timetable): validate template update targets
  backend/api/timetable/templates_test.go
  backend/api/timetable/templates_update.go
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
Due: frontend-lint, go-imports

fix: align planning track integrations
  backend/api/timetable/planning_tracks.go
  backend/api/timetable/planning_tracks_unit_test.go
  backend/database/repositories/schedule/planning_track_repo.go
  backend/database/repositories/schedule/planning_track_repo_test.go
  backend/database/repositories/schedule/planning_track_repo_unit_test.go
  backend/models/schedule/planning_track.go
  backend/services/factory.go
  backend/services/planexport/betreuungsplan.go
  backend/services/planexport/robustness_internal_test.go
  backend/services/planexport/service.go
  backend/services/schedule/planning_track_service.go
  backend/services/schedule/planning_track_service_test.go
Due: go-imports

fix(review): Report-Kommentar per ID in der Timeline verankern statt per Zeitstempel
  scripts/quorum-rerequest.sh
Due: none

fix(timetable): preserve omitted target lists
  backend/api/timetable/templates_create.go
  backend/api/timetable/templates_split_test.go
  backend/api/timetable/templates_test.go
  backend/services/schedule/template_split_service.go
  backend/services/schedule/template_update_service.go
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
Due: frontend-lint, go-imports

refactor(frontend): Session-Token-Helfer in api.ts extrahieren, Generation-Zaehler vereinfachen
  frontend/src/lib/api.ts
  frontend/src/lib/session-cache.test.ts
  frontend/src/lib/session-cache.ts
  frontend/src/test/mocks/next-auth.ts
  frontend/src/test/setup.ts
Due: frontend-lint

fix(timetable): preserve group metadata and warnings
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
Due: frontend-lint, go-imports

fix(review): Codex-Hooks-Flag setzen, Push ohne Upstream erkennen, fehlender PR ist kein Fehler
  .claude/rules/quorum-review-loop.md
  .codex/config.toml
  scripts/quorum-rerequest.sh
Due: none

perf(backend): Identitätskette pro Request memoisieren (#2099)
  backend/CLAUDE.md
  backend/api/base.go
  backend/api/common/identity_request_cache_middleware.go
  backend/api/common/identity_request_cache_middleware_test.go
  backend/api/common/router.go
  backend/api/students/ogs_group_live_identity_budget_test.go
  backend/services/usercontext/identity_request_cache.go
  backend/services/usercontext/identity_request_cache_db_test.go
  backend/services/usercontext/identity_request_cache_internal_test.go
  backend/services/usercontext/interface.go
  backend/services/usercontext/sse_subscription.go
  backend/services/usercontext/usercontext_service.go
Due: go-imports
