Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(staff): use unique keys for supervision badges
  frontend/src/lib/staff-helpers.test.ts
  frontend/src/lib/staff-helpers.ts
Due: frontend-lint

refactor(staff): separate badge status from supervision info
  frontend/src/app/(protected)/staff/page.tsx
  frontend/src/lib/staff-helpers.test.ts
  frontend/src/lib/staff-helpers.ts
Due: frontend-lint

fix(seed): update roles to match migration 1.9.4
  backend/seed/fixed/auth.go
Due: go-imports

fix(staff): checked_out status should show Abwesend badge
  frontend/src/lib/staff-api.ts
Due: frontend-lint

fix(staff): time clock status takes priority over absence
  frontend/src/lib/staff-api.ts
Due: frontend-lint

fix(frontend): add 401 token refresh to all fetch-based API calls
  frontend/src/lib/active-service.ts
  frontend/src/lib/activity-api.test.ts
  frontend/src/lib/activity-api.ts
  frontend/src/lib/group-transfer-api.test.ts
  frontend/src/lib/group-transfer-api.ts
  frontend/src/lib/profile-api.test.ts
  frontend/src/lib/profile-api.ts
  frontend/src/lib/session-cache.ts
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-api.ts
  frontend/src/lib/student-api.ts
  frontend/src/lib/substitution-api.test.ts
  frontend/src/lib/substitution-api.ts
  frontend/src/lib/teacher-api.ts
Due: frontend-lint

fix(time-tracking): use timezone.Today() instead of Truncate(24h)
  backend/seed/fixed/work_sessions.go
  backend/services/active/work_session_service.go
  frontend/src/app/(protected)/time-tracking/page.tsx
Due: frontend-lint, go-imports

fix(time-tracking): security and timezone improvements
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/internal/timezone/timezone.go
  backend/seed/fixed/work_sessions.go
  backend/services/active/work_session_export_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/(protected)/time-tracking/page.tsx
  frontend/src/app/api/time-tracking/export/route.ts
Due: frontend-lint, go-imports

feat(time-tracking): server-side auto-end breaks with planned_end_time
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/api/time-tracking/errors.go
  backend/database/migrations/001010006_add_planned_end_time_to_breaks.go
  backend/database/repositories/active/work_session_break.go
  backend/models/active/repository.go
  backend/models/active/work_session_break.go
  backend/services/active/work_session_export_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/scheduler/scheduler.go
  frontend/src/app/(protected)/time-tracking/page.test.tsx
  frontend/src/app/(protected)/time-tracking/page.tsx
  frontend/src/app/api/time-tracking/break/start/route.ts
  frontend/src/lib/__tests__/time-tracking-helpers.test.ts
  frontend/src/lib/time-tracking-api.ts
  frontend/src/lib/time-tracking-helpers.test.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

fix(time-tracking): use classifyServiceError for breaks/edits handlers
  backend/api/time-tracking/api.go
  backend/api/time-tracking/errors.go
Due: go-imports

fix(time-tracking): persist break countdown across page refresh
  frontend/src/app/(protected)/time-tracking/page.tsx
Due: frontend-lint

test(staff-api): update tests for new time clock priority logic
  frontend/src/lib/staff-api.test.ts
Due: frontend-lint

fix(time-tracking): address code review findings
  backend/api/server.go
  backend/database/migrations/001010007_create_staff_absences.go
  backend/database/repositories/active/work_session.go
Due: go-imports

fix(tests): resolve CI test failures
  backend/services/active/work_session_export_test.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/(protected)/staff/page.test.tsx
  frontend/src/app/(protected)/time-tracking/page.test.tsx
  frontend/src/app/api/time-tracking/break/start/route.test.ts
Due: frontend-lint, go-imports

fix: address code review issues
  backend/api/time-tracking/api.go
  backend/database/migrations/001010007_create_staff_absences.go
  frontend/src/lib/time-tracking-api.ts
Due: frontend-lint, go-imports

fix(time-tracking): return proper HTTP status codes for session lookups and validate break duration
  backend/api/time-tracking/errors.go
  backend/services/active/work_session_service.go
Due: go-imports

feat: add audio-transcriber skill for local speech-to-text via Whisper
  .claude/skills/audio-transcriber/SKILL.md
Due: none

fix(ci): allow lint/test jobs to be skipped in ci-gate
  .github/workflows/main.yml
Due: none

fix(ui): rename student checkout button to "Geht nach Hause"
  frontend/src/app/(protected)/students/[id]/page.tsx
  frontend/src/components/students/student-checkout-section.tsx
Due: frontend-lint

test: update checkout button text assertion to match UI change
  frontend/src/components/students/student-checkout-section.test.tsx
Due: frontend-lint

fix(forms): prevent duplicate submissions via synchronous isSubmitting state
  frontend/src/components/activities/quick-create-modal.tsx
  frontend/src/components/ui/database/database-form.tsx
Due: frontend-lint

test: add double-submit prevention coverage
  frontend/src/components/activities/quick-create-modal.test.tsx
  frontend/src/components/ui/database/database-form.test.tsx
Due: frontend-lint

fix: address code review feedback for double-submit prevention
  frontend/src/components/activities/quick-create-modal.test.tsx
  frontend/src/components/activities/quick-create-modal.tsx
  frontend/src/components/ui/database/database-form.tsx
Due: frontend-lint

test: increase coverage for quick-create-modal double-submit prevention
  frontend/src/components/activities/quick-create-modal.test.tsx
Due: frontend-lint

fix(ui): improve Schulhof supervision UI and modal responsiveness
  frontend/src/app/(protected)/active-supervisions/page.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/page-header/PageHeader.tsx
Due: frontend-lint

fix(ui): prevent stuck loading state in Schulhof toggle
  frontend/src/app/(protected)/active-supervisions/page.test.tsx
  frontend/src/app/(protected)/active-supervisions/page.tsx
Due: frontend-lint

test: increase coverage for active-supervisions page to 81%
  frontend/src/app/(protected)/active-supervisions/page.test.tsx
Due: frontend-lint

feat: add applog package for slog-based structured logging
  backend/applog/applog.go
  backend/applog/applog_test.go
Due: go-imports

feat: replace chi middleware.Logger with slog-chi structured logging
  backend/api/base.go
  backend/api/base_test.go
  backend/api/server.go
  backend/cmd/gendoc.go
  backend/cmd/serve.go
  backend/go.mod
  backend/go.sum
Due: go-imports

feat: wire *slog.Logger through service Factory for active and usercontext services
  backend/api/active/checkin_test.go
  backend/api/base.go
  backend/api/groups/groups_test.go
  backend/api/import/import_test.go
  backend/api/rooms/rooms_test.go
  backend/api/sse/sse_test.go
  backend/api/students/test_helpers_test.go
  backend/api/testutil/helpers.go
  backend/api/usercontext/usercontext_test.go
  backend/cmd/cleanup_helpers.go
  backend/cmd/cleanup_test.go
  backend/services/active/active_group_service_test.go
  backend/services/active/active_service.go
  backend/services/active/cleanup_service_test.go
  backend/services/active/combined_group_service_test.go
  backend/services/active/session_conflict_test.go
  backend/services/active/session_edge_cases_test.go
  backend/services/active/session_service_coverage_test.go
  backend/services/active/visit_helpers_test.go
  backend/services/activities/activity_service_test.go
  backend/services/auth/auth_core_test.go
  backend/services/auth/refactored_modules_test.go
  backend/services/factory.go
  backend/services/factory_test.go
  backend/services/iot/iot_service_test.go
  backend/services/schedule/pickup_schedule_service_test.go
  backend/services/usercontext/usercontext_service.go
  backend/services/usercontext/usercontext_service_test.go
  backend/services/users/guardian_service_test.go
  backend/services/users/person_service_test.go
Due: go-imports

feat: replace logrus with slog across all packages, remove logging package
  backend/api/active/active_test.go
  backend/api/active/api.go
  backend/api/active/checkin.go
  backend/api/active/checkin_test.go
  backend/api/active/checkout_helpers.go
  backend/api/base.go
  backend/api/sse/resource.go
  backend/api/sse/sse_helpers.go
  backend/api/sse/sse_internal_test.go
  backend/api/sse/sse_test.go
  backend/auth/device/device_auth.go
  backend/auth/jwt/authenticator.go
  backend/go.mod
  backend/go.sum
  backend/logging/logger.go
  backend/logging/logger_test.go
  backend/realtime/hub.go
  backend/realtime/hub_test.go
  backend/services/active/active_service.go
  backend/services/active/visit_helpers.go
  backend/services/factory.go
  backend/services/usercontext/usercontext_service.go
Due: go-imports

refactor: replace DEBUG fmt.Printf with structured slog in session_service
  backend/services/active/session_service.go
Due: go-imports

chore: add golangci-lint v2 config with sloglint and fix violations
  backend/.golangci.yml
  backend/api/activities/api.go
  backend/api/auth/api.go
  backend/email/smtp.go
  backend/services/auth/account_management.go
  backend/services/auth/auth_login.go
  backend/services/auth/invitation_service.go
  backend/services/auth/password_reset.go
  backend/services/scheduler/scheduler.go
Due: go-imports

fix: use correct sloglint option name `no-mixed-args`
  backend/.golangci.yml
Due: none

docs: add slog logging rule and update CLAUDE.md
  .claude/rules/backend-logging.md
  CLAUDE.md
Due: none

refactor: replace bundebug with custom slog QueryHook
  backend/api/base.go
  backend/database/db.go
  backend/database/query_hook.go
  backend/go.mod
  backend/go.sum
Due: go-imports

fix: use Berlin timezone for date calculations to prevent off-by-one errors
  .github/workflows/test.yml
  backend/api/groups/api.go
  backend/api/groups/groups_test.go
  backend/api/usercontext/api.go
  backend/services/active/cleanup_service.go
  backend/services/active/cleanup_supervisors_test.go
  backend/services/active/session_service.go
  backend/services/usercontext/usercontext_service.go
Due: go-imports

fix: additional timezone test fix and staticcheck false positive
  backend/database/repositories/active/work_session_test.go
  backend/models/base/filters_test.go
Due: go-imports

fix(ui): eliminate loading flash on OGS student cards
  frontend/src/app/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/(protected)/ogs-groups/page.tsx
  frontend/src/app/api/ogs-dashboard/route.test.ts
  frontend/src/app/api/ogs-dashboard/route.ts
Due: frontend-lint
