Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(frontend): preserve tenant page status context
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/change-history/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback-history/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint

fix(frontend): restore tenant navigation states
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/components/ui/page-header/OverflowMenu.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix(frontend): preserve calendar and enrollment context
  frontend/src/app/[tenant]/(protected)/calendar/page.test.tsx
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/components/enrollment/admin-enrollment-change-requests.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
Due: frontend-lint

fix: resolve migration version collision after development merge
  backend/database/migrations/001015364_attendance_corrections.go
  lefthook.yml
Due: go-imports

fix: keep meal lists aligned with current date
  backend/api/base.go
  backend/architecture/composition.json
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_repository_test.go
  backend/models/users/repository.go
  frontend/src/components/meal-plan/meal-participant-list.test.tsx
  frontend/src/components/meal-plan/meal-participant-list.tsx
Due: frontend-lint, go-imports

fix(frontend): restore accessible tenant page states
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/calendar/personal-calendar.test.tsx
  frontend/src/components/calendar/personal-calendar.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/messaging/team-chat-inbox.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix(frontend): support tenant tab keyboard navigation
  frontend/src/components/ui/page-header/OverflowMenu.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix(frontend): preserve message compose modal
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/scripts/oxlint-plugin-ui-kit.test.ts
  frontend/src/app/[tenant]/(protected)/messages/page.tsx
Due: frontend-lint

fix(frontend): keep generic color rule location-free
  frontend/scripts/oxlint-plugin-ui-kit.mjs
Due: none

test: pin meal participation review cases
  backend/architecture/composition.json
  backend/database/repositories/users/student_repository_test.go
  backend/services/parent/parent_meal_plan_test.go
Due: go-imports

fix(frontend): align tenant empty states
  frontend/src/app/[tenant]/(protected)/messages/page.tsx
  frontend/src/app/[tenant]/(protected)/profile/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/activities/activity-management-modal.tsx
  frontend/src/components/planning/calendar-periods-editor.test.tsx
  frontend/src/components/planning/calendar-periods-editor.tsx
Due: frontend-lint

refactor(school-membership): migrate class-list entries to the owner facade
  backend/api/base.go
  backend/api/class_list_entries_composition.go
  backend/api/class_list_entries_composition_test.go
  backend/api/classday/class_list_entries_test.go
  backend/api/classlistentries/api.go
  backend/api/classlistentries/main_test.go
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/class_list_entry_membership.go
  backend/database/repositories/class_list_entry_membership_test.go
  backend/database/repositories/factory.go
  backend/database/repositories/users/class_list_entry.go
  backend/modules/schoolmembership/class_list_entry.go
  backend/modules/schoolmembership/class_list_entry_test.go
  backend/modules/schoolmembership/compose/class_list_entry_test.go
  backend/modules/schoolmembership/compose/new.go
  backend/modules/schoolmembership/http/classlistentries/api.go
  backend/modules/schoolmembership/http/classlistentries/api_test.go
  backend/modules/schoolmembership/internal/adapters/postgres/class_list_entry.go
  backend/modules/schoolmembership/internal/application/class_list_entry.go
  backend/modules/schoolmembership/internal/domain/membership.go
  backend/modules/schoolmembership/internal/ports/ports.go
  backend/modules/schoolmembership/schoolmembership.go
  backend/modules/schoolmembership/schoolmembership_test.go
  backend/observability/prometheus.go
  backend/services/class_list_entry_composition.go
  backend/services/education/grade_transition_class_list_entries_test.go
  backend/services/users/class_list_entry_service.go
  backend/test/class_list_entry_isolation_test.go
Due: go-imports

refactor(facilities): expose Room lookup capability
  backend/api/base.go
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/active/group.go
  backend/database/repositories/active/room_directory.go
  backend/database/repositories/active/student_location_repository_test.go
  backend/database/repositories/active/visits.go
  backend/database/repositories/education/group.go
  backend/database/repositories/education/room_directory.go
  backend/database/repositories/facilities/room.go
  backend/database/repositories/factory.go
  backend/database/repositories/iot/device.go
  backend/database/repositories/iot/room_directory.go
  backend/database/repositories/room_directory.go
  backend/database/repositories/room_directory_test.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/room_directory.go
  backend/database/repositories/users/care_exit_cleanup.go
  backend/database/repositories/users/room_directory.go
  backend/modules/facilities/compose/main_test.go
  backend/modules/facilities/compose/new.go
  backend/modules/facilities/compose/new_test.go
  backend/modules/facilities/facilities.go
  backend/modules/facilities/facilities_test.go
  backend/modules/facilities/internal/adapters/postgres/room_store.go
  backend/modules/facilities/internal/application/service.go
  backend/modules/facilities/internal/domain/room.go
  backend/modules/facilities/internal/ports/ports.go
  backend/observability/prometheus.go
  backend/observability/prometheus_test.go
  backend/services/emergency/service_test.go
  backend/services/factory.go
  backend/services/factory_student_consent_test.go
  backend/services/factory_test_helpers.go
  backend/test/isolation_test.go
Due: go-imports

refactor(school-membership): tighten the class-list cutover after review
  backend/api/class_list_entries_composition.go
  backend/api/class_list_entries_composition_test.go
  backend/architecture/composition.json
  backend/database/repositories/class_list_entry_membership.go
  backend/modules/schoolmembership/internal/domain/membership.go
Due: go-imports

test(school-membership): pin that the class-list adapter cannot smuggle a tenant
  backend/test/class_list_entry_isolation_test.go
Due: go-imports

test(school-membership): record the isolation test in the composition inventory
  backend/architecture/composition.json
Due: none

fix(facilities): scope room reads and lock restores
  backend/database/repositories/room_directory.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/room_directory.go
  backend/database/repositories/users/care_exit_cleanup.go
  backend/database/repositories/users/room_directory.go
  backend/modules/facilities/compose/new.go
  backend/modules/facilities/compose/new_test.go
  backend/modules/facilities/facilities.go
  backend/modules/facilities/facilities_test.go
  backend/modules/facilities/internal/adapters/postgres/room_store.go
  backend/modules/facilities/internal/application/service.go
  backend/modules/facilities/internal/ports/ports.go
Due: go-imports

fix(frontend): hide unavailable dashboard and calendar states
  frontend/src/app/[tenant]/(protected)/calendar/page.test.tsx
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
Due: frontend-lint

chore(deploy): bind postgres to loopback for read-only developer access
  environments/production.compose.yml
  environments/staging.compose.yml
Due: none

fix(nav): stop mobile bottom nav render loop
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
Due: frontend-lint

docs(perf): frontend performance baseline with measurement harness
  docs/perf/frontend-baseline-2026.md
  frontend/.gitignore
  frontend/package.json
  frontend/playwright.perf-dev.config.ts
  frontend/playwright.perf.config.ts
  frontend/pnpm-lock.yaml
  frontend/scripts/perf/access.ts
  frontend/scripts/perf/analyze.mjs
  frontend/scripts/perf/bundle-report.mjs
  frontend/scripts/perf/env.mjs
  frontend/scripts/perf/measure.perf.ts
  frontend/scripts/perf/react-scan.perf.ts
  frontend/scripts/perf/recorder.ts
  frontend/scripts/perf/report.mjs
  frontend/scripts/perf/targets.ts
Due: frontend-lint

fix(facilities): preserve transaction-scoped room reads
  backend/api/iot/checkin/checkin_test.go
  backend/modules/facilities/compose/new.go
  backend/modules/facilities/compose/new_test.go
  backend/modules/facilities/internal/adapters/postgres/room_store.go
  backend/services/active/visit_count_integration_test.go
  backend/services/iot/checkin/checkin_service_test.go
Due: go-imports

fix(frontend): count tiny-text baseline occurrences
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/scripts/oxlint-plugin-ui-kit.test.ts
Due: frontend-lint

chore: remove stale issue-2267 screenshot artifacts
  artifacts/issue-2267/after-mobile.png
  artifacts/issue-2267/after.png
  artifacts/issue-2267/before-mobile.png
  artifacts/issue-2267/before.png
  artifacts/issue-2267/pair-anfragen-mobile.png
  artifacts/issue-2267/pair-anfragen.png
Due: none

fix: address meal registration review
  .claude/rules/guardian-parent-permissions.md
  backend/auth/authorize/guardian_permission.go
  backend/auth/authorize/guardian_permission_test.go
  backend/database/migrations/001015365_meal_participation.go
  backend/database/migrations/001015365_meal_participation_test.go
  backend/modules/mealplan/http/api.go
  backend/modules/mealplan/http/api_test.go
  backend/services/parent/parent_meal_plan_test.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_write_service.go
  frontend/src/components/dashboard/shell-intl-provider.test.tsx
  frontend/src/components/dashboard/shell-intl-provider.tsx
  frontend/src/components/meal-plan/meal-participant-list.test.tsx
  frontend/src/components/meal-plan/meal-participant-list.tsx
  frontend/src/i18n/meal-participant-list-completeness.test.ts
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/meal-plan-api.ts
Due: frontend-lint, go-imports

feat: Lehrkraft trägt Klassen-Ankunftszeit in moto schule ein (#2970)
  backend/api/base.go
  backend/api/classday/api.go
  backend/api/classday/arrival_exceptions.go
  backend/api/classday/class_day_arrival_exceptions_test.go
  backend/api/school/school_arrival_exceptions_test.go
  backend/api/students/class_arrival_exception_handlers.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/api/timetable/operations_unit_test.go
  backend/architecture/composition.json
  backend/auth/authorize/permissions/constants.go
  backend/database/migrations/001015365_school_portal_arrival_exceptions.go
  backend/database/repositories/schedule/class_arrival_exception_repo.go
  backend/models/config/keys.go
  backend/models/schedule/class_arrival_exception.go
  backend/models/schedule/class_arrival_exception_test.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
  backend/services/enrollment/class_day_arrival_exception_service.go
  backend/services/enrollment/class_day_service.go
  backend/services/enrollment/report_service.go
  backend/services/factory.go
  backend/services/schedule/arrival_class_exception_service.go
  backend/services/schedule/timetable_operations_class_block.go
  backend/services/schedule/timetable_operations_class_block_test.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/app/api/school/class-day/arrival-exceptions/[schoolClass]/[date]/route.ts
  frontend/src/app/api/school/class-day/arrival-exceptions/block-start/route.ts
  frontend/src/app/api/school/class-day/arrival-exceptions/route.ts
  frontend/src/app/school/klasse/page.tsx
  frontend/src/components/class-arrival/class-arrival-exception-panel.tsx
  frontend/src/components/class-day/class-arrival-exception-dialog.test.tsx
  frontend/src/components/class-day/class-arrival-exception-dialog.tsx
  frontend/src/components/class-day/class-day-class.test.tsx
  frontend/src/components/class-day/class-day-class.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/class-arrival-exception-panel.tsx
  frontend/src/lib/class-day-api.ts
  frontend/src/lib/school-class-day-api.ts
  frontend/src/lib/student-arrival-api.ts
Due: frontend-lint, go-imports

fix: move attendance-correction migration to 1.15.365
  backend/database/migrations/001015365_attendance_corrections.go
Due: go-imports

chore(knip): register perf specs as playwright entries
  frontend/package.json
Due: none

fix(repositories): bind rooms in session cleanup
  backend/database/repositories/command_roots.go
  backend/database/repositories/room_directory_test.go
Due: go-imports

fix(frontend): limit database page status lines
  frontend/src/app/[tenant]/(protected)/database/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/class-list/page.tsx
Due: frontend-lint

fix(perf): isolate harness measurements
  frontend/scripts/perf/bundle-report.mjs
  frontend/scripts/perf/measure.perf.ts
  frontend/scripts/perf/react-scan.perf.ts
Due: frontend-lint

chore(architecture): refresh composition inventory
  backend/architecture/composition.json
Due: none

fix(frontend): preserve table action semantics
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/ui/data-table.test.tsx
  frontend/src/components/ui/data-table.tsx
Due: frontend-lint

chore: stop pinning the golangci-lint pre-push timeout
  backend/test/go_toolchain_pins_ratchet_test.go
  lefthook.yml
Due: go-imports

fix: preserve meal sickness event order
  backend/database/migrations/001015365_meal_participation.go
  backend/database/migrations/001015365_meal_participation_test.go
  backend/modules/mealplan/compose/new_test.go
Due: go-imports

fix(2970): Review-Befunde Runde 1 zur Klassen-Ankunftsausnahme in moto schule
  backend/api/classday/arrival_exceptions.go
  backend/api/classday/class_day_arrival_exceptions_test.go
  backend/api/school/school_arrival_exceptions_test.go
  frontend/src/components/class-arrival/class-arrival-exception-panel.tsx
  frontend/src/components/class-day/class-arrival-exception-dialog.tsx
  frontend/src/components/class-day/class-day-class.test.tsx
  frontend/src/components/class-day/class-day-class.tsx
  frontend/src/components/students/class-arrival-exception-panel.tsx
Due: frontend-lint, go-imports

feat(perf): bundle-size ratchet and shell render budget in CI
  .github/workflows/lint.yml
  frontend/CLAUDE.md
  frontend/package.json
  frontend/scripts/perf/bundle-baseline.json
  frontend/scripts/perf/bundle-ratchet.mjs
  frontend/scripts/perf/bundle-report.mjs
  frontend/scripts/perf/bundle-routes.mjs
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
Due: frontend-lint

fix: classify meal permission migration ledger
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

test(perf): share the render-budget helper and pin a lower bound
  frontend/CLAUDE.md
  frontend/scripts/perf/bundle-ratchet.mjs
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/test/render-budget.tsx
Due: frontend-lint
