Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(backend): Jede 5xx-Antwort wird genau ein Sentry-Event
  backend/api/base.go
  backend/api/common/errors.go
  backend/api/common/response.go
  backend/api/common/route_pattern.go
  backend/api/common/sentry.go
  backend/api/common/sentry_test.go
  backend/api/students/errors.go
  backend/api/testdata/middleware_table.golden
Due: go-imports

refactor(backend): Breadcrumb-Bereinigung aus dem Sentry-Eventprozessor ziehen
  backend/api/common/sentry.go
Due: go-imports

chore(backend): Kompositionsinventar auf die verschobene Zeile in api/base.go aktualisieren
  backend/architecture/composition.json
Due: none

feat(backend): Relay für PyrePortal-Fehler unter POST /api/iot/error-reports
  .env.example
  backend/api/base.go
  backend/api/common/errors.go
  backend/api/common/sentry.go
  backend/api/common/sentry_test.go
  backend/api/iot/compose/compose.go
  backend/api/iot/compose/error_reports.go
  backend/api/iot/compose/error_reports_test.go
  backend/api/iot/compose/kiosk_runtime.go
  backend/api/iot/error_reports.go
  backend/api/iot_error_reports_test.go
  backend/api/route_table_golden_test.go
  backend/api/server.go
  backend/api/testdata/iot_auth_matrix.golden
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/architecture/composition.json
  backend/cmd/serve.go
  backend/cmd/serve_test.go
  backend/dev.env.example
  backend/observability/sentry_envelope.go
  backend/observability/sentry_envelope_test.go
  docker-compose.example.yml
  docs/agents/contracts.md
  environments/demo.compose.yml
  environments/demo.sops.env
  environments/production.compose.yml
  environments/production.sops.env
  environments/runtime-env-allowlist.json
  environments/staging.compose.yml
  environments/staging.sops.env
  scripts/check-runtime-env.py
Due: go-imports

chore(backend): Kompositionsinventar auf die aktuellen Zeilen in api/base.go setzen
  backend/architecture/composition.json
Due: none

fix: roll back open-room booking when room lookup fails
  backend/modules/devicescan/internal/application/open_room.go
  backend/modules/devicescan/internal/application/open_room_internal_test.go
Due: go-imports

fix: Modal mit mobileSheet rendert auf Handybreite keinen Vaul-Drawer mehr
  frontend/src/components/parent/news/news-components.test.tsx
  frontend/src/components/ui/modal.test.tsx
  frontend/src/components/ui/modal.tsx
Due: frontend-lint

fix: Sheet-Höhe hält den oberen Sicherheitsbereich frei
  frontend/src/components/parent/news/news-components.test.tsx
  frontend/src/components/ui/modal.tsx
Due: frontend-lint

fix: assign booking materialization debt retirements to migration ticket
  backend/architecture/booking-materialization-3560.json
Due: none

fix: keep the booking materialization's phase and student read failures unchanged
  backend/architecture/composition.json
  backend/services/booking_materialization_composition.go
Due: go-imports

feat: Elternunterhaltung für das Team als ungelesen markieren
  backend/analytics/core_actions.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/database/migrations/001015422_parent_message_staff_marked_unread.go
  backend/models/users/parent_message_read.go
  backend/models/users/parent_message_thread.go
  backend/modules/communication/composition/messages.go
  backend/modules/communication/http/parentmessages/api.go
  backend/modules/communication/internal/adapters/parentinbox/predicates.go
  backend/modules/communication/internal/adapters/parentinbox/projection.go
  backend/modules/communication/internal/adapters/parentpostgres/parent_message_threads.go
  backend/modules/communication/internal/domain/parent_messages.go
  backend/modules/communication/internal/parentmessages/mark_unread.go
  backend/modules/communication/internal/parentmessages/mark_unread_test.go
  backend/modules/communication/internal/parentmessages/service.go
  backend/modules/communication/messages.go
  backend/modules/communication/parentstore/messages.go
  backend/modules/communication/parentstore/reads.go
  backend/seed/api/seed_parent_engagement.go
  backend/seed/api/seed_parent_engagement_test.go
  backend/test/module_complexity_ratchet_test.go
  backend/test/module_function_length_ratchet_test.go
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.mark-unread.test.tsx
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/app/api/messages/threads/[threadId]/unread/route.ts
  frontend/src/components/help/help-content.ts
  frontend/src/lib/parent-messages-api.test.ts
  frontend/src/lib/parent-messages-api.ts
Due: frontend-lint, go-imports

chore(backend): Kompositionsinventar nach Sentry-Merge aktualisieren
  backend/architecture/composition.json
Due: none

fix: Markierung als ungelesen hält offenen Ansichten und erneutem Markieren stand
  backend/models/users/parent_message_read.go
  backend/modules/communication/internal/adapters/parentinbox/projection.go
  backend/modules/communication/internal/adapters/parentpostgres/parent_message_threads.go
  backend/modules/communication/internal/parentmessages/mark_unread.go
  backend/modules/communication/internal/parentmessages/mark_unread_test.go
  backend/realtime/events.go
  frontend/src/lib/hooks/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-messages-activity.test.ts
  frontend/src/lib/hooks/use-messages-activity.ts
  frontend/src/lib/hooks/use-sse.ts
  frontend/src/lib/sse-types.ts
Due: frontend-lint, go-imports

fix: keep parent chat composer above the phone keyboard
  frontend/src/components/messaging/message-composer.test.tsx
  frontend/src/components/messaging/message-composer.tsx
  frontend/src/components/parent/messages/parent-messages-page.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/lib/hooks/use-chat-viewport-lock.test.tsx
  frontend/src/lib/hooks/use-chat-viewport-lock.ts
Due: frontend-lint

fix: let the phone keyboard resize only the visual viewport in the parents app
  frontend/src/app/parents/layout.tsx
Due: frontend-lint

fix: clarify health export scope
  frontend/src/components/help/help-content.ts
  frontend/src/components/students/student-export-modal.test.tsx
  frontend/src/components/students/student-export-modal.tsx
Due: frontend-lint

perf: Bundle-Baseline auf die CI-Zahlen nach dem Wegfall von Vaul im Modal ziehen
  frontend/scripts/perf/bundle-baseline.json
Due: none

fix: wait for thread reads before marking conversation unread
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.mark-unread.test.tsx
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
Due: frontend-lint

feat(backend): Sentry-Events tragen Schule, Konto, Portal, Rolle, Vorgangskennung und Fehlercode
  backend/api/base.go
  backend/api/common/errors.go
  backend/api/common/response.go
  backend/api/common/sentry.go
  backend/api/common/sentry_session.go
  backend/api/common/sentry_session_test.go
  backend/api/testdata/middleware_table.golden
  backend/architecture/composition.json
Due: go-imports

feat: Elternnachrichten für das eigene Konto alle als gelesen markieren
  backend/analytics/core_actions.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/models/users/parent_message_read.go
  backend/modules/communication/composition/messages.go
  backend/modules/communication/http/parentmessages/api.go
  backend/modules/communication/internal/adapters/parentpostgres/parent_message_reads.go
  backend/modules/communication/internal/parentmessages/mark_all_read.go
  backend/modules/communication/internal/parentmessages/mark_all_read_test.go
  backend/modules/communication/messages.go
  backend/modules/communication/parentstore/reads.go
  frontend/src/app/[tenant]/(protected)/messages/page.mark-all-read.test.tsx
  frontend/src/app/[tenant]/(protected)/messages/page.tsx
  frontend/src/app/api/messages/mark-all-read/route.ts
  frontend/src/components/help/help-content.ts
  frontend/src/lib/parent-messages-api.test.ts
  frontend/src/lib/parent-messages-api.ts
Due: frontend-lint, go-imports

fix: Meldung nach „Alle als gelesen markieren“ erklärt verbleibende Team-Markierungen
  backend/modules/communication/composition/messages.go
  backend/modules/communication/http/parentmessages/api.go
  backend/modules/communication/internal/parentmessages/mark_all_read.go
  backend/modules/communication/internal/parentmessages/mark_all_read_test.go
  backend/modules/communication/messages.go
  frontend/src/app/[tenant]/(protected)/messages/page.mark-all-read.test.tsx
  frontend/src/app/[tenant]/(protected)/messages/page.tsx
  frontend/src/app/api/messages/mark-all-read/route.ts
  frontend/src/lib/parent-messages-api.test.ts
  frontend/src/lib/parent-messages-api.ts
Due: frontend-lint, go-imports

test: Hilfsfunktionen im Sammel-Lesen-Test holen den Test-Pool über SetupTestDB
  backend/modules/communication/internal/parentmessages/mark_all_read_test.go
Due: go-imports

fix(parent-messages): bound bulk read cursors to inbox snapshot
  backend/models/users/parent_message_read.go
  backend/modules/communication/internal/adapters/parentinbox/projection.go
  backend/modules/communication/internal/adapters/parentpostgres/parent_message_reads.go
  backend/modules/communication/internal/domain/parent_messages.go
  backend/modules/communication/internal/parentmessages/mark_all_read.go
  backend/modules/communication/internal/parentmessages/mark_all_read_test.go
  backend/modules/communication/parentstore/reads.go
Due: go-imports

docs(help): clarify remaining unread team marks
  frontend/src/components/help/help-content.ts
Due: frontend-lint

fix: resolve enrollment captcha from tenant settings
  backend/api/enrollment/care_offering_handlers.go
  backend/api/enrollment/schema_handlers.go
  backend/api/enrollment/submission_captcha_test.go
  backend/modules/enrollment/internal/application/captcha.go
  backend/modules/enrollment/internal/application/captcha_test.go
  backend/modules/enrollment/internal/application/ports.go
  backend/modules/enrollment/notifications.go
  backend/services/enrollment_application_composition.go
  backend/services/enrollment_application_composition_test.go
  backend/services/factory.go
Due: go-imports

docs: record enrollment application retirement evidence
  backend/architecture/enrollment-application-3562.json
Due: none

fix: refresh legacy composition caller locations
  backend/architecture/composition.json
Due: none

chore: remove absolute-rules guard hook
  .agents/skills/stacked-pr/SKILL.md
  .claude/README.md
  .claude/hooks/guard-absolute-rules.sh
  .claude/hooks/guard-absolute-rules_test.sh
  .claude/settings.json
  .codex/hooks.json
  .codex/hooks/guard-absolute-rules.sh
  .github/workflows/main.yml
  .github/workflows/test.yml
  CLAUDE.md
  docs/perf/test-performance-analysis.md
  scripts/backend-affected-packages_test.sh
Due: none

chore: remove subagent reminder and stop quality gate hooks
  .claude/README.md
  .claude/hooks/subagent-reminder.sh
  .claude/settings.json
  .codex/hooks.json
  .codex/hooks/subagent-reminder.sh
  scripts/stop-quality-gate.sh
Due: none

feat(backend): Sentry-Environment kommt aus APP_ENV, Release ist der Commit-SHA, Demo-Backend meldet
  .env.example
  .github/workflows/build.yml
  backend/Dockerfile
  backend/cmd/serve.go
  backend/cmd/serve_test.go
  backend/dev.env.example
  docker-compose.example.yml
  docs/agents/contracts.md
  docs/operations/demo-environment.md
  environments/demo.compose.yml
  environments/demo.sops.env
  environments/production.compose.yml
  environments/production.sops.env
  environments/runtime-env-allowlist.json
  environments/staging.compose.yml
  environments/staging.sops.env
  scripts/check-runtime-env.py
  scripts/create-demo-env.py
Due: go-imports

fix(backend): update serve composition call location
  backend/architecture/composition.json
Due: none

test: port the class day and enrollment report suites to their new owners
  backend/api/base.go
  backend/architecture/README.md
  backend/architecture/WORKPLAN.md
  backend/architecture/class-day-reports-3563.json
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/group_names.go
  backend/modules/classday/http/class_day_api_test.go
  backend/modules/classday/http/class_day_arrival_exceptions_test.go
  backend/modules/classday/internal/application/arrival_exceptions_test.go
  backend/modules/classday/internal/application/day_report_facts_test.go
  backend/modules/classday/internal/application/day_report_rows_test.go
  backend/modules/classday/internal/application/day_report_test.go
  backend/modules/classday/internal/application/supervision_sheet_test.go
  backend/modules/enrollment/internal/application/care_usage_report_test.go
  backend/modules/enrollment/internal/application/care_usage_rows_test.go
  backend/modules/enrollment/internal/application/class_roster_day_test.go
  backend/modules/enrollment/internal/application/class_roster_departures_test.go
  backend/modules/enrollment/internal/application/class_roster_report_test.go
  backend/modules/enrollment/internal/application/class_roster_rows.go
  backend/modules/enrollment/internal/application/class_roster_rows_test.go
  backend/modules/enrollment/internal/application/report_audit_test.go
  backend/modules/enrollment/internal/application/report_display_order_test.go
  backend/modules/enrollment/internal/application/report_ports_test.go
  backend/modules/enrollment/internal/application/report_records_test.go
  backend/modules/schoolportal/school_api_test.go
  backend/modules/schoolportal/school_arrival_exceptions_test.go
  backend/services/class_day_test_helpers.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment_report_composition.go
  backend/services/factory.go
  backend/test/module_passthrough_ratchet_test.go
  backend/test/policy_temporary_rules_ratchet_test.go
Due: go-imports

fix(backend): report job failures mixed with shutdown cancellation
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/sentry_reporting_test.go
Due: go-imports

fix(backend): align composition inventory with serve call line
  backend/architecture/composition.json
Due: none
