Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(active): retain valid mixed-session targets
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
Due: frontend-lint

refactor(frontend): reduce initial client bundles
  frontend/CLAUDE.md
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback-history/feedback-history-chart.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback-history/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/history-charts.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/week-chart.tsx
  frontend/src/app/page.tsx
  frontend/src/app/parents/login/page.tsx
  frontend/src/app/providers.test.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/auth/tenant-auth-wrapper.test.tsx
  frontend/src/components/auth/tenant-auth-wrapper.tsx
  frontend/src/components/staff/uebersicht-charts.tsx
  frontend/src/components/staff/uebersicht-tab.tsx
  frontend/src/components/tenant/tenant-switcher.test.tsx
  frontend/src/components/tenant/tenant-switcher.tsx
  frontend/src/env.client.test.ts
  frontend/src/env.client.ts
  frontend/src/instrumentation-client.test.ts
  frontend/src/instrumentation-client.ts
  frontend/src/lib/active-service.ts
  frontend/src/lib/analytics.test.ts
  frontend/src/lib/analytics.ts
  frontend/src/lib/api-transport.ts
  frontend/src/lib/api-url.test.ts
  frontend/src/lib/api-url.ts
  frontend/src/lib/api.ts
  frontend/src/lib/auth-service.ts
  frontend/src/lib/posthog-client.test.ts
  frontend/src/lib/posthog-client.ts
  frontend/src/lib/server-api-url.test.ts
  frontend/src/lib/server-api-url.ts
  frontend/src/lib/student-api.ts
  frontend/src/lib/usercontext-api.ts
  frontend/src/test/setup-common.ts
Due: frontend-lint

fix(active): restrict mixed-source room moves
  frontend/src/components/help/guide-data.ts
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
Due: frontend-lint

chore(frontend): update bundle baseline
  frontend/scripts/perf/bundle-baseline.json
Due: none

fix(active): align supervision activity checks
  backend/api/active/visits_handlers.go
  backend/database/repositories/active/active_only_filter.go
  backend/database/repositories/active/combined_group.go
  backend/database/repositories/active/group.go
  backend/database/repositories/active/group_supervisor.go
  backend/database/repositories/active/group_supervisor_repository_test.go
  backend/database/repositories/group_projection_adapters_test.go
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
  frontend/src/lib/active-service.test.ts
  frontend/src/lib/active-service.ts
Due: frontend-lint, go-imports

test(architecture): refresh composition inventory
  backend/architecture/composition.json
  backend/database/repositories/group_projection_adapters_test.go
Due: go-imports

fix: permit candidate announcement projection
  backend/api/base.go
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/internal/architecture/package_additions.go
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/policy_compare_projection_test.go
  backend/modules/communication/compose/new.go
Due: go-imports

fix(active): refresh room move visits
  backend/api/active/active_test.go
  backend/api/active/visits_handlers.go
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
  frontend/src/lib/hooks/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint, go-imports

test: update composition inventory
  backend/architecture/composition.json
Due: none

fix(active): refresh room move targets
  frontend/src/lib/hooks/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

fix(active): serialize push move targets
  backend/database/repositories/active/group.go
  backend/models/active/repository.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/transit_service.go
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
Due: frontend-lint, go-imports

fix(active): lock room move authorization
  backend/database/repositories/active/group.go
  backend/database/repositories/active/group_supervisor.go
  backend/models/active/repository.go
  backend/services/active/active_service.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/transit_service.go
  backend/services/active/visit_helpers.go
  backend/services/active/work_session_service_test.go
Due: go-imports

fix(active): serialize room moves safely
  backend/database/repositories/active/group.go
  backend/database/repositories/active/visits.go
  backend/models/active/repository.go
  backend/services/active/active_service.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/session_service.go
  backend/services/active/transit_service.go
Due: go-imports

fix(active): preserve direct session creation
  backend/services/active/active_service.go
Due: go-imports

fix(active): serialize concurrent room moves
  backend/services/active/active_service.go
  backend/services/active/session_service.go
  backend/services/active/transit_service.go
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint, go-imports

refactor: move student status requests into care plan
  backend/api/base.go
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/active/excused_absence_request.go
  backend/database/repositories/active/statistics.go
  backend/database/repositories/active/student_status_day.go
  backend/database/repositories/active/student_status_day_archive_internal_test.go
  backend/database/repositories/active/student_status_day_counts.go
  backend/database/repositories/active/student_status_day_test.go
  backend/database/repositories/care_plan.go
  backend/database/repositories/factory.go
  backend/database/repositories/schedule/care_schedule_change_request.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/student_projection.go
  backend/database/repositories/users/care_exit_cleanup.go
  backend/database/repositories/users/student_data_change_request.go
  backend/database/repositories/users/student_data_change_request_coverage_test.go
  backend/database/repositories/users/student_deletion.go
  backend/modules/careplan/careplan.go
  backend/modules/careplan/careplantest/care_plan.go
  backend/modules/careplan/compose/new.go
  backend/modules/careplan/compose/new_test.go
  backend/modules/careplan/compose/records_test.go
  backend/modules/careplan/compose/requests.go
  backend/modules/careplan/compose/status_days.go
  backend/modules/careplan/internal/adapters/postgres/requests.go
  backend/modules/careplan/internal/adapters/postgres/status_days.go
  backend/modules/careplan/internal/adapters/postgres/status_days_test.go
  backend/modules/careplan/internal/domain/types.go
  backend/modules/careplan/legacy/request_repositories.go
  backend/modules/careplan/legacy/status_day_repository.go
  backend/modules/careplan/requests.go
  backend/modules/careplan/status_days.go
  backend/services/parent/parent_request_sharing_service_test.go
  backend/services/slotlists/service_integration_test.go
Due: go-imports

fix(active): order force-start room locks
  backend/services/active/session_service.go
  backend/services/active/transit_service.go
Due: go-imports

fix(cleanup): configure active tenant runtime
  backend/services/cleanup_composition.go
Due: go-imports

fix: preserve care plan architecture boundaries
  backend/api/base.go
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/database/repositories/base/request_queue_filters.go
  backend/database/repositories/care_plan.go
  backend/database/repositories/care_plan_request_adapters.go
  backend/database/repositories/care_plan_status_day_adapter.go
  backend/database/repositories/factory.go
  backend/database/repositories/factory_test_helpers.go
  backend/database/repositories/student_schedule_adapters.go
  backend/modules/careplan/careplantest/care_plan.go
  backend/modules/careplan/compose/new.go
  backend/modules/careplan/compose/new_test.go
  backend/modules/careplan/compose/records_test.go
  backend/modules/careplan/compose/status_days.go
  backend/modules/careplan/internal/adapters/postgres/requests.go
  backend/modules/careplan/internal/adapters/postgres/status_days.go
  backend/modules/careplan/internal/adapters/postgres/status_days_test.go
  backend/modules/careplan/legacy/schedule_contract.go
  backend/services/slotlists/service_integration_test.go
  backend/services/users/master_data_history_service_test.go
Due: go-imports

fix(architecture): preserve communication boundaries
  backend/api/base.go
  backend/api/server.go
  backend/architecture/policy.json
  backend/modules/communication/composition/main_test.go
  backend/modules/communication/composition/messages.go
  backend/modules/communication/composition/messages_test.go
  backend/modules/communication/composition/new.go
  backend/modules/communication/composition/new_test.go
  backend/modules/communication/composition/parent_announcements.go
  backend/modules/communication/composition/parent_announcements_test.go
  backend/modules/communication/composition/query_observer.go
  backend/modules/communication/composition/query_observer_test.go
  backend/modules/communication/internal/staffannouncements/attachments.go
  backend/modules/communication/internal/staffannouncements/care_cancellation.go
  backend/modules/communication/internal/staffannouncements/care_cancellation_test.go
  backend/modules/communication/internal/staffannouncements/email.go
  backend/modules/communication/internal/staffannouncements/letter.go
  backend/modules/communication/internal/staffannouncements/letter_internal_test.go
  backend/modules/communication/internal/staffannouncements/main_test.go
  backend/modules/communication/internal/staffannouncements/poll.go
  backend/modules/communication/internal/staffannouncements/poll_internal_test.go
  backend/modules/communication/internal/staffannouncements/service.go
  backend/modules/communication/internal/staffannouncements/service_internal_test.go
  backend/modules/communication/internal/staffannouncements/service_letter_internal_test.go
  backend/modules/communication/internal/staffannouncements/service_methods_internal_test.go
  backend/modules/communication/internal/staffannouncements/service_publish_consent_internal_test.go
  backend/modules/communication/internal/staffannouncements/service_publish_internal_test.go
  backend/services/factory.go
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/worker.go
Due: go-imports

fix(care-plan): serialize status day projections
  backend/database/repositories/schedule/instance_student_repo.go
  backend/modules/careplan/internal/adapters/postgres/status_days.go
Due: go-imports

test: eliminate enrollment calendar time bombs
  backend/CLAUDE.md
  backend/api/students/direct_correction_db_test.go
  backend/api/students/pickup_adjustment_handlers_test.go
  backend/api/students/test_helpers_test.go
  backend/architecture/composition.json
  backend/services/enrollment/care_offering_booking_stats_internal_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/export_test.go
  backend/services/enrollment/offering_adjustment_complete_withdrawal_test.go
  backend/services/enrollment/offering_adjustment_dated_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_arrival_projection_test.go
  backend/services/enrollment/offering_change_direct_adjustment.go
  backend/services/enrollment/offering_pickup_projection_test.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/enrollment/pickup_adjustment_service.go
  backend/services/enrollment/pickup_adjustment_service_test.go
  backend/services/enrollment/report_service_test.go
  backend/services/enrollment/rollover_autoapprove_integration_test.go
  backend/services/enrollment/timetable_arrival_projection_test.go
  backend/services/factory.go
  backend/test/calendar_fixture_ratchet_scanner_test.go
  backend/test/calendar_fixture_ratchet_test.go
Due: go-imports

fix(enrollment): transact offering roster resync
  backend/services/enrollment/offering_source_service.go
Due: go-imports

fix(scheduler): skip unavailable staff message cleanup
  backend/api/server.go
  backend/api/server_test.go
  backend/architecture/composition.json
Due: go-imports

fix(care-plan): order latest status day queries
  backend/modules/careplan/internal/adapters/postgres/status_days.go
Due: go-imports

test(communication): rely on test clone cleanup
  backend/modules/communication/internal/staffmessages/service_test.go
Due: go-imports

refactor(active): Tenant-Runtime am Service-Vertrag statt per Typzusicherung
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/services/active/interface.go
  backend/services/cleanup_composition.go
  backend/services/scheduler/scheduler_test.go
  backend/services/usercontext/sse_subscription_internal_test.go
Due: go-imports

refactor(active): Raumwahl ohne Wrapper-Kette
  backend/services/active/session_service.go
  backend/services/active/session_service_internal_test.go
Due: go-imports

fix(frontend): type navigation prefetch router
  frontend/src/components/ui/nav-link.tsx
Due: frontend-lint

test(enrollment): run sourced roster approval in tenant tx
  backend/architecture/composition.json
  backend/services/enrollment/offering_source_service_test.go
Due: go-imports

test(nav): update mobile planning drawer expectations
  frontend/e2e/planung-navigation.spec.ts
Due: frontend-lint

docs(nav): correct sidebar references
  frontend/src/app/[tenant]/(protected)/tagesinformationen/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(nav): prefix mobile drawer tenant links
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
Due: frontend-lint

fix(nav): scope mobile drawer sections to tenant
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
Due: frontend-lint

docs(guide): correct child records navigation label
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix: fail fast in seed and full-day simulation
  backend/api/command_adapter.go
  backend/api/command_adapter_test.go
  backend/api/iot/checkin/handlers.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/internal/shared/errors.go
  backend/api/iot/internal/shared/errors_test.go
  backend/cmd/seed_adapter.go
  backend/database/migrations/001015367_spontaneous_activity_instance_uniqueness.go
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/activity_instance_repo_test.go
  backend/seed/api/adapter.go
  backend/seed/api/adapter_test.go
  backend/seed/api/client.go
  backend/seed/api/seed_extras.go
  backend/seed/api/seed_staff_messaging.go
  backend/seed/api/seed_time_tracking.go
  backend/seed/api/seeder.go
  backend/seed/api/seeder_test.go
  backend/seed/api/stammdaten.go
  backend/seed/api/stammdaten_test.go
  backend/simulate/feed_tombstone_test.go
  backend/simulate/fullday.go
  backend/simulate/fullday_test.go
  backend/simulate/state.go
  backend/test/http_api_adapter.go
Due: go-imports

fix(devbox): share Go module cache across worktrees
  backend/test/go_toolchain_pins_ratchet_test.go
  devbox.json
Due: go-imports

chore(frontend): refresh bundle baseline
  frontend/scripts/perf/bundle-baseline.json
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
