Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

chore(frontend): add hand-rolled card-surface ratchet (#2933)
  .claude/rules/frontend-ui-kit.md
  frontend/.oxlintrc.json
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/scripts/oxlint-plugin-ui-kit.test.ts
Due: frontend-lint

fix(auth): Abwesenheits-Wortlaut und Personal-Aktionen nachziehen (#2906)
  backend/api/staff/staff_handlers.go
  backend/api/staff/staff_test.go
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/api/staff/[id]/route.ts
  frontend/src/components/staff/abwesenheiten-tab.allowances.test.tsx
  frontend/src/components/staff/abwesenheiten-tab.opening.test.tsx
  frontend/src/components/staff/abwesenheiten-tab.stories.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/teachers/staff-master-detail.test.tsx
  frontend/src/components/teachers/staff-master-detail.tsx
Due: frontend-lint, go-imports

fix(sidebar): Gruppen-Icon oeffnet wieder Meine Gruppen, zweiter Bereich erst mit Bezeichnung
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix: fence leased delivery processing
  backend/modules/delivery/application/notifications/webpush_channel.go
  backend/modules/delivery/compose/webpush.go
  backend/modules/delivery/delivery.go
  backend/modules/delivery/internal/adapters/postgres/store.go
  backend/modules/delivery/internal/adapters/postgres/store_test.go
  backend/modules/delivery/internal/adapters/webpush/sender.go
  backend/modules/delivery/internal/adapters/webpush/sender_test.go
  backend/modules/delivery/internal/application/worker.go
  backend/modules/delivery/internal/application/worker_test.go
  backend/modules/delivery/internal/ports/ports.go
  backend/services/delivery_provider.go
  backend/services/factory.go
Due: go-imports

test(arch): Kompositions-Inventar um neuen Personal-Test ergänzen (#2906)
  backend/architecture/composition.json
Due: none

fix: preserve delivery composition boundary
  backend/services/delivery_provider.go
  backend/services/factory.go
Due: go-imports

refactor: remove unused consent type exports (#2636)
  frontend/src/lib/parent-api.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint

fix(sidebar): Gruppen-Icon oeffnet Meine Gruppen auch bei fremder Gruppe
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix: validate durable delivery boundaries
  backend/modules/delivery/delivery.go
  backend/modules/delivery/internal/adapters/webpush/sender.go
  backend/modules/delivery/internal/adapters/webpush/sender_test.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
Due: go-imports

test: preserve composition inventory locations
  backend/services/enrollment/request_service_test.go
Due: go-imports

fix(statistics): Kursbegriff und Anwesenheitsdeckung schärfen (#2891)
  backend/api/statistics/api_test.go
  backend/database/repositories/schedule/course_statistics_repo.go
  backend/seed/api/seed_extras.go
  backend/seed/api/seeder_test.go
Due: go-imports

fix: recheck push recipient authorization
  backend/modules/delivery/application/notifications/webpush_channel.go
  backend/modules/delivery/application/notifications/webpush_channel_internal_test.go
  backend/modules/delivery/delivery.go
  backend/services/delivery_provider.go
  backend/services/factory.go
Due: go-imports

test: avoid split request token collisions
  backend/services/schedule/template_split_service_test.go
Due: go-imports

fix: restore merged test contracts
  backend/api/students/students_test.go
  backend/architecture/composition.json
  backend/test/fixtures.go
Due: go-imports

fix(statistics): Teilnahme nur auf stattgefundenen Terminen (#2891)
  backend/api/statistics/api_test.go
  backend/database/repositories/schedule/course_statistics_repo.go
  backend/models/schedule/course_statistics.go
  backend/services/statistics/courses.go
  backend/services/statistics/courses_internal_test.go
  backend/services/statistics/service.go
  frontend/src/app/api/statistics/report/route.ts
Due: frontend-lint, go-imports

fix: resolve attendance correction migration collision
  backend/database/migrations/001015360_attendance_corrections.go
Due: go-imports

fix(auth): Urlaubsanspruch bleibt bei der Zeitwirtschaft (#2906)
  backend/api/staff/api.go
  backend/api/staff/staff_test.go
  backend/auth/authorize/permissions/constants.go
  backend/database/migrations/001015360_staff_hr_permissions.go
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/lib/permission-labels.ts
Due: frontend-lint, go-imports

fix: handle concurrent delivery enqueues
  backend/database/migrations/001015360_leased_delivery_outbox.go
  backend/database/migrations/001015360_leased_delivery_outbox_test.go
  backend/modules/delivery/internal/adapters/postgres/store.go
  backend/modules/delivery/internal/adapters/postgres/store_test.go
Due: go-imports

fix(sidebar): Streifen markiert den offenen Bereich, Zeile bleibt beim Klappen stehen
  frontend/src/components/dashboard/sidebar-accordion-section.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix: scope invitation cleanup by tenant
  backend/architecture/composition.json
  backend/database/repositories/auth/invitation_token.go
  backend/database/repositories/auth/invitation_token_test.go
Due: go-imports

fix: return current organization lifecycle state
  backend/modules/organizationtenancy/compose/new.go
  backend/modules/organizationtenancy/compose/new_test.go
  backend/modules/organizationtenancy/internal/application/service.go
Due: go-imports

fix: preserve invalid announcement target errors
  backend/services/platform/announcement_service.go
  backend/services/platform/announcement_service_test.go
Due: go-imports

fix: preserve consent permissions on rollback
  backend/database/migrations/001015360_parent_student_consents.go
  backend/database/migrations/001015360_parent_student_consents_test.go
Due: go-imports

fix: cancel stale appointment pushes
  backend/modules/delivery/delivery.go
  backend/modules/delivery/delivery_test.go
  backend/services/calendar/notifications.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  backend/services/delivery_provider.go
  backend/services/factory.go
Due: go-imports

fix(auth): Personalfelder vom Ändern der Datensätze trennen (#2906)
  backend/api/staff/api_internal_test.go
  backend/api/staff/staff_handlers.go
  backend/api/staff/staff_helpers.go
  backend/api/staff/types.go
  frontend/src/app/api/staff/[id]/route.test.ts
  frontend/src/app/api/staff/[id]/route.ts
Due: frontend-lint, go-imports

fix: support base mailer delivery
  backend/services/delivery_provider.go
Due: go-imports

fix(hooks): vet script execution against git-tracked repo files
  .claude/README.md
  .claude/hooks/guard-absolute-rules.sh
  .claude/hooks/guard-absolute-rules_test.sh
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

chore(test): cacheable run id, --fast changed-loop, shared ratchet index
  .github/workflows/main.yml
  CLAUDE.md
  backend/CLAUDE.md
  backend/test/hermetic_verification_test.go
  backend/test/source_index_test.go
  scripts/backend-affected-packages.sh
  scripts/backend-affected-packages_test.sh
  scripts/test-backend.sh
  scripts/test-changed.sh
  scripts/test-run-id.sh
Due: go-imports

fix(auth): Migration auf slog umstellen, Hilfe zu Personalunterlagen präzisieren (#2906)
  backend/database/migrations/001015360_staff_hr_permissions.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix: seed attendance correction audit data
  backend/seed/api/seed_audit_lifecycle.go
  backend/seed/api/seed_audit_lifecycle_test.go
Due: go-imports

fix: preserve email delivery timestamps
  backend/modules/delivery/internal/adapters/postgres/store.go
  backend/modules/delivery/internal/adapters/postgres/store_test.go
Due: go-imports

fix: persist spontaneous timetable instances
  backend/api/timetable/instances_create.go
  backend/api/timetable/instances_create_test.go
Due: go-imports

fix(test): harden test loop guards
  .claude/hooks/guard-absolute-rules.sh
  .claude/hooks/guard-absolute-rules_test.sh
  scripts/test-backend.sh
  scripts/test-changed.sh
  scripts/test-run-id.sh
Due: none

fix(test): fail closed on source scan errors
  .claude/hooks/guard-absolute-rules.sh
  .claude/hooks/guard-absolute-rules_test.sh
  backend/test/hermetic_verification_test.go
  backend/test/source_index_test.go
Due: go-imports

fix(hooks): vet executable paths consistently
  .claude/hooks/guard-absolute-rules.sh
  .claude/hooks/guard-absolute-rules_test.sh
Due: none

fix(hooks): close command parsing gaps
  .claude/hooks/guard-absolute-rules.sh
  .claude/hooks/guard-absolute-rules_test.sh
Due: none

fix(sidebar): Platzhalter beginnt auf voller Hoehe statt sofort zu schliessen
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix(auth): Personal-Berechtigungen finden ihre Person (#2906)
  backend/api/staff/api.go
  backend/api/staff/staff_test.go
  backend/architecture/composition.json
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(hooks): vet environment dispatchers
  .claude/hooks/guard-absolute-rules.sh
  .claude/hooks/guard-absolute-rules_test.sh
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
