Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

refactor(settings): Passwort- und Uhrzeitfeld aus dem Kit, SettingsTimeField benannt (#3117)
  frontend/src/components/settings/fields/password-field.tsx
  frontend/src/components/settings/fields/time-field.stories.tsx
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/components/ui/time-field.tsx
Due: frontend-lint

refactor(devices): API-Schlüssel-Abschnitt aus Input, Button und Alert (#3117)
  frontend/src/components/devices/devices-master-detail.tsx
Due: frontend-lint

refactor(operator): Profilseite aus Kit-Bauteilen, E-Mail-Wechsel ohne Bearbeiten-Zustand (#3117)
  frontend/src/app/operator/settings/page.test.tsx
  frontend/src/app/operator/settings/page.tsx
Due: frontend-lint

refactor(students): PersonalInfoFormModal auf PersonalInfoEditPanel reduzieren (#3117)
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/students/personal-info-edit-panel.companion-stale.test.tsx
  frontend/src/components/students/personal-info-edit-panel.stories.tsx
  frontend/src/components/students/personal-info-edit-panel.test.tsx
  frontend/src/components/students/personal-info-edit-panel.tsx
Due: frontend-lint

feat(lint): Ratsche bauart/no-local-field-grid (#3117)
  frontend/.oxlintrc.json
  frontend/CLAUDE.md
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/scripts/oxlint-plugin-bauart.test.ts
  frontend/src/components/ui/BAUARTEN-SPEC.md
Due: frontend-lint

fix(operator): validate email change form
  frontend/src/app/operator/settings/page.test.tsx
  frontend/src/app/operator/settings/page.tsx
Due: frontend-lint

fix(operator): retain email format validation
  frontend/src/app/operator/settings/page.test.tsx
  frontend/src/app/operator/settings/page.tsx
Due: frontend-lint

feat(lint): Ratschen no-own-skeleton, no-raw-status-hex, no-disabled-menu-item und Bauart-Deklaration (#3118)
  frontend/.oxlintrc.json
  frontend/CLAUDE.md
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/scripts/oxlint-plugin-bauart.test.ts
  frontend/src/components/ui/BAUARTEN-SPEC.md
  frontend/src/components/ui/tenant-page-scaffold.test.ts
Due: frontend-lint

fix(lint): catch Bauart lint variants
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/scripts/oxlint-plugin-bauart.test.ts
  frontend/src/components/ui/BAUARTEN-SPEC.md
Due: frontend-lint

fix(lint): catch embedded short CSS hex colors
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/scripts/oxlint-plugin-bauart.test.ts
Due: frontend-lint

fix: validate release promotions and restore complete backups
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/rollback.yml
  backend/architecture/README.md
  docs/agents/operations.md
  docs/operations/enrollment-storage-cutover-2714.md
  docs/operations/release-backup-rollback.md
  docs/operations/runtime-environment-boundaries.md
  scripts/check-release-architecture.mjs
  scripts/check-release-architecture.test.mjs
  scripts/deploy-remote.sh
  scripts/rehearse-runtime-env.py
  scripts/release-backup.integration.test.mjs
  scripts/release-backup.sh
  scripts/release-backup.test.mjs
  scripts/restore-db.sh
  scripts/rollback-remote.sh
  scripts/test-support/release-docker.mjs
Due: none

fix: retain maintenance services in release snapshots
  scripts/deploy-remote.sh
  scripts/release-backup.integration.test.mjs
  scripts/release-backup.sh
  scripts/release-backup.test.mjs
Due: none

fix: allow retry after an interrupted database restore
  scripts/release-backup.integration.test.mjs
  scripts/release-backup.sh
Due: none

fix: validate release promotions and restore complete backups (#3191)
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/rollback.yml
  backend/architecture/README.md
  docs/agents/operations.md
  docs/operations/enrollment-storage-cutover-2714.md
  docs/operations/release-backup-rollback.md
  docs/operations/runtime-environment-boundaries.md
  scripts/check-release-architecture.mjs
  scripts/check-release-architecture.test.mjs
  scripts/deploy-remote.sh
  scripts/rehearse-runtime-env.py
  scripts/release-backup.integration.test.mjs
  scripts/release-backup.sh
  scripts/release-backup.test.mjs
  scripts/restore-db.sh
  scripts/rollback-remote.sh
  scripts/test-support/release-docker.mjs
Due: none

test: cover release adapters and correct Sonar coverage scope
  backend/architecture/policy.json
  backend/modules/communication/http/parentannouncements/api_contract_test.go
  backend/modules/workforce/contracttest/main_test.go
  backend/modules/workforce/contracttest/planning_test.go
  backend/modules/workforce/contracttest/substitutions_test.go
  frontend/scripts/perf/report.mjs
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part5.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/import/page.tsx
  frontend/src/components/files/files-page.tsx
  scripts/rehearse-runtime-env.py
  sonar-project.properties
Due: frontend-lint, go-imports

test: satisfy adapter contract test lint
  backend/modules/workforce/contracttest/substitutions_test.go
Due: go-imports

test: reach 80% Sonar coverage with targeted adapter tests (#3193)
  backend/architecture/policy.json
  backend/modules/communication/http/parentannouncements/api_contract_test.go
  backend/modules/workforce/contracttest/main_test.go
  backend/modules/workforce/contracttest/planning_test.go
  backend/modules/workforce/contracttest/substitutions_test.go
  frontend/scripts/perf/report.mjs
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part5.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/import/page.tsx
  frontend/src/components/files/files-page.tsx
  scripts/rehearse-runtime-env.py
  sonar-project.properties
Due: frontend-lint, go-imports

fix: wait for development CI before validating release
  scripts/check-release-architecture.mjs
  scripts/check-release-architecture.test.mjs
Due: none

test: lower the students query budgets to their measured counts
  backend/test/query_budgets.go
Due: go-imports

fix: wait for development CI before validating release (#3196)
  scripts/check-release-architecture.mjs
  scripts/check-release-architecture.test.mjs
Due: none

test: lower the students query budgets to their measured counts (#3197)
  backend/test/query_budgets.go
Due: go-imports

chore(deps): tidy the architecture tool module after the x/tools bump
  scripts/backend-architecture/go.mod
  scripts/backend-architecture/go.sum
Due: none

fix(deps): bump vitest to 4.1.11 to close @vitest/mocker path traversal alerts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

refactor: read calendar-period usage through one Timetable projection
  backend/api/timetable/periods_list_query_budget_test.go
  backend/database/repositories/care_lifecycle_test_helpers.go
  backend/database/repositories/factory.go
  backend/database/repositories/schedule/calendar_period_usage_repo.go
  backend/database/repositories/schedule/calendar_period_usage_repo_test.go
  backend/database/repositories/school_calendar.go
  backend/database/repositories/timetable_test_helpers.go
  backend/modules/timetable/calendar_period_references.go
  backend/modules/timetable/compose/calendar_period_references.go
  backend/modules/timetable/compose/supervisor_usage.go
  backend/modules/timetable/internal/adapters/postgres/calendar_period_references.go
  backend/modules/timetable/internal/adapters/postgres/supervisor_usage.go
  backend/modules/timetable/internal/application/calendar_period_references.go
  backend/modules/timetable/internal/application/supervisor_usage.go
  backend/modules/timetable/internal/domain/calendar_period_references.go
  backend/modules/timetable/internal/ports/ports.go
  backend/modules/timetable/supervisor_usage.go
  backend/modules/timetable/timetable.go
  backend/modules/timetable/timetable_test.go
  backend/test/query_budgets.go
Due: go-imports

fix(deps): bump vitest to 4.1.11 to close @vitest/mocker path traversal alerts (#3198)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

refactor(frontend): Zeilenaktionen in den Kebab, Zeitraum-Bearbeiten auf die Route (#3119)
  frontend/src/app/[tenant]/(protected)/database/students/class-list/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/ended-care/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/ended-care/page.tsx
  frontend/src/components/admin/pending-invitations-list.test.tsx
  frontend/src/components/admin/pending-invitations-list.tsx
  frontend/src/components/database/grade-transitions/grade-transitions-manager.test.tsx
  frontend/src/components/database/grade-transitions/grade-transitions-manager.tsx
  frontend/src/components/guardians/guardian-list.test.tsx
  frontend/src/components/guardians/guardian-list.tsx
  frontend/src/components/planning/calendar-periods-editor.test.tsx
  frontend/src/components/planning/calendar-periods-editor.tsx
  frontend/src/components/settings/trusted-devices-section.test.tsx
  frontend/src/components/settings/trusted-devices-section.tsx
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/staff/staff-session-table.blocks.test.tsx
  frontend/src/components/staff/staff-session-table.edit.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/stundenkonto-panel.tsx
  frontend/src/components/students/class-arrival-exception-panel.test.tsx
  frontend/src/components/students/class-arrival-exception-panel.tsx
  frontend/src/components/teachers/caregiver-blocker-resolution-panel.test.tsx
  frontend/src/components/teachers/caregiver-blocker-resolution-panel.tsx
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/period-switcher-dropdown.stories.tsx
  frontend/src/components/timetable/period-switcher-dropdown.test.tsx
  frontend/src/components/timetable/period-switcher-dropdown.tsx
Due: frontend-lint

refactor(frontend): Feldgitter und Statuslisten auf DataGrid/DataField (#3119)
  frontend/src/app/[tenant]/(protected)/database/personal/opening-balances/page.tsx
  frontend/src/app/[tenant]/(protected)/statistics/page.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/[phaseId]/page.tsx
  frontend/src/components/announcements/letter-status-panel.tsx
  frontend/src/components/enrollment/admin-enrollment-change-requests.tsx
  frontend/src/components/enrollment/enrollment-change-request-diff.tsx
  frontend/src/components/settings/push-notification-section.tsx
  frontend/src/components/staff/custom-allowance-editor.tsx
  frontend/src/components/staff/sick-report-modal.tsx
  frontend/src/components/ui/detail-modal-components.test.tsx
  frontend/src/components/ui/detail-modal-components.tsx
Due: frontend-lint

refactor(frontend): eigene Ladeskelette auf das Kit-Skeleton (#3119)
  frontend/src/app/[tenant]/(protected)/database/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page-skeleton.tsx
  frontend/src/components/dashboard/birthday-list.tsx
  frontend/src/components/dashboard/sidebar-accordion-section.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/home/day-flow-block.tsx
  frontend/src/components/home/home-block-content.tsx
  frontend/src/components/home/my-day-block.tsx
  frontend/src/components/home/my-group-block.tsx
  frontend/src/components/home/reminders-block.tsx
  frontend/src/components/home/staff-notices-block.tsx
  frontend/src/components/rooms/room-detail-content.tsx
Due: frontend-lint

refactor(frontend): rohe Hexwerte auf Palette und moto-Klassen (#3119)
  frontend/src/app/help/nfc/erste-schritte/page.tsx
  frontend/src/components/auth/auth-shell.tsx
  frontend/src/components/auth/mfa-admin-override-modal.tsx
  frontend/src/components/auth/reset-password-page-content.tsx
  frontend/src/components/enrollment/enrollment-status-view.tsx
  frontend/src/components/guardians/guardian-contact-actions.tsx
  frontend/src/components/help/guide-components.tsx
  frontend/src/components/parent/messages/parent-messages-page.tsx
  frontend/src/components/parent/offering-change-request-modal.tsx
  frontend/src/components/parent/parent-page.tsx
  frontend/src/components/staff/dokumente-tab.tsx
  frontend/src/components/students/dokumente-tab.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
  frontend/src/components/timetable/tagesplan-view.tsx
  frontend/src/components/timetable/timetable-style.ts
  frontend/src/contexts/ToastContext.tsx
  frontend/src/lib/location-helper.test.ts
  frontend/src/lib/location-helper.ts
  frontend/src/lib/room-helpers.test.ts
  frontend/src/lib/room-helpers.ts
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint

refactor(frontend): Urlaubsanspruch und Arbeitszeitmodell im Reiter bearbeiten (#3119)
  frontend/src/components/staff/abwesenheiten-tab.quota.test.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/arbeitszeitmodell-tab.editor.test.tsx
  frontend/src/components/staff/arbeitszeitmodell-tab.tsx
Due: frontend-lint

refactor(frontend): Betreuungsangebote der Anmeldung im Bearbeiten-Zustand (#3119)
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
Due: frontend-lint

refactor(frontend): Wochenplan eines Kindes im Reiter Betreuungszeiten bearbeiten (#3119)
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-plan-editor-modal.stories.tsx
  frontend/src/components/students/care-plan-editor-modal.test.tsx
  frontend/src/components/students/care-plan-editor-modal.tsx
  frontend/src/components/students/care-schedule-manager.test.tsx
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/components/students/care-weekly-plan-editor.test.tsx
  frontend/src/components/students/care-weekly-plan-editor.tsx
  frontend/src/components/students/care-weekly-plan-modal.stories.tsx
  frontend/src/components/students/care-weekly-plan-modal.test.tsx
  frontend/src/components/students/care-weekly-plan-modal.tsx
  frontend/src/components/students/student-create-modal.test.tsx
  frontend/src/components/students/student-create-modal.tsx
Due: frontend-lint

feat(lint): Bauart-Ratschen no-local-field-grid, no-own-skeleton und no-raw-status-hex hard-zero (#3119)
  frontend/CLAUDE.md
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/scripts/oxlint-plugin-bauart.test.ts
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/components/ui/BAUARTEN-SPEC.md
Due: frontend-lint

feat(ui): Kopfzeile auf 48px auf allen Breiten, Scroll-Schrumpfen entfernt (#2827)
  frontend/src/components/dashboard/app-shell.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/brand-link.stories.tsx
  frontend/src/components/dashboard/header/brand-link.test.tsx
  frontend/src/components/dashboard/header/brand-link.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.stories.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.test.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.tsx
  frontend/src/components/dashboard/header/profile-dropdown.tsx
  frontend/src/components/dashboard/header/refresh-button.tsx
  frontend/src/components/dashboard/header/reminders-bell.tsx
  frontend/src/components/dashboard/header/session-warning.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/tenant/tenant-switcher.tsx
  frontend/src/components/ui/page-header/FilterPanel.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

test(frontend): Klassentag-Dialog entfernt Ankunftsausnahme über den Zeilen-Kebab (#3119)
  frontend/src/components/class-day/class-arrival-exception-dialog.test.tsx
Due: frontend-lint

refactor: read calendar-period usage through one Timetable projection (#3199)
  backend/api/timetable/periods_list_query_budget_test.go
  backend/database/repositories/care_lifecycle_test_helpers.go
  backend/database/repositories/factory.go
  backend/database/repositories/schedule/calendar_period_usage_repo.go
  backend/database/repositories/schedule/calendar_period_usage_repo_test.go
  backend/database/repositories/school_calendar.go
  backend/database/repositories/timetable_test_helpers.go
  backend/modules/timetable/calendar_period_references.go
  backend/modules/timetable/compose/calendar_period_references.go
  backend/modules/timetable/compose/supervisor_usage.go
  backend/modules/timetable/internal/adapters/postgres/calendar_period_references.go
  backend/modules/timetable/internal/adapters/postgres/supervisor_usage.go
  backend/modules/timetable/internal/application/calendar_period_references.go
  backend/modules/timetable/internal/application/supervisor_usage.go
  backend/modules/timetable/internal/domain/calendar_period_references.go
  backend/modules/timetable/internal/ports/ports.go
  backend/modules/timetable/supervisor_usage.go
  backend/modules/timetable/timetable.go
  backend/modules/timetable/timetable_test.go
  backend/test/query_budgets.go
Due: go-imports

docs(help): Screenshot Betreuungszeiten mit Wochenplan bearbeiten neu aufgenommen (#3119)
  frontend/public/help/screens/betreuungszeiten-pflegen.webp
Due: none

refactor(frontend): Wochen-Editor exportiert nur, was Aufrufer brauchen (#3119)
  frontend/src/components/students/care-weekly-plan-editor.tsx
Due: frontend-lint

fix(ui): align portal sidebars with compact header
  frontend/src/components/parent/shell/parent-sidebar.test.tsx
  frontend/src/components/parent/shell/parent-sidebar.tsx
  frontend/src/components/school/shell/school-sidebar.test.tsx
  frontend/src/components/school/shell/school-sidebar.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
