Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: close security bypass and add test coverage for admin supervision overview
  backend/api/active/active_test.go
  backend/api/active/exports.go
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/supervisors_handlers.go
  backend/api/sse/resolve_supervisions_internal_test.go
  backend/services/active/end_session_unit_test.go
  backend/services/config/defaults/defaults_test.go
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint, go-imports

fix: align simulate test expectations with updated room mappings
  backend/simulate/fullday_test.go
Due: go-imports

test: increase coverage for admin supervision overview
  backend/api/active/supervision_overview_internal_test.go
  backend/api/sse/resolve_supervisions_internal_test.go
  backend/database/repositories/active/group_supervisor_repository_test.go
Due: go-imports

fix: update BFF route test for admin-first fallback chain
  frontend/src/app/api/active-supervision-dashboard/route.test.ts
Due: frontend-lint

test: add frontend tests for admin supervision paths
  frontend/src/app/api/active/supervisors/all/route.test.ts
  frontend/src/lib/supervision-context.test.tsx
Due: frontend-lint

feat: auto-create system rooms when checkout settings are enabled
  backend/api/base.go
  backend/api/config/settings_api.go
  backend/services/facilities/schulhof_service.go
  backend/services/facilities/wc_service.go
  backend/services/factory.go
Due: go-imports

test: add coverage for WCService and settings OnValueSet callback
  backend/api/config/settings_integration_test.go
  backend/services/facilities/wc_service_test.go
Due: go-imports

fix: replace hardcoded int64(1) with assert.Greater for hermetic compliance
  backend/api/config/settings_integration_test.go
Due: go-imports

fix settings provisioning rollback and wc lookup errors
  backend/api/base.go
  backend/api/config/settings_api.go
  backend/api/config/settings_integration_test.go
  backend/services/facilities/wc_service.go
  backend/services/facilities/wc_service_internal_test.go
Due: go-imports

fix: default schulhof and wc checkout buttons to opt-in
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/devices.go
Due: go-imports

test: add coverage for base.go OnValueSet callback and wc_service error paths
  backend/api/base_utility_test.go
  backend/services/facilities/wc_service_internal_test.go
Due: go-imports

feat: make feedback history and IoT feedback opt-in (GDPR)
  backend/api/base.go
  backend/api/feedback/api.go
  backend/api/feedback/errors.go
  backend/api/feedback/feedback_test.go
  backend/api/iot/checkin/handlers.go
  backend/api/iot/config.go
  backend/api/iot/config_test.go
  backend/api/students/api.go
  backend/api/students/types.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/feedback.go
  frontend/src/app/[tenant]/(protected)/students/[id]/components/HistoryLinks.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/components/HistoryLinks.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/app/api/feedback/student/[id]/route.ts
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/lib/feedback-api.ts
  frontend/src/lib/hooks/use-student-data.ts
Due: frontend-lint, go-imports

test: enable feedback setting in student feedback handler tests
  backend/api/feedback/feedback_test.go
Due: go-imports

fix: pass feedback_enabled through student detail proxy route
  frontend/src/app/api/students/[id]/route.ts
Due: frontend-lint

test: add coverage for feedback opt-in feature gate code
  backend/api/feedback/errors_test.go
  frontend/src/app/[tenant]/(protected)/students/[id]/components/HistoryLinks.test.tsx
  frontend/src/app/api/feedback/student/[id]/route.test.ts
  frontend/src/lib/feedback-api.test.ts
Due: frontend-lint, go-imports

chore: remove Schulhof room and outdoor activities from seeder
  backend/seed/api/data.go
  backend/seed/api/simulator_config_test.go
  backend/seed/api/stammdaten.go
  backend/seed/api/stammdaten_test.go
Due: go-imports

fix: update setting descriptions to reflect auto-created system rooms
  backend/services/config/defaults/devices.go
Due: go-imports

fix: use TodayUTC/DateOfUTC for attendance DATE columns
  backend/api/students/attendance_history_handlers_test.go
  backend/database/repositories/active/attendance_repository.go
  backend/services/active/attendance_service.go
  backend/test/fixtures.go
Due: go-imports

fix: also fix CreateVisit write path and align test dates
  backend/database/repositories/active/attendance_repository_test.go
  backend/services/active/visit_helpers.go
  backend/services/active/visit_helpers_test.go
Due: go-imports

fix: fix WC/Schulhof checkin tests and stale cleanup SQL
  backend/api/iot/checkin/checkin_test.go
Due: go-imports

feat: add gdpr.student_data_scope setting to relax student read access
  backend/api/students/api.go
  backend/api/students/authorization_test.go
  backend/api/students/list_helpers.go
  backend/api/students/visit_handlers.go
  backend/models/config/keys.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/gdpr.go
  docs/settings/future-settings-backlog.md
Due: go-imports

feat: add configurable tracking indicators to student cards
  backend/api/active/active_test.go
  backend/api/active/api.go
  backend/api/active/checkin_test.go
  backend/api/active/tracking_handlers.go
  backend/api/active/types.go
  backend/api/base.go
  backend/database/repositories/active/visits.go
  backend/models/active/repository.go
  backend/models/active/visit.go
  backend/models/config/keys.go
  backend/services/active/active_service.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/interface.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/tracking.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/app/api/active/tracking-indicators/route.ts
  frontend/src/components/students/student-card.tsx
  frontend/src/components/students/tracking-indicators.tsx
  frontend/src/lib/active-helpers.ts
  frontend/src/lib/active-service.ts
Due: frontend-lint, go-imports

fix: add GetTrackingIndicators to scheduler mock active service
  backend/services/scheduler/scheduler_test.go
Due: go-imports

fix: guard trackingData.labels access and decouple SWR cache key
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint

test: add comprehensive tests for tracking indicators feature
  backend/api/active/tracking_handlers_test.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/tracking_indicators_unit_test.go
  frontend/src/app/api/active/tracking-indicators/route.test.ts
  frontend/src/components/students/student-card.test.tsx
  frontend/src/components/students/tracking-indicators.test.tsx
  frontend/src/lib/active-service.test.ts
Due: frontend-lint, go-imports

fix: use includes() for SSE cache invalidation to match tenant-prefixed SWR keys
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

fix: use Today() for TIMESTAMPTZ visit query and remove 200-ID limit
  backend/api/active/tracking_handlers.go
  backend/api/active/tracking_handlers_test.go
  backend/database/repositories/active/visits.go
Due: go-imports

fix: wire CleanupStaleAttendance into scheduler nightly cleanup
  backend/services/scheduler/scheduler.go
Due: go-imports

fix: scope attendance cleanup queries to tenant transaction context
  backend/services/active/cleanup_service.go
Due: go-imports

fix: surface partial attendance cleanup failures in scheduler logging
  backend/services/scheduler/scheduler.go
Due: go-imports

test: add coverage for attendance cleanup branches in scheduler
  backend/services/scheduler/scheduler_test.go
Due: go-imports

fix: re-apply schülerdaten category rename lost in merge resolution
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/gdpr.go
Due: go-imports

test: add admin gate tests for active supervisions page
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.test.tsx
Due: frontend-lint

test: raise coverage on admin supervision overview changes
  backend/database/repositories/active/group_supervisor_repository_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
Due: frontend-lint, go-imports

fix: pass real errors to Sentry in announcement handlers
  backend/api/platform/announcements.go
Due: go-imports

fix: pass real errors to Sentry across all handlers with dropped errors
  backend/api/active/schulhof_handlers.go
  backend/api/auth/api.go
  backend/api/groups/api.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/rfid/handlers.go
  backend/api/students/api.go
  backend/api/students/attendance_history_handlers.go
  backend/api/students/visit_handlers.go
Due: go-imports

test: update assertions to expect real error messages instead of generic strings
  backend/api/active/schulhof_handlers_test.go
  backend/api/platform/announcements_test.go
Due: go-imports

fix: use MOTO brand green (#83CD2D) for tracking indicator checkmarks
  CLAUDE.md
  frontend/CLAUDE.md
  frontend/src/components/students/tracking-indicators.test.tsx
  frontend/src/components/students/tracking-indicators.tsx
Due: frontend-lint

fix: use ErrorInternalServerWrap to separate client vs Sentry error messages
  backend/api/active/schulhof_handlers.go
  backend/api/active/schulhof_handlers_test.go
  backend/api/auth/api.go
  backend/api/common/errors.go
  backend/api/groups/api.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/common/errors.go
  backend/api/iot/rfid/handlers.go
  backend/api/platform/announcements.go
  backend/api/platform/announcements_test.go
  backend/api/students/api.go
  backend/api/students/attendance_history_handlers.go
  backend/api/students/visit_handlers.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
