Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

feat(dienstplan): URL state (d/view), PlanningContextBar header, unified skeleton
  frontend/src/components/staff/dienstplan-skeleton.tsx
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
Due: frontend-lint

fix(time-tracking): Monatskarte-Review-Findings Runde 5 (#1842)
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-time-views.stories.tsx
  frontend/src/components/staff/staff-time-views.tsx
  frontend/src/components/staff/uebersicht-tab.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/hooks/use-account-balance.ts
Due: frontend-lint, go-imports

feat(attendance): track presence per care offering
  backend/api/students/api.go
  backend/api/students/attendance_history_export.go
  backend/api/students/attendance_history_export_test.go
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
  backend/api/testdata/route_table.golden
  backend/api/timetable/instance_students_unit_test.go
  backend/api/timetable/student_day_shapes.go
  backend/database/migrations/001015199_attendance_per_care_slot.go
  backend/database/repositories/active/student_status_day.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/student_day.go
  backend/models/schedule/instance_student.go
  backend/services/active/attendance_service.go
  backend/services/active/attendance_syncer.go
  backend/services/active/student_history_service.go
  backend/services/active/visit_helpers.go
  backend/services/active/visit_helpers_test.go
  backend/services/factory.go
  backend/services/schedule/attendance_sync_service.go
  backend/services/schedule/attendance_sync_service_integration_test.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/materialization_service.go
  backend/services/schedule/materialization_service_test.go
  backend/services/schedule/timetable_operations_service.go
  backend/test/handler_complexity_ratchet_test.go
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/components/students/student-historie-tab.tsx
  frontend/src/lib/attendance-history-helpers.ts
  frontend/src/lib/timetable-operations-types.ts
Due: frontend-lint, go-imports

fix(time-tracking): Monatskarte-Review-Findings Runde 6 (#1842)
  frontend/src/lib/hooks/use-account-balance.test.ts
  frontend/src/lib/hooks/use-account-balance.ts
Due: frontend-lint

feat(dienstplan): ResourceGrid-based week grid with PlanBlock shift blocks
  frontend/src/components/staff/dienstplan-resource-grid.test.tsx
  frontend/src/components/staff/dienstplan-resource-grid.tsx
  frontend/src/components/ui/resource-grid.test.tsx
  frontend/src/components/ui/resource-grid.tsx
Due: frontend-lint

feat(dienstplan): render the ResourceGrid week matrix in the view
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
Due: frontend-lint

fix(attendance): resolve CI failures
  backend/database/repositories/schedule/instance_student_repo.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/lib/attendance-history-helpers.test.ts
  frontend/src/lib/timetable-operations-types.test.ts
Due: frontend-lint, go-imports

fix: polish NFC quickstart page
  frontend/public/help/quickstart/nfc-guide-qr.svg
  frontend/scripts/generate-guides.ts
  frontend/src/app/help/nfc/erste-schritte/page.tsx
Due: frontend-lint

feat(dienstplan): Verschieben-nach dialog with per-block context menu
  frontend/src/components/staff/dienstplan-resource-grid.test.tsx
  frontend/src/components/staff/dienstplan-resource-grid.tsx
  frontend/src/components/staff/shift-move-dialog.test.tsx
  frontend/src/components/staff/shift-move-dialog.tsx
  frontend/src/components/ui/page-header/OverflowMenu.test.tsx
  frontend/src/components/ui/page-header/OverflowMenu.tsx
Due: frontend-lint

feat(dienstplan): half-year view (view=halbjahr) as read-and-jump grid
  frontend/src/components/staff/dienstplan-halbjahr-grid.test.tsx
  frontend/src/components/staff/dienstplan-halbjahr-grid.tsx
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
Due: frontend-lint

fix: compact mobile help header
  frontend/src/components/help/guide-components.tsx
  frontend/src/components/help/guide-pdf-button.tsx
Due: frontend-lint

fix(time-tracking): Monatskarte-Review-Findings Runde 7 (#1842)
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-time-views.stories.tsx
  frontend/src/components/staff/staff-time-views.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/components/time-tracking/monatskarte.test.tsx
  frontend/src/components/time-tracking/monatskarte.tsx
  frontend/src/lib/hooks/use-period-metrics.test.ts
  frontend/src/lib/hooks/use-period-metrics.ts
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint

fix(time-tracking): Zeitraum-Ist bei heute kappen (#1842)
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint

chore(dienstplan): retire the old week grid, extend guards, sync the guide
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/dienstplan-resource-grid.test.tsx
  frontend/src/components/staff/dienstplan-resource-grid.tsx
  frontend/src/components/staff/dienstplan-week-grid.test.tsx
  frontend/src/components/staff/dienstplan-week-grid.tsx
  frontend/src/components/ui/plan-block.tsx
  frontend/src/components/ui/plan-design-guards.test.ts
Due: frontend-lint

fix(time-tracking): Live-Kennzahlen der Monatskarte korrigieren (#1842)
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/lib/hooks/use-period-metrics.test.ts
  frontend/src/lib/hooks/use-period-metrics.ts
  frontend/src/lib/staff-api.ts
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint, go-imports

fix: keep care-slot attendance and exports consistent
  backend/api/students/attendance_history_export.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/services/active/active_service.go
  backend/services/active/attendance_service.go
  backend/services/active/attendance_sse_enrichment_test.go
  backend/services/active/checkout_visit_invariant_mock_test.go
  backend/services/active/update_visit_mock_test.go
  backend/services/schedule/attendance_sync_service.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.tsx
  frontend/src/app/api/students/[id]/attendance-history/export/route.test.ts
  frontend/src/app/api/students/[id]/attendance-history/export/route.ts
  frontend/src/components/students/student-historie-tab.tsx
  frontend/src/lib/attendance-history-helpers.test.ts
  frontend/src/lib/attendance-history-helpers.ts
Due: frontend-lint, go-imports

fix(time-tracking): Config-Route auch für time_tracking:manage öffnen (#1842)
  backend/api/time-tracking/api.go
Due: go-imports

fix: preserve care-slot attendance integrity
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/models/schedule/instance_student.go
  backend/services/active/active_service.go
  backend/services/active/attendance_syncer.go
  backend/services/active/session_service.go
  backend/services/active/session_service_internal_test.go
  backend/services/schedule/attendance_sync_service.go
  backend/services/schedule/attendance_sync_service_integration_test.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
  frontend/src/lib/attendance-history-helpers.test.ts
  frontend/src/lib/attendance-history-helpers.ts
Due: frontend-lint, go-imports

test(dienstplan): Playwright E2E flows and refreshed guide screenshots
  frontend/e2e/dienstplan.spec.ts
  frontend/public/help/screens/dienstplan-halbjahr.webp
  frontend/public/help/screens/dienstplan.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(dienstplan): apply verified review findings
  frontend/src/components/staff/dienstplan-halbjahr-grid.tsx
  frontend/src/components/staff/dienstplan-resource-grid.tsx
  frontend/src/components/staff/dienstplan-skeleton.tsx
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/staff/shift-move-dialog.tsx
  frontend/src/components/ui/capacity-strip.tsx
  frontend/src/components/ui/coverage-indicator.tsx
  frontend/src/components/ui/page-header/OverflowMenu.test.tsx
  frontend/src/components/ui/page-header/OverflowMenu.tsx
  frontend/src/components/ui/resource-grid.test.tsx
  frontend/src/components/ui/resource-grid.tsx
  frontend/src/lib/hooks/use-dienstplan-data.test.ts
  frontend/src/lib/hooks/use-dienstplan-data.ts
  frontend/src/lib/shift-helpers.test.ts
  frontend/src/lib/shift-helpers.ts
Due: frontend-lint

fix: address review findings on care-slot attendance integrity
  backend/api/students/attendance_history_export.go
  backend/api/students/attendance_history_export_test.go
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
  backend/api/timetable/instance_students_unit_test.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/models/schedule/instance_student.go
  backend/services/active/active_service.go
  backend/services/active/update_visit_mock_test.go
  backend/services/schedule/attendance_sync_service.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/session_end_timetable_test.go
  backend/test/handler_complexity_ratchet_test.go
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.tsx
Due: frontend-lint, go-imports

fix(dienstplan): loss-free move order, origin-link preservation, Halbjahr permission gate
  frontend/src/components/staff/dienstplan-resource-grid.tsx
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/staff/shift-move-dialog.test.tsx
  frontend/src/components/staff/shift-move-dialog.tsx
  frontend/src/lib/hooks/use-dienstplan-data.ts
Due: frontend-lint

fix: address review findings on per-slot attendance
  backend/api/students/attendance_history_export.go
  backend/api/students/attendance_history_export_test.go
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
  backend/api/students/test_helpers_test.go
  backend/database/migrations/001015199_attendance_per_care_slot.go
  backend/models/active/student_status_day.go
  backend/services/active/active_service.go
  backend/services/active/attendance_service.go
  backend/services/active/attendance_syncer.go
  backend/services/active/student_history_service.go
  backend/services/active/update_visit_mock_test.go
  backend/services/active/visit_helpers.go
  backend/services/schedule/attendance_sync_service.go
  backend/services/schedule/attendance_sync_service_integration_test.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.tsx
Due: frontend-lint, go-imports

chore(time-tracking): ungenutzten Export von StaffSessionBreak entfernen (#1842)
  frontend/src/lib/staff-api.ts
Due: frontend-lint

feat: add controlled enrollment deletion
  backend/api/base.go
  backend/api/enrollment/admin_deletion_handlers.go
  backend/api/enrollment/admin_deletion_handlers_test.go
  backend/api/enrollment/api.go
  backend/api/testdata/route_table.golden
  backend/database/migrations/001015199_enrollment_deletions_audit.go
  backend/database/repositories/audit/enrollment_deletion.go
  backend/database/repositories/enrollment/deletion_repository.go
  backend/database/repositories/factory.go
  backend/models/audit/enrollment_deletion.go
  backend/models/enrollment/deletion.go
  backend/services/enrollment/deletion_service.go
  backend/services/enrollment/deletion_service_integration_test.go
  backend/services/enrollment/rejected_cleanup_service.go
  backend/services/factory.go
  frontend/public/help/screens/anmeldung-loeschen.png
  frontend/src/app/api/enrollment/admin/requests/[id]/children/[childId]/delete-impact/route.ts
  frontend/src/app/api/enrollment/admin/requests/[id]/children/[childId]/route.ts
  frontend/src/app/api/enrollment/admin/requests/[id]/delete-impact/route.ts
  frontend/src/app/api/enrollment/admin/requests/[id]/route.ts
  frontend/src/components/enrollment/admin-enrollment-deletion-modal.stories.tsx
  frontend/src/components/enrollment/admin-enrollment-deletion-modal.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/enrollment-admin-api.ts
Due: frontend-lint, go-imports

fix(dienstplan): harden move and e2e flows
  frontend/e2e/dienstplan.spec.ts
  frontend/src/components/staff/dienstplan-resource-grid.test.tsx
  frontend/src/components/staff/shift-edit-modal.series.test.tsx
  frontend/src/components/staff/shift-edit-modal.tsx
  frontend/src/components/staff/shift-move-dialog.test.tsx
  frontend/src/components/staff/shift-move-dialog.tsx
  frontend/src/components/ui/modal.test.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/page-header/OverflowMenu.test.tsx
  frontend/src/components/ui/page-header/OverflowMenu.tsx
  frontend/src/components/ui/plan-legend.test.tsx
  frontend/src/components/ui/plan-legend.tsx
  frontend/src/components/ui/resource-grid.test.tsx
  frontend/src/components/ui/resource-grid.tsx
  frontend/src/lib/shift-api.test.ts
  frontend/src/lib/shift-api.ts
Due: frontend-lint

fix: keep attendance history consistent
  backend/api/students/attendance_history_export.go
  backend/api/students/attendance_history_export_test.go
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_handlers_test.go
  backend/api/students/attendance_history_logic_test.go
  backend/api/timetable/instance_students_unit_test.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/models/schedule/instance_student.go
  backend/services/active/active_service.go
  backend/services/active/attendance_syncer.go
  backend/services/active/update_visit_mock_test.go
  backend/services/active/visit_helpers.go
  backend/services/active/visit_helpers_test.go
  backend/services/schedule/attendance_sync_service.go
  backend/services/schedule/attendance_sync_service_integration_test.go
  backend/services/schedule/attendance_sync_service_unit_test.go
Due: go-imports

fix(migrations): revoke tenant UPDATE/DELETE on enrollment deletions audit
  backend/database/migrations/001015199_enrollment_deletions_audit.go
Due: go-imports

fix: sync attendance after moved visit checkout
  backend/services/active/active_service.go
  backend/services/active/visit_helpers_test.go
Due: go-imports

test(enrollment): mock tenant router in admin detail test
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
Due: frontend-lint

fix(dienstplan): scope confirm dismissal lock to opt-in, skip Krank e2e flow on weekends
  frontend/e2e/dienstplan.spec.ts
  frontend/src/components/staff/shift-move-dialog.tsx
  frontend/src/components/ui/modal.test.tsx
  frontend/src/components/ui/modal.tsx
Due: frontend-lint

feat(students): add birthday list preset to the student export
  backend/api/students/export_birthday_routes_test.go
  backend/api/students/export_birthday_test.go
  backend/api/students/export_grouping_test.go
  backend/api/students/export_handlers.go
  backend/api/students/export_handlers_test.go
  backend/api/students/test_helpers_test.go
  backend/services/listexport/service.go
  backend/services/listexport/service_test.go
  backend/services/listexport/types.go
  backend/test/handler_complexity_ratchet_test.go
Due: go-imports

feat(database): add a central export page with the birthday list
  frontend/src/app/[tenant]/(protected)/database/exports/page.tsx
  frontend/src/app/[tenant]/(protected)/database/page.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/student-export-modal.test.tsx
  frontend/src/components/students/student-export-modal.tsx
  frontend/src/lib/room-export-api.ts
  frontend/src/lib/student-export-api.ts
Due: frontend-lint

fix(database): use the UI kit on the export page and focus the birthday dialog
  frontend/src/app/[tenant]/(protected)/database/exports/page.tsx
  frontend/src/components/students/student-export-modal.test.tsx
  frontend/src/components/students/student-export-modal.tsx
Due: frontend-lint

fix(database): drop the duplicate birthday route and use white export buttons
  frontend/src/app/[tenant]/(protected)/database/exports/page.tsx
  frontend/src/components/students/student-export-modal.test.tsx
  frontend/src/components/students/student-export-modal.tsx
Due: frontend-lint

fix(database): keep the tenant slug on export navigation
  frontend/src/app/[tenant]/(protected)/database/exports/page.tsx
  frontend/src/app/[tenant]/(protected)/database/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/page.tsx
Due: frontend-lint

fix(students): derive the default birthday month in Berlin time
  frontend/src/lib/student-export-api.ts
Due: frontend-lint

fix(database): address export review findings
  backend/api/students/export_birthday_test.go
  backend/api/students/export_handlers.go
  frontend/src/app/[tenant]/(protected)/database/exports/page.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint, go-imports

fix: preserve attendance slot history consistency
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
  backend/services/active/attendance_service.go
  backend/services/active/attendance_service_retry_mock_test.go
  backend/services/active/update_visit_mock_test.go
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.test.tsx
  frontend/src/components/students/student-historie-tab.tsx
  frontend/src/lib/attendance-history-helpers.test.ts
  frontend/src/lib/attendance-history-helpers.ts
Due: frontend-lint, go-imports

fix(enrollment): rely on cascade for offering adjustments audit cleanup
  backend/database/migrations/001015200_offering_adjustments_append_only.go
  backend/database/repositories/enrollment/deletion_repository.go
Due: go-imports
