Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

test(timetable): getInstanceParticipants im API-Client abdecken (#2283)
  frontend/src/lib/timetable-api.test.ts
Due: frontend-lint

feat(enrollment): Angebots-Gehzeit-Schema und Modelle (#2290)
  CONTEXT.md
  backend/database/migrations/001015296_care_offering_pickup_times.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/care_offering_pickup_times_test.go
  backend/models/schedule/pickup_schedule.go
  backend/models/schedule/pickup_schedule_source_test.go
  docs/adr/0001-angebots-gehzeit-materialisieren.md
Due: go-imports

docs: Screenshots für PR #2330 (Runde 3 komplett: eine Kalenderfläche, alle Viewports)
  screenshots-pr2330/cal-tab1-se.png
  screenshots-pr2330/cal-tab1.png
  screenshots-pr2330/cal-tab2-se.png
  screenshots-pr2330/cal-tab2.png
  screenshots-pr2330/meine-12p.png
  screenshots-pr2330/meine-16pm.png
  screenshots-pr2330/meine-air.png
  screenshots-pr2330/meine-dt.png
  screenshots-pr2330/meine-pro.png
  screenshots-pr2330/meine-se.png
  screenshots-pr2330/modal-12p.png
  screenshots-pr2330/modal-16pm.png
  screenshots-pr2330/modal-air.png
  screenshots-pr2330/modal-dt.png
  screenshots-pr2330/modal-pro.png
  screenshots-pr2330/modal-se.png
  screenshots-pr2330/plan-12p.png
  screenshots-pr2330/plan-16pm.png
  screenshots-pr2330/plan-air.png
  screenshots-pr2330/plan-dt.png
  screenshots-pr2330/plan-pro.png
  screenshots-pr2330/plan-se.png
  screenshots-pr2330/sidebar-dt.png
Due: none

feat(enrollment): Gehzeit-Reconciler mit Rollout, Preview und Reset (#2290)
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/database/repositories/schedule/effective_time_repository.go
  backend/database/repositories/schedule/pickup_schedule.go
  backend/models/enrollment/care_offering.go
  backend/services/enrollment/offering_pickup_time_service.go
  backend/services/enrollment/offering_pickup_time_service_test.go
Due: go-imports

feat(enrollment): Gehzeit-Materialisierung bei Genehmigung und Buchungswechsel (#2290)
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_pickup_time_service.go
  backend/services/enrollment/offering_pickup_time_service_test.go
Due: go-imports

feat(enrollment): Kind-Gehzeit gewinnt in Klassenlisten-Zellen (#2290)
  backend/api/enrollment/report_handlers.go
  backend/api/enrollment/report_handlers_test.go
  backend/services/enrollment/report_service.go
  backend/services/schedule/effective_time_service.go
  backend/services/schedule/pickup_schedule_service.go
Due: go-imports

feat(api): Gehzeit-Rollout-Endpunkte und Reset am Kind (#2290)
  backend/api/enrollment/api.go
  backend/api/enrollment/care_offering_handlers.go
  backend/api/enrollment/care_offering_pickup_handlers.go
  backend/api/students/api.go
  backend/api/students/pickup_schedule_handlers.go
  backend/services/schedule/pickup_schedule_provenance_test.go
  backend/services/schedule/pickup_schedule_service.go
  backend/test/fixtures.go
Due: go-imports

feat(frontend): Angebots-Gehzeit im Editor, Rollout-Dialog und Kinderdetail (#2290)
  frontend/src/app/api/enrollment/care-offerings/[id]/pickup-rollout/route.ts
  frontend/src/app/api/students/[id]/pickup-schedules/reset-offering/route.ts
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/pickup-day-edit-modal.tsx
  frontend/src/components/students/pickup-schedule-manager.tsx
  frontend/src/lib/care-offering-api.ts
  frontend/src/lib/pickup-schedule-api.ts
  frontend/src/lib/pickup-schedule-helpers.ts
Due: frontend-lint

fix(enrollment): Review-Funde zur Angebots-Gehzeit (#2290)
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/care_offering_pickup_times_test.go
  backend/services/enrollment/offering_pickup_time_service.go
  frontend/src/components/students/pickup-day-edit-modal.tsx
Due: frontend-lint, go-imports

feat(timetable): Teilnehmergrenze für Regeltermine im Betreuungsplan (#2233)
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/event-form/form-model.test.ts
  frontend/src/components/timetable/event-form/form-model.ts
  frontend/src/components/timetable/event-form/step-personal-kinder.test.tsx
  frontend/src/components/timetable/event-form/step-personal-kinder.tsx
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
Due: frontend-lint

fix(enrollment): Gehzeit auf Haupt-Kinderdetailseite und Update-Persistenz (#2290)
  backend/database/repositories/enrollment/care_offering_repository.go
  backend/database/repositories/enrollment/care_offering_repository_test.go
  frontend/src/components/students/care-plan-editor-modal.tsx
  frontend/src/components/students/care-schedule-manager.tsx
Due: frontend-lint, go-imports

feat(timetable): Sammel-Vertretung — Abwesenheit und Ersatz atomar über mehrere Tage eintragen (#2284)
  backend/api/timetable/api.go
  backend/api/timetable/instances_test.go
  backend/api/timetable/substitutions_bulk.go
  backend/api/timetable/substitutions_bulk_test.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/bulk_substitution.go
  backend/services/schedule/instance_service.go
Due: go-imports

feat(vertretung): Sammel-Vertretung-Modal auf der Vertretungsseite (#2284)
  frontend/src/app/api/timetable/substitutions/bulk/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/bulk-substitution-modal.test.tsx
  frontend/src/components/timetable/bulk-substitution-modal.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/lib/timetable-api.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

chore(timetable): internen Bulk-Typ nicht exportieren (knip)
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

docs(help): Klickanleitung mit Screenshots fuer die Angebots-Gehzeit (#2290)
  frontend/public/help/screens/gehzeit-angebot.webp
  frontend/public/help/screens/gehzeit-kinderdetails.webp
  frontend/public/help/screens/gehzeit-uebertragen.webp
  frontend/public/help/screens/gehzeit-zuruecksetzen.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

chore(frontend): ungenutzten Export OfferingPickupConflict entfernen (knip)
  frontend/src/lib/care-offering-api.ts
Due: frontend-lint

fix: filter read-only timetable participants
  frontend/src/components/timetable/instance-detail-modal.test.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
Due: frontend-lint

fix(migrations): resolve care offering version collision
  backend/database/migrations/001015297_care_offering_pickup_times.go
Due: go-imports

fix: align timetable participant access check
  backend/api/timetable/participants.go
  backend/api/timetable/participants_test.go
Due: go-imports

docs: Screenshots für PR #2334
  screenshots-pr2334/01-angebots-editor-gehzeit.png
  screenshots-pr2334/02-rollout-dialog-konflikt.png
  screenshots-pr2334/03-kinderdetail-aus-angebot.png
  screenshots-pr2334/04-tageseditor-reset.png
  screenshots-pr2334/05-hilfe-klickanleitung.png
Due: none

docs(help): Gehzeit-Anleitung auf normalen Guide-Umfang reduzieren
  frontend/public/help/screens/gehzeit-angebot.webp
  frontend/public/help/screens/gehzeit-kinderdetails.webp
  frontend/public/help/screens/gehzeit-uebertragen.webp
  frontend/public/help/screens/gehzeit-zuruecksetzen.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

test(api): update route table golden for pickup rollout
  backend/api/testdata/route_table.golden
Due: none

fix: handle read-only timetable states
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/instance-detail-modal.test.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
Due: frontend-lint

test(frontend): cover pickup rollout API clients
  frontend/src/lib/care-offering-api.test.ts
  frontend/src/lib/pickup-schedule-api.test.ts
Due: frontend-lint

fix(enrollment): respect offering validity in pickup schedules
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/care_offering_pickup_times_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_pickup_time_service.go
  backend/services/enrollment/offering_pickup_time_service_test.go
  frontend/src/components/students/care-plan-editor-modal.test.tsx
  frontend/src/components/students/care-plan-editor-modal.tsx
Due: frontend-lint, go-imports

fix(enrollment): defer future pickup materialization
  backend/database/migrations/001015297_care_offering_pickup_times.go
  backend/models/schedule/pickup_schedule.go
  backend/models/schedule/pickup_schedule_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_pickup_time_service.go
  backend/services/enrollment/offering_pickup_time_service_test.go
Due: go-imports

fix(enrollment): keep future rollouts from current schedules
  backend/services/enrollment/offering_pickup_time_service.go
  backend/services/enrollment/offering_pickup_time_service_test.go
Due: go-imports

fix(enrollment): ignore rollouts outside active phase
  backend/services/enrollment/offering_pickup_time_service.go
  backend/services/enrollment/offering_pickup_time_service_test.go
Due: go-imports

fix(enrollment): scope rollout overwrites and refresh views
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_pickup_broadcast_internal_test.go
  backend/services/enrollment/offering_pickup_time_service.go
  backend/services/enrollment/offering_pickup_time_service_test.go
  backend/services/factory.go
Due: go-imports

fix(enrollment): notify after every pickup reconciliation
  backend/services/enrollment/offering_pickup_broadcast_internal_test.go
  backend/services/enrollment/offering_pickup_time_service.go
Due: go-imports

feat(enrollment): compact class-roster layout for care-usage export
  backend/api/enrollment/report_compact_layout_test.go
  backend/api/enrollment/report_handlers.go
  frontend/src/components/enrollment/admin-enrollment-phase-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/lib/enrollment-report-api.test.ts
  frontend/src/lib/enrollment-report-api.ts
Due: frontend-lint, go-imports

refactor(enrollment): dedupe export menu items and reuse shared test helper
  backend/api/enrollment/report_compact_layout_test.go
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
Due: frontend-lint, go-imports

fix(enrollment): align compact care-usage export with class-roster data
  backend/api/enrollment/report_compact_layout_test.go
  backend/api/enrollment/report_handlers.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
Due: go-imports

docs: Screenshots für PR #2336
  screenshots-pr2336/01-export-menu.png
  screenshots-pr2336/02-compact-pdf-1.png
  screenshots-pr2336/02-compact-pdf-2.png
  screenshots-pr2336/02-compact-pdf-3.png
  screenshots-pr2336/02-compact-pdf-4.png
  screenshots-pr2336/compact.pdf
Due: none

fix(enrollment): preserve care usage export snapshots
  backend/api/enrollment/report_compact_layout_test.go
  backend/api/enrollment/report_handlers.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
Due: go-imports

fix(enrollment): scope compact export enrichment
  backend/api/enrollment/report_handlers.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
Due: go-imports

docs(enrollment): explain compact report exports
  frontend/public/help/screens/anmeldungen-exportieren.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(enrollment): audit care usage export layout
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
Due: go-imports

feat(enrollment): assign departure rule to each weekday in class roster
  backend/api/enrollment/report_handlers.go
  backend/api/enrollment/report_handlers_test.go
  backend/services/enrollment/class_day_service.go
  backend/services/enrollment/class_day_service_test.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

docs: Screenshots für PR #2337
  screenshots-pr2337/klassenliste-nachher.png
  screenshots-pr2337/klassenliste-vorher.png
Due: none
