Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

feat: custom error pages for all portals (#2624)
  CONTEXT.md
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/app/[tenant]/layout.test.tsx
  frontend/src/app/[tenant]/layout.tsx
  frontend/src/app/[tenant]/not-found.tsx
  frontend/src/app/not-found.test.tsx
  frontend/src/app/not-found.tsx
  frontend/src/components/error-page-back-button.tsx
  frontend/src/components/error-page.test.tsx
  frontend/src/components/error-page.tsx
  frontend/src/components/tenant/binary-mode-guard.stories.tsx
  frontend/src/components/tenant/binary-mode-guard.test.tsx
  frontend/src/components/tenant/binary-mode-guard.tsx
  frontend/src/components/tenant/display-mode-guard.test.tsx
  frontend/src/components/tenant/display-mode-guard.tsx
  frontend/src/components/tenant/feature-disabled-page.tsx
  frontend/src/components/tenant/nfc-mode-guard.test.tsx
  frontend/src/components/tenant/nfc-mode-guard.tsx
  frontend/src/components/tenant/tenant-not-found-screen.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint

test(timetable): wait for delayed select options
  frontend/src/components/timetable/timetable-event-modal.test.tsx
Due: frontend-lint

fix(push): geteilten Endpunkt über die aktuelle Registrierung auflösen
  backend/services/notifications/school_portal_internal_test.go
  backend/services/notifications/webpush_channel.go
Due: go-imports

fix: keep feature-disabled copy in the component, not the catalog
  CONTEXT.md
  frontend/src/components/tenant/feature-disabled-page.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

fix(push): eine Benachrichtigung pro Gerät über beide Staff-Portale (#2208)
  backend/services/notifications/school_portal_internal_test.go
  backend/services/notifications/webpush_channel.go
  docs/notifications.md
Due: go-imports

docs: Screenshots für PR #2627
  screenshots-pr2627/pair-01-operator-unbekannter-pfad.png
  screenshots-pr2627/pair-02-eltern-unbekannter-pfad.png
  screenshots-pr2627/pair-03-schule-unbekannter-pfad.png
  screenshots-pr2627/pair-04-scanner-pfad.png
  screenshots-pr2627/pair-05-unbekannte-subdomain.png
  screenshots-pr2627/pair-06-tippfehler-pfad-tenant.png
  screenshots-pr2627/pair-07-funktion-ausgeschaltet.png
Due: none

fix(push): Geräte nicht über die User-Agent-Zeichenkette zusammenfassen (#2208)
  backend/services/notifications/school_portal_internal_test.go
  backend/services/notifications/webpush_channel.go
Due: go-imports

test(calendar): hoist useSearchParams mock
  frontend/src/app/[tenant]/(protected)/calendar/page.test.tsx
Due: frontend-lint

fix(push): Schul-Sitzung hält kein Personal-Abo mehr am Leben (#2208)
  backend/database/repositories/iot/push_subscription.go
Due: go-imports

refactor: narrow custom 404 page scope
  CONTEXT.md
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/app/[tenant]/[...not-found]/page.test.tsx
  frontend/src/app/[tenant]/[...not-found]/page.tsx
  frontend/src/app/[tenant]/layout.test.tsx
  frontend/src/app/[tenant]/layout.tsx
  frontend/src/app/[tenant]/not-found.tsx
  frontend/src/app/not-found.test.tsx
  frontend/src/app/not-found.tsx
  frontend/src/components/error-page-back-button.tsx
  frontend/src/components/error-page.test.tsx
  frontend/src/components/error-page.tsx
  frontend/src/components/tenant/binary-mode-guard.stories.tsx
  frontend/src/components/tenant/binary-mode-guard.test.tsx
  frontend/src/components/tenant/binary-mode-guard.tsx
  frontend/src/components/tenant/display-mode-guard.test.tsx
  frontend/src/components/tenant/display-mode-guard.tsx
  frontend/src/components/tenant/feature-disabled-page.tsx
  frontend/src/components/tenant/nfc-mode-guard.test.tsx
  frontend/src/components/tenant/nfc-mode-guard.tsx
  frontend/src/components/tenant/tenant-not-found-screen.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint

feat: generate architecture graph projections (#2584)
  backend/README.md
  backend/architecture/README.md
  backend/architecture/policy.json
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/cmd/main.go
  backend/internal/architecture/cmd/projection_commands.go
  backend/internal/architecture/projection.go
  backend/internal/architecture/projection_test.go
  backend/internal/architecture/svg.go
  backend/internal/architecture/testdata/projection/alpha/alpha.go
  backend/internal/architecture/testdata/projection/beta/beta.go
  backend/internal/architecture/testdata/projection/gamma/gamma.go
  backend/internal/architecture/testdata/projection/go.mod
  backend/internal/architecture/testdata/projection/legacy.jsonl
  backend/internal/architecture/testdata/projection/policy.json
  backend/internal/architecture/tool_projection.go
  scripts/backend-architecture.sh
Due: go-imports

fix(school-portal): Beschriftung der Leiste und Alias-Zitierung (#2208)
  backend/database/repositories/users/staff_message_read.go
  frontend/src/components/school/shell/school-bottom-nav.test.tsx
  frontend/src/components/school/shell/school-bottom-nav.tsx
Due: frontend-lint, go-imports

docs: update screenshots for PR #2627
  screenshots-pr2627/pair-01-operator-unbekannter-pfad.png
  screenshots-pr2627/pair-02-eltern-unbekannter-pfad.png
  screenshots-pr2627/pair-03-schule-unbekannter-pfad.png
  screenshots-pr2627/pair-04-scanner-pfad.png
  screenshots-pr2627/pair-05-unbekannte-subdomain.png
  screenshots-pr2627/pair-06-tippfehler-pfad-tenant.png
  screenshots-pr2627/pair-07-funktion-ausgeschaltet.png
  screenshots-pr2627/pair-404-desktop.png
  screenshots-pr2627/pair-404-ipad-air.png
  screenshots-pr2627/pair-404-ipad-pro.png
  screenshots-pr2627/pair-404-iphone-12-pro.png
  screenshots-pr2627/pair-404-iphone-16-pro-max.png
  screenshots-pr2627/pair-404-iphone-se.png
Due: none

fix: renumber parent letter delivery migration to 1.15.338
  backend/database/migrations/001015338_parent_letter_delivery.go
  backend/database/migrations/001015338_parent_letter_delivery_test.go
Due: go-imports

style: reuse shared background on 404 page
  frontend/src/app/not-found.test.tsx
  frontend/src/app/not-found.tsx
Due: frontend-lint

docs: refresh 404 screenshots for PR #2627
  screenshots-pr2627/pair-404-desktop.png
  screenshots-pr2627/pair-404-ipad-air.png
  screenshots-pr2627/pair-404-ipad-pro.png
  screenshots-pr2627/pair-404-iphone-12-pro.png
  screenshots-pr2627/pair-404-iphone-16-pro-max.png
  screenshots-pr2627/pair-404-iphone-se.png
Due: none

fix architecture projection artifacts
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/cmd/projection_commands.go
  backend/internal/architecture/projection_test.go
  backend/internal/architecture/svg.go
  backend/internal/architecture/tool_projection.go
Due: go-imports

fix: make checkbox hit areas clickable
  frontend/.oxlintrc.json
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/scripts/oxlint-plugin-ui-kit.test.ts
  frontend/src/components/database/grade-transitions/graduates-modal.test.tsx
  frontend/src/components/database/grade-transitions/graduates-modal.tsx
  frontend/src/components/students/care-plan-editor-modal.test.tsx
  frontend/src/components/students/care-plan-editor-modal.tsx
  frontend/src/components/students/care-weekly-plan-modal.test.tsx
  frontend/src/components/students/care-weekly-plan-modal.tsx
Due: frontend-lint

docs: Screenshots für PR #2629
  screenshots-pr2629/01-wochenplan-checkbox.png
  screenshots-pr2629/02-wochenplan-checkbox-mobile.png
Due: none

docs(help): Nachrichten im Schul-Portal im Hilfe-Guide (#2208)
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(notifications): Testbenachrichtigung bleibt im auslösenden Portal (#2208)
  backend/api/notifications/api.go
  backend/api/notifications/api_internal_test.go
  backend/services/notifications/school_portal_internal_test.go
  backend/services/notifications/service.go
  backend/services/notifications/sse_channel.go
  backend/services/notifications/staff_scope_test.go
  backend/services/notifications/webpush_channel.go
Due: go-imports

feat: add architecture violation locations (#2630)
  backend/README.md
  backend/architecture/README.md
  backend/internal/architecture/check.go
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/cmd/projection_commands.go
  backend/internal/architecture/graph.go
  backend/internal/architecture/graph_internal_test.go
  backend/internal/architecture/legacy.go
  backend/internal/architecture/projection.go
  backend/internal/architecture/ratchet_cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/scopes/source/another.go
  backend/internal/architecture/testdata/scopes/source/another_external_test.go
  backend/internal/architecture/testdata/scopes/source/another_test.go
  backend/internal/architecture/testdata/semantic/invalid/foreign/duplicate.go
  backend/internal/architecture/testdata/unresolved-location/go.mod
  backend/internal/architecture/testdata/unresolved-location/policy.json
  backend/internal/architecture/testdata/unresolved-location/source/source.go
Due: go-imports

fix: locate composite contract results
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/semantic/invalid/public/public.go
Due: go-imports

fix: retain all contract violation locations
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/semantic.go
  backend/internal/architecture/testdata/semantic/invalid/public/public.go
Due: go-imports

fix(school-portal): Team-Chat-Eintrag nach vorübergehendem Fehler nachziehen (#2208)
  frontend/src/lib/hooks/use-school-team-chat-unread.ts
Due: frontend-lint

docs(frontend): vier Bauarten für das Innere einer Seite
  frontend/src/components/ui/BAUARTEN-SPEC.md
Due: none

fix: prevent duplicate one-off timetable submits
  backend/api/timetable/instances_create.go
  backend/api/timetable/instances_create_idempotency_test.go
  backend/database/migrations/001015337_activity_instance_idempotency.go
  backend/database/repositories/factory.go
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/activity_instance_repo_test.go
  backend/models/schedule/activity_instance.go
  backend/services/factory.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-api.ts
Due: frontend-lint, go-imports

fix(school-portal): SSE-Verbindung an die angemeldete Sitzung binden (#2208)
  frontend/src/components/school/school-realtime-bridge.tsx
Due: frontend-lint

fix(school-portal): SSE-Zugang während der Verbindung nachprüfen (#2208)
  backend/api/base.go
  backend/api/sse/resource.go
  backend/api/sse/school_access_internal_test.go
  backend/api/sse/school_api.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/interface.go
  backend/services/platform/operator_provisioning_service_test.go
Due: go-imports

fix(school-portal): Zugang und Push an die aktuelle Sitzung binden (#2208)
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_test.go
  frontend/src/components/notifications/service-worker-registrar.tsx
Due: frontend-lint, go-imports

fix: release deferred event form submit lock
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
Due: frontend-lint

fix: use unique activity instance migration version
  backend/database/migrations/001015339_activity_instance_idempotency.go
Due: go-imports

fix(push): Schul-Abo pro Gerät neu binden, SSE über den injizierten Logger (#2208)
  backend/api/sse/school_api.go
  backend/database/repositories/iot/push_subscription.go
  backend/database/repositories/iot/push_subscription_repository_test.go
  backend/models/iot/push_subscription.go
  backend/services/notifications/push_subscriptions.go
  backend/services/notifications/push_subscriptions_internal_test.go
  backend/services/notifications/school_portal_internal_test.go
Due: go-imports

fix: forward idempotency keys through route proxy
  frontend/src/lib/api-helpers.server.ts
  frontend/src/lib/route-proxy-factory.server.ts
  frontend/src/lib/route-proxy.server.test.ts
  frontend/src/lib/route-proxy.server.ts
Due: frontend-lint

fix(ci): Migration auf 1.15.339 umnummerieren, Ref-Schreibzugriff aus dem Render
  backend/database/migrations/001015339_push_subscriptions_school_portal.go
  frontend/src/lib/hooks/use-school-team-chat-unread.ts
Due: frontend-lint, go-imports

fix: bind timetable idempotency keys to request data
  backend/api/timetable/instances_create.go
  backend/api/timetable/instances_create_idempotency_test.go
  backend/database/migrations/001015339_activity_instance_idempotency.go
  backend/models/schedule/activity_instance.go
  backend/services/schedule/instance_service.go
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
Due: frontend-lint, go-imports

fix(ci): Push-Migration auf 1.15.340 umnummerieren
  backend/database/migrations/001015340_push_subscriptions_school_portal.go
Due: go-imports

fix: accept complete architecture legacy ledger (#2631)
  backend/internal/architecture/check.go
  backend/internal/architecture/legacy.go
  backend/internal/architecture/legacy_test.go
  backend/internal/architecture/projection.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
