Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

refactor(identity): move the account profile repository into Identity & Access (#3221)
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/auth/profile.go
  backend/database/repositories/auth/profile_repository_test.go
  backend/database/repositories/calendar_test_helpers.go
  backend/database/repositories/factory.go
  backend/database/repositories/usercontext_test_helpers.go
  backend/models/auth/profile.go
  backend/models/auth/profile_test.go
  backend/models/entity_interfaces_test.go
  backend/models/users/repository.go
  backend/modules/identityaccess/legacy/usercontext/usercontext_service.go
  backend/test/fixtures.go
Due: go-imports

refactor(identity-access): move operator passkey records into the module
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/factory.go
  backend/database/repositories/platform/operator_passkey.go
  backend/models/platform/repository.go
  backend/modules/identityaccess/compose/new.go
  backend/modules/identityaccess/compose/operator_passkey.go
  backend/modules/identityaccess/identityaccess.go
  backend/modules/identityaccess/integration/operator_passkey_runtime_evidence_test.go
  backend/modules/identityaccess/integration/operator_passkey_test.go
  backend/modules/identityaccess/internal/adapters/postgres/operator_passkey.go
  backend/modules/identityaccess/internal/application/operator_passkey.go
  backend/modules/identityaccess/internal/domain/operator_passkey.go
  backend/modules/identityaccess/internal/ports/ports.go
  backend/modules/identityaccess/operator_passkey.go
  backend/services/factory.go
  backend/services/operator_passkey_composition.go
  backend/services/operator_test_helpers.go
  backend/services/platform/operator_passkey_records_test.go
  backend/services/platform/operator_passkey_service.go
  backend/services/platform/operator_passkey_service_test.go
  backend/services/platform/operator_ports.go
  backend/test/fixtures_platform.go
Due: go-imports

refactor(identity-access): move operator invitation and e-mail change links into the module
  backend/architecture/README.md
  backend/architecture/legacy.jsonl
  backend/database/repositories/factory.go
  backend/database/repositories/platform/operator_email_change_token_internal_test.go
  backend/database/repositories/platform/operator_email_change_token_repository.go
  backend/database/repositories/platform/operator_invitation_token_repository.go
  backend/models/platform/repository.go
  backend/modules/identityaccess/compose/new.go
  backend/modules/identityaccess/compose/operator_authentication.go
  backend/modules/identityaccess/compose/operator_tokens.go
  backend/modules/identityaccess/identityaccess.go
  backend/modules/identityaccess/integration/operator_tokens_runtime_evidence_test.go
  backend/modules/identityaccess/integration/operator_tokens_test.go
  backend/modules/identityaccess/internal/adapters/postgres/operator_tokens.go
  backend/modules/identityaccess/internal/application/operator_tokens.go
  backend/modules/identityaccess/internal/domain/operator_tokens.go
  backend/modules/identityaccess/internal/domain/operator_tokens_test.go
  backend/modules/identityaccess/internal/ports/ports.go
  backend/modules/identityaccess/operator_tokens.go
  backend/services/factory.go
  backend/services/operator_authentication_composition.go
  backend/services/operator_test_helpers.go
  backend/services/operator_token_composition.go
  backend/services/platform/operator_email_change_integration_test.go
  backend/services/platform/operator_email_change_tokens_test.go
  backend/services/platform/operator_invitation_dispatch_test.go
  backend/services/platform/operator_invitation_test.go
  backend/services/platform/operator_invitation_tokens_test.go
  backend/services/platform/operator_ports.go
  backend/services/platform/operator_service.go
Due: go-imports

fix(enrollment): use moved pickup test helper
  backend/services/enrollment/offering_pickup_projection_test.go
Due: go-imports

chore(architecture): refresh composition inventory line positions for #2722
  backend/architecture/composition.json
Due: none

refactor(communication): own staff conversation persistence (#3221)
  backend/architecture/README.md
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/factory.go
  backend/database/repositories/staff_membership_decorators.go
  backend/database/repositories/staff_messaging_test_helpers.go
  backend/database/repositories/users/identity_membership_test.go
  backend/database/repositories/users/messageable_staff.go
  backend/database/repositories/users/staff_message.go
  backend/database/repositories/users/staff_message_thread.go
  backend/modules/communication/internal/adapters/staffinbox/projection.go
  backend/modules/communication/internal/adapters/staffpostgres/staff_message_reads.go
  backend/modules/communication/internal/adapters/staffpostgres/staff_message_threads.go
  backend/modules/communication/internal/adapters/staffpostgres/staff_messages.go
  backend/modules/communication/internal/adapters/staffpostgres/store.go
  backend/modules/communication/internal/domain/staff_messages.go
  backend/modules/communication/internal/staffmessages/service_test.go
  backend/modules/communication/staffstore/repositories.go
  backend/modules/communication/staffstore/staffstore.go
Due: go-imports

refactor(identity-access): address review findings on the operator link capability
  backend/modules/identityaccess/compose/operator_tokens.go
  backend/modules/identityaccess/internal/application/operator_tokens.go
  backend/modules/identityaccess/internal/domain/operator_tokens.go
  backend/modules/identityaccess/internal/domain/operator_tokens_test.go
Due: go-imports

fix(identity-access): complete operator passkey ceremonies in one transaction
  backend/api/operator/passkeys_test.go
  backend/architecture/README.md
  backend/modules/identityaccess/integration/operator_passkey_runtime_evidence_test.go
  backend/modules/identityaccess/integration/operator_passkey_test.go
  backend/services/platform/operator_passkey_records_test.go
  backend/services/platform/operator_passkey_service.go
  backend/services/platform/operator_passkey_service_test.go
Due: go-imports

fix(careplan): sync later pickups with manual absences
  backend/modules/careplan/legacy/careschedule/pickup_auto_excusal.go
  backend/modules/careplan/legacy/careschedule/pickup_auto_excusal_test.go
Due: go-imports

refactor(operator): justify the scan review transaction and name its helpers (#3232)
  .claude/rules/backend-conventions.md
  backend/api/operator/mfa_admin_extra_internal_test.go
  backend/modules/devicefleet/inbound/operator/unregistered_tag_scans.go
Due: go-imports

refactor(architecture): move care withdrawal completions to the Care Plan owner (#3221)
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/care_lifecycle_test_helpers.go
  backend/database/repositories/care_plan.go
  backend/database/repositories/care_withdrawal_completions.go
  backend/database/repositories/factory.go
  backend/database/repositories/users/care_exit_cleanup.go
  backend/database/repositories/users/care_withdrawal_completion.go
  backend/database/repositories/users/care_withdrawal_completion_test.go
  backend/models/users/care_withdrawal_completion.go
  backend/modules/careplan/careplan.go
  backend/modules/careplan/compose/withdrawals.go
  backend/modules/careplan/internal/adapters/postgres/withdrawal_completions.go
  backend/modules/careplan/internal/application/withdrawals.go
  backend/modules/careplan/internal/domain/records.go
  backend/modules/careplan/internal/ports/ports.go
  backend/modules/careplan/internal/ports/withdrawals.go
  backend/modules/careplan/withdrawals.go
  backend/services/enrollment/offering_change_full_withdrawal_test.go
  backend/services/users/care_booking_authority.go
Due: go-imports

docs(architecture): record the profiles owner decision for #3221
  backend/architecture/README.md
Due: none

refactor(identity-access): move the password reset flows into the module
  backend/database/repositories/auth/invitation_token.go
  backend/database/repositories/auth/password_reset_rate_limit.go
  backend/database/repositories/auth/password_reset_rate_limit_test.go
  backend/database/repositories/auth/password_reset_token.go
  backend/database/repositories/auth/password_reset_token_repository_test.go
  backend/database/repositories/auth_test_helpers.go
  backend/database/repositories/command_roots.go
  backend/database/repositories/factory.go
  backend/database/repositories/factory_test.go
  backend/models/auth/repository.go
  backend/modules/identityaccess/compose/new.go
  backend/modules/identityaccess/compose/password_reset.go
  backend/modules/identityaccess/identityaccess.go
  backend/modules/identityaccess/internal/adapters/postgres/password_reset.go
  backend/modules/identityaccess/internal/application/password_reset.go
  backend/modules/identityaccess/internal/domain/password_reset.go
  backend/modules/identityaccess/internal/ports/password_reset.go
  backend/modules/identityaccess/password_reset.go
  backend/services/account_authentication_composition.go
  backend/services/auth/mfa_service.go
  backend/services/auth/password_reset.go
  backend/services/auth/password_reset_cleanup.go
  backend/services/auth/password_reset_delivery_test.go
  backend/services/auth/password_reset_flow_test.go
  backend/services/auth/password_reset_integration_test.go
  backend/services/auth/password_reset_rate_limit_test.go
  backend/services/auth/service.go
  backend/services/auth/test_helpers_test.go
  backend/services/auth_test_helpers.go
  backend/services/cleanup_composition.go
  backend/services/factory.go
  backend/services/password_reset_composition.go
Due: go-imports

fix(timetable): reconcile later pickup tasks
  backend/modules/timetable/compose/pickup_extension_owner_test.go
  backend/modules/timetable/internal/application/pickup_extensions.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_pickup_time_service.go
  backend/services/factory.go
  frontend/src/app/api/timetable/pickup-extensions/route.test.ts
  frontend/src/app/api/timetable/pickup-extensions/route.ts
  frontend/src/lib/pickup-extension-api.test.ts
  frontend/src/lib/pickup-extension-api.ts
Due: frontend-lint, go-imports

fix(architecture): close two gaps found in review of #3221
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/table_adoption_test.go
  backend/modules/communication/staffstore/staffstore.go
Due: go-imports

docs(adr): note that unresolved table expressions block an adoption (#3221)
  docs/adr/0015-owners-adopt-existing-unowned-tables.md
Due: none

refactor(identity-access): move the school portal passkeys into the module
  .claude/rules/backend-conventions.md
  backend/api/auth/passkey_handlers.go
  backend/api/auth/passkey_handlers_test.go
  backend/api/operator/passkeys.go
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/database/repositories/auth/passkey.go
  backend/database/repositories/auth_test_helpers.go
  backend/database/repositories/factory.go
  backend/models/auth/passkey.go
  backend/models/auth/passkey_test.go
  backend/models/auth/repository.go
  backend/models/entity_interfaces_test.go
  backend/modules/identityaccess/account_passkey.go
  backend/modules/identityaccess/compose/account_passkey.go
  backend/modules/identityaccess/compose/new.go
  backend/modules/identityaccess/identityaccess.go
  backend/modules/identityaccess/integration/account_passkey_runtime_evidence_test.go
  backend/modules/identityaccess/integration/account_passkey_test.go
  backend/modules/identityaccess/integration/operator_passkey_test.go
  backend/modules/identityaccess/internal/adapters/postgres/account_passkey.go
  backend/modules/identityaccess/internal/application/account_passkey.go
  backend/modules/identityaccess/internal/application/operator_passkey.go
  backend/modules/identityaccess/internal/domain/account_passkey.go
  backend/modules/identityaccess/internal/domain/passkey_test.go
  backend/modules/identityaccess/internal/ports/ports.go
  backend/modules/identityaccess/operator_passkey.go
  backend/services/auth/passkey_port.go
  backend/services/auth/passkey_records_test.go
  backend/services/auth/passkey_service.go
  backend/services/auth/passkey_service_test.go
  backend/services/factory.go
  backend/services/passkey_composition.go
  backend/services/passkey_test_helpers.go
  backend/test/fixtures_platform.go
Due: go-imports

chore(architecture): update composition inventory
  backend/architecture/composition.json
Due: none

fix(operator): hide Device Fleet resolve failures from the operator
  backend/api/operator/errors.go
  backend/api/operator/unregistered_tag_scan_errors_test.go
Due: go-imports

refactor(care-plan): bind the withdrawal adapter through one constructor (#3221)
  backend/database/repositories/care_lifecycle_test_helpers.go
  backend/database/repositories/care_withdrawal_completions.go
  backend/database/repositories/factory.go
Due: go-imports

fix(identity-access): keep typed passkey errors on their status codes
  backend/api/operator/passkeys.go
  backend/api/operator/passkeys_test.go
  backend/models/auth/repository.go
  backend/services/auth/passkey_ceremony.go
  backend/services/auth/passkey_service.go
  backend/services/auth/passkey_service_test.go
  backend/services/platform/operator_passkey_service.go
Due: go-imports

chore(architecture): refresh the passkey composition inventory
  backend/architecture/composition.json
Due: none

fix(timetable): type pickup extension dates
  backend/modules/timetable/compose/pickup_extensions.go
  backend/modules/timetable/internal/adapters/postgres/pickup_extensions.go
  backend/modules/timetable/internal/application/pickup_extensions.go
  backend/modules/timetable/internal/domain/pickup_extension.go
  backend/modules/timetable/internal/domain/pickup_extension_test.go
  backend/modules/timetable/internal/ports/ports.go
  backend/test/calendar_date_verification_test.go
Due: go-imports

fix: correct migration version output and drop reset warnings
  backend/database/migrations/000001001_infrastructure.go
  backend/database/migrations/0010060171_add_position_to_invitation_tokens.go
  backend/database/migrations/0010060181_add_pickup_status_to_students.go
  backend/database/migrations/001006021_restrict_substitution_permissions_to_admin.go
  backend/database/migrations/0010070061_grade_transitions.go
  backend/database/migrations/0010070071_grade_transition_permissions.go
  backend/database/migrations/migrations_test.go
  backend/database/migrations/reset.go
  backend/database/migrations/reset_test.go
Due: go-imports

fix: correct the rollback version output the first pass missed
  backend/database/migrations/000001001_infrastructure.go
  backend/database/migrations/0010060171_add_position_to_invitation_tokens.go
  backend/database/migrations/0010060181_add_pickup_status_to_students.go
  backend/database/migrations/001006021_restrict_substitution_permissions_to_admin.go
  backend/database/migrations/0010070061_grade_transitions.go
  backend/database/migrations/0010070071_grade_transition_permissions.go
  backend/database/migrations/001009004_consolidate_roles.go
  backend/database/migrations/001010007_create_staff_absences.go
  backend/database/migrations/001015030_audit_data_access_log.go
  backend/database/migrations/migrations_test.go
  backend/database/migrations/reset.go
Due: go-imports

fix: qualify the dropped type names with their schema
  backend/database/migrations/reset.go
  backend/database/migrations/reset_test.go
Due: go-imports

fix(timetable): keep pickup choices current
  backend/modules/timetable/compose/pickup_extension_owner_test.go
  backend/modules/timetable/internal/adapters/postgres/instance_students.go
  backend/modules/timetable/internal/adapters/postgres/pickup_extensions.go
  backend/modules/timetable/internal/application/pickup_extensions.go
  backend/modules/timetable/internal/domain/pickup_extension.go
  backend/modules/timetable/internal/ports/ports.go
  frontend/src/components/timetable/pickup-extension-dialog.tsx
Due: frontend-lint, go-imports

fix(timetable): keep empty pickup tasks resolvable
  backend/modules/timetable/compose/pickup_extension_owner_test.go
  backend/modules/timetable/internal/adapters/postgres/pickup_extensions.go
  backend/modules/timetable/internal/application/pickup_extensions.go
Due: go-imports

refactor(identity-access): move the guardian invitation flows into the module
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/database/repositories/auth/guardian_invitation.go
  backend/database/repositories/auth/guardian_invitation_repository_test.go
  backend/database/repositories/auth/invitation_token.go
  backend/database/repositories/auth/invitation_token_test.go
  backend/models/auth/repository.go
  backend/modules/identityaccess/account_authentication.go
  backend/modules/identityaccess/account_lifecycle.go
  backend/modules/identityaccess/compose/account_lifecycle.go
  backend/modules/identityaccess/compose/school_invitation.go
  backend/modules/identityaccess/guardian_invitation.go
  backend/modules/identityaccess/internal/adapters/postgres/guardian_invitation.go
  backend/modules/identityaccess/internal/application/account_lifecycle.go
  backend/modules/identityaccess/internal/application/account_lifecycle_fakes_internal_test.go
  backend/modules/identityaccess/internal/application/guardian_invitation.go
  backend/modules/identityaccess/internal/domain/account_login.go
  backend/modules/identityaccess/internal/domain/guardian_invitation.go
  backend/modules/identityaccess/internal/ports/account_lifecycle.go
  backend/modules/identityaccess/internal/ports/school_invitation.go
  backend/services/account_authentication_composition.go
  backend/services/account_lifecycle_composition.go
  backend/services/auth/guardian_existing_account_email_test.go
  backend/services/auth/guardian_invitation_interface.go
  backend/services/auth/guardian_invitation_mail.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/auth/guardian_invitation_service_test.go
  backend/services/auth/guardian_related_accounts_test.go
  backend/services/auth/lifecycle_port.go
  backend/services/auth/school_directory.go
  backend/services/auth_test_helpers.go
  backend/services/factory.go
  backend/services/guardian_invitation_composition.go
  backend/services/guardian_invitation_test_helpers.go
  backend/services/school_directories.go
  backend/services/school_logo_settings_test.go
  backend/services/workforce_test_helpers.go
  docs/operations/runtime-environment-boundaries.md
Due: go-imports

test(identity-access): cover the frozen token of a guardian request awaiting approval
  backend/services/auth/guardian_related_accounts_test.go
Due: go-imports

fix(identity-access): keep expired and accepted requests out of the guardian approval queue
  backend/modules/identityaccess/internal/adapters/postgres/guardian_invitation.go
Due: go-imports

test(identity-access): cover that an expired guardian request leaves the approval queue
  backend/services/auth/guardian_related_accounts_test.go
Due: go-imports

fix(timetable): use current pickup enrollments
  backend/modules/timetable/compose/pickup_extension_owner_test.go
  backend/modules/timetable/internal/adapters/postgres/pickup_extensions.go
Due: go-imports

fix(timetable): match pickup targets at current date
  backend/modules/timetable/compose/pickup_extension_owner_test.go
  backend/modules/timetable/internal/application/pickup_extensions.go
Due: go-imports

chore: run CI on merge_group events
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

refactor(identity-access): serve every guardian invitation reader from the owner
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/database/repositories/auth/guardian_invitation.go
  backend/database/repositories/auth/guardian_invitation_repository_test.go
  backend/database/repositories/auth_test_helpers.go
  backend/database/repositories/factory.go
  backend/database/repositories/factory_test.go
  backend/models/auth/repository.go
  backend/modules/identityaccess/compose/account_lifecycle.go
  backend/modules/identityaccess/guardian_invitation.go
  backend/modules/identityaccess/internal/adapters/postgres/guardian_invitation.go
  backend/modules/identityaccess/internal/application/account_lifecycle_fakes_internal_test.go
  backend/modules/identityaccess/internal/application/guardian_invitation.go
  backend/modules/identityaccess/internal/ports/account_lifecycle.go
  backend/services/auth/guardian_invitation_service_test.go
  backend/services/auth/guardian_related_accounts_test.go
  backend/services/auth/link_runtime_evidence_test.go
  backend/services/factory.go
  backend/services/guardian_directory_composition.go
  backend/services/guardian_invitation_composition.go
  backend/services/guardian_test_helpers.go
  backend/services/users/guardian_interface.go
  backend/services/users/guardian_service.go
  backend/services/users/guardian_service_test.go
  backend/test/guardian_invitation_fixture.go
  backend/workflows/parentportal/legacy/parent_guardian_service_test.go
  backend/workflows/parentportal/legacy/parent_related_accounts_service.go
  backend/workflows/parentportal/legacy/parent_related_accounts_service_test.go
  backend/workflows/parentportal/legacy/parent_service.go
Due: go-imports

feat: log one slog line per migration in the runner
  backend/cmd/migrate.go
  backend/database/migrations/0000000001_runner_hook_probe_test.go
  backend/database/migrations/001015025_config_setting_values.go
  backend/database/migrations/001015044_drop_legacy_config_settings.go
  backend/database/migrations/00_migrations.go
  backend/database/migrations/main.go
  backend/database/migrations/reset.go
  backend/database/migrations/runner_logging.go
  backend/database/migrations/runner_logging_test.go
  docs/agents/backend-data.md
Due: go-imports

refactor(identity-access): address the review findings on the link capabilities
  backend/modules/identityaccess/internal/adapters/postgres/school_invitation.go
  backend/modules/identityaccess/internal/application/guardian_invitation.go
  backend/modules/identityaccess/internal/application/password_reset.go
  backend/modules/identityaccess/internal/application/school_invitation.go
  backend/modules/identityaccess/internal/ports/school_invitation.go
  backend/services/auth/invitation_list_query_budget_test.go
  backend/services/guardian_invitation_composition.go
  backend/services/guardian_invitation_test_helpers.go
  backend/services/platform/operator_invitation_tokens_test.go
  backend/test/query_budgets.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
