Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix: use database clock for announcements
  backend/database/repositories/platform/announcement_repository.go
  backend/database/repositories/platform/announcement_view_internal_test.go
  backend/database/repositories/platform/announcement_view_repository.go
Due: go-imports

test: update composition inventory location
  backend/architecture/composition.json
Due: none

fix(ui): draw the confirm spinner in the button's own text color
  frontend/src/components/ui/modal.test.tsx
  frontend/src/components/ui/modal.tsx
Due: frontend-lint

test(arch): Kompositions-Inventar um Person-ID-Test ergänzen (#2906)
  backend/architecture/composition.json
Due: none

fix(auth): Personalseite und Personal-Import folgen den Backend-Rechten (#2906)
  frontend/src/app/[tenant]/(protected)/database/layout.test.tsx
  frontend/src/app/[tenant]/(protected)/database/layout.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/components/auth/role-guard.test.tsx
  frontend/src/components/auth/role-guard.tsx
Due: frontend-lint

fix: derive test database startup settings
  backend/internal/testdb/server.go
  backend/internal/testdb/testdb_test.go
Due: go-imports

fix: align meal plan module boundaries
  backend/api/base.go
  backend/api/base_utility_test.go
  backend/api/common/settings_delivery.go
  backend/api/parent/child_write_handlers.go
  backend/api/parent/me_handlers_test.go
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/database/repositories/users/student.go
  backend/models/users/repository.go
  backend/modules/mealplan/compose/new.go
  backend/modules/mealplan/compose/new_test.go
  backend/modules/mealplan/internal/adapters/postgres/store.go
  backend/modules/mealplan/internal/application/service.go
  backend/modules/mealplan/internal/domain/participation.go
  backend/modules/mealplan/internal/ports/ports.go
  backend/modules/mealplan/mealplan.go
  backend/seed/api/seed_operations.go
  backend/services/parent/parent_meal_plan_test.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_write_service.go
  backend/services/simple_list_export.go
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

style: satisfy meal plan lint checks
  backend/database/migrations/001015361_meal_participation.go
  backend/modules/mealplan/internal/application/service.go
Due: go-imports

test: cover sick-note clearance at meal cutoff
  backend/modules/mealplan/internal/application/service_test.go
Due: go-imports

fix: stabilize changed test execution
  backend/architecture/composition.json
  backend/internal/testdb/config.go
  backend/internal/testdb/server.go
  backend/internal/testdb/testdb_test.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/enrollment/phase_service.go
  backend/services/iot/checkin/checkout_gate_internal_test.go
Due: go-imports

fix: stabilize test bootstrap and date boundaries
  backend/architecture/composition.json
  backend/database/repositories/active/group_supervisor.go
  backend/internal/testdb/template.go
  backend/internal/testdb/template_environment_test.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/enrollment/phase_service.go
  backend/services/parent/parent_today_status.go
  backend/services/parent/parent_today_status_service.go
  backend/test/fixtures.go
Due: go-imports

fix: block consent changes after care ends
  backend/services/parent/parent_consent_service.go
  backend/services/parent/parent_consent_service_test.go
Due: go-imports

fix: reuse legacy test database containers
  backend/internal/testdb/server.go
  backend/internal/testdb/testdb_test.go
Due: go-imports

test: stabilize meal sickness deletion cutoff
  backend/modules/mealplan/compose/new_test.go
Due: go-imports

fix: clean verification findings
  backend/services/enrollment/offering_change_request_service.go
  frontend/package.json
  frontend/src/app/api/meal-plan/participants/export/route.ts
Due: frontend-lint, go-imports

refactor: batch scheduler tenant commands
  backend/api/server.go
  backend/observability/prometheus.go
  backend/observability/prometheus_worker_batch_test.go
  backend/services/scheduler/outbox_worker.go
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/settings_snapshot.go
  backend/services/scheduler/tenant_batch.go
  backend/services/scheduler/tenant_batch_test.go
Due: go-imports

fix: make scheduler batch retries explicit
  backend/api/server.go
  backend/observability/prometheus.go
  backend/observability/prometheus_worker_batch_test.go
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/tenant_batch.go
  backend/services/scheduler/tenant_batch_test.go
Due: go-imports

fix(enrollment): pin the resync clock the calendar caught up with
  backend/architecture/composition.json
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/enrollment/phase_service.go
Due: go-imports

test: stabilize enrollment date fixtures
  backend/architecture/composition.json
  backend/services/enrollment/offering_change_request_service_test.go
  backend/services/enrollment/offering_source_service_test.go
  backend/test/calendar_fixture_ratchet_test.go
Due: go-imports

fix: satisfy architecture ratchet and stabilize date tests
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/cmd/cleanup_helpers.go
  backend/cmd/settings.go
  backend/database/repositories/auth/account_tenant_repository_test.go
  backend/database/repositories/factory.go
  backend/database/repositories/parent/child_repository_test.go
  backend/database/repositories/platform/school_repository.go
  backend/database/repositories/school_capability_adapter.go
  backend/services/active/active_service.go
  backend/services/active/active_service_wrappers_internal_test.go
  backend/services/cleanup_composition.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/factory.go
  backend/services/factory_test_helpers.go
  backend/services/parent/parent_messaging_read_service_test.go
  backend/services/school_projection_adapters.go
Due: go-imports

test: isolate checkout gate fixtures
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/schulhof_daily_checkout_test.go
  backend/architecture/composition.json
Due: go-imports

fix: bound scheduler tenant failure telemetry
  backend/services/scheduler/tenant_batch.go
  backend/services/scheduler/tenant_batch_test.go
Due: go-imports

fix: remove unreachable scheduler helpers
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/scheduler_test.go
  backend/services/scheduler/tenant_batch.go
  backend/services/scheduler/tenant_batch_test.go
Due: go-imports

test: use generated scheduler tenant IDs
  backend/services/scheduler/scheduler_test.go
Due: go-imports

test: isolate PWA gauge globals
  backend/observability/prometheus_pwa_test.go
Due: go-imports

fix: stabilize clock-sensitive persistence
  backend/architecture/composition.json
  backend/database/repositories/activities/student_enrollment_repository_test.go
  backend/database/repositories/auth/accounts.go
  backend/database/repositories/iot/pwa_standalone_usage_repository_test.go
  backend/database/repositories/platform/operator_email_change_token_repository_test.go
  backend/database/repositories/platform/operator_repository.go
  backend/database/repositories/users/parent_announcement_letter_test.go
  backend/database/repositories/users/parent_announcement_test.go
  backend/models/auth/repository.go
  backend/modules/delivery/internal/adapters/postgres/store_test.go
  backend/services/auth/auth_login.go
  backend/services/auth/mfa_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/users/master_data_history_service_test.go
Due: go-imports

fix: bind settings CLI to tenant runtime
  backend/cmd/settings.go
  backend/cmd/settings_test.go
Due: go-imports

test: remove invalid settings command test
  backend/cmd/settings_test.go
Due: go-imports

fix(auth): Personal-Import ändert Bestehende nur mit Personal-Rechten (#2906)
  backend/api/import/api.go
  backend/api/import/import_test.go
  backend/api/import/staff.go
  backend/services/import/import_service.go
  backend/services/import/staff_import_config.go
  backend/services/import/staff_import_config_test.go
  frontend/src/app/[tenant]/(protected)/database/layout.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/import/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/import/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix: restore frontend type checking
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/database/master-detail-layout.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/help/help-search.tsx
  frontend/src/components/parent/shell/parent-bottom-nav.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/components/ui/slide-over.tsx
  frontend/src/test/jest-dom-vitest.d.ts
  frontend/src/types/library-compat.d.ts
Due: frontend-lint

fix: run changed tests unattended
  frontend/src/test/setup-jest-dom.ts
  frontend/vitest.config.ts
  scripts/test-changed.sh
Due: frontend-lint

fix: register matcher test setup
  frontend/src/test/setup.ts
Due: frontend-lint

fix(auth): Rollenliste für users:create lesbar machen (#2906)
  backend/api/auth/api.go
  backend/api/auth/auth_test.go
  frontend/src/app/[tenant]/(protected)/database/personal/import/page.tsx
Due: frontend-lint, go-imports

chore: drop local-environment frontend workarounds
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/database/master-detail-layout.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/help/help-search.tsx
  frontend/src/components/parent/shell/parent-bottom-nav.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/components/ui/slide-over.tsx
  frontend/src/test/jest-dom-vitest.d.ts
  frontend/src/test/setup-jest-dom.ts
  frontend/src/test/setup.ts
  frontend/src/types/library-compat.d.ts
  frontend/vitest.config.ts
Due: frontend-lint

feat(settings): collapse categories by default and add a search across tabs
  frontend/public/help/screens/einstellungen.webp
  frontend/src/components/help/guide-data.ts
  frontend/src/components/settings/settings-category.stories.tsx
  frontend/src/components/settings/settings-category.test.tsx
  frontend/src/components/settings/settings-category.tsx
  frontend/src/components/settings/settings-filter.test.ts
  frontend/src/components/settings/settings-filter.ts
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/components/settings/settings-page.tsx
Due: frontend-lint

refactor(settings): build collapsible categories on SectionCard, StatusBadge and the kit Button
  frontend/public/help/screens/einstellungen.webp
  frontend/src/components/help/guide-data.ts
  frontend/src/components/settings/settings-category.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/components/ui/section-card.tsx
Due: frontend-lint

fix: classify consent permission migration ledger
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

feat: simplify parent meal plan overview
  frontend/src/components/parent/parent-meal-plan-page.stories.tsx
  frontend/src/components/parent/parent-meal-plan-page.test.tsx
  frontend/src/components/parent/parent-meal-plan-page.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint
