Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: preserve compact inline calendars
  frontend/src/components/ui/date-picker.test.tsx
  frontend/src/components/ui/date-picker.tsx
Due: frontend-lint

test: isolate profile page settings sections
  frontend/src/app/[tenant]/(protected)/profile/page.test.tsx
Due: frontend-lint

fix(students): keep departure editor recoverable
  frontend/src/app/[tenant]/(protected)/database/students/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/components/students/student-departure-error-boundary.test.tsx
  frontend/src/components/students/student-departure-error-boundary.tsx
  frontend/src/components/students/student-stammdaten-tab.departure-integration.test.tsx
  frontend/src/components/students/student-stammdaten-tab.tsx
Due: frontend-lint

feat: separate parent care request permissions
  backend/api/parent/care_schedule_handlers.go
  backend/api/parent/care_schedule_handlers_test.go
  backend/api/parent/child_write_handlers.go
  backend/api/students/care_request_review_handlers.go
  backend/database/migrations/001015288_parent_care_request_field_settings.go
  backend/database/migrations/001015288_parent_care_request_field_settings_test.go
  backend/models/config/keys.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
  backend/services/parent/parent_care_schedule_service.go
  backend/services/parent/parent_care_schedule_service_test.go
  backend/services/schedule/care_request_service.go
  backend/services/schedule/care_request_service_test.go
  frontend/src/components/parent/care-schedule-request-modal.test.tsx
  frontend/src/components/parent/care-schedule-request-modal.tsx
  frontend/src/components/parent/child-care-schedule.test.tsx
  frontend/src/components/parent/child-care-schedule.tsx
  frontend/src/components/parent/child-care.stories.tsx
  frontend/src/components/parent/child-care.test.tsx
  frontend/src/components/parent/parent-portal.test.tsx
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix: direct expired guardian invitations to OGS
  frontend/src/app/parents/accept-guardian-invite/[token]/page.test.tsx
  frontend/src/app/parents/accept-guardian-invite/[token]/page.tsx
  frontend/src/components/auth/guardian-invitation-accept-form.test.tsx
  frontend/src/components/auth/guardian-invitation-accept-form.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

fix: choose series edit scope before opening form
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/event-form/form-model.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

fix(timetable): separate roster membership from attendance
  backend/services/schedule/edited_instance_detection.go
  backend/services/schedule/edited_instance_detection_integration_test.go
  frontend/src/components/timetable/timetable-event-modal.test.tsx
Due: frontend-lint, go-imports

fix(timetable): warn when series replan drops attendance
  backend/api/timetable/edited_in_window.go
  backend/services/schedule/edited_instance_detection.go
  backend/services/schedule/edited_instance_detection_integration_test.go
  backend/services/schedule/edited_instance_detection_test.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix: guard activity lifecycle transitions
  CONTEXT.md
  backend/api/testdata/route_table.golden
  backend/api/timetable/api.go
  backend/api/timetable/instances.go
  backend/api/timetable/instances_test.go
  backend/api/timetable/operations.go
  backend/api/timetable/operations_unit_test.go
  backend/database/migrations/001015289_activity_instance_reopen.go
  backend/database/migrations/001015290_activity_completion_snapshot.go
  backend/database/repositories/schedule/activity_recovery_repo.go
  backend/models/config/keys.go
  backend/models/schedule/activity_instance.go
  backend/services/config/defaults/timetable.go
  backend/services/factory.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
  backend/services/schedule/lifecycle_availability_test.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active-supervision-dashboard/route.test.ts
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/app/api/timetable/instances/[id]/reopen/route.ts
  frontend/src/app/api/timetable/operations/instances/[id]/reopen/route.ts
  frontend/src/components/active-supervisions/planned-now-section.test.tsx
  frontend/src/components/active-supervisions/planned-now-section.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-api.ts
  frontend/src/lib/timetable-operations-api.test.ts
  frontend/src/lib/timetable-operations-api.ts
  frontend/src/lib/timetable-operations-types.ts
Due: frontend-lint, go-imports

fix: serialize completion snapshots and gate reopen
  backend/api/timetable/instances.go
  backend/api/timetable/instances_list.go
  backend/api/timetable/instances_test.go
  backend/database/repositories/schedule/activity_recovery_repo.go
  backend/models/schedule/activity_instance.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
  backend/services/schedule/instance_service_unit_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/instance-detail-modal.test.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-operations-api.test.ts
  frontend/src/lib/timetable-operations-api.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix: keep completion reopen from clobbering later edits
  backend/api/timetable/instances.go
  backend/database/repositories/schedule/activity_recovery_repo.go
  backend/models/schedule/activity_instance.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/components/active-supervisions/planned-now-section.test.tsx
  frontend/src/components/active-supervisions/planned-now-section.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/lib/timetable-lifecycle.test.ts
  frontend/src/lib/timetable-lifecycle.ts
  frontend/src/lib/timetable-operations-types.ts
Due: frontend-lint, go-imports

fix: gate reopen and serialize snapshot writes
  backend/api/timetable/instances.go
  backend/api/timetable/instances_test.go
  backend/services/factory.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
Due: go-imports

fix(auth): Schulbindung, Betreuungsprofil und der Rest der Review-Runde
  backend/database/migrations/001015284_repair_school_identities.go
  backend/database/migrations/001015284_repair_school_identities_test.go
  backend/services/platform/operator_account_access.go
  backend/services/platform/operator_account_access_integration_test.go
  backend/services/users/person_service.go
  backend/services/users/person_service_test.go
  frontend/src/lib/teacher-api.test.ts
  frontend/src/lib/teacher-api.ts
Due: frontend-lint, go-imports

fix(students): Seitenlauf stabil sortieren, Filterwerte eindeutig kodieren, Stufe in SQL (#2218)
  backend/api/students/list_helpers.go
  backend/api/students/list_helpers_test.go
  backend/api/students/list_multi_filter_test.go
  backend/database/repositories/users/student.go
  backend/models/base/filters.go
  backend/models/base/filters_integration_test.go
  backend/models/base/filters_test.go
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/multi-value-param.test.ts
  frontend/src/lib/multi-value-param.ts
Due: frontend-lint, go-imports

fix: keep lifecycle tests working with start-window guards
  backend/api/timetable/instances.go
  backend/services/factory.go
  backend/services/schedule/instance_service_integration_test.go
  backend/services/schedule/instance_service_unit_test.go
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/lib/timetable-operations-types.test.ts
Due: frontend-lint, go-imports

feat(enrollment): compact class roster pickup cells
  backend/api/enrollment/report_handlers.go
  backend/api/enrollment/report_handlers_test.go
Due: go-imports

refactor(enrollment): mark empty roster days with em dash
  backend/api/enrollment/report_handlers.go
  backend/api/enrollment/report_handlers_test.go
Due: go-imports

refactor(enrollment): clarify missing roster pickup times
  backend/api/enrollment/report_handlers.go
  backend/api/enrollment/report_handlers_test.go
Due: go-imports

test: cover activity lifecycle start, complete and reopen guards
  backend/database/repositories/schedule/activity_recovery_repo_test.go
  backend/services/schedule/instance_service_integration_test.go
  backend/services/schedule/instance_service_unit_test.go
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-lifecycle.test.ts
  frontend/src/lib/timetable-operations-api.test.ts
Due: frontend-lint, go-imports

fix(enrollment): keep pickup times when a phase has no offerings
  backend/api/enrollment/report_handlers_test.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(enrollment): keep roster pickup times for inactive catalogs
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
Due: go-imports

feat: zeige tagesbezogene Heimwege in der Kindersuche
  backend/api/students/admin_filters.go
  backend/api/students/admin_filters_test.go
  backend/api/students/daily_departure.go
  backend/api/students/daily_departure_test.go
  backend/api/students/export_birthday_test.go
  backend/api/students/export_handlers.go
  backend/api/students/export_handlers_test.go
  backend/api/students/list_projection.go
  backend/api/students/list_projection_internal_test.go
  backend/api/students/list_projection_test.go
  backend/api/students/response_helpers.go
  backend/api/students/response_helpers_test.go
  backend/api/students/student_handlers.go
  backend/api/students/types.go
  frontend/public/help/screens/kindersuche.webp
  frontend/src/app/[tenant]/(protected)/students/search/page.companion-grouping.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.date-filter.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.room-filter.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.school-checkin-detailed.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.school-checkin.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/student-card.tsx
  frontend/src/lib/student-helpers.test.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

fix: keep session-end outside reopen and serialize recovery
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/activity_instance_repo_test.go
  backend/database/repositories/schedule/activity_recovery_repo.go
  backend/models/schedule/activity_instance.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
  backend/services/schedule/timetable_bridge_service.go
Due: go-imports

fix: use bun.List for supervisor lock query
  backend/database/repositories/schedule/activity_recovery_repo.go
Due: go-imports

style(auth): use fingerprint icon for passkey login buttons
  frontend/src/app/[tenant]/page.tsx
  frontend/src/app/operator/login/page.tsx
  frontend/src/lib/moto-concepts.ts
Due: frontend-lint

fix(enrollment): keep roster pickup times when offerings are disabled
  backend/services/enrollment/class_day_service.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  backend/services/factory.go
Due: go-imports

fix: restore attendance provenance on activity reopen
  backend/database/repositories/schedule/activity_recovery_repo.go
  backend/models/schedule/activity_instance.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
Due: go-imports

fix: keep reopen retryable and honor wildcard admins
  backend/api/timetable/instances.go
  backend/api/timetable/instances_list.go
  backend/api/timetable/instances_test.go
  backend/api/timetable/operations.go
  backend/api/timetable/operations_unit_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/components/active-supervisions/planned-now-section.test.tsx
  frontend/src/components/active-supervisions/planned-now-section.tsx
  frontend/src/lib/timetable-operations-api.test.ts
  frontend/src/lib/timetable-operations-api.ts
Due: frontend-lint, go-imports

fix: bewahre alte Abholregeln tagesbezogen
  backend/api/students/admin_filters.go
  backend/api/students/admin_filters_test.go
  backend/api/students/daily_departure.go
  backend/api/students/daily_departure_test.go
  backend/api/students/list_projection.go
  backend/api/students/list_projection_internal_test.go
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/lib/student-helpers.test.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

feat(auth): audit refresh token revocations
  backend/auth/rotation/policy.go
  backend/auth/rotation/policy_fingerprint_test.go
  backend/database/migrations/001015289_auth_token_portal_scope.go
  backend/database/repositories/auth/token.go
  backend/database/repositories/auth/token_repository_test.go
  backend/database/repositories/platform/operator_refresh_token.go
  backend/database/repositories/platform/operator_refresh_token_repository_test.go
  backend/models/audit/auth_event.go
  backend/models/auth/repository.go
  backend/models/auth/token.go
  backend/models/platform/operator_audit_log.go
  backend/models/platform/repository.go
  backend/services/auth/account_management.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_parent.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_internal_test.go
  backend/services/auth/auth_switch_tenant.go
  backend/services/auth/interface.go
  backend/services/auth/password_reset.go
  backend/services/auth/role_management.go
  backend/services/auth/role_management_internal_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/auth/token_cleanup.go
  backend/services/auth/token_revocation_audit.go
  backend/services/auth/token_revocation_audit_internal_test.go
  backend/services/auth/token_revocation_audit_test.go
  backend/services/platform/operator_account_access.go
  backend/services/platform/operator_auth_service.go
  backend/services/platform/operator_auth_service_test.go
  backend/services/platform/operator_provisioning_service_test.go
  backend/services/platform/operator_token_revocation_audit.go
  backend/services/platform/test_mocks_test.go
Due: go-imports

fix: invalidate location caches when reopening an activity
  backend/realtime/events.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_unit_test.go
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/__tests__/use-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-sse.ts
  frontend/src/lib/sse-types.ts
Due: frontend-lint, go-imports

fix: respect NFC mode in attendance guidance (#2268)
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part6.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/active-supervisions/states.tsx
  frontend/src/components/students/arrival-day-edit-modal.test.tsx
  frontend/src/components/students/arrival-day-edit-modal.tsx
  frontend/src/components/students/pickup-day-edit-modal.test.tsx
  frontend/src/components/students/pickup-day-edit-modal.tsx
  frontend/src/components/students/pickup-schedule-form-modal.test.tsx
  frontend/src/components/students/pickup-schedule-form-modal.tsx
Due: frontend-lint

test: avoid small hardcoded IDs in reopen broadcast coverage
  backend/services/schedule/instance_service_unit_test.go
Due: go-imports

fix: gate planner complete on the planned-end window
  backend/api/timetable/api.go
  backend/api/timetable/instances_list.go
  backend/api/timetable/instances_list_test.go
  frontend/src/components/timetable/instance-detail-modal.test.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix: align reopen auth and planned-end completion
  backend/api/iot/sessions/handlers.go
  backend/api/timetable/instance_students.go
  backend/api/timetable/instances_list.go
  backend/services/factory.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_unit_test.go
  backend/services/schedule/timetable_bridge_service.go
  backend/services/schedule/timetable_bridge_service_internal_test.go
  backend/services/schedule/timetable_data_service.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
Due: go-imports

fix: keep attendance PATCH handler under complexity limit
  backend/api/timetable/instance_students.go
Due: go-imports

fix(auth): limit logout to the current token family
  backend/database/repositories/auth/token.go
  backend/database/repositories/auth/token_repository_test.go
  backend/models/auth/repository.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_switch_tenant.go
  backend/services/auth/session_scope_test.go
  backend/services/auth/test_helpers_test.go
Due: go-imports

fix: serialize attendance PATCH with instance completion
  backend/api/timetable/instance_students.go
  backend/api/timetable/instance_students_test.go
  backend/api/timetable/instance_students_unit_test.go
  backend/api/timetable/timetable_data_test_helpers_test.go
  backend/services/factory.go
  backend/services/schedule/timetable_data_service.go
Due: go-imports

fix: take the next free migration versions after 1.15.289
  backend/database/migrations/001015290_activity_instance_reopen.go
  backend/database/migrations/001015291_activity_completion_snapshot.go
Due: go-imports

fix(auth): raise session-cap coverage and cut login complexity
  backend/database/repositories/auth/token_repository_test.go
  backend/services/auth/auth_login.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
