Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

feat(demo): limit public demo requests and cap active demo schools
  backend/api/auth/demo_access.go
  backend/api/auth/demo_limits_test.go
  backend/cmd/serve.go
  backend/modules/identityaccess/compose/demo_access.go
  backend/modules/identityaccess/demo_access.go
  backend/modules/identityaccess/internal/application/demo_access.go
  backend/modules/identityaccess/internal/application/demo_access_limits.go
  backend/modules/identityaccess/internal/application/demo_access_limits_internal_test.go
  backend/modules/identityaccess/internal/domain/demo_access.go
  backend/modules/identityaccess/internal/ports/demo_access.go
  backend/modules/organizationtenancy/compose/demo_queue.go
  backend/modules/organizationtenancy/compose/demo_queue_test.go
  backend/modules/organizationtenancy/demo_state.go
  backend/modules/organizationtenancy/internal/adapters/postgres/demo_state.go
  backend/services/account_authentication_composition.go
  backend/services/auth_test_helpers.go
  backend/services/demo_access_mail_composition.go
  backend/services/factory.go
  docs/agents/contracts.md
  docs/operations/standing-demo.md
  environments/demo.compose.yml
Due: go-imports

feat: show the demo setup screen and simulate only demo schools in use (#3464)
  backend/api/auth/demo_access.go
  backend/api/auth/demo_access_test.go
  backend/api/auth/demo_school_test.go
  backend/api/demo_runtime.go
  backend/cmd/demo_scheduler.go
  backend/cmd/demo_scheduler_test.go
  backend/database/migrations/001015408_demo_school_last_used.go
  backend/modules/identityaccess/compose/demo_access.go
  backend/modules/identityaccess/demo_access.go
  backend/modules/identityaccess/internal/adapters/postgres/demo_access.go
  backend/modules/identityaccess/internal/application/demo_access.go
  backend/modules/identityaccess/internal/ports/demo_access.go
  backend/modules/organizationtenancy/compose/demo_queue.go
  backend/modules/organizationtenancy/compose/demo_queue_test.go
  backend/modules/organizationtenancy/demo_state.go
  backend/modules/organizationtenancy/internal/adapters/postgres/demo_state.go
  backend/services/account_authentication_composition.go
  docs/agents/contracts.md
  docs/operations/standing-demo.md
  frontend/src/app/[tenant]/(public)/demo/page.test.tsx
  frontend/src/app/[tenant]/(public)/demo/page.tsx
  frontend/src/app/demo/page.test.tsx
  frontend/src/app/demo/page.tsx
  frontend/src/components/demo/demo-setup-screen.tsx
  frontend/src/lib/demo-access.test.ts
  frontend/src/lib/demo-access.ts
Due: frontend-lint, go-imports

fix(frontend): load help article icons only on the help page
  .claude/rules/help-guide-sync.md
  frontend/src/components/help/help-content.ts
  frontend/src/components/help/help-icons.ts
  frontend/src/components/help/help-view.tsx
Due: frontend-lint

refactor(frontend): build the demo setup screen on SectionCard and keep its texts in demo-access (#3464)
  frontend/src/app/[tenant]/(public)/demo/page.tsx
  frontend/src/app/demo/page.tsx
  frontend/src/components/demo/demo-setup-screen.tsx
  frontend/src/lib/demo-access.ts
Due: frontend-lint

fix(frontend): Aktionen des Benachrichtigungs-Dialogs in den Modal-Footer verschieben (#3368)
  frontend/src/components/notifications/notification-setup-dialog.tsx
Due: frontend-lint

chore(frontend): raise help page bundle baseline for Phosphor article icons
  frontend/scripts/perf/bundle-baseline.json
Due: none

fix(frontend): Benachrichtigungs-Dialog proportional ausrichten (#3368)
  frontend/src/components/notifications/notification-setup-dialog.tsx
  frontend/src/components/ui/modal.test.tsx
  frontend/src/components/ui/modal.tsx
Due: frontend-lint

fix(frontend): type sheet autofocus event
  frontend/src/components/ui/modal.tsx
Due: frontend-lint

fix(frontend): Kind anlegen schließt nicht mehr bei Klick neben den Dialog (#3370)
  frontend/src/components/guardians/guardian-form-modal.test.tsx
  frontend/src/components/guardians/guardian-form-modal.tsx
  frontend/src/components/students/care-weekly-plan-modal.test.tsx
  frontend/src/components/students/care-weekly-plan-modal.tsx
  frontend/src/components/students/student-create-modal.test.tsx
  frontend/src/components/students/student-create-modal.tsx
  frontend/src/components/ui/form-modal.test.tsx
  frontend/src/components/ui/form-modal.tsx
  frontend/src/components/ui/slide-over.test.tsx
  frontend/src/components/ui/slide-over.tsx
Due: frontend-lint

test(frontend): exercise slide-over backdrop interaction
  frontend/src/components/ui/slide-over.test.tsx
Due: frontend-lint

fix(identity-access): keep the caller context's request memo and error contracts
  backend/CLAUDE.md
  backend/api/base.go
  backend/api/common/identity_request_cache_middleware.go
  backend/api/common/router.go
  backend/api/common/student_access.go
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/auth/authorize/student_access.go
  backend/database/repositories/caller_rows.go
  backend/modules/classday/compose/classday.go
  backend/modules/classday/compose/slotlists.go
  backend/modules/classday/compose/slotlists_integration_test.go
  backend/modules/facilities/compose/httpadapter/runtime.go
  backend/modules/identityaccess/behavior/caller_request_cache_test.go
  backend/modules/identityaccess/behavior/caller_school_classes_test.go
  backend/modules/identityaccess/compose/caller_context.go
  backend/modules/identityaccess/compose/caller_engine_internal_test.go
  backend/modules/identityaccess/inbound/me/api.go
  backend/modules/identityaccess/internal/application/caller_groups.go
  backend/modules/identityaccess/legacy/jwt/request_identity_cache.go
  backend/modules/identityaccess/legacy/jwt/request_identity_cache_test.go
  backend/modules/studentpresence/inbound/presence/active_test.go
  backend/services/caller_context.go
  backend/services/factory.go
  backend/test/module_legacy_budget_ratchet_test.go
Due: go-imports

chore(backend): drop the unused user-context staff group test helper
  backend/database/repositories/usercontext_test_helpers.go
Due: go-imports

feat(betreuung): Übliche Ankunfts- und Abholzeit je Schule als Einstellung (#3371)
  backend/api/students/arrival_settings_handlers.go
  backend/api/students/arrival_settings_handlers_test.go
  backend/models/config/keys.go
  backend/seed/api/stammdaten.go
  backend/services/config/defaults/care_times.go
  backend/services/config/defaults/defaults_test.go
Due: go-imports

feat(betreuung): Vorgaben im Wochenplan mit einem Klick übernehmen (#3371)
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/components/help/help-content.ts
  frontend/src/components/settings/settings-field.test.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/components/students/care-weekly-plan-editor.test.tsx
  frontend/src/components/students/care-weekly-plan-editor.tsx
  frontend/src/components/students/care-weekly-plan-modal.tsx
  frontend/src/components/students/student-create-modal.test.tsx
  frontend/src/components/students/student-create-modal.tsx
  frontend/src/lib/student-arrival-api.ts
Due: frontend-lint

test(identity-access): keep credential-named keys apart in the /api/me wire-shape test
  backend/modules/identityaccess/inbound/me/wire_shape_test.go
Due: go-imports

docs(architecture): record migration evidence for the #3231 debt retirement
  backend/architecture/operator-identity-handlers-3231.json
Due: none

feat: demo banner with role switch and free start button (#3467)
  backend/modules/identityaccess/compose/demo_access.go
  backend/modules/identityaccess/demo_access.go
  backend/modules/identityaccess/inbound/auth/demo_access.go
  backend/modules/identityaccess/inbound/auth/demo_role_test.go
  backend/modules/identityaccess/internal/adapters/postgres/demo_access.go
  backend/modules/identityaccess/internal/application/demo_access.go
  backend/modules/identityaccess/internal/domain/demo_access.go
  backend/modules/identityaccess/internal/ports/demo_access.go
  docs/agents/contracts.md
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/app/[tenant]/(public)/demo/page.test.tsx
  frontend/src/app/[tenant]/(public)/demo/page.tsx
  frontend/src/app/api/demo/access/forward.ts
  frontend/src/app/api/demo/access/route.test.ts
  frontend/src/app/api/demo/access/sessions/route.ts
  frontend/src/app/demo/page.test.tsx
  frontend/src/app/demo/page.tsx
  frontend/src/components/auth/tenant-auth-wrapper.tsx
  frontend/src/components/dashboard/app-shell.test.tsx
  frontend/src/components/dashboard/app-shell.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/demo/demo-banner.test.tsx
  frontend/src/components/demo/demo-banner.tsx
  frontend/src/components/demo/demo-role-choice.tsx
  frontend/src/components/ui/page-header/OverflowMenu.test.tsx
  frontend/src/components/ui/page-header/OverflowMenu.tsx
  frontend/src/lib/analytics-deployment.ts
  frontend/src/lib/analytics.ts
  frontend/src/lib/demo-access.ts
  frontend/src/lib/posthog-privacy.test.ts
  frontend/src/lib/posthog-privacy.ts
Due: frontend-lint, go-imports

docs(architecture): record migration evidence for the dissolved user-context package
  backend/architecture/caller-context-3501.json
Due: none

fix(betreuung): einstellige Uhrzeiten übernehmen
  frontend/src/components/students/care-weekly-plan-editor.test.tsx
  frontend/src/components/ui/time-field.tsx
Due: frontend-lint

test(careplan): record the care-lifecycle pass-through budget and the #3427 cutover decisions
  backend/architecture/composition.json
  backend/test/module_passthrough_ratchet_test.go
  docs/adr/0035-care-lifecycle-cutover-replaces-legacy-permissions.md
Due: go-imports

fix: keep the demo banner to the OGS app and honest about the role (#3467)
  backend/modules/identityaccess/compose/demo_access.go
  backend/modules/identityaccess/demo_access.go
  backend/modules/identityaccess/inbound/auth/demo_access.go
  backend/modules/identityaccess/inbound/auth/demo_role_test.go
  backend/modules/identityaccess/internal/adapters/postgres/demo_access.go
  backend/modules/identityaccess/internal/application/demo_access.go
  backend/modules/identityaccess/internal/domain/demo_access.go
  backend/modules/identityaccess/internal/ports/demo_access.go
  docs/agents/contracts.md
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/app/[tenant]/(public)/demo/page.tsx
  frontend/src/components/dashboard/app-shell.test.tsx
  frontend/src/components/dashboard/app-shell.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/demo/demo-banner.test.tsx
  frontend/src/components/demo/demo-banner.tsx
  frontend/src/components/ui/page-header/OverflowMenu.test.tsx
  frontend/src/components/ui/page-header/OverflowMenu.tsx
  frontend/src/lib/analytics.ts
  frontend/src/lib/demo-access.ts
Due: frontend-lint, go-imports

refactor(users): remove care-exit helpers the dissolved lifecycle left unreachable
  backend/database/repositories/care_lifecycle_test_helpers.go
  backend/database/repositories/users/legacy_types.go
  backend/models/users/care_exit.go
Due: go-imports

test(identity-access): pin the /api/me test package's public dir before the tests run
  backend/modules/identityaccess/inbound/me/main_test.go
Due: go-imports

refactor(careplan): remove repository code only tests still reached
  backend/architecture/WORKPLAN.md
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/care_lifecycle_test_helpers.go
  backend/database/repositories/care_plan_student_record_adapters.go
  backend/database/repositories/users/legacy_types.go
  backend/database/repositories/users/student_companion_repository_test.go
  backend/database/repositories/users/student_document_test.go
  backend/models/users/student_companion.go
  backend/models/users/student_companion_test.go
  backend/models/users/student_document.go
  backend/models/users/student_document_test.go
  backend/modules/careplan/care_documents_test.go
  backend/modules/careplan/contracttest/care_document_records_test.go
  backend/modules/careplan/contracttest/care_request_service_test.go
  backend/modules/careplan/internal/domain/companions_test.go
  backend/services/enrollment/decision_companion_sync_test.go
  backend/services/users/master_data_review_service_test.go
  backend/services/users/student_deletion_workflow_test.go
Due: go-imports

fix(betreuung): dreistellige Uhrzeiten normalisieren
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/students/care-weekly-plan-editor.test.tsx
  frontend/src/components/students/care-weekly-plan-editor.tsx
  frontend/src/components/ui/time-field.tsx
  frontend/src/lib/student-arrival-api.test.ts
Due: frontend-lint

docs(architecture): record migration evidence for the care-lifecycle cutover
  backend/architecture/care-lifecycle-cutover-3427.json
Due: none

fix(frontend): type the slide-over outside-click handler explicitly
  frontend/src/components/ui/slide-over.tsx
Due: frontend-lint

fix(betreuung): dreistellige Uhrzeiten übernehmen
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/components/students/care-weekly-plan-editor.test.tsx
  frontend/src/components/students/care-weekly-plan-editor.tsx
  frontend/src/components/students/student-create-modal.tsx
  frontend/src/components/ui/time-field.tsx
  frontend/src/lib/student-arrival-api.test.ts
  frontend/src/lib/student-arrival-api.ts
Due: frontend-lint

test(betreuung): Zeitvorgaben im Anlege-Dialog prüfen
  frontend/src/components/students/student-create-modal.test.tsx
Due: frontend-lint

fix(betreuung): vollständige Uhrzeiten bewahren
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/students/care-weekly-plan-editor.test.tsx
  frontend/src/components/students/care-weekly-plan-editor.tsx
  frontend/src/components/ui/time-field.test.tsx
  frontend/src/components/ui/time-field.tsx
Due: frontend-lint

fix(betreuung): Eingabekontext bei Zeitfeldern beenden
  frontend/src/components/settings/fields/time-field.test.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/students/care-weekly-plan-editor.test.tsx
  frontend/src/components/students/care-weekly-plan-editor.tsx
  frontend/src/components/ui/time-field.test.tsx
  frontend/src/components/ui/time-field.tsx
Due: frontend-lint

test(betreuung): Zeitfeld als Eingabe prüfen
  frontend/src/components/settings/fields/time-field.test.tsx
Due: frontend-lint

feat(migrations): cut over staff storage to School Membership and Workforce
  backend/cmd/backfill_test.go
  backend/database/migrations/001015293_repair_school_identities_test.go
  backend/database/migrations/001015376_staff_owner_storage_test.go
  backend/database/migrations/001015378_presence_expand_test.go
  backend/database/migrations/001015382_staff_owner_backfill_test.go
  backend/database/migrations/001015409_staff_owner_cutover.go
  backend/database/migrations/staff_owner_compatibility.go
  backend/database/migrations/staff_owner_cutover.go
  backend/database/migrations/staff_owner_cutover_test.go
  backend/test/db_clone.go
  backend/test/staff_storage_cutover.go
Due: go-imports

refactor(studentpresence): dissolve legacy statistics into native Student Presence
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/modules/statistics/http/api.go
  backend/modules/statistics/http/export.go
  backend/modules/statistics/http/response.go
  backend/modules/studentpresence/compose/statistics.go
  backend/modules/studentpresence/internal/application/statistics/courses.go
  backend/modules/studentpresence/internal/application/statistics/courses_internal_test.go
  backend/modules/studentpresence/internal/application/statistics/service.go
  backend/modules/studentpresence/internal/application/statistics/service_internal_test.go
  backend/modules/studentpresence/internal/application/statistics/visit_windows_test.go
  backend/modules/studentpresence/internal/ports/statistics.go
  backend/modules/studentpresence/legacy/statistics/ports.go
  backend/modules/studentpresence/legacy/statistics/service.go
  backend/modules/studentpresence/statistics_report.go
  backend/services/factory.go
  backend/services/statistics_inputs.go
  backend/services/statistics_test_helpers.go
  backend/services/student_presence.go
  backend/test/module_complexity_ratchet_test.go
  backend/test/module_function_length_ratchet_test.go
  backend/test/module_legacy_budget_ratchet_test.go
  backend/test/policy_temporary_rules_ratchet_test.go
Due: go-imports

feat(supervisions): book Unterwegs children back into released rooms
  backend/modules/identityaccess/inbound/auth/tenant_handlers.go
  backend/modules/identityaccess/inbound/auth/tenant_resolve_attendance_edit_scope_test.go
  backend/modules/identityaccess/inbound/auth/types.go
  backend/modules/studentpresence/legacy/services/active/open_room_session_test.go
  backend/modules/timetable/legacy/timetableplanning/auto_end_service_integration_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/app/[tenant]/layout.tsx
  frontend/src/app/api/active-supervision-dashboard/route.test.ts
  frontend/src/components/help/help-content.ts
  frontend/src/components/rooms/transit-students-section.test.tsx
  frontend/src/components/rooms/transit-students-section.tsx
  frontend/src/lib/tenant-api.test.ts
  frontend/src/lib/tenant-api.ts
  frontend/src/lib/tenant-context.test.tsx
  frontend/src/lib/tenant-context.tsx
  frontend/src/test/setup.ts
Due: frontend-lint, go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
