Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

feat(dashboard): give a released room the same roster as a session
  backend/api/active/active_test.go
  backend/api/active/supervision_dashboard_open_rooms_test.go
  backend/database/repositories/active/group.go
  backend/models/active/group.go
  backend/models/active/repository.go
  backend/services/active/end_session_unit_test.go
  backend/services/active_test_helpers.go
  backend/services/open_room_sources.go
  backend/services/supervisiondashboard/open_rooms.go
  backend/services/supervisiondashboard/open_rooms_test.go
  backend/services/supervisiondashboard/service.go
  backend/services/supervisiondashboard/service_test.go
  backend/test/fixtures.go
  backend/test/query_budgets.go
Due: go-imports

feat(supervisions): open released rooms by their room id
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part11.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part12.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part13.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part2.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part3.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part4.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part5.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part6.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part7.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part8.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part9.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/[tenant]/providers.shell.test.tsx
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/components/active-supervisions/states.stories.tsx
  frontend/src/components/active-supervisions/states.test.tsx
  frontend/src/components/active-supervisions/states.tsx
  frontend/src/components/active-supervisions/use-schulhof-actions.ts
  frontend/src/components/active-supervisions/use-supervision-dashboard.ts
  frontend/src/components/active-supervisions/view-model.test.ts
  frontend/src/components/active-supervisions/view-model.ts
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/shell-bootstrap.server.ts
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
  frontend/src/lib/supervision-derive.test.ts
  frontend/src/lib/supervision-derive.ts
Due: frontend-lint

docs(help): describe offene Raeume in the Aufsicht guide
  backend/seed/api/data.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

chore(frontend): update bundle baseline
  frontend/scripts/perf/bundle-baseline.json
Due: none

chore(architecture): record acceptance of runtime checkpoint 2 (#3020)
  backend/architecture/runtime-checkpoints.json
Due: none

refactor(calendar-view): build the calendar and supervision read projection
  backend/api/active/api.go
  backend/api/active/supervision_dashboard_handlers.go
  backend/api/active/supervision_dashboard_rls_test.go
  backend/api/base.go
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/modules/staffcalendar/http/api.go
  backend/modules/staffcalendar/http/api_test.go
  backend/modules/staffcalendar/http/caldav.go
  backend/modules/staffcalendar/http/caldav_test.go
  backend/modules/statistics/http/api.go
  backend/modules/statistics/http/api_test.go
  backend/modules/statistics/http/export.go
  backend/modules/statistics/http/main_test.go
  backend/modules/statistics/http/response.go
  backend/modules/supervisiondashboard/legacy/legacy.go
  backend/modules/supervisiondashboard/legacy/legacy_test.go
  backend/modules/supervisiondashboard/ports.go
  backend/modules/supervisiondashboard/supervisiondashboard.go
  backend/modules/supervisiondashboard/supervisiondashboard_test.go
  backend/services/active_test_helpers.go
  backend/services/factory.go
  backend/services/supervisiondashboard/service.go
  backend/services/supervisiondashboard/service_mock_test.go
  backend/services/supervisiondashboard/service_test.go
  backend/test/e2e/calendar/parent_calendar_flow_test.go
  backend/test/e2e/calendar/personal_calendar_flow_test.go
  backend/test/route_sized_api_builders_test.go
Due: go-imports

chore(architecture): record acceptance of runtime checkpoint 2 (#3020) (#3126)
  backend/architecture/runtime-checkpoints.json
Due: none

test(staff-notices): Zielgruppe lokal setzen
  backend/database/repositories/schedule/staff_notice_repository_test.go
  backend/test/fixtures.go
Due: go-imports

fix(frontend): Kit-Knöpfe in Kartenköpfen, Jetzt-Linie nach der Uhr, kein Tagesplan-Knopf in der Jetzt-Zone (#2180)
  frontend/src/components/help/guide-data.ts
  frontend/src/components/home/day-flow-block.tsx
  frontend/src/components/home/home-block-content.tsx
  frontend/src/components/home/home-card-rows.tsx
  frontend/src/components/home/messages-block.tsx
  frontend/src/components/home/my-day-block.tsx
  frontend/src/components/home/my-group-block.test.tsx
  frontend/src/components/home/my-group-block.tsx
  frontend/src/components/home/now-strip.test.tsx
  frontend/src/components/home/now-strip.tsx
  frontend/src/components/home/open-requests-block.tsx
  frontend/src/components/home/reminders-block.tsx
  frontend/src/components/home/staff-notices-block.tsx
  frontend/src/components/home/staff-today-block.tsx
  frontend/src/lib/home-now.test.ts
  frontend/src/lib/home-now.ts
  frontend/src/lib/hooks/use-home-group.test.ts
  frontend/src/lib/hooks/use-home-group.ts
Due: frontend-lint

test(staff-notices): Architekturgrenze einhalten
  backend/database/repositories/schedule/staff_notice_repository_test.go
Due: go-imports

test(backend): keep the ratchets in step with the new tests and hook
  backend/services/supervisiondashboard/open_rooms_test.go
  backend/test/hermetic_verification_test.go
  backend/test/toolchain_pins_ratchet_test.go
Due: go-imports

fix(frontend): Standardansicht lückenlos packen, Tagesinformationen auf einen Hinweis kappen (#2180)
  frontend/src/components/home/day-flow-block.tsx
  frontend/src/components/home/home-block-content.tsx
  frontend/src/components/home/home-card-rows.tsx
  frontend/src/components/home/my-day-block.tsx
  frontend/src/components/home/my-group-block.tsx
  frontend/src/components/home/reminders-block.tsx
  frontend/src/components/home/staff-notices-block.tsx
  frontend/src/lib/home-blocks.test.ts
  frontend/src/lib/home-blocks.ts
Due: frontend-lint

docs(help): Tagesinformationen bebildern
  frontend/public/help/screens/lehrkraft-tagesinformationen.webp
  frontend/public/help/screens/tagesinformationen-anlegen.webp
  frontend/public/help/screens/tagesinformationen-bestaetigungen.webp
  frontend/src/components/help/guide-components.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

feat(frontend): Startseite als nahtloses Raster, Reihenfolge durch Ziehen, keine Lücken (#2180)
  frontend/src/app/[tenant]/(protected)/home/page.test.tsx
  frontend/src/app/[tenant]/(protected)/home/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/home/home-board.tsx
  frontend/src/lib/home-blocks.test.ts
  frontend/src/lib/home-blocks.ts
Due: frontend-lint

feat(frontend): Startseite mit Schwerkraft je Spalte, Kacheln bleiben wo man sie ablegt (#2180)
  frontend/src/app/[tenant]/(protected)/home/page.test.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/home-blocks.test.ts
  frontend/src/lib/home-blocks.ts
Due: frontend-lint

fix(school): show notice loading failures
  frontend/src/components/school/today-notices-card.test.tsx
  frontend/src/components/school/today-notices-card.tsx
Due: frontend-lint

chore(seed): Startseiten-Vorgaben der Demo-Schule ohne einzelne Kennzahl (#2180)
  backend/seed/api/seed_home_layout.go
  backend/seed/api/seed_home_layout_test.go
Due: go-imports

refactor(enrollment): grant guardian access through the Identity & Access capability (#2699)
  backend/api/base.go
  backend/api/enrollment/decision_offering_guard_router_test.go
  backend/api/enrollment_contract_golden_test.go
  backend/api/runtime_checkpoint_acceptance_test.go
  backend/api/runtime_checkpoint_test.go
  backend/api/testdata/enrollment_decision_approved.golden
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/modules/identityaccess/compose/new.go
  backend/modules/identityaccess/identityaccess.go
  backend/modules/identityaccess/integration/guardian_access_test.go
  backend/modules/identityaccess/integration/main_test.go
  backend/modules/identityaccess/internal/adapters/postgres/store.go
  backend/modules/identityaccess/internal/application/service.go
  backend/modules/identityaccess/internal/domain/guardian_access.go
  backend/modules/identityaccess/internal/ports/ports.go
  backend/observability/prometheus.go
  backend/services/enrollment/care_offering_service_test.go
  backend/services/enrollment/decision_companion_sync_test.go
  backend/services/enrollment/decision_guardian_access.go
  backend/services/enrollment/decision_guardian_access_test.go
  backend/services/enrollment/decision_guardian_resolve_internal_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/rollover_autoapprove_integration_test.go
  backend/services/factory.go
  backend/services/factory_student_consent_test.go
  backend/services/factory_test_helpers.go
  backend/services/student_test_helpers.go
  docs/runtime-checkpoints/README.md
  docs/runtime-checkpoints/enrollment-2699.md
  scripts/runtime-checkpoint-report.py
Due: go-imports

feat(students): allow multiple pickup times in search and export
  backend/api/students/export_handlers.go
  frontend/public/help/screens/kindersuche-gehzeiten.webp
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

refactor: remove obsolete calendar validation wrapper
  backend/models/calendar/appointment.go
  backend/models/calendar/appointment_test.go
  backend/modules/appointments/appointment_validation_internal_test.go
Due: go-imports

fix(frontend): Kartenknöpfe der Startseite bleiben auf dem Telefon neben dem Titel (#2180)
  frontend/src/components/home/day-flow-block.tsx
  frontend/src/components/home/home-block-content.tsx
  frontend/src/components/home/messages-block.tsx
  frontend/src/components/home/my-day-block.tsx
  frontend/src/components/home/my-group-block.tsx
  frontend/src/components/home/open-requests-block.tsx
  frontend/src/components/home/reminders-block.tsx
  frontend/src/components/home/staff-notices-block.tsx
  frontend/src/components/home/staff-today-block.tsx
  frontend/src/components/ui/section-card.test.tsx
  frontend/src/components/ui/section-card.tsx
Due: frontend-lint

test(students): cover multi-time pickup filters
  backend/api/students/export_pickup_routes_test.go
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
Due: frontend-lint, go-imports

feat(messages): Abholzeit-Anfragen im Nachrichten-Verlauf nachvollziehen
  backend/api/students/api.go
  backend/api/students/care_request_detail_handlers.go
  backend/api/students/care_request_detail_handlers_test.go
  backend/api/students/companion_plan_error_test.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/architecture/composition.json
  backend/seed/api/parent_enrollment.go
  backend/seed/api/seeder_test.go
  backend/services/schedule/care_request_pickup_pill_test.go
  backend/services/schedule/care_request_service.go
  backend/services/schedule/care_request_service_test.go
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/app/api/students/care-schedule-change-requests/[requestId]/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/messaging/pickup-request-detail-modal.test.tsx
  frontend/src/components/messaging/pickup-request-detail-modal.tsx
  frontend/src/components/students/request-review-card.tsx
  frontend/src/lib/care-request-review-api.ts
  frontend/src/lib/messaging-status.test.ts
  frontend/src/lib/messaging-status.ts
Due: frontend-lint, go-imports

fix(frontend): Kartenknopf der Startseite auf die Titelmitte ausrichten (#2180)
  frontend/src/components/ui/section-card.test.tsx
  frontend/src/components/ui/section-card.tsx
Due: frontend-lint

docs: Screenshots für PR #3137
  screenshots-pr3137/01-desktop-selection.png
  screenshots-pr3137/02-desktop-results.png
  screenshots-pr3137/03-export.png
  screenshots-pr3137/04-mobile-selection.png
  screenshots-pr3137/05-mobile-none.png
Due: none

docs: Screenshots für PR #3138
  screenshots-pr3138/01-thread.png
  screenshots-pr3138/02-detail-confirmed.png
  screenshots-pr3138/03-detail-open.png
  screenshots-pr3138/04-thread-mobile.png
  screenshots-pr3138/05-detail-mobile.png
Due: none

fix(backend): Verfasserin fehlt auch in der Bestätigungsliste der Tagesinformation (#2180)
  backend/database/repositories/schedule/staff_notice.go
  backend/database/repositories/schedule/staff_notice_repository_test.go
Due: go-imports

feat(frontend): Ratsche bauart/one-delete-confirm einführen (#3110)
  frontend/.oxlintrc.json
  frontend/CLAUDE.md
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/scripts/oxlint-plugin-bauart.test.ts
  frontend/src/components/ui/BAUARTEN-SPEC.md
Due: frontend-lint

fix: serialize offboarding with enrollment and timetable edits
  backend/database/migrations/001015374_staff_offboarding_cleanup.go
  backend/modules/identityaccess/integration/guardian_access_test.go
  backend/modules/identityaccess/internal/adapters/postgres/store.go
  backend/modules/timetable/compose/offboarding_test.go
  backend/modules/timetable/internal/adapters/postgres/activity_instances.go
  backend/modules/timetable/internal/application/activity_instances.go
  backend/modules/timetable/internal/application/instance_staff.go
  backend/modules/timetable/internal/ports/ports.go
  backend/services/enrollment/decision_approval_rollback_test.go
  backend/services/enrollment/decision_service.go
  docs/runtime-checkpoints/staff-offboarding-2709.integration.raw.json
  docs/runtime-checkpoints/staff-offboarding-2709.md
Due: go-imports

fix: connect offboarding entry points and report transaction failures
  backend/database/repositories/document_cleanup_test_helpers.go
  backend/database/repositories/workforce_worktime.go
  backend/services/active/active_service.go
  backend/workflows/staffoffboarding/offboarding.go
  backend/workflows/staffoffboarding/offboarding_test.go
  docs/runtime-checkpoints/staff-offboarding-2709.md
Due: go-imports

fix: preserve offboarding audit for unnamed sessions
  backend/services/users/staff_offboarding_test.go
  backend/workflows/staffoffboarding/compose/new.go
  docs/runtime-checkpoints/staff-offboarding-2709.md
Due: go-imports

fix: Importkreis der Startseiten-Karten auflösen, interne Helfer nicht exportieren (#2180)
  backend/services/config/settings_service.go
  frontend/src/components/home/day-flow-block.tsx
  frontend/src/components/home/home-block-content.tsx
  frontend/src/components/home/home-card.tsx
  frontend/src/components/home/messages-block.tsx
  frontend/src/components/home/my-day-block.tsx
  frontend/src/components/home/my-group-block.tsx
  frontend/src/components/home/open-requests-block.tsx
  frontend/src/components/home/reminders-block.tsx
  frontend/src/components/home/staff-notices-block.tsx
  frontend/src/components/home/staff-today-block.tsx
  frontend/src/lib/home-blocks.ts
  frontend/src/lib/hooks/use-home-group.ts
Due: frontend-lint, go-imports

test(frontend): Serien- und Formularvorlagen-Löschtests auf ConfirmDeleteModal nachziehen (#3110)
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/staff/shift-edit-modal.series.test.tsx
Due: frontend-lint

fix(messages): show closed pickup request details
  frontend/src/components/messaging/pickup-request-detail-modal.test.tsx
  frontend/src/components/messaging/pickup-request-detail-modal.tsx
  frontend/src/lib/care-request-review-api.ts
Due: frontend-lint

fix(home): letzte Einträge und Layout-Anhang bewahren
  frontend/src/components/home/day-flow-block.test.tsx
  frontend/src/components/home/day-flow-block.tsx
  frontend/src/components/home/home-card-rows.tsx
  frontend/src/components/time-tracking/betreuungsplan-heute-card.test.tsx
  frontend/src/components/time-tracking/betreuungsplan-heute-card.tsx
  frontend/src/lib/home-blocks.test.ts
  frontend/src/lib/home-blocks.ts
Due: frontend-lint

feat(messages): Abholzeit-Anfragen im Nachrichten-Verlauf nachvollziehen (#3138)
  backend/api/students/api.go
  backend/api/students/care_request_detail_handlers.go
  backend/api/students/care_request_detail_handlers_test.go
  backend/api/students/companion_plan_error_test.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/architecture/composition.json
  backend/seed/api/parent_enrollment.go
  backend/seed/api/seeder_test.go
  backend/services/schedule/care_request_pickup_pill_test.go
  backend/services/schedule/care_request_service.go
  backend/services/schedule/care_request_service_test.go
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/app/api/students/care-schedule-change-requests/[requestId]/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/messaging/pickup-request-detail-modal.test.tsx
  frontend/src/components/messaging/pickup-request-detail-modal.tsx
  frontend/src/components/students/request-review-card.tsx
  frontend/src/lib/care-request-review-api.ts
  frontend/src/lib/messaging-status.test.ts
  frontend/src/lib/messaging-status.ts
Due: frontend-lint, go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
