Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

chore: auto-install Chromium after agent-browser npm install
  devbox.json
Due: none

chore: auto-install Chromium after agent-browser npm install (#751)
  devbox.json
Due: none

fix: flip negated ternary condition for hasTimeOverride (S7735)
  frontend/src/components/students/pickup-day-edit-modal.tsx
Due: frontend-lint

fix: improve error message on manual student check-in (#749)
  frontend/src/app/students/[id]/page.tsx
Due: frontend-lint

test(iot,active): add tests for daily checkout and attendance coverage
  backend/api/iot/attendance/attendance_internal_test.go
  backend/api/iot/attendance/attendance_test.go
  backend/api/iot/checkin/checkin_internal_test.go
  backend/services/active/attendance_service_test.go
Due: go-imports

fix: enforce DD.MM.YYYY date format across all frontend views (#717)
  frontend/src/app/students/[id]/components/PersonalInfoCard.tsx
  frontend/src/app/students/[id]/feedback_history/page.tsx
  frontend/src/app/students/[id]/mensa_history/page.tsx
  frontend/src/app/students/[id]/room_history/page.tsx
  frontend/src/components/students/privacy-consent-section.tsx
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/lib/dashboard-helpers.ts
  frontend/src/lib/database/configs/permissions.config.tsx
  frontend/src/lib/database/configs/roles.config.tsx
  frontend/src/lib/date-helpers.ts
Due: frontend-lint

fix: preserve pickup exception reason on update and align error translations
  backend/api/students/pickup_schedule_handlers.go
  frontend/src/lib/pickup-schedule-api.ts
Due: frontend-lint, go-imports

fix: align test date formatter with DD.MM.YYYY component format
  frontend/src/components/students/student-detail-components.test.tsx
Due: frontend-lint

fix(iot): return 404 instead of 500 when student has no attendance record
  backend/api/iot/attendance/attendance_test.go
  backend/api/iot/attendance/handlers.go
Due: go-imports

fix(frontend): use shared apiPost for checkin/checkout routes
  frontend/src/app/api/active/visits/student/[studentId]/checkin/route.ts
  frontend/src/app/api/active/visits/student/[studentId]/checkout/route.ts
Due: frontend-lint

fix(test): update remaining tests to expect 404 for missing attendance
  backend/api/iot/attendance/attendance_test.go
Due: go-imports

refactor(ci): split test workflow into parallel backend and frontend jobs
  .github/workflows/test.yml
Due: none

chore(ci): add path filtering to skip irrelevant CI jobs
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

feat(iot): replace pending_daily_checkout with daily_checkout_available flag (#744)
  backend/api/iot/attendance/attendance_internal_test.go
  backend/api/iot/attendance/attendance_test.go
  backend/api/iot/attendance/handlers.go
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/checkin/handlers.go
  backend/api/iot/checkin/helpers.go
  backend/api/iot/checkin/workflow.go
  backend/services/active/active_service.go
  backend/services/active/attendance_service.go
  backend/services/active/attendance_service_test.go
  backend/services/active/context.go
Due: go-imports

test(frontend): update checkin route test to mock apiPost instead of fetch
  frontend/src/app/api/active/visits/student/[studentId]/checkin/route.test.ts
Due: frontend-lint

test(frontend): add checkout route test coverage
  frontend/src/app/api/active/visits/student/[studentId]/checkout/route.test.ts
Due: frontend-lint

chore(ci): use gotestsum for better test output and flaky retries
  .github/workflows/test.yml
Due: none

chore(ci): add concurrency groups to cancel stale PR runs
  .github/workflows/main.yml
Due: none

chore(ci): add Docker layer caching with GHA backend
  .github/workflows/build.yml
Due: none

chore(ci): remove go mod tidy from CI test job
  .github/workflows/test.yml
Due: none

chore(ci): add least-privilege GITHUB_TOKEN permissions
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

chore(ci): replace StrictHostKeyChecking=no with known_hosts verification
  .github/workflows/build.yml
Due: none

chore(ci): add run-name and workflow name for better observability
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: none

chore(frontend): remove unused barrel exports flagged by knip
  frontend/src/components/dashboard/index.ts
Due: frontend-lint

chore(ci): right-size runners for lightweight jobs
  .github/workflows/build.yml
Due: none

chore(ci): add JUnit test result annotations to PRs
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

fix(test): remove 4 obsolete prop-passing tests from deprecated ResponsiveLayout
  frontend/src/components/dashboard/responsive-layout.test.tsx
Due: frontend-lint

chore(ci): optimize CI with parallel tests and path filtering (#755)
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

fix(activities): only admin permissions bypass ownership checks
  backend/api/activities/api.go
  backend/seed/fixed/activities.go
  backend/seed/fixed/pickup_schedules.go
  frontend/src/components/activities/activity-management-modal.tsx
  frontend/src/components/ui/modal-utils.tsx
Due: frontend-lint, go-imports

test(frontend): add tests for BreadcrumbContext and AppShell
  frontend/src/components/dashboard/app-shell.test.tsx
  frontend/src/lib/breadcrumb-context.test.tsx
Due: frontend-lint

fix(active-supervisions): restore breadcrumb with current room name
  frontend/src/app/(protected)/active-supervisions/page.tsx
Due: frontend-lint

fix(frontend): prevent horizontal overflow on tablet-width screens
  frontend/src/app/ogs-groups/page.tsx
  frontend/src/components/ui/page-header/PageHeaderWithSearch.tsx
Due: frontend-lint

feat(students): show all student info to all staff, restrict editing to supervisors
  backend/api/students/response_helpers.go
  frontend/src/app/students/[id]/page.tsx
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint, go-imports

fix(tests): remove unused createTestGroupWithCreator helper
  backend/services/activities/activity_service_test.go
Due: go-imports

test(frontend): add 14 test files to increase coverage on new code
  frontend/src/app/(protected)/database/devices/page.test.tsx
  frontend/src/app/(protected)/database/groups/combined/[id]/page.test.tsx
  frontend/src/app/(protected)/database/groups/combined/new/page.test.tsx
  frontend/src/app/(protected)/database/groups/combined/page.test.tsx
  frontend/src/app/(protected)/invitations/page.test.tsx
  frontend/src/app/(protected)/layout.test.tsx
  frontend/src/app/(protected)/loading.test.tsx
  frontend/src/app/(protected)/settings/page.test.tsx
  frontend/src/app/(protected)/students/[id]/components/HistoryLinks.test.tsx
  frontend/src/app/(protected)/students/[id]/components/PersonalInfoCard.test.tsx
  frontend/src/app/(protected)/students/[id]/components/PersonalInfoEditForm.test.tsx
  frontend/src/app/(protected)/students/[id]/components/StudentHeader.test.tsx
  frontend/src/app/(protected)/students/[id]/components/SupervisorContactCard.test.tsx
  frontend/src/components/database/database-page-layout.test.tsx
Due: frontend-lint

fix(ci): use --packages flag with gotestsum --rerun-fails
  .github/workflows/test.yml
Due: none

feat(students): allow all staff to view pickup info and checkout any student
  backend/api/active/checkout_helpers.go
  frontend/src/app/students/[id]/page.tsx
  frontend/src/lib/hooks/use-student-data.ts
Due: frontend-lint, go-imports

test(frontend): expand test coverage for devices, permissions, roles, combined groups, header, and PersonalInfoEditForm
  frontend/src/app/(protected)/database/devices/page.test.tsx
  frontend/src/app/(protected)/database/groups/combined/[id]/page.test.tsx
  frontend/src/app/(protected)/database/groups/combined/new/page.test.tsx
  frontend/src/app/(protected)/database/permissions/page.test.tsx
  frontend/src/app/(protected)/database/roles/page.test.tsx
  frontend/src/app/(protected)/students/[id]/components/PersonalInfoEditForm.test.tsx
  frontend/src/components/dashboard/header.test.tsx
Due: frontend-lint
