Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

docs: add screenshots for PR #2798
  screenshots-pr2798/after-booking-led-desktop.png
  screenshots-pr2798/after-existing-request-booking-led.png
  screenshots-pr2798/after-request-pending-weekly-led.png
  screenshots-pr2798/after-weekly-led-desktop.png
  screenshots-pr2798/before-after-weekly-led.png
  screenshots-pr2798/before-weekly-led-desktop.png
  screenshots-pr2798/contact-sheet.png
  screenshots-pr2798/modal-12p-390x844.png
  screenshots-pr2798/modal-16pm-430x932.png
  screenshots-pr2798/modal-air-820x1180.png
  screenshots-pr2798/modal-dt-1440x900.png
  screenshots-pr2798/modal-pro-1024x1366.png
  screenshots-pr2798/modal-se-375x667.png
Due: none

docs: clarify group responsibility terminology
  CONTEXT.md
Due: none

fix: clarify help prompt scope
  docs/hilfebereich-umbau-plan.md
  frontend/src/components/help/prototype/help-prototype.tsx
Due: frontend-lint

docs: Trägerapp-Recherche und Wayfinder-Grundlage
  CONTEXT.md
  docs/research/traegerapp/00-way-forward.md
  docs/research/traegerapp/01-code-bestand.md
  docs/research/traegerapp/02-issues.md
  docs/research/traegerapp/03-markt.md
Due: none

fix: explain missing weekly plan action and name booking-led rejection
  backend/api/care_schedule_authority_router_test.go
  backend/api/parent/care_schedule_handlers_test.go
  backend/api/parent/child_write_handlers.go
  backend/services/parent/parent_care_schedule_authority_test.go
  backend/services/parent/parent_care_schedule_service.go
  frontend/src/components/parent/care-schedule-request-modal.tsx
  frontend/src/components/parent/child/booked-care-section.test.tsx
  frontend/src/components/parent/child/weekly-schedule-section.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint, go-imports

refactor: add typed enrollment settings query
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/parent/enrollable_phase_eligibility_test.go
  backend/database/repositories/parent/enrollable_phase_repository.go
  backend/database/repositories/parent/enrollable_phase_repository_test.go
  backend/services/config/configtest/mock.go
  backend/services/config/settings_interface.go
  backend/services/config/settings_multi_tenant_test.go
  backend/services/config/settings_service.go
  backend/services/factory.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_service_extra_test.go
  backend/settings/queries.go
  backend/settings/queries_test.go
Due: go-imports

refactor: isolate settings defaults
  backend/architecture/legacy.jsonl
  backend/services/config/defaults/appointment_reminders_test.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/enrollment.go
Due: go-imports

feat: add docs-style help article prototype
  docs/hilfebereich-umbau-plan.md
  frontend/src/components/help/prototype/help-prototype.tsx
Due: frontend-lint

refactor: remove ORM embedding from config models
  backend/architecture/legacy.jsonl
  backend/models/config/setting_audit.go
  backend/models/config/setting_value.go
  backend/models/config/staff_work_schedule.go
  backend/models/config/work_time_model.go
Due: go-imports

refactor: keep config repository errors local
  backend/architecture/legacy.jsonl
  backend/database/repositories/config/setting_audit.go
  backend/database/repositories/config/setting_value.go
  backend/services/config/settings_service_tenant_test.go
Due: go-imports

test: drop tenant from parent token after principal seam
  backend/api/care_schedule_authority_router_test.go
Due: go-imports

refactor: inject config repository runtime
  backend/api/active/tracking_query_budget_test.go
  backend/api/auth/tenant_resolve_emergency_test.go
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/base/config_runtime.go
  backend/database/repositories/config/runtime.go
  backend/database/repositories/config/setting_audit.go
  backend/database/repositories/config/setting_audit_test.go
  backend/database/repositories/config/setting_value.go
  backend/database/repositories/config/setting_value_test.go
  backend/database/repositories/config/staff_balance_lock_test.go
  backend/database/repositories/config/staff_work_schedule.go
  backend/database/repositories/config/time_tracking_repositories_test.go
  backend/database/repositories/config/work_time_model.go
  backend/database/repositories/factory.go
  backend/database/repositories/users/staff_repository_test.go
  backend/services/config/settings_multi_tenant_test.go
  backend/services/config/settings_request_cache_db_test.go
  backend/services/scheduler/settings_snapshot_test.go
  backend/test/config_runtime.go
  backend/test/operational_overview_scope_test.go
Due: go-imports

refactor: inject config repository clock
  backend/architecture/legacy.jsonl
  backend/database/repositories/base/config_runtime.go
  backend/database/repositories/config/runtime.go
  backend/database/repositories/config/staff_work_schedule.go
  backend/database/repositories/config/work_time_model.go
  backend/models/config/staff_work_schedule.go
Due: go-imports

refactor: isolate settings application runtime
  backend/api/active/tracking_query_budget_test.go
  backend/api/display/api_test.go
  backend/api/operator/settings.go
  backend/architecture/legacy.jsonl
  backend/database/repositories/base/config_runtime.go
  backend/services/active/staff_time_export_datev_test.go
  backend/services/auth/mfa_service_settings_test.go
  backend/services/config/operator_settings_service.go
  backend/services/config/operator_settings_service_internal_test.go
  backend/services/config/payroll_status_service.go
  backend/services/config/payroll_status_service_test.go
  backend/services/config/permission_internal_test.go
  backend/services/config/runtime.go
  backend/services/config/schema_builder.go
  backend/services/config/settings_multi_tenant_test.go
  backend/services/config/settings_request_cache_db_test.go
  backend/services/config/settings_service.go
  backend/services/config/settings_service_lock_key_internal_test.go
  backend/services/config/settings_service_tenant_test.go
  backend/services/config/settings_service_test.go
  backend/services/config/work_time_model_broadcast_test.go
  backend/services/config/work_time_model_service.go
  backend/services/factory.go
  backend/services/scheduler/settings_snapshot_test.go
  backend/services/settings_adapters.go
  backend/services/tenant_runtime.go
  backend/test/operational_overview_scope_test.go
  backend/test/personnel_number.go
  backend/test/tenant_runtime.go
Due: go-imports

test: keep settings implementation tests internal
  backend/architecture/legacy.jsonl
  backend/database/repositories/config/main_test.go
  backend/database/repositories/config/setting_audit_test.go
  backend/database/repositories/config/setting_value_test.go
  backend/database/repositories/config/staff_balance_lock_test.go
  backend/database/repositories/config/time_tracking_repositories_test.go
  backend/models/config/registry_test.go
  backend/models/config/setting_audit_test.go
  backend/models/config/setting_value_test.go
  backend/models/config/weekly_targets_test.go
  backend/models/config/work_time_model_test.go
  backend/test/tenant_runtime.go
Due: go-imports

test: isolate settings application behavior
  backend/architecture/legacy.jsonl
  backend/services/config/helpers_snapshot_test.go
  backend/services/config/helpers_test.go
  backend/services/config/main_test.go
  backend/services/config/payroll_status_service.go
  backend/services/config/payroll_status_service_test.go
  backend/services/config/presence.go
  backend/services/config/presence_test.go
  backend/services/config/settings_multi_tenant_test.go
  backend/services/config/settings_request_cache_db_test.go
  backend/services/config/settings_request_cache_test.go
  backend/services/config/settings_service_enrollment_guard_paths_test.go
  backend/services/config/settings_service_tenant_test.go
  backend/services/config/settings_service_test.go
  backend/services/config/settings_snapshot_edge_test.go
  backend/services/config/settings_snapshot_test.go
  backend/services/config/work_time_model_validation_test.go
  backend/test/settings_query_counter.go
  backend/test/tenant_runtime.go
Due: go-imports

feat: make docs-style help layout the default
  docs/hilfebereich-umbau-plan.md
  frontend/src/components/help/prototype/help-prototype.tsx
Due: frontend-lint

refactor: remove obsolete settings helpers
  backend/api/common/settings_broadcast.go
  backend/settings/queries.go
Due: go-imports

refactor: break correction dialog import cycle
  frontend/src/components/students/requests/decision-correction-dialog.tsx
  frontend/src/components/students/requests/history-request-list.tsx
Due: frontend-lint

refactor: remove obsolete group leader helper
  backend/api/groups/api.go
  backend/api/groups/groups_test.go
Due: go-imports

refactor: remove obsolete substitution helpers
  backend/api/staff/helpers_internal_test.go
  backend/api/staff/substitution_handlers.go
  backend/services/education/group_substitution_active.go
  backend/services/education/group_substitution_active_test.go
Due: go-imports

fix: preserve settings architecture boundaries
  backend/api/config/runtime.go
  backend/api/config/settings_api.go
  backend/api/students/care_exit_handlers_test.go
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/base/config_runtime.go
  backend/database/repositories/config/runtime.go
  backend/database/repositories/factory.go
  backend/database/tenant_runtime.go
  backend/models/config/staff_work_schedule.go
  backend/models/config/work_time_model.go
  backend/services/config/tenant_operations.go
  backend/services/factory.go
  backend/services/settings_adapters.go
  backend/services/tenant_runtime.go
  backend/settings/queries.go
  backend/settings/queries_test.go
  backend/tenant/runtime.go
  backend/test/config_runtime.go
  backend/test/tenant_runtime.go
Due: go-imports

fix: unwrap substitution proxy responses
  frontend/src/lib/group-transfer-api.test.ts
  frontend/src/lib/group-transfer-api.ts
  frontend/src/lib/substitution-api.test.ts
  frontend/src/lib/substitution-api.ts
  frontend/src/lib/substitution-helpers.ts
Due: frontend-lint

fix: remove obsolete shared lock helper
  backend/database/repositories/base/base.go
Due: go-imports

fix: settle post-merge CI findings
  backend/api/care_schedule_authority_router_test.go
  backend/architecture/composition.json
  frontend/src/components/students/requests/use-request-feed.ts
Due: frontend-lint, go-imports

test: wire settings runtime in direct repository tests
  backend/api/staff/staff_test.go
  backend/services/schedule/staff_schedule_overview_integration_test.go
  backend/services/users/staff_offboarding_test.go
Due: go-imports

chore: remove resolved architecture exception
  backend/architecture/legacy.jsonl
Due: none

test: refresh composition inventory
  backend/architecture/composition.json
Due: none

docs: add screenshots for PR #2834
  screenshots/01-admin-overview.png
  screenshots/02-admin-assignment.png
  screenshots/03-active-handover.png
  screenshots/04-recipient-my-groups.png
  screenshots/05-end-confirmation.png
Due: none

fix: seed group handover audit trail
  backend/seed/api/coverage_ratchet_test.go
  backend/seed/api/seed_group_handover.go
  backend/seed/api/seed_group_handover_test.go
  backend/seed/api/stammdaten.go
Due: go-imports

test: skip future-gap participation check when the planning horizon closes today
  backend/api/students/care_exit_handlers_test.go
Due: go-imports

test: run seed handover tests in parallel
  backend/seed/api/seed_group_handover_test.go
Due: go-imports

chore: regenerate composition inventory after merge
  backend/architecture/composition.json
Due: none

fix group handover cache invalidation
  backend/database/migrations/001015344_substitution_changes.go
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint, go-imports

fix(testdb): pin compose project name when auto-starting postgres-test
  CLAUDE.md
  backend/internal/testdb/server.go
  docker-compose.example.yml
Due: go-imports

test update composition inventory after merge
  backend/architecture/composition.json
Due: none

chore(frontend): parseWeeklyHours wird nur in seiner Datei gebraucht
  frontend/src/components/staff/stammdaten-section-forms.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
