Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

feat: add operator dashboard backend (platform domain)
  backend/api/base.go
  backend/api/operator/announcements.go
  backend/api/operator/api.go
  backend/api/operator/auth.go
  backend/api/operator/errors.go
  backend/api/operator/middleware.go
  backend/api/operator/suggestions.go
  backend/api/platform/announcements.go
  backend/api/platform/api.go
  backend/auth/jwt/claims.go
  backend/auth/jwt/tokenauth.go
  backend/database/migrations/001011001_create_platform_schema.go
  backend/database/migrations/001011002_add_suggestion_statuses.go
  backend/database/repositories/factory.go
  backend/database/repositories/platform/announcement_repository.go
  backend/database/repositories/platform/announcement_view_repository.go
  backend/database/repositories/platform/audit_log_repository.go
  backend/database/repositories/platform/operator_comment_repository.go
  backend/database/repositories/platform/operator_repository.go
  backend/models/base/base.go
  backend/models/platform/announcement.go
  backend/models/platform/announcement_view.go
  backend/models/platform/operator.go
  backend/models/platform/operator_audit_log.go
  backend/models/platform/operator_comment.go
  backend/models/platform/repository.go
  backend/models/suggestions/post.go
  backend/seed/fixed/operators.go
  backend/seed/fixed/result.go
  backend/seed/fixed/seeder.go
  backend/seed/seed.go
  backend/services/factory.go
  backend/services/platform/announcement_service.go
  backend/services/platform/errors.go
  backend/services/platform/operator_auth_service.go
  backend/services/platform/operator_suggestions_service.go
Due: go-imports

feat: add actions as settings
  backend/api/settings/actions.go
  backend/api/settings/api.go
  backend/database/migrations/001010001_action_support.go
  backend/database/repositories/config/action_audit.go
  backend/database/repositories/factory.go
  backend/models/config/action_audit.go
  backend/models/config/repository.go
  backend/models/config/setting_definition.go
  backend/models/config/value_type.go
  backend/services/config/action_handlers.go
  backend/services/config/builtin_action_handlers.go
  backend/services/config/hierarchical_settings_service.go
  backend/services/factory.go
  backend/settings/definition.go
  backend/settings/definitions/actions.go
  backend/settings/registry.go
  frontend/src/app/api/settings/actions/[key]/execute/route.ts
  frontend/src/components/settings/action-control.tsx
  frontend/src/components/settings/settings-category.tsx
  frontend/src/lib/settings-api.ts
  frontend/src/lib/settings-helpers.ts
Due: frontend-lint, go-imports

feat: add operator account migration for production deployment
  backend/database/migrations/001011003_create_operator_account.go
  backend/dev.env.example
Due: go-imports

feat: polish operator feedback UI and fix auth issues
  backend/seed/fixed/result.go
  backend/seed/fixed/seeder.go
  backend/seed/fixed/suggestions.go
  backend/seed/seed.go
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/(operator)/operator/suggestions/[id]/page.tsx
  frontend/src/app/(operator)/operator/suggestions/page.tsx
  frontend/src/app/api/operator/me/route.ts
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/operator/status-dropdown.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/lib/operator/suggestions-helpers.ts
  frontend/src/lib/shell-auth-context.tsx
Due: frontend-lint, go-imports

fix: status update, detail page query, and UI refinements
  backend/database/repositories/platform/operator_comment_repository.go
  frontend/src/app/(operator)/operator/suggestions/[id]/page.tsx
  frontend/src/app/(operator)/operator/suggestions/page.tsx
  frontend/src/components/operator/status-dropdown.tsx
  frontend/src/components/ui/page-header/SearchBar.tsx
  frontend/src/lib/operator/suggestions-api.ts
  frontend/src/lib/operator/suggestions-helpers.ts
Due: frontend-lint, go-imports

fix: addComment returns void (backend returns null data)
  frontend/src/lib/operator/suggestions-api.ts
Due: frontend-lint

fix: add Enter key to submit comments in both accordion components
  frontend/src/components/operator/operator-comment-accordion.tsx
  frontend/src/components/suggestions/comment-accordion.tsx
Due: frontend-lint

fix(api): return all students from IoT endpoint when no teacher filter
  backend/api/iot/data/handlers.go
  backend/api/time-tracking/api_test.go
  backend/database/repositories/users/student.go
  backend/models/users/repository.go
  backend/services/users/interface.go
  backend/services/users/person_service.go
Due: go-imports

fix: distinguish missing vs empty teacher_ids param
  backend/api/iot/data/handlers.go
Due: go-imports

refactor: extract shared query builder and add tests for FindAllWithGroups
  backend/api/iot/data/data_test.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_repository_test.go
Due: go-imports

test: add service-level test for GetAllStudentsWithGroups
  backend/services/users/person_service_test.go
Due: go-imports

feat(iot): add is_occupied field to activities endpoint
  backend/api/iot/data/handlers.go
  backend/api/iot/data/types.go
  backend/database/repositories/active/group.go
  backend/models/active/repository.go
  backend/services/active/end_session_unit_test.go
  backend/services/activities/activity_service.go
  backend/services/activities/interface.go
  backend/services/facilities/schulhof_service_test.go
  backend/services/factory.go
Due: go-imports

test: add coverage for activity occupancy feature
  backend/api/iot/data/data_test.go
  backend/database/repositories/active/group.go
  backend/database/repositories/active/group_repository_test.go
  backend/services/activities/activity_service_test.go
Due: go-imports

feat: add comment count to suggestions list and polish comment UI
  backend/api/operator/suggestions.go
  backend/api/suggestions/requests.go
  backend/database/repositories/suggestions/post_repository.go
  backend/models/suggestions/post.go
  frontend/src/app/(protected)/suggestions/page.test.tsx
  frontend/src/components/operator/operator-comment-accordion.tsx
  frontend/src/components/suggestions/comment-accordion.tsx
  frontend/src/components/suggestions/suggestion-card.test.tsx
  frontend/src/components/suggestions/suggestion-card.tsx
  frontend/src/components/suggestions/suggestion-form.test.tsx
  frontend/src/components/suggestions/vote-buttons.test.tsx
  frontend/src/lib/suggestions-api.test.ts
  frontend/src/lib/suggestions-helpers.test.ts
  frontend/src/lib/suggestions-helpers.ts
Due: frontend-lint, go-imports

feat: add unviewed post tracking and fix operator dashboard UX
  backend/api/operator/api.go
  backend/api/operator/suggestions.go
  backend/database/migrations/001012003_post_reads.go
  backend/database/repositories/factory.go
  backend/database/repositories/suggestions/post_read_repository.go
  backend/database/repositories/suggestions/post_repository.go
  backend/models/suggestions/post.go
  backend/models/suggestions/post_read.go
  backend/models/suggestions/repository.go
  backend/services/factory.go
  backend/services/platform/operator_suggestions_service.go
  frontend/src/app/(operator)/operator/suggestions/page.tsx
  frontend/src/app/api/operator/suggestions/[id]/view/route.ts
  frontend/src/app/api/operator/suggestions/unviewed-count/route.ts
  frontend/src/components/operator/operator-comment-accordion.tsx
  frontend/src/components/operator/status-dropdown.tsx
  frontend/src/lib/hooks/use-operator-suggestions-unread.ts
  frontend/src/lib/operator/suggestions-api.ts
  frontend/src/lib/operator/suggestions-helpers.ts
Due: frontend-lint, go-imports

fix: improve operator dashboard UI (DatePicker, focus rings, SWR)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/(operator)/operator/announcements/page.tsx
  frontend/src/app/(operator)/operator/suggestions/[id]/page.tsx
  frontend/src/app/(operator)/operator/suggestions/page.tsx
  frontend/src/components/ui/date-picker.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
Due: frontend-lint

feat: add announcement views accordion and fix modal issues
  backend/api/operator/announcements.go
  backend/api/operator/api.go
  backend/database/repositories/platform/announcement_view_repository.go
  backend/models/platform/announcement.go
  backend/models/platform/repository.go
  backend/services/platform/announcement_service.go
  frontend/src/app/(operator)/operator/announcements/page.tsx
  frontend/src/app/api/operator/announcements/[id]/views/route.ts
  frontend/src/components/operator/announcement-views-accordion.tsx
  frontend/src/components/platform/announcement-modal.tsx
  frontend/src/lib/hooks/use-announcements.ts
  frontend/src/lib/operator/announcements-api.ts
  frontend/src/lib/operator/announcements-helpers.ts
Due: frontend-lint, go-imports

refactor: redesign announcement card with kebab menu
  frontend/src/app/(operator)/operator/announcements/page.tsx
Due: frontend-lint

refactor: simplify announcement read confirmation UI
  frontend/src/app/(operator)/operator/announcements/page.tsx
  frontend/src/components/operator/announcement-views-accordion.tsx
Due: frontend-lint

feat: add role-based announcement targeting
  backend/api/platform/announcements.go
  backend/api/platform/api.go
  backend/database/migrations/001012004_announcement_target_roles.go
  backend/database/repositories/platform/announcement_repository.go
  frontend/src/app/api/platform/announcements/[id]/dismiss/route.ts
  frontend/src/app/api/platform/announcements/unread/route.ts
Due: frontend-lint, go-imports

feat: add operator announcement stats API route
  frontend/src/app/api/operator/announcements/[id]/stats/route.ts
Due: frontend-lint

refactor: redesign announcement card with severity border accent
  frontend/src/app/(operator)/operator/announcements/page.tsx
  frontend/src/lib/operator/announcements-helpers.ts
Due: frontend-lint

refactor: replace left border with type label text
  frontend/src/app/(operator)/operator/announcements/page.tsx
Due: frontend-lint

style: add color to announcement type labels
  frontend/src/app/(operator)/operator/announcements/page.tsx
  frontend/src/lib/operator/announcements-helpers.ts
Due: frontend-lint

style: use moto brand colors and fix kebab menu position
  frontend/src/app/(operator)/operator/announcements/page.tsx
  frontend/src/lib/operator/announcements-helpers.ts
Due: frontend-lint

feat: add announcement seed data
  backend/seed/fixed/announcements.go
  backend/seed/fixed/result.go
  backend/seed/fixed/seeder.go
Due: go-imports

style: replace native checkboxes with custom styled buttons
  frontend/src/app/(operator)/operator/announcements/page.tsx
Due: frontend-lint

feat: add structured frontend logging for Grafana/Loki
  frontend/src/app/api/logs/route.ts
  frontend/src/contexts/ToastContext.tsx
  frontend/src/env.js
  frontend/src/lib/api-helpers.ts
  frontend/src/lib/api.ts
  frontend/src/lib/auth-service.ts
  frontend/src/lib/hooks/use-sse.ts
  frontend/src/lib/index.ts
  frontend/src/lib/logger.ts
  frontend/src/server/auth/config.ts
  frontend/src/server/auth/token-refresh.ts
Due: frontend-lint

fix: align publish button with kebab menu on right edge
  frontend/src/app/(operator)/operator/announcements/page.tsx
Due: frontend-lint

fix: announcements not showing until re-login and dropdown click-outside
  frontend/src/components/dashboard/header/profile-dropdown.tsx
  frontend/src/lib/api-helpers.ts
  frontend/src/lib/hooks/use-announcements.ts
Due: frontend-lint

fix(security): remove hardcoded password in operator migration
  backend/database/migrations/001011003_create_operator_account.go
Due: go-imports

chore: fix pre-push hook issues
  backend/api/operator/profile.go
  backend/models/platform/announcement.go
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/select.tsx
Due: frontend-lint, go-imports

fix(a11y): add keyboard handler to dropdown and fix promise catch
  frontend/src/components/operator/status-dropdown.tsx
  frontend/src/components/platform/announcement-modal.tsx
Due: frontend-lint

chore: add NEXT_PUBLIC_LOG_LEVEL to docker-compose example
  docker-compose.example.yml
Due: none

fix: update frontend tests for useShellAuth context and cache options
  frontend/src/app/(protected)/layout.test.tsx
  frontend/src/components/dashboard/app-shell.test.tsx
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header/profile-dropdown.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/ui/logout-modal.test.tsx
  frontend/src/lib/api-helpers.test.ts
Due: frontend-lint

refactor: deduplicate code flagged by SonarQube (6% → ~0%)
  backend/api/operator/announcements.go
  backend/api/operator/suggestions.go
  backend/api/platform/announcements.go
  frontend/src/app/(operator)/operator/announcements/page.tsx
  frontend/src/app/(operator)/operator/login/page.tsx
  frontend/src/app/(operator)/operator/suggestions/[id]/page.tsx
  frontend/src/app/(operator)/operator/suggestions/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/dashboard/header/profile-dropdown.tsx
  frontend/src/components/suggestions/suggestion-card.tsx
  frontend/src/lib/confetti.ts
  frontend/src/lib/format-utils.ts
  frontend/src/lib/operator/route-wrapper.ts
  frontend/src/lib/route-wrapper-utils.ts
  frontend/src/lib/route-wrapper.ts
Due: frontend-lint, go-imports
