Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: repair enrollment cleanup and decision notifications
  backend/database/migrations/001015180_enrollment_notification_mode_and_cleanup_grants.go
  backend/database/migrations/001015180_enrollment_notification_mode_and_cleanup_grants_test.go
  backend/database/repositories/enrollment/late_invite_repository.go
  backend/database/repositories/enrollment/late_invite_repository_test.go
  backend/database/repositories/enrollment/request_repository.go
  backend/database/repositories/enrollment/request_repository_test.go
  backend/models/enrollment/late_invite.go
  backend/models/enrollment/request.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/change_request_service_test.go
  backend/services/enrollment/decision_digest.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/enrollment/rejected_cleanup_concurrency_test.go
  backend/services/enrollment/rejected_cleanup_service.go
  backend/services/enrollment/rejected_cleanup_service_test.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  backend/services/factory.go
  backend/services/scheduler/scheduler.go
Due: go-imports

fix: drop unused CapacityService scaffolding flagged by go-deadcode
  backend/services/schedule/capacity_service.go
Due: go-imports

fix(frontend): validate parent host at request time
  frontend/src/app/api/enrollment/form-bootstrap/public/[tenantSlug]/[phaseId]/route.ts
Due: frontend-lint

fix(vertretungsplan): address review — Schulhof re-check, cancel move-guard, roster flags (#1840)
  backend/api/timetable/deviations.go
  backend/services/schedule/instance_service.go
  frontend/src/app/[tenant]/(protected)/vertretungsplan/page.tsx
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix(vertretungsplan): renumber migrations to avoid 1.15.178/179 collision (#1840)
  backend/database/migrations/001015181_activity_instance_understaffed_ack.go
  backend/database/migrations/001015182_deviation_reasons.go
Due: go-imports

fix(timetable): align UI with shared kit components and tokens
  frontend/src/components/timetable/instance-detail-slide-over.tsx
  frontend/src/components/timetable/period-switcher-dropdown.tsx
  frontend/src/components/timetable/template-card.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/components/timetable/timetable-style.ts
  frontend/src/components/timetable/timetable-toolbar.tsx
  frontend/src/components/timetable/year-planner-grid.tsx
  frontend/src/components/ui/page-header/OverflowMenu.tsx
Due: frontend-lint

fix(enrollment): preserve parent form feature flags
  frontend/src/app/parents/enroll/[tenantSlug]/[phaseId]/page.test.tsx
  frontend/src/app/parents/enroll/[tenantSlug]/[phaseId]/page.tsx
Due: frontend-lint

fix(vertretungsplan): guard moved instances across lifecycle + dedup warnings (#1840)
  backend/api/timetable/deviations.go
  backend/api/timetable/deviations_test.go
  backend/api/timetable/instances.go
  backend/api/timetable/instances_test.go
  backend/services/schedule/auto_start_service.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/instance_service.go
  backend/services/scheduler/scheduler.go
Due: go-imports

fix(vertretungsplan): renumber migrations to 1.15.187/188 after development merge (#1840)
  backend/database/migrations/001015187_activity_instance_understaffed_ack.go
  backend/database/migrations/001015188_deviation_reasons.go
Due: go-imports

fix(vertretungsplan): trim whitespace-only understaffed ack note (#1840)
  backend/api/timetable/understaffed.go
  backend/api/timetable/understaffed_test.go
Due: go-imports

fix(vertretungsplan): add required staff-count fields to test fixture after merge (#1840)
  frontend/src/lib/timetable-helpers.test.ts
Due: frontend-lint

feat(timetable): manual required-staff override for supervision blocks (#1839)
  backend/api/timetable/instances_create.go
  backend/api/timetable/instances_list.go
  backend/api/timetable/instances_update.go
  backend/api/timetable/templates_create.go
  backend/api/timetable/templates_list.go
  backend/api/timetable/templates_split.go
  backend/api/timetable/templates_update.go
  backend/database/migrations/001015189_staff_required_override.go
  backend/database/repositories/activities/group.go
  backend/models/activities/group.go
  backend/models/activities/group_test.go
  backend/models/activities/repository.go
  backend/models/schedule/activity_instance.go
  backend/models/schedule/activity_instance_test.go
  backend/services/schedule/capacity_service.go
  backend/services/schedule/capacity_service_test.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/materialization_service.go
  backend/services/schedule/template_split_service.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

refactor(schedule): simplify coverage projections
  backend/api/staff-shifts/api.go
  backend/database/repositories/schedule/activity_exception_repo.go
  backend/services/factory.go
  backend/services/schedule/shift_coverage_conflict.go
  backend/services/schedule/staff_schedule_overview.go
  frontend/src/app/[tenant]/(protected)/staff/dienstplan/page.tsx
  frontend/src/components/staff/dienstplan-week-grid.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint, go-imports

fix(timetable): address review feedback on required-staff override (#1839)
  backend/api/timetable/templates_split.go
  backend/api/timetable/templates_split_unit_test.go
  backend/services/schedule/template_split_service.go
  backend/services/schedule/timetable_data_capacity_test.go
  backend/services/schedule/timetable_data_service.go
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint, go-imports

fix(schedule): harden shift coverage checks
  backend/api/staff-shifts/api.go
  backend/api/staff-shifts/overview.go
  backend/api/staff-shifts/overview_internal_test.go
  backend/api/timetable/api.go
  backend/api/timetable/shift_coverage.go
  backend/api/timetable/shift_coverage_test.go
  backend/database/repositories/schedule/staff_shift_repo.go
  backend/database/repositories/schedule/staff_shift_repo_test.go
  backend/models/schedule/repository.go
  backend/services/active/work_session_autocheckout_mock_test.go
  backend/services/factory.go
  backend/services/schedule/shift_coverage_conflict.go
  backend/services/schedule/staff_schedule_overview.go
  backend/services/schedule/staff_schedule_overview_integration_test.go
  backend/services/schedule/staff_schedule_overview_internal_test.go
  backend/services/schedule/staff_shift_service_mock_test.go
  backend/services/schedule/timetable_data_service.go
  frontend/src/app/[tenant]/(protected)/staff/dienstplan/page.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/dienstplan/page.tsx
  frontend/src/app/[tenant]/(protected)/timetables/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/dienstplan-week-grid.test.tsx
  frontend/src/components/staff/dienstplan-week-grid.tsx
  frontend/src/components/timetable/timetable-event-modal.stories.tsx
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/lib/shift-helpers.test.ts
  frontend/src/lib/shift-helpers.ts
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-api.ts
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix(schedule): probe series scopes from the save body and cap at validUntil
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

test(schedule): prove the coverage probe caps at the latest validUntil
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

test(api): add #575 B0 guard rails before API-layer restructuring
  backend/api/active/wire_format_test.go
  backend/api/feedback/wire_format_test.go
  backend/api/iot/checkin/pyreportal_error_strings_test.go
  backend/api/iot/common/errors.go
  backend/api/iot/common/wire_format_test.go
  backend/api/iot/pyreportal_error_strings_test.go
  backend/api/operator/wire_format_test.go
  backend/api/route_table_golden_test.go
  backend/api/suggestions/wire_format_test.go
  backend/api/testdata/iot_auth_matrix.golden
  backend/api/testdata/route_table.golden
  backend/go.mod
  backend/go.sum
  backend/test/handler_complexity_ratchet_test.go
  backend/test/hermetic_verification_test.go
Due: go-imports

refactor(api): consolidate duplicate ErrResponse structs onto api/common (#575 B1)
  backend/api/active/active_internal_test.go
  backend/api/active/errors.go
  backend/api/active/errors_test.go
  backend/api/active/handlers_unit_test.go
  backend/api/feedback/errors.go
  backend/api/feedback/errors_test.go
  backend/api/suggestions/errors.go
  backend/api/suggestions/errors_test.go
Due: go-imports

fix(timetable): apply required-staff override only to real occurrences (#1839)
  backend/api/timetable/templates_list.go
  backend/api/timetable/templates_list_unit_test.go
  backend/models/activities/repository.go
  backend/services/schedule/timetable_data_capacity_test.go
  backend/services/schedule/timetable_data_service.go
Due: go-imports

refactor(api): shared handler builders + declarative error-rule tables (#575 B2)
  backend/api/active/errors.go
  backend/api/activities/errors.go
  backend/api/auth/api.go
  backend/api/auth/handler_builders.go
  backend/api/common/error_rules.go
  backend/api/common/error_rules_test.go
  backend/api/common/handler_builders.go
  backend/api/common/handler_builders_test.go
  backend/api/feedback/errors.go
  backend/api/groups/errors.go
  backend/api/operator/handler_builders.go
  backend/api/rooms/errors.go
  backend/api/schedules/errors.go
  backend/api/suggestions/errors.go
  backend/api/usercontext/errors.go
  backend/api/users/errors.go
Due: go-imports

refactor(staff): split api.go god object per active-package template (#575 B3)
  backend/api/staff/api.go
  backend/api/staff/pin_handlers.go
  backend/api/staff/schedule_handlers.go
  backend/api/staff/staff_handlers.go
  backend/api/staff/substitution_handlers.go
  backend/api/staff/time_tracking_handlers.go
  backend/api/staff/types.go
Due: go-imports

refactor(auth): split api.go god object per active-package template (#575 B4)
  backend/api/auth/account_handlers.go
  backend/api/auth/api.go
  backend/api/auth/parent_account_handlers.go
  backend/api/auth/password_handlers.go
  backend/api/auth/rbac_handlers.go
  backend/api/auth/session_handlers.go
  backend/api/auth/tenant_handlers.go
  backend/api/auth/types.go
Due: go-imports

refactor(activities): split api.go god object per active-package template (#575 B5)
  backend/api/activities/activity_handlers.go
  backend/api/activities/api.go
  backend/api/activities/enrollment_handlers.go
  backend/api/activities/helpers.go
  backend/api/activities/schedule_handlers.go
  backend/api/activities/supervisor_handlers.go
  backend/api/activities/types.go
Due: go-imports

refactor(students): finish api.go split (#575 B6)
  backend/api/students/api.go
  backend/api/students/authorization.go
  backend/api/students/errors.go
  backend/api/students/response_helpers.go
  backend/api/students/student_handlers.go
  backend/test/handler_complexity_ratchet_test.go
Due: go-imports

refactor(iot): delete api/iot/common hub, narrow to internal/shared (#575 B7a)
  backend/api/iot/api.go
  backend/api/iot/attendance/handlers.go
  backend/api/iot/checkin/capacity_errors.go
  backend/api/iot/checkin/capacity_errors_test.go
  backend/api/iot/checkin/handlers.go
  backend/api/iot/checkin/wire_format_test.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/common/errors_test.go
  backend/api/iot/common/helpers.go
  backend/api/iot/data/handlers.go
  backend/api/iot/devices/handlers.go
  backend/api/iot/feedback/handlers.go
  backend/api/iot/internal/shared/errors.go
  backend/api/iot/internal/shared/errors_test.go
  backend/api/iot/internal/shared/unregistered_tags.go
  backend/api/iot/rfid/handlers.go
  backend/api/iot/sessions/handlers.go
  backend/api/iot/sessions/timeout.go
  backend/test/hermetic_verification_test.go
Due: go-imports

fix(activities): make PUT /activities/{id} atomic — rollback on partial failure (#575 B10)
  backend/api/activities/activity_handlers.go
  backend/api/iot/checkin/attendance_handlers.go
  backend/api/iot/checkin/attendance_internal_test.go
  backend/api/iot/checkin/attendance_resource.go
  backend/api/iot/checkin/attendance_test.go
  backend/api/iot/checkin/attendance_types.go
  backend/api/iot/data/feedback_handlers.go
  backend/api/iot/data/feedback_resource.go
  backend/api/iot/data/feedback_test.go
  backend/api/iot/data/feedback_types.go
  backend/api/iot/data/rfid_handlers.go
  backend/api/iot/data/rfid_resource.go
  backend/api/iot/data/rfid_test.go
  backend/api/iot/data/rfid_types.go
  backend/services/activities/group_update.go
  backend/services/activities/group_update_test.go
  backend/services/activities/interface.go
Due: go-imports

refactor(iot): consolidate 8 sub-packages into 4 (#575 B7b)
  backend/api/iot/api.go
  backend/api/iot/checkin/attendance_handlers.go
  backend/api/iot/checkin/attendance_internal_test.go
  backend/api/iot/checkin/attendance_resource.go
  backend/api/iot/checkin/attendance_test.go
  backend/api/iot/checkin/attendance_types.go
  backend/api/iot/data/feedback_handlers.go
  backend/api/iot/data/feedback_resource.go
  backend/api/iot/data/feedback_test.go
  backend/api/iot/data/feedback_types.go
  backend/api/iot/data/rfid_handlers.go
  backend/api/iot/data/rfid_resource.go
  backend/api/iot/data/rfid_test.go
  backend/api/iot/data/rfid_types.go
  backend/api/iot/devices_handlers.go
  backend/api/iot/devices_resource.go
  backend/api/iot/devices_test.go
  backend/api/iot/devices_types.go
  backend/api/students/types.go
  backend/test/handler_complexity_ratchet_test.go
Due: go-imports

refactor(api): adopt common ID-parse helpers for remaining URL-param parses (#575 B11)
  backend/api/staff/time_tracking_handlers.go
  backend/api/students/pickup_schedule_handlers.go
  backend/api/time-tracking/api.go
Due: go-imports

fix(timetable): preserve per-occurrence required-staff pins across re-plans (#1839)
  backend/api/timetable/instances_create.go
  backend/api/timetable/instances_list.go
  backend/api/timetable/instances_list_unit_test.go
  backend/api/timetable/instances_update.go
  backend/database/migrations/001015189_staff_required_override.go
  backend/models/activities/group.go
  backend/models/schedule/activity_instance.go
  backend/services/schedule/instance_replan_deviation_test.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/materialization_service.go
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint, go-imports

test(iot): guard all PyrePortal error mappings
  backend/api/iot/checkin/pyreportal_error_strings_test.go
  backend/api/iot/pyreportal_error_strings_test.go
Due: go-imports

fix(timetable): preserve series staffing inheritance
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

refactor(iot): extract checkin workflow into services/iot/checkin.CheckinService (#575 B8)
  backend/api/base.go
  backend/api/iot/api.go
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/handlers.go
  backend/api/iot/checkin/resource.go
  backend/api/iot/checkin/response.go
  backend/api/iot/checkin/wc_room_alias_internal_test.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/pyreportal_error_strings_test.go
  backend/services/factory.go
  backend/services/iot/checkin/checkin_errors.go
  backend/services/iot/checkin/checkin_pure_test.go
  backend/services/iot/checkin/checkin_schulhof.go
  backend/services/iot/checkin/checkin_service.go
  backend/services/iot/checkin/checkin_service_test.go
  backend/services/iot/checkin/checkin_system_space.go
  backend/services/iot/checkin/checkin_systemspace_test.go
  backend/services/iot/checkin/checkin_wc.go
  backend/services/iot/checkin/export_test.go
  backend/services/iot/checkin/schulhof_validation_test.go
  backend/test/handler_complexity_ratchet_test.go
  backend/test/hermetic_verification_test.go
Due: go-imports

docs(conventions): record #575 primitives and CI-enforced complexity ratchet
  .claude/rules/backend-conventions.md
Due: none

fix(ci): provide auth role password to backend tests
  .github/workflows/test.yml
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
