Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(enrollment): scope offering snapshots and queue reads
  backend/api/students/change_request_pending_count_handler.go
  backend/api/students/offering_request_review_handlers_test.go
  backend/database/repositories/enrollment/care_offering_repository.go
  backend/database/repositories/enrollment/phase_repository.go
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/database/repositories/enrollment/request_child_repository.go
  backend/database/repositories/enrollment/request_repository.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/phase.go
  backend/models/enrollment/request.go
  backend/models/enrollment/request_child.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/request_child_offering_repository_date_test.go
Due: go-imports

fix(enrollment): remove unused queue lookup
  backend/services/enrollment/offering_change_request_service.go
Due: go-imports

fix(enrollment): scope change requests to phase start
  backend/services/enrollment/change_request_service.go
Due: go-imports

fix(planexport): Angebote, Nullzahlen und Farbgruppen richtig trennen
  backend/services/listexport/pdf_design.go
  backend/services/listexport/styled_cells_test.go
  backend/services/listexport/types.go
  backend/services/planexport/betreuungsplan.go
  backend/services/planexport/dienstplan.go
  backend/services/planexport/robustness_internal_test.go
  backend/services/schedule/staff_schedule_overview.go
Due: go-imports

test(students): guard against pg catalog probes
  backend/api/students/query_budget_test.go
Due: go-imports

fix(enrollment): refresh offerings after capacity lock
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
Due: go-imports

fix(ratelimit): bind quotas to account identity instead of JWT hash
  backend/api/base.go
  backend/api/base_utility_test.go
  backend/middleware/ratelimit.go
Due: go-imports

fix(enrollment): allow historical care enrollments
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
Due: go-imports

fix(enrollment): read offering links at the current date
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/offering_adjustment_dated_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/request_service.go
Due: go-imports

feat(students): add aggregated OGS group live endpoint
  backend/api/students/api.go
  backend/api/students/ogs_group_live_handlers.go
  backend/api/students/ogs_group_live_test.go
Due: go-imports

chore(api): add ogs-group-live route to route table golden
  backend/api/testdata/route_table.golden
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/app/api/ogs-dashboard/route.test.ts
  frontend/src/app/api/ogs-dashboard/route.ts
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/swr/room-derived-caches.ts
Due: frontend-lint

fix(enrollment): show the applied effective date in the review queue
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
Due: go-imports

feat(notifications): Eltern-Benachrichtigungen im Katalog anlegen
  backend/models/config/keys.go
  backend/services/config/defaults/appointment_reminders.go
  backend/services/config/defaults/appointment_reminders_test.go
  backend/services/config/defaults/defaults_test.go
  backend/services/notifications/preferences_guardian_test.go
  backend/services/notifications/types.go
  backend/services/notifications/types_test.go
  frontend/src/components/settings/notification-preferences-section.test.tsx
  frontend/src/components/settings/notification-preferences-section.tsx
Due: frontend-lint, go-imports

feat(notifications): Eltern über Nachrichten, Termine und Anfragen benachrichtigen
  backend/api/calendar/api_test.go
  backend/api/parent/calendar_handlers_test.go
  backend/api/server.go
  backend/database/repositories/calendar/appointment_repository.go
  backend/models/calendar/repository.go
  backend/services/calendar/notifications.go
  backend/services/calendar/reminders.go
  backend/services/calendar/reminders_integration_test.go
  backend/services/calendar/reminders_test.go
  backend/services/calendar/service.go
  backend/services/factory.go
  backend/services/messaging/notify_internal_test.go
  backend/services/messaging/service.go
  backend/services/parentmessaging/decision_notification_internal_test.go
  backend/services/parentmessaging/emitter.go
  backend/services/scheduler/appointment_reminders.go
  backend/services/scheduler/appointment_reminders_test.go
  backend/services/scheduler/scheduler.go
Due: go-imports

docs(notifications): Eltern-Producer und Terminerinnerung beschreiben
  docs/notifications.md
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

feat(parent): Eltern-Umfragen mit Antwort pro Kind (#1371)
  backend/api/announcement/api.go
  backend/api/parent/announcement_handlers.go
  backend/api/parent/api.go
  backend/api/parent/child_write_handlers.go
  backend/api/parent/me_handlers_test.go
  backend/api/testdata/route_table.golden
  backend/database/migrations/001015249_parent_announcement_polls.go
  backend/database/repositories/users/parent_announcement.go
  backend/database/repositories/users/parent_announcement_poll.go
  backend/models/users/parent_announcement.go
  backend/services/announcement/email.go
  backend/services/announcement/poll.go
  backend/services/announcement/poll_internal_test.go
  backend/services/announcement/service.go
  backend/services/announcement/service_methods_internal_test.go
  backend/services/announcement/service_publish_internal_test.go
  backend/services/parent/parent_announcement_poll_test.go
  backend/services/parent/parent_announcement_service.go
  backend/services/parent/parent_service.go
  backend/templates/email/announcement-published.html
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/app/api/parent-announcements/[announcementId]/poll-children/route.ts
  frontend/src/app/api/parent-announcements/[announcementId]/poll-results/route.ts
  frontend/src/app/api/parent-announcements/[announcementId]/remind/route.ts
  frontend/src/app/api/parent/me/news/[announcementId]/respond/route.ts
  frontend/src/app/parents/news/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/parent/news/news-components.test.tsx
  frontend/src/components/parent/news/news-components.tsx
  frontend/src/components/parent/parent-dashboard.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/parent-announcements-api.test.ts
  frontend/src/lib/parent-announcements-api.ts
  frontend/src/lib/parent-api.test.ts
  frontend/src/lib/parent-api.ts
  frontend/src/lib/section-navigation.ts
Due: frontend-lint, go-imports

refactor(ogs-groups): load the page from the aggregated live endpoint
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.school-checkin.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/app/api/ogs-group-live/route.ts
  frontend/src/lib/ogs-group-live-api.test.ts
  frontend/src/lib/ogs-group-live-api.ts
Due: frontend-lint

refactor(ui): Umfrage-Modal in zwei Spalten, Hinweisbanner deckend
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
Due: frontend-lint

refactor(ui): Umfrage-Modal wieder vertikal, Zeilen über die volle Breite
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
Due: frontend-lint

style(ogs-groups): drop void operator from now-synchronous switchToGroup calls
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
Due: frontend-lint

refactor(ui): Umfrage-Formular in der Formsprache der App
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
Due: frontend-lint

fix(ogs-groups): preserve live aggregate semantics
  backend/api/common/student_data_snapshot.go
  backend/api/common/student_data_snapshot_strict_internal_test.go
  backend/api/students/ogs_group_live_handlers.go
  backend/api/students/ogs_group_live_internal_test.go
  frontend/src/lib/ogs-group-live-api.test.ts
  frontend/src/lib/ogs-group-live-api.ts
Due: frontend-lint, go-imports

fix(calendar): Termin-Mails in ganzen Sätzen schreiben
  backend/services/calendar/email.go
  backend/services/calendar/email_test.go
  backend/templates/email/appointment-notification.html
Due: go-imports

refactor(ui): feste Antwortzeilen statt freiem Textfeld
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
Due: frontend-lint

refactor(students): simplify snapshot loading
  backend/api/common/student_data_snapshot.go
Due: go-imports

fix(ui): Markierung vor den Antworten raus, Löschen bleibt bedienbar
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
Due: frontend-lint

feat(parents): Einstellungsseite für persönliche Einstellungen
  frontend/src/app/parents/settings/page.test.tsx
  frontend/src/app/parents/settings/page.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/parent/parent-dashboard.tsx
  frontend/src/components/parent/parent-portal.test.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/shell-auth-context.tsx
  frontend/src/proxy.ts
Due: frontend-lint

feat(parent): Umfrage nur noch in der Detailansicht beantworten
  frontend/src/app/parents/news/page.tsx
  frontend/src/components/parent/news/news-components.test.tsx
  frontend/src/components/parent/news/news-components.tsx
  frontend/src/components/parent/parent-dashboard.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

refactor(ui): Eltern-Detailansicht wie die übrigen Modals der App
  frontend/src/components/parent/news/news-components.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

fix(students): centralize OGS live projection
  backend/api/base.go
  backend/api/students/api.go
  backend/api/students/ogs_group_live_handlers.go
  backend/api/students/ogs_group_live_internal_test.go
  backend/api/students/test_helpers_test.go
  backend/services/factory.go
  backend/services/ogsgrouplive/service.go
  backend/services/ogsgrouplive/service_test.go
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.school-checkin.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/lib/swr/hooks.ts
Due: frontend-lint, go-imports

fix(parent): Detailansicht schließt nach erfolgreichem Speichern
  frontend/src/components/parent/news/news-components.test.tsx
  frontend/src/components/parent/news/news-components.tsx
Due: frontend-lint

fix(calendar): make parent reminders idempotent
  backend/database/repositories/calendar/appointment_repository.go
  backend/models/calendar/repository.go
  backend/services/calendar/notifications.go
  backend/services/calendar/reminders.go
  backend/services/calendar/reminders_integration_test.go
  backend/services/calendar/reminders_test.go
  backend/services/calendar/service_integration_test.go
  backend/services/notifications/preferences.go
  backend/services/notifications/preferences_guardian_test.go
Due: go-imports

fix: address OGS live quality findings
  backend/api/common/student_data_snapshot.go
  backend/api/students/api.go
  backend/services/factory.go
  backend/services/ogsgrouplive/service.go
  backend/services/ogsgrouplive/service_test.go
  frontend/src/lib/swr/hooks.test.ts
Due: frontend-lint, go-imports

fix(ogsgrouplive): address review round 2 and coverage gate
  backend/database/repositories/education/group.go
  backend/models/education/repository.go
  backend/services/education/education_service.go
  backend/services/education/interface.go
  backend/services/import/relationship_resolver_test.go
  backend/services/ogsgrouplive/projection_helpers_test.go
  backend/services/ogsgrouplive/service.go
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
Due: frontend-lint, go-imports

chore: Hilfe-Kapitel nachziehen und knip-Befunde beheben
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/parent-announcements-api.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint

fix(reminders): retry failed tenant scans
  backend/services/calendar/reminders.go
  backend/services/parentmessaging/emitter.go
  backend/services/scheduler/appointment_reminders.go
  backend/services/scheduler/appointment_reminders_test.go
Due: go-imports

fix: Offene Anmeldungen als Zielgruppe einer Umfrage ausschließen
  backend/services/announcement/poll_internal_test.go
  backend/services/announcement/service.go
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
Due: frontend-lint, go-imports

fix(calendar): deduplicate reminder pushes
  backend/services/calendar/reminders.go
Due: go-imports

fix(scheduler): recover reminder lookback on startup
  backend/services/scheduler/appointment_reminders.go
  backend/services/scheduler/appointment_reminders_test.go
Due: go-imports

fix(ogsgrouplive): restore users:read-only roster access
  backend/api/students/api.go
  backend/api/students/ogs_group_live_test.go
  backend/services/ogsgrouplive/service.go
Due: go-imports
