Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(school-calendar): guard writes by tenant and keep the legacy lookup semantics
  backend/database/repositories/activities/calendar_period_source.go
  backend/database/repositories/activities/group.go
  backend/database/repositories/school_calendar.go
  backend/modules/schoolcalendar/compose/new.go
  backend/modules/schoolcalendar/compose/new_test.go
  backend/modules/schoolcalendar/internal/adapters/postgres/store.go
  backend/modules/schoolcalendar/internal/domain/calendar.go
  backend/modules/schoolcalendar/schoolcalendar.go
Due: go-imports

ci(perf): nightly request and render counters from the Playwright harness
  .github/workflows/perf-nightly.yml
  frontend/CLAUDE.md
Due: none

ci(perf): run the nightly harness on PRs that touch it
  .github/workflows/perf-nightly.yml
Due: none

fix(perf): analyze the bundle from a cold Turbopack state
  frontend/scripts/perf/bundle-ratchet.mjs
Due: none

fix(school-calendar): scope usage counts by tenant context
  backend/database/repositories/schedule/calendar_period_usage_repo.go
  backend/database/repositories/schedule/calendar_period_usage_repo_test.go
Due: go-imports

fix(perf): publish measured bundle sizes and take the baseline from CI
  .github/workflows/lint.yml
  frontend/CLAUDE.md
  frontend/scripts/perf/bundle-ratchet.mjs
Due: none

chore(perf): take the bundle baseline from the CI runner
  frontend/scripts/perf/bundle-baseline.json
Due: none

chore(perf): hide sub-512-byte deltas from the ratchet summary
  frontend/scripts/perf/bundle-ratchet.mjs
Due: none

fix(ci): provide bundle ratchet build environment
  .github/workflows/lint.yml
  frontend/scripts/perf/bundle-ratchet.mjs
Due: none

fix(frontend): lift the calendar target hint to the typo floor
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
Due: frontend-lint

fix(frontend): der Kopf bleibt auch auf dem Telefon eine Karte
  frontend/src/components/ui/TENANT-PAGE-SPEC.md
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

fix(frontend): Kontextzeile des Betreuungsplans bricht um, Export-Kebab bleibt in der Statuszeile
  frontend/src/components/staff/staff-export-button.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/ui/planning-context-bar.test.tsx
  frontend/src/components/ui/planning-context-bar.tsx
Due: frontend-lint

test: central query counter and shrink-only query-budget register
  .claude/rules/backend-conventions.md
  backend/CLAUDE.md
  backend/api/active/groups_list_query_budget_test.go
  backend/api/active/supervision_dashboard_test.go
  backend/api/active/tracking_query_budget_test.go
  backend/api/auth/tenant_resolve_query_budget_test.go
  backend/api/students/list_students_planning_times_budget_test.go
  backend/api/students/ogs_group_live_identity_budget_test.go
  backend/api/students/ogs_group_live_test.go
  backend/api/students/query_budget_test.go
  backend/api/timetable/instances_create.go
  backend/api/timetable/instances_list.go
  backend/api/timetable/instances_list_query_budget_test.go
  backend/api/timetable/instances_update.go
  backend/api/timetable/student_day_test.go
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/calendar/appointment_repository.go
  backend/models/calendar/repository.go
  backend/services/active/staff_overview_integration_test.go
  backend/services/calendar/list_events_query_budget_test.go
  backend/services/calendar/service.go
  backend/services/schedule/staff_schedule_overview_integration_test.go
  backend/services/schedule/staff_shift_series_integration_test.go
  backend/services/schedule/timetable_data_service.go
  backend/services/scheduler/settings_snapshot_test.go
  backend/services/usercontext/identity_request_cache_db_test.go
  backend/services/users/care_booking_authority_integration_test.go
  backend/test/e2e/timetable/flow_b_cancel_conflicts_test.go
  backend/test/e2e/timetable/flow_c_gaps_substitute_test.go
  backend/test/e2e/timetable/flow_e_student_day_test.go
  backend/test/e2e/timetable/shared_setup_test.go
  backend/test/query_budget_ratchet_test.go
  backend/test/query_budgets.go
  backend/test/query_counter.go
  backend/test/query_counter_test.go
  backend/test/settings_query_counter.go
Due: go-imports

refactor: drop unused GetInstanceStudentsByInstanceIDs wrapper
  backend/services/schedule/timetable_data_service.go
Due: go-imports

fix(facilities): preserve room capability contracts
  backend/api/base.go
  backend/api/testdata/middleware_table.golden
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/active/group.go
  backend/database/repositories/active/group_repository_test.go
  backend/database/repositories/room_directory.go
  backend/models/active/repository.go
  backend/models/base/db_errors.go
  backend/models/base/db_errors_test.go
  backend/models/entity_interfaces_test.go
  backend/models/facilities/room.go
  backend/models/facilities/room_colors_test.go
  backend/models/facilities/room_test.go
  backend/modules/facilities/compose/httpadapter/export.go
  backend/modules/facilities/compose/httpadapter/main_test.go
  backend/modules/facilities/compose/httpadapter/runtime.go
  backend/modules/facilities/compose/httpadapter/runtime_test.go
  backend/modules/facilities/compose/legacy/projections.go
  backend/modules/facilities/compose/new.go
  backend/modules/facilities/compose/new_test.go
  backend/modules/facilities/compose/repositoryadapter/repository.go
  backend/modules/facilities/compose/repositoryadapter/repository_test.go
  backend/modules/facilities/compose/room_lifecycle_test.go
  backend/modules/facilities/facilities.go
  backend/modules/facilities/http/rooms/api.go
  backend/modules/facilities/http/rooms/export_handlers.go
  backend/modules/facilities/http/rooms/export_handlers_test.go
  backend/modules/facilities/internal/adapters/postgres/room_store.go
  backend/modules/facilities/internal/application/service.go
  backend/modules/facilities/internal/application/service_test.go
  backend/modules/facilities/internal/ports/ports.go
  backend/observability/prometheus.go
  backend/services/facilities/facility_service.go
  backend/services/facilities/facility_service_test.go
  backend/services/factory.go
  backend/services/iot/checkin/checkin_service_test.go
  backend/services/slotlists/service_integration_test.go
Due: go-imports

chore(facilities): satisfy backend quality gates
  backend/constants/activities.go
  backend/constants/activities_test.go
  backend/constants/wc_room_alias_test.go
  backend/database/repositories/active/room_occupancy.go
  backend/models/facilities/room.go
  backend/modules/facilities/http/rooms/api.go
  backend/modules/facilities/http/rooms/export_handlers.go
  backend/modules/facilities/room_lifecycle.go
  backend/services/facilities/facility_service_test.go
Due: go-imports

fix(facilities): restore room pagination and update locks
  backend/modules/facilities/compose/httpadapter/runtime_test.go
  backend/modules/facilities/compose/new.go
  backend/modules/facilities/compose/new_test.go
  backend/modules/facilities/compose/repositoryadapter/repository.go
  backend/modules/facilities/compose/repositoryadapter/repository_test.go
  backend/modules/facilities/facilities.go
  backend/modules/facilities/facilities_test.go
  backend/modules/facilities/http/rooms/api.go
  backend/modules/facilities/internal/application/service.go
  backend/modules/facilities/room_lifecycle_test.go
Due: go-imports

fix: bind care exception lock in schedule tests
  backend/services/schedule/care_exception_lock_test_helpers.go
Due: go-imports

fix(facilities): keep default room deletion usable
  backend/database/repositories/room_deletion_test.go
  backend/database/repositories/room_directory.go
Due: go-imports

test(architecture): refresh composition inventory
  backend/architecture/composition.json
Due: none

fix: preserve care plan audit binding
  backend/architecture/composition.json
  backend/database/repositories/care_plan.go
  backend/database/repositories/factory.go
  backend/modules/careplan/compose/trigger_target_isolation_test.go
  backend/modules/careplan/internal/adapters/postgres/store.go
  backend/services/factory_care_plan_audit_test.go
Due: go-imports

fix(facilities): preserve room query contracts
  backend/modules/facilities/compose/new.go
  backend/modules/facilities/compose/repositoryadapter/repository.go
  backend/modules/facilities/compose/repositoryadapter/repository_floor_test.go
  backend/modules/facilities/compose/room_pagination_test.go
  backend/modules/facilities/compose/room_toilet_alias_test.go
  backend/modules/facilities/facilities.go
  backend/modules/facilities/http/rooms/api.go
  backend/modules/facilities/internal/adapters/postgres/room_store.go
  backend/modules/facilities/internal/application/service.go
  backend/modules/facilities/internal/domain/room.go
  backend/modules/facilities/internal/ports/ports.go
  backend/modules/facilities/room_lifecycle.go
Due: go-imports

chore(perf): Bundle-Baseline für /school/klasse auf den CI-Messwert setzen (#2970)
  frontend/scripts/perf/bundle-baseline.json
Due: none

fix(schedule): batch service relation loads
  backend/architecture/composition.json
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/instance_staff_repo.go
  backend/database/repositories/schedule/n_plus_one_batch_repo_test.go
  backend/database/repositories/schedule/staff_shift_repo.go
  backend/models/schedule/activity_instance.go
  backend/models/schedule/instance_staff.go
  backend/models/schedule/repository.go
  backend/services/active/n_plus_one_test.go
  backend/services/schedule/arrival_service.go
  backend/services/schedule/attendance_sync_service.go
  backend/services/schedule/bulk_substitution.go
  backend/services/schedule/deviation_apply.go
  backend/services/schedule/instance_conflict.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/n_plus_one.go
  backend/services/schedule/n_plus_one_external_test.go
  backend/services/schedule/n_plus_one_test.go
  backend/services/schedule/roster_reconciler.go
  backend/services/schedule/shift_plan_sync_service.go
  backend/services/schedule/template_series.go
  backend/services/schedule/timetable_bridge_service.go
  backend/services/schedule/timetable_data_service.go
  backend/services/schedule/timetable_operations_query_budget_test.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/scheduler/n_plus_one_test.go
  backend/test/query_budgets.go
Due: go-imports

fix(calendar): batch reminder and target reads
  backend/database/repositories/calendar/appointment_repository.go
  backend/database/repositories/calendar/main_test.go
  backend/database/repositories/calendar/n_plus_one_batch_repo_test.go
  backend/database/repositories/users/n_plus_one_batch_repo_test.go
  backend/database/repositories/users/student_guardian.go
  backend/models/calendar/repository.go
  backend/models/users/repository.go
  backend/services/calendar/guardian_recipients_batch.go
  backend/services/calendar/n_plus_one_query_budget_test.go
  backend/services/calendar/n_plus_one_test.go
  backend/services/calendar/notifications.go
  backend/services/calendar/reminders.go
  backend/services/calendar/service.go
  backend/services/calendar/target_resolution_read_set.go
  backend/test/query_budgets.go
Due: go-imports

fix(enrollment): batch service relation loads
  backend/database/repositories/activities/group.go
  backend/database/repositories/activities/schedule.go
  backend/database/repositories/enrollment/form_schema_repository.go
  backend/database/repositories/enrollment/n_plus_one_batch_test.go
  backend/database/repositories/enrollment/phase_repository.go
  backend/database/repositories/enrollment/request_repository.go
  backend/database/repositories/users/guardian_profile.go
  backend/models/activities/repository.go
  backend/models/enrollment/form_schema.go
  backend/models/enrollment/phase.go
  backend/models/enrollment/request.go
  backend/models/users/repository.go
  backend/services/enrollment/care_offering_calendar_period.go
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/decision_batch_loads.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/form_schema_service.go
  backend/services/enrollment/n_plus_one_query_budget_test.go
  backend/services/enrollment/n_plus_one_test.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/pickup_adjustment_service.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/rollover_service.go
  backend/services/parent/n_plus_one_test.go
  backend/test/query_budgets.go
Due: go-imports

fix(architecture): stabilize composition inventory updates
  backend/internal/architecture/composition_inventory_test.go
  backend/test/composition_inventory_serialization_test.go
  backend/test/composition_inventory_test.go
  backend/test/composition_manifest.go
Due: go-imports

refactor: migrate appointment creation ownership
  backend/api/base.go
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/appointments.go
  backend/database/repositories/calendar/appointment_repository.go
  backend/database/repositories/factory.go
  backend/models/calendar/appointment.go
  backend/models/calendar/date.go
  backend/models/calendar/repository.go
  backend/modules/appointments/appointments.go
  backend/modules/appointments/compose/main_test.go
  backend/modules/appointments/compose/new.go
  backend/modules/appointments/compose/new_test.go
  backend/modules/appointments/internal/adapters/postgres/store.go
  backend/modules/appointments/internal/application/service.go
  backend/modules/appointments/internal/domain/appointment.go
  backend/modules/appointments/internal/ports/ports.go
  backend/observability/prometheus.go
  backend/services/calendar/feed.go
  backend/services/calendar/feed_cleanup.go
  backend/services/calendar/ics.go
  backend/services/calendar/notifications.go
  backend/services/calendar/reminders.go
  backend/services/calendar/reminders_delivery_test.go
  backend/services/calendar/reminders_failure_test.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  backend/services/factory.go
Due: go-imports

refactor: move teaching assignments to school membership
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/education/class_teacher.go
  backend/database/repositories/education/group.go
  backend/database/repositories/education/group_teacher.go
  backend/database/repositories/factory.go
  backend/database/repositories/staff_membership_adapters.go
  backend/database/repositories/teaching_assignment_adapters.go
  backend/database/repositories/teaching_assignment_adapters_test.go
  backend/database/repositories/users/student.go
  backend/modules/schoolmembership/compose/new.go
  backend/modules/schoolmembership/compose/teaching_assignment.go
  backend/modules/schoolmembership/compose/teaching_assignments_test.go
  backend/modules/schoolmembership/internal/adapters/postgres/teaching_assignment.go
  backend/modules/schoolmembership/internal/application/teaching_assignment.go
  backend/modules/schoolmembership/internal/domain/teaching_assignment.go
  backend/modules/schoolmembership/internal/ports/ports.go
  backend/modules/schoolmembership/schoolmembership.go
  backend/modules/schoolmembership/teaching_assignment.go
  backend/services/education/grade_transition_class_list_entries_test.go
  backend/services/education/grade_transition_service_test.go
  backend/services/ogsgrouplive/service.go
Due: go-imports

fix(calendar): preserve normalized class targeting
  backend/services/calendar/service.go
  backend/services/calendar/target_resolution_normalization_integration_test.go
  backend/services/calendar/target_resolution_read_set.go
Due: go-imports

test: cover teaching assignment list budgets
  backend/modules/schoolmembership/compose/teaching_assignments_test.go
  backend/test/query_budgets.go
Due: go-imports

fix(architecture): preserve care plan boundaries
  backend/api/base.go
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/database/repositories/care_plan.go
  backend/database/repositories/users/care_exit.go
  backend/database/repositories/users/care_exit_cleanup.go
  backend/database/repositories/users/legacy_types.go
  backend/database/repositories/users/student_deletion.go
  backend/modules/careplan/careplantest/care_plan.go
  backend/modules/careplan/compose/new.go
  backend/modules/careplan/compose/new_test.go
  backend/modules/careplan/compose/records_test.go
  backend/modules/careplan/internal/adapters/postgres/store.go
  backend/modules/careplan/legacy/records.go
Due: go-imports

fix: enforce batch lookup contracts
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/database/repositories/active/excused_absence_request.go
  backend/database/repositories/group_projection_adapters.go
  backend/database/repositories/person_projection_education.go
  backend/models/active/excused_absence_request.go
  backend/models/auth/repository.go
  backend/models/education/grade_transition.go
  backend/models/users/repository.go
  backend/modules/facilities/compose/httpadapter/export.go
  backend/services/absence/excused_conflict_port.go
  backend/services/active/interface.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/guardian_related_accounts.go
  backend/services/education/grade_transition_findings_test.go
  backend/services/education/grade_transition_service.go
  backend/services/factory.go
  backend/services/group_projection.go
  backend/services/reminders/batch.go
  backend/services/reminders/batch_internal_test.go
  backend/services/reminders/service.go
  backend/services/reminders/service_internal_test.go
  backend/services/scheduler/scheduler_test.go
  backend/services/usercontext/sse_subscription_internal_test.go
  backend/services/users/guardian_service.go
  backend/services/users/person_service.go
  backend/services/users/userstest/mocks.go
Due: go-imports

fix(care-plan): preserve exit ledger data
  backend/database/repositories/care_plan.go
  backend/database/repositories/users/care_exit_cleanup.go
  backend/database/repositories/users/legacy_types.go
Due: go-imports

fix(schedule): use generic batch filters
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/n_plus_one_batch_repo_test.go
  backend/database/repositories/schedule/staff_shift_repo.go
  backend/models/schedule/activity_instance.go
  backend/models/schedule/repository.go
  backend/services/active/n_plus_one_test.go
  backend/services/active/work_session_autocheckout_mock_test.go
  backend/services/schedule/attendance_sync_service.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/instance_conflict.go
  backend/services/schedule/n_plus_one_external_test.go
  backend/services/schedule/n_plus_one_test.go
  backend/services/schedule/shift_plan_sync_service.go
  backend/services/schedule/staff_shift_service_mock_test.go
  backend/services/schedule/timetable_bridge_service.go
  backend/services/schedule/timetable_data_service.go
  backend/services/scheduler/n_plus_one_test.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
