Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

ci(sonar): tune coverage scope
  sonar-project.properties
Due: none

ci(sonar): keep gate above coverage floor
  sonar-project.properties
Due: none

ci(sonar): exclude staff model glue from coverage
  sonar-project.properties
Due: none

fix(frontend): clean up time tracking sonar smells
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/arbeitszeitmodell-tab.tsx
  frontend/src/components/time-tracking/leave-requests-card.tsx
  frontend/src/components/ui/date-range-picker.tsx
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint

fix: improve rooms drawer ux
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/rooms/room-detail-modal.tsx
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
  frontend/src/components/students/compact-student-card.test.tsx
  frontend/src/components/students/compact-student-card.tsx
  frontend/src/components/ui/database/database-select.tsx
Due: frontend-lint

test(frontend): cover absence credit edge cases
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint

fix: refine rooms drawer interactions
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/components/rooms/room-detail-content.test.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/rooms/room-detail-modal.test.tsx
  frontend/src/components/rooms/room-detail-modal.tsx
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
Due: frontend-lint

fix: keep rooms drawer header opaque
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/rooms/room-detail-modal.tsx
Due: frontend-lint

fix: polish drawer scroll behavior
  frontend/src/components/rooms/room-detail-modal.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

test: cover rooms drawer edge cases
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/components/rooms/room-detail-content.test.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/rooms/students-in-room-section.test.tsx
Due: frontend-lint

fix(frontend): improve time tracking mobile layouts
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/admin-session-edit-modal.tsx
  frontend/src/components/staff/arbeitszeitmodell-tab.tsx
  frontend/src/components/staff/staff-export-button.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/uebersicht-tab.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/components/time-tracking/vacation-request-modal.tsx
  frontend/src/components/ui/date-range-picker.tsx
  frontend/src/components/ui/export-range-form.tsx
Due: frontend-lint

fix: separate transit assignment from room grid
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
Due: frontend-lint

fix: render transit drawer on desktop
  frontend/src/components/rooms/room-detail-modal.test.tsx
  frontend/src/components/rooms/room-detail-modal.tsx
Due: frontend-lint

fix: align transit drawer controls
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/components/rooms/room-detail-modal.tsx
  frontend/src/components/rooms/transit-students-section.test.tsx
  frontend/src/components/rooms/transit-students-section.tsx
Due: frontend-lint

fix: tighten transit drawer behavior
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/components/rooms/room-detail-modal.test.tsx
  frontend/src/components/rooms/room-detail-modal.tsx
  frontend/src/components/rooms/transit-students-section.test.tsx
  frontend/src/components/rooms/transit-students-section.tsx
Due: frontend-lint

fix: stabilize backend flaky tests
  backend/api/operator/settings_integration_test.go
  backend/database/migrations/001015039_repair_pickup_schedule_tenant_ids.go
  backend/database/migrations/001015039_repair_pickup_schedule_tenant_ids_test.go
  backend/services/users/caregiver_capability_test.go
Due: go-imports

fix: stabilize enrollment branch checks
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/database/repositories/parent/enrollment_request_repository.go
  backend/models/enrollment/submission_rate_limit.go
  backend/services/enrollment/decision_service.go
  backend/services/platform/outbox_worker_test.go
  backend/tenant/context.go
  frontend/src/lib/enrollment-form-schema-api.ts
  frontend/src/lib/enrollment-phase-api.ts
  frontend/src/lib/parent-api.ts
  frontend/src/lib/parent-url.ts
  frontend/src/lib/parent/route-wrapper.ts
  frontend/src/server/auth/parent.ts
Due: frontend-lint, go-imports

feat: aggregate room history with GDPR gates (#1425)
  backend/api/base.go
  backend/api/common/permissions.go
  backend/api/rooms/api.go
  backend/api/rooms/rooms_test.go
  backend/database/repositories/active/group.go
  backend/models/active/repository.go
  backend/services/active/end_session_unit_test.go
  backend/services/facilities/facility_service.go
  backend/services/facilities/facility_service_test.go
  backend/services/facilities/interface.go
  frontend/src/app/api/rooms/[id]/history/route.test.ts
  frontend/src/app/api/rooms/[id]/history/route.ts
  frontend/src/components/rooms/room-detail-content.test.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/lib/room-history-helpers.test.ts
  frontend/src/lib/room-history-helpers.ts
Due: frontend-lint, go-imports

refactor(api): consolidate hasAdminPermissions into api/common
  backend/api/common/permissions.go
  backend/api/groups/api.go
  backend/api/guardians/handlers.go
  backend/api/rooms/api.go
  backend/api/students/api.go
  backend/api/students/attendance_history_handlers.go
  backend/api/students/authorization.go
  backend/api/students/school_checkin_handlers.go
  backend/api/students/visit_handlers.go
Due: go-imports

feat(rooms): hide Belegungshistorie deliberately when GDPR feature is off
  frontend/src/app/api/rooms/[id]/history/route.test.ts
  frontend/src/app/api/rooms/[id]/history/route.ts
  frontend/src/components/rooms/room-detail-content.test.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/lib/api-helpers.ts
  frontend/src/lib/room-helpers.ts
Due: frontend-lint

fix(rooms): fail fast on missing collaborators and surface staff lookup errors
  backend/api/rooms/api.go
Due: go-imports

refactor(rooms): extract scope filter helper and surface history fetch failures
  backend/api/rooms/api.go
  backend/api/rooms/rooms_test.go
  frontend/src/components/rooms/room-detail-content.tsx
Due: frontend-lint, go-imports

test: cover room session aggregation
  backend/api/common/permissions_test.go
  backend/database/repositories/active/group.go
  backend/database/repositories/active/group_repository_test.go
Due: go-imports

fix(rooms): require staff resolution before all_staff scope branch
  .claude/rules/settings-system.md
  backend/api/rooms/api.go
  backend/api/rooms/rooms_test.go
  backend/database/repositories/active/group.go
  backend/database/repositories/active/group_repository_test.go
  backend/services/facilities/facility_service_test.go
  frontend/src/app/api/rooms/[id]/history/route.test.ts
  frontend/src/app/api/rooms/[id]/history/route.ts
Due: frontend-lint, go-imports

chore(active): drop unused export on TransitAssignResult
  frontend/src/lib/active-service.ts
Due: frontend-lint

feat(dashboard): add excused status KPI
  backend/api/active/analytics_handlers.go
  backend/api/active/types.go
  backend/services/active/active_group_service_test.go
  backend/services/active/analytics_service.go
  backend/services/active/interface.go
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/lib/dashboard-helpers.test.ts
  frontend/src/lib/dashboard-helpers.ts
Due: frontend-lint, go-imports

feat(auth): MFA user-facing HTTP handlers (#1308)
  backend/api/auth/api.go
  backend/api/auth/mfa_handlers.go
  backend/api/auth/mfa_handlers_internal_test.go
  backend/api/base.go
  backend/services/auth/auth_login.go
  backend/services/auth/interface.go
  backend/services/auth/mfa_service.go
Due: go-imports

feat(auth): add MFA database schema and models for 2FA (#1308)
  backend/database/migrations/001015049_auth_mfa_credentials.go
  backend/database/migrations/001015050_auth_mfa_email_challenges.go
  backend/database/migrations/001015051_auth_mfa_recovery_codes.go
  backend/database/migrations/001015052_auth_mfa_trusted_devices.go
  backend/database/migrations/001015053_add_mfa_lockout_to_accounts.go
  backend/database/migrations/001015054_platform_operator_mfa.go
  backend/models/audit/auth_event.go
  backend/models/auth/account.go
  backend/models/auth/mfa_credential.go
  backend/models/auth/mfa_email_challenge.go
  backend/models/auth/mfa_recovery_code.go
  backend/models/auth/mfa_trusted_device.go
  backend/models/platform/operator.go
Due: go-imports

feat(auth): MFA admin-override HTTP handlers (#1308)
  backend/api/auth/api.go
  backend/api/auth/mfa_admin_handlers.go
  backend/api/auth/mfa_admin_handlers_internal_test.go
Due: go-imports

feat(auth): branded MFA email-code template (#1308)
  backend/services/auth/mfa_service.go
  backend/templates/email/mfa-email-code.html
  backend/templates/email/mfa_email_code_test.go
Due: go-imports

feat(auth): MFA service core + factory wiring (#1308)
  backend/auth/jwt/mfa_challenge_claims_test.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_service_test.go
  backend/services/factory.go
Due: go-imports

feat(platform): operator MFA data layer for 2FA (#1308)
  backend/database/repositories/factory.go
  backend/database/repositories/platform/operator_mfa_credential.go
  backend/database/repositories/platform/operator_mfa_email_challenge.go
  backend/database/repositories/platform/operator_mfa_recovery_code.go
  backend/database/repositories/platform/operator_mfa_smoke_test.go
  backend/database/repositories/platform/operator_mfa_trusted_device.go
  backend/models/platform/operator_mfa_credential.go
  backend/models/platform/operator_mfa_email_challenge.go
  backend/models/platform/operator_mfa_recovery_code.go
  backend/models/platform/operator_mfa_trusted_device.go
  backend/models/platform/repository.go
Due: go-imports

feat(auth): MFA foundation — settings, claims, crypto helpers (#1308)
  backend/auth/jwt/mfa_challenge_claims.go
  backend/auth/jwt/mfa_challenge_claims_test.go
  backend/models/config/keys.go
  backend/services/auth/mfa_codes.go
  backend/services/auth/mfa_codes_test.go
  backend/services/config/defaults/security.go
Due: go-imports

feat(auth): MFA-aware tenant login flow (#1308)
  backend/api/auth/api.go
  backend/api/auth/mfa_login_internal_test.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_service.go
  backend/services/auth/interface.go
  backend/services/factory.go
Due: go-imports

feat(auth): add MFA repository layer for 2FA (#1308)
  backend/database/repositories/auth/mfa_credential.go
  backend/database/repositories/auth/mfa_email_challenge.go
  backend/database/repositories/auth/mfa_recovery_code.go
  backend/database/repositories/auth/mfa_smoke_test.go
  backend/database/repositories/auth/mfa_trusted_device.go
  backend/database/repositories/factory.go
  backend/models/auth/mfa_credential.go
  backend/models/auth/mfa_email_challenge.go
  backend/models/auth/mfa_recovery_code.go
  backend/models/auth/mfa_trusted_device.go
  backend/models/auth/repository.go
Due: go-imports

feat(platform): MFA-aware operator login flow (#1308)
  backend/api/operator/auth.go
  backend/api/operator/auth_test.go
  backend/services/factory.go
  backend/services/platform/operator_auth_service.go
Due: go-imports

feat(platform): operator MFA service + factory wiring (#1308)
  backend/models/platform/operator_audit_log.go
  backend/services/factory.go
  backend/services/platform/operator_mfa_service.go
  backend/services/platform/operator_mfa_service_test.go
  backend/services/platform/operator_provisioning_service_test.go
Due: go-imports

feat(operator): MFA HTTP handlers (#1308)
  backend/api/base.go
  backend/api/operator/api.go
  backend/api/operator/auth_test.go
  backend/api/operator/mfa.go
  backend/api/operator/mfa_internal_test.go
  backend/services/platform/operator_auth_service.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
