Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(enrollment): reject concrete class that doesn't match the target grade (#1833)
  backend/services/enrollment/request_service.go
  backend/services/enrollment/school_class_test.go
  frontend/src/components/enrollment/enrollment-status-view.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint, go-imports

docs: document calendar periods in help guide
  frontend/public/help/screens/kalenderzeitraeume.webp
  frontend/src/components/help/guide-data.ts
  frontend/src/components/help/help-search.tsx
Due: frontend-lint

fix: drop unused export flagged by knip
  frontend/src/components/planning/calendar-periods-editor.tsx
Due: frontend-lint

fix(enrollment): filter class choices by grade + show concrete class in admin detail (#1833)
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint

fix(enrollment): re-derive bare placeholder class on rollover instead of exact-grade match (#1833)
  backend/services/enrollment/decision_service.go
Due: go-imports

fix(enrollment): keep change-request snapshots comparable and only require classes for grades that offer one (#1833)
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/school_class_test.go
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint, go-imports

fix(enrollment): don't carry concrete class onto rollover admin-review rows (#1833)
  backend/services/enrollment/rollover_service.go
  backend/services/enrollment/rollover_service_test.go
Due: go-imports

refactor(backend): adopt ParseInt64IDWithError helpers at 50 handler sites (audit B7d)
  backend/api/admin/grade_transitions.go
  backend/api/announcement/api.go
  backend/api/common/request.go
  backend/api/enrollment/admin_decision_handlers.go
  backend/api/enrollment/admin_late_invite_handlers.go
  backend/api/enrollment/care_offering_handlers.go
  backend/api/enrollment/change_request_handlers.go
  backend/api/enrollment/export_handlers.go
  backend/api/enrollment/phase_handlers.go
  backend/api/enrollment/rollover_handlers.go
  backend/api/enrollment/schema_handlers.go
  backend/api/messaging/api.go
  backend/api/parent/announcement_handlers.go
  backend/api/parent/care_schedule_handlers.go
  backend/api/parent/child_messages_handlers.go
  backend/api/parent/child_write_handlers.go
  backend/api/parent/guardian_handlers.go
  backend/api/parent/related_accounts_handlers.go
  backend/api/students/care_request_review_handlers.go
  backend/api/students/master_data_review_handlers.go
  backend/api/students/status_day_handlers.go
  backend/api/timetable/templates_update.go
Due: go-imports

fix(enrollment): propagate class-setting errors and sanitize stale draft classes (#1833)
  backend/api/enrollment/admin_late_invite_handlers.go
  backend/api/enrollment/care_offering_handlers.go
  backend/services/enrollment/request_service.go
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint, go-imports

test(calendar): skip personal-calendar E2E without credentials
  frontend/e2e/personal-calendar-flow.spec.ts
Due: frontend-lint

fix(enrollment): return 500 (not 404) when collect_school_class resolution fails (#1833)
  backend/api/enrollment/care_offering_handlers.go
Due: go-imports

fix: persist calendar period link when updating an enrollment phase
  backend/database/repositories/enrollment/phase_repository.go
  backend/services/enrollment/phase_service_test.go
Due: go-imports

feat: surface calendar period links in phases list and periods admin page
  backend/api/timetable/api.go
  backend/api/timetable/api_test.go
  backend/database/repositories/schedule/calendar_period_repo.go
  backend/models/schedule/calendar_period.go
  backend/services/schedule/calendar_period_service.go
  backend/services/schedule/calendar_period_usage_test.go
  backend/services/schedule/materialization_service_test.go
  frontend/public/help/screens/kalenderzeitraeume.webp
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/planning/calendar-periods-editor.tsx
  frontend/src/components/timetable/calendar-period-modal.test.tsx
  frontend/src/components/timetable/calendar-period-modal.tsx
  frontend/src/lib/calendar-period-helpers.test.ts
  frontend/src/lib/calendar-period-helpers.ts
Due: frontend-lint, go-imports

fix(enrollment): re-derive stale concrete class on grade-bumping rollover (#1833)
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/school_class_test.go
Due: go-imports

fix(enrollment): re-derive stale concrete class on approved grade-changing edits (#1833)
  backend/services/enrollment/offering_adjustment_service.go
Due: go-imports

fix(calendar): correctness fixes for recipients, recurrence, and views
  backend/database/migrations/001015167_personal_calendar.go
  backend/models/calendar/appointment.go
  backend/models/calendar/appointment_test.go
  backend/services/calendar/service.go
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/app/parents/calendar/page.tsx
Due: frontend-lint, go-imports

refactor(backend): embed base.CRUDRepository in 24 repository interfaces (audit B8a)
  backend/models/auth/repository.go
  backend/models/base/interfaces.go
  backend/models/education/repository.go
  backend/models/facilities/repository.go
  backend/models/feedback/repository.go
  backend/models/iot/repository.go
  backend/models/platform/repository.go
  backend/models/users/repository.go
Due: go-imports

test(backend): data-layer consolidation ratchet (audit B8g)
  backend/test/data_layer_ratchet_test.go
Due: go-imports

refactor(backend): shared ProtectedTenantGroup router preamble helper (audit B9a)
  backend/api/active/api.go
  backend/api/activities/api.go
  backend/api/admin/grade_transitions.go
  backend/api/announcement/api.go
  backend/api/common/router.go
  backend/api/config/settings_api.go
  backend/api/database/api.go
  backend/api/emergency/api.go
  backend/api/feedback/api.go
  backend/api/groups/api.go
  backend/api/guardians/api.go
  backend/api/iot/api.go
  backend/api/mealplan/api.go
  backend/api/messaging/api.go
  backend/api/reminders/api.go
  backend/api/rooms/api.go
  backend/api/schedules/api.go
  backend/api/staff-shifts/api.go
  backend/api/staff/api.go
  backend/api/students/api.go
  backend/api/substitutions/api.go
  backend/api/suggestions/api.go
  backend/api/time-tracking/api.go
  backend/api/timetable/api.go
  backend/api/users/api.go
  backend/api/work-time-models/api.go
Due: go-imports

refactor(backend): generic id-action/list handler builders in api/auth + api/operator (audit B9b)
  backend/api/auth/api.go
  backend/api/auth/handler_builders.go
  backend/api/operator/announcements.go
  backend/api/operator/handler_builders.go
  backend/api/operator/provisioning.go
  backend/api/operator/provisioning_summaries.go
  backend/api/operator/suggestions.go
Due: go-imports

refactor(backend): dedupe enrollment export/update handlers + parent submit mirror (audit B9c)
  backend/api/enrollment/admin_late_invite_handlers.go
  backend/api/enrollment/care_offering_handlers.go
  backend/api/enrollment/change_request_handlers.go
  backend/api/enrollment/phase_handlers.go
  backend/api/enrollment/report_handlers.go
  backend/api/enrollment/submission_handlers.go
  backend/api/enrollment/submission_handlers_test.go
  backend/api/parent/enrollment_handlers.go
  backend/api/parent/handler_helpers_test.go
Due: go-imports

refactor(backend): share guardian-input DTO stack between api/students and api/guardians (audit B9d)
  backend/api/guardians/handlers.go
  backend/api/students/api.go
  backend/api/students/types.go
Due: go-imports

refactor(backend): shared system-space bootstrap for WC/Schulhof checkin areas (audit B9e)
  backend/api/iot/checkin/schulhof.go
  backend/api/iot/checkin/system_space.go
  backend/api/iot/checkin/wc.go
Due: go-imports

refactor(backend): consolidate services/enrollment near-duplicate families (audit B9f)
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/email_renderers.go
  backend/services/enrollment/export_audit.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/rollover_service.go
Due: go-imports

refactor(backend): remove cross-package bridge ceremony (audit B9g)
  backend/api/iot/api.go
  backend/api/students/api.go
  backend/auth/authorize/permission.go
  backend/auth/authorize/policies/student_visit.go
  backend/auth/device/device_auth.go
  backend/auth/device/device_auth_test.go
  backend/models/platform/outbox_port.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/auth/guardian_invitation_service_test.go
  backend/services/auth/passkey_service.go
  backend/services/auth/passkey_service_test.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  backend/services/enrollment/rollover_service.go
  backend/services/factory.go
  backend/services/platform/operator_passkey_service.go
  backend/services/platform/operator_passkey_service_test.go
  backend/services/platform/outbox_auth_adapter.go
  backend/services/platform/outbox_enrollment_adapter.go
  backend/services/platform/outbox_service.go
Due: go-imports

fix: drop duplicate Dienstplan page title
  frontend/public/help/screens/dienstplan.webp
  frontend/src/app/[tenant]/(protected)/staff/dienstplan/page.tsx
Due: frontend-lint

refactor(backend): consolidate round-3/round-4 clone pairs (audit B9h)
  backend/api/auth/api.go
  backend/api/auth/guardian_invitation_handlers.go
  backend/api/auth/invitation_handlers.go
  backend/api/iot/common/helpers.go
  backend/api/iot/common/helpers_test.go
  backend/api/students/types.go
  backend/api/suggestions/requests.go
  backend/auth/jwt/mfa_challenge_claims.go
  backend/auth/jwt/mfa_enrollment_claims.go
  backend/auth/jwt/mfa_pending_claims.go
  backend/database/repositories/users/person.go
  backend/database/repositories/users/rfid_card.go
  backend/models/auth/account.go
  backend/models/auth/account_parent.go
  backend/models/users/rfid_card.go
  backend/models/users/rfid_card_normalize_test.go
  backend/services/activities/activity_service.go
  backend/services/auth/auth_login.go
  backend/services/auth/passkey_service.go
  backend/services/parent/parent_write_service.go
  backend/services/platform/operator_auth_service.go
  backend/services/platform/operator_passkey_service.go
  backend/services/platform/operator_summaries.go
  backend/services/users/person_service.go
Due: go-imports

feat: manage phase links from the calendar period modal
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/planning/calendar-periods-editor.tsx
  frontend/src/components/timetable/calendar-period-modal.test.tsx
  frontend/src/components/timetable/calendar-period-modal.tsx
  frontend/src/lib/enrollment-phase-api.ts
Due: frontend-lint

refactor(backend): delete dead PermissionRepository.RemovePermissionFromAccount (audit B9 follow-up)
  backend/database/repositories/auth/permission.go
  backend/models/auth/repository.go
Due: go-imports

fix(calendar): gate calendar:manage to admin, keep RSVP editable, drop E2E env fallback
  backend/database/migrations/001015167_personal_calendar.go
  backend/services/calendar/service.go
  backend/services/calendar/service_helpers_test.go
  frontend/e2e/personal-calendar-flow.spec.ts
Due: frontend-lint, go-imports

test: improve calendar period coverage
  backend/database/repositories/schedule/calendar_period_repo_test.go
  backend/services/schedule/calendar_period_service_test.go
  frontend/src/lib/enrollment-phase-api.test.ts
  frontend/src/lib/hooks/__tests__/use-sidebar-accordion.test.ts
Due: frontend-lint, go-imports

refactor(backend): collapse 11 single-impl service interfaces (audit B10a)
  backend/api/admin/grade_transitions.go
  backend/api/emergency/api.go
  backend/api/enrollment/api.go
  backend/api/enrollment/export_handlers.go
  backend/api/enrollment/report_handlers.go
  backend/api/guardians/api.go
  backend/api/guardians/handlers.go
  backend/api/iot/api.go
  backend/api/iot/sessions/resource.go
  backend/api/messaging/api.go
  backend/api/parent/api.go
  backend/api/rooms/api.go
  backend/api/students/api.go
  backend/api/timetable/api.go
  backend/api/timetable/operations_unit_test.go
  backend/api/timetable/timetable_data_test_helpers_test.go
  backend/api/work-time-models/api.go
  backend/services/active/student_status_day_service.go
  backend/services/config/work_time_model_service.go
  backend/services/education/grade_transition_service.go
  backend/services/education/grade_transition_service_test.go
  backend/services/emergency/service.go
  backend/services/enrollment/captcha_service.go
  backend/services/factory.go
  backend/services/listexport/records.go
  backend/services/listexport/service.go
  backend/services/listexport/types.go
  backend/services/messaging/service.go
  backend/services/messaging/service_error_test.go
  backend/services/messaging/service_test.go
  backend/services/schedule/template_end_service_unit_test.go
  backend/services/schedule/template_split_service.go
  backend/services/schedule/timetable_data_service.go
  backend/services/users/guardian_interface.go
  backend/services/users/guardian_profile_loader.go
  backend/services/users/guardian_service.go
  backend/services/users/guardian_service_internal_test.go
  backend/services/users/guardian_service_test.go
Due: go-imports

refactor(backend): inline policy engine into visit access check (audit B10b)
  backend/api/active/active_internal_test.go
  backend/api/active/active_test.go
  backend/api/active/api.go
  backend/api/active/checkin_test.go
  backend/api/base.go
  backend/auth/authorize/authorization_service.go
  backend/auth/authorize/authorization_service_test.go
  backend/auth/authorize/policies/registry.go
  backend/auth/authorize/policies/student_visit.go
  backend/auth/authorize/policy/engine.go
  backend/auth/authorize/policy/engine_test.go
  backend/auth/authorize/policy/interface.go
  backend/auth/authorize/resource_middleware.go
  backend/auth/authorize/resource_middleware_test.go
  backend/auth/authorize/visit_access.go
  backend/auth/authorize/visit_access_test.go
  backend/services/factory.go
Due: go-imports

fix: preserve calendar period links
  backend/api/enrollment/phase_handlers.go
  backend/api/enrollment/phase_handlers_test.go
  backend/api/timetable/api.go
  backend/api/timetable/api_test.go
  backend/database/migrations/001015167_phase_calendar_period.go
  backend/database/repositories/schedule/calendar_period_repo.go
  backend/models/schedule/calendar_period.go
  backend/services/enrollment/phase_service.go
  backend/services/enrollment/phase_service_test.go
  backend/services/schedule/calendar_period_service.go
  backend/services/schedule/calendar_period_usage_test.go
  frontend/src/components/planning/calendar-periods-editor.test.tsx
  frontend/src/components/planning/calendar-periods-editor.tsx
  frontend/src/components/timetable/calendar-period-modal.test.tsx
  frontend/src/components/timetable/calendar-period-modal.tsx
  frontend/src/lib/calendar-period-helpers.test.ts
  frontend/src/lib/calendar-period-helpers.ts
Due: frontend-lint, go-imports

refactor(backend): settings registry constructor helpers (audit B11a)
  backend/models/config/registry.go
  backend/services/config/defaults/devices.go
  backend/services/config/defaults/enrollment.go
  backend/services/config/defaults/feedback.go
  backend/services/config/defaults/gdpr.go
  backend/services/config/defaults/invitations.go
  backend/services/config/defaults/operations.go
  backend/services/config/defaults/reminders.go
  backend/services/config/defaults/security.go
  backend/services/config/defaults/timetable.go
  backend/services/config/defaults/tracking.go
Due: go-imports

docs(calendar): document why flagged FK/RLS/ID patterns are safe
  backend/database/migrations/001015167_personal_calendar.go
  backend/database/repositories/users/guardian_profile.go
  backend/services/calendar/service.go
Due: go-imports
