Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

chore: toten Code aus dem Angebots-Flow entfernen
  backend/services/parent/parent_care_offerings_service.go
  frontend/src/lib/offering-request-review-api.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix: einheitliche Breadcrumbs über alle Navigationsbereiche
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.stories.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.test.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/hooks/use-sidebar-accordion.ts
  frontend/src/lib/planning-navigation.ts
  frontend/src/lib/section-navigation.ts
Due: frontend-lint

refactor: unerreichbaren Breadcrumb-Code entfernen
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.stories.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.test.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/lib/breadcrumb-context.tsx
Due: frontend-lint

fix(betreuungsplan): Serien-Ende bei vergangenen Terminen nicht anbieten
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/instance-detail-modal.test.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
Due: frontend-lint

feat(vertretung): Hinweis auf Einsätze ohne Dienstplan-Abdeckung
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/vertretung-coverage-notice.test.tsx
  frontend/src/components/timetable/vertretung-coverage-notice.tsx
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/components/ui/alert.test.tsx
  frontend/src/components/ui/alert.tsx
Due: frontend-lint

fix(vertretung): Abdeckungshinweis solide Fläche und kurzer Text
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/vertretung-coverage-notice.test.tsx
  frontend/src/components/timetable/vertretung-coverage-notice.tsx
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/components/timetable/vertretung-view.tsx
Due: frontend-lint

fix(dienstplan): allow editing a series whose segment has ended
  backend/services/schedule/staff_shift_series_rule_edit_test.go
  backend/services/schedule/staff_shift_series_service.go
  frontend/src/components/staff/shift-edit-modal.series.test.tsx
  frontend/src/components/staff/shift-edit-modal.tsx
Due: frontend-lint, go-imports

fix(betreuungsplan): aktualisiere Serienlöschung um Mitternacht
  frontend/src/components/timetable/instance-detail-modal.test.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
Due: frontend-lint

fix(betreuungsplan): sichere Löschung am Tageswechsel
  frontend/src/components/timetable/instance-detail-modal.test.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
Due: frontend-lint

fix(vertretung): Hinweis auf erreichbaren Dienstplan begrenzen
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/components/timetable/vertretung-view.tsx
Due: frontend-lint

fix(dienstplan): prevent invalid series extensions
  backend/database/repositories/schedule/staff_shift_series_repo.go
  backend/models/schedule/repository.go
  backend/services/schedule/staff_shift_series_mock_test.go
  backend/services/schedule/staff_shift_series_rule_edit_test.go
  backend/services/schedule/staff_shift_series_service.go
  frontend/src/components/staff/shift-edit-modal.series.test.tsx
  frontend/src/components/staff/shift-edit-modal.tsx
Due: frontend-lint, go-imports

fix(dienstplan): validate capped series occurrence
  backend/services/schedule/staff_shift_series_rule_edit_test.go
  backend/services/schedule/staff_shift_series_service.go
Due: go-imports

refactor: Navigationskataloge als einzige Quelle für Breadcrumbs
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/hooks/use-sidebar-accordion.ts
  frontend/src/lib/navigation-sync.test.ts
  frontend/src/lib/planning-navigation.ts
  frontend/src/lib/section-navigation.ts
Due: frontend-lint

fix: Breadcrumbs von Gruppe und Aufsicht schrumpfen beim Scrollen mit
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.test.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.tsx
Due: frontend-lint

refactor: flache Mitarbeiter-Seiten aus einem Katalog benennen
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/navigation-sync.test.ts
  frontend/src/lib/section-navigation.ts
Due: frontend-lint

fix(frontend): preserve tenant breadcrumb navigation
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.test.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/navigation-sync.test.ts
  frontend/src/lib/planning-navigation.ts
Due: frontend-lint

fix(frontend): keep payroll navigation independently available
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix: satisfy sonar quality gate
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/parent/parent_care_offerings_service.go
  backend/services/parent/parent_care_offerings_service_test.go
  frontend/src/components/parent/offering-change-request-modal.tsx
  frontend/src/components/students/offering-request-review-list.test.tsx
  frontend/src/lib/messaging-status.test.ts
  frontend/src/lib/messaging-status.ts
  frontend/src/lib/offering-request-review-api.test.ts
  frontend/src/lib/parent-api.test.ts
Due: frontend-lint, go-imports

fix(enrollment): secure offering change reviews
  backend/api/parent/care_offerings_handlers.go
  backend/database/repositories/enrollment/care_offering_repository.go
  backend/database/repositories/enrollment/offering_change_request_repository.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/offering_change_request.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/factory.go
  backend/services/parent/parent_care_offerings_service.go
  frontend/src/components/parent/child-care-offerings.tsx
  frontend/src/components/parent/offering-change-request-modal.tsx
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

test(enrollment): authorize offering change decisions
  backend/services/enrollment/offering_change_request_service_test.go
Due: go-imports

fix(enrollment): validate offering change lifecycle
  backend/api/students/offering_request_review_handlers.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/parent/parent_care_offerings_service.go
Due: go-imports

fix(enrollment): validate scheduled offering changes
  backend/services/enrollment/offering_change_request_service.go
  frontend/src/components/parent/offering-change-request-modal.tsx
Due: frontend-lint, go-imports

fix(enrollment): align offering change selections
  backend/services/enrollment/offering_change_request_service.go
  backend/services/parent/parent_care_offerings_service.go
  frontend/src/components/parent/offering-change-request-modal.tsx
Due: frontend-lint, go-imports

test(parent): expect implied fixed offering days
  frontend/src/components/parent/offering-change-request-modal.test.tsx
Due: frontend-lint

fix(enrollment): preserve future offering changes
  backend/database/migrations/001015243_request_child_offering_validity.go
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/models/enrollment/care_offering.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_adjustment_dated_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_change_request_service.go
Due: go-imports

fix(enrollment): resolve offerings at effective date
  backend/database/migrations/001015243_request_child_offering_validity.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
  backend/services/parent/parent_care_offerings_service_test.go
Due: go-imports

fix(enrollment): honor offering effective dates
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
  backend/services/parent/parent_care_offerings_service.go
  backend/services/parent/parent_care_offerings_service_test.go
Due: go-imports

fix(enrollment): retain offering selection history
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/services/enrollment/offering_adjustment_dated_test.go
Due: go-imports

fix(enrollment): separate current offering selections
  backend/database/migrations/001015243_request_child_offering_validity.go
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/models/enrollment/care_offering.go
  backend/services/enrollment/rollover_service.go
Due: go-imports

fix(enrollment): lock offering capacity checks
  backend/services/enrollment/request_service.go
Due: go-imports

fix(enrollment): wire capacity locks for change requests
  backend/services/enrollment/change_request_service.go
Due: go-imports

fix(enrollment): preserve dated offering capacity
  backend/database/repositories/enrollment/request_child_offering_repository.go
  backend/database/repositories/enrollment/request_child_offering_repository_test.go
  backend/models/enrollment/care_offering.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
  backend/services/enrollment/request_service.go
  frontend/src/components/parent/offering-change-request-modal.test.tsx
  frontend/src/components/parent/offering-change-request-modal.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint, go-imports

fix(enrollment): align offering changes with effective dates
  backend/api/parent/child_write_handlers.go
  backend/api/students/offering_request_review_handlers.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  backend/services/parent/parent_care_offerings_service.go
  backend/services/parent/parent_care_offerings_service_test.go
  frontend/src/components/parent/offering-change-request-modal.test.tsx
  frontend/src/components/parent/offering-change-request-modal.tsx
Due: frontend-lint, go-imports

fix(enrollment): preserve dated offering changes
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_adjustment_dated_test.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
  backend/services/parent/parent_care_offerings_service.go
  backend/services/parent/parent_care_offerings_service_test.go
Due: go-imports

fix(enrollment): resolve catalog period after lead time
  backend/services/enrollment/offering_change_request_service.go
Due: go-imports

fix(enrollment): preserve dated offering changes
  backend/api/parent/care_offerings_handlers.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/parent/parent_care_offerings_service.go
  frontend/src/components/parent/offering-change-request-modal.tsx
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix(enrollment): serialize offering capacity checks
  backend/database/repositories/enrollment/offering_change_request_repository.go
  backend/models/enrollment/offering_change_request.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/request_service.go
Due: go-imports

fix(enrollment): protect materialized offering capacity
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/request_service.go
  frontend/src/components/parent/offering-change-request-modal.tsx
Due: frontend-lint, go-imports

fix(enrollment): reload offerings for effective dates
  backend/api/parent/care_offerings_handlers.go
  backend/api/parent/me_handlers_test.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/parent/parent_care_offerings_service.go
  backend/services/parent/parent_care_offerings_service_test.go
  backend/services/parent/parent_service.go
  frontend/src/components/parent/offering-change-request-modal.tsx
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix(parent): preserve valid offering selections
  frontend/src/components/parent/offering-change-request-modal.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
