Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(time-tracking): preserve absence type labels
  backend/api/absence-types/api.go
  backend/database/repositories/active/staff_absence_type.go
  backend/models/active/repository.go
  backend/models/active/staff_absence_type.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/staff_absence_type_service.go
  backend/services/active/staff_absence_type_service_test.go
  frontend/src/lib/staff-api.ts
  frontend/src/lib/staff-metrics-helpers.test.ts
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint, go-imports

fix: bound navigation and rate-limit failures
  backend/services/usercontext/navigation_context.go
  frontend/src/lib/swr/config.test.ts
  frontend/src/lib/swr/config.ts
Due: frontend-lint, go-imports

fix(seed): Begründung beim Eltern-Abholwunsch mitsenden
  backend/seed/api/parent_enrollment.go
Due: go-imports

test(seed): Seed-Abdeckung ratchen und in CI fahren
  .github/workflows/test.yml
  backend/CLAUDE.md
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

fix: expose degraded navigation state
  backend/services/usercontext/interface.go
  backend/services/usercontext/navigation_context.go
  frontend/src/app/api/user-context/route.test.ts
  frontend/src/app/api/user-context/route.ts
  frontend/src/lib/rate-limit-backoff.test.ts
  frontend/src/lib/rate-limit-backoff.ts
  frontend/src/lib/user-context-types.ts
Due: frontend-lint, go-imports

fix(time-tracking): serialize absence type changes
  backend/database/repositories/active/staff_absence_type.go
  backend/database/repositories/active/staff_absence_type_test.go
  backend/models/active/repository.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/staff_absence_type_service.go
  backend/services/active/staff_absence_type_service_test.go
  frontend/src/components/ui/creatable-select.test.tsx
  frontend/src/components/ui/creatable-select.tsx
Due: frontend-lint, go-imports

fix: scope rate-limit backoff by method
  frontend/src/lib/api-transport.ts
  frontend/src/lib/rate-limit-backoff.test.ts
  frontend/src/lib/rate-limit-backoff.ts
Due: frontend-lint

fix(seed): exclude migration metadata from coverage ratchet
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

fix: refresh supervision state after bulk checkin
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/lib/rate-limit-backoff.test.ts
  frontend/src/lib/rate-limit-backoff.ts
  frontend/src/lib/session-cache.test.ts
  frontend/src/lib/session-cache.ts
Due: frontend-lint

fix: handle empty supervised group responses
  frontend/src/app/api/user-context/route.test.ts
  frontend/src/app/api/user-context/route.ts
Due: frontend-lint

test(seed): validate coverage allowlist reasons
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

fix: preserve attendance update recovery
  backend/services/active/active_service.go
  backend/services/active/guardian_wake_internal_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/lib/hooks/__tests__/use-user-context.test.ts
  frontend/src/lib/hooks/use-user-context.ts
Due: frontend-lint, go-imports

docs: Screenshots für PR #2470
  screenshots-pr2470/01-parent-sick-request.png
  screenshots-pr2470/02-parent-request-sent.png
  screenshots-pr2470/03-ogs-sick-request-queue.png
  screenshots-pr2470/04-parent-excused-request.png
Due: none

fix: retain attendance markers until SSE delivery
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/__tests__/use-user-context.test.ts
  frontend/src/lib/hooks/use-user-context.ts
  frontend/src/lib/sse-optimistic-mutations.ts
Due: frontend-lint

fix: avoid caching incomplete user context
  frontend/src/lib/hooks/__tests__/use-user-context.test.ts
  frontend/src/lib/hooks/use-user-context.ts
Due: frontend-lint

style(active): Fehlertexte der Abwesenheitsarten kleinschreiben
  backend/models/active/staff_absence_type.go
  backend/services/active/staff_absence_type_service.go
Due: go-imports

fix(time-tracking): Tages- und Wochensumme teilen Nachtblöcke am Berliner Datum (#2402)
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/lib/date-helpers.test.ts
  frontend/src/lib/date-helpers.ts
Due: frontend-lint

refactor(anfragen): Zeilen als Tabellenraster, Historie aufklappbar
  frontend/src/app/[tenant]/(protected)/anfragen/page.tsx
  frontend/src/components/staff/staff-absence-request-list.test.tsx
  frontend/src/components/staff/staff-absence-request-list.tsx
  frontend/src/components/students/aggregated-request-list.tsx
  frontend/src/components/students/care-request-review-item.tsx
  frontend/src/components/students/enrollment-request-item.test.tsx
  frontend/src/components/students/enrollment-request-item.tsx
  frontend/src/components/students/excused-request-review-item.tsx
  frontend/src/components/students/master-data-review-item.tsx
  frontend/src/components/students/offering-request-review-item.tsx
  frontend/src/components/students/request-history-item.test.tsx
  frontend/src/components/students/request-history-item.tsx
  frontend/src/components/students/request-review-card.tsx
  frontend/src/lib/date-helpers.test.ts
  frontend/src/lib/date-helpers.ts
Due: frontend-lint

fix(seed): Session-Id auch als String lesen (#2402)
  backend/seed/api/seed_time_tracking.go
  backend/seed/api/seed_time_tracking_test.go
Due: go-imports

test(seed): Ratchet zieht active.excused_absence_requests nach
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

refactor(anfragen): Anfrageart als Pille statt als Textpraefix
  frontend/src/components/staff/staff-absence-request-list.tsx
  frontend/src/components/students/care-request-review-item.test.tsx
  frontend/src/components/students/care-request-review-item.tsx
  frontend/src/components/students/enrollment-request-item.tsx
  frontend/src/components/students/excused-request-review-item.tsx
  frontend/src/components/students/master-data-review-item.test.tsx
  frontend/src/components/students/master-data-review-item.tsx
  frontend/src/components/students/offering-request-review-item.tsx
  frontend/src/components/students/request-history-item.tsx
  frontend/src/components/students/request-review-card.tsx
Due: frontend-lint

chore(anfragen): Raster-Konstanten nicht exportieren
  frontend/src/components/students/request-review-card.tsx
Due: frontend-lint

docs: Screenshots fuer PR #2471
  screenshots-pr2471/01-offen-vorher.png
  screenshots-pr2471/02-offen-nachher.png
  screenshots-pr2471/03-historie-vorher.png
  screenshots-pr2471/04-historie-nachher.png
  screenshots-pr2471/05-offen-aufgeklappt.png
  screenshots-pr2471/06-historie-aufgeklappt.png
  screenshots-pr2471/07-mobil.png
Due: none

refactor(ui): Punkt in den Anfragen-Pillen abschaltbar
  frontend/src/components/students/request-review-card.tsx
  frontend/src/components/ui/status-dot-badge.test.tsx
  frontend/src/components/ui/status-dot-badge.tsx
Due: frontend-lint

docs: Screenshots ohne Punkte in den Pillen
  screenshots-pr2471/02-offen-nachher.png
  screenshots-pr2471/04-historie-nachher.png
  screenshots-pr2471/05-offen-aufgeklappt.png
  screenshots-pr2471/06-historie-aufgeklappt.png
  screenshots-pr2471/07-mobil.png
Due: none

fix(time-tracking): keep absence labels consistent
  backend/database/repositories/active/staff_absence.go
  backend/database/repositories/active/staff_absence_test.go
  frontend/src/components/staff/staff-absence-request-list.test.tsx
  frontend/src/components/staff/staff-absence-request-list.tsx
Due: frontend-lint, go-imports

refactor(anfragen): Umschalter auf eine Hoehe mit den Reitern
  frontend/src/app/[tenant]/(protected)/anfragen/page.test.tsx
  frontend/src/app/[tenant]/(protected)/anfragen/page.tsx
  frontend/src/components/ui/page-header/NavigationTabs.tsx
Due: frontend-lint

docs: Screenshots mit Umschalter in der Reiterzeile
  screenshots-pr2471/02-offen-nachher.png
  screenshots-pr2471/04-historie-nachher.png
  screenshots-pr2471/05-offen-aufgeklappt.png
  screenshots-pr2471/06-historie-aufgeklappt.png
  screenshots-pr2471/07-mobil.png
Due: none

docs: Verständlichkeit als verbindliche Regel verankern
  .claude/rules/frontend-ui-kit.md
  .claude/rules/verstaendlichkeit.md
  .claude/skills/moto-einfache-sprache/SKILL.md
  .github/PULL_REQUEST_TEMPLATE.md
  CLAUDE.md
  frontend/CLAUDE.md
Due: none

docs: moto-einfache-sprache auch unter .agents/skills spiegeln
  .agents/skills/moto-einfache-sprache/SKILL.md
Due: none

feat(page-header): tabsRowAction — Aktion bleibt in der Reiterzeile
  frontend/src/app/[tenant]/(protected)/anfragen/page.test.tsx
  frontend/src/app/[tenant]/(protected)/anfragen/page.tsx
  frontend/src/components/ui/page-header/PageHeaderWithSearch.test.tsx
  frontend/src/components/ui/page-header/PageHeaderWithSearch.tsx
  frontend/src/components/ui/page-header/types.ts
Due: frontend-lint

docs: Screenshots mit Umschalter neben dem Reiter-Dropdown
  screenshots-pr2471/05-offen-aufgeklappt.png
  screenshots-pr2471/07-mobil.png
Due: none

fix: recover successful supervision roster actions
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part13.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/lib/logger.redaction.test.ts
  frontend/src/lib/logger.ts
  frontend/src/test/setup.ts
Due: frontend-lint

fix: Seed-Coverage-Allowlist um excused_absence_requests bereinigen
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

docs: Verstaendlichkeits-Regel auch in frontend/AGENTS.md verlinken
  frontend/AGENTS.md
Due: none

fix: avoid oversized keepalive log batches
  frontend/src/lib/logger.redaction.test.ts
  frontend/src/lib/logger.ts
Due: frontend-lint

fix: repair guardian enrollment account backfill
  backend/database/migrations/001015311_guardian_enrollment_account_backfill.go
  backend/database/migrations/001015311_guardian_enrollment_account_backfill_test.go
  backend/models/parent/child_summary.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/auth/guardian_invitation_service_test.go
Due: go-imports

feat: mark unplanned student presence
  backend/api/students/day_planning.go
  backend/api/students/day_planning_presence_test.go
  backend/api/students/list_projection.go
  backend/api/students/list_projection_internal_test.go
  backend/api/students/list_projection_test.go
  backend/services/active/interface.go
  backend/services/ogsgrouplive/service.go
  backend/services/ogsgrouplive/unplanned_presence_test.go
  backend/services/schedule/day_planning.go
  backend/services/schedule/day_planning_issue_2379_test.go
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/components/ui/location-badge.tsx
  frontend/src/components/ui/presence-badge.tsx
  frontend/src/components/ui/unplanned-presence-badges.test.tsx
  frontend/src/lib/day-planning-helper.issue-2379.test.ts
  frontend/src/lib/day-planning-helper.ts
  frontend/src/lib/location-helper.ts
  frontend/src/lib/ogs-group-live-api.ts
  frontend/src/lib/student-helpers.test.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

docs: Screenshots für PR #2475
  screenshots-pr2475/01-kindersuche-desktop.png
  screenshots-pr2475/02-kindersuche-mobile.png
  screenshots-pr2475/03-ogs-gruppe-desktop.png
  screenshots-pr2475/04-ogs-gruppe-mobile.png
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
