Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

test(email): assert against fixture ids instead of literals
  backend/services/auth/guardian_invitation_delivery_test.go
  backend/services/platform/email_delivery_service_test.go
  backend/test/email_delivery_events_test.go
Due: go-imports

feat(time-tracking): Monatsabschluss-UI mit Drift-Anzeige und Reopen (#1417 Tranche 2a)
  backend/api/staff/balance_adjustment_handlers.go
  backend/api/staff/month_close_handlers.go
  backend/api/staff/overview_api_test.go
  backend/services/active/staff_balance_adjustment_service.go
  backend/services/active/work_time_month_snapshot_test.go
  frontend/src/app/[tenant]/(protected)/staff/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/app/api/staff/[id]/time-tracking/month-close/reopen/route.ts
  frontend/src/app/api/staff/time-tracking/month-close/route.ts
  frontend/src/components/staff/month-close-modal.tsx
  frontend/src/components/staff/staff-time-accounts-table.test.tsx
  frontend/src/components/staff/staff-time-accounts-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/components/time-tracking/monatskarte.test.tsx
  frontend/src/components/time-tracking/monatskarte.tsx
  frontend/src/lib/staff-api.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

test: cover notification delivery paths
  backend/services/notifications/service_test.go
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/shell-auth-context.test.tsx
Due: frontend-lint, go-imports

fix(active): stamp staff presence on web attendance actions too (#1439)
  backend/services/active/attendance_service.go
  backend/services/active/staff_presence_autostamp_test.go
Due: go-imports

refactor(device): simplify authentication middleware
  backend/auth/device/device_auth.go
  backend/auth/device/device_auth_staff_context_test.go
  backend/services/active/attendance_presence_internal_test.go
Due: go-imports

fix: complete notification delivery contracts
  backend/realtime/events.go
  backend/services/notifications/service_test.go
  backend/services/notifications/sse_channel.go
  docs/notifications.md
  frontend/src/app/providers.test.tsx
  frontend/src/components/notifications/notification-bridge.test.tsx
  frontend/src/components/notifications/notification-bridge.tsx
  frontend/src/components/parent/parent-realtime-bridge.test.tsx
  frontend/src/components/parent/parent-realtime-bridge.tsx
  frontend/src/contexts/ToastContext.test.tsx
  frontend/src/contexts/ToastContext.tsx
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/notification-events.ts
  frontend/src/lib/sse-types.ts
Due: frontend-lint, go-imports

fix(email): harden invitation delivery lifecycle
  backend/api/base.go
  backend/api/server.go
  backend/api/webhooks/email_delivery.go
  backend/cmd/serve.go
  backend/cmd/serve_test.go
  backend/database/repositories/auth/guardian_invitation.go
  backend/database/repositories/auth/guardian_invitation_repository_test.go
  backend/models/auth/guardian_invitation.go
  backend/models/auth/guardian_invitation_test.go
  backend/models/platform/email_outbox.go
  backend/observability/prometheus.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/auth/guardian_invitation_service_test.go
  backend/services/auth/guardian_related_accounts.go
  backend/services/auth/guardian_related_accounts_test.go
  backend/services/auth/token_validity.go
  backend/services/auth/token_validity_test.go
  backend/services/platform/outbox_worker.go
  backend/services/platform/outbox_worker_test.go
Due: go-imports

feat(time-tracking): Erneut-abschließen-Pfad, Textkorrekturen, Help-Guide (#1417)
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/staff-time-accounts-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/components/time-tracking/monatskarte.tsx
Due: frontend-lint

chore(frontend): MonthCloseState nicht exportieren (knip)
  frontend/src/components/staff/staff-time-accounts-table.tsx
Due: frontend-lint

feat(staff): Staff-Navigation an operations.group_mode koppeln
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.school-checkin.test.tsx
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/components/auth/smart-redirect.test.tsx
  frontend/src/components/auth/smart-redirect.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/tenant/open-care-mode-guard.test.tsx
  frontend/src/components/tenant/open-care-mode-guard.tsx
  frontend/src/lib/redirect-utils.test.ts
  frontend/src/lib/redirect-utils.ts
Due: frontend-lint

fix: secure staff presence auto-stamping
  backend/api/iot/api.go
  backend/api/iot/checkin/handlers.go
  backend/api/students/api.go
  backend/auth/device/device_auth.go
  backend/auth/device/device_auth_staff_context_test.go
  backend/auth/device/device_auth_test.go
  backend/auth/device/device_auth_untrusted_staff_header_test.go
  backend/services/active/attendance_presence_internal_test.go
  backend/services/active/attendance_service.go
Due: go-imports

fix(api): scope webhook secret validation to server startup
  backend/api/base.go
Due: go-imports

test(frontend): cover month close contracts
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/lib/month-close-helpers.test.ts
  frontend/src/lib/staff-month-close-api.test.ts
Due: frontend-lint

fix(staff): Gruppenkarten im Open-Care-Dashboard ausblenden
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
Due: frontend-lint

fix: authenticate kiosk staff attribution
  backend/CLAUDE.md
  backend/api/base.go
  backend/api/iot/api.go
  backend/api/iot/checkin/handlers.go
  backend/api/students/api.go
  backend/auth/device/device_auth.go
  backend/auth/device/device_auth_staff_pin_test.go
  backend/auth/device/device_auth_test.go
  backend/auth/device/device_auth_untrusted_staff_header_test.go
  backend/cmd/serve.go
  backend/cmd/serve_test.go
  backend/services/auth/errors.go
  backend/services/auth/interface.go
  backend/services/auth/staff_pin_auth.go
  backend/services/auth/staff_pin_auth_internal_test.go
  backend/services/factory.go
Due: go-imports

chore: devbox shit
  devbox.lock
Due: none

fix(time-tracking): align month close timezone and caches
  frontend/src/app/[tenant]/(protected)/staff/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/staff/staff-time-accounts-table.test.tsx
  frontend/src/components/staff/staff-time-accounts-table.tsx
  frontend/src/components/time-tracking/monatskarte.test.tsx
  frontend/src/components/time-tracking/monatskarte.tsx
Due: frontend-lint

fix: enforce safe kiosk presence attribution
  backend/CLAUDE.md
  backend/api/base.go
  backend/api/students/api.go
  backend/auth/device/device_auth.go
  backend/auth/device/device_auth_staff_pin_test.go
  backend/services/active/attendance_presence_internal_test.go
  backend/services/active/attendance_service.go
  backend/services/auth/staff_pin_auth.go
  backend/services/auth/staff_pin_auth_internal_test.go
Due: go-imports

fix: reject backslashes in notification deep links
  backend/services/notifications/service.go
  backend/services/notifications/service_test.go
Due: go-imports

fix(time-tracking): handle month close consistency gaps
  frontend/src/app/[tenant]/(protected)/staff/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/staff/staff-time-accounts-table.test.tsx
  frontend/src/components/staff/staff-time-accounts-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.invalidation.test.ts
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/staff-api.ts
  frontend/src/lib/staff-month-close-api.test.ts
Due: frontend-lint

fix(students): harden change-history retention and IDs
  backend/api/students/change_history_handlers.go
  backend/api/students/change_history_wire_format_test.go
  backend/services/users/student_change_log_cleanup_service.go
  backend/services/users/student_change_log_cleanup_service_mock_test.go
  frontend/src/app/[tenant]/(protected)/students/[id]/change-history/page.tsx
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint, go-imports

fix(email): preserve invitation delivery integrity
  .env.example
  backend/api/guardians/handlers.go
  backend/cmd/serve.go
  backend/cmd/serve_test.go
  backend/database/migrations/001015226_email_delivery_events.go
  backend/database/repositories/platform/email_outbox_repository.go
  backend/dev.env.example
  backend/models/platform/email_delivery_event.go
  backend/models/platform/email_delivery_event_test.go
  backend/models/platform/email_dispatch_attempt.go
  backend/models/platform/email_outbox.go
  backend/services/auth/errors.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/auth/guardian_invitation_service_test.go
  backend/services/factory.go
  backend/services/parent/guardian_invitation_revocation.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_guardian_service_test.go
  backend/services/parent/parent_master_data_service.go
  backend/services/parent/parent_master_data_service_test.go
  backend/services/parent/parent_service.go
  backend/services/platform/email_delivery_precedence_test.go
  backend/services/platform/email_delivery_service.go
  backend/services/platform/email_delivery_service_test.go
  backend/services/platform/outbox_worker.go
  backend/services/platform/outbox_worker_test.go
  backend/test/email_delivery_events_test.go
  environments/production.sops.env
  environments/staging.sops.env
Due: go-imports

fix: preserve legacy binary kiosk check-ins
  backend/CLAUDE.md
  backend/api/iot/checkin/binary_mode_test.go
  backend/api/iot/checkin/handlers.go
  backend/database/migrations/001015226_nullable_attendance_staff.go
  backend/models/active/attendance.go
  backend/services/active/attendance_service_test.go
Due: go-imports

fix: defer notifications until transaction commit
  backend/services/notifications/service.go
  backend/services/notifications/service_test.go
  docs/notifications.md
Due: go-imports

fix(students): make scheduled audits atomic
  backend/api/server.go
  backend/models/audit/student_field_edit.go
  backend/services/scheduler/activate_students.go
  backend/services/scheduler/activate_students_audit_test.go
  backend/services/scheduler/scheduler.go
  backend/services/users/student_audit_service.go
  backend/services/users/student_audit_system_mock_test.go
Due: go-imports

fix(email): finalize submitted outbox messages
  backend/services/platform/outbox_worker.go
  backend/services/platform/outbox_worker_test.go
Due: go-imports

fix(students): align change-history audit and access
  backend/api/students/api.go
  backend/api/students/change_history_handlers.go
  backend/api/students/student_audit_departure_normalization_test.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint, go-imports

test(time-tracking): stabilize month overview fixture
  backend/services/active/staff_overview_integration_test.go
Due: go-imports

fix(education): serialize draft edits with apply and close the RFID/check-in alumnus races (#405)
  backend/api/active/checkin.go
  backend/api/students/rfid_handlers.go
  backend/services/education/grade_transition_service.go
  backend/services/users/errors.go
  backend/services/users/interface.go
  backend/services/users/person_service.go
  backend/services/users/person_service_test.go
  backend/services/users/userstest/mocks.go
Due: go-imports

fix(migrations): resolve delivery version collision
  backend/database/migrations/001015227_email_delivery_events.go
  backend/database/migrations/001015228_guardian_invitation_revocation.go
  backend/models/auth/guardian_invitation.go
Due: go-imports

feat(notifications): dispatch reminder notifications via the abstraction
  backend/api/server.go
  backend/services/scheduler/reminder_notifications.go
  backend/services/scheduler/reminder_notifications_test.go
  backend/services/scheduler/scheduler.go
  backend/test/hermetic_verification_test.go
  docs/notifications.md
Due: go-imports

fix(enrollment): close two eligibility dead ends in the enrollment form (#1663)
  backend/api/enrollment/care_offering_handlers.go
  backend/services/enrollment/grade1_class_collection_internal_test.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/lib/enrollment-submission-api.test.ts
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

fix(time-tracking): sync month close caches
  backend/api/staff/overview_api_test.go
  backend/services/active/staff_month_close_service.go
  backend/services/active/staff_month_close_service_mock_test.go
  backend/services/factory.go
  frontend/src/components/staff/zeiterfassung-tab.invalidation.test.ts
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint, go-imports

fix(enrollment): close audience-authorization gaps in enrollment eligibility (#1663)
  backend/api/parent/enrollment_handlers.go
  backend/database/repositories/parent/enrollable_phase_eligibility_test.go
  backend/database/repositories/parent/enrollable_phase_repository.go
  backend/services/enrollment/change_request_identity_eligibility_internal_test.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_eligibility_internal_test.go
Due: go-imports

fix(education): archive pre-marked presence, block alumni enrollments, narrow revert refill (#405)
  backend/api/activities/errors.go
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/models/schedule/activity_instance.go
  backend/services/activities/activity_service.go
  backend/services/activities/activity_service_test.go
  backend/services/activities/enrollment_operations.go
  backend/services/activities/errors.go
  backend/services/education/grade_transition_roster_reconcile_test.go
  backend/services/factory.go
  backend/services/schedule/roster_reconciler.go
  backend/test/fixtures.go
Due: go-imports

test(time-tracking): remove overview time flake
  backend/services/active/staff_overview_integration_test.go
Due: go-imports

fix(email): harden delivery retention and refresh status
  backend/api/webhooks/adapter.go
  backend/api/webhooks/email_delivery_test.go
  backend/database/repositories/platform/email_delivery_event_repository.go
  backend/models/platform/email_delivery_event.go
  backend/services/platform/email_delivery_service.go
  backend/services/platform/email_delivery_service_test.go
  backend/test/email_delivery_events_test.go
  frontend/src/components/guardians/student-guardian-manager.test.tsx
  frontend/src/components/guardians/student-guardian-manager.tsx
Due: frontend-lint, go-imports

fix(education): reject alumni in IoT feedback, order revert targets exactly (#405)
  backend/api/iot/data/feedback_handlers.go
  backend/api/iot/data/feedback_test.go
  frontend/src/components/database/grade-transitions/grade-transitions-manager.test.tsx
  frontend/src/components/database/grade-transitions/grade-transitions-manager.tsx
Due: frontend-lint, go-imports

fix(enrollment): align public phase listing and parent form gate with submit eligibility (#1663)
  backend/api/enrollment/care_offering_handlers.go
  backend/api/parent/enrollment_bootstrap_test.go
  backend/api/parent/enrollment_handlers.go
  backend/database/repositories/enrollment/phase_repository.go
  backend/database/repositories/enrollment/phase_repository_eligibility_test.go
  backend/database/repositories/parent/enrollable_phase_eligibility_test.go
  backend/database/repositories/parent/enrollable_phase_repository.go
  backend/models/enrollment/phase.go
  backend/models/parent/child_summary.go
  backend/services/enrollment/late_invite_audience_test.go
  backend/services/enrollment/public_bootstrap.go
  backend/services/enrollment/request_service.go
Due: go-imports

fix(time-tracking): show frozen closed-month balances
  backend/services/active/staff_overview_integration_test.go
  backend/services/active/staff_overview_service.go
  frontend/src/lib/staff-overview-api.ts
Due: frontend-lint, go-imports
