Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

feat(operator): add organization soft-delete UI and shared hook
  frontend/src/app/api/operator/provisioning/organizations/[id]/restore/route.ts
  frontend/src/app/api/operator/provisioning/organizations/[id]/route.ts
  frontend/src/app/operator/announcements/page.tsx
  frontend/src/app/operator/provisioning/edit-school-modal.test.tsx
  frontend/src/app/operator/provisioning/page.tsx
  frontend/src/app/operator/provisioning/soft-delete-shared.tsx
  frontend/src/lib/operator/provisioning-api.test.ts
  frontend/src/lib/operator/provisioning-api.ts
  frontend/src/lib/operator/provisioning-helpers.test.ts
  frontend/src/lib/operator/provisioning-helpers.ts
Due: frontend-lint

feat(operator): block soft-delete/restore modals on hierarchy conflicts
  frontend/src/app/operator/provisioning/page.tsx
  frontend/src/app/operator/provisioning/soft-delete-shared.tsx
Due: frontend-lint

test(platform): cover historical deleted-tenant announcement targets
  backend/services/platform/announcement_service_test.go
Due: go-imports

perf(platform): add partial indexes for non-deleted org/school lookups
  backend/database/migrations/001015032_add_organization_deleted_at.go
Due: go-imports

refactor(platform): extract findByIDWithLock and pin locking contract
  backend/database/repositories/platform/organization_locking_test.go
  backend/database/repositories/platform/organization_repository.go
  backend/database/repositories/platform/organization_repository_test.go
  backend/database/repositories/platform/school_repository.go
  backend/database/repositories/platform/school_repository_test.go
  backend/models/platform/organization.go
Due: go-imports

refactor(operator): extract revalidateTenantCache and parametrize modal copy
  frontend/src/app/operator/provisioning/create-school-modal.tsx
  frontend/src/app/operator/provisioning/edit-school-modal.tsx
  frontend/src/app/operator/provisioning/page.test.tsx
  frontend/src/app/operator/provisioning/page.tsx
  frontend/src/app/operator/provisioning/soft-delete-shared.tsx
  frontend/src/lib/operator/provisioning-api.ts
  frontend/src/lib/operator/provisioning-helpers.ts
Due: frontend-lint

fix: add updated_at columns and use valid year for TIME tests (WP-B5)
  backend/database/migrations/001015035_create_activity_instances.go
  backend/database/repositories/schedule/activity_instance_repo_test.go
  backend/database/repositories/schedule/instance_staff_repo_test.go
  backend/models/schedule/activity_exception.go
  backend/models/schedule/activity_exception_test.go
  backend/models/schedule/activity_instance_test.go
  backend/models/schedule/instance_staff.go
Due: go-imports

fix(operator): flip school restore button live when parent org deleted/restored
  frontend/src/app/operator/provisioning/page.tsx
Due: frontend-lint

fix: use OrderExpr for ORDER BY with quoted JOIN aliases (WP-B5)
  backend/database/repositories/schedule/instance_staff_repo.go
  backend/database/repositories/schedule/instance_student_repo.go
Due: go-imports

test: raise new-code coverage on organization soft-delete surface
  backend/api/operator/provisioning_internal_test.go
  backend/database/repositories/platform/organization_repository_test.go
  backend/database/repositories/platform/school_repository_test.go
  backend/models/platform/organization_test.go
  backend/services/platform/errors_test.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/app/api/operator/provisioning/organizations/[id]/restore/route.test.ts
  frontend/src/app/api/operator/provisioning/organizations/[id]/route.test.ts
  frontend/src/lib/operator/provisioning-api.test.ts
Due: frontend-lint, go-imports

fix(migrations): bump organization deleted_at to 1.15.35 to avoid collision
  backend/database/migrations/001015035_add_organization_deleted_at.go
Due: go-imports

fix: enforce 1:1 bridge between activity instances and active groups (WP-B5)
  backend/database/migrations/001015035_create_activity_instances.go
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/activity_instance_repo_test.go
Due: go-imports

test: cover Update, FindByID, List, and error branches (WP-B5)
  backend/database/repositories/schedule/activity_exception_repo_test.go
  backend/database/repositories/schedule/instance_staff_repo_test.go
  backend/database/repositories/schedule/instance_student_repo_test.go
Due: go-imports

fix(migrations): bump activity instances to 1.15.36 to avoid collision
  backend/database/migrations/001015036_create_activity_instances.go
Due: go-imports

refactor(settings): rename sick/excused category to "abwesenheit"
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
Due: go-imports

fix(excused): render the Entschuldigt badge everywhere the sick badge appears
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/students/pickup-day-edit-modal.test.tsx
  frontend/src/components/students/pickup-schedule-manager.tsx
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/lib/pickup-schedule-helpers.test.ts
  frontend/src/lib/pickup-schedule-helpers.ts
Due: frontend-lint

fix(active): surface sick and excused flags on visits/display endpoint
  backend/api/active/groups_handlers.go
  backend/api/active/types.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/app/api/ogs-dashboard/route.ts
  frontend/src/lib/active-helpers.ts
Due: frontend-lint, go-imports

fix(ogs-groups): add excused fields to page-local BFF student type
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.tsx
Due: frontend-lint

feat(active): make group_id nullable for spontaneous sessions (WP-B6)
  backend/api/active/active_internal_test.go
  backend/api/active/converters.go
  backend/api/active/groups_handlers.go
  backend/api/active/handlers_unit_test.go
  backend/api/active/types.go
  backend/api/common/internal_test.go
  backend/api/common/student_data_snapshot_test.go
  backend/api/common/student_locations_test.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/checkin/workflow_helpers_test.go
  backend/api/iot/data/data_test.go
  backend/api/iot/sessions/handlers.go
  backend/api/iot/sessions/helpers.go
  backend/api/iot/sessions/sessions_internal_test.go
  backend/api/iot/sessions/types.go
  backend/api/students/authorization.go
  backend/database/migrations/001015037_active_groups_nullable_group_id.go
  backend/database/repositories/active/combined_group_repository_test.go
  backend/database/repositories/active/group.go
  backend/database/repositories/active/group_mapping_repository_test.go
  backend/database/repositories/active/group_repository_test.go
  backend/database/repositories/active/group_supervisor_repository_test.go
  backend/database/repositories/active/visits.go
  backend/database/repositories/active/visits_repository_test.go
  backend/models/active/group.go
  backend/models/active/group_test.go
  backend/services/active/active_group_service_test.go
  backend/services/active/active_service.go
  backend/services/active/dashboard_helpers.go
  backend/services/active/interface.go
  backend/services/active/session_service.go
  backend/services/active/session_service_coverage_test.go
  backend/services/active/timeout_simple_test.go
  backend/services/activities/activity_service_test.go
  backend/services/facilities/schulhof_service.go
  backend/services/facilities/schulhof_service_test.go
  backend/test/fixtures.go
  frontend/src/lib/active-helpers.ts
Due: frontend-lint, go-imports

feat(settings): register 7 timetable settings (WP-B7)
  backend/models/config/keys.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/timetable.go
Due: go-imports

fix(migrations): bump excused-to-students to 1.15.37 to avoid collision
  backend/database/migrations/001015037_add_excused_to_students.go
Due: go-imports

test(scheduler): end-to-end coverage for end_of_day flag clearing
  backend/services/scheduler/scheduler_status_flag_test.go
Due: go-imports

feat(active): start activity session from the web app
  backend/api/active/api.go
  backend/api/active/errors.go
  backend/api/active/sessions_handlers.go
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/api/sse/resolve_supervisions_internal_test.go
  backend/database/migrations/001015037_active_groups_started_by.go
  backend/models/active/group.go
  backend/services/active/interface.go
  backend/services/active/session_service.go
  backend/services/active/web_session_test.go
  backend/services/scheduler/scheduler_test.go
  frontend/src/app/[tenant]/(protected)/activities/page.tsx
  frontend/src/app/api/active/sessions/start/route.ts
  frontend/src/components/active/start-supervision-modal.tsx
  frontend/src/lib/active-service.ts
Due: frontend-lint, go-imports

test(active): dereference *int64 GroupID/ActivityID in assertions
  backend/api/iot/sessions/sessions_internal_test.go
  backend/services/active/active_group_service_test.go
  backend/services/active/session_conflict_test.go
  backend/services/active/session_service_coverage_test.go
Due: go-imports

refactor(students): extract buildBaseFilter to eliminate query builder duplication
  backend/api/students/list_helpers.go
Due: go-imports

docs: mark WP-B6 and WP-B7 as shipped (#1286 merged into development)
  docs/timetable-system-plan.md
Due: none

feat(schedule): WP-B8 timetable materialization service + scheduler + manual endpoint
  backend/api/base.go
  backend/api/server.go
  backend/api/timetable/api.go
  backend/api/timetable/api_test.go
  backend/api/timetable/materialize.go
  backend/api/timetable/materialize_test.go
  backend/database/repositories/activities/group.go
  backend/models/activities/repository.go
  backend/services/factory.go
  backend/services/schedule/calendar_period_service.go
  backend/services/schedule/calendar_period_service_test.go
  backend/services/schedule/materialization_integration_test.go
  backend/services/schedule/materialization_service.go
  backend/services/schedule/materialization_service_test.go
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/scheduler_test.go
Due: go-imports

test(scheduler,activities): cover materialization scheduler + FindAllTemplates
  backend/database/repositories/activities/group_repository_test.go
  backend/services/scheduler/scheduler_test.go
Due: go-imports

docs: mark WP-B8 as shipped (#1293 merged into development)
  docs/timetable-system-plan.md
Due: none

feat(schedule): WP-B9 instance lifecycle + conflict detection + re-plan-week
  backend/api/base.go
  backend/api/server.go
  backend/api/timetable/api.go
  backend/api/timetable/api_test.go
  backend/api/timetable/instances.go
  backend/api/timetable/materialize_test.go
  backend/api/timetable/replan_week.go
  backend/realtime/events.go
  backend/services/factory.go
  backend/services/schedule/instance_conflict.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
  backend/services/scheduler/overdue_test.go
  backend/services/scheduler/scheduler.go
Due: go-imports

test(timetable,scheduler): cover WP-B9 handlers + overdue-tick paths
  backend/api/timetable/instances_test.go
  backend/services/scheduler/setters_test.go
Due: go-imports

test: exempt instances_test.go from hermetic integer-id check
  backend/test/hermetic_verification_test.go
Due: go-imports

fix(schedule): WP-B9 review fixes — absent staff, batched student check, cancel guard
  backend/services/schedule/instance_conflict.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
Due: go-imports

fix(students): stop clobbering Buskind flag on status toggles
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/lib/student-helpers.test.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint

test(checkin): pin clock in BeforeDelta gate test to remove time-of-day skip
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/checkin/helpers.go
Due: go-imports

docs: mark WP-B9 as shipped (#1294 merged into development)
  docs/timetable-system-plan.md
Due: none

feat(schedule): WP-B10 attendance sync + three-field attendance PATCH
  backend/api/base.go
  backend/api/iot/checkin/pyreportal_error_strings_test.go
  backend/api/timetable/api.go
  backend/api/timetable/api_test.go
  backend/api/timetable/instance_students.go
  backend/api/timetable/instance_students_test.go
  backend/api/timetable/instances_test.go
  backend/api/timetable/materialize_test.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/models/schedule/instance_student.go
  backend/realtime/events.go
  backend/services/active/active_service.go
  backend/services/active/attendance_syncer.go
  backend/services/active/visit_helpers.go
  backend/services/factory.go
  backend/services/schedule/attendance_sync_service.go
  backend/services/schedule/attendance_sync_service_integration_test.go
Due: go-imports

fix(schedule): WP-B10 review fixes — unified error envelope + SSE e2e test
  backend/api/common/errors.go
  backend/api/iot/checkin/pyreportal_error_strings_test.go
  backend/api/timetable/instance_students.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/services/active/attendance_sse_enrichment_test.go
  backend/services/schedule/attendance_sync_service.go
Due: go-imports

test(schedule): make BulkUpsertBySchoolClass subtests hermetic
  backend/services/schedule/arrival_service_test.go
Due: go-imports

test(wp-b10): raise coverage to ≥90% on new attendance sync code
  backend/api/common/errors_test.go
  backend/api/timetable/instance_students_unit_test.go
  backend/models/schedule/instance_student_test.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/test/hermetic_verification_test.go
Due: go-imports
