Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix: address Phase 3 review findings
  backend/api/admin/grade_transitions.go
  backend/api/database/api.go
  backend/api/import/api.go
  backend/api/time-tracking/api.go
  backend/api/users/api.go
  backend/models/education/grade_transition_history.go
  backend/models/education/grade_transition_mapping.go
  backend/services/auth/auth_login.go
  backend/services/education/grade_transition_service.go
Due: go-imports

fix: resolve tenant-context bugs on public auth routes
  backend/services/auth/auth_login.go
  backend/services/auth/invitation_service.go
  backend/services/users/guardian_service.go
  backend/tenant/tx.go
Due: go-imports

fix: guard Register flow against zero-tenant role mapping
  backend/services/auth/auth_login.go
Due: go-imports

fix: inject tenant context in device-auth and guard Register role creation
  backend/auth/device/device_auth.go
  backend/services/auth/auth_login.go
Due: go-imports

fix: handle pre-migration tokens in refresh and resolve audit tenant
  backend/services/auth/auth_login.go
  backend/services/auth/token_cleanup.go
Due: go-imports

fix: add missing SetTenantID to entity create paths
  backend/database/repositories/auth/account_permission.go
  backend/services/auth/invitation_service.go
  backend/services/auth/parent_account.go
  backend/services/auth/role_management.go
  backend/services/import/student_import_config.go
  backend/services/usercontext/usercontext_service.go
Due: go-imports

feat: add WC/toilet room auto-creation and checkout support
  backend/api/iot/checkin/wc.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/data/handlers.go
  backend/constants/activities.go
Due: go-imports

chore: remove dead code flagged by pre-push hooks
  backend/database/repositories/schedule/pickup_schedule.go
  backend/test/fixtures.go
Due: go-imports

fix: address re-review feedback — migration table name, type safety, advisory lock
  backend/api/time-tracking/api.go
  backend/database/migrations/001014002_add_tenant_id_to_all_tables.go
  backend/database/migrations/001014003_migrate_unique_constraints.go
  backend/database/migrations/001014005_create_tenant_indexes.go
  backend/services/active/session_service.go
Due: go-imports

fix: use static error strings for WC/Schulhof session errors and log WC room creation failure
  backend/api/iot/checkin/workflow.go
  backend/api/iot/data/handlers.go
Due: go-imports

feat: add tenant isolation tests for 4 domains, fix PostRepository tenant filtering, document RunInTx deviations
  backend/database/repositories/suggestions/post_repository.go
  backend/services/active/cleanup_service.go
  backend/services/auth/auth_login.go
  backend/services/auth/invitation_service.go
  backend/services/auth/password_reset.go
  backend/test/fixtures.go
  backend/test/isolation_test.go
Due: go-imports

fix: sync rooms BIGSERIAL sequence after explicit ID insert in SetupTestDB
  backend/test/helpers.go
Due: go-imports

fix: use atomic nextval loop instead of racy setval for rooms sequence sync
  backend/test/helpers.go
Due: go-imports

fix: address WC/Toilette cross-repo review findings
  backend/api/iot/checkin/schulhof.go
  backend/api/iot/checkin/wc.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/data/handlers.go
  backend/services/facilities/facility_service.go
Due: go-imports

test: add cross-tenant RowsAffected write guard tests
  backend/test/isolation_test.go
Due: go-imports

fix: wrap executeSessionStart in RunInTx so advisory lock always acquires
  backend/services/active/session_service.go
Due: go-imports

manual: seeder is test only
  CLAUDE.md
Due: none

feat: display "Toilette" instead of "WC" in frontend location strings
  frontend/src/lib/location-helper.test.ts
  frontend/src/lib/location-helper.ts
Due: frontend-lint

test: add WC auto-create integration tests for SonarQube coverage
  backend/api/iot/checkin/checkin_test.go
Due: go-imports

test: add WC/Schulhof auto-create internal tests and fix Schulhof seed collision
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/checkin/checkin_test.go
Due: go-imports

feat: complete multi-tenancy phase 4 — RLS middleware, double-prefix fix, CORS wildcards
  backend/api/active/api.go
  backend/api/activities/api.go
  backend/api/admin/grade_transitions.go
  backend/api/base.go
  backend/api/config/api.go
  backend/api/feedback/api.go
  backend/api/groups/api.go
  backend/api/guardians/api.go
  backend/api/import/api.go
  backend/api/iot/api.go
  backend/api/rooms/api.go
  backend/api/schedules/api.go
  backend/api/staff/api.go
  backend/api/students/api.go
  backend/api/substitutions/api.go
  backend/api/suggestions/api.go
  backend/api/time-tracking/api.go
  backend/api/usercontext/api.go
  backend/api/users/api.go
  backend/tenant/http_middleware.go
  backend/tenant/http_middleware_test.go
  frontend/src/env.js
  frontend/src/middleware.ts
  frontend/src/server/auth/config.ts
  frontend/src/test/setup.ts
Due: frontend-lint, go-imports

fix: resolve CI failures — test signature, proxy conflict, unused file
  backend/api/base_utility_test.go
  frontend/src/components/tenant/tenant-switcher.tsx
  frontend/src/middleware.ts
  frontend/src/proxy.ts
Due: frontend-lint, go-imports

fix: update proxy tests to import from middleware after proxy.ts removal
  frontend/src/proxy.test.ts
Due: frontend-lint

fix: remove bogus active.visits(room_id) FK and unused seed variables
  backend/database/migrations/001015002_create_composite_fks.go
  backend/seed/fixed/platform.go
Due: go-imports

chore: add find-skills and react-doctor Claude skills
  .claude/skills/find-skills/SKILL.md
  frontend/.agents/skills/react-doctor/SKILL.md
  frontend/.claude/skills/react-doctor
Due: none

fix: correct composite FK column name and update tests for tenant-prefixed routes
  backend/database/migrations/001015002_create_composite_fks.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.test.tsx
  frontend/src/app/[tenant]/(protected)/activities/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/groups/combined/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/groups/combined/new/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/teachers/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/mensa_history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room_history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/page.test.tsx
  frontend/src/components/auth/smart-redirect.test.tsx
  frontend/src/components/dashboard/responsive-layout.test.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/ui/back-button.test.tsx
Due: frontend-lint, go-imports

fix: correct session_id column name for audit.work_session_edits composite FK
  backend/database/migrations/001015002_create_composite_fks.go
Due: go-imports

fix: enforce explicit tenant_id on all insert paths and update tests for RLS
  backend/api/active/active_test.go
  backend/api/active/handlers_integration_test.go
  backend/api/activities/activities_test.go
  backend/api/auth/auth_test.go
  backend/api/groups/groups_test.go
  backend/api/iot/attendance/attendance_test.go
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/devices/devices_test.go
  backend/api/iot/sessions/sessions_test.go
  backend/api/testutil/helpers.go
  backend/database/repositories/active/group_mapping.go
  backend/database/repositories/audit/auth_event.go
  backend/database/repositories/audit/data_import.go
  backend/database/repositories/audit/work_session_edit.go
  backend/database/repositories/auth/account_parent.go
  backend/database/repositories/auth/account_permission.go
  backend/database/repositories/auth/account_role.go
  backend/database/repositories/auth/guardian_invitation.go
  backend/database/repositories/auth/token.go
  backend/database/repositories/base/base.go
  backend/database/repositories/base/tenant_db.go
  backend/database/repositories/education/grade_transition.go
  backend/database/repositories/schedule/pickup_schedule.go
  backend/database/repositories/suggestions/comment_read_repository.go
  backend/database/repositories/suggestions/comment_repository.go
  backend/database/repositories/suggestions/post_read_repository.go
  backend/database/repositories/suggestions/post_repository.go
  backend/database/repositories/suggestions/vote_repository.go
  backend/database/repositories/users/guardian_phone.go
  backend/database/repositories/users/guardian_profile.go
  backend/models/base/tenant.go
  backend/test/fixtures.go
Due: go-imports

feat: make activities.groups.created_by nullable for system-created WC/Schulhof groups
  backend/api/activities/api.go
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/schulhof.go
  backend/api/iot/checkin/wc.go
  backend/database/migrations/001012007_activities_groups_created_by_nullable.go
  backend/database/migrations/00_migrations.go
  backend/database/migrations/reset.go
  backend/database/repositories/activities/group_repository_test.go
  backend/models/activities/group.go
  backend/models/activities/group_test.go
  backend/seed/fixed/activities.go
  backend/services/activities/activity_service.go
  backend/services/activities/activity_service_test.go
  backend/services/facilities/schulhof_service.go
  backend/test/fixtures.go
Due: go-imports

fix: add missing tenant_id to test INSERTs and ensure test tenant in SetupTestDB
  backend/database/repositories/active/visits_repository_test.go
  backend/database/repositories/auth/account_repository_test.go
  backend/database/repositories/auth/invitation_token_test.go
  backend/database/repositories/auth/permission_repository_test.go
  backend/database/repositories/auth/role_repository_test.go
  backend/database/repositories/auth/token_repository_test.go
  backend/database/repositories/users/person_guardian_repository_test.go
  backend/services/active/cleanup_service_test.go
  backend/services/active/cleanup_supervisors_test.go
  backend/services/schedule/pickup_schedule_service.go
  backend/test/helpers.go
  backend/test/hermetic_verification_test.go
Due: go-imports

fix: invalidate ogs-students SWR cache on SSE checkout events
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

fix: broadcast SSE event on daily checkout so OGS Groups page updates in real time
  backend/api/iot/attendance/handlers.go
  backend/services/active/attendance_service.go
  backend/services/active/interface.go
  backend/services/scheduler/scheduler_test.go
Due: go-imports

fix: invalidate ogs-students cache for daily checkout events without group ID
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

test: add coverage for BroadcastDailyCheckout and daily checkout SSE cache invalidation
  backend/services/active/attendance_service_test.go
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
Due: frontend-lint, go-imports

test: cover nil-broadcaster guard and mutate rejection error handlers
  backend/services/active/attendance_service_test.go
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
Due: frontend-lint, go-imports

fix: add SetTenantID to direct BUN inserts and inject tenant in device context
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/data/data_test.go
  backend/api/schedules/schedules_test.go
  backend/api/students/pickup_schedule_handlers_test.go
  backend/api/suggestions/api_test.go
  backend/api/suggestions/comments_test.go
  backend/api/testutil/helpers.go
  backend/database/repositories/active/group_repository_test.go
  backend/database/repositories/activities/group_repository_test.go
  backend/database/repositories/activities/schedule_repository_test.go
  backend/database/repositories/activities/student_enrollment_repository_test.go
  backend/database/repositories/activities/supervisor_planned_repository_test.go
  backend/database/repositories/auth/guardian_invitation_repository_test.go
  backend/database/repositories/base/base_test.go
  backend/database/repositories/suggestions/comment_repository_test.go
  backend/database/repositories/suggestions/post_repository_test.go
  backend/database/repositories/users/person_guardian_repository_test.go
  backend/database/repositories/users/student_guardian_test.go
  backend/services/active/session_service_coverage_test.go
  backend/services/active/timeout_simple_test.go
  backend/services/active/visit_helpers_test.go
  backend/services/activities/activity_service_test.go
  backend/services/config/config_service_test.go
  backend/services/feedback/feedback_service_test.go
  backend/services/schedule/schedule_service_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.test.tsx
  frontend/src/app/[tenant]/(protected)/activities/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/groups/combined/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/groups/combined/new/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/mensa_history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room_history/page.test.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
Due: frontend-lint, go-imports
