Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

test: add CountByIDs integration tests for org and school repositories
  backend/database/repositories/platform/organization_repository_test.go
  backend/database/repositories/platform/school_repository_test.go
Due: go-imports

fix: save on blur instead of every keystroke, clean German error messages
  frontend/src/components/settings/fields/number-field.tsx
  frontend/src/components/settings/fields/text-field.tsx
  frontend/src/components/settings/fields/time-field.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/lib/settings-api.ts
Due: frontend-lint

fix: allow clearing number fields before typing new value
  frontend/src/components/settings/fields/number-field.tsx
Due: frontend-lint

fix: device PIN resolution needs tenant transaction for RLS
  backend/auth/device/device_auth.go
  backend/services/config/settings_interface.go
  backend/services/config/settings_service.go
Due: go-imports

feat: add triple-confirm dialog for school deletion
  frontend/src/app/operator/provisioning/page.tsx
Due: frontend-lint

test: add tests for school deletion triple-confirm dialog
  frontend/src/app/operator/provisioning/page.test.tsx
Due: frontend-lint

fix: resolve migration version collisions and add duplicate version detection
  .github/workflows/lint.yml
  backend/cmd/migrate.go
  backend/database/migrations/001006017_add_position_to_invitation_tokens.go
  backend/database/migrations/001006018_add_pickup_status_to_students.go
  backend/database/migrations/001006021_restrict_substitution_permissions_to_admin.go
  backend/database/migrations/001007006_grade_transitions.go
  backend/database/migrations/001007007_grade_transition_permissions.go
  backend/database/migrations/001015021_add_school_deleted_at.go
  backend/database/migrations/001015022_announcement_org_tenant_targeting.go
  backend/database/migrations/00_migrations.go
  backend/database/migrations/migrations_test.go
Due: go-imports

fix: add remediation migration for schema changes lost to version collisions
  backend/database/migrations/001015023_remediate_lost_collision_migrations.go
Due: go-imports

fix: harden migration collision remediation
  backend/database/migrations/001015021_add_school_deleted_at.go
  backend/database/migrations/001015023_remediate_lost_collision_migrations.go
  backend/database/migrations/00_migrations.go
  backend/database/migrations/migrations_test.go
Due: go-imports

fix: resolve legacy bun migration name collisions
  backend/database/migrations/0010060171_add_position_to_invitation_tokens.go
  backend/database/migrations/0010060181_add_pickup_status_to_students.go
  backend/database/migrations/0010070061_grade_transitions.go
  backend/database/migrations/0010070071_grade_transition_permissions.go
  backend/database/migrations/00_migrations.go
  backend/database/migrations/migrations_test.go
Due: go-imports

Integrate @moto-nrw/design-system into login page
  .grepai/index.gob
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/[tenant]/page.tsx
Due: frontend-lint

fix: add missing Next.js route handlers for operator persons
  frontend/src/app/api/operator/provisioning/persons/[id]/route.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/persons/route.ts
Due: frontend-lint

fix: preserve encoded operator provisioning ids
  frontend/src/app/api/operator/provisioning/persons/[id]/route.test.ts
  frontend/src/app/api/operator/provisioning/persons/[id]/route.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/persons/route.test.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/persons/route.ts
  frontend/src/lib/route-wrapper-utils.ts
Due: frontend-lint

Integrate design system: Tailwind preset only
  frontend/src/app/[tenant]/page.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

fix: add design-system to knip ignoreDependencies (CSS-only import)
  frontend/package.json
Due: none

fix: implement org/tenant targeting for announcements and add error feedback
  backend/api/operator/announcements.go
  backend/database/migrations/001015021_announcement_org_tenant_targeting.go
  backend/database/repositories/platform/announcement_targeting_test.go
  backend/database/repositories/platform/announcement_view_repository.go
  backend/database/repositories/platform/school_repository.go
  backend/models/platform/repository.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/platform/announcement_service_test.go
  backend/services/platform/operator_provisioning_service_internal_test.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/app/operator/announcements/page.test.tsx
  frontend/src/app/operator/announcements/page.tsx
  frontend/src/lib/operator/announcements-helpers.test.ts
Due: frontend-lint, go-imports

fix: address review issues in announcement targeting
  backend/api/platform/announcements_test.go
  backend/database/repositories/platform/announcement_view_repository.go
  backend/database/repositories/platform/school_repository.go
  backend/services/platform/announcement_service_test.go
  backend/services/platform/test_mocks_test.go
  frontend/src/app/operator/announcements/page.tsx
Due: frontend-lint, go-imports

fix: resolve duplicate declarations and update test signatures after merge
  backend/api/platform/announcements_test.go
  backend/database/repositories/platform/announcement_targeting_test.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/platform/operator_provisioning_service_internal_test.go
  backend/services/platform/operator_provisioning_service_test.go
Due: go-imports

fix: inline field errors and client-side validation for settings
  frontend/src/components/settings/settings-category.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/lib/settings-api.ts
Due: frontend-lint

fix: resolve empty-roles SQL crash, soft-delete filtering, and validation gaps
  backend/database/migrations/001015021_announcement_org_tenant_targeting.go
  backend/database/migrations/001015022_announcement_org_tenant_targeting.go
  backend/database/repositories/platform/announcement_view_repository.go
  backend/models/platform/announcement.go
  backend/services/platform/announcement_service.go
  frontend/src/app/operator/announcements/page.tsx
Due: frontend-lint, go-imports

fix: resolve review issues — extract shared filter, fix GetStats global count, deduplicate rebase artifacts
  backend/api/platform/announcements_test.go
  backend/database/repositories/platform/announcement_view_repository.go
  backend/database/repositories/platform/school_repository.go
  backend/services/platform/announcement_service.go
  frontend/src/app/operator/announcements/page.tsx
Due: frontend-lint, go-imports

fix: add soft-delete and roles+targeting tests, remove redundant nil coercion
  backend/api/operator/announcements.go
  backend/database/repositories/platform/announcement_targeting_test.go
  backend/database/repositories/platform/announcement_view_repository_test.go
Due: go-imports

fix: review fixes — real test assertion, stable useEffect dep, export MaxTargetIDs
  backend/database/repositories/platform/announcement_view_repository_test.go
  backend/models/platform/announcement.go
  frontend/src/app/operator/announcements/page.tsx
Due: frontend-lint, go-imports

fix: replace fmt.Sprintf SQL interpolation with pgdialect.Array overlap operator
  backend/database/repositories/platform/announcement_view_repository.go
Due: go-imports

refactor: remove dead theme files and legacy brand colors
  README.md
  frontend/src/lib/index.ts
  frontend/src/lib/tailwind-theme.test.ts
  frontend/src/lib/tailwind-theme.ts
  frontend/src/lib/theme.test.ts
  frontend/src/lib/theme.ts
  frontend/src/styles/globals.css
  frontend/tailwind.config.ts
Due: frontend-lint

fix: protect virtual system devices from modification and deletion
  backend/api/iot/common/errors.go
  backend/database/repositories/iot/device.go
  backend/models/iot/device.go
  backend/services/iot/errors.go
  backend/services/iot/iot_service.go
  backend/services/platform/operator_provisioning_service.go
  backend/test/fixtures.go
Due: go-imports

test: add frontend coverage for toast feedback, save/delete/publish, and tenant pruning
  frontend/src/app/operator/announcements/page.test.tsx
Due: frontend-lint

chore: add Ganztagshelden logo SVG and update README
  README.md
  frontend/public/images/ganztagshelden-logo.svg
Due: none

fix: use PNG logo in README for GitHub compatibility
  README.md
  frontend/public/images/ganztagshelden-logo.png
Due: none

fix: fix SVG logo rendering on GitHub
  README.md
  frontend/public/images/ganztagshelden-logo.svg
Due: none

test: add coverage for virtual device protection guards
  backend/api/iot/common/errors_test.go
  backend/database/repositories/iot/device_repository_test.go
  backend/services/iot/iot_service_test.go
Due: go-imports

fix: protect only reserved web manual device
  backend/database/repositories/iot/device.go
  backend/database/repositories/iot/device_repository_test.go
  backend/models/iot/device.go
  backend/services/active/visit_helpers.go
  backend/services/iot/iot_service.go
  backend/services/iot/iot_service_test.go
  backend/services/platform/operator_provisioning_service.go
  backend/test/fixtures.go
Due: go-imports

fix: address P1 review issues — CountByIDs soft-delete and toast ordering
  backend/database/repositories/platform/school_repository.go
  frontend/src/app/operator/announcements/page.tsx
Due: frontend-lint, go-imports

fix: demote sql.ErrNoRows to debug level in query hook
  backend/database/query_hook.go
Due: go-imports

fix: update tests for new DeviceAuthenticator and checkin signatures
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/checkin/checkin_test.go
  backend/auth/device/device_auth_test.go
Due: go-imports

fix: simplify nil check for setting value (staticcheck S1009)
  backend/models/config/setting_value.go
Due: go-imports

fix: address P2 review issues — best-effort mutate() and safe tenant pruning
  frontend/src/app/operator/announcements/page.tsx
Due: frontend-lint

test: add coverage for revalidation failure and soft-deleted tenant pruning
  frontend/src/app/operator/announcements/page.test.tsx
Due: frontend-lint

feat: separate profile page from workspace settings
  frontend/src/app/[tenant]/(protected)/profile/page.test.tsx
  frontend/src/app/[tenant]/(protected)/profile/page.tsx
  frontend/src/app/[tenant]/(protected)/settings/page.test.tsx
  frontend/src/app/[tenant]/(protected)/settings/page.tsx
  frontend/src/app/operator/settings/page.test.tsx
  frontend/src/app/operator/settings/page.tsx
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/profile-dropdown.test.tsx
  frontend/src/components/dashboard/header/profile-dropdown.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/shared/settings-layout.tsx
  frontend/src/components/ui/logout-modal.test.tsx
  frontend/src/lib/shell-auth-context.test.tsx
  frontend/src/lib/shell-auth-context.tsx
Due: frontend-lint
