Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

test(platform): draw organization and school fixture IDs from the tenant band instead of the wall clock
  backend/database/repositories/platform/operator_summaries_pwa_usage_test.go
  backend/database/repositories/platform/operator_summaries_repository_test.go
  backend/database/repositories/platform/school_repository_test.go
Due: go-imports

chore(architecture): register open-room-move at policy epoch 11
  backend/architecture/policy.json
  docs/adr/0018-open-room-move-is-an-application-workflow.md
Due: none

fix: keep kiosk Schulhof labelled and independent-stay rooms free
  backend/modules/studentpresence/compose/open_room_sessions_test.go
  backend/modules/studentpresence/inbound/presence/supervision_dashboard_open_rooms_test.go
  backend/modules/studentpresence/internal/adapters/postgres/open_room_sessions.go
  backend/modules/studentpresence/internal/ports/open_room_sessions.go
  backend/modules/studentpresence/open_room_sessions.go
  backend/modules/supervisiondashboard/open_rooms.go
  backend/modules/supervisiondashboard/ports.go
  backend/modules/supervisiondashboard/supervisiondashboard.go
  backend/services/open_room_session_presence.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/components/active-supervisions/view-model.test.ts
  frontend/src/components/active-supervisions/view-model.ts
Due: frontend-lint, go-imports

fix(parents): promise the participation days only where the meal registration is on
  frontend/src/components/parent/parent-meal-plan-page.test.tsx
  frontend/src/components/parent/parent-meal-plan-page.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/pl.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/i18n/messages/tr.json
  frontend/src/i18n/messages/uk.json
Due: frontend-lint

fix(parents): hide meal subtitle until week loads
  frontend/src/components/parent/parent-meal-plan-page.test.tsx
  frontend/src/components/parent/parent-meal-plan-page.tsx
Due: frontend-lint

feat(ui): dichte Darstellung auf kleinen und flachen Bildschirmen
  frontend/src/components/ui/TENANT-PAGE-SPEC.md
  frontend/src/components/ui/data-table.tsx
  frontend/src/components/ui/info-card.tsx
  frontend/src/components/ui/portal-shell.tsx
  frontend/src/components/ui/section-card.tsx
  frontend/src/components/ui/stat-card.tsx
  frontend/src/components/ui/tenant-page.tsx
  frontend/src/components/ui/tile-card.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

fix(permissions): show every permission in German
  backend/auth/authorize/permissions/catalog.json
  backend/auth/authorize/permissions/constants.go
  backend/test/permission_catalog_test.go
  frontend/src/components/database/configs/permissions.config.tsx
  frontend/src/components/permissions/permissions-master-detail.tsx
  frontend/src/components/roles/role-permissions-tab.tsx
  frontend/src/lib/permission-labels.test.ts
  frontend/src/lib/permission-labels.ts
Due: frontend-lint, go-imports

fix(permissions): localize role editor descriptions
  frontend/src/components/roles/role-permissions-tab.tsx
  frontend/src/lib/permission-labels.test.ts
Due: frontend-lint

test(permissions): mock localized role descriptions
  frontend/src/components/roles/role-permissions-tab.test.tsx
Due: frontend-lint

test(permissions): ignore database collation in catalog check
  backend/test/permission_catalog_test.go
Due: go-imports

fix(ui): Reiterhöhe im kompakten Mehr-Menü angleichen
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix: join only independent room stays and lock rooms after presence
  backend/services/active/active_service.go
  backend/services/active/open_room_session_test.go
  backend/services/active/session_service.go
  backend/services/active/session_service_internal_test.go
  backend/workflows/openroommove/internal/application/command.go
  backend/workflows/openroommove/internal/application/command_test.go
  backend/workflows/openroommove/ports/ports.go
Due: go-imports

fix: treat joinable independent stays as no kiosk preflight conflict
  backend/services/active/open_room_session_test.go
  backend/services/active/session_service.go
  backend/services/active/session_service_internal_test.go
Due: go-imports

fix(enrollment): return stable codes and German text for duplicate phase names
  backend/api/enrollment/phase_handlers.go
  backend/api/enrollment/phase_handlers_test.go
  frontend/src/lib/enrollment-error-messages.test.ts
  frontend/src/lib/enrollment-error-messages.ts
Due: frontend-lint, go-imports

fix(enrollment): use Sie-Form for the new phase conflict messages
  frontend/src/lib/enrollment-error-messages.test.ts
  frontend/src/lib/enrollment-error-messages.ts
Due: frontend-lint

fix(enrollment): keep the phase name message module-private
  frontend/src/lib/enrollment-error-messages.ts
Due: frontend-lint

feat(settings): switch the Team-Chat on by default
  backend/api/auth/types.go
  backend/modules/communication/http/staffmessages/school_routes_test.go
  backend/modules/communication/internal/staffmessages/service.go
  backend/seed/api/seed_staff_messaging.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/messaging/team-chat-inbox.tsx
  frontend/src/components/messaging/team-chat-thread.tsx
  frontend/src/components/school/shell/school-nav-items.ts
  frontend/src/components/school/shell/school-sidebar.tsx
  frontend/src/lib/tenant-api.ts
  frontend/src/test/setup.ts
Due: frontend-lint, go-imports

docs: Screenshots für PR #3264
  screenshots-pr3264/01-vorher-roher-sql-fehler.png
  screenshots-pr3264/02-nachher-deutsche-meldung.png
Due: none

docs(architecture): tighten the user-context relocation notes after review
  .claude/rules/backend-conventions.md
  backend/architecture/README.md
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

chore(architecture): drop stale usercontext constructor inventory records
  backend/architecture/composition.json
Due: none

fix(presence): keep the context tenant runtime when the factory passes none
  backend/modules/studentpresence/legacy/services/active/options.go
  backend/tenant/runtime.go
Due: go-imports

docs(help): clarify team chat default
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

feat(workforce): Urlaub direkt eintragen, Kontingente nie ins Minus (#3256)
  backend/api/absence-types/api.go
  backend/database/migrations/001015388_absence_allowance_always_block.go
  backend/models/active/staff_absence_type.go
  backend/modules/workforce/absence.go
  backend/modules/workforce/compose/absence_allowance_floor_test.go
  backend/modules/workforce/compose/absence_allowance_legacy_contract_test.go
  backend/modules/workforce/compose/absence_allowance_preview_test.go
  backend/modules/workforce/compose/absence_allowance_write_test.go
  backend/modules/workforce/compose/absence_engine.go
  backend/modules/workforce/compose/absence_type_creation_test.go
  backend/modules/workforce/compose/absence_type_update_test.go
  backend/modules/workforce/inbound/absence_allowance_isolation_test.go
  backend/modules/workforce/inbound/absence_types_query_test.go
  backend/modules/workforce/inbound/absencetypes_test.go
  backend/modules/workforce/inbound/timetracking/errors.go
  backend/modules/workforce/inbound/timetracking/staff_admin_absence_admin_test.go
  backend/modules/workforce/inbound/timetracking/staff_admin_sessions.go
  backend/modules/workforce/internal/adapters/postgres/absence_store.go
  backend/modules/workforce/internal/application/absence.go
  backend/modules/workforce/internal/application/absence_allowance.go
  backend/modules/workforce/internal/domain/absence.go
  backend/modules/workforce/legacy/timetracking/staff_absence_service.go
  backend/modules/workforce/legacy/timetracking/staff_absence_vacation_quota_test.go
  backend/modules/workforce/timetracking.go
  backend/seed/api/seed_time_tracking.go
  backend/services/workforce_absence_type_reader.go
  backend/services/workforce_time_tracking.go
  backend/test/fixtures_staff_absence.go
Due: go-imports

feat(staff): Kontingente je Person sehen, ändern und direkt buchen (#3256)
  frontend/public/help/screens/mitarbeiter-kontingente.webp
  frontend/src/app/[tenant]/(protected)/database/absence-types/page.tsx
  frontend/src/app/api/staff/absence-types/[absenceTypeId]/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/absence-booking-modal.test.tsx
  frontend/src/components/staff/absence-booking-modal.tsx
  frontend/src/components/staff/abwesenheiten-tab.allowances.test.tsx
  frontend/src/components/staff/abwesenheiten-tab.quota.test.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/comp-time-preview.tsx
  frontend/src/components/staff/custom-allowance-editor.tsx
  frontend/src/components/staff/custom-allowance-modals.tsx
  frontend/src/components/staff/sick-report-modal.test.tsx
  frontend/src/components/staff/sick-report-modal.tsx
  frontend/src/components/staff/use-absence-type-options.test.tsx
  frontend/src/components/staff/use-absence-type-options.ts
  frontend/src/components/time-tracking/vacation-request-modal.test.tsx
  frontend/src/components/time-tracking/vacation-request-modal.tsx
  frontend/src/lib/absence-type-api.test.ts
  frontend/src/lib/absence-type-api.ts
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-api.ts
Due: frontend-lint

feat(workforce): Urlaubsanspruch nur mit Begründung ändern, im Änderungsprotokoll (#3256)
  backend/architecture/policy.json
  backend/database/migrations/001015389_vacation_quota_changes.go
  backend/database/repositories/audit/time_tracking_audit_log.go
  backend/models/active/staff_vacation_quota.go
  backend/models/audit/time_tracking_audit_log.go
  backend/modules/workforce/compose/worksession_engine.go
  backend/modules/workforce/inbound/timetracking/api_test.go
  backend/modules/workforce/inbound/timetracking/staff_admin_absence_admin_test.go
  backend/modules/workforce/inbound/timetracking/staff_admin_schedule_api_test.go
  backend/modules/workforce/inbound/timetracking/staff_admin_sessions.go
  backend/modules/workforce/internal/adapters/postgres/worksession_store.go
  backend/modules/workforce/internal/domain/worksession.go
  backend/modules/workforce/legacy/timetracking/staff_absence_service.go
  backend/modules/workforce/legacy/worksession_repositories.go
  backend/modules/workforce/timetracking.go
  backend/modules/workforce/worksession.go
  backend/seed/api/seed_time_tracking.go
  backend/services/workforce_time_tracking.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/abwesenheiten-tab.quota.test.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/staff-audit-log.tsx
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-api.ts
  frontend/src/lib/staff-audit-log-api.ts
Due: frontend-lint, go-imports

refactor(identity-access): keep the school metadata gate and permission set byte-identical (#3251)
  backend/modules/identityaccess/internal/adapters/postgres/account_login.go
  backend/modules/identityaccess/internal/application/school_login.go
Due: go-imports

chore(identity-access): drop the unreachable not-found adapter helper (#3251)
  backend/database/repositories/auth/adapter_errors.go
Due: go-imports

fix(aufsicht): keep the caller's block roster in a released room with several sessions
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/components/active-supervisions/planned-now-section.test.tsx
  frontend/src/components/active-supervisions/planned-now-section.tsx
  frontend/src/components/active-supervisions/view-model.test.ts
  frontend/src/components/active-supervisions/view-model.ts
Due: frontend-lint

docs: Screenshots für PR #3272
  screenshots-pr3272/01-schulhof-roster-vorher-nachher.jpg
Due: none

fix(workforce): recover absence booking retries
  backend/modules/workforce/inbound/timetracking/staff_admin_absence_admin_test.go
  backend/modules/workforce/inbound/timetracking/staff_admin_sessions.go
  frontend/src/components/staff/absence-booking-modal.test.tsx
  frontend/src/components/staff/absence-booking-modal.tsx
Due: frontend-lint, go-imports

fix(rooms): Freigabe „Offener Raum“ durch den Raum-Proxy durchreichen
  frontend/src/app/api/rooms/[id]/route.test.ts
  frontend/src/app/api/rooms/[id]/route.ts
Due: frontend-lint

refactor: use the shared test pointer helper and record the copied shift helpers as debt
  backend/architecture/README.md
  backend/modules/workforce/legacy/shiftplanning/staff_shift_flexible_changes_mock_test.go
  backend/modules/workforce/legacy/shiftplanning/staff_shift_service_mock_test.go
  backend/services/schedule/pointer_helpers_internal_test.go
  backend/services/schedule/template_offering_source_unit_test.go
Due: go-imports

docs(adr): Raumfreigabe als Entscheidung der Schule, Blockbetrieb im offenen Raum
  CONTEXT.md
  docs/adr/0019-open-room-release-is-a-school-decision.md
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
