Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

test: add comprehensive tests for lib/file-upload-wrapper.ts
  TASK.md
  frontend/src/lib/file-upload-wrapper.test.ts
Due: frontend-lint

test: add comprehensive tests for lib/password-validation.ts
  TASK.md
  frontend/src/lib/password-validation.test.ts
Due: frontend-lint

test: add comprehensive tests for lib/usercontext-context.tsx
  TASK.md
  frontend/src/lib/usercontext-context.test.tsx
Due: frontend-lint

test: add comprehensive tests for lib/database/
  TASK.md
  frontend/src/lib/database/service-factory.test.ts
  frontend/src/lib/database/types.test.ts
Due: frontend-lint

test: add comprehensive tests for lib/auth-utils.ts
  TASK.md
  frontend/src/lib/auth-utils.test.ts
Due: frontend-lint

test: add coverage for components/auth/
  TASK.md
  frontend/src/components/auth/betterauth-invitation-form.test.tsx
  frontend/src/components/auth/index.test.ts
  frontend/src/components/auth/org-selection.test.tsx
  frontend/src/components/auth/role-permission-management-modal.test.tsx
Due: frontend-lint

test: add coverage for components/admin/
  frontend/src/components/admin/__tests__/betterauth-invitation-create-form.test.tsx
  frontend/src/components/admin/__tests__/betterauth-pending-invitations-list.test.tsx
Due: frontend-lint

test: add coverage for components/console/
  frontend/src/components/console/__tests__/organization-invite-form.test.tsx
Due: frontend-lint

test: add coverage for components/ui/
  TASK.md
  frontend/src/components/ui/badge.test.tsx
  frontend/src/components/ui/card.test.tsx
  frontend/src/components/ui/logout-modal.test.tsx
Due: frontend-lint

test: add coverage for components/auth-wrapper.tsx
  TASK.md
  frontend/src/components/auth-wrapper.test.tsx
Due: frontend-lint

test: add test coverage for guardian phone numbers
  backend/models/users/guardian_phone_test.go
  frontend/src/lib/guardian-helpers.test.ts
Due: frontend-lint, go-imports

fix(frontend): guard confetti setTimeout against unmounted component
  frontend/src/app/page.tsx
Due: frontend-lint

fix(frontend): check typeof document in confetti setTimeout
  frontend/src/app/page.tsx
Due: frontend-lint

test: expand guardian phone numbers test coverage
  backend/api/guardians/guardians_test.go
  backend/database/repositories/users/guardian_phone_repository_test.go
  backend/services/users/guardian_service_test.go
  frontend/src/components/guardians/student-guardian-manager.test.tsx
  frontend/src/lib/guardian-api.test.ts
Due: frontend-lint, go-imports

fix(test): use valid phone number format in repository tests
  backend/database/repositories/users/guardian_phone_repository_test.go
Due: go-imports

fix(ci): enable frontend coverage generation
  .github/workflows/test.yml
Due: none

refactor: extract shared import parsing logic to reduce duplication
  backend/services/import/csv_parser.go
  backend/services/import/helpers.go
  backend/services/import/xlsx_parser.go
Due: go-imports

refactor: reduce code duplication in guardian phone handlers
  backend/api/guardians/handlers.go
  backend/database/repositories/users/guardian_phone.go
  backend/seed/fixed/students.go
  backend/services/users/guardian_service.go
Due: go-imports

refactor: fix 11 SonarQube code quality issues
  backend/services/factory.go
  backend/services/import/student_import_config.go
  frontend/src/components/guardians/guardian-form-modal.tsx
  frontend/src/components/guardians/student-guardian-manager.tsx
  frontend/src/components/simple/student/ModernContactActions.tsx
Due: frontend-lint, go-imports

refactor: fix 5 remaining SonarQube code smells
  frontend/src/components/guardians/guardian-form-modal.tsx
  frontend/src/components/guardians/student-guardian-manager.tsx
Due: frontend-lint

test: add coverage for components/auth-wrapper.tsx
  TASK.md
Due: none

test: add coverage for components/teachers/teacher-edit-modal.tsx
  frontend/src/components/teachers/teacher-edit-modal.test.tsx
Due: frontend-lint

test: add coverage for app/api routes
  frontend/src/app/api/auth/[...betterauth]/route.test.ts
  frontend/src/app/api/database/counts/route.test.ts
  frontend/src/app/api/health/route.test.ts
  frontend/src/app/api/sse/events/route.test.ts
  frontend/src/app/api/test/route.test.ts
  frontend/src/components/teachers/teacher-permission-management-modal.test.tsx
Due: frontend-lint

test: add coverage for app/(auth)/ components
  frontend/src/app/(auth)/__tests__/loading.test.tsx
  frontend/src/app/(auth)/console/__tests__/login.test.tsx
  frontend/src/app/(auth)/console/__tests__/page.test.tsx
Due: frontend-lint

chore: mark app/(auth)/ coverage as complete
  TASK.md
Due: none

test: add coverage for app/(public)/ pages
  frontend/src/app/(public)/accept-invitation/[id]/__tests__/page.test.tsx
  frontend/src/app/(public)/signup/__tests__/page.test.tsx
  frontend/src/app/(public)/signup/__tests__/pending.test.tsx
Due: frontend-lint

test: add coverage for app/login/page.tsx
  TASK.md
  frontend/src/app/login/page.test.tsx
Due: frontend-lint

test: add coverage for app/database/ pages
  frontend/src/app/database/devices/page.test.tsx
  frontend/src/app/database/groups/combined/[id]/page.test.tsx
  frontend/src/app/database/groups/combined/new/page.test.tsx
  frontend/src/app/database/groups/combined/page.test.tsx
Due: frontend-lint

test: add comprehensive coverage for app/page.tsx
  TASK.md
  frontend/src/app/page.test.tsx
Due: frontend-lint

test: add coverage for app/invitations/page.tsx
  TASK.md
  frontend/src/app/invitations/__tests__/page.test.tsx
Due: frontend-lint

test: add coverage for app/settings/page.tsx
  TASK.md
  frontend/src/app/settings/page.test.tsx
Due: frontend-lint

chore: mark all coverage items complete in TASK.md
  TASK.md
Due: none

fix: add BetterAuth coverage reporting to SonarQube
  .github/workflows/test.yml
  betterauth/vitest.config.ts
  sonar-project.properties
Due: none

fix: transform coverage paths for SonarCloud detection
  .github/workflows/test.yml
Due: none

fix: add explicit test:coverage script for frontend
  .github/workflows/test.yml
  frontend/package.json
Due: none

fix: flaky test waiting for switches before permissions loaded
  frontend/src/components/auth/role-permission-management-modal.test.tsx
Due: frontend-lint

fix: another flaky test in role-permission-management-modal
  frontend/src/components/auth/role-permission-management-modal.test.tsx
Due: frontend-lint

fix: use replaceAll instead of replace for SonarCloud compliance
  frontend/src/lib/slug-validation.ts
Due: frontend-lint

fix: use replaceAll instead of replace for SonarCloud compliance
  frontend/src/components/console/organization-invite-form.tsx
  frontend/src/components/ui/card.tsx
Due: frontend-lint

fix: address SonarCloud reliability issues
  betterauth/src/index.ts
  frontend/src/app/(auth)/console/page.tsx
  frontend/src/app/(public)/signup/pending/page.tsx
  frontend/src/components/admin/betterauth-invitation-create-form.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
