Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

feat: add calendar appointment lifecycle (edit, cancel, delete)
  backend/api/calendar/api.go
  backend/api/calendar/api_test.go
  backend/database/repositories/calendar/appointment_repository.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/app/api/calendar/appointments/[appointmentId]/cancel/route.ts
  frontend/src/app/api/calendar/appointments/[appointmentId]/occurrences/[occurrenceDate]/cancel/route.ts
  frontend/src/app/api/calendar/appointments/[appointmentId]/route.ts
  frontend/src/components/calendar/personal-calendar.tsx
  frontend/src/lib/personal-calendar-api.ts
Due: frontend-lint, go-imports

feat: notify guardians by email on appointment publish/update/cancel
  backend/api/calendar/api.go
  backend/models/platform/email_outbox.go
  backend/services/calendar/email.go
  backend/services/calendar/notifications.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  backend/services/factory.go
  backend/templates/email/appointment-notification.html
  backend/templates/email/appointment_notification_test.go
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/lib/personal-calendar-api.ts
Due: frontend-lint, go-imports

feat: add .ics export ("Zum Kalender hinzufügen") for appointments
  backend/api/calendar/api.go
  backend/api/calendar/api_test.go
  backend/api/parent/api.go
  backend/api/parent/calendar_handlers.go
  backend/api/parent/calendar_handlers_test.go
  backend/internal/ical/ical.go
  backend/internal/ical/ical_test.go
  backend/services/calendar/ics.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/app/api/calendar/appointments/[appointmentId]/ics/route.ts
  frontend/src/app/api/parent/calendar/appointments/[appointmentId]/ics/route.ts
  frontend/src/app/parents/calendar/page.tsx
  frontend/src/components/calendar/personal-calendar.tsx
Due: frontend-lint, go-imports

feat: parent iCalendar subscription feed ("Kalender abonnieren")
  backend/api/base.go
  backend/api/calendar/api_test.go
  backend/api/parent/api.go
  backend/api/parent/calendar_handlers.go
  backend/api/parent/calendar_handlers_test.go
  backend/database/migrations/001015203_calendar_feed_token.go
  backend/database/repositories/auth/accounts.go
  backend/models/auth/account.go
  backend/models/auth/repository.go
  backend/services/calendar/feed.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  backend/services/factory.go
  frontend/src/app/api/calendar-feed/[token]/route.ts
  frontend/src/app/api/parent/calendar/feed/rotate/route.ts
  frontend/src/app/api/parent/calendar/feed/route.ts
  frontend/src/app/parents/calendar/page.tsx
  frontend/src/components/calendar/calendar-subscribe-panel.tsx
  frontend/src/lib/personal-calendar-api.ts
Due: frontend-lint, go-imports

feat: add "Alle Eltern der Schule" calendar target
  backend/database/migrations/001015204_calendar_target_all_school_parents.go
  backend/models/calendar/appointment.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/lib/personal-calendar-api.ts
Due: frontend-lint, go-imports

test: use multi-digit IDs in calendar handler tests
  backend/api/calendar/api_test.go
  backend/api/parent/calendar_handlers_test.go
Due: go-imports

refactor(timetable): extract pure form helpers and field components into event-form/
  frontend/src/components/timetable/event-form/field.tsx
  frontend/src/components/timetable/event-form/form-model.ts
  frontend/src/components/timetable/event-form/multi-select-field.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/components/ui/plan-design-guards.test.ts
Due: frontend-lint

test: e2e + frontend coverage for the new calendar flows
  backend/test/e2e/calendar/parent_calendar_flow_test.go
  backend/test/e2e/calendar/personal_calendar_flow_test.go
  frontend/src/components/calendar/calendar-subscribe-panel.test.tsx
  frontend/src/components/calendar/personal-calendar.test.tsx
  frontend/src/lib/personal-calendar-api.test.ts
Due: frontend-lint, go-imports

refactor(timetable): extract event form state container into use-event-form hook
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

test: fix pre-push blockers for the calendar feed changes
  backend/api/base.go
  backend/services/auth/test_helpers_test.go
  backend/services/calendar/service_integration_test.go
  backend/services/import/staff_import_config_test.go
Due: go-imports

fix: renumber calendar migrations to 1.15.204/205 (version collision)
  backend/database/migrations/001015204_calendar_feed_token.go
  backend/database/migrations/001015205_calendar_target_all_school_parents.go
Due: go-imports

feat(timetable): split event form into three wizard steps
  frontend/src/components/timetable/event-form/step-personal-kinder.tsx
  frontend/src/components/timetable/event-form/step-termin.tsx
  frontend/src/components/timetable/event-form/step-wiederholung.tsx
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/components/ui/plan-design-guards.test.ts
Due: frontend-lint

test: raise new-code coverage for the calendar feed/notification code
  backend/database/repositories/auth/account_repository_test.go
  backend/internal/ical/ical_test.go
  backend/services/calendar/email_test.go
  backend/services/calendar/service_integration_test.go
Due: go-imports

test(timetable): adapt event modal suite to the wizard via step navigation
  frontend/src/components/timetable/timetable-event-modal.test.tsx
Due: frontend-lint

docs(help): describe the three-step Betreuungsplan wizard in the guide
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

style(timetable): replace bright-color debts with brand hex, empty the guard allowlist
  frontend/src/components/timetable/event-form/field.tsx
  frontend/src/components/timetable/event-form/step-personal-kinder.tsx
  frontend/src/components/timetable/event-form/step-wiederholung.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/components/ui/plan-design-guards.test.ts
Due: frontend-lint

fix: satisfy route-golden + handler-complexity + repo-caller CI gates
  backend/api/base.go
  backend/api/testdata/route_table.golden
  backend/test/repo_method_caller_ratchet_test.go
Due: go-imports

test(e2e): assert wizard structure and step-2 entry for the convert flow
  frontend/e2e/betreuungsplan-flow.spec.ts
Due: frontend-lint

fix(timetable): surface roster load errors on every wizard step, review cleanups
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

fix(timetable): show conflict and coverage hints on every wizard step
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

fix(calendar): edit recurring series from its base dates, not the occurrence
  frontend/src/app/[tenant]/(protected)/calendar/page.test.tsx
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/lib/personal-calendar-api.ts
Due: frontend-lint

fix(calendar): emit EXDATE for cancelled occurrences in .ics/feed
  backend/database/repositories/calendar/appointment_repository.go
  backend/internal/ical/ical.go
  backend/internal/ical/ical_test.go
  backend/models/calendar/repository.go
  backend/services/calendar/feed.go
  backend/services/calendar/ics.go
  backend/services/calendar/service_integration_test.go
Due: go-imports

feat(attendance): Zuordnungs-Hinweise nur bei genutztem Betreuungsplan (#1920)
  backend/api/students/attendance_history_export.go
  backend/api/students/attendance_history_export_test.go
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
Due: go-imports

spike(export): branded PDF renderer on gopdf (#1568)
  backend/go.mod
  backend/go.sum
  backend/services/listexport/assets/fonts/Inter-LICENSE.txt
  backend/services/listexport/assets/fonts/Inter-Regular.ttf
  backend/services/listexport/assets/fonts/Inter-SemiBold.ttf
  backend/services/listexport/assets/moto-logo.png
  backend/services/listexport/pdf_design.go
  backend/services/listexport/pdf_design_spike_test.go
  backend/services/listexport/theme.go
Due: go-imports

spike(export): match the app's DataTable chrome, drop the dark header band
  backend/services/listexport/pdf_design.go
  backend/services/listexport/theme.go
Due: go-imports

spike(export): give the group heading real card padding and hierarchy
  backend/services/listexport/pdf_design.go
  backend/services/listexport/theme.go
Due: go-imports

feat(export): render table PDFs in the app design (#1568)
  backend/services/listexport/grouped_render_test.go
  backend/services/listexport/pdf.go
  backend/services/listexport/pdf_design.go
  backend/services/listexport/pdf_design_spike_test.go
  backend/services/listexport/pdf_design_test.go
  backend/services/listexport/service.go
  backend/services/listexport/service_test.go
  backend/services/listexport/theme.go
Due: go-imports

perf(export): reference dot background + logo per page instead of re-embedding
  backend/services/listexport/assets/moto-logo.png
  backend/services/listexport/pdf_design.go
  backend/services/listexport/theme.go
Due: go-imports

feat(export): render record/block PDFs in the app design (#1568)
  backend/services/listexport/pdf_design.go
  backend/services/listexport/records.go
  backend/services/listexport/records_design.go
  backend/services/listexport/records_test.go
Due: go-imports

refactor(export): delete the hand-rolled PDF writer
  backend/services/listexport/pdf.go
  backend/services/listexport/pdf_design.go
  backend/services/listexport/pdf_translit_test.go
  backend/services/listexport/records.go
  backend/services/listexport/service_test.go
Due: go-imports

fix(export): wrap header labels and hard-split overlong words
  backend/services/listexport/pdf_design.go
Due: go-imports

fix(attendance): Plan-Erwartung mandantenweit statt aus Schueler-Slots ableiten (#1920)
  backend/api/students/attendance_history_export.go
  backend/api/students/attendance_history_export_test.go
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
  backend/api/timetable/instance_students_unit_test.go
  backend/database/repositories/schedule/student_day.go
  backend/database/repositories/schedule/student_day_test.go
  backend/models/schedule/instance_student.go
  backend/services/active/student_history_service.go
  backend/services/schedule/attendance_sync_service_unit_test.go
Due: go-imports

fix(export): stop silent content loss in designed PDFs (review follow-up)
  backend/go.mod
  backend/go.sum
  backend/services/listexport/assets/fonts/Unifont-LICENSE.txt
  backend/services/listexport/assets/fonts/Unifont-Regular.ttf
  backend/services/listexport/font_fallback.go
  backend/services/listexport/pdf_design.go
  backend/services/listexport/pdf_design_test.go
  backend/services/listexport/records_design.go
  backend/services/listexport/theme.go
Due: go-imports

test(attendance): Coverage fuer HasPlannedSlotsInRange-Fehlerpfade (#1920)
  backend/database/repositories/schedule/student_day_test.go
  backend/services/active/student_history_service_test.go
Due: go-imports

fix(export): reclaim dead space above and below the PDF table
  backend/services/listexport/pdf_design.go
  backend/services/listexport/pdf_design_test.go
  backend/services/listexport/records_design.go
  backend/services/listexport/theme.go
Due: go-imports

fix(attendance): Abgebrochene Instanzen nicht als Plan-Nachweis werten (#1920)
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
  backend/database/repositories/schedule/student_day.go
  backend/database/repositories/schedule/student_day_test.go
  backend/models/schedule/instance_student.go
  backend/services/active/student_history_service.go
Due: go-imports

fix(calendar): reject inactive feed accounts, reconcile series edits
  backend/database/repositories/calendar/appointment_repository.go
  backend/models/calendar/repository.go
  backend/services/calendar/feed.go
  backend/services/calendar/ics.go
  backend/services/calendar/service.go
  backend/services/calendar/service_integration_test.go
Due: go-imports

chore(export): tidy gopdf and x/image into direct dependencies
  backend/go.mod
  backend/go.sum
Due: none

fix(export): bound the PDF filter header and keep eyebrow accents intact
  backend/services/listexport/pdf_design.go
  backend/services/listexport/pdf_design_test.go
  backend/services/listexport/theme.go
Due: go-imports

fix(export): stop the PDF filter marker inventing a filter
  backend/services/listexport/pdf_design.go
  backend/services/listexport/pdf_design_test.go
Due: go-imports
