Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(rooms): Schulhof bleibt ohne Freigabe auswählbar
  backend/modules/facilities/compose/httpadapter/system_filter_test.go
  backend/modules/facilities/http/rooms/api.go
  backend/modules/facilities/internal/adapters/postgres/room_store.go
  docs/adr/0019-open-room-release-is-a-school-decision.md
Due: go-imports

test(parent-portal): give care_test its own request-sharer stub
  backend/workflows/parentportal/care/parent_care_offerings_service_test.go
  backend/workflows/parentportal/care/parent_care_schedule_service_test.go
  backend/workflows/parentportal/care/parent_today_status_service_test.go
  backend/workflows/parentportal/care/request_sharer_stub_test.go
  backend/workflows/parentportal/care/settings_stub_test.go
Due: go-imports

refactor(identity-access): Operator-Identitätsrouten rufen den öffentlichen Vertrag auf
  backend/api/base.go
  backend/api/operator/account_access.go
  backend/api/operator/account_access_internal_test.go
  backend/api/operator/api.go
  backend/api/operator/auth.go
  backend/api/operator/auth_test.go
  backend/api/operator/errors.go
  backend/api/operator/identity_helpers_test.go
  backend/api/operator/mfa.go
  backend/api/operator/passkeys.go
  backend/api/operator/profile.go
  backend/api/operator/profile_test.go
  backend/api/operator/provisioning_internal_test.go
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/modules/identityaccess/inbound/operator/account_access.go
  backend/modules/identityaccess/inbound/operator/auth.go
  backend/modules/identityaccess/inbound/operator/errors.go
  backend/modules/identityaccess/inbound/operator/profile.go
  backend/modules/identityaccess/inbound/operator/resource.go
  backend/services/auth/operator_account_access_audit_integration_test.go
  backend/services/auth/operator_account_access_integration_test.go
  backend/services/auth/operator_authentication_integration_test.go
  backend/services/factory.go
  backend/services/operator_authentication_composition.go
  backend/services/platform/errors.go
  backend/services/platform/errors_test.go
  backend/services/platform/operator_account_access_port.go
  backend/services/platform/operator_authentication_integration_test.go
  backend/services/platform/operator_email_change_integration_test.go
  backend/services/platform/operator_ports.go
  backend/services/platform/operator_provisioning_service.go
  backend/services/platform/operator_service.go
Due: go-imports

refactor(auth): dissolve the shared services/auth contract files by subject (#3225)
  backend/architecture/composition.json
  backend/services/auth/account_credentials.go
  backend/services/auth/account_management.go
  backend/services/auth/account_registration.go
  backend/services/auth/authtest/doc.go
  backend/services/auth/authtest/invitation.go
  backend/services/auth/authtest/mfa.go
  backend/services/auth/cleanup_composition.go
  backend/services/auth/errors.go
  backend/services/auth/interface.go
  backend/services/auth/invitation_interface.go
  backend/services/auth/lifecycle_port.go
  backend/services/auth/password_helpers.go
  backend/services/auth/password_reset.go
  backend/services/auth/password_reset_cleanup.go
  backend/services/auth/permission_management.go
  backend/services/auth/portal_split.go
  backend/services/auth/random_source.go
  backend/services/auth/role_management.go
  backend/services/auth/service.go
  backend/services/auth/session_port.go
Due: go-imports

chore(architecture): Composition-Inventar nach Merge von development neu erzeugen
  backend/architecture/composition.json
Due: none

refactor(identity-access): unerreichbaren Code nach dem Operator-Umzug entfernen
  backend/database/repositories/auth_persistence_test_helpers.go
  backend/services/auth/operator_authentication_integration_test.go
  backend/services/platform/errors.go
  backend/services/platform/errors_test.go
Due: go-imports

fix(home): Kachel Schule ersetzt Entschuldigt in der Standardansicht (#3260)
  frontend/src/app/[tenant]/(protected)/home/page.home-layout.test.tsx
  frontend/src/app/[tenant]/(protected)/home/page.test.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/home-blocks.ts
Due: frontend-lint

test(presence): Dashboard-Aufteilung ohne Legacy-Import testen (#3260)
  backend/services/presence_operations.go
  backend/services/presence_operations_dashboard_test.go
Due: go-imports

feat(aufsicht): offene Räume liefern ihre Sessions mit Block und Rechten
  backend/api/timetable/operations_unit_test.go
  backend/modules/studentpresence/inbound/presence/supervision_dashboard_open_rooms_test.go
  backend/modules/supervisiondashboard/legacy/legacy.go
  backend/modules/supervisiondashboard/legacy/legacy_test.go
  backend/modules/supervisiondashboard/open_rooms.go
  backend/modules/supervisiondashboard/open_rooms_test.go
  backend/modules/supervisiondashboard/ports.go
  backend/modules/supervisiondashboard/supervisiondashboard.go
  backend/modules/supervisiondashboard/supervisiondashboard_test.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_session_blocks.go
  backend/services/schedule/timetable_operations_session_blocks_test.go
  backend/test/query_budgets.go
Due: go-imports

feat(aufsicht): offener Raum zeigt Raumbelegung und laufende Blöcke zusammen
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active-supervision-dashboard/route.test.ts
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/components/active-supervisions/complete-instance-modal.tsx
  frontend/src/components/active-supervisions/open-room-sections.test.tsx
  frontend/src/components/active-supervisions/open-room-sections.tsx
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/active-supervisions/use-supervision-dashboard.ts
  frontend/src/components/active-supervisions/use-timetable-actions.ts
  frontend/src/components/active-supervisions/use-timetable-roster.ts
  frontend/src/components/active-supervisions/view-model.test.ts
  frontend/src/components/active-supervisions/view-model.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/ui/section-card.tsx
Due: frontend-lint

docs(hilfe): Offene Räume mit Blöcken neu aufgenommen
  frontend/public/help/screens/offene-raeume.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(aufsicht): Texte und Regeln der Raumabschnitte nach Review schärfen
  backend/modules/studentpresence/inbound/presence/supervision_dashboard_open_rooms_test.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_session_blocks.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/components/active-supervisions/open-room-sections.test.tsx
  frontend/src/components/active-supervisions/open-room-sections.tsx
  frontend/src/components/active-supervisions/view-model.test.ts
  frontend/src/components/active-supervisions/view-model.ts
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

chore(simulate): Block in der freigegebenen Sporthalle starten
  backend/seed/api/data.go
  backend/simulate/fullday.go
  backend/simulate/open_room_block_test.go
  backend/simulate/player.go
Due: go-imports

fix(identity-access): unused AccountTenant.Deactivate after school-access move remove
  backend/database/repositories/auth/account_tenant.go
  backend/database/repositories/auth/account_tenant_repository_test.go
  backend/models/auth/repository.go
  backend/modules/schoolcalendar/portal/compose/service_integration_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/platform/test_mocks_test.go
Due: go-imports

docs(hilfe): Screenshot Offene Räume mit neuem Hinweis zu Ohne Angebot
  frontend/public/help/screens/offene-raeume.webp
Due: none

fix(presence): resolve school status before filtering
  backend/api/students/day_planning_presence_test.go
  backend/api/students/list_helpers.go
  backend/api/students/response_helpers.go
  backend/api/students/student_handlers.go
  frontend/src/components/home/my-group-block.test.tsx
  frontend/src/components/home/my-group-block.tsx
Due: frontend-lint, go-imports

feat(frontend): Hilfe-Einstiege der Portale geben den Kontext mit
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/parent/shell/parent-bottom-nav.test.tsx
  frontend/src/components/parent/shell/parent-bottom-nav.tsx
  frontend/src/components/parent/shell/parent-nav-items.ts
  frontend/src/components/parent/shell/parent-sidebar.test.tsx
  frontend/src/components/parent/shell/parent-sidebar.tsx
  frontend/src/components/school/shell/school-nav-items.ts
  frontend/src/components/school/shell/school-sidebar.test.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

chore(frontend): fuse.js entfernen
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

feat(workforce): Kontingente mit Verfallsdatum im Folgejahr
  backend/api/absence-types/api.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/database/migrations/001015390_absence_allowance_carryover.go
  backend/modules/workforce/absence.go
  backend/modules/workforce/compose/absence_allowance.go
  backend/modules/workforce/compose/absence_allowance_carryover_test.go
  backend/modules/workforce/compose/absence_allowance_test.go
  backend/modules/workforce/compose/absence_engine.go
  backend/modules/workforce/compose/new.go
  backend/modules/workforce/inbound/absencetypes_test.go
  backend/modules/workforce/internal/adapters/postgres/absence_allowance.go
  backend/modules/workforce/internal/adapters/postgres/absence_store.go
  backend/modules/workforce/internal/application/absence.go
  backend/modules/workforce/internal/application/absence_allowance.go
  backend/modules/workforce/internal/application/service.go
  backend/modules/workforce/internal/domain/absence.go
  backend/modules/workforce/internal/domain/absence_allowance.go
  backend/modules/workforce/internal/domain/absence_allowance_test.go
  backend/modules/workforce/internal/ports/ports.go
  backend/seed/api/seed_time_tracking.go
  backend/services/workforce_absence_types.go
  frontend/public/help/screens/mitarbeiter-kontingente.webp
  frontend/src/app/[tenant]/(protected)/database/absence-types/page.tsx
  frontend/src/app/api/staff/absence-types/[absenceTypeId]/allowances/[staffId]/preview/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/absence-booking-modal.test.tsx
  frontend/src/components/staff/absence-booking-modal.tsx
  frontend/src/components/staff/abwesenheiten-tab.allowances.test.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/lib/absence-helpers.ts
  frontend/src/lib/absence-type-api.test.ts
  frontend/src/lib/absence-type-api.ts
Due: frontend-lint, go-imports

fix(presence): isolate dashboard school count
  backend/api/base.go
  backend/modules/grouplive/grouplive.go
  backend/modules/grouplive/grouplive_test.go
  backend/services/active_test_helpers.go
  backend/services/presence_operations.go
  backend/services/presence_operations_dashboard_test.go
Due: go-imports

fix(seed): populate school dashboard tile
  backend/seed/api/profile_steps_test.go
  backend/seed/api/profiles.go
Due: go-imports

fix(students): resolve school location directly
  backend/api/students/visit_handlers.go
  backend/api/students/visit_handlers_test.go
Due: go-imports

refactor(students): thin location handler
  backend/api/students/day_planning.go
  backend/api/students/visit_handlers.go
Due: go-imports

chore(aufsicht): OpenRoomBlockView nur modulintern
  frontend/src/components/active-supervisions/view-model.ts
Due: frontend-lint

docs: Screenshots für PR #3290
  screenshots-pr3290/pair-01-desktop-schulhof-fuenf-bloecke.png
  screenshots-pr3290/pair-02-mobile-schulhof-oben.png
Due: none

refactor(identity-access): route school membership and role reads through owner queries
  backend/architecture/identity-membership-2721.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/auth/membership_queries.go
  backend/database/repositories/auth/membership_queries_test.go
  backend/database/repositories/auth_test_helpers.go
  backend/database/repositories/command_roots.go
  backend/database/repositories/enrollment_test_helpers.go
  backend/database/repositories/factory.go
  backend/database/repositories/identity_membership_runtime_evidence_test.go
  backend/database/repositories/identity_ports.go
  backend/database/repositories/parent/child_repository.go
  backend/database/repositories/parent/enrollable_phase_repository.go
  backend/database/repositories/parent/guardian_directory.go
  backend/database/repositories/parent_messaging_test_helpers.go
  backend/database/repositories/parent_route_test_helpers.go
  backend/database/repositories/platform/identity_queries.go
  backend/database/repositories/platform/operator_summaries_repository.go
  backend/database/repositories/platform/school_repository.go
  backend/database/repositories/platform/school_repository_test.go
  backend/database/repositories/staff_membership_decorators.go
  backend/database/repositories/staff_messaging_test_helpers.go
  backend/database/repositories/student_test_helpers.go
  backend/database/repositories/users/guardian_profile.go
  backend/database/repositories/users/identity_membership_test.go
  backend/database/repositories/users/identity_queries.go
  backend/database/repositories/users/messageable_guardian.go
  backend/database/repositories/users/staff_message_read.go
  backend/database/repositories/users/student_guardian.go
  backend/modules/communication/internal/staffmessages/service_test.go
  docs/runtime-checkpoints/identity-membership-2721.baseline.raw.json
  docs/runtime-checkpoints/identity-membership-2721.md
  docs/runtime-checkpoints/identity-membership-2721.raw.json
Due: go-imports

test(identity-access): close the review gaps on the membership cutover
  backend/architecture/identity-membership-2721.json
  backend/database/repositories/auth/membership_queries_test.go
  backend/database/repositories/identity_membership_runtime_evidence_test.go
  backend/database/repositories/parent/guardian_directory_internal_test.go
  backend/database/repositories/platform/identity_queries_test.go
  backend/database/repositories/users/guardian_profile.go
  backend/database/repositories/users/identity_membership_test.go
  backend/database/repositories/users/staff_message_read.go
  docs/runtime-checkpoints/identity-membership-2721.md
Due: go-imports

feat(kiosk): Schulhof-Scan bucht in den eigenen laufenden Block, sonst Freispiel
  backend/api/base.go
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/yard_blocks_test.go
  backend/modules/devicescan/compose/compose.go
  backend/modules/devicescan/compose/presence.go
  backend/modules/devicescan/internal/application/checkin.go
  backend/modules/devicescan/internal/application/checkin_internal_test.go
  backend/modules/devicescan/internal/application/fakes_internal_test.go
  backend/modules/devicescan/internal/application/service.go
  backend/modules/devicescan/internal/application/yardscan.go
  backend/modules/devicescan/internal/ports/ports.go
  backend/modules/timetable/session_rosters.go
  backend/modules/timetable/session_rosters_test.go
  backend/services/room_checkin_test_helpers.go
  backend/test/kiosk_fixtures.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(kiosk): Schulhof-Scan lässt der Session des scannenden Geräts ihre Kinder
  backend/api/iot/checkin/yard_blocks_test.go
  backend/modules/devicescan/internal/application/checkin.go
  backend/modules/devicescan/internal/application/checkin_internal_test.go
  backend/modules/devicescan/internal/application/fakes_internal_test.go
  backend/modules/devicescan/internal/application/yardscan.go
  backend/test/kiosk_fixtures.go
Due: go-imports

docs: Screenshots für PR #3294
  screenshots-pr3294/01-schulhof-raumansicht.png
  screenshots-pr3294/02-hilfe-nfc-kinder-auschecken.png
Due: none

fix(aufsicht): Erklärtext unter „Kommt später“ entfernen
  frontend/src/components/active-supervisions/timetable-roster-class-exception.test.tsx
  frontend/src/components/active-supervisions/timetable-roster.tsx
Due: frontend-lint

chore: update devbox packages and pin gh to 2.100.0
  devbox.json
  devbox.lock
Due: none

docs: post PR screenshots with gh --attach
  docs/agents/operations.md
  frontend/.claude/skills/responsive-screenshots/SKILL.md
  frontend/.claude/skills/ui-before-after/SKILL.md
  frontend/CLAUDE.md
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
