Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: repair production migration collision on 001015148
  backend/database/migrations/001015149_parent_messaging.go
  backend/database/migrations/001015150_repair_enrollment_change_requests.go
Due: go-imports

ci: harden production deploy gates
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/rollback.yml
Due: none

fix: throw on malformed CRUD list responses
  frontend/src/lib/database/service-factory.test.ts
  frontend/src/lib/database/service-factory.ts
Due: frontend-lint

fix: normalize invitations redirect shim
  frontend/src/app/[tenant]/(protected)/invitations/page.test.tsx
  frontend/src/app/[tenant]/(protected)/invitations/page.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
Due: frontend-lint

refactor: redirect legacy activity detail route
  frontend/src/app/[tenant]/(protected)/activities/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/activities/[id]/page.tsx
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.test.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/lib/breadcrumb-context.tsx
Due: frontend-lint

feat(messaging): wire parent request submit/withdraw + permission
  backend/api/parent/api.go
  backend/api/parent/child_messages_handlers.go
  backend/api/parent/child_write_handlers.go
  backend/api/parent/me_handlers_test.go
  backend/auth/authorize/guardian_permission.go
  backend/services/factory.go
  backend/services/messaging/service_error_test.go
  backend/services/messaging/service_test.go
  backend/services/parent/parent_messaging_service.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_write_service.go
Due: go-imports

feat(messaging): wire staff request decision endpoints
  backend/api/messaging/api.go
  backend/services/messaging/service.go
Due: go-imports

fix(messaging): bound read cursor to newest counterpart message
  backend/models/users/parent_message.go
  backend/models/users/parent_message_receipts_test.go
  backend/services/messaging/service.go
  backend/services/parent/parent_messaging_service.go
  backend/services/parentmessaging/parentmessaging.go
  backend/services/parentmessaging/parentmessaging_test.go
Due: go-imports

feat(messaging): request engine compiles on merged messaging
  backend/api/messaging/api.go
  backend/database/repositories/users/parent_message_read.go
  backend/models/users/departure_days.go
  backend/models/users/parent_message_read.go
  backend/services/factory.go
  backend/services/messaging/requests.go
  backend/services/messaging/service.go
Due: go-imports

fix(messaging): migration + kind default + hermetic allowlist (tests green)
  backend/database/migrations/001015151_parent_messaging_requests.go
  backend/models/users/parent_message.go
  backend/services/messaging/service.go
  backend/services/parent/parent_messaging_service.go
  backend/test/hermetic_verification_test.go
Due: go-imports

fix(messaging): count system request events as unread + forward open_requests filter
  backend/database/repositories/users/parent_message_read.go
  frontend/src/app/api/messages/route.ts
Due: frontend-lint, go-imports

fix(messaging): emit request_submit_enabled child feature flag
  backend/api/parent/child_write_handlers.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_write_service.go
  frontend/src/app/api/parent/me/children/[studentId]/features/route.ts
Due: frontend-lint, go-imports

feat(messaging): parent-OGS request/event frontend (Bucket B)
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/app/[tenant]/(protected)/messages/page.tsx
  frontend/src/components/messaging/chat-bubble.tsx
  frontend/src/components/parent/child-care.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/messaging-status.ts
  frontend/src/lib/parent-api.ts
  frontend/src/lib/parent-messages-api.test.ts
  frontend/src/lib/parent-messages-api.ts
Due: frontend-lint

fix(messaging): localize parent OGS request UI strings
  frontend/src/components/parent/child-care.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

wip(messaging): scaffold parent-OGS requests/events on merged messaging
  backend/database/migrations/001015151_parent_messaging_requests.go
  backend/database/migrations/001015152_grant_guardian_request_submit_permission.go
  backend/database/repositories/users/parent_message.go
  backend/models/users/parent_message.go
  backend/services/messaging/apply_export_internal_test.go
  backend/services/messaging/registry_internal_test.go
  backend/services/messaging/requests.go
  backend/services/messaging/requests_test.go
  backend/services/messaging/service.go
  frontend/src/app/api/messages/requests/[requestId]/[action]/route.ts
  frontend/src/app/api/parent/me/messages/children/[studentId]/requests/[requestId]/withdraw/route.ts
  frontend/src/app/api/parent/me/messages/children/[studentId]/requests/route.ts
  frontend/src/components/messaging/request-diff-panel.tsx
  frontend/src/components/messaging/request-status-badge.tsx
Due: frontend-lint, go-imports

fix(messaging): persist canonical request payloads + localize parent request cards
  backend/services/messaging/registry_internal_test.go
  backend/services/messaging/requests.go
  backend/services/messaging/requests_test.go
  backend/services/parent/parent_messaging_service.go
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/messaging-status.test.ts
  frontend/src/lib/messaging-status.ts
Due: frontend-lint, go-imports

fix(messaging): map per-child write denials to 403 + localize parent request timeline
  backend/api/parent/child_messages_handlers.go
  backend/services/messaging/requests.go
  backend/services/messaging/service.go
  backend/services/messaging/service_test.go
  backend/services/parent/parent_messaging_service.go
  frontend/src/components/messaging/request-diff-panel.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/messaging-status.test.ts
  frontend/src/lib/messaging-status.ts
Due: frontend-lint, go-imports

feat: show daily offerings in class roster exports
  backend/api/enrollment/report_handlers.go
  backend/api/enrollment/report_handlers_test.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix parent master data review safeguards
  backend/api/students/api.go
  backend/api/students/master_data_review_handlers_test.go
  backend/services/parent/parent_master_data_service.go
  backend/services/parent/parent_master_data_service_test.go
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/parent/child-master-data.tsx
Due: frontend-lint, go-imports

feat: refine enrollment report PDFs
  backend/api/enrollment/export_handlers_test.go
  backend/api/enrollment/report_handlers.go
  backend/api/enrollment/report_handlers_test.go
  backend/database/repositories/users/student_guardian.go
  backend/models/users/repository.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  backend/services/factory.go
  backend/services/listexport/pdf.go
  backend/services/listexport/service.go
  backend/services/listexport/service_test.go
  backend/services/listexport/types.go
  backend/services/listexport/xlsx.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

refactor(messaging): drop student master-data request, keep care-schedule
  backend/api/parent/child_messages_handlers.go
  backend/database/migrations/001015149_parent_messaging.go
  backend/database/migrations/001015153_parent_messaging_requests.go
  backend/database/migrations/001015154_grant_guardian_request_submit_permission.go
  backend/models/users/parent_message.go
  backend/services/messaging/apply_export_internal_test.go
  backend/services/messaging/requests.go
  backend/services/messaging/requests_test.go
  backend/services/messaging/service.go
  backend/services/messaging/service_test.go
  frontend/src/components/parent/child-care.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/messaging-status.test.ts
  frontend/src/lib/messaging-status.ts
  frontend/src/lib/parent-api.ts
  frontend/src/lib/parent-messages-api.ts
Due: frontend-lint, go-imports

fix: correct enrollment report exports
  backend/api/enrollment/export_handlers_test.go
  backend/api/enrollment/report_handlers.go
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
  backend/services/listexport/service.go
  backend/services/listexport/service_test.go
Due: go-imports

fix(messaging): unread for dual-role system events + broadcast confirmed schedule changes
  backend/database/repositories/users/parent_message_read.go
  backend/services/messaging/registry_internal_test.go
  backend/services/messaging/requests.go
Due: go-imports

fix: preserve enrollment report filters
  backend/services/enrollment/report_service.go
  backend/services/enrollment/report_service_test.go
Due: go-imports

fix(messaging): localize parent request mode diffs + refresh unread after request actions
  backend/api/parent/child_messages_handlers.go
  backend/services/messaging/requests.go
  backend/services/messaging/requests_test.go
  backend/services/messaging/service.go
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/messaging-status.ts
Due: frontend-lint, go-imports

fix(messaging): advance cursor on own system events + recompute thread previews on rollback
  backend/database/migrations/001015153_parent_messaging_requests.go
  backend/models/users/parent_message.go
  backend/services/parentmessaging/parentmessaging.go
  backend/services/parentmessaging/parentmessaging_test.go
Due: go-imports

fix(messaging): reset reject reason when starting rejection on a different request
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
Due: frontend-lint

feat: support late enrollment exceptions
  backend/api/enrollment/admin_late_invite_handlers.go
  backend/api/enrollment/api.go
  backend/api/enrollment/care_offering_handlers.go
  backend/api/enrollment/legal_handlers.go
  backend/api/enrollment/schema_handlers.go
  backend/api/enrollment/submission_handlers.go
  backend/database/migrations/001015151_late_invites_and_request_sources.go
  backend/database/repositories/enrollment/late_invite_repository.go
  backend/database/repositories/factory.go
  backend/models/enrollment/late_invite.go
  backend/models/enrollment/request.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/request_service.go
  backend/services/factory.go
  frontend/src/app/[tenant]/(public)/enroll/[phaseId]/page.tsx
  frontend/src/app/api/enrollment/care-offerings/public/[tenantSlug]/[phaseId]/route.ts
  frontend/src/app/api/enrollment/form-bootstrap/public/[tenantSlug]/[phaseId]/route.ts
  frontend/src/app/api/enrollment/legal/[tenantSlug]/route.ts
  frontend/src/app/api/enrollment/phases/[id]/late-invites/route.ts
  frontend/src/app/api/enrollment/phases/[id]/manual-approved-enrollments/route.ts
  frontend/src/app/api/enrollment/phases/[id]/manual-bootstrap/route.ts
  frontend/src/app/api/enrollment/schema/public/[tenantSlug]/[phaseId]/route.ts
  frontend/src/app/parents/enroll/[tenantSlug]/[phaseId]/page.tsx
  frontend/src/components/enrollment/admin-enrollments-list.test.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/enrollment/phase-enrollment-actions.tsx
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/enrollment-admin-api.ts
  frontend/src/lib/enrollment-form-schema-api.ts
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

Fix parent master data scoping and review responses
  backend/api/students/master_data_review_handlers.go
  backend/api/students/master_data_review_handlers_test.go
  backend/database/repositories/parent/child_repository.go
  backend/models/parent/child_summary.go
  backend/services/config/defaults/operations.go
  backend/services/parent/parent_master_data_service.go
  backend/services/parent/parent_master_data_service_test.go
  backend/services/parent/parent_write_service.go
  backend/services/users/master_data_review_service.go
  backend/services/users/master_data_review_service_test.go
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/parent/child-master-data.tsx
Due: frontend-lint, go-imports

fix(messaging): localize parent request-event previews + document open requests
  backend/api/parent/child_messages_handlers.go
  backend/database/repositories/users/parent_message_read.go
  backend/models/users/parent_message_read.go
  frontend/public/help/screens/offene-anfragen.webp
  frontend/src/app/parents/messages/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/parent/child-detail.tsx
  frontend/src/lib/messaging-status.test.ts
  frontend/src/lib/messaging-status.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix: remove guardian names from late invite UI
  frontend/src/components/enrollment/phase-enrollment-actions.tsx
  frontend/src/lib/enrollment-admin-api.ts
Due: frontend-lint

test: update enrollment form late invite expectations
  frontend/src/components/enrollment/enrollment-form.test.tsx
Due: frontend-lint

fix(messaging): return rebuilt request diffs from reply + decision paths
  backend/api/messaging/api.go
  backend/services/messaging/requests.go
  backend/services/messaging/service.go
  backend/services/messaging/service_error_test.go
  backend/services/messaging/service_test.go
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
Due: frontend-lint, go-imports

fix: wire parent late-invite submissions
  backend/api/parent/enrollment_handlers.go
  backend/api/parent/handler_helpers_test.go
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/phase-enrollment-actions.tsx
  frontend/src/lib/enrollment-error-messages.test.ts
  frontend/src/lib/enrollment-error-messages.ts
  frontend/src/lib/parent-api.test.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

fix: renumber late invite migration
  backend/database/migrations/001015153_late_invites_and_request_sources.go
Due: go-imports

fix(messaging): show request decision reason once, in the thread event
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/components/messaging/request-diff-panel.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

test(messaging): cover parent-OGS request confirm/reject/create/withdraw paths
  backend/models/users/departure_days_test.go
  backend/services/messaging/requests_integration_test.go
  backend/services/messaging/requests_test.go
  backend/services/parent/parent_requests_service_test.go
  frontend/src/lib/parent-api.test.ts
  frontend/src/lib/parent-messages-api.test.ts
Due: frontend-lint, go-imports

docs: document PR screenshot policy
  CLAUDE.md
Due: none

fix: repair student_data_change_requests skipped by burned bun prefix 001015151
  backend/database/migrations/001015154_repair_student_data_change_requests.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
