Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(timetable): warn on direct Regeltermin edits too (#1875)
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

fix: preserve care offering availability in edits
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/change_request_service_test.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
Due: frontend-lint, go-imports

fix(timetable): probe full re-plan window + detect description edits (#1875)
  backend/api/timetable/edited_in_window.go
  backend/api/timetable/edited_in_window_test.go
  backend/services/schedule/edited_instance_detection.go
  backend/services/schedule/edited_instance_detection_integration_test.go
  backend/services/schedule/edited_instance_detection_test.go
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix: resolve open change requests on correction
  backend/database/repositories/enrollment/change_request_repository.go
  backend/models/enrollment/change_request.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/change_request_service_test.go
Due: go-imports

fix: preserve sickness cascade consistency
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/database/repositories/active/staff_absence.go
  backend/models/active/repository.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_session_service_test.go
  backend/services/schedule/shift_plan_sync_service_test.go
  backend/services/schedule/staff_shift_service.go
  backend/services/schedule/staff_shift_service_mock_test.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/sick-report-modal.test.tsx
  frontend/src/components/staff/sick-report-modal.tsx
Due: frontend-lint, go-imports

fix: renumber enrollment correction migration
  backend/database/migrations/001015197_enrollment_change_request_origin.go
  backend/database/migrations/001015197_enrollment_change_request_origin_test.go
Due: go-imports

fix: preserve sick cascade history and access
  backend/api/staff/absence_admin_test.go
  backend/api/staff/api.go
  backend/services/factory.go
  backend/services/schedule/shift_plan_sync_service.go
  backend/services/schedule/shift_plan_sync_service_test.go
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/components/staff/abwesenheiten-tab.test.ts
  frontend/src/components/staff/abwesenheiten-tab.tsx
Due: frontend-lint, go-imports

fix: resolve migration version collision
  backend/database/migrations/001015198_sick_absence_provenance.go
Due: go-imports

fix(timetable): warn on deleted occurrences resurrected by a split (#1875)
  backend/api/timetable/edited_in_window.go
  backend/api/timetable/edited_in_window_test.go
  backend/api/timetable/materialize_test.go
  backend/api/timetable/templates_test.go
  backend/services/schedule/edited_instance_detection.go
  backend/services/schedule/edited_instance_detection_integration_test.go
  backend/services/schedule/materialization_service.go
  backend/services/scheduler/scheduler_test.go
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-api.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

test(timetable): fix reused Response body in edited-window client test
  frontend/src/lib/timetable-api.test.ts
Due: frontend-lint

fix: allow absence managers to load staff profiles
  backend/api/staff/api.go
  backend/api/staff/staff_test.go
Due: go-imports

feat(ui): add CoverageIndicator, PlanBlock and PlanningContextBar primitives
  frontend/src/components/ui/coverage-indicator.stories.tsx
  frontend/src/components/ui/coverage-indicator.test.tsx
  frontend/src/components/ui/coverage-indicator.tsx
  frontend/src/components/ui/plan-block.stories.tsx
  frontend/src/components/ui/plan-block.test.tsx
  frontend/src/components/ui/plan-block.tsx
  frontend/src/components/ui/plan-design-guards.test.ts
  frontend/src/components/ui/planning-context-bar.stories.tsx
  frontend/src/components/ui/planning-context-bar.test.tsx
  frontend/src/components/ui/planning-context-bar.tsx
Due: frontend-lint

feat(timetable): map old_value/new_value in deviation history
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

feat(timetable): add VertretungDayList disruption list
  frontend/src/components/timetable/vertretung-day-list.test.tsx
  frontend/src/components/timetable/vertretung-day-list.tsx
Due: frontend-lint

refactor(timetable): rebuild substitution editor with radio branches and history tab
  frontend/src/components/timetable/deviation-history-slide-over.test.tsx
  frontend/src/components/timetable/deviation-history-slide-over.tsx
  frontend/src/components/timetable/substitution-slide-over.test.tsx
  frontend/src/components/timetable/substitution-slide-over.tsx
  frontend/src/components/timetable/vertretungsplan-view.tsx
Due: frontend-lint

feat(timetable): two-pane Vertretung view with d/block/verlauf URL state
  frontend/src/app/[tenant]/(protected)/vertretung/page.tsx
  frontend/src/components/timetable/instance-detail-slide-over.tsx
  frontend/src/components/timetable/planung-redirect.test.ts
  frontend/src/components/timetable/planung-redirect.tsx
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/components/timetable/vertretung-view.tsx
Due: frontend-lint

chore(ui): un-export unused plan kit type aliases
  frontend/src/components/ui/coverage-indicator.tsx
  frontend/src/components/ui/plan-block.tsx
Due: frontend-lint

refactor(timetable): delete replaced vertretungsplan-view
  frontend/src/components/timetable/vertretungsplan-view.tsx
Due: frontend-lint

refactor(timetable): remove dead acknowledge-understaffed client path
  frontend/src/app/api/timetable/instances/[id]/acknowledge-understaffed/route.ts
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-api.ts
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

docs(help): rewrite Vertretungsplan guide step for the two-pane view
  frontend/public/help/screens/vertretungsplan.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

test(e2e): Vertretung two-pane UI flow
  frontend/e2e/vertretung-flow.spec.ts
Due: frontend-lint

fix(timetable): apply review findings on the Vertretung two-pane view
  frontend/e2e/vertretung-flow.spec.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/instance-detail-slide-over.tsx
  frontend/src/components/timetable/substitution-slide-over.tsx
  frontend/src/components/timetable/vertretung-day-list.test.tsx
  frontend/src/components/timetable/vertretung-day-list.tsx
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint

feat: refine NFC quickstart onepager
  frontend/src/app/help/nfc/erste-schritte/page.tsx
Due: frontend-lint

feat: add NFC quickstart onepager
  frontend/public/help/quickstart/nfc-guide-qr.svg
  frontend/scripts/generate-guides.ts
  frontend/src/app/help/nfc/erste-schritte/page.tsx
Due: frontend-lint

feat: refine NFC quickstart markers
  frontend/src/app/help/nfc/erste-schritte/page.tsx
Due: frontend-lint

feat: add NFC quickstart help entry
  frontend/src/app/help/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/help/help-search-sync.test.ts
Due: frontend-lint

feat(timetable): show only Mo-Fr in the Vertretung week strip
  frontend/e2e/vertretung-flow.spec.ts
  frontend/public/help/screens/vertretungsplan.webp
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/components/ui/planning-context-bar.tsx
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint

feat: align NFC quickstart help page
  frontend/src/app/help/nfc/erste-schritte/page.tsx
Due: frontend-lint

feat(time-tracking): Monatskarte mit Live-Uebertrag, Dienstplan-Deckung und Gutschriften (#1842)
  backend/api/base.go
  backend/api/staff/api.go
  backend/api/staff/month_summary_api_test.go
  backend/api/staff/month_summary_handlers.go
  backend/api/staff/staff_test.go
  backend/api/testdata/route_table.golden
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/api/time-tracking/month_summary.go
  backend/models/config/weekly_targets.go
  backend/services/active/work_time_month_integration_test.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  backend/services/factory.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/app/api/staff/[id]/time-tracking/month-summary/route.ts
  frontend/src/app/api/time-tracking/month-summary/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/components/time-tracking/monatskarte.test.tsx
  frontend/src/components/time-tracking/monatskarte.tsx
  frontend/src/lib/staff-api.ts
  frontend/src/lib/time-tracking-api.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

feat(ui): add a kit Radio primitive for exclusive option groups
  frontend/src/components/ui/radio.stories.tsx
  frontend/src/components/ui/radio.tsx
Due: frontend-lint

fix(timetable): apply aggregated review findings on the Vertretung view
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/staff/sick-report-modal.test.tsx
  frontend/src/components/staff/sick-report-modal.tsx
  frontend/src/components/timetable/planung-redirect.test.ts
  frontend/src/components/timetable/planung-redirect.tsx
  frontend/src/components/timetable/substitution-slide-over.test.tsx
  frontend/src/components/timetable/substitution-slide-over.tsx
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/lib/date-helpers.test.ts
  frontend/src/lib/date-helpers.ts
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint

chore(ui): cover sky in the plan design guards and document PlanBlock constraints
  frontend/src/components/ui/plan-block.tsx
  frontend/src/components/ui/plan-design-guards.test.ts
Due: frontend-lint

fix(time-tracking): Monatskarte-Review-Findings (#1842)
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

fix(time-tracking): Monatskarte-Review-Findings Runde 2 (#1842)
  backend/api/staff/api.go
  backend/api/staff/schedule_targets_handlers.go
  backend/api/staff/staff_test.go
  backend/api/time-tracking/api.go
  backend/api/time-tracking/schedule_targets.go
  backend/database/migrations/001015199_staff_schedule_rotation_anchor.go
  backend/database/repositories/config/staff_work_schedule.go
  backend/database/repositories/config/time_tracking_repositories_test.go
  backend/database/repositories/config/work_time_model.go
  backend/models/config/staff_work_schedule.go
  backend/models/config/weekly_targets.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/app/api/staff/[id]/time-tracking/schedule-targets/route.ts
  frontend/src/app/api/time-tracking/schedule-targets/route.ts
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/lib/staff-api.ts
  frontend/src/lib/time-tracking-api.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

fix(timetable): avoid false substitution status
  frontend/src/components/timetable/vertretung-day-list.test.tsx
  frontend/src/components/timetable/vertretung-day-list.tsx
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/components/timetable/vertretung-view.tsx
Due: frontend-lint

fix(time-tracking): Monatskarte-Review-Findings Runde 3 (#1842)
  backend/api/staff/schedule_targets_handlers.go
  backend/api/time-tracking/schedule_targets.go
  backend/database/repositories/config/staff_work_schedule.go
  backend/models/config/staff_work_schedule.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/active/work_time_month_integration_test.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  backend/services/factory.go
Due: go-imports

refactor(dienstplan): extract data layer into useDienstplanData hook
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/lib/hooks/use-dienstplan-data.test.ts
  frontend/src/lib/hooks/use-dienstplan-data.ts
Due: frontend-lint

feat(ui): add ResourceGrid, CapacityStrip and PlanLegend kit primitives
  frontend/src/components/ui/capacity-strip.stories.tsx
  frontend/src/components/ui/capacity-strip.test.tsx
  frontend/src/components/ui/capacity-strip.tsx
  frontend/src/components/ui/coverage-indicator.stories.tsx
  frontend/src/components/ui/coverage-indicator.test.tsx
  frontend/src/components/ui/coverage-indicator.tsx
  frontend/src/components/ui/plan-design-guards.test.ts
  frontend/src/components/ui/plan-legend.stories.tsx
  frontend/src/components/ui/plan-legend.test.tsx
  frontend/src/components/ui/plan-legend.tsx
  frontend/src/components/ui/resource-grid.stories.tsx
  frontend/src/components/ui/resource-grid.test.tsx
  frontend/src/components/ui/resource-grid.tsx
Due: frontend-lint

refactor(dienstplan): replace hand-rolled RhythmButton with kit Radio
  frontend/src/components/staff/shift-edit-modal.series.test.tsx
  frontend/src/components/staff/shift-edit-modal.tsx
Due: frontend-lint

fix(time-tracking): Monatskarte-Review-Findings Runde 4 (#1842)
  backend/api/testdata/route_table.golden
  backend/database/migrations/001015199_staff_schedule_rotation_anchor.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-session-table.targets.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
Due: frontend-lint, go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
