Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: use project-local skills/commands in skill-reminder hook
  .claude/hooks/skill-reminder.sh
Due: none

test(frontend): add comprehensive tests for src/app pages
  frontend/src/app/active-supervisions/page.test.tsx
  frontend/src/app/activities/[id]/page.test.tsx
  frontend/src/app/activities/page.test.tsx
  frontend/src/app/dashboard/page.test.tsx
  frontend/src/app/database/page.test.tsx
  frontend/src/app/database/permissions/page.test.tsx
  frontend/src/app/database/roles/page.test.tsx
  frontend/src/app/ogs-groups/page.test.tsx
  frontend/src/app/page.test.tsx
  frontend/src/app/reset-password/page.test.tsx
  frontend/src/app/rooms/[id]/page.test.tsx
  frontend/src/app/rooms/page.test.tsx
  frontend/src/app/students/[id]/feedback_history/page.test.tsx
  frontend/src/app/students/[id]/mensa_history/page.test.tsx
  frontend/src/app/students/[id]/room_history/page.test.tsx
Due: frontend-lint

feat: add multi-tenancy integration tests (WP9)
  backend/services/multitenancy_integration_test.go
  backend/test/multitenancy_fixtures.go
  bruno/14-multitenancy.bru
  bruno/15-iot-multitenancy.bru
Due: go-imports

test(frontend): add comprehensive tests for components folder
  frontend/src/components/activities/activity-detail-modal.test.tsx
  frontend/src/components/auth/smart-redirect.test.tsx
  frontend/src/components/dashboard/responsive-layout.test.tsx
  frontend/src/components/dashboard/section-title.test.tsx
  frontend/src/components/guardians/guardian-list.test.tsx
  frontend/src/components/import/student-row-card.test.tsx
  frontend/src/components/import/upload-section.test.tsx
  frontend/src/components/rooms/room-detail-modal.test.tsx
  frontend/src/components/simple/SimpleAlert.test.tsx
  frontend/src/components/simple/student/ModernContactActions.test.tsx
  frontend/src/components/students/student-card.test.tsx
  frontend/src/components/teachers/teacher-create-modal.test.tsx
  frontend/src/components/teachers/teacher-detail-modal.test.tsx
  frontend/src/components/teachers/teacher-form.test.tsx
  frontend/src/components/ui/alert.test.tsx
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/detail-modal-actions.test.tsx
  frontend/src/components/ui/info-card.test.tsx
  frontend/src/components/ui/input.test.tsx
  frontend/src/components/ui/loading.test.tsx
  frontend/src/components/ui/skeleton.test.tsx
Due: frontend-lint

docs: clarify two-database architecture in CLAUDE.md
  CLAUDE.md
Due: none

fix(frontend): resolve code quality warnings in test files
  frontend/src/app/ogs-groups/page.test.tsx
  frontend/src/components/simple/SimpleAlert.test.tsx
  frontend/src/components/simple/student/ModernContactActions.test.tsx
  frontend/src/lib/api-helpers.test.ts
Due: frontend-lint

fix: use fmt.Sprintf for BUN ORM raw SQL in migration 1.7.7
  backend/database/migrations/001007007_create_first_ogs.go
Due: go-imports

fix: proxy BetterAuth requests through Next.js to eliminate CORS
  betterauth/src/index.ts
  docker-compose.example.yml
  frontend/src/app/api/auth/[...betterauth]/route.ts
  frontend/src/lib/auth-client.ts
Due: frontend-lint

fix(frontend): add eslint-disable comments for test mocking patterns
  frontend/src/app/activities/[id]/page.test.tsx
  frontend/src/app/dashboard/page.test.tsx
  frontend/src/app/database/page.test.tsx
  frontend/src/app/page.test.tsx
  frontend/src/app/rooms/[id]/page.test.tsx
  frontend/src/app/rooms/page.test.tsx
  frontend/src/lib/api-helpers.test.ts
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/guardian-api.test.ts
Due: frontend-lint

fix(frontend): resolve TypeScript type errors in test files
  frontend/src/app/activities/[id]/page.test.tsx
  frontend/src/app/dashboard/page.test.tsx
  frontend/src/app/database/page.test.tsx
  frontend/src/app/ogs-groups/page.test.tsx
  frontend/src/app/page.test.tsx
  frontend/src/app/reset-password/page.test.tsx
  frontend/src/app/rooms/page.test.tsx
  frontend/src/components/auth/smart-redirect.test.tsx
  frontend/src/components/dashboard/responsive-layout.test.tsx
  frontend/src/components/guardians/guardian-list.test.tsx
  frontend/src/components/teachers/teacher-detail-modal.test.tsx
  frontend/src/components/teachers/teacher-form.test.tsx
  frontend/src/lib/api-helpers.test.ts
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/guardian-api.test.ts
Due: frontend-lint

fix(frontend): add test mocks to knip entry points
  frontend/package.json
Due: none

feat: add GDPR-compliant permission system with staff linkage
  backend/auth/tenant/context.go
  backend/auth/tenant/middleware.go
  backend/auth/tenant/roles.go
  backend/database/migrations/001007016_add_betterauth_user_id.go
  backend/database/migrations/001007017_create_ogs_role_permissions.go
  backend/database/repositories/users/staff.go
  backend/models/users/repository.go
  backend/models/users/staff.go
  backend/services/auth/test_helpers_test.go
  betterauth/src/permissions.ts
Due: go-imports

fix(frontend): correct test expectations for guardian-api and teacher-form
  frontend/src/components/teachers/teacher-form.test.tsx
  frontend/src/lib/guardian-api.test.ts
Due: frontend-lint

Revert "fix(frontend): add test mocks to knip entry points"
  frontend/package.json
Due: none

chore(sonar): exclude frontend test infrastructure from coverage
  sonar-project.properties
Due: none

fix: bridge BetterAuth sessions to legacy usercontext service
  backend/auth/betterauth/client.go
  backend/auth/tenant/context.go
  backend/auth/tenant/middleware.go
  backend/auth/tenant/roles.go
  backend/services/usercontext/usercontext_service.go
  betterauth/src/auth.ts
  frontend/src/app/page.tsx
  frontend/src/lib/route-wrapper.ts
Due: frontend-lint, go-imports

fix(test): ensure hermetic tests with proper defer placement and BUN cleanup
  .claude/skills/backend-hermetic-testing.md
  backend/services/auth/refactored_modules_test.go
  backend/test/fixtures.go
Due: go-imports

feat: add JIT provisioning for BetterAuth users
  backend/auth/tenant/middleware.go
Due: go-imports

test(api): improve test coverage across API packages (#664)
  .claude/skills/backend-hermetic-testing.md
  backend/api/active/active_internal_test.go
  backend/api/active/active_test.go
  backend/api/activities/activities_internal_test.go
  backend/api/auth/auth_internal_test.go
  backend/api/auth/auth_test.go
  backend/api/common/errors_test.go
  backend/api/common/internal_test.go
  backend/api/common/request_test.go
  backend/api/common/response_test.go
  backend/api/common/student_data_snapshot_test.go
  backend/api/common/student_locations_test.go
  backend/api/groups/groups_internal_test.go
  backend/api/iot/api_test.go
  backend/api/iot/attendance/attendance_internal_test.go
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/sessions/sessions_internal_test.go
  backend/api/usercontext/usercontext_internal_test.go
  backend/services/auth/refactored_modules_test.go
  backend/test/fixtures.go
Due: go-imports

fix(frontend): remove duplicate packageManager and fix flaky auth test
  frontend/package.json
  frontend/src/lib/auth-api.test.ts
Due: frontend-lint

fix: remove duplicate test functions after merge
  backend/api/active/handlers_unit_test.go
Due: go-imports

feat: add signup page with auto-org provisioning
  betterauth/src/auth.ts
  frontend/src/app/(public)/signup/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/auth/index.ts
  frontend/src/components/auth/signup-form.tsx
Due: frontend-lint

feat(guardians): add link existing guardian to student feature
  backend/api/guardians/api.go
  backend/api/guardians/handlers.go
  frontend/src/app/api/guardians/search-with-students/route.ts
  frontend/src/components/guardians/link-guardian-modal.tsx
  frontend/src/components/guardians/searchable-guardian-select.tsx
  frontend/src/components/guardians/student-guardian-manager.tsx
  frontend/src/lib/guardian-api.ts
  frontend/src/lib/guardian-helpers.ts
Due: frontend-lint, go-imports

feat: add self-service org creation schema for multi-tenant SaaS
  betterauth/src/auth.ts
  betterauth/src/validation.ts
Due: none

feat: add internal email API for org lifecycle notifications
  .env.example
  backend/api/base.go
  backend/api/internal/api.go
  backend/api/internal/email_handler.go
  backend/services/factory.go
  backend/templates/email/org-approved.html
  backend/templates/email/org-pending.html
  backend/templates/email/org-rejected.html
  docker-compose.example.yml
Due: go-imports

feat: add combined signup flow with org creation and pending email
  betterauth/src/auth.ts
  betterauth/src/email.ts
  frontend/src/app/(public)/signup/pending/page.tsx
  frontend/src/components/auth/signup-form.tsx
  frontend/src/lib/slug-validation.ts
Due: frontend-lint

feat: add subdomain middleware and SaaS admin dashboard
  betterauth/src/index.ts
  frontend/.env.example
  frontend/src/app/(auth)/saas-admin/page.tsx
  frontend/src/app/api/admin/organizations/[orgId]/approve/route.ts
  frontend/src/app/api/admin/organizations/[orgId]/reactivate/route.ts
  frontend/src/app/api/admin/organizations/[orgId]/reject/route.ts
  frontend/src/app/api/admin/organizations/[orgId]/suspend/route.ts
  frontend/src/app/api/admin/organizations/route.ts
  frontend/src/env.js
  frontend/src/lib/admin-api.ts
  frontend/src/lib/tenant-context.ts
  frontend/src/middleware.ts
Due: frontend-lint

fix: use internal API key for SaaS admin auth verification
  betterauth/src/index.ts
  frontend/.env.example
  frontend/src/app/api/admin/organizations/[orgId]/approve/route.ts
  frontend/src/app/api/admin/organizations/[orgId]/reactivate/route.ts
  frontend/src/app/api/admin/organizations/[orgId]/reject/route.ts
  frontend/src/app/api/admin/organizations/[orgId]/suspend/route.ts
  frontend/src/app/api/admin/organizations/route.ts
  frontend/src/lib/admin-auth.ts
Due: frontend-lint

feat: add middleware protection for pending orgs and SaaS admin redirects
  frontend/src/app/api/auth/check-saas-admin/route.ts
  frontend/src/components/auth/smart-redirect.tsx
  frontend/src/lib/redirect-utils.ts
  frontend/src/middleware.ts
Due: frontend-lint

fix: disable SSE for SaaS admin pages to prevent 403 errors
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

feat: redesign SaaS admin dashboard with modern UI components
  frontend/src/app/(auth)/saas-admin/page.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/card.tsx
Due: frontend-lint

feat: add logout button to SaaS admin dashboard
  frontend/src/app/(auth)/saas-admin/page.tsx
Due: frontend-lint

test(guardians): add tests for link existing guardian feature
  backend/api/guardians/guardians_test.go
  frontend/src/components/guardians/link-guardian-modal.test.tsx
  frontend/src/components/guardians/searchable-guardian-select.test.tsx
  frontend/src/lib/guardian-helpers.test.ts
Due: frontend-lint, go-imports

fix(grade-transitions): address code review issues for data integrity and API behavior
  backend/api/admin/grade_transitions.go
  backend/database/repositories/education/grade_transition.go
  backend/services/education/grade_transition_service.go
Due: go-imports

chore: add GitHub labels skill for Claude
  .claude/skills/github-labels/SKILL.md
Due: none

chore: add GitHub labels skill for Claude (#675)
  .claude/skills/github-labels/SKILL.md
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
