Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

refactor: Historien-Karte kennt Anfrage und Korrektur als getrennte Fälle
  frontend/src/components/students/request-history-item.tsx
  frontend/src/components/students/request-review-card.tsx
Due: frontend-lint

fix: keine leere Änderungsfläche bei einer Korrektur ohne Tagesänderung
  frontend/src/components/students/request-history-item.test.tsx
  frontend/src/components/students/request-history-item.tsx
Due: frontend-lint

docs: Screenshots für PR #2455 nach den Nachbesserungen
  screenshots-pr2455/03-historie-mit-korrektur.png
  screenshots-pr2455/05-nur-korrekturen.png
  screenshots-pr2455/06-suche-lina.png
  screenshots-pr2455/07-status-angenommen.png
  screenshots-pr2455/08-offen-sauber.png
  screenshots-pr2455/09-mobil-historie.png
Due: none

fix: Korrektur ohne Tagesänderung sagt das hin, statt leer zu bleiben
  frontend/src/components/students/request-history-item.test.tsx
  frontend/src/components/students/request-history-item.tsx
Due: frontend-lint

docs: Screenshots für PR #2455 mit dem Hinweis auf Korrekturen ohne Tagesänderung
  screenshots-pr2455/03-historie-mit-korrektur.png
  screenshots-pr2455/05-nur-korrekturen.png
Due: none

fix: scope direct enrollment corrections to tenant
  backend/database/repositories/audit/enrollment_offering_adjustment.go
  backend/database/repositories/audit/enrollment_offering_adjustment_test.go
Due: go-imports

perf(test): Clone-Erzeugung unter dem geteilten Lock (#2419)
  backend/internal/testdb/clone.go
  backend/internal/testdb/config.go
  backend/internal/testdb/leftovers_allowlist.go
  backend/internal/testdb/testdb_test.go
Due: go-imports

test: Fixtures fuer tenant-lose Zeilen raeumen selbst auf (#2419)
  backend/test/class_list_entry_isolation_test.go
  backend/test/e2e/calendar/parent_calendar_flow_test.go
  backend/test/e2e/calendar/personal_calendar_flow_test.go
  backend/test/e2e/timetable/flow_a_happy_path_test.go
  backend/test/e2e/timetable/flow_b_cancel_conflicts_test.go
  backend/test/e2e/timetable/flow_c_gaps_substitute_test.go
  backend/test/e2e/timetable/flow_d_replan_week_test.go
  backend/test/e2e/timetable/flow_e_student_day_test.go
  backend/test/e2e/timetable/flow_f_gdpr_cleanup_test.go
  backend/test/e2e/timetable/flow_g_template_clock_time_test.go
  backend/test/e2e/timetable/flow_h_replan_deviations_test.go
  backend/test/e2e/timetable/flow_i_staff_move_test.go
  backend/test/fixtures.go
  backend/test/helpers.go
  backend/test/hermetic_verification_test.go
  backend/test/isolation_test.go
  backend/test/parent_feedback_isolation_test.go
  backend/test/tenant_scope.go
Due: go-imports

docs: Teardown-Regel, Subtest-Tenants und das geteilte Lock (#2419)
  docs/adr/0004-testsuite-besitzt-datenbanken-nicht-server.md
Due: none

docs(test): Sequence-Offsets — Bedingung mit gemessenen Zahlen (#2419)
  backend/test/sequence_offsets.go
Due: go-imports

refactor(test): unerreichbares PackageLabelOf entfernt (#2419)
  backend/internal/testdb/clone.go
Due: go-imports

fix(test): Rollen-Pin serialisieren, Audit-Sweep-Test seriell (#2419)
  backend/database/repositories/audit/auth_event_repository_test.go
  backend/internal/testdb/config.go
  backend/internal/testdb/template.go
  backend/internal/testdb/testdb_test.go
  backend/test/hermetic_verification_test.go
Due: go-imports

feat: Anmeldungsänderungen im Anfragen-Modul inkl. Historie (#2435)
  backend/api/enrollment/api.go
  backend/api/enrollment/change_request_review_list_handlers.go
  backend/api/enrollment/change_request_review_list_router_test.go
  backend/api/students/change_request_list_handlers.go
  backend/api/testdata/route_table.golden
  backend/database/repositories/enrollment/change_request_repository.go
  backend/models/enrollment/change_request.go
  backend/services/enrollment/change_request_review_list.go
  backend/services/enrollment/change_request_service.go
  backend/services/factory.go
  frontend/src/app/[tenant]/(protected)/admin/enrollments/change-requests/page.test.tsx
  frontend/src/app/[tenant]/(protected)/admin/enrollments/change-requests/page.tsx
  frontend/src/app/[tenant]/(protected)/anfragen/page.test.tsx
  frontend/src/app/[tenant]/(protected)/anfragen/page.tsx
  frontend/src/app/api/enrollment/admin/change-requests/list/route.ts
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/enrollment/admin-enrollment-change-requests.stories.tsx
  frontend/src/components/enrollment/admin-enrollment-change-requests.test.tsx
  frontend/src/components/enrollment/admin-enrollment-change-requests.tsx
  frontend/src/components/enrollment/admin-enrollments-list.test.tsx
  frontend/src/components/enrollment/admin-enrollments-list.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/aggregated-request-list.test.tsx
  frontend/src/components/students/aggregated-request-list.tsx
  frontend/src/components/students/enrollment-request-item.tsx
  frontend/src/components/students/request-history-item.test.tsx
  frontend/src/lib/change-request-access.test.ts
  frontend/src/lib/change-request-access.ts
  frontend/src/lib/change-request-list-api.ts
  frontend/src/lib/enrollment-change-request-diff.ts
  frontend/src/lib/hooks/use-enrollment-requests-pending.ts
  frontend/src/lib/request-feed.test.ts
  frontend/src/lib/request-feed.ts
  frontend/src/lib/section-navigation.ts
Due: frontend-lint, go-imports

fix: Review-Funde an den Anmeldungsänderungen (#2435)
  backend/api/enrollment/change_request_review_list_handlers.go
  backend/api/enrollment/change_request_review_list_router_test.go
  backend/models/enrollment/change_request.go
  backend/services/enrollment/change_request_review_list.go
  frontend/src/components/enrollment/admin-enrollment-change-requests.tsx
  frontend/src/components/students/enrollment-request-item.test.tsx
  frontend/src/components/students/enrollment-request-item.tsx
  frontend/src/lib/enrollment-change-request-status.ts
  frontend/src/lib/hooks/use-enrollment-requests-pending.ts
Due: frontend-lint, go-imports

refactor: Anmeldungs-Zeile nutzt die geteilte Anfragen-Karte (#2435)
  frontend/src/components/students/enrollment-request-item.tsx
  frontend/src/components/students/request-review-card.tsx
Due: frontend-lint

fix: Status-Tabelle liegt in der Komponenten-Schicht
  frontend/src/components/enrollment/admin-enrollment-change-requests.tsx
  frontend/src/components/enrollment/enrollment-change-request-status.ts
  frontend/src/components/students/enrollment-request-item.tsx
Due: frontend-lint

docs: Screenshots für PR #2456
  screenshots-pr2456/01-eltern-offen.png
  screenshots-pr2456/02-eltern-historie.png
  screenshots-pr2456/03-mobil.png
  screenshots-pr2456/04-detailansicht.png
  screenshots-pr2456/05-ohne-berechtigung.png
Due: none

feat: Vergleich in der Liste und echter Zähler (#2435)
  backend/api/enrollment/api.go
  backend/api/enrollment/change_request_review_list_handlers.go
  backend/api/enrollment/change_request_review_list_router_test.go
  backend/api/testdata/route_table.golden
  backend/database/repositories/enrollment/change_request_repository.go
  backend/models/enrollment/change_request.go
  backend/services/enrollment/change_request_review_list.go
  backend/services/enrollment/change_request_service.go
  frontend/src/app/api/enrollment/admin/change-requests/pending-count/route.ts
  frontend/src/components/students/enrollment-request-item.test.tsx
  frontend/src/components/students/enrollment-request-item.tsx
  frontend/src/lib/change-request-list-api.ts
  frontend/src/lib/enrollment-change-request-diff.ts
  frontend/src/lib/hooks/use-enrollment-requests-pending.ts
Due: frontend-lint, go-imports

docs: Screenshots mit Vergleich in der Liste
  screenshots-pr2456/01-eltern-offen.png
  screenshots-pr2456/02-eltern-historie.png
  screenshots-pr2456/03-mobil.png
Due: none

fix(time-tracking): protect work session blocks
  backend/api/staff/time_tracking_handlers.go
  backend/api/time-tracking/api.go
  backend/database/migrations/001015305_work_session_blocks.go
  backend/models/active/work_session.go
  backend/models/active/work_session_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/iot/staffclock/service.go
Due: go-imports

fix(time-tracking): retain break audit values
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
Due: go-imports

fix(time-tracking): guard open blocks across days
  backend/database/migrations/001015305_work_session_blocks.go
  backend/database/repositories/active/work_session_test.go
Due: go-imports

test(time-tracking): close history fixtures
  backend/database/repositories/active/work_session_test.go
Due: go-imports

test(time-tracking): close open session fixtures
  backend/database/migrations/001015054_work_sessions_source_test.go
  backend/database/repositories/audit/work_session_edit_test.go
Due: go-imports

test: Abdeckung der Anmeldungsänderungs-Liste und des Zählers (#2435)
  frontend/src/lib/change-request-list-api.test.ts
  frontend/src/lib/hooks/use-enrollment-requests-pending.test.ts
  frontend/src/lib/request-feed.test.ts
Due: frontend-lint

fix: secure enrollment request feed
  frontend/src/app/[tenant]/(protected)/admin/enrollments/change-requests/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/admin/enrollments/change-requests/[id]/page.tsx
  frontend/src/components/students/aggregated-request-list.test.tsx
  frontend/src/components/students/aggregated-request-list.tsx
  frontend/src/components/students/enrollment-request-item.test.tsx
  frontend/src/components/students/enrollment-request-item.tsx
Due: frontend-lint

test: keep direct correction tests hermetic
  backend/api/students/change_request_list_handlers_test.go
  backend/api/students/direct_correction_db_test.go
  backend/database/repositories/audit/enrollment_offering_adjustment_test.go
Due: go-imports

fix(time-tracking): handle overnight work sessions
  backend/database/repositories/active/work_session.go
  backend/database/repositories/active/work_session_test.go
  backend/models/active/repository.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
Due: go-imports

fix: stabilize enrollment request history
  backend/api/enrollment/change_request_review_list_handlers.go
  backend/api/enrollment/change_request_review_list_router_test.go
  backend/database/repositories/enrollment/change_request_repository.go
  backend/models/enrollment/change_request.go
  backend/services/enrollment/change_request_review_list.go
  frontend/src/components/students/aggregated-request-list.test.tsx
  frontend/src/components/students/aggregated-request-list.tsx
Due: frontend-lint, go-imports

test: match review timestamp precision
  backend/api/enrollment/change_request_review_list_router_test.go
Due: go-imports

fix: escape enrollment request searches
  backend/api/enrollment/change_request_review_list_router_test.go
  backend/database/repositories/enrollment/change_request_repository.go
Due: go-imports

fix(time-tracking): split overnight balances
  backend/database/repositories/active/work_session_break.go
  backend/models/active/repository.go
  backend/models/active/work_session.go
  backend/models/active/work_session_test.go
  backend/services/active/labor_time_policy.go
  backend/services/active/staff_overview_service.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/active/work_time_month_prefetch.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
Due: go-imports

fix: refresh enrollment request badges
  backend/api/enrollment/change_request_review_list_handlers.go
  backend/api/enrollment/change_request_review_list_router_test.go
  frontend/src/components/enrollment/admin-enrollment-change-requests.test.tsx
  frontend/src/components/enrollment/admin-enrollment-change-requests.tsx
  frontend/src/components/enrollment/enrollment-edit-page.test.tsx
  frontend/src/components/enrollment/enrollment-edit-page.tsx
Due: frontend-lint, go-imports

fix(time-tracking): separate day history from balances
  backend/database/repositories/active/work_session.go
  backend/database/repositories/active/work_session_test.go
  backend/services/active/labor_time_policy.go
  backend/services/active/labor_time_policy_test.go
  backend/services/active/session_service_internal_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_time_month_prefetch.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  backend/services/iot/staffclock/service.go
  backend/services/iot/staffclock/service_internal_test.go
Due: go-imports

test(time-tracking): complete API service mock
  backend/api/time-tracking/api_test.go
Due: go-imports

fix: harden parallel test isolation
  backend/api/iot/internal/shared/errors_test.go
  backend/api/iot/pyreportal_error_strings_test.go
  backend/api/operator/settings_integration_test.go
  backend/internal/testdb/baseline.go
  backend/internal/testdb/leftovers.go
  backend/internal/testdb/sweep.go
  backend/internal/testdb/testdb_test.go
  backend/test/fixtures.go
Due: go-imports

feat: Änderungsprotokoll in der Kinderkartei (#2437)
  backend/api/students/change_request_list_db_test.go
  backend/api/students/change_request_list_handlers.go
  backend/api/students/direct_correction_handlers.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/app/api/students/change-requests/route.test.ts
  frontend/src/app/api/students/change-requests/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/aggregated-request-list.tsx
  frontend/src/components/students/change-protocol-tab.test.tsx
  frontend/src/components/students/change-protocol-tab.tsx
  frontend/src/lib/change-request-list-api.ts
Due: frontend-lint, go-imports

fix(time-tracking): separate export and balance ranges
  backend/database/repositories/active/work_session.go
  backend/database/repositories/active/work_session_test.go
  backend/models/active/repository.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/staff_overview_service.go
  backend/services/active/work_session_service_test.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
Due: go-imports
