Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

feat: baue die Anleitung zum Home-Bildschirm aus
  frontend/src/components/parent/parent-notification-onboarding.test.tsx
  frontend/src/components/parent/parent-notification-onboarding.tsx
  frontend/src/components/parent/shell/parent-icons.ts
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

feat: wecke Sorgeberechtigte bei Anwesenheitswechseln
  backend/services/active/active_service.go
  backend/services/active/attendance_service.go
  backend/services/active/guardian_wake.go
  backend/services/active/guardian_wake_internal_test.go
  backend/services/active/visit_helpers.go
  backend/services/factory.go
Due: go-imports

docs: protokolliere die Befunde aus der Live-Pruefung des Tagesstatus
  docs/superpowers/specs/2026-08-15-elternapp-redesign-design.md
Due: none

feat: kuendige eine neue OGS-Nachricht per E-Mail an
  backend/services/factory.go
  backend/services/messaging/message_email.go
  backend/services/messaging/message_email_test.go
  backend/services/messaging/service.go
  backend/templates/email/parent-message-notification.html
  backend/templates/email/parent_message_notification_test.go
Due: go-imports

fix: behandle einen nicht verdrahteten Betreuungsplan als unbekannt statt als betreuungsfrei
  backend/services/parent/parent_today_status_service.go
  backend/services/parent/parent_today_status_service_test.go
Due: go-imports

feat: baue den Kinderbereich kind-zentriert auf vier Abschnitte um
  frontend/src/app/parents/children/[id]/page.tsx
  frontend/src/app/parents/children/[id]/stammdaten/page.test.tsx
  frontend/src/app/parents/children/[id]/stammdaten/page.tsx
  frontend/src/app/parents/children/page.tsx
  frontend/src/components/parent/care-schedule-request-modal.test.tsx
  frontend/src/components/parent/care-schedule-request-modal.tsx
  frontend/src/components/parent/child-care-offerings.test.tsx
  frontend/src/components/parent/child-care-offerings.tsx
  frontend/src/components/parent/child-care-schedule.test.tsx
  frontend/src/components/parent/child-care-schedule.tsx
  frontend/src/components/parent/child-care.stories.tsx
  frontend/src/components/parent/child-detail-section.tsx
  frontend/src/components/parent/child-detail.stories.tsx
  frontend/src/components/parent/child-detail.tsx
  frontend/src/components/parent/child-master-data.stories.tsx
  frontend/src/components/parent/child-master-data.test.tsx
  frontend/src/components/parent/child-master-data.tsx
  frontend/src/components/parent/child-row.tsx
  frontend/src/components/parent/child/booked-care-section.test.tsx
  frontend/src/components/parent/child/booked-care-section.tsx
  frontend/src/components/parent/child/child-page.test.tsx
  frontend/src/components/parent/child/child-page.tsx
  frontend/src/components/parent/child/child-switcher.tsx
  frontend/src/components/parent/guardians-panel.stories.tsx
  frontend/src/components/parent/guardians-panel.test.tsx
  frontend/src/components/parent/guardians-panel.tsx
  frontend/src/components/parent/parent-children-page.stories.tsx
  frontend/src/components/parent/parent-children-page.tsx
  frontend/src/components/parent/parent-portal.test.tsx
  frontend/src/components/parent/related-accounts-panel.stories.tsx
  frontend/src/components/parent/related-accounts-panel.test.tsx
  frontend/src/components/parent/related-accounts-panel.tsx
  frontend/src/components/parent/shell/parent-icons.ts
  frontend/src/components/parent/shell/parent-section.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

fix: liefere das Eltern-Manifest unter der tatsaechlich erreichbaren Adresse
  frontend/src/app/manifest.ts
  frontend/src/app/parents/layout.tsx
  frontend/src/app/parents/manifest.test.ts
  frontend/src/app/parents/manifest.ts
  frontend/src/app/parents/manifest.webmanifest/route.ts
Due: frontend-lint

feat: baue die Nachrichten der Eltern-App um
  frontend/src/app/parents/messages/page.tsx
  frontend/src/components/messaging/chat-bubble.tsx
  frontend/src/components/messaging/message-composer.tsx
  frontend/src/components/parent/messages/parent-messages-page.test.tsx
  frontend/src/components/parent/messages/parent-messages-page.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/components/parent/shell/parent-icons.ts
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/shell-auth-context.tsx
Due: frontend-lint

fix: gruesse ohne Namen statt mit der E-Mail und zeige die Klasse unveraendert
  frontend/src/components/parent/child/child-day-card.tsx
Due: frontend-lint

fix(enrollment): harden rollover catalog cloning
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/rollover_offering_carryover_test.go
  backend/services/enrollment/rollover_service.go
Due: go-imports

feat: baue den Eltern-Kalender als chronologische Terminliste
  frontend/src/app/manifest.ts
  frontend/src/app/parents/calendar/page.test.tsx
  frontend/src/app/parents/calendar/page.tsx
  frontend/src/components/calendar/calendar-subscribe-panel.test.tsx
  frontend/src/components/calendar/calendar-subscribe-panel.tsx
  frontend/src/components/parent/calendar/parent-calendar-page.test.tsx
  frontend/src/components/parent/calendar/parent-calendar-page.tsx
  frontend/src/components/parent/child/child-day-card.test.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/favicon-variants.ts
Due: frontend-lint

docs: protokolliere die Entscheidungen zur Installierbarkeit
  docs/superpowers/specs/2026-08-15-elternapp-redesign-design.md
Due: none

feat: benenne Neuigkeiten in Aus der OGS um und schaerfe das Mehr-Sheet
  frontend/src/app/parents/news/page.tsx
  frontend/src/components/parent/news/news-components.test.tsx
  frontend/src/components/parent/news/news-components.tsx
  frontend/src/components/parent/news/parent-news-page.test.tsx
  frontend/src/components/parent/news/parent-news-page.tsx
  frontend/src/components/parent/shell/parent-bottom-nav.test.tsx
  frontend/src/components/parent/shell/parent-bottom-nav.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

feat: bringe Krank- und Abhol-Dialog auf Elternsprache und Touch-Mass
  frontend/src/components/parent/child-care.test.tsx
  frontend/src/components/parent/child-care.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/time-field.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

chore: raeume toten Eltern-Code auf und bringe die In-App-Hilfe nach
  frontend/scripts/apply-parent-locales.mjs
  frontend/src/app/api/parent/me/children/[studentId]/care-schedule/requests/[requestId]/withdraw/route.ts
  frontend/src/app/api/parent/me/children/[studentId]/care-schedule/requests/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/parent/parent-page.tsx
  frontend/src/components/parent/start/todo-list.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/messaging-status.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint

fix: raeume nach dem Blick in die laufende App nach
  frontend/src/components/parent/child-care.tsx
  frontend/src/components/parent/child-master-data.tsx
  frontend/src/components/parent/child/child-day-card.tsx
  frontend/src/components/parent/child/child-page.test.tsx
  frontend/src/components/parent/child/child-page.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/components/parent/parent-enroll-picker.tsx
  frontend/src/components/parent/parent-meal-plan-page.tsx
  frontend/src/components/parent/parent-page.tsx
  frontend/src/components/parent/shell/parent-bottom-nav.test.tsx
  frontend/src/components/parent/shell/parent-header.test.tsx
  frontend/src/components/parent/shell/parent-header.tsx
  frontend/src/components/parent/shell/parent-section.tsx
  frontend/src/components/parent/shell/parent-sidebar.test.tsx
  frontend/src/components/parent/start/parent-start-page.tsx
  frontend/src/components/ui/time-field.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

feat(timetable): Serienbeginn einer noch nicht gestarteten Serie vorziehen (#2226)
  backend/api/timetable/templates_start_pull_test.go
  backend/api/timetable/templates_update.go
  backend/services/schedule/template_start_pull_forward_test.go
  backend/services/schedule/template_update_service.go
Due: go-imports

feat(timetable): Serienbeginn im Serien-Editor vorziehen (#2226)
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/event-form/form-model.ts
  frontend/src/components/timetable/event-form/step-termin.tsx
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

fix: behaupte keinen schulspezifischen Mechanismus fuer die Bringzeit
  frontend/src/components/parent/child/booked-care-section.test.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
Due: frontend-lint

docs: halte fest, dass Rueckmeldungen einer Schule nicht fuer alle gelten
  docs/superpowers/specs/2026-08-15-elternapp-redesign-design.md
Due: none

fix: nenne fuer die Bringzeit keinen Mechanismus, den nicht jede Schule nutzt
  frontend/src/components/help/guide-data.ts
  frontend/src/components/parent/calendar/parent-calendar-page.tsx
  frontend/src/components/parent/child/booked-care-section.tsx
  frontend/src/components/parent/messages/parent-messages-page.tsx
  frontend/src/components/parent/news/parent-news-page.tsx
Due: frontend-lint

refactor(timetable): Review-Feinschliff zum vorgezogenen Serienbeginn (#2226)
  backend/services/schedule/template_start_pull_forward_test.go
  backend/services/schedule/template_update_service.go
  frontend/src/components/timetable/event-form/step-termin.tsx
  frontend/src/components/timetable/event-form/use-event-form.ts
Due: frontend-lint, go-imports

docs: Screenshots für PR #2328
  screenshots-pr2328/01-woche-vorher.png
  screenshots-pr2328/02-serienbeginn-feld.png
  screenshots-pr2328/03-picker-grenzen.png
  screenshots-pr2328/04-woche-nachher.png
  screenshots-pr2328/05-neues-vorkommen-roster.png
  screenshots-pr2328/06-vorgaenger-fehler.png
Due: none

fix: markiere Mehr bei seinen Unterseiten und gib dem Seitentitel Platz
  frontend/src/components/parent/shell/parent-bottom-nav.tsx
  frontend/src/components/parent/shell/parent-header.tsx
Due: frontend-lint

fix: richte die Aktionsreihe nach der Kartenbreite statt nach dem Fenster
  frontend/src/components/parent/child/child-day-card.tsx
  frontend/src/components/parent/start/parent-start-page.tsx
Due: frontend-lint

style(timetable): Serienbeginn-Hinweis auf Nachbar-Dichte kuerzen (#2226)
  frontend/src/components/timetable/event-form/step-termin.tsx
Due: frontend-lint

fix(timetable): preserve series instances on start pull
  backend/api/timetable/templates_start_pull_test.go
  backend/api/timetable/templates_update.go
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint, go-imports

refactor(timetable): keep update handler below complexity limit
  backend/api/timetable/templates_update.go
Due: go-imports

fix: fuehre die Eltern-App auf die Bildsprache des Produkts zurueck
  frontend/src/components/parent/calendar/parent-calendar-page.tsx
  frontend/src/components/parent/child/booked-care-section.tsx
  frontend/src/components/parent/child/child-day-card.tsx
  frontend/src/components/parent/guardians-panel.tsx
  frontend/src/components/parent/messages/parent-messages-page.tsx
  frontend/src/components/parent/news/news-components.tsx
  frontend/src/components/parent/news/parent-news-page.test.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/components/parent/parent-notification-onboarding.tsx
  frontend/src/components/parent/shell/parent-bottom-nav.tsx
  frontend/src/components/parent/shell/parent-header.tsx
  frontend/src/components/parent/shell/parent-icons.ts
  frontend/src/components/parent/shell/parent-nav-items.ts
  frontend/src/components/parent/shell/parent-sidebar.tsx
  frontend/src/components/parent/start/parent-start-page.tsx
  frontend/src/components/parent/start/todo-list.tsx
  frontend/src/lib/moto-concepts.ts
  frontend/src/styles/globals.css
Due: frontend-lint

docs: korrigiere die Responsive-Vorgabe auf untereinander und volle Breite
  docs/superpowers/specs/2026-08-15-elternapp-redesign-design.md
Due: none

fix(timetable): complete series start pull-forward paths
  backend/services/schedule/template_offering_source_integration_test.go
  backend/services/schedule/template_update_service.go
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
Due: frontend-lint, go-imports

feat(timetable): Leseansicht des Betreuungsplans für Teammitglieder (#2283)
  CONTEXT.md
  backend/api/testdata/route_table.golden
  backend/api/timetable/api.go
  backend/api/timetable/participants.go
  backend/api/timetable/participants_test.go
  frontend/src/app/api/timetable/instances/[id]/participants/route.ts
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
  frontend/src/components/timetable/period-switcher-dropdown.tsx
  frontend/src/components/timetable/template-card.tsx
  frontend/src/components/timetable/template-list.tsx
  frontend/src/lib/planning-navigation.ts
  frontend/src/lib/timetable-api.ts
Due: frontend-lint, go-imports

fix(timetable): Review-Funde der Leseansicht beheben (#2283)
  backend/api/timetable/participants.go
  backend/api/timetable/participants_test.go
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
  frontend/src/lib/timetable-api.ts
Due: frontend-lint, go-imports

docs: Screenshots für PR #2330
  screenshots-pr2330/modal-12p.png
  screenshots-pr2330/modal-16pm.png
  screenshots-pr2330/modal-air.png
  screenshots-pr2330/modal-dt.png
  screenshots-pr2330/modal-pro.png
  screenshots-pr2330/modal-se.png
  screenshots-pr2330/plan-12p.png
  screenshots-pr2330/plan-16pm.png
  screenshots-pr2330/plan-air.png
  screenshots-pr2330/plan-dt.png
  screenshots-pr2330/plan-pro.png
  screenshots-pr2330/plan-se.png
Due: none

feat(timetable): Leseansicht auf Wochenblick reduzieren, Eintrag unter Mein Kalender (#2283)
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
Due: frontend-lint

docs: Screenshots für PR #2330 (Runde 2: Minimal-Leseansicht)
  screenshots-pr2330/modal-12p.png
  screenshots-pr2330/modal-16pm.png
  screenshots-pr2330/modal-air.png
  screenshots-pr2330/modal-dt.png
  screenshots-pr2330/modal-pro.png
  screenshots-pr2330/modal-se.png
  screenshots-pr2330/plan-12p.png
  screenshots-pr2330/plan-16pm.png
  screenshots-pr2330/plan-air.png
  screenshots-pr2330/plan-dt.png
  screenshots-pr2330/plan-pro.png
  screenshots-pr2330/plan-se.png
  screenshots-pr2330/sidebar-dt.png
Due: none

refactor(sidebar): doppelten timetable-Gate-Zweig im Planungsfilter zusammenfassen
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

feat(calendar): eine Kalenderfläche — Betreuungsplan-Leseansicht als Tab in Mein Kalender (#2283)
  CONTEXT.md
  frontend/src/app/[tenant]/(protected)/calendar/page.test.tsx
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/planning-navigation.ts
Due: frontend-lint

docs: Screenshots für PR #2330 (Runde 3: eine Kalenderfläche)
  screenshots-pr2330/cal-tab1-se.png
  screenshots-pr2330/cal-tab1.png
  screenshots-pr2330/cal-tab2-se.png
  screenshots-pr2330/cal-tab2.png
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
