Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

test: exempt the export transfer journal from seed coverage
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

refactor(workforce): own work-time models and staff schedules (#2687)
  backend/api/base.go
  backend/api/time-tracking/staff_admin_schedule_api_test.go
  backend/api/time-tracking/staff_admin_support_test.go
  backend/api/work-time-models/api.go
  backend/api/work-time-models/api_test.go
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/config/runtime.go
  backend/database/repositories/config/staff_work_schedule.go
  backend/database/repositories/config/work_time_model.go
  backend/database/repositories/factory.go
  backend/database/repositories/timetable.go
  backend/database/repositories/users/staff_repository_test.go
  backend/database/repositories/work_session_test_helpers.go
  backend/database/repositories/workforce_worktime.go
  backend/modules/workforce/compose/httpadapter/runtime.go
  backend/modules/workforce/compose/httpadapter/runtime_test.go
  backend/modules/workforce/compose/main_test.go
  backend/modules/workforce/compose/new.go
  backend/modules/workforce/compose/repositoryadapter/repository.go
  backend/modules/workforce/compose/staff_balance_lock_test.go
  backend/modules/workforce/compose/worktime_integration_test.go
  backend/modules/workforce/internal/adapters/postgres/store.go
  backend/modules/workforce/internal/application/service.go
  backend/modules/workforce/internal/domain/worktime.go
  backend/modules/workforce/internal/domain/worktime_test.go
  backend/modules/workforce/internal/ports/ports.go
  backend/modules/workforce/workforce.go
  backend/observability/prometheus.go
  backend/services/config/work_time_model_broadcast_test.go
  backend/services/config/work_time_model_service.go
  backend/services/config/work_time_model_validation_test.go
  backend/services/factory.go
  backend/services/staff_time_tracking_notifier.go
  backend/services/work_session_test_helpers.go
  backend/services/workforce_test_helpers.go
  backend/test/calendar_date_verification_test.go
Due: go-imports

test(communication): pin cross-school isolation for parent conversations
  backend/database/repositories/users/parent_message_tenant_isolation_test.go
Due: go-imports

refactor(communication): compose parent conversation stores narrowly in tests
  backend/architecture/composition.json
  backend/database/repositories/parent_messaging_test_helpers.go
  backend/database/repositories/users/parent_message_extra_test.go
  backend/database/repositories/users/parent_message_tenant_isolation_test.go
  backend/database/repositories/users/parent_messaging_repository_test.go
  backend/database/repositories/users/parent_messaging_test_repos_test.go
  backend/modules/communication/composition/parent_store.go
  backend/modules/communication/internal/adapters/parentinbox/predicates.go
  backend/modules/communication/internal/adapters/parentinbox/projection.go
  backend/modules/communication/parentstore/parentstore.go
Due: go-imports

refactor(workforce): make the template update one unit of work (#2687)
  backend/api/work-time-models/api.go
  backend/api/work-time-models/api_test.go
  backend/database/repositories/factory.go
  backend/models/config/work_time_model.go
  backend/modules/workforce/compose/httpadapter/runtime_test.go
  backend/modules/workforce/compose/new.go
  backend/modules/workforce/compose/repositoryadapter/repository.go
  backend/modules/workforce/compose/transaction_rollback_test.go
  backend/modules/workforce/compose/worktime_integration_test.go
  backend/modules/workforce/internal/adapters/postgres/store.go
  backend/modules/workforce/internal/application/service.go
  backend/modules/workforce/workforce.go
  backend/test/calendar_date_verification_test.go
Due: go-imports

test(communication): cover the parent poll answer write
  backend/database/repositories/users/parent_announcement_response_test.go
Due: go-imports

test: record the roster ownership split in the student query budgets
  backend/test/query_budgets.go
Due: go-imports

refactor(communication): own parent announcement persistence
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/database/repositories/factory.go
  backend/database/repositories/filestore_test_helpers.go
  backend/database/repositories/parent_announcement_composition.go
  backend/database/repositories/users/parent_announcement.go
  backend/database/repositories/users/parent_announcement_letter_test.go
  backend/database/repositories/users/parent_announcement_lock_test.go
  backend/database/repositories/users/parent_announcement_poll.go
  backend/database/repositories/users/parent_announcement_poll_internal_test.go
  backend/database/repositories/users/parent_announcement_response_test.go
  backend/database/repositories/users/parent_announcement_test.go
  backend/modules/communication/internal/adapters/parentaudience/predicates.go
  backend/modules/communication/internal/adapters/parentaudience/projection.go
  backend/modules/communication/internal/adapters/parentpostgres/parent_announcements.go
  backend/modules/communication/internal/domain/parent_announcements.go
  backend/modules/communication/parentstore/announcements.go
Due: go-imports

fix(communication): hold the poll answer permission through the write
  backend/architecture/policy.json
  backend/modules/communication/internal/adapters/parentaudience/projection.go
  backend/modules/communication/internal/adapters/parentpostgres/parent_announcements_internal_test.go
  backend/modules/communication/parentstore/announcements.go
Due: go-imports

test(communication): pin cross-school isolation for parent announcements
  backend/database/repositories/users/parent_announcement_tenant_isolation_test.go
Due: go-imports

refactor(student-presence): own live group and supervisor recovery (#2692)
  backend/architecture/legacy.jsonl
  backend/database/repositories/schedule/activity_recovery_repo.go
  backend/modules/studentpresence/compose/group_recovery_runtime_test.go
  backend/modules/studentpresence/compose/group_recovery_test.go
  backend/modules/studentpresence/group_recovery.go
  backend/modules/studentpresence/internal/adapters/postgres/group_recovery.go
  backend/modules/studentpresence/internal/application/group_recovery.go
  backend/modules/studentpresence/internal/ports/ports.go
  backend/modules/studentpresence/studentpresence.go
  docs/runtime-checkpoints/student-presence-2692.md
Due: go-imports

refactor(device-fleet): read iot.devices only through the owner capability
  backend/api/base.go
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/auth/device/device_auth_test.go
  backend/database/repositories/audit/data_deletion.go
  backend/database/repositories/audit/data_deletion_repository_test.go
  backend/database/repositories/audit/device_directory.go
  backend/database/repositories/audit/unregistered_tag_scan.go
  backend/database/repositories/audit/unregistered_tag_scan_repository_test.go
  backend/database/repositories/device_fleet.go
  backend/database/repositories/device_projection_platform.go
  backend/database/repositories/factory.go
  backend/database/repositories/platform/operator_summaries_repository.go
  backend/database/repositories/platform/operator_summaries_repository_test.go
  backend/database/repositories/pwausage/pwa_standalone_usage.go
  backend/models/audit/repository.go
  backend/models/iot/repository.go
  backend/modules/devicefleet/compose/device_repository_test.go
  backend/modules/devicefleet/compose/engine.go
  backend/modules/devicefleet/compose/iot_service_test.go
  backend/modules/devicefleet/compose/main_test.go
  backend/modules/devicefleet/compose/repositoryadapter/device_filter.go
  backend/modules/devicefleet/compose/repositoryadapter/device_repository.go
  backend/modules/devicefleet/devicefleet.go
  backend/modules/devicefleet/devices.go
  backend/modules/devicefleet/internal/adapters/postgres/device_store.go
  backend/modules/devicefleet/internal/application/dashboard.go
  backend/modules/devicefleet/internal/application/device.go
  backend/modules/devicefleet/internal/ports/ports.go
  backend/services/iot/interface.go
  backend/services/iot/iot_service.go
  backend/services/platform/operator_provisioning_service_internal_test.go
  backend/test/repo_method_caller_ratchet_test.go
Due: go-imports

refactor(student-presence): keep the instance restore error stable (#2692)
  backend/database/repositories/schedule/activity_recovery_repo.go
  backend/database/repositories/schedule/activity_recovery_repo_test.go
  backend/modules/studentpresence/compose/group_recovery_runtime_test.go
  backend/modules/studentpresence/compose/group_recovery_test.go
  backend/test/presence_fixtures.go
  docs/runtime-checkpoints/student-presence-2692.md
Due: go-imports

feat(facilities): add the open-room release column and release existing Schulhof rooms
  backend/database/migrations/001015370_rooms_open_release.go
  backend/database/migrations/001015370_rooms_open_release_test.go
Due: go-imports

fix(device-fleet): require a tenant for every id-addressed display statement
  backend/architecture/composition.json
  backend/database/repositories/audit/data_deletion.go
  backend/database/repositories/audit/data_deletion_repository_test.go
  backend/database/repositories/platform/operator_device_query_budget_test.go
  backend/models/audit/repository.go
  backend/modules/devicefleet/compose/httpadapter/display_test.go
  backend/modules/devicefleet/compose/new.go
  backend/modules/devicefleet/internal/adapters/postgres/display_store.go
  backend/modules/devicefleet/internal/application/dashboard_internal_test.go
  backend/test/isolation_test.go
  backend/test/query_budgets.go
  backend/test/repo_method_caller_ratchet_test.go
Due: go-imports

feat(facilities): wire the room release through Facilities and enforce it at the Schulhof access points
  backend/models/facilities/room.go
  backend/modules/facilities/compose/httpadapter/system_filter_test.go
  backend/modules/facilities/compose/new.go
  backend/modules/facilities/compose/repositoryadapter/repository.go
  backend/modules/facilities/compose/room_release_test.go
  backend/modules/facilities/facilities.go
  backend/modules/facilities/facilities_test.go
  backend/modules/facilities/http/rooms/api.go
  backend/modules/facilities/internal/adapters/postgres/room_store.go
  backend/modules/facilities/internal/domain/room.go
  backend/modules/facilities/room_lifecycle.go
  backend/modules/facilities/room_release_test.go
  backend/services/iot/checkin/active_group_selection_internal_test.go
  backend/services/iot/checkin/checkin_service.go
  backend/services/iot/checkin/checkout_gate.go
Due: go-imports

refactor(workforce): share the strict date check and table the absence-type error classification
  backend/api/absence-types/api.go
  backend/api/substitutions/api_internal_test.go
  backend/modules/workforce/internal/domain/absence.go
  backend/modules/workforce/internal/domain/substitution.go
Due: go-imports

refactor(device-fleet): delete the retired display model package
  backend/architecture/policy.json
  backend/database/repositories/device_fleet.go
  backend/database/repositories/device_test_helpers.go
  backend/models/display/display.go
Due: go-imports

fix(architecture): update factory caller inventory
  backend/architecture/composition.json
Due: none

fix: resolve CI regressions after development merge
  backend/api/students/student_handlers.go
  backend/database/migrations/001015370_parent_request_rss_feeds.go
  backend/services/ogsgrouplive/service.go
Due: go-imports

feat(frontend): Startseite als modulares Brett statt fester Fläche (#2180)
  backend/api/base_utility_test.go
  backend/api/config/home_layout_api.go
  backend/api/config/settings_api.go
  backend/database/migrations/001015370_home_layout_blocks.go
  backend/database/repositories/config/home_layout.go
  backend/models/config/home_layout.go
  backend/services/config/home_layout_service.go
  backend/services/config/home_layout_service_internal_test.go
  backend/services/config/settings_service.go
  frontend/src/app/[tenant]/(protected)/home/page.home-layout.test.tsx
  frontend/src/app/[tenant]/(protected)/home/page.test.tsx
  frontend/src/app/[tenant]/(protected)/home/page.tsx
  frontend/src/components/dashboard/customize-dashboard-modal.test.tsx
  frontend/src/components/dashboard/customize-dashboard-modal.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/home/home-block-content.test.tsx
  frontend/src/components/home/home-block-content.tsx
  frontend/src/components/home/home-board.tsx
  frontend/src/lib/home-blocks.test.ts
  frontend/src/lib/home-blocks.ts
  frontend/src/lib/home-layout-api.test.ts
  frontend/src/lib/home-layout-api.ts
  frontend/src/lib/hooks/use-home-layout.ts
Due: frontend-lint, go-imports

feat(facilities): release the Schulhof at provisioning and let administrators manage it
  backend/seed/api/data.go
  backend/seed/api/stammdaten.go
  backend/services/facilities/facility_service.go
  backend/services/facilities/schulhof_release_provisioning_test.go
  backend/services/facilities/schulhof_service.go
  backend/services/iot/checkin/checkin_schulhof.go
  backend/services/iot/checkin/checkin_system_space.go
  frontend/src/components/database/configs/rooms.config.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/rooms/room-form-release.test.tsx
  frontend/src/components/rooms/room-form-sections.ts
  frontend/src/lib/room-helpers.ts
  frontend/src/lib/room-release.test.ts
Due: frontend-lint, go-imports

fix(frontend): Anpassen-Modus als Anordnungsfläche, gleiche Kartenhöhen (#2180)
  frontend/src/app/[tenant]/(protected)/home/page.test.tsx
  frontend/src/app/[tenant]/(protected)/home/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/home/day-flow-block.tsx
  frontend/src/components/home/home-board.tsx
  frontend/src/components/home/open-requests-block.tsx
  frontend/src/components/home/staff-notices-block.tsx
  frontend/src/lib/home-blocks.ts
Due: frontend-lint

fix: pin the SFTP host key algorithm and close the 0.0.0.0/8 hole
  backend/architecture/policy.json
  backend/modules/exporttransfer/internal/adapters/sftp/address_policy.go
  backend/modules/exporttransfer/internal/adapters/sftp/address_policy_test.go
  backend/modules/exporttransfer/internal/adapters/sftp/client.go
  backend/modules/exporttransfer/internal/adapters/sftp/client_test.go
  backend/modules/exporttransfer/internal/adapters/sftp/sftptest/server.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(frontend): Bedienleiste nach oben, Betreuungsansicht ohne Dopplung (#2180)
  frontend/src/components/help/guide-data.ts
  frontend/src/components/home/home-block-content.tsx
  frontend/src/components/home/home-board.tsx
  frontend/src/components/home/reminders-block.tsx
  frontend/src/lib/home-blocks.test.ts
  frontend/src/lib/home-blocks.ts
Due: frontend-lint

fix(frontend): Erinnerungen nur zeigen, wo die Schule sie eingeschaltet hat (#2180)
  frontend/src/app/[tenant]/(protected)/home/page.tsx
  frontend/src/components/home/reminders-block.tsx
  frontend/src/components/settings/home-blocks-tab.tsx
  frontend/src/lib/home-blocks.test.ts
  frontend/src/lib/home-blocks.ts
Due: frontend-lint

fix(frontend): gleiche Symbolflächen, Schattenraum, klare Namen, Kit-Kacheln (#2180)
  frontend/src/components/home/day-flow-block.tsx
  frontend/src/components/home/home-block-content.test.tsx
  frontend/src/components/home/home-block-content.tsx
  frontend/src/components/home/home-board.tsx
  frontend/src/components/home/open-requests-block.tsx
  frontend/src/components/home/reminders-block.tsx
  frontend/src/components/home/staff-notices-block.tsx
  frontend/src/components/settings/home-blocks-tab.test.tsx
  frontend/src/lib/home-blocks.ts
Due: frontend-lint

fix(frontend): Titel auf Symbolhöhe, Lücken füllen, Zurücksetzen in die Leiste (#2180)
  frontend/src/app/[tenant]/(protected)/home/page.tsx
  frontend/src/components/home/home-board.tsx
  frontend/src/components/ui/section-card.tsx
Due: frontend-lint

fix(ui): give checkbox fields the form's own hint layout and the kit checkbox
  frontend/src/components/ui/database/database-form.tsx
Due: frontend-lint

test(facilities): cover the release's inbound contract and its lifecycle promise
  backend/modules/facilities/compose/httpadapter/room_release_contract_test.go
  backend/modules/facilities/compose/httpadapter/room_release_lifecycle_test.go
Due: go-imports

fix(facilities): resolve open room CI regressions
  backend/api/iot/checkin/checkin_test.go
  backend/database/migrations/001015372_rooms_open_release.go
  backend/database/migrations/001015372_rooms_open_release_test.go
  backend/modules/facilities/compose/httpadapter/room_release_contract_test.go
  backend/modules/facilities/compose/httpadapter/room_release_lifecycle_test.go
Due: go-imports

fix(tests): keep schedule fixtures in the future
  backend/api/timetable/templates_start_pull_test.go
  backend/api/timetable/templates_test.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/schedule/template_source_class_filter_integration_test.go
  backend/services/schedule/template_split_service_test.go
  backend/services/schedule/template_start_pull_forward_test.go
  backend/services/users/care_lifecycle_service_test.go
Due: go-imports

fix(tests): stabilize calendar fixtures
  backend/api/timetable/templates_start_pull_test.go
  backend/api/timetable/templates_test.go
  backend/services/schedule/template_source_class_filter_integration_test.go
  backend/services/schedule/template_split_service_test.go
  backend/services/schedule/template_start_pull_forward_test.go
  backend/services/users/care_lifecycle_service_test.go
  backend/test/calendar_fixture_ratchet_test.go
Due: go-imports

test(architecture): refresh composition inventory line numbers
  backend/architecture/composition.json
Due: none

fix(facilities): return bad request for released toilets
  backend/modules/facilities/http/rooms/api.go
  backend/modules/facilities/http/rooms/failure_test.go
Due: go-imports

test: fix clock in meal participant calendar tests
  frontend/src/components/meal-plan/meal-participant-list.test.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
