Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix: refresh supervision context after toggling admin overview setting
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/components/settings/settings-page.tsx
Due: frontend-lint

fix: bypass supervision refresh throttle from settings save
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

fix: address PR review findings on admin supervision overview
  backend/api/sse/resolve_supervisions_internal_test.go
  backend/api/sse/sse_helpers.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active-supervision-dashboard/route.test.ts
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/components/auth/smart-redirect.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/lib/supervision-context.tsx
  frontend/src/lib/usercontext-context.test.tsx
Due: frontend-lint, go-imports

fix: allow dual-role teacher-admins to use admin supervision overview
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

fix: avoid duplicate /active-supervisions key in mobile nav
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
Due: frontend-lint

fix: restrict student_data_scope to read paths and verify staff identity
  backend/api/students/api.go
  backend/api/students/list_helpers.go
  backend/api/students/privacy_handlers.go
  backend/api/students/visit_handlers.go
Due: go-imports

fix: separate read and write access flags for student detail view
  backend/api/students/api.go
  backend/api/students/authorization_test.go
  backend/api/students/types.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/app/api/students/[id]/route.ts
  frontend/src/lib/hooks/use-student-data.test.ts
  frontend/src/lib/hooks/use-student-data.ts
  frontend/src/lib/student-helpers.test.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

fix: restrict pickup schedule access to match student_data_scope setting
  backend/api/students/pickup_schedule_handlers.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
Due: frontend-lint, go-imports

test: update pickup schedule test for scope-aware access control
  backend/api/students/pickup_schedule_handlers_test.go
Due: go-imports

fix: hide tracking indicators for students outside user's data scope
  backend/api/students/response_helpers.go
  backend/api/students/types.go
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

fix: respect has_full_access in location badge display
  frontend/src/lib/location-helper.ts
Due: frontend-lint

fix: include has_full_access on mapped student for location badge
  frontend/src/lib/hooks/use-student-data.ts
Due: frontend-lint

fix: pass has_full_access to LocationBadge in student detail header
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint

fix: disable history buttons in limited access view
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint

feat: add operator-level settings management for schools
  backend/api/base.go
  backend/api/operator/api.go
  backend/api/operator/settings.go
  backend/api/operator/settings_integration_test.go
  backend/api/operator/settings_internal_test.go
  frontend/src/app/api/operator/provisioning/schools/[id]/settings/schema/route.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/settings/values/[key]/reveal/route.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/settings/values/[key]/route.ts
  frontend/src/app/operator/provisioning/page.tsx
  frontend/src/app/operator/schools/[id]/settings/page.tsx
  frontend/src/lib/operator/operator-settings-api.test.ts
  frontend/src/lib/operator/operator-settings-api.ts
Due: frontend-lint, go-imports

fix: SSE cache invalidation for search page badges
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

refactor: reorganize settings page tabs for better admin UX
  backend/models/config/registry.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/devices.go
  backend/services/config/defaults/gdpr.go
  backend/services/config/defaults/operations.go
  backend/services/config/defaults/security.go
  backend/services/config/schema_builder.go
  frontend/src/components/settings/settings-page.tsx
Due: frontend-lint, go-imports

fix: broadcast dashboard_counts_changed on daily checkout
  backend/services/active/attendance_service.go
  backend/services/active/broadcast_test.go
Due: go-imports

test: raise coverage on operator settings feature to >90%
  backend/api/operator/api_test.go
  frontend/src/app/api/operator/provisioning/schools/[id]/settings/schema/route.test.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/settings/values/[key]/reveal/route.test.ts
  frontend/src/app/api/operator/provisioning/schools/[id]/settings/values/[key]/route.test.ts
  frontend/src/app/operator/schools/[id]/settings/page.test.tsx
  frontend/src/lib/operator/operator-settings-api.test.ts
Due: frontend-lint, go-imports

fix: return 409 instead of 500 when inviting account with existing tenant access
  backend/api/auth/invitation_handlers.go
  backend/api/common/errors.go
  backend/services/auth/errors.go
  backend/services/auth/invitation_service.go
  frontend/src/components/admin/invitation-form.tsx
  frontend/src/lib/auth-api.ts
  frontend/src/lib/invitation-api.ts
Due: frontend-lint, go-imports

test: add coverage for ErrorConflictWithCode and tenant access conflict
  backend/api/common/errors_test.go
  backend/services/auth/errors_test.go
  frontend/src/components/admin/invitation-form.test.tsx
Due: frontend-lint, go-imports

test: add handler test for account-already-has-tenant-access 409 response
  backend/api/auth/invitation_handlers_internal_test.go
Due: go-imports

fix: preserve backend error codes through Next.js proxy layer
  frontend/src/lib/api-helpers.test.ts
  frontend/src/lib/api-helpers.ts
Due: frontend-lint

docs: add timetable system RFC for planned + spontaneous activity scheduling
  docs/timetable-system-rfc.md
Due: none

chore: use deterministic credentials in seeder for local development
  backend/seed/api/data.go
  backend/seed/api/seeder.go
  backend/seed/api/seeder_test.go
  backend/seed/api/simulator_config_test.go
  backend/seed/api/stammdaten.go
  backend/seed/api/stammdaten_test.go
Due: go-imports

docs: add iteration notes for timetable RFC review
  docs/yonn-iteration-1-20260413-1448-timetable-system-rfc.md
Due: none

docs: add devil's advocate review and move RFC files into subdirectory
  docs/timetable-system-rfc/timetable-system-rfc.md
  docs/timetable-system-rfc/yonn-iteration-1-20260413-1448-timetable-system-rfc.md
  docs/timetable-system-rfc/yonn-iteration-2-20260413-1758-timetable-system-rfc.md
Due: none

docs: draft parent enrollment system implementation plan
  docs/parent-enrollment-plan.md
Due: none

feat: classify settings by audience (admin-only, operator-only, shared)
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/api/config/settings_api.go
  backend/api/config/settings_integration_test.go
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/config_test.go
  backend/api/iot/feedback/feedback_test.go
  backend/api/operator/api_test.go
  backend/api/operator/settings.go
  backend/api/operator/settings_integration_test.go
  backend/api/sse/resolve_supervisions_internal_test.go
  backend/models/config/registry.go
  backend/models/config/registry_test.go
  backend/services/config/defaults/operations.go
  backend/services/config/defaults/security.go
  backend/services/config/helpers_test.go
  backend/services/config/schema_builder.go
  backend/services/config/settings_interface.go
  backend/services/config/settings_service.go
  frontend/src/app/operator/schools/[id]/settings/page.tsx
  frontend/src/components/settings/settings-category.test.tsx
  frontend/src/components/settings/settings-category.tsx
  frontend/src/components/settings/settings-field.test.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/lib/settings-api.ts
Due: frontend-lint, go-imports

fix: hide "auch von moto änderbar" hint from admin settings page
  frontend/src/components/settings/settings-field.tsx
Due: frontend-lint

Revert "docs: draft parent enrollment system implementation plan"
  docs/parent-enrollment-plan.md
Due: none

style: gofmt operations.go after merge conflict resolution
  backend/services/config/defaults/operations.go
Due: go-imports

fix: upsert pickup exception when one already exists for the date
  backend/services/schedule/pickup_schedule_service.go
  backend/services/schedule/pickup_schedule_service_test.go
Due: go-imports

fix: invalidate OGS groups SWR cache after pickup schedule changes
  frontend/src/components/students/pickup-schedule-manager.tsx
Due: frontend-lint

feat: add pickup time enrichment and filter on student search
  backend/api/students/api.go
  backend/api/students/response_helpers.go
  backend/api/students/types.go
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

feat: add Klassenstufe filter to active supervisions page
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
Due: frontend-lint

fix: address review findings for supervision-filters branch
  backend/api/students/api.go
  backend/api/students/enrich_pickup_times_test.go
  backend/api/students/list_helpers.go
  backend/api/students/response_helpers.go
  backend/api/students/types.go
  backend/test/hermetic_verification_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/lib/api.ts
Due: frontend-lint, go-imports

docs: add iteration 3 with arrival schedules, three-layer architecture and industry research
  docs/timetable-system-rfc/yonn-iteration-3-20260414-1401-timetable-system-rfc.md
Due: none

fix: address SonarCloud findings and add pickup times integration test
  backend/api/students/students_test.go
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint, go-imports
