Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

test: prove the staff cutover callers, rollback and evidence
  backend/architecture/WORKPLAN.md
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/architecture/staff-owner-cutover-2753.json
  backend/database/migrations/staff_owner_backfill.go
  backend/database/migrations/staff_owner_compatibility.go
  backend/database/migrations/staff_owner_cutover.go
  backend/database/repositories/staff_membership_adapters.go
  backend/database/repositories/staff_owner_cutover_test.go
  backend/modules/schoolmembership/internal/adapters/postgres/store.go
  backend/modules/workforce/compose/staffemployment_test.go
  backend/modules/workforce/legacy/timetracking/staff_time_export_test.go
  backend/seed/api/coverage_ratchet_test.go
  docs/operations/staff-owner-storage-backfill.md
  docs/operations/staff-owner-storage-cutover.md
  docs/operations/staff-owner-storage-cutover.sql
Due: go-imports

fix: keep parent ticks from failing a demo school and space their retries
  backend/modules/identityaccess/inbound/auth/demo_role_test.go
  backend/modules/identityaccess/inbound/auth/demo_school_test.go
  backend/modules/identityaccess/internal/application/account_login.go
  backend/modules/identityaccess/internal/application/demo_access.go
  backend/modules/identityaccess/internal/application/parent_login.go
  backend/seed/api/demo_school_test.go
  backend/simulate/demo.go
  backend/simulate/demo_parents.go
  backend/simulate/demo_parents_test.go
  frontend/src/components/parent/shell/parent-shell.tsx
  frontend/src/components/parent/shell/parent-sidebar.tsx
Due: frontend-lint, go-imports

refactor(workforce): stamp the rotation anchor on the resolved assignees
  backend/modules/workforce/compose/new.go
  backend/modules/workforce/compose/transaction_rollback_test.go
  backend/modules/workforce/internal/application/service.go
  backend/modules/workforce/internal/ports/ports.go
Due: go-imports

chore(frontend): record the bundle baseline for the parents demo entry page
  frontend/scripts/perf/bundle-baseline.json
Due: none

test: drive the parents portal of the demo role through the test boundary
  backend/api/testutil/account_routes.go
  backend/modules/identityaccess/inbound/account/demo_parent_portal_test.go
Due: go-imports

test: move the parent pickup-request setting into the shared fixtures
  backend/api/testutil/account_routes.go
  backend/modules/identityaccess/inbound/account/demo_parent_portal_test.go
  backend/test/fixtures_parent_settings.go
Due: go-imports

refactor(architecture): retire the Student Presence nest in a reviewed epoch
  backend/architecture/README.md
  backend/architecture/WORKPLAN.md
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/architecture/studentpresence-cutover-3422.json
  backend/database/repositories/room_directory_test.go
  backend/database/repositories/session_staff_test.go
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/studentpresence_cutover.go
  backend/internal/architecture/studentpresence_cutover_test.go
  backend/modules/studentpresence/compose/session_records.go
  backend/test/policy_temporary_rules_ratchet_test.go
  backend/test/presence_fixtures.go
  docs/adr/0036-student-presence-cutover-replaces-legacy-permissions.md
Due: go-imports

chore: complete wt worktrees and add the native dev loop script
  .wtconfig
  devbox.json
  docs/agents/operations.md
  docs/development-environment.md
  scripts/dev-native.sh
Due: none

docs(studentpresence): correct the attendance mirror doc comments
  backend/modules/studentpresence/attendance_mirror.go
Due: go-imports

fix: renumber the demo visitor-parent migration to 1.15.410
  backend/database/migrations/001015410_demo_school_visitor_parent.go
Due: go-imports

fix: keep the session cap off the demo parent account
  backend/database/migrations/001015411_demo_access_parent_account.go
  backend/modules/identityaccess/inbound/account/demo_role_test.go
  backend/modules/identityaccess/internal/adapters/postgres/demo_access.go
  backend/modules/identityaccess/internal/application/demo_access.go
  backend/modules/identityaccess/internal/ports/demo_access.go
  docs/agents/contracts.md
Due: go-imports

refactor: bind the students inbound presence through a consumer-owned port
  backend/api/common/student_data_snapshot.go
  backend/api/common/student_locations.go
  backend/api/students/api.go
  backend/api/students/response_helpers.go
  backend/api/students/snapshot_read_failure_test.go
  backend/architecture/README.md
  backend/architecture/WORKPLAN.md
Due: go-imports

feat: restart the public demo and expire demo accesses after 14 days
  backend/api/demo_runtime.go
  backend/api/demo_runtime_test.go
  backend/cmd/demo.go
  backend/cmd/demo_expiry.go
  backend/cmd/demo_expiry_test.go
  backend/cmd/demo_scheduler.go
  backend/database/migrations/001015412_demo_expiry.go
  backend/modules/identityaccess/compose/demo_access.go
  backend/modules/identityaccess/compose/demo_access_expiry_internal_test.go
  backend/modules/identityaccess/compose/main_test.go
  backend/modules/identityaccess/demo_access.go
  backend/modules/identityaccess/inbound/account/demo_access.go
  backend/modules/identityaccess/inbound/account/demo_reset_test.go
  backend/modules/identityaccess/internal/adapters/postgres/demo_access.go
  backend/modules/identityaccess/internal/application/demo_access.go
  backend/modules/identityaccess/internal/ports/demo_access.go
  backend/modules/organizationtenancy/compose/demo_queue.go
  backend/modules/organizationtenancy/compose/demo_retire_test.go
  backend/modules/organizationtenancy/demo_state.go
  backend/modules/organizationtenancy/internal/adapters/postgres/demo_state.go
  backend/services/account_authentication_composition.go
  backend/services/demo_access_expiry_composition.go
  docs/agents/contracts.md
  docs/operations/standing-demo.md
  frontend/src/app/[tenant]/(public)/demo/page.tsx
  frontend/src/app/api/demo/access/reset/route.test.ts
  frontend/src/app/api/demo/access/reset/route.ts
  frontend/src/app/parents/demo/page.tsx
  frontend/src/components/demo/demo-banner.test.tsx
  frontend/src/components/demo/demo-banner.tsx
  frontend/src/lib/analytics.ts
  frontend/src/lib/demo-access.test.ts
  frontend/src/lib/demo-access.ts
  frontend/src/lib/posthog-privacy.test.ts
  frontend/src/lib/posthog-privacy.ts
Due: frontend-lint, go-imports

refactor: remove cross-owner implementation imports from the Identity behaviour suites
  backend/architecture/README.md
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/modules/identityaccess/behavior/auth_core_test.go
  backend/modules/identityaccess/behavior/auth_login_school_test.go
  backend/modules/identityaccess/behavior/caller_context_test.go
  backend/modules/identityaccess/behavior/caller_review_policy_test.go
  backend/modules/identityaccess/behavior/caller_root_binding_test.go
  backend/modules/identityaccess/behavior/guardian_bulk_invite_test.go
  backend/modules/identityaccess/behavior/guardian_existing_account_email_test.go
  backend/modules/identityaccess/behavior/guardian_invitation_service_test.go
  backend/modules/identityaccess/behavior/guardian_reinvitation_test.go
  backend/modules/identityaccess/behavior/guardian_related_accounts_test.go
  backend/modules/identityaccess/behavior/mfa_audit_tenant_test.go
  backend/modules/identityaccess/behavior/mfa_challenge_binding_test.go
  backend/modules/identityaccess/behavior/mfa_service_followups_test.go
  backend/modules/identityaccess/behavior/mfa_service_settings_test.go
  backend/modules/identityaccess/behavior/mfa_synchronous_delivery_test.go
  backend/modules/identityaccess/behavior/mfa_verify_race_test.go
  backend/modules/identityaccess/behavior/operator_account_access_integration_test.go
  backend/modules/identityaccess/behavior/operator_email_change_integration_test.go
  backend/modules/identityaccess/behavior/operator_mfa_synchronous_delivery_test.go
  backend/modules/identityaccess/behavior/operator_mfa_test_support_test.go
  backend/modules/identityaccess/behavior/owner_contracts_test.go
  backend/modules/identityaccess/behavior/passkey_ceremony_rollback_test.go
  backend/modules/identityaccess/behavior/password_reset_delivery_test.go
  backend/modules/identityaccess/behavior/session_scope_test.go
  backend/modules/identityaccess/behavior/token_revocation_audit_test.go
  backend/modules/securityruntime/student_absence_test.go
  backend/services/auth_test_helpers.go
  backend/test/argon2.go
  backend/test/fixtures.go
  backend/test/fixtures_guardians.go
  backend/test/helpers.go
  backend/test/hermetic_verification_test.go
  backend/test/mailers.go
  backend/test/outbox.go
  backend/test/policy_temporary_rules_ratchet_test.go
Due: go-imports

chore: refresh composition inventory line for the identity test module
  backend/architecture/composition.json
Due: none

test: keep the tenant scope on the guardian link reader
  backend/modules/identityaccess/behavior/owner_contracts_test.go
Due: go-imports

fix: limit demo restarts and close waiting orders on expiry
  backend/modules/identityaccess/compose/demo_access.go
  backend/modules/identityaccess/demo_access.go
  backend/modules/identityaccess/inbound/account/demo_access.go
  backend/modules/identityaccess/inbound/account/demo_reset_test.go
  backend/modules/identityaccess/internal/adapters/postgres/demo_access.go
  backend/modules/identityaccess/internal/application/demo_access.go
  backend/modules/organizationtenancy/compose/demo_retire_test.go
  backend/modules/organizationtenancy/internal/adapters/postgres/demo_state.go
  docs/agents/contracts.md
  frontend/src/components/demo/demo-banner.tsx
Due: frontend-lint, go-imports

docs: state that the retained-row shim survives as compose adapters
  backend/architecture/shift-planning-cutover-3418.json
Due: none

chore: drop the unused timetable no-rows wrapper
  backend/modules/timetable/compose/legacy_repository_options.go
Due: go-imports

chore: drop the unused timetable staff-shift option translators
  backend/modules/timetable/compose/legacy_repository_options.go
Due: go-imports

refactor: build the overview query through the exported composer
  backend/modules/workforce/compose/shift_planning.go
Due: go-imports

chore: keep the test-only overview composer in a test helper file
  backend/modules/workforce/compose/shift_planning.go
  backend/modules/workforce/compose/shift_planning_test_helpers.go
Due: go-imports

refactor: drop the unused calendar-period care-offering domain sentinel
  backend/modules/schoolcalendar/compose/new.go
  backend/modules/schoolcalendar/internal/domain/calendar.go
  backend/modules/schoolcalendar/internal/ports/ports.go
Due: go-imports

fix: Kinder-Importe und Kinderdaten am tatsächlichen Recht ihrer Route
  frontend/src/app/[tenant]/(protected)/database/layout.test.tsx
  frontend/src/app/[tenant]/(protected)/database/layout.tsx
  frontend/src/app/[tenant]/(protected)/database/page.test.tsx
  frontend/src/lib/section-navigation.test.ts
  frontend/src/lib/section-navigation.ts
Due: frontend-lint

fix: redact legacy staff auth pin
  backend/cmd/serve.go
  backend/cmd/serve_test.go
Due: go-imports

fix: Elternzugaenge nur mit dem Recht, die Warteschlange zu entscheiden
  frontend/src/app/[tenant]/(protected)/admin/guardian-approvals/page.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/enrollment/phase-expiry-warnings.tsx
  frontend/src/lib/guardian-approval-access.test.ts
  frontend/src/lib/guardian-approval-access.ts
Due: frontend-lint

refactor: contract shared test support edges in testdb and E2E flows (#2748)
  backend/api/testutil/helpers.go
  backend/architecture/WORKPLAN.md
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/internal/testdb/clone.go
  backend/internal/testdb/identifier_hash.go
  backend/internal/testdb/idle_unix.go
  backend/internal/testdb/template.go
  backend/internal/testdb/testdb_test.go
  backend/test/e2e/calendar/parent_calendar_flow_test.go
  backend/test/e2e/calendar/personal_calendar_flow_test.go
  backend/test/e2e/timetable/flow_a_happy_path_test.go
  backend/test/e2e/timetable/flow_e_student_day_test.go
  backend/test/e2e/timetable/flow_f_gdpr_cleanup_test.go
  backend/test/e2e/timetable/shared_setup_test.go
Due: go-imports

feat: backfill guardian storage from users.students_guardians in resumable tenant batches (#2755)
  backend/architecture/WORKPLAN.md
  backend/architecture/composition.json
  backend/cmd/backfill.go
  backend/cmd/backfill_test.go
  backend/database/migrations/001015382_staff_owner_backfill_test.go
  backend/database/migrations/001015394_student_owner_backfill_test.go
  backend/database/migrations/001015413_guardian_owner_backfill.go
  backend/database/migrations/001015413_guardian_owner_backfill_test.go
  backend/database/migrations/guardian_owner_backfill.go
  backend/database/migrations/guardian_owner_backfill_verify.go
  docs/agents/operations.md
  docs/operations/guardian-owner-storage-backfill.md
Due: go-imports

refactor: put the actor context first in the timetable check-in helper
  backend/internal/testdb/clone.go
  backend/test/e2e/timetable/flow_a_happy_path_test.go
Due: go-imports
