Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(dienstplan): renumber flexible-change migration to 1.15.192 after development merge (#1841)
  backend/database/migrations/001015192_staff_shift_flexible_changes.go
Due: go-imports

fix(dienstplan): enforce replacement containment on same-day edits and make the flexible-change rollback restorable (#1841)
  backend/database/migrations/001015192_staff_shift_flexible_changes.go
  backend/services/schedule/staff_shift_flexible_changes_mock_test.go
  backend/services/schedule/staff_shift_service.go
Due: go-imports

fix(enrollment): warn when a care offering names one weekday but more days are selected
  backend/services/enrollment/care_offering_service_test.go
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
Due: frontend-lint, go-imports

fix(dienstplan): lock dropped-cover staff and reject partial origin edits on cancellation (#1841)
  backend/api/staff-shifts/api.go
  backend/api/staff-shifts/api_internal_test.go
  backend/services/schedule/staff_shift_flexible_changes_mock_test.go
  backend/services/schedule/staff_shift_service.go
Due: go-imports

feat(time-tracking): require a reason for stamps outside the planned shift window
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/api/time-tracking/errors.go
  backend/models/audit/work_session_edit.go
  backend/models/config/keys.go
  backend/models/schedule/staff_shift.go
  backend/services/active/session_service_internal_test.go
  backend/services/active/work_session_export_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
  frontend/e2e/time-tracking-deviation.spec.ts
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/app/api/time-tracking/check-in/route.ts
  frontend/src/app/api/time-tracking/check-out/route.test.ts
  frontend/src/app/api/time-tracking/check-out/route.ts
  frontend/src/lib/time-tracking-api.ts
Due: frontend-lint, go-imports

feat(time-tracking): OriginChip benennt die Soll-Quelle der Zeiterfassung
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-time-views.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/components/ui/origin-chip.stories.tsx
  frontend/src/components/ui/origin-chip.test.tsx
  frontend/src/components/ui/origin-chip.tsx
Due: frontend-lint

feat(planung): drei Sidebar-Bereiche statt /planung-Tabs (Redesign Inkrement 1)
  frontend/e2e/planung-navigation.spec.ts
  frontend/public/help/screens/dienstplan.webp
  frontend/public/help/screens/kalenderzeitraeume.webp
  frontend/public/help/screens/stundenplan.webp
  frontend/public/help/screens/vertretungsplan.webp
  frontend/src/app/[tenant]/(protected)/betreuungsplan/page.tsx
  frontend/src/app/[tenant]/(protected)/dienstplan/page.tsx
  frontend/src/app/[tenant]/(protected)/planung/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/dienstplan/page.tsx
  frontend/src/app/[tenant]/(protected)/substitutions/page.tsx
  frontend/src/app/[tenant]/(protected)/timetables/page.tsx
  frontend/src/app/[tenant]/(protected)/vertretung/page.tsx
  frontend/src/app/[tenant]/(protected)/vertretungsplan/page.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/period-switcher-dropdown.tsx
  frontend/src/components/timetable/planung-redirect.test.ts
  frontend/src/components/timetable/planung-redirect.tsx
  frontend/src/lib/hooks/__tests__/use-sidebar-accordion.test.ts
  frontend/src/lib/hooks/use-sidebar-accordion.ts
  frontend/src/lib/navigation-icons.ts
Due: frontend-lint

fix(timetable): harden category↔shift-type mapping against data loss
  backend/api/shift-types/api.go
  backend/api/shift-types/api_test.go
  backend/database/repositories/activities/category.go
  backend/database/repositories/activities/category_repository_test.go
  backend/models/activities/category.go
  frontend/src/components/staff/shift-type-manage-modal.test.tsx
  frontend/src/components/staff/shift-type-manage-modal.tsx
Due: frontend-lint, go-imports

test(planung): cover deviation audit paths
  backend/models/audit/deviation_event_test.go
  backend/services/schedule/instance_understaffed_ack_unit_test.go
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-helpers.test.ts
Due: frontend-lint, go-imports

fix(migrations): resolve deviation audit version collision
  backend/database/migrations/001015193_deviation_events_audit.go
Due: go-imports

fix: assign unique timetable migration versions
  backend/database/migrations/001015194_group_notes.go
  backend/database/migrations/001015194_group_notes_test.go
  backend/database/migrations/001015195_category_shift_type.go
  backend/database/migrations/001015195_category_shift_type_test.go
Due: go-imports

feat(dienstplan): embed Schichtart name and color in shift responses
  backend/api/staff-shifts/api.go
  backend/models/schedule/staff_shift.go
  backend/services/schedule/staff_shift_service.go
Due: go-imports

feat(time-tracking): staff-facing endpoint for own Betreuungsplan assignments
  backend/api/base.go
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/services/factory.go
  backend/services/schedule/staff_assignment_service.go
Due: go-imports

feat(time-tracking): enable the deviation-reason gate by default
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
Due: go-imports

feat(dienstplan): allow filtering the admin shift list by staff_id
  backend/api/staff-shifts/api.go
Due: go-imports

test(time-tracking): hermetic test for the staff assignment service
  backend/services/schedule/staff_assignment_service_integration_test.go
Due: go-imports

feat(time-tracking): frontend client for shift Schichtart + own assignments
  frontend/src/app/api/time-tracking/assignments/route.ts
  frontend/src/lib/shift-api.ts
  frontend/src/lib/shift-helpers.ts
Due: frontend-lint

feat(time-tracking): show Schichtart and Vertretungen in the Stempeluhr
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/dienstplan-week-grid.test.tsx
  frontend/src/components/staff/shift-edit-modal.series.test.tsx
  frontend/src/components/staff/shift-edit-modal.test.tsx
  frontend/src/lib/shift-helpers.test.ts
Due: frontend-lint

feat(time-tracking): Mein-Tag Betreuungsplan section in the Zeiterfassung
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/time-tracking/betreuungsplan-heute-card.tsx
Due: frontend-lint

feat(time-tracking): admin Plan|Ist|Grund view in the staff detail
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/components/time-tracking/edit-history-accordion.tsx
  frontend/src/lib/shift-api.ts
Due: frontend-lint

docs(help-guide): document planned assignments, Schichtart and deviation reason
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

test(time-tracking): extend getOwnShifts expectation with Schichtart fields
  frontend/src/lib/shift-api.test.ts
Due: frontend-lint

fix(seed): supply a note on backdated time edits for the deviation gate
  backend/seed/api/seed_time_tracking.go
Due: go-imports

fix(time-tracking): address review findings on planned assignments
  backend/api/testdata/route_table.golden
  backend/services/active/work_session_service.go
  backend/services/schedule/staff_assignment_service.go
  backend/services/schedule/staff_shift_service.go
  frontend/src/components/time-tracking/betreuungsplan-heute-card.tsx
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint, go-imports

feat(backend): cascade sick reports into Dienstplan and Betreuungsplan (#1843)
  backend/api/staff/absence_admin_test.go
  backend/api/staff/api.go
  backend/api/staff/time_tracking_handlers.go
  backend/api/testdata/route_table.golden
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/api/time-tracking/errors.go
  backend/api/timetable/instances_test.go
  backend/database/migrations/001015196_sick_absence_provenance.go
  backend/database/repositories/schedule/staff_shift_repo.go
  backend/models/audit/deviation_event.go
  backend/models/schedule/instance_staff.go
  backend/models/schedule/repository.go
  backend/models/schedule/staff_shift.go
  backend/services/active/shift_plan_syncer.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_session_autocheckout_mock_test.go
  backend/services/factory.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/deviation_service.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/shift_plan_sync_service.go
  backend/services/schedule/shift_plan_sync_service_test.go
  backend/services/schedule/staff_shift_service.go
  backend/services/schedule/staff_shift_service_mock_test.go
Due: go-imports

feat(frontend): Krank melden flow in Dienstplan and staff detail (#1843)
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/api/staff/[id]/absences/[absenceId]/route.ts
  frontend/src/app/api/staff/[id]/absences/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/staff/dienstplan-week-grid.test.tsx
  frontend/src/components/staff/dienstplan-week-grid.tsx
  frontend/src/components/staff/sick-report-modal.test.tsx
  frontend/src/components/staff/sick-report-modal.tsx
  frontend/src/components/timetable/deviation-history-slide-over.tsx
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-api.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

fix(time-tracking): address second-round review findings on planned assignments
  backend/api/timetable/deviations.go
  backend/api/timetable/substitute.go
  backend/api/timetable/understaffed.go
  backend/database/repositories/audit/work_session_edit.go
  backend/database/repositories/audit/work_session_edit_test.go
  backend/models/audit/work_session_edit.go
  backend/realtime/events.go
  backend/services/active/work_session_service.go
  frontend/src/components/staff/zeiterfassung-tab.tsx
  frontend/src/components/time-tracking/betreuungsplan-heute-card.tsx
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/sse-types.ts
Due: frontend-lint, go-imports

fix(timetable): broadcast staffing_deviation_changed on planned instance CRUD
  backend/realtime/events.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint, go-imports

fix(time-tracking): address third-round review findings on planned assignments
  backend/database/repositories/activities/group.go
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/instance_staff_repo.go
  backend/models/activities/repository.go
  backend/models/schedule/activity_instance.go
  backend/models/schedule/instance_staff.go
  backend/services/factory.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/materialization_integration_test.go
  backend/services/schedule/materialization_service.go
  backend/services/schedule/materialization_service_test.go
  backend/services/schedule/staff_assignment_service.go
  backend/services/schedule/template_split_service.go
  backend/services/scheduler/setters_test.go
Due: go-imports

fix: make sickness plan cascade consistent
  backend/api/timetable/deviations.go
  backend/api/timetable/instances_test.go
  backend/api/timetable/substitute.go
  backend/services/active/shift_plan_syncer.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/factory.go
  backend/services/schedule/activity_update_broadcast.go
  backend/services/schedule/activity_update_broadcast_test.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/shift_plan_sync_service.go
  backend/services/schedule/shift_plan_sync_service_test.go
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/timetable/deviation-history-slide-over.tsx
Due: frontend-lint, go-imports

fix: synchronize approved enrollment corrections
  backend/api/enrollment/admin_data_correction_handlers.go
  backend/api/enrollment/api.go
  backend/api/enrollment/change_request_handlers.go
  backend/database/migrations/001015196_enrollment_change_request_origin.go
  backend/database/migrations/001015196_enrollment_change_request_origin_test.go
  backend/database/repositories/enrollment/change_request_repository.go
  backend/models/enrollment/change_request.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/change_request_service_test.go
  backend/services/enrollment/request_service.go
  frontend/src/app/api/enrollment/admin/data-correction/route.ts
  frontend/src/components/enrollment/admin-child-data-correction.test.tsx
  frontend/src/components/enrollment/admin-child-data-correction.tsx
  frontend/src/components/enrollment/admin-enrollment-change-requests.test.tsx
  frontend/src/components/enrollment/admin-enrollment-change-requests.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/enrollment-status-view.test.tsx
  frontend/src/components/enrollment/enrollment-status-view.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/enrollment-admin-api.test.ts
  frontend/src/lib/enrollment-admin-api.ts
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

test: derive tenant id in activity update checks
  backend/services/schedule/activity_update_broadcast_test.go
Due: go-imports

test(time-tracking): cover planned-assignment reads and Schichtart enrichment
  backend/database/repositories/activities/group_repository_test.go
  backend/database/repositories/schedule/activity_instance_repo_test.go
  backend/database/repositories/schedule/instance_staff_repo_test.go
  backend/services/schedule/staff_assignment_service_mock_test.go
  backend/services/schedule/staff_shift_service_mock_test.go
  frontend/src/lib/shift-api.test.ts
  frontend/src/lib/shift-helpers.test.ts
Due: frontend-lint, go-imports

test: fix enrollment correction CI fixtures
  backend/api/testdata/route_table.golden
  backend/services/enrollment/change_request_service_test.go
Due: go-imports

feat(timetable): warn before a series edit discards single-occurrence edits (#1875)
  .github/workflows/lint.yml
  backend/api/testdata/route_table.golden
  backend/api/timetable/api.go
  backend/api/timetable/edited_in_window.go
  backend/api/timetable/edited_in_window_test.go
  backend/api/timetable/materialize_test.go
  backend/api/timetable/templates_test.go
  backend/services/schedule/edited_instance_detection.go
  backend/services/schedule/edited_instance_detection_integration_test.go
  backend/services/schedule/edited_instance_detection_test.go
  backend/services/schedule/materialization_service.go
  backend/services/scheduler/scheduler_test.go
  frontend/e2e/timetable-lost-edits-warning.spec.ts
  frontend/src/app/api/timetable/instances/edited-in-window/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-api.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix: harden sickness cascade reconciliation
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/schedule/shift_plan_sync_service.go
  backend/services/schedule/shift_plan_sync_service_test.go
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/components/staff/abwesenheiten-tab.stories.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
Due: frontend-lint, go-imports

refactor: clear sickness cascade quality findings
  backend/services/active/staff_absence_service.go
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/dienstplan-view.tsx
Due: frontend-lint, go-imports

feat: add conditional care offering availability
  backend/api/enrollment/admin_late_invite_handlers.go
  backend/api/enrollment/care_offering_handlers.go
  backend/api/enrollment/response_shapers_test.go
  backend/api/enrollment/submission_handlers.go
  backend/api/enrollment/submission_handlers_test.go
  backend/database/migrations/001015196_care_offering_availability_rules.go
  backend/database/migrations/001015196_care_offering_availability_rules_test.go
  backend/database/repositories/enrollment/care_offering_repository.go
  backend/models/enrollment/care_offering.go
  backend/models/enrollment/care_offering_availability_test.go
  backend/services/enrollment/care_offering_availability_test.go
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_availability_test.go
  backend/services/factory.go
  frontend/public/help/screens/betreuungsangebote.webp
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/care-offering-api.ts
  frontend/src/lib/care-offering-availability.test.ts
  frontend/src/lib/care-offering-availability.ts
  frontend/src/lib/enrollment-error-messages.ts
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

refactor: simplify absence tab loading
  frontend/src/components/staff/abwesenheiten-tab.tsx
Due: frontend-lint

fix: preserve historical enrollment corrections
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/change_request_service_test.go
  frontend/src/components/enrollment/admin-child-data-correction.test.tsx
  frontend/src/components/enrollment/admin-child-data-correction.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/lib/enrollment-admin-api.ts
Due: frontend-lint, go-imports
