Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

feat(sidebar): navigate to database hub page instead of last sub-page
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix(ui): remove console.error for expected API errors
  frontend/src/components/activities/activity-management-modal.tsx
Due: frontend-lint

fix(tests): update mocks for accordion navigation and dropdown threshold
  frontend/src/app/(protected)/active-supervisions/page.test.tsx
  frontend/src/app/(protected)/ogs-groups/page.test.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/ui/page-header/NavigationTabs.test.tsx
Due: frontend-lint

feat: add backup, migration, and health check to CI/CD deployments (#785)
  .github/workflows/build.yml
Due: none

fix: cleanup stale supervisor records after midnight (#764)
  backend/cmd/cleanup.go
  backend/services/active/cleanup_service.go
  backend/services/active/cleanup_supervisors_test.go
  backend/services/active/interface.go
  backend/services/active/session_service.go
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/scheduler_test.go
Due: go-imports

fix(frontend): prevent unhandled timer errors in logout-modal tests
  frontend/src/components/ui/logout-modal.test.tsx
Due: frontend-lint

fix(frontend): prevent unhandled timer errors in logout-modal tests (#788)
  frontend/src/components/ui/logout-modal.test.tsx
Due: frontend-lint

test: improve backend test coverage for cleanup, scheduler, and session services
  backend/cmd/cleanup_test.go
  backend/services/active/cleanup_service_test.go
  backend/services/active/session_service_coverage_test.go
  backend/services/scheduler/scheduler_test.go
Due: go-imports

test: add and enhance tests for sidebar, breadcrumbs, and BFF routes
  frontend/src/app/api/active-supervision-dashboard/route.test.ts
  frontend/src/app/api/ogs-dashboard/route.test.ts
  frontend/src/components/dashboard/header/breadcrumb-components.test.tsx
  frontend/src/components/dashboard/sidebar-accordion-section.test.tsx
  frontend/src/components/dashboard/sidebar-sub-item.test.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
Due: frontend-lint

fix(groups): include user role in group transfer dropdown (#767)
  frontend/src/app/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/(protected)/ogs-groups/page.tsx
  frontend/src/lib/group-transfer-api.test.ts
  frontend/src/lib/group-transfer-api.ts
Due: frontend-lint

Fix/show every student information (#766)
  backend/api/active/active_test.go
  backend/api/active/checkout_helpers.go
  backend/api/students/pickup_schedule_handlers.go
  backend/api/students/pickup_schedule_handlers_test.go
  backend/api/students/response_helpers.go
  frontend/src/app/(protected)/students/[id]/page.test.tsx
  frontend/src/app/(protected)/students/[id]/page.tsx
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/lib/hooks/__tests__/use-student-data.test.ts
  frontend/src/lib/hooks/use-student-data.test.ts
  frontend/src/lib/hooks/use-student-data.ts
Due: frontend-lint, go-imports

test: add comprehensive unit test coverage for backend packages
  backend/api/active/errors_test.go
  backend/api/activities/errors_test.go
  backend/api/auth/errors_test.go
  backend/api/database/errors_test.go
  backend/api/feedback/errors_test.go
  backend/api/groups/errors_test.go
  backend/api/iot/common/errors_test.go
  backend/api/iot/common/helpers_test.go
  backend/api/rooms/errors_test.go
  backend/api/staff/errors_test.go
  backend/api/substitutions/errors_test.go
  backend/api/suggestions/errors_test.go
  backend/api/usercontext/errors_test.go
  backend/auth/authorize/authorization_service_test.go
  backend/auth/authorize/errors_test.go
  backend/auth/jwt/errors_test.go
  backend/cmd/cleanup_test.go
  backend/cmd/gendoc_test.go
  backend/cmd/root_test.go
  backend/cmd/seed_test.go
  backend/cmd/serve_test.go
  backend/cmd/simulate_test.go
  backend/database/database_config_test.go
  backend/database/repositories/auth/email_delivery_helpers_test.go
  backend/database/repositories/base/snake_case_test.go
  backend/database/repositories/education/substitution_helpers_test.go
  backend/database/repositories/users/person_helpers_test.go
  backend/models/audit/data_import_test.go
  backend/models/import/student_test.go
  backend/models/import/types_test.go
  backend/services/active/errors_test.go
  backend/services/activities/errors_test.go
  backend/services/auth/errors_test.go
  backend/services/auth/password_helpers_test.go
  backend/services/config/errors_test.go
  backend/services/database/errors_test.go
  backend/services/education/errors_test.go
  backend/services/import/helpers_test.go
  backend/services/usercontext/errors_test.go
  backend/services/users/errors_test.go
Due: go-imports

fix: address review feedback for migration and Schulhof auto-create
  backend/api/iot/checkin/schulhof.go
  backend/database/migrations/001008002_activities_groups_created_by.go
Due: go-imports

fix: remove broken audit records from cleanup functions
  backend/services/active/cleanup_service.go
  backend/services/scheduler/scheduler.go
Due: go-imports

fix(migrations): declare err variable in migration 1.8.2
  backend/database/migrations/001008002_activities_groups_created_by.go
Due: go-imports

fix: cleanup stale supervisor records after midnight (#787)
  backend/cmd/cleanup.go
  backend/cmd/cleanup_test.go
  backend/services/active/cleanup_service.go
  backend/services/active/cleanup_service_test.go
  backend/services/active/cleanup_supervisors_test.go
  backend/services/active/interface.go
  backend/services/active/session_service.go
  backend/services/active/session_service_coverage_test.go
  backend/services/scheduler/scheduler.go
  backend/services/scheduler/scheduler_test.go
Due: go-imports

fix(migrations): make migration 1.8.2 self-contained with TRUNCATE
  backend/database/migrations/001008002_activities_groups_created_by.go
Due: go-imports

fix(migrations): add idempotency guard to migration 1.8.2
  backend/database/migrations/001008002_activities_groups_created_by.go
Due: go-imports

fix(migrations): remove duplicate err declaration
  backend/database/migrations/001008002_activities_groups_created_by.go
Due: go-imports

fix: race condition through timers
  backend/services/scheduler/scheduler_test.go
Due: go-imports

feat(settings): add caching, change listeners, and bulk operations
  backend/api/base.go
  backend/database/repositories/config/setting_value.go
  backend/models/config/repository.go
  backend/services/config/hierarchical_settings_service.go
  backend/services/config/object_ref_resolver.go
  backend/services/factory.go
  backend/settings/cache.go
  backend/settings/definition.go
  backend/settings/i18n.go
Due: go-imports

feat(settings): add code-based tab registry infrastructure
  backend/api/settings/handlers.go
  backend/cmd/serve.go
  backend/services/config/hierarchical_settings_service.go
  backend/services/factory.go
  backend/settings/definitions/tabs.go
  backend/settings/i18n.go
  backend/settings/tab_registry.go
Due: go-imports

refactor: extract useStudentHistoryBreadcrumb hook to deduplicate history pages
  frontend/src/app/(protected)/students/[id]/feedback_history/page.tsx
  frontend/src/app/(protected)/students/[id]/mensa_history/page.tsx
  frontend/src/app/(protected)/students/[id]/room_history/page.tsx
  frontend/src/lib/breadcrumb-context.tsx
Due: frontend-lint

fix(tests): add useStudentHistoryBreadcrumb to breadcrumb-context mocks
  frontend/src/app/(protected)/students/[id]/feedback_history/page.test.tsx
  frontend/src/app/(protected)/students/[id]/mensa_history/page.test.tsx
  frontend/src/app/(protected)/students/[id]/room_history/page.test.tsx
Due: frontend-lint

fix(tests): use fake timers in getDayData tests to prevent weekend failures
  frontend/src/lib/pickup-schedule-helpers.test.ts
Due: frontend-lint

test: increase coverage on new code to meet 85% quality gate
  frontend/src/app/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/(protected)/ogs-groups/page.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/lib/breadcrumb-context.test.tsx
Due: frontend-lint

fix(build): extract helper functions from page.tsx to separate module
  frontend/src/app/(protected)/ogs-groups/ogs-group-helpers.ts
  frontend/src/app/(protected)/ogs-groups/page.test.tsx
  frontend/src/app/(protected)/ogs-groups/page.tsx
Due: frontend-lint

fix: resolve 18 SonarQube code smells in frontend
  frontend/src/app/(protected)/active-supervisions/page.tsx
  frontend/src/app/(protected)/students/[id]/page.tsx
  frontend/src/components/dashboard/sidebar-accordion-section.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/breadcrumb-context.tsx
  frontend/src/lib/hooks/use-sidebar-accordion.ts
Due: frontend-lint

fix: resolve lint errors in auth-api tests (empty function violations)
  frontend/src/lib/auth-api.test.ts
Due: frontend-lint

fix: compare room IDs instead of length to detect supervision changes
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

fix: resolve remaining SonarQube issues (typeof checks, complexity)
  frontend/src/app/(protected)/active-supervisions/page.tsx
  frontend/src/app/(protected)/students/[id]/page.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/breadcrumb-context.tsx
  frontend/src/lib/hooks/use-sidebar-accordion.ts
Due: frontend-lint

fix: add keyboard support to accordion section and resolve SonarQube issues
  frontend/src/app/api/active/supervisors/group/[groupId]/route.ts
  frontend/src/app/api/active/supervisors/staff/[staffId]/route.ts
  frontend/src/app/api/active/visits/student/[studentId]/route.ts
  frontend/src/app/api/students/[id]/route.ts
  frontend/src/app/page.test.tsx
  frontend/src/app/reset-password/page.test.tsx
  frontend/src/components/activities/activity-detail-modal.test.tsx
  frontend/src/components/dashboard/sidebar-accordion-section.tsx
  frontend/src/components/import/student-row-card.test.tsx
  frontend/src/components/import/upload-section.test.tsx
  frontend/src/components/simple/SimpleAlert.test.tsx
  frontend/src/components/students/student-card.test.tsx
  frontend/src/components/teachers/teacher-detail-modal.test.tsx
  frontend/src/components/teachers/teacher-form.test.tsx
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/detail-modal-actions.test.tsx
  frontend/src/components/ui/form-modal.test.tsx
  frontend/src/components/ui/modal.test.tsx
  frontend/src/lib/api-helpers.ts
  frontend/src/lib/auth-api.ts
  frontend/src/lib/dashboard-api.test.ts
  frontend/src/lib/database/service-factory.ts
  frontend/src/lib/student-form-validation.ts
  frontend/src/lib/student-request-helpers.ts
  frontend/src/lib/substitution-helpers.ts
Due: frontend-lint

fix: improve breadcrumb UX and mobile text overflow on student detail
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/students/pickup-schedule-manager.test.tsx
  frontend/src/components/students/pickup-schedule-manager.tsx
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint

fix: move localStorage read to useEffect to avoid SSR hydration mismatch
  frontend/src/lib/hooks/use-sidebar-accordion.ts
Due: frontend-lint

refactor(settings): replace custom tabs with shadcn Tabs line variant
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/(protected)/settings/page.tsx
  frontend/src/components/ui/tabs.tsx
Due: frontend-lint

test: add unit tests for ogs-group-helpers and use-sidebar-accordion
  frontend/src/app/(protected)/ogs-groups/ogs-group-helpers.test.ts
  frontend/src/lib/hooks/__tests__/use-sidebar-accordion.test.ts
Due: frontend-lint

chore: remove unused TabsContent export to satisfy knip
  frontend/src/components/ui/tabs.tsx
Due: frontend-lint

fix: update settings tests for Radix Tabs after shadcn refactor
  frontend/src/app/(protected)/settings/page.test.tsx
Due: frontend-lint

fix: resolve SonarQube code smells in header and accordion section
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/sidebar-accordion-section.tsx
Due: frontend-lint

fix: update sidebar tests after removing redundant role="button"
  frontend/src/components/dashboard/sidebar.test.tsx
Due: frontend-lint
