Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

test(identity-access): build the operator audit adapter through a narrow root
  backend/database/repositories/auth_persistence_test_helpers.go
  backend/database/repositories/platform/operator_adapter_test.go
Due: go-imports

fix(supervisions): default to the room the caller supervises
  frontend/src/components/active-supervisions/view-model.test.ts
  frontend/src/components/active-supervisions/view-model.ts
Due: frontend-lint

fix(import): match existing students over every exact namesake
  backend/modules/peopledirectory/compose/new.go
  backend/modules/peopledirectory/compose/new_test.go
  backend/modules/peopledirectory/internal/adapters/postgres/store.go
  backend/modules/peopledirectory/internal/domain/person.go
  backend/modules/peopledirectory/peopledirectory.go
  backend/services/import/owner_fakes_test.go
  backend/services/import/student_import_owner.go
Due: go-imports

fix(import): reuse guardians by exact e-mail and record the partial delivery
  backend/modules/peopledirectory/guardian.go
  backend/modules/peopledirectory/guardian_module.go
  backend/services/guardian_directory_composition.go
  backend/services/import/integration/import_cutover_test.go
  backend/services/import/owner_fakes_test.go
  backend/services/import/ports/ports.go
  backend/services/import/student_import_owner.go
  backend/services/import_composition.go
  docs/runtime-checkpoints/data-import-2708.md
Due: go-imports

fix(request-review): keep an emptied open type set empty and judge rows on the resolved day
  backend/modules/requestreview/legacy/legacy.go
  backend/modules/requestreview/legacy/review_day_test.go
  backend/modules/requestreview/query.go
  backend/modules/requestreview/requestreview_test.go
Due: go-imports

docs(request-review): record the partial delivery of #2705
  backend/architecture/README.md
  backend/architecture/request-review-2705.json
Due: none

fix(architecture): record the coordinator callers as a named exception
  backend/architecture/README.md
  backend/architecture/policy.json
Due: none

test: pin the request-review output to the pre-cutover reader
  backend/api/students/change_request_review_golden_test.go
  backend/api/students/change_request_review_runtime_test.go
  backend/api/students/testdata/request_review.golden.json
  backend/architecture/README.md
  backend/architecture/request-review-2705.json
  docs/runtime-checkpoints/request-review-2705.baseline-plans.json
  docs/runtime-checkpoints/request-review-2705.baseline.txt
  docs/runtime-checkpoints/request-review-2705.candidate.txt
  docs/runtime-checkpoints/request-review-2705.md
  docs/runtime-checkpoints/request-review-2705.plans.json
Due: go-imports

docs: rescope #2705 and track the compatibility permissions in #3174
  backend/architecture/README.md
  backend/architecture/request-review-2705.json
  docs/runtime-checkpoints/request-review-2705.md
Due: none

test: tokenize the impact digest in the request-review golden
  backend/api/students/change_request_review_golden_test.go
  backend/api/students/testdata/request_review.golden.json
  docs/runtime-checkpoints/request-review-2705.md
Due: go-imports

fix(frontend): Startseite steht schon im Server-HTML in voller Breite
  frontend/src/components/home/home-board.test.tsx
  frontend/src/components/home/home-board.tsx
Due: frontend-lint

test: pin request-review parity and complete scoped cutover (#3175)
  backend/api/students/change_request_review_golden_test.go
  backend/api/students/change_request_review_runtime_test.go
  backend/api/students/testdata/request_review.golden.json
  backend/architecture/README.md
  backend/architecture/request-review-2705.json
  docs/runtime-checkpoints/request-review-2705.baseline-plans.json
  docs/runtime-checkpoints/request-review-2705.baseline.txt
  docs/runtime-checkpoints/request-review-2705.candidate.txt
  docs/runtime-checkpoints/request-review-2705.md
  docs/runtime-checkpoints/request-review-2705.plans.json
Due: go-imports

chore(architecture): record request-review compatibility debt (#3174)
  backend/architecture/README.md
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
Due: none

chore(architecture): assign request-review cleanup to follow-up #3179
  backend/architecture/README.md
  backend/architecture/legacy.jsonl
Due: none

chore(architecture): record request-review compatibility debt (#3178)
  backend/architecture/README.md
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
Due: none

refactor(frontend): Personal verlinkt auf die Personalakte, Reiter Konto (#3115)
  frontend/src/app/[tenant]/(protected)/database/personal/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/staff/konto-tab.stories.tsx
  frontend/src/components/staff/konto-tab.test.tsx
  frontend/src/components/staff/konto-tab.tsx
  frontend/src/components/teachers/staff-list.stories.tsx
  frontend/src/components/teachers/staff-list.test.tsx
  frontend/src/components/teachers/staff-list.tsx
Due: frontend-lint

refactor(frontend): Raumseite als einzige Raumansicht, Unterwegs als Seite (#3115)
  frontend/src/app/[tenant]/(protected)/database/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/rooms/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/loading.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page-skeleton.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/unterwegs/loading.tsx
  frontend/src/app/[tenant]/(protected)/rooms/unterwegs/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/unterwegs/page.tsx
  frontend/src/components/rooms/room-detail-content.stories.tsx
  frontend/src/components/rooms/room-detail-content.test.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/rooms/room-stammdaten-tab.stories.tsx
  frontend/src/components/rooms/room-stammdaten-tab.test.tsx
  frontend/src/components/rooms/room-stammdaten-tab.tsx
  frontend/src/components/rooms/rooms-list.stories.tsx
  frontend/src/components/rooms/rooms-list.test.tsx
  frontend/src/components/rooms/rooms-list.tsx
  frontend/src/components/rooms/students-in-room-section.test.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
  frontend/src/components/rooms/transit-students-section.test.tsx
  frontend/src/components/rooms/transit-students-section.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

refactor(frontend): Elternmitteilung als Objektseite statt Slide-over (#3115)
  frontend/src/app/[tenant]/(protected)/parent-announcements/[id]/loading.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/[id]/page-skeleton.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.test.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/announcements/announcement-detail.tsx
  frontend/src/components/announcements/announcement-lifecycle-dialogs.test.tsx
  frontend/src/components/announcements/announcement-lifecycle-dialogs.tsx
  frontend/src/components/announcements/announcement-meta.test.tsx
  frontend/src/components/announcements/announcement-meta.tsx
  frontend/src/lib/parent-announcements-api.ts
Due: frontend-lint

feat(frontend): Ratsche bauart/one-detail-per-type, Breadcrumbs und Hilfe zu den Objektrouten (#3115)
  frontend/.oxlintrc.json
  frontend/CLAUDE.md
  frontend/public/help/screens/elternbrief-status.webp
  frontend/public/help/screens/raeume-anlegen.webp
  frontend/public/help/screens/raeume.webp
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/scripts/oxlint-plugin-bauart.test.ts
  frontend/scripts/oxlint-plugin-ui-kit.test.mjs
  frontend/scripts/verify-locales.mjs
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/ui/BAUARTEN-SPEC.md
  frontend/src/lib/breadcrumb-context.tsx
Due: frontend-lint

fix(frontend): secure detail return paths
  frontend/src/app/[tenant]/(protected)/parent-announcements/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/unterwegs/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/unterwegs/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/rooms/transit-students-section.test.tsx
  frontend/src/components/rooms/transit-students-section.tsx
  frontend/src/components/students/personal-info-form-modal.test.tsx
  frontend/src/components/students/personal-info-form-modal.tsx
  frontend/src/lib/tenant-path.test.ts
  frontend/src/lib/tenant-path.ts
Due: frontend-lint

refactor: remove retired parent-request conflict helpers
  backend/modules/requestreview/compose/conflict_keys_test.go
  backend/services/users/parent_request_conflict_resolve.go
  backend/services/users/parent_request_conflicts.go
  backend/services/users/parent_request_conflicts_test.go
Due: go-imports

fix(frontend): preserve room and privacy state
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/rooms/room-detail-content.test.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/students/personal-info-form-modal.test.tsx
  frontend/src/components/students/personal-info-form-modal.tsx
Due: frontend-lint

docs: move request-review benchmark data to downloadable artifact
  docs/runtime-checkpoints/request-review-3179.baseline-plans.json
  docs/runtime-checkpoints/request-review-3179.baseline.jsonl
  docs/runtime-checkpoints/request-review-3179.candidate-plans.json
  docs/runtime-checkpoints/request-review-3179.candidate.jsonl
  docs/runtime-checkpoints/request-review-3179.md
Due: none

fix(frontend): preserve collection navigation
  frontend/next.config.js
  frontend/src/app/[tenant]/(protected)/database/personal/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/app/[tenant]/(protected)/database/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/rooms/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/unterwegs/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/unterwegs/page.tsx
  frontend/src/components/announcements/announcement-detail.test.tsx
  frontend/src/components/announcements/announcement-detail.tsx
  frontend/src/lib/tenant-path.test.ts
  frontend/src/lib/tenant-path.ts
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint

fix(frontend): preserve collection filters
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/src/app/[tenant]/(protected)/database/personal/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/app/[tenant]/(protected)/database/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/rooms/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.test.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/announcements/announcement-detail.tsx
Due: frontend-lint

fix(frontend): retain announcement filter state
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/src/app/[tenant]/(protected)/parent-announcements/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.test.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.tsx
  frontend/src/components/rooms/room-stammdaten-tab.test.tsx
  frontend/src/components/rooms/room-stammdaten-tab.tsx
Due: frontend-lint

fix(frontend): suspend transit search params
  frontend/src/app/[tenant]/(protected)/rooms/unterwegs/page.tsx
Due: frontend-lint

refactor: remove obsolete request review access formatter
  backend/modules/identityaccess/requestreview/policy.go
  backend/modules/identityaccess/requestreview/policy_test.go
Due: go-imports

chore(frontend): Bundle-Baseline nach Objektrouten nachziehen (#3115)
  frontend/scripts/perf/bundle-baseline.json
Due: none

refactor(frontend): Konto-Reiter der Personalakte mit einem Bearbeiten-Zustand (#3116)
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.permissions.test.tsx
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/staff/konto-tab.stories.tsx
  frontend/src/components/staff/konto-tab.test.tsx
  frontend/src/components/staff/konto-tab.tsx
  frontend/src/components/teachers/role-management-modal.test.tsx
  frontend/src/components/teachers/role-management-modal.tsx
  frontend/src/components/teachers/teacher-edit-modal.stories.tsx
  frontend/src/components/teachers/teacher-edit-modal.test.tsx
  frontend/src/components/teachers/teacher-edit-modal.tsx
  frontend/src/components/teachers/teacher-form.stories.tsx
  frontend/src/components/teachers/teacher-form.test.tsx
  frontend/src/components/teachers/teacher-form.tsx
  frontend/src/lib/account-role-assignment.ts
Due: frontend-lint

refactor(frontend): Berechtigungen einer Rolle als Reiter mit eigenem Bearbeiten-Zustand (#3116)
  frontend/src/app/[tenant]/(protected)/database/roles/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/roles/page.tsx
  frontend/src/components/auth/role-permission-management-modal.stories.tsx
  frontend/src/components/auth/role-permission-management-modal.test.tsx
  frontend/src/components/auth/role-permission-management-modal.tsx
  frontend/src/components/roles/role-permissions-tab.stories.tsx
  frontend/src/components/roles/role-permissions-tab.test.tsx
  frontend/src/components/roles/role-permissions-tab.tsx
  frontend/src/components/roles/roles-master-detail.stories.tsx
  frontend/src/components/roles/roles-master-detail.test.tsx
  frontend/src/components/roles/roles-master-detail.tsx
Due: frontend-lint

feat(frontend): Ratsche bauart/no-edit-overlay einführen (#3116)
  .claude/rules/frontend-ui-kit.md
  frontend/.oxlintrc.json
  frontend/CLAUDE.md
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/scripts/oxlint-plugin-bauart.test.ts
  frontend/src/components/ui/BAUARTEN-SPEC.md
Due: frontend-lint

fix(import): skip ambiguous FindExisting matches in a batch
  backend/services/import/batches.go
  backend/services/import/integration/student_batches_test.go
  docs/runtime-checkpoints/data-import-batches-2708.md
Due: go-imports

fix(import): show committed progress on a failed batch
  docs/runtime-checkpoints/data-import-batches-2708.md
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/app/[tenant]/(protected)/database/personal/import/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/import/page.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/opening-balances/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/opening-balances/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/class-list/import/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/import/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/import/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/import-batch-result.test.ts
  frontend/src/lib/import-batch-result.ts
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
