Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

style(anfragen): Begründungsfeld auf die kompakte Kit-Größe, Punkt am Mitbuchungs-Badge weg
  frontend/src/components/students/offering-request-review-item.tsx
  frontend/src/components/students/request-review-card.tsx
Due: frontend-lint

fix(permissions): Feedback-Berechtigungen im Frontend erhalten (#2326)
  frontend/src/components/permissions/permission-selector.tsx
  frontend/src/lib/permission-labels.test.ts
  frontend/src/lib/permission-labels.ts
Due: frontend-lint

docs(help): Suggestions-Anleitung aus dem Hilfe-Guide entfernen (#2326)
  frontend/public/help/screens/feedback.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

feat(students): Oberflaeche fuer 'Betreuung beenden' (#2487)
  backend/api/students/care_exit_handlers.go
  backend/api/students/response_helpers.go
  backend/api/students/types.go
  backend/services/users/care_lifecycle_service.go
  frontend/src/app/[tenant]/(protected)/database/students/ended-care/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/app/api/students/[id]/care-end/resume/route.ts
  frontend/src/app/api/students/care-end/cancel/route.ts
  frontend/src/app/api/students/care-end/preview/route.ts
  frontend/src/app/api/students/care-end/route.ts
  frontend/src/app/api/students/ended-care/route.ts
  frontend/src/components/students/care-exit-modal.tsx
  frontend/src/components/students/care-resume-modal.tsx
  frontend/src/components/students/student-deletion-modal.tsx
  frontend/src/components/students/students-master-detail.tsx
  frontend/src/lib/care-exit-api.ts
  frontend/src/lib/student-api.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

test(students): Vertrag von 'Betreuung beenden' absichern (#2487)
  backend/api/students/care_exit_handlers_test.go
  backend/models/audit/student_field_edit.go
  backend/services/parent/care_ended_child_test.go
  backend/services/users/care_lifecycle_integration_test.go
  backend/services/users/care_lifecycle_service_test.go
Due: go-imports

test(frontend): Oberflaeche von 'Betreuung beenden' absichern (#2487)
  frontend/src/app/[tenant]/(protected)/database/students/ended-care/page.test.tsx
  frontend/src/components/students/care-exit-modal.test.tsx
  frontend/src/components/students/care-exit-modal.tsx
  frontend/src/components/students/students-master-detail.care-exit.test.tsx
Due: frontend-lint

docs(help): Kapitel 'Betreuung beenden' im Hilfe-Guide (#2487)
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix: Suggestions-Reste in Audit-Log, Doku und Anleitung entfernen (#2326)
  CLAUDE.md
  backend/database/migrations/001015315_drop_suggestions.go
  backend/models/platform/operator_audit_log.go
  docs/anleitung/content-map.md
  docs/anleitung/landing.md
  docs/anleitung/screenshots.md
  docs/anleitung/standard.md
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

docs: Screenshots für PR #2493 (Stand nach kompaktem Begründungsfeld)
  screenshots-pr2493/feld-dt.png
  screenshots-pr2493/feld-se.png
  screenshots-pr2493/kalender-dt.png
  screenshots-pr2493/kalender-se.png
  screenshots-pr2493/karte-12p.png
  screenshots-pr2493/karte-16pm.png
  screenshots-pr2493/karte-air.png
  screenshots-pr2493/karte-dt.png
  screenshots-pr2493/karte-pro.png
  screenshots-pr2493/karte-se.png
  screenshots-pr2493/konflikt-dt.png
  screenshots-pr2493/konflikt-se.png
  screenshots-pr2493/liste-12p.png
  screenshots-pr2493/liste-16pm.png
  screenshots-pr2493/liste-air.png
  screenshots-pr2493/liste-dt.png
  screenshots-pr2493/liste-pro.png
  screenshots-pr2493/liste-se.png
Due: none

feat(parents): Elternportal zeigt beendete Betreuung als Nur-Lesen (#2487)
  backend/api/parent/child_write_handlers.go
  backend/services/parent/care_ended_child_test.go
  backend/services/parent/parent_service.go
  backend/services/parent/parent_write_service.go
  frontend/screens-2487.mjs
  frontend/screens-2487b.mjs
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/parent/child/child-page.tsx
  frontend/src/components/students/students-master-detail.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/lib/analytics-routes.ts
  frontend/src/lib/care-exit-api.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

chore(students): Screenshot-Skripte fuer die visuelle Pruefung entfernen (#2487)
  frontend/screens-2487.mjs
  frontend/screens-2487b.mjs
Due: none

chore(students): Route-Golden aktualisieren und ID-Parser vereinheitlichen (#2487)
  backend/api/students/care_exit_handlers.go
  backend/api/testdata/route_table.golden
Due: go-imports

fix: seed care offering pickup times
  backend/seed/api/parent_enrollment.go
  backend/seed/api/seeder_test.go
Due: go-imports

fix(students): Klassen-Rosters, Loeschgrund-Audit und Fehlertext nachziehen (#2487)
  backend/api/students/care_exit_handlers.go
  backend/database/migrations/001015315_student_care_exits.go
  backend/services/enrollment/class_day_service.go
  backend/services/enrollment/class_roster_care_end_test.go
  backend/services/enrollment/report_service.go
  backend/services/users/care_lifecycle_service_test.go
  frontend/src/app/[tenant]/(protected)/database/students/page.care-exit.test.tsx
Due: frontend-lint, go-imports

docs(rules): Verweise auf die geloeschte feedback.webp korrigieren (#2326)
  .claude/rules/frontend-ui-kit.md
  .claude/rules/help-guide-sync.md
Due: none

fix(iot): Austritt erreicht PyrePortal als bekannter Vertragstext (#2487)
  backend/api/iot/checkin/handlers.go
  backend/api/iot/internal/shared/errors.go
  backend/api/iot/internal/shared/errors_test.go
  backend/services/iot/checkin/checkin_service.go
Due: go-imports

fix(time-tracking): avoid projection work for target charts
  backend/api/staff/schedule_targets_handlers.go
  backend/services/active/work_time_month_service.go
  backend/services/active/work_time_month_service_mock_test.go
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/staff-api.ts
Due: frontend-lint, go-imports

fix(students): beendete Betreuungen verschwinden aus Kiosk- und Geburtstagsliste (#2487)
  backend/database/repositories/users/birthday.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_care_end_filter_test.go
  backend/services/users/birthday_service_test.go
Due: go-imports

fix(schedule): Ankunftszeiten für eine Klasse überspringen beendete Kinder (#2487)
  backend/services/schedule/arrival_service.go
  backend/services/schedule/arrival_service_test.go
Due: go-imports

fix(parents): verknüpfte Konten bleiben nach dem Austritt unveränderbar (#2487)
  backend/services/parent/parent_care_offerings_service.go
  backend/services/parent/parent_care_schedule_service.go
  backend/services/parent/parent_guardian_service.go
  backend/services/parent/parent_master_data_request_service.go
  backend/services/parent/parent_master_data_service.go
  backend/services/parent/parent_messaging_service.go
  backend/services/parent/parent_related_accounts_service.go
  backend/services/parent/parent_related_accounts_service_test.go
Due: go-imports

chore(database): abgekündigtes bun.In durch bun.List ersetzen (#2487)
  backend/database/repositories/users/care_exit.go
  backend/database/repositories/users/care_exit_cleanup.go
Due: go-imports

fix(students): geplanten Austritt am Eintrag erkennen, nicht am Datum (#2487)
  backend/api/students/care_exit_handlers_test.go
  backend/api/students/response_helpers.go
  backend/api/students/student_handlers.go
  backend/api/students/types.go
  backend/services/users/care_lifecycle_service.go
  frontend/src/app/[tenant]/(protected)/database/students/page.care-exit.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/components/students/students-master-detail.care-exit.test.tsx
  frontend/src/components/students/students-master-detail.tsx
  frontend/src/lib/care-exit-api.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

style(backend): doppelte Leerzeile in der Repository-Factory entfernen (#2326)
  backend/database/repositories/factory.go
Due: go-imports

fix(time-tracking): Tagesprojektion nach Änderungen invalidieren (#2443)
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/staff-session-table.invalidation.test.ts
  frontend/src/components/staff/staff-session-table.tsx
Due: frontend-lint

docs(multi-tenancy): Datenbank-Dokument als historischen Stand markieren (#2326)
  docs/multi-tenancy/02-datenbank.md
Due: none

fix(time-tracking): Gutschrift-Tooltip nennt die angerechnete Abwesenheit (#2443)
  frontend/src/components/staff/staff-session-table.targets.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
  frontend/src/lib/staff-metrics-helpers.ts
Due: frontend-lint

fix(students): beendete Betreuungen nur noch mit Loeschrecht sichtbar (#2487)
  backend/api/students/care_exit_handlers_test.go
  backend/api/students/list_helpers.go
  backend/api/students/student_handlers.go
Due: go-imports

fix(students): Archivansicht blaettert und sucht auf dem Server (#2487)
  frontend/src/app/[tenant]/(protected)/database/students/ended-care/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/ended-care/page.tsx
Due: frontend-lint

fix(students): geplanten Austritt aendern und stornieren stellt den Plan wieder her (#2487)
  backend/database/migrations/001015316_student_care_exit_removals.go
  backend/database/repositories/users/care_exit_cleanup.go
  backend/models/users/care_exit.go
  backend/seed/api/coverage_ratchet_test.go
  backend/services/users/care_lifecycle_service.go
  backend/services/users/care_lifecycle_service_test.go
  backend/test/calendar_date_verification_test.go
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

feat(anfragen): Gültigkeitsdatum erst nach dem Haken bearbeitbar, Wunsch der Eltern bleibt sichtbar
  backend/api/students/offering_request_review_handlers.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/offering-request-review-item.test.tsx
  frontend/src/components/students/offering-request-review-item.tsx
  frontend/src/lib/offering-request-review-api.ts
Due: frontend-lint, go-imports

docs: Screenshots für PR #2493 (Gültig-ab-Panel mit Haken, Edge Cases)
  screenshots-pr2493/01-normal-gesperrt.png
  screenshots-pr2493/02-normal-entsperrt.png
  screenshots-pr2493/03-wunschdatum-vorbei.png
  screenshots-pr2493/04-konflikt.png
  screenshots-pr2493/05-mobil.png
  screenshots-pr2493/feld-dt.png
  screenshots-pr2493/feld-se.png
  screenshots-pr2493/kalender-dt.png
  screenshots-pr2493/kalender-se.png
  screenshots-pr2493/karte-12p.png
  screenshots-pr2493/karte-16pm.png
  screenshots-pr2493/karte-air.png
  screenshots-pr2493/karte-dt.png
  screenshots-pr2493/karte-pro.png
  screenshots-pr2493/karte-se.png
  screenshots-pr2493/konflikt-dt.png
  screenshots-pr2493/konflikt-se.png
  screenshots-pr2493/liste-12p.png
  screenshots-pr2493/liste-16pm.png
  screenshots-pr2493/liste-air.png
  screenshots-pr2493/liste-dt.png
  screenshots-pr2493/liste-pro.png
  screenshots-pr2493/liste-se.png
Due: none

fix(frontend): benenne die Gehzeit-Herkunft nur, wo sie unterscheidet
  frontend/src/components/students/pickup-day-edit-modal.test.tsx
  frontend/src/components/students/pickup-day-edit-modal.tsx
  frontend/src/components/students/pickup-schedule-manager.tsx
  frontend/src/lib/pickup-schedule-helpers.test.ts
  frontend/src/lib/pickup-schedule-helpers.ts
Due: frontend-lint

refactor(anfragen): Fehler als Toast, Nachkontrolle an die Erfolgsmeldung
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-request-review-item.test.tsx
  frontend/src/components/students/care-request-review-item.tsx
  frontend/src/components/students/excused-request-review-item.test.tsx
  frontend/src/components/students/excused-request-review-item.tsx
  frontend/src/components/students/master-data-review-item.test.tsx
  frontend/src/components/students/master-data-review-item.tsx
  frontend/src/components/students/offering-request-review-item.test.tsx
  frontend/src/components/students/offering-request-review-item.tsx
Due: frontend-lint

docs: Screenshots für PR #2493 (Toast-Fehler, Nachkontrolle in der Meldung)
  screenshots-pr2493/01-normal-gesperrt.png
  screenshots-pr2493/02-normal-entsperrt.png
  screenshots-pr2493/03-wunschdatum-vorbei.png
  screenshots-pr2493/04-konflikt.png
  screenshots-pr2493/05-mobil.png
  screenshots-pr2493/06-erfolgsmeldung.png
Due: none

fix(frontend): halte die Gehzeit-Herkunft in der Zeile
  frontend/src/components/students/pickup-schedule-manager.tsx
Due: frontend-lint

docs: Screenshots für PR #2494
  screenshots-pr2494/shot1-gemischt.png
  screenshots-pr2494/shot2-dialog-vonhand.png
  screenshots-pr2494/shot3-dialog-keine-gehzeit.png
  screenshots-pr2494/shot4-buchung-ausgelaufen.png
  screenshots-pr2494/shot5-mobil.png
  screenshots-pr2494/shot6-ohne-angebote.png
Due: none

fix(anfragen): lokale Freigabevorschau korrigieren
  backend/api/parent/child_messages_handlers.go
  backend/api/parent/child_messages_handlers_test.go
  backend/database/repositories/users/parent_message_read.go
  backend/models/users/parent_message_read.go
  frontend/src/app/api/parent/me/messages/children/[studentId]/threads/route.ts
  frontend/src/app/api/parent/me/messages/route.ts
  frontend/src/components/parent/messages/parent-messages-page.tsx
  frontend/src/components/parent/ogs-conversation.tsx
  frontend/src/components/students/offering-request-review-item.test.tsx
  frontend/src/components/students/offering-request-review-item.tsx
  frontend/src/lib/messaging-status.test.ts
  frontend/src/lib/messaging-status.ts
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

test(active): zeitabhaengige Annahmen vermeiden
  backend/api/active/supervision_dashboard_test.go
  backend/services/active/work_session_service_test.go
Due: go-imports

test(aufsicht): abholzeit-projektion absichern
  backend/services/supervisiondashboard/service_mock_test.go
  backend/services/supervisiondashboard/service_test.go
Due: go-imports
