Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

docs: record File Storage as the eighteenth domain
  docs/adr/0010-file-storage-is-the-eighteenth-domain.md
Due: none

fix: pin canonical backend domain and platform owners (#3034)
  backend/architecture/README.md
  backend/internal/architecture/canonical_owners_test.go
  backend/internal/architecture/policy.go
Due: go-imports

fix: merge development and move the attendance-correction migration to 1.15.368
  backend/database/migrations/001015368_attendance_corrections.go
Due: go-imports

fix: align the canonical backend module map (#3054)
  backend/architecture/README.md
  backend/internal/architecture/canonical_owners_test.go
  backend/internal/architecture/policy.go
  docs/adr/0010-file-storage-is-the-eighteenth-domain.md
Due: go-imports

fix: stop idle test database containers automatically
  backend/internal/testdb/cmd/bootstrap/main.go
  backend/internal/testdb/config.go
  backend/internal/testdb/idle_other.go
  backend/internal/testdb/idle_unix.go
  backend/internal/testdb/idle_unix_test.go
  backend/internal/testdb/server.go
  backend/internal/testdb/sweep.go
  backend/test/db_clone.go
  docker-compose.example.yml
  docs/agents/backend-testing.md
  docs/agents/operations.md
Due: go-imports

feat(enrollment): deutscher Anmeldelink /anmeldung statt /enroll
  backend/api/parent/me_handlers.go
  backend/services/enrollment/change_request_service.go
  backend/services/enrollment/decision_digest.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  docs/agents/contracts.md
  docs/parent-i18n.md
  docs/parent-portal-smoke-test.md
  frontend/src/app/[tenant]/(public)/anmeldung/[phaseId]/page.test.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/[phaseId]/page.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/layout.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/page.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/preview/page.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/status/[token]/adjust/page.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/status/[token]/edit/page.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/status/[token]/page.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/submitted/page.tsx
  frontend/src/app/parents/anmeldung/[tenantSlug]/[phaseId]/page.test.tsx
  frontend/src/app/parents/anmeldung/[tenantSlug]/[phaseId]/page.tsx
  frontend/src/app/parents/anmeldung/page.tsx
  frontend/src/app/parents/anmeldung/status/[token]/adjust/page.tsx
  frontend/src/app/parents/anmeldung/status/[token]/edit/page.tsx
  frontend/src/app/parents/anmeldung/status/[token]/page.tsx
  frontend/src/app/parents/auth-guard.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/parent/parent-enroll-picker.test.tsx
  frontend/src/components/parent/parent-enroll-picker.tsx
  frontend/src/components/parent/shell/parent-nav-items.ts
  frontend/src/components/parent/shell/parent-sidebar.tsx
  frontend/src/components/settings/enrollment-link-panel.tsx
  frontend/src/instrumentation-client.test.ts
  frontend/src/lib/analytics-routes.test.ts
  frontend/src/lib/enrollment-public-url.test.ts
  frontend/src/lib/enrollment-public-url.ts
  frontend/src/lib/hooks/use-one-time-query-flag.test.tsx
  frontend/src/lib/log-redaction.ts
  frontend/src/lib/parent-api.ts
  frontend/src/lib/pwa-install-prompt.ts
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint, go-imports

fix(frontend): Fortschritt bei programmgesteuerten Wechseln
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

test(frontend): Suchparameter in App-Hülle nachbilden
  frontend/src/components/dashboard/app-shell.test.tsx
Due: frontend-lint

fix(enrollment): repair renamed parent status routes
  frontend/scripts/perf/bundle-baseline.json
  frontend/src/components/enrollment/enrollment-edit-page.test.tsx
  frontend/src/components/enrollment/enrollment-status-view.test.tsx
  frontend/src/components/enrollment/enrollment-status-view.tsx
Due: frontend-lint

test: align narrow builders with invitation ownership checks
  backend/api/auth/invitation_ownership_test.go
  backend/api/students/direct_correction_db_test.go
  backend/api/testutil/helpers.go
  backend/services/auth_test_helpers.go
Due: go-imports

fix(frontend): Fortschrittsanzeige robust halten
  frontend/src/app/[tenant]/(protected)/loading.tsx
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
  frontend/src/lib/loading-boundaries.test.ts
Due: frontend-lint

test: remove unused broad feedback factory helper
  backend/architecture/composition.json
  backend/services/factory_test_helpers.go
Due: go-imports

test: avoid parallel student document filename collisions
  backend/services/users/student_document_service_test.go
Due: go-imports

fix(enrollment): use canonical public enrollment routes
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/components/enrollment/admin-enrollments-list.test.tsx
  frontend/src/components/enrollment/admin-enrollments-list.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/lib/enrollment-public-url.ts
Due: frontend-lint

docs: clarify historical timetable access decision
  docs/adr/0011-betreuungsplan-leseansicht-ohne-users-read.md
Due: none

fix(frontend): Navigationsfortschritt abschließen
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

fix: preserve database access when Docker discovery fails
  backend/internal/testdb/idle_unix.go
  backend/internal/testdb/idle_unix_test.go
  docs/agents/operations.md
Due: go-imports

fix(enrollment): preserve tenant enrollment navigation
  frontend/src/app/[tenant]/(public)/anmeldung/[phaseId]/page.test.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/[phaseId]/page.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/page.test.tsx
  frontend/src/app/[tenant]/(public)/anmeldung/page.tsx
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint

fix(frontend): Browser-Verlauf anzeigen
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

test(frontend): Router-Attrappe typisieren
  frontend/src/components/ui/navigation-progress.test.tsx
Due: frontend-lint

fix: stop idle test database containers automatically (#3056)
  backend/internal/testdb/cmd/bootstrap/main.go
  backend/internal/testdb/config.go
  backend/internal/testdb/idle_other.go
  backend/internal/testdb/idle_unix.go
  backend/internal/testdb/idle_unix_test.go
  backend/internal/testdb/server.go
  backend/internal/testdb/sweep.go
  backend/test/db_clone.go
  docker-compose.example.yml
  docs/agents/backend-testing.md
  docs/agents/operations.md
Due: go-imports

fix(frontend): Verlaufwechsel nur bei Navigation melden
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

fix(frontend): Seitenwechsel ohne leere Hülle
  frontend/src/app/[tenant]/(protected)/loading.tsx
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
  frontend/src/lib/loading-boundaries.test.ts
Due: frontend-lint

chore: make editor and agent language servers reproducible
  .claude/plugins/.claude-plugin/marketplace.json
  .claude/plugins/moto-lsp/.claude-plugin/plugin.json
  .claude/settings.json
  .zed/settings.json
  README.md
  devbox.json
  devbox.lock
  docs/agents/operations.md
  docs/development-environment.md
  docs/research/environment-lsp-audit-2026-09-05.md
  scripts/bootstrap-dev.sh
  scripts/check-dev-environment.mjs
  scripts/check-lsp.mjs
  scripts/editor-tool.sh
  scripts/start-claude.sh
Due: none

refactor: remove obsolete timetable test constructor
  backend/modules/timetable/timetabletest/timetable.go
Due: go-imports

refactor: inline test-only timetable capability wrapper
  backend/database/repositories/parent_route_test_helpers.go
  backend/database/repositories/timetable.go
  backend/database/repositories/timetable_test_helpers.go
Due: go-imports

feat(backend): persönliche Zusammenstellung der Startseite speichern (#2875)
  backend/api/config/home_layout_api.go
  backend/api/config/settings_api.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/architecture/policy.json
  backend/database/migrations/001015368_home_layouts.go
  backend/database/repositories/config/home_layout.go
  backend/database/repositories/config/home_layout_test.go
  backend/database/repositories/home_layout.go
  backend/models/config/home_layout.go
  backend/services/config/home_layout_service.go
  backend/services/config/home_layout_service_internal_test.go
  backend/services/config/tenant_operations.go
  backend/services/factory.go
  backend/services/settings_callbacks_test_helpers.go
  backend/services/settings_test_helpers.go
Due: go-imports

fix: preserve Devbox paths in agent shells
  .codex/config.toml
  docs/development-environment.md
Due: none

chore: make editor and agent tooling reproducible (#3059)
  .claude/plugins/.claude-plugin/marketplace.json
  .claude/plugins/moto-lsp/.claude-plugin/plugin.json
  .claude/settings.json
  .codex/config.toml
  .zed/settings.json
  README.md
  devbox.json
  devbox.lock
  docs/agents/operations.md
  docs/development-environment.md
  docs/research/environment-lsp-audit-2026-09-05.md
  scripts/bootstrap-dev.sh
  scripts/check-dev-environment.mjs
  scripts/check-lsp.mjs
  scripts/editor-tool.sh
  scripts/start-claude.sh
Due: none

fix(frontend): Fortschritt bei schnellen Verlaufwechseln halten
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

fix(frontend): Ladezustände beim Seitenwechsel erhalten
  frontend/src/app/[tenant]/(protected)/loading.tsx
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
  frontend/src/lib/loading-boundaries.test.ts
Due: frontend-lint

feat(frontend): Startseite pro Person ein- und ausblendbar (#2875)
  frontend/src/app/[tenant]/(protected)/dashboard/page.home-layout.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/app/api/settings/home-layout/policies/route.ts
  frontend/src/app/api/settings/home-layout/route.ts
  frontend/src/components/dashboard/customize-dashboard-modal.test.tsx
  frontend/src/components/dashboard/customize-dashboard-modal.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/settings/home-blocks-tab.test.tsx
  frontend/src/components/settings/home-blocks-tab.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/lib/home-blocks.test.ts
  frontend/src/lib/home-blocks.ts
  frontend/src/lib/home-layout-api.ts
  frontend/src/lib/hooks/use-home-layout.ts
Due: frontend-lint

feat(seed): add anmeldung-wochenplan demo school profile (#3011)
  .github/workflows/test.yml
  backend/cmd/seed.go
  backend/demoprofile/state.go
  backend/seed/api/enrollment_weekly_profile.go
  backend/seed/api/enrollment_weekly_profile_test.go
  backend/seed/api/seed_operations.go
  backend/seed/api/seed_operations_test.go
  backend/seed/api/seeder_test.go
  backend/seed/api/workflow_steps.go
  docs/getting-started.md
Due: go-imports

fix(frontend): Seitenwechsel robust halten
  frontend/scripts/perf/navigation.perf.ts
  frontend/src/app/[tenant]/(protected)/loading.tsx
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
  frontend/src/lib/loading-boundaries.test.ts
Due: frontend-lint

feat(seed): add anmeldung-wochenplan demo school profile (#3011) (#3060)
  .github/workflows/test.yml
  backend/cmd/seed.go
  backend/demoprofile/state.go
  backend/seed/api/enrollment_weekly_profile.go
  backend/seed/api/enrollment_weekly_profile_test.go
  backend/seed/api/seeder_test.go
  backend/seed/api/workflow_steps.go
  docs/getting-started.md
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
