Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(repo): unblock PR checks and push hooks
  backend/api/students/photo.go
  backend/database/repositories/users/student_repository_test.go
  frontend/src/app/api/settings/values/[key]/route.test.ts
  frontend/src/app/api/settings/values/[key]/route.ts
  frontend/src/app/api/students/[id]/photo/[filename]/route.test.ts
  frontend/src/components/ui/avatar.tsx
  frontend/src/lib/image-magic-bytes.ts
  frontend/src/lib/sse-types.ts
Due: frontend-lint, go-imports

refactor e2e harness around go-owned scenarios
  README.md
  backend/api/students/visit_handlers.go
  backend/api/students/visit_handlers_test.go
  backend/cmd/safeguard.go
  backend/e2e/contract/manifest.go
  backend/e2e/contract/manifest_test.go
  backend/e2e/contract/typescript.go
  backend/e2e/prepare.go
  backend/e2e/scenarios/scenarios.go
  backend/seed/api/e2e_manifest.go
  backend/seed/api/e2e_setup.go
  backend/seed/api/scenarios.go
  backend/seed/api/second_tenant_test.go
  backend/seed/api/seeder_test.go
  frontend/e2e/README.md
  frontend/e2e/contract.generated.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/harness.ts
  frontend/e2e/sick-badge-size.staff.spec.ts
Due: frontend-lint, go-imports

refactor(students): dedup photo error strings, use brand hex colors
  backend/api/students/photo.go
  frontend/src/components/students/student-photo-section.tsx
Due: frontend-lint, go-imports

fix(students): restore staticcheck nolint on photo error sites
  backend/api/students/photo.go
Due: go-imports

refactor: collapse e2e harness into single webserver process
  .github/workflows/e2e.yml
  frontend/e2e/README.md
  frontend/e2e/global-setup.ts
  frontend/e2e/harness.ts
  frontend/e2e/web-server.mjs
  frontend/package.json
  frontend/playwright.config.ts
Due: frontend-lint

refactor: simplify e2e harness architecture
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  README.md
  backend/cmd/e2e.go
  backend/cmd/e2e_test.go
  backend/cmd/seed.go
  backend/cmd/seed_test.go
  backend/e2e/contract/typescript.go
  backend/e2e/contract/typescript_test.go
  backend/e2e/prepare.go
  backend/seed/api/seeder.go
  backend/seed/api/workflow_steps.go
  frontend/e2e/README.md
  frontend/e2e/contract.generated.ts
  frontend/e2e/contract.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/flows/checkin.spec.ts
  frontend/e2e/flows/tenant-switch.spec.ts
  frontend/e2e/frontend-server.mjs
  frontend/e2e/web-server.mjs
  frontend/package.json
  frontend/playwright.config.ts
  scripts/e2e.sh
Due: frontend-lint, go-imports

fix: pin pnpm for frontend CI cache
  package.json
Due: none

refactor e2e harness around explicit scenario contract
  .github/workflows/e2e.yml
  README.md
  backend/cmd/e2e.go
  backend/cmd/e2e_test.go
  backend/cmd/seed.go
  backend/e2e/contract/manifest.go
  backend/e2e/contract/manifest_test.go
  backend/e2e/prepare.go
  backend/e2e/runtime.go
  backend/seed/api/e2e_manifest.go
  backend/seed/api/scenarios.go
  backend/seed/api/seeder_test.go
  docker-compose.example.yml
  frontend/e2e/README.md
  frontend/e2e/contract.ts
  frontend/e2e/frontend-server.mjs
  frontend/playwright.config.ts
Due: frontend-lint, go-imports

refactor(e2e): close remaining contract drift paths
  backend/cmd/e2e.go
  backend/cmd/e2e_test.go
  backend/e2e/runtime.go
  backend/e2e/runtime_test.go
  backend/seed/api/second_tenant.go
  backend/seed/api/second_tenant_test.go
  frontend/e2e/README.md
  scripts/setup-e2e-hosts.sh
Due: go-imports

fix(enrollment): render request-level custom fields in parent form
  frontend/src/components/enrollment/enrollment-form.tsx
Due: frontend-lint

fix: support full name search on database students page
  frontend/src/app/[tenant]/(protected)/database/students/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
Due: frontend-lint

test: cover database student search match variants
  frontend/src/app/[tenant]/(protected)/database/students/page.test.tsx
Due: frontend-lint

test: cover nullish-field branches in student search filter
  frontend/src/app/[tenant]/(protected)/database/students/page.test.tsx
Due: frontend-lint

refactor: make e2e harness go-owned
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  .gitignore
  README.md
  backend/cmd/e2e.go
  backend/cmd/e2e_test.go
  backend/cmd/safeguard.go
  backend/e2e/compose.yml
  backend/e2e/contract/manifest.go
  backend/e2e/contract/manifest_test.go
  backend/e2e/hosts.go
  backend/e2e/prepare.go
  backend/e2e/runner.go
  backend/seed/api/e2e_manifest.go
  backend/seed/api/scenarios.go
  backend/seed/api/second_tenant.go
  backend/seed/api/seeder.go
  backend/seed/api/seeder_test.go
  backend/seed/api/workflow_steps.go
  docker-compose.example.yml
  frontend/e2e/README.md
  frontend/e2e/api.ts
  frontend/e2e/auth.setup.ts
  frontend/e2e/auth.ts
  frontend/e2e/contract.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/flows/checkin.spec.ts
  frontend/e2e/state.ts
  frontend/playwright.config.ts
  scripts/e2e.sh
  scripts/setup-e2e-hosts.sh
Due: frontend-lint, go-imports

refactor(e2e): collapse playwright contract surface
  frontend/e2e/README.md
  frontend/e2e/api.ts
  frontend/e2e/auth.setup.ts
  frontend/e2e/auth.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/flows/checkin.spec.ts
  frontend/e2e/flows/groups-crud.spec.ts
  frontend/e2e/flows/iot-api.spec.ts
  frontend/e2e/flows/students-crud.spec.ts
  frontend/e2e/sick-badge-size.staff.spec.ts
  frontend/e2e/state.ts
Due: frontend-lint

refactor(e2e): collapse harness semantics around setup
  backend/cmd/e2e.go
  backend/cmd/e2e_test.go
  backend/cmd/seed.go
  frontend/e2e/README.md
  frontend/e2e/api.ts
  frontend/e2e/auth.setup.ts
  frontend/e2e/auth.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/state.ts
Due: frontend-lint, go-imports

test: align e2e harness with golden path
  .github/workflows/e2e.yml
  backend/seed/api/seeder_test.go
  backend/seed/api/workflow_steps.go
  frontend/e2e/README.md
  frontend/e2e/auth.ts
  frontend/e2e/state.ts
  frontend/package.json
Due: frontend-lint, go-imports

test: enforce canonical e2e harness
  backend/cmd/e2e.go
  backend/cmd/e2e_test.go
  backend/cmd/safeguard.go
  backend/cmd/seed.go
  backend/e2e/runner.go
  backend/seed/api/runtime.go
  backend/seed/api/scenarios.go
  backend/seed/api/second_tenant.go
  backend/seed/api/seeder.go
  backend/seed/api/seeder_test.go
  frontend/e2e/README.md
  frontend/e2e/auth.setup.ts
  frontend/e2e/flows/groups-crud.spec.ts
  frontend/e2e/flows/iot-api.spec.ts
  frontend/e2e/flows/students-crud.spec.ts
  frontend/e2e/state.ts
  frontend/package.json
Due: frontend-lint, go-imports

fix: enforce canonical e2e harness contract
  .gitignore
  backend/e2e/compose.yml
  backend/e2e/contract/manifest.go
  backend/e2e/contract/manifest_test.go
  backend/e2e/runner.go
  backend/e2e/scenarios/scenarios.go
  backend/seed/api/e2e_manifest.go
  backend/seed/api/e2e_setup.go
  backend/seed/api/seeder_test.go
  frontend/e2e/README.md
  frontend/e2e/api.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/sick-badge-size.staff.spec.ts
  frontend/e2e/state.ts
  frontend/playwright.config.ts
Due: frontend-lint, go-imports

test: harden e2e state contract
  backend/e2e/contract/manifest.go
  backend/e2e/contract/manifest_test.go
  frontend/e2e/README.md
  frontend/e2e/state.ts
  frontend/package.json
Due: frontend-lint, go-imports

fix(e2e): satisfy pre-push harness checks
  backend/e2e/runner.go
  frontend/package.json
Due: go-imports

fix(e2e): repair ci harness and visit tests
  backend/api/students/students_test.go
  backend/api/students/visit_handlers_test.go
  backend/e2e/contract/manifest.go
  backend/e2e/contract/manifest_test.go
Due: go-imports

fix(e2e): satisfy sonar gate
  .github/workflows/test.yml
  backend/e2e/runner.go
  frontend/src/app/[tenant]/page.test.tsx
Due: frontend-lint, go-imports

fix(ci): exclude e2e harness from sonar source scan
  sonar-project.properties
Due: none

fix(frontend): clip dropdown item highlights to rounded panel corners (#1377)
  frontend/src/app/operator/announcements/page.tsx
  frontend/src/components/operator/status-dropdown.tsx
  frontend/src/components/simple/student/ModernContactActions.tsx
  frontend/src/components/students/students-master-detail.tsx
  frontend/src/components/tenant/tenant-switcher.tsx
  frontend/src/components/ui/page-header/DesktopFilters.tsx
  frontend/src/components/ui/page-header/NavigationTabs.tsx
Due: frontend-lint

test: improve student search filter coverage
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/components/ui/page-header/MobileFilterPanel.test.tsx
  frontend/src/lib/api.test.ts
Due: frontend-lint

fix: revalidate room options in student search
  frontend/src/app/[tenant]/(protected)/students/search/page.room-filter.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.school-checkin.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint

fix: harden timetable period roster handling
  backend/api/timetable/instances.go
  backend/api/timetable/instances_update_test.go
  backend/api/timetable/templates_create.go
  backend/api/timetable/templates_list.go
  backend/api/timetable/templates_people.go
  backend/api/timetable/templates_test.go
  backend/api/timetable/templates_update.go
  backend/database/migrations/001015036_create_activity_instances.go
  backend/database/migrations/001015051_activity_instances_composite_fks.go
  backend/database/migrations/001015052_period_scoped_roster_uniqueness.go
  backend/database/migrations/001015052_period_scoped_roster_uniqueness_test.go
  backend/services/facilities/facility_service_test.go
  backend/services/schedule/materialization_service.go
Due: go-imports

fix(enrollment): treat Basis phase as no-schema, no fallback
  backend/api/enrollment/schema_handlers.go
  backend/services/enrollment/request_service.go
Due: go-imports

fix(parent): set tenant in context before nested WithTenantTx
  backend/api/parent/enrollment_handlers.go
Due: go-imports

fix(enrollment): default require_captcha to false
  backend/services/config/defaults/enrollment.go
Due: go-imports

fix(enrollment): flatten admin decide proxy route
  frontend/src/app/api/enrollment/admin/decide/route.ts
  frontend/src/app/api/enrollment/admin/requests/[id]/children/[childId]/decide/route.ts
  frontend/src/app/api/enrollment/admin/requests/[id]/children/[childId]/route.ts
  frontend/src/app/api/enrollment/admin/requests/[id]/children/route.ts
  frontend/src/lib/enrollment-admin-api.ts
Due: frontend-lint

fix(parents): land guardian-invite accept link on the parents portal
  frontend/src/app/parents/accept-guardian-invite/[token]/page.tsx
  frontend/src/app/parents/auth-guard.tsx
  frontend/src/components/auth/guardian-invitation-accept-form.tsx
  frontend/src/proxy.ts
Due: frontend-lint

fix(parent): show "Bestätigt" instead of "Anmeldung läuft" for approved children
  frontend/src/components/parent/child-detail.tsx
  frontend/src/components/parent/children-overview.tsx
Due: frontend-lint

fix(parents): add status page so post-submit redirect resolves
  frontend/src/app/parents/auth-guard.tsx
  frontend/src/app/parents/enroll/status/[token]/page.tsx
Due: frontend-lint

feat(time-tracking): require explicit status choice and audit reason for Homeoffice-Stempeln
  backend/services/active/work_session_export_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
Due: frontend-lint, go-imports

feat: add timetable staff operations
  backend/api/base.go
  backend/api/timetable/api.go
  backend/api/timetable/operations.go
  backend/services/factory.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/app/api/timetable/operations/active-groups/[id]/roster/route.ts
  frontend/src/app/api/timetable/operations/instances/[id]/complete/route.ts
  frontend/src/app/api/timetable/operations/instances/[id]/roster/route.ts
  frontend/src/app/api/timetable/operations/instances/[id]/start/route.ts
  frontend/src/app/api/timetable/operations/instances/[id]/students/[studentId]/attendance/route.ts
  frontend/src/app/api/timetable/operations/instances/[id]/students/[studentId]/check-in/route.ts
  frontend/src/app/api/timetable/operations/instances/[id]/students/[studentId]/check-out/route.ts
  frontend/src/app/api/timetable/operations/planned-now/route.ts
  frontend/src/lib/timetable-operations-api.ts
  frontend/src/lib/timetable-operations-types.ts
Due: frontend-lint, go-imports

fix: show weekends in timetable week view
  frontend/src/components/timetable/weekly-calendar-grid.tsx
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint

fix: refresh active supervision via SSE
  backend/api/students/test_helpers_test.go
  backend/realtime/broadcaster.go
  backend/realtime/events.go
  backend/services/active/active_service.go
  backend/services/active/attendance_sse_enrichment_test.go
  backend/services/active/broadcast_test.go
  backend/services/active/session_service.go
  backend/services/active/sse_adapter.go
  backend/services/active/visit_helpers.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/instance_service_integration_test.go
  backend/services/scheduler/overdue_test.go
  backend/services/scheduler/scheduler.go
  frontend/src/lib/hooks/__tests__/use-global-sse.test.ts
  frontend/src/lib/hooks/__tests__/use-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-sse.ts
  frontend/src/lib/sse-types.ts
Due: frontend-lint, go-imports
