Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

refactor(usercontext): drop *Handler() wrappers, mount Router() in tests
  backend/api/testutil/helpers.go
  backend/api/usercontext/api.go
  backend/api/usercontext/usercontext_test.go
Due: go-imports

ci(test): drop flaky-retry duplicates from junit.xml
  .github/workflows/test.yml
Due: none

test(usercontext): seed JWT viper defaults so CI without .env can sign tokens
  backend/api/testutil/helpers.go
  backend/api/usercontext/usercontext_test.go
Due: go-imports

refactor(operator): move summary raw SQL into repository layer
  backend/database/repositories/factory.go
  backend/database/repositories/platform/operator_summaries_repository.go
  backend/models/platform/operator_views.go
  backend/services/factory.go
  backend/services/platform/operator_provisioning_service.go
  backend/services/platform/operator_summaries.go
Due: go-imports

refactor(operator): centralize numberFormat helper
  frontend/src/app/operator/organizations/[slug]/page.tsx
  frontend/src/app/operator/organizations/[slug]/schools/[schoolSlug]/page.tsx
  frontend/src/app/operator/organizations/page.test.tsx
  frontend/src/app/operator/organizations/page.tsx
  frontend/src/app/operator/schools/page.test.tsx
  frontend/src/app/operator/schools/page.tsx
  frontend/src/lib/format-utils.ts
Due: frontend-lint

chore(operator): drop unused SortDirection export from DataTable
  frontend/src/components/ui/data-table.tsx
Due: frontend-lint

test(operator): cover operator summaries service + repo
  backend/database/repositories/platform/operator_summaries_repository_test.go
  backend/services/platform/operator_summaries_test.go
  backend/test/hermetic_verification_test.go
Due: go-imports

refactor(operator): dedupe school columns + soft-delete modal wrappers
  frontend/src/app/operator/organizations/[slug]/page.tsx
  frontend/src/app/operator/organizations/[slug]/schools/[schoolSlug]/page.tsx
  frontend/src/app/operator/organizations/page.tsx
  frontend/src/app/operator/provisioning/operator-entity-modals.tsx
  frontend/src/app/operator/schools/page.tsx
  frontend/src/lib/operator/school-table-columns.tsx
Due: frontend-lint

test(operator): cover drill-in tab nav, edit-rename redirect, error paths
  frontend/src/app/operator/organizations/[slug]/page.test.tsx
  frontend/src/app/operator/organizations/[slug]/schools/[schoolSlug]/page.test.tsx
Due: frontend-lint

docs: align enrollment plan with Yannick's Timetable RFC
  docs/parent-enrollment-plan.md
Due: none

docs: draft parent enrollment system implementation plan
  docs/parent-enrollment-plan.md
Due: none

docs: add per-offering application window to care offerings
  docs/parent-enrollment-plan.md
Due: none

docs: address rev-1 feedback in enrollment plan
  docs/parent-enrollment-plan.md
Due: none

docs: align enrollment plan with shipped Timetable RFC dependencies (rev 2.4)
  docs/parent-enrollment-implementation-plan.md
  docs/parent-enrollment-plan.md
Due: none

docs: record resolved team answers (rev 2.3)
  docs/parent-enrollment-implementation-plan.md
  docs/parent-enrollment-plan.md
Due: none

docs: refresh enrollment dependency-graph annotation (rev 2.4 followup)
  docs/parent-enrollment-implementation-plan.md
Due: none

docs: add PR-by-PR execution plan for enrollment feature
  docs/parent-enrollment-implementation-plan.md
Due: none

fix(test): isolate TestCreateSupervisor via tenant-scoped cleanup
  backend/api/active/active_test.go
  backend/api/testutil/helpers.go
  backend/test/fixtures.go
Due: go-imports

feat: add student lifecycle fields + activation scheduler
  backend/api/server.go
  backend/database/migrations/001015045_student_lifecycle.go
  backend/database/repositories/users/student.go
  backend/database/repositories/users/student_lifecycle_repository_test.go
  backend/models/config/keys.go
  backend/models/users/repository.go
  backend/models/users/student.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
  backend/services/scheduler/activate_students.go
  backend/services/scheduler/activate_students_test.go
  backend/services/scheduler/scheduler.go
Due: go-imports

chore: drop unknown 'no-underscore-dangle' rule from oxlint config
  frontend/.oxlintrc.json
Due: none

feat: complete guardian invitation service against auth.accounts
  backend/api/auth/api.go
  backend/api/auth/guardian_invitation_handlers.go
  backend/api/base.go
  backend/database/migrations/001015046_guardian_profile_account_fk.go
  backend/models/config/keys.go
  backend/services/auth/guardian_invitation_interface.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/auth/guardian_invitation_service_test.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/invitations.go
  backend/services/factory.go
  backend/services/users/guardian_service.go
  frontend/src/app/accept-guardian-invite/[token]/page.tsx
  frontend/src/app/api/guardian-invitations/[token]/accept/route.ts
  frontend/src/app/api/guardian-invitations/[token]/route.ts
  frontend/src/components/auth/guardian-invitation-accept-form.tsx
  frontend/src/lib/guardian-invitation-api.ts
Due: frontend-lint, go-imports

feat: complete timetable admin planning controls
  frontend/src/app/[tenant]/(protected)/database/timetables/page.tsx
  frontend/src/app/api/timetable/exception-conflicts/route.ts
  frontend/src/app/api/timetable/gaps/route.ts
  frontend/src/app/api/timetable/instances/[id]/students/[studentId]/route.ts
  frontend/src/app/api/timetable/instances/re-plan-week/route.ts
  frontend/src/app/api/timetable/substitute/route.ts
  frontend/src/components/timetable/calendar-period-modal.tsx
  frontend/src/components/timetable/instance-detail-slide-over.tsx
  frontend/src/components/timetable/materialize-button.tsx
  frontend/src/components/timetable/plan-quality-panel.tsx
  frontend/src/lib/api-helpers.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-sse.ts
  frontend/src/lib/route-wrapper.ts
  frontend/src/lib/timetable-api.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint

fix iot daily checkout attendance
  backend/api/iot/attendance/attendance_test.go
  backend/api/iot/attendance/handlers.go
Due: go-imports

feat: register enrollment settings + add FieldDate type
  backend/models/config/keys.go
  backend/models/config/registry.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/enrollment.go
  frontend/src/components/settings/fields/date-field.tsx
  frontend/src/components/settings/settings-field.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/lib/settings-api.ts
Due: frontend-lint, go-imports

fix(database/rooms): close unique-index gaps from review (#FFFFFF, #RGB shorthand)
  backend/database/migrations/001015044_rooms_color_unique.go
  backend/models/facilities/room.go
  backend/models/facilities/room_colors_test.go
Due: go-imports

fix(migrations): bump rooms color unique to 1.15.45 to clear collision
  backend/api/rooms/rooms_test.go
  backend/database/migrations/001015045_rooms_color_unique.go
  backend/database/repositories/facilities/room.go
  backend/models/facilities/room_colors.go
  backend/models/facilities/room_colors_drift_test.go
  backend/models/facilities/room_colors_test.go
  backend/services/facilities/facility_service_color_test.go
Due: go-imports

feat(enrollment): add platform.email_outbox + 3 enrollment tables
  backend/database/migrations/001015047_create_email_outbox.go
  backend/database/migrations/001015048_create_enrollment_form_schemas.go
  backend/database/migrations/001015049_create_enrollment_requests.go
  backend/database/migrations/001015050_create_enrollment_request_children.go
Due: go-imports

feat(enrollment): add EmailOutbox + form schema/request/child models + repos
  backend/database/repositories/enrollment/form_schema_repository.go
  backend/database/repositories/enrollment/request_child_repository.go
  backend/database/repositories/enrollment/request_repository.go
  backend/database/repositories/factory.go
  backend/database/repositories/platform/email_outbox_repository.go
  backend/models/enrollment/form_schema.go
  backend/models/enrollment/request.go
  backend/models/enrollment/request_child.go
  backend/models/platform/email_outbox.go
Due: go-imports

refactor(operator): address drill-in review findings
  backend/database/repositories/platform/operator_summaries_repository.go
  backend/database/repositories/platform/operator_summaries_repository_test.go
  backend/models/platform/operator_views.go
  backend/services/platform/operator_provisioning_service.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/app/api/operator/provisioning/organizations/[id]/schools/route.test.ts
  frontend/src/app/api/operator/provisioning/organizations/summaries/route.test.ts
  frontend/src/app/api/operator/provisioning/schools/summaries/route.test.ts
  frontend/src/components/operator/accounts-table.tsx
  frontend/src/components/operator/confirm-delete-modal.tsx
  frontend/src/components/operator/delete-device-modal.tsx
  frontend/src/components/operator/delete-person-modal.tsx
  frontend/src/components/operator/persons-table.tsx
  frontend/src/components/ui/data-table.test.tsx
  frontend/src/components/ui/data-table.tsx
Due: frontend-lint, go-imports

feat(enrollment): platform email outbox service + worker + template registry
  backend/api/server.go
  backend/models/config/keys.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/enrollment.go
  backend/services/factory.go
  backend/services/platform/outbox_service.go
  backend/services/platform/outbox_worker.go
  backend/services/scheduler/outbox_worker.go
  backend/services/scheduler/scheduler.go
Due: go-imports

feat(enrollment): form schema service + admin schema CRUD API
  backend/api/base.go
  backend/api/enrollment/api.go
  backend/api/enrollment/schema_handlers.go
  backend/services/enrollment/form_schema_service.go
  backend/services/factory.go
Due: go-imports

feat(enrollment): migrate guardian invitation to platform outbox
  backend/services/auth/guardian_invitation_renderer.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/factory.go
  backend/services/platform/outbox_auth_adapter.go
Due: go-imports

feat(enrollment): admin form schema editor frontend
  frontend/src/app/[tenant]/(protected)/enrollment-form/page.tsx
  frontend/src/app/api/enrollment/schema/route.ts
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/lib/enrollment-form-schema-api.ts
Due: frontend-lint

feat(enrollment): hermetic tests for form schema service + outbox primitives
  backend/database/migrations/001015051_form_schemas_add_updated_at.go
  backend/services/enrollment/form_schema_service_test.go
  backend/services/platform/outbox_worker_test.go
Due: go-imports

fix(active): map ErrStudentAlreadyActive to 409 in admin visits route (#844)
  backend/api/active/active_internal_test.go
  backend/api/active/errors.go
  backend/api/active/errors_test.go
  backend/api/active/handlers_unit_test.go
Due: go-imports

test(iot): cover unique-index path for duplicate visit 409 (#844)
  backend/api/iot/checkin/checkin_test.go
  backend/services/active/error_helpers_test.go
Due: go-imports

fix(migrations): bump active_visits unique index to 1.15.46
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/pyreportal_error_strings_test.go
  backend/api/iot/checkin/workflow.go
  backend/database/migrations/001015046_active_visits_unique_active_per_student.go
  backend/services/active/active_service.go
  backend/services/active/error_helpers_test.go
  backend/services/active/visit_service_test.go
Due: go-imports

fix(iot): omit zero-valued entry_time from duplicate-visit 409 (#844)
  backend/api/iot/checkin/workflow.go
  backend/api/iot/common/errors.go
  backend/api/iot/common/errors_test.go
Due: go-imports

fix(iot): return 409 Conflict on duplicate active visit (#844)
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/pyreportal_error_strings_test.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/common/errors.go
  backend/database/migrations/001015045_active_visits_unique_active_per_student.go
  backend/services/active/active_service.go
  backend/services/active/visit_service_test.go
Due: go-imports

test(hermetic): exempt iot/common errors_test from hardcoded-id check
  backend/test/hermetic_verification_test.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
