Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

test: add coverage for sentry.shared GDPR event scrubbing
  frontend/src/sentry.shared.test.ts
Due: frontend-lint

feat: extend seeder with full guardian coverage, pickup schedules, and birthday fixes
  backend/seed/api/data.go
  backend/seed/api/seeder.go
  backend/seed/api/stammdaten.go
  backend/seed/api/stammdaten_test.go
Due: go-imports

fix: address PR feedback on attendance-history feature
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
  backend/api/students/visit_handlers.go
  backend/database/migrations/001015029_audit_data_access_log.go
  backend/database/repositories/active/visits.go
  frontend/src/app/api/students/[id]/attendance-history/route.ts
Due: frontend-lint, go-imports

chore: remove unused occupation/employer fields from guardian profiles
  backend/api/guardians/handlers.go
  backend/database/migrations/001015029_drop_guardian_occupation_employer.go
  backend/models/users/guardian_profile.go
  backend/services/users/guardian_interface.go
  backend/services/users/guardian_service.go
  frontend/src/lib/guardian-api.test.ts
  frontend/src/lib/guardian-api.ts
  frontend/src/lib/guardian-helpers.test.ts
  frontend/src/lib/guardian-helpers.ts
Due: frontend-lint, go-imports

feat: gate attendance history button by tenant setting
  backend/api/students/api.go
  backend/api/students/types.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/lib/hooks/use-student-data.ts
  frontend/src/lib/student-helpers.test.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint, go-imports

chore: bump fzf from 0.68.0 to latest (0.70.0) in devbox
  devbox.json
  devbox.lock
Due: none

Bump fzf to latest to fix Ctrl+R in devbox shell
  devbox.json
  devbox.lock
Due: none

fix: add List-Unsubscribe headers to all outgoing emails
  backend/email/smtp.go
Due: go-imports

fix: filter activity chart to only show days with available room details
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.tsx
Due: frontend-lint

fix: resolve migration version collision with development branch
  backend/database/migrations/001015030_audit_data_access_log.go
Due: go-imports

fix: address PR review — consolidate multi-checkin days, block on audit failure, expose history to all_staff
  backend/api/students/attendance_history_handlers.go
  backend/api/students/attendance_history_logic_test.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
Due: frontend-lint, go-imports

fix: migration 1.15.30 depends on 1.15.28 (1.15.29 only exists on development)
  backend/database/migrations/001015030_audit_data_access_log.go
Due: go-imports

fix: restore migration 1.15.30 DependsOn to 1.15.29 after dev merge
  backend/database/migrations/001015030_audit_data_access_log.go
Due: go-imports

fix: forward attendance_log_enabled from backend in student detail route
  frontend/src/app/api/students/[id]/route.ts
Due: frontend-lint

docs: restructure settings docs, fix factual errors, add settings skill
  .claude/rules/settings-system.md
  .claude/skills/settings/SKILL.md
  CLAUDE.md
  backend/CLAUDE.md
Due: none

refactor: unify API seeder and simulator runtime
  backend/integration/phoenixapi/adapter.go
  backend/seed/api/client.go
  backend/seed/api/runtime.go
  backend/seed/api/seeder.go
  backend/seed/api/state.go
  backend/seed/api/state_test.go
  backend/seed/api/workflow.go
  backend/seed/api/workflow_steps.go
  backend/simulate/client.go
  backend/simulate/fullday.go
  backend/simulate/player.go
  backend/simulator/iot/client.go
Due: go-imports

fix: remove dead seed client wrapper
  backend/seed/api/client.go
Due: go-imports

fix: resolve golangci-lint errcheck and staticcheck violations
  backend/api/common/upload.go
  backend/api/common/upload_test.go
  backend/services/config/settings_service_test.go
Due: go-imports

feat: add custom login image upload for tenant login pages
  backend/api/base.go
  backend/api/common/upload.go
  backend/api/common/upload_test.go
  backend/api/config/settings_api.go
  backend/api/config/settings_integration_test.go
  backend/api/iot/api_test.go
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/feedback/feedback_test.go
  backend/api/staff/api.go
  backend/api/staff/helpers_internal_test.go
  backend/api/usercontext/api.go
  backend/api/usercontext/avatar_access_test.go
  backend/api/usercontext/helpers_test.go
  backend/api/usercontext/usercontext_internal_test.go
  backend/auth/device/device_auth_test.go
  backend/database/repositories/platform/school_repository.go
  backend/database/repositories/platform/school_repository_test.go
  backend/models/platform/repository.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/config/settings_interface.go
  backend/services/config/settings_service.go
  backend/services/config/settings_service_test.go
  backend/services/factory.go
  backend/services/platform/operator_provisioning_service_internal_test.go
  backend/services/platform/operator_provisioning_service_test.go
  backend/services/platform/test_mocks_test.go
  frontend/src/app/[tenant]/page.tsx
  frontend/src/app/api/public/login-image/[filename]/route.test.ts
  frontend/src/app/api/public/login-image/[filename]/route.ts
  frontend/src/app/api/settings/login-image/route.test.ts
  frontend/src/app/api/settings/login-image/route.ts
  frontend/src/components/settings/personalization-tab.test.tsx
  frontend/src/components/settings/personalization-tab.tsx
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/lib/file-upload-wrapper.test.ts
  frontend/src/lib/file-upload-wrapper.ts
  frontend/src/lib/tenant-api.test.ts
  frontend/src/lib/tenant-api.ts
Due: frontend-lint, go-imports

fix: resolve CI test failures after rebase onto development
  backend/api/usercontext/usercontext_test.go
  backend/services/config/helpers_test.go
Due: go-imports

docs: enrich settings docs with registered settings, consuming code, frontend details
  .claude/rules/settings-system.md
  backend/CLAUDE.md
Due: none

feat: add production URL guard to seed and simulate commands
  backend/cmd/safeguard.go
  backend/cmd/safeguard_test.go
  backend/cmd/seed.go
  backend/cmd/simulate.go
Due: go-imports

fix: address PR review findings for login image upload (#1228)
  backend/api/config/settings_api.go
  frontend/src/app/api/settings/login-image/route.ts
  frontend/src/lib/file-upload-wrapper.ts
Due: frontend-lint, go-imports

test: update login-image test to expect 400 for missing upload field
  frontend/src/app/api/settings/login-image/route.test.ts
Due: frontend-lint

feat: add checkout button settings, IoT config endpoint, and optional daily checkout time
  backend/api/iot/api.go
  backend/api/iot/checkin/checkin_internal_test.go
  backend/api/iot/checkin/helpers.go
  backend/api/iot/config.go
  backend/api/iot/config_test.go
  backend/models/config/keys.go
  backend/models/config/registry.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/devices.go
  backend/services/config/defaults/operations.go
  backend/test/hermetic_verification_test.go
  docs/settings/future-settings-backlog.md
  frontend/src/components/settings/settings-page.tsx
Due: frontend-lint, go-imports

feat: add continuous live simulation mode
  backend/cmd/simulate.go
  backend/simulate/live.go
Due: go-imports

feat: submit random feedback after each daily checkout in simulation
  backend/simulate/fullday.go
  backend/simulate/player.go
Due: go-imports

feat: add staff detail page with dienstplan editor and rich header
  backend/api/staff/api.go
  backend/database/repositories/config/staff_work_schedule.go
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/app/api/staff/[id]/route.ts
  frontend/src/app/api/staff/[id]/time-tracking/history/route.ts
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/dashboard/header/breadcrumb-components.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/lib/breadcrumb-context.tsx
  frontend/src/lib/staff-api.ts
Due: frontend-lint, go-imports

feat: enrich seeder with announcements, suggestions, privacy consents and improve simulator realism
  backend/seed/api/seed_extras.go
  backend/seed/api/workflow_steps.go
  backend/simulate/fullday.go
  backend/simulate/live.go
Due: go-imports

test: add comprehensive test coverage for adapter, simulate, and cmd packages
  backend/cmd/seed_test.go
  backend/cmd/simulate_test.go
  backend/integration/phoenixapi/adapter_test.go
  backend/simulate/live_test.go
  backend/simulate/player_test.go
Due: go-imports

fix live simulation safeguards
  backend/cmd/safeguard.go
  backend/cmd/safeguard_test.go
  backend/simulate/live.go
  backend/simulate/live_test.go
Due: go-imports

feat: map custom tenant roles to system roles for announcement targeting (#1187)
  backend/api/auth/api.go
  backend/database/migrations/001015030_roles_base_role.go
  backend/database/repositories/platform/announcement_targeting_test.go
  backend/database/repositories/platform/announcement_view_internal_test.go
  backend/database/repositories/platform/announcement_view_repository.go
  backend/database/repositories/platform/announcement_view_repository_test.go
  backend/models/auth/base_role_sync_test.go
  backend/models/auth/role.go
  backend/models/auth/role_test.go
  backend/services/auth/auth_core_test.go
  backend/services/auth/interface.go
  backend/services/auth/refactored_modules_test.go
  backend/services/auth/role_management.go
  backend/services/platform/announcement_service.go
  backend/services/platform/operator_provisioning_service_test.go
  frontend/src/app/[tenant]/(protected)/database/roles/page.tsx
  frontend/src/components/roles/role-detail-modal.tsx
  frontend/src/lib/auth-helpers.ts
  frontend/src/lib/database/configs/roles.config.tsx
Due: frontend-lint, go-imports

fix: make TestResendInvitationSendsEmail hermetic by polling mock expectations
  backend/services/auth/invitation_service_test.go
Due: go-imports

refactor: harden ValidBaseRoles as function and guard mapRequest for system roles
  backend/api/auth/api.go
  backend/models/auth/base_role_sync_test.go
  backend/models/auth/role.go
  frontend/src/lib/database/configs/roles.config.tsx
Due: frontend-lint, go-imports

fix: guard updateRole from setting base_role on system roles
  backend/api/auth/api.go
Due: go-imports

fix: resolve migration version collision and missing test mock exports
  backend/database/migrations/001015031_roles_base_role.go
  backend/models/auth/base_role_sync_test.go
  backend/models/auth/role.go
  frontend/src/lib/database/configs/roles.config.test.tsx
Due: frontend-lint, go-imports

fix: add base_role to role creation test payloads
  backend/api/auth/auth_test.go
Due: go-imports

test: add base_role coverage for API helpers and role endpoints
  backend/api/auth/auth_internal_test.go
  backend/api/auth/auth_test.go
Due: go-imports

test: improve coverage for checkout helpers and config endpoint
  backend/api/iot/checkin/checkin_internal_test.go
Due: go-imports

fix: prevent flaky announcement test from nanosecond suffix collision
  backend/database/repositories/platform/announcement_view_repository_test.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
