Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

feat(school): Aufsichten der Lehrkraft im Schul-Portal (#2527, Frontend)
  backend/services/enrollment/supervision_sheet_service.go
  frontend/src/app/api/school/supervisions/[id]/complete/route.ts
  frontend/src/app/api/school/supervisions/[id]/roster/route.ts
  frontend/src/app/api/school/supervisions/[id]/start/route.ts
  frontend/src/app/api/school/supervisions/[id]/students/[studentId]/attendance/route.ts
  frontend/src/app/api/school/supervisions/[id]/students/[studentId]/check-in/route.ts
  frontend/src/app/api/school/supervisions/[id]/students/[studentId]/check-out/route.ts
  frontend/src/app/api/school/supervisions/[id]/students/[studentId]/sheet/route.ts
  frontend/src/app/api/school/supervisions/route.ts
  frontend/src/app/school/aufsichten/page.tsx
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/class-day/class-day-view.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/school/shell/school-bottom-nav.test.tsx
  frontend/src/components/school/shell/school-nav-active.test.ts
  frontend/src/components/school/shell/school-nav-active.ts
  frontend/src/components/school/shell/school-nav-items.ts
  frontend/src/components/school/shell/school-sidebar.test.tsx
  frontend/src/components/school/supervisions/student-sheet-modal.tsx
  frontend/src/components/school/supervisions/supervisions-view.tsx
  frontend/src/lib/school-class-label.test.ts
  frontend/src/lib/school-class-label.ts
  frontend/src/lib/school-supervisions-api.ts
  frontend/src/lib/school/route-wrapper.server.ts
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint, go-imports

refactor(school): Aufsichten aus dem UI-Kit statt daneben (#2527)
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/class-day/class-day-view.tsx
  frontend/src/components/school/supervisions/student-sheet-modal.tsx
  frontend/src/components/school/supervisions/supervisions-view.tsx
  frontend/src/components/ui/stat-tile.test.tsx
  frontend/src/components/ui/stat-tile.tsx
Due: frontend-lint

refactor(school): Aufsichten zeigen die eine, die dran ist (#2527)
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/school/supervisions/supervisions-overview.tsx
  frontend/src/components/school/supervisions/supervisions-view.tsx
  frontend/src/components/school/supervisions/view-model.test.ts
  frontend/src/components/school/supervisions/view-model.ts
Due: frontend-lint

fix: align complete withdrawal validation
  backend/services/enrollment/offering_change_direct_adjustment.go
  backend/services/enrollment/offering_change_full_withdrawal_test.go
  frontend/src/components/students/aggregated-request-list.tsx
Due: frontend-lint, go-imports

feat(school): Aufsichten zeigen, wer erwartet wird (#2527)
  frontend/src/components/school/supervisions/roster-preview.tsx
  frontend/src/components/school/supervisions/supervisions-overview.tsx
  frontend/src/components/school/supervisions/supervisions-view.tsx
  frontend/src/components/school/supervisions/view-model.test.ts
  frontend/src/components/school/supervisions/view-model.ts
Due: frontend-lint

fix(school): Inhalt laeuft nicht mehr sichtbar unter der mobilen Leiste durch (#2527)
  frontend/src/components/school/shell/school-bottom-nav.tsx
Due: frontend-lint

test: cover direct withdrawal authority
  backend/services/enrollment/offering_change_full_withdrawal_test.go
Due: go-imports

fix(school): mobile Leiste passt wieder auf den Bildschirm (#2527)
  frontend/src/components/school/shell/school-bottom-nav.test.tsx
  frontend/src/components/school/shell/school-bottom-nav.tsx
Due: frontend-lint

fix: preserve deletion conflict codes
  frontend/src/components/students/aggregated-request-list.tsx
  frontend/src/lib/student-api.test.ts
  frontend/src/lib/student-api.ts
Due: frontend-lint

fix: refresh stale deletion previews
  frontend/src/components/students/aggregated-request-list.tsx
  frontend/src/lib/student-api.ts
Due: frontend-lint

fix: scope withdrawal history
  backend/database/migrations/001015328_parent_withdrawal_confirmation.go
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/students/aggregated-request-list.tsx
Due: frontend-lint, go-imports

fix(school): enforce effective supervision rosters
  backend/api/school/school_supervisions_test.go
  backend/services/enrollment/supervision_sheet_service.go
  backend/services/enrollment/supervision_sheet_service_test.go
  backend/services/schedule/timetable_operations_service.go
Due: go-imports

fix(school): revoke supervision access with assignment
  backend/api/school/school_supervisions_test.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/components/school/supervisions/supervisions-view.tsx
Due: frontend-lint, go-imports

chore(school): Fehlerklasse der Aufsichten-API nicht mehr exportieren (#2527)
  frontend/src/lib/school-supervisions-api.ts
Due: frontend-lint

fix(school): cache SWR data per session
  frontend/src/lib/swr/hooks.test.ts
  frontend/src/lib/swr/hooks.ts
Due: frontend-lint

fix(school): Aufsichten enden mit dem Tag, Nummern einzeln anrufbar (#2527)
  backend/api/school/school_supervisions_test.go
  backend/internal/strutil/strutil.go
  backend/services/enrollment/supervision_sheet_service.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/components/class-day/class-day-view.tsx
  frontend/src/components/school/supervisions/student-sheet-modal.test.tsx
  frontend/src/components/school/supervisions/student-sheet-modal.tsx
  frontend/src/components/school/supervisions/supervisions-overview.tsx
  frontend/src/components/ui/stat-card.test.tsx
  frontend/src/components/ui/stat-card.tsx
  frontend/src/components/ui/stat-tile.test.tsx
  frontend/src/components/ui/stat-tile.tsx
  frontend/src/lib/school-supervisions-api.ts
Due: frontend-lint, go-imports

feat(school): Abweichungen vom Regelplan im Tagesreport ausweisen (#2294)
  backend/services/enrollment/class_day_service.go
  backend/services/enrollment/class_day_service_test.go
  backend/services/enrollment/class_list_entries_report_test.go
  backend/services/enrollment/supervision_sheet_service.go
  backend/services/schedule/effective_time_service.go
  backend/services/schedule/pickup_schedule_service.go
  backend/services/schedule/pickup_schedule_service_test.go
Due: go-imports

feat(school): Block "Anders als sonst" in der Klassenansicht (#2294)
  frontend/src/components/class-day/class-day-view.tsx
  frontend/src/components/class-day/day-changes-panel.test.tsx
  frontend/src/components/class-day/day-changes-panel.tsx
  frontend/src/components/class-day/day-changes.test.ts
  frontend/src/components/class-day/day-changes.ts
  frontend/src/components/class-day/status-labels.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/class-day-api.ts
Due: frontend-lint

refactor(school): Klassenansicht in Übersicht und Klassenseite trennen (#2294)
  frontend/src/app/school/klasse/[schoolClass]/page.tsx
  frontend/src/app/school/page.tsx
  frontend/src/components/class-day/class-day-class.tsx
  frontend/src/components/class-day/class-day-overview.tsx
  frontend/src/components/class-day/class-day-view.tsx
  frontend/src/components/class-day/day-changes-panel.test.tsx
  frontend/src/components/class-day/day-changes-panel.tsx
  frontend/src/components/class-day/day-changes.test.ts
  frontend/src/components/class-day/day-changes.ts
  frontend/src/components/class-day/routes.test.ts
  frontend/src/components/class-day/routes.ts
  frontend/src/components/class-day/selected-class.test.ts
  frontend/src/components/class-day/selected-class.ts
  frontend/src/components/class-day/status-labels.ts
  frontend/src/components/class-day/student-row.test.tsx
  frontend/src/components/class-day/student-row.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/school/shell/school-nav-active.test.ts
  frontend/src/components/school/shell/school-nav-active.ts
  frontend/src/lib/school-url.test.ts
  frontend/src/lib/school-url.ts
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-lint

fix(school): honor class day status precedence
  frontend/src/app/school/klasse/[schoolClass]/page.tsx
  frontend/src/components/class-day/class-day-overview.tsx
  frontend/src/components/class-day/student-row.test.tsx
  frontend/src/components/class-day/student-row.tsx
Due: frontend-lint

fix(school): reconcile class day summaries
  backend/services/enrollment/class_day_service.go
  backend/services/enrollment/class_day_service_test.go
  backend/services/schedule/arrival_service.go
  backend/services/schedule/arrival_service_test.go
  backend/services/schedule/care_day_resolver.go
  frontend/src/components/class-day/class-day-overview.tsx
Due: frontend-lint, go-imports

fix(school): reuse card link primitive
  frontend/src/components/class-day/class-day-class.tsx
  frontend/src/components/class-day/class-day-overview.tsx
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/button.tsx
Due: frontend-lint

fix(school): Klassenname aus der Adresse wieder dekodieren (#2294)
  frontend/src/app/school/klasse/[schoolClass]/page.tsx
Due: frontend-lint

fix: stabilize school supervision tests
  backend/api/school/school_supervisions_test.go
Due: go-imports

fix: ratchet activity instance wall-clock safety
  .claude/rules/calendar-dates.md
  backend/CLAUDE.md
  backend/api/school/school_supervisions_test.go
  backend/test/wall_clock_verification_test.go
Due: go-imports

fix(school): Klassenname-Kodierung an einer Stelle festhalten (#2294)
  frontend/src/app/school/klasse/[schoolClass]/page.tsx
  frontend/src/components/class-day/routes.test.ts
  frontend/src/components/class-day/routes.ts
Due: frontend-lint

fix(school): Klasse als Query-Parameter statt Adress-Segment (#2294)
  frontend/src/app/school/klasse/[schoolClass]/page.tsx
  frontend/src/app/school/klasse/page.tsx
  frontend/src/app/school/page.tsx
  frontend/src/components/class-day/class-day-class.tsx
  frontend/src/components/class-day/routes.test.ts
  frontend/src/components/class-day/routes.ts
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/school/shell/school-nav-active.test.ts
  frontend/src/proxy.test.ts
Due: frontend-lint

fix: allow device-attributed daily checkout
  backend/api/iot/checkin/attendance_test.go
  backend/database/migrations/001015331_attendance_checkout_device.go
  backend/database/repositories/active/attendance_repository.go
  backend/database/repositories/active/attendance_repository_test.go
  backend/models/active/attendance.go
  backend/services/active/attendance_service.go
  backend/services/active/attendance_service_test.go
Due: go-imports

fix(school): Datumsleiste auf schmalen Bildschirmen halten (#2294)
  frontend/src/components/class-day/class-day-overview.tsx
Due: frontend-lint

fix(ci): bootstrap test database template once
  .github/workflows/test.yml
Due: none

fix: report resolved care withdrawals as conflicts
  backend/services/users/care_lifecycle_service.go
  backend/services/users/care_withdrawal_lifecycle_test.go
Due: go-imports

fix: add architecture target fixture
  backend/internal/architecture/testdata/valid/target/target.go
Due: go-imports

fix: validate architecture test dependencies
  backend/README.md
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/policy.go
  backend/internal/architecture/testdata/invalid-external-class.json
Due: go-imports

test: cover architecture policy changes
  .github/workflows/main.yml
  scripts/backend-affected-packages.sh
  scripts/backend-affected-packages_test.sh
Due: none

feat(files): open PDFs and images in the browser (#2596)
  backend/api/common/documents/coordinator.go
  backend/api/filestore/api_test.go
  backend/api/filestore/handlers.go
  frontend/src/app/api/files/folders/[folderId]/files/[fileId]/download/route.ts
  frontend/src/components/files/files-page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/files-api.ts
Due: frontend-lint, go-imports

feat(files): school file storage with folder-level sharing (#2596)
  backend/api/base.go
  backend/api/common/upload_documents.go
  backend/api/filestore/api.go
  backend/api/filestore/api_test.go
  backend/api/filestore/cleanup.go
  backend/api/filestore/handlers.go
  backend/api/filestore/main_tenant_test.go
  backend/api/server.go
  backend/auth/authorize/permissions/constants.go
  backend/database/migrations/001015332_file_storage.go
  backend/database/migrations/reset.go
  backend/database/repositories/audit/file_event.go
  backend/database/repositories/factory.go
  backend/database/repositories/filestore/repository.go
  backend/models/audit/file_event.go
  backend/models/config/keys.go
  backend/models/filestore/filestore.go
  backend/seed/api/coverage_ratchet_test.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/files.go
  backend/services/factory.go
  backend/services/filestore/service.go
  backend/services/scheduler/file_store_cleanup.go
  backend/services/scheduler/scheduler.go
Due: go-imports

feat(files): Dateien page with folder sharing, sidebar entry and guide (#2596)
  frontend/public/help/screens/dateien.webp
  frontend/src/app/[tenant]/(protected)/dateien/page.tsx
  frontend/src/app/api/files/audience/route.ts
  frontend/src/app/api/files/folders/[folderId]/files/[fileId]/download/route.ts
  frontend/src/app/api/files/folders/[folderId]/files/[fileId]/route.ts
  frontend/src/app/api/files/folders/[folderId]/files/route.ts
  frontend/src/app/api/files/folders/[folderId]/route.ts
  frontend/src/app/api/files/folders/route.ts
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/files/files-page.tsx
  frontend/src/components/files/folder-modal.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/files-api.ts
  frontend/src/lib/moto-concepts.ts
  frontend/src/lib/permission-labels.ts
  frontend/src/lib/section-navigation.ts
Due: frontend-lint
