Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

style(announcements): Erklärungen sprechen von Antworten statt Abgaben (#3430)
  docs/reference/elternerklaerungen.md
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.test.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/announcements/announcement-detail.tsx
  frontend/src/components/announcements/announcement-lifecycle-dialogs.test.tsx
  frontend/src/components/announcements/announcement-lifecycle-dialogs.tsx
  frontend/src/components/announcements/declaration-report.tsx
  frontend/src/components/announcements/declaration-status-panel.test.tsx
  frontend/src/components/announcements/declaration-status-panel.tsx
  frontend/src/components/help/help-content.ts
  frontend/src/components/parent/news/declaration-proof-page.test.tsx
  frontend/src/components/parent/news/declaration-section.test.tsx
  frontend/src/components/parent/news/declaration-section.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/pl.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/i18n/messages/tr.json
  frontend/src/i18n/messages/uk.json
Due: frontend-lint

fix: Kindnotizen in der vollen Kindakte und Tag je Eintrag
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/students/student-notizen-tab.test.tsx
  frontend/src/components/students/student-notizen-tab.tsx
Due: frontend-lint

fix(announcements): Wortlaut der Erklärungen vereinheitlicht (#3430)
  backend/modules/careplan/inbound/parent/declaration_handlers_test.go
  backend/modules/careplan/inbound/parent/declaration_proof_report.go
  backend/modules/communication/declarations.go
  backend/modules/communication/http/parentannouncements/declaration_report_internal_test.go
  backend/modules/communication/internal/staffannouncements/declaration.go
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/parent/news/declaration-section.test.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/pl.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/i18n/messages/tr.json
  frontend/src/i18n/messages/uk.json
Due: frontend-lint, go-imports

fix(announcements): Erinnerungshinweis beim Einverständnis spricht von Antworten (#3430)
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/announcements/announcement-detail.declaration.test.tsx
  frontend/src/components/announcements/announcement-detail.tsx
  frontend/src/components/announcements/announcement-reminder-dialog.tsx
Due: frontend-lint

test(announcements): Nachweis-Tests laufen parallel (#3430)
  backend/modules/careplan/inbound/parent/declaration_handlers_test.go
Due: go-imports

chore(announcements): Bundle-Baseline für den Nachweis und Secret-Scanner-Fehlalarme (#3430)
  backend/modules/careplan/inbound/parent/declaration_proof_report.go
  backend/modules/communication/http/parentannouncements/declaration_report.go
  backend/workflows/parentportal/messaging/parent_declaration_test.go
  frontend/scripts/perf/bundle-baseline.json
Due: go-imports

fix(database): let the page scaffold draw the status line skeleton
  frontend/src/app/[tenant]/(protected)/database/activities/page.tsx
  frontend/src/app/[tenant]/(protected)/database/devices/page.tsx
  frontend/src/app/[tenant]/(protected)/database/groups/page.tsx
  frontend/src/app/[tenant]/(protected)/database/permissions/page.tsx
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/app/[tenant]/(protected)/database/roles/page.tsx
  frontend/src/app/[tenant]/(protected)/database/rooms/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/components/database/database-page-layout.test.tsx
  frontend/src/components/database/database-page-layout.tsx
Due: frontend-lint

fix(header): ignore keydown events without a key
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header.tsx
Due: frontend-lint

fix(school-setup): keep the sidebar visible during the tour
  frontend/src/components/school-setup/school-setup-wizard.tsx
  frontend/src/components/school-setup/setup-tours.ts
  frontend/src/components/ui/coach-mark.test.tsx
  frontend/src/components/ui/coach-mark.tsx
Due: frontend-lint

refactor(school-setup): drop the "So arbeitet Ihre OGS" step
  backend/api/base.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/architecture/policy.json
  backend/database/migrations/001015416_school_setups.go
  backend/database/repositories/config/school_setup.go
  backend/modules/schoolsetup/compose/compose.go
  backend/modules/schoolsetup/compose/compose_test.go
  backend/modules/schoolsetup/compose/flow_test.go
  backend/modules/schoolsetup/http/api.go
  backend/modules/schoolsetup/internal/application/service.go
  backend/modules/schoolsetup/internal/application/service_internal_test.go
  backend/modules/schoolsetup/schoolsetup.go
  backend/seed/api/seed_school_setup.go
  backend/seed/api/seed_school_setup_test.go
  docs/adr/0040-einrichtungs-assistent-zustand-bei-settings-fortschritt-als-projektion.md
  frontend/src/app/api/school-setup/basics/route.test.ts
  frontend/src/app/api/school-setup/basics/route.ts
  frontend/src/components/help/help-content.ts
  frontend/src/components/school-setup/school-setup-basics-form.tsx
  frontend/src/components/school-setup/school-setup-checklist.tsx
  frontend/src/components/school-setup/school-setup-steps.test.ts
  frontend/src/components/school-setup/school-setup-steps.ts
  frontend/src/components/school-setup/school-setup-wizard.test.tsx
  frontend/src/components/school-setup/school-setup-wizard.tsx
  frontend/src/lib/school-setup-api.test.ts
  frontend/src/lib/school-setup-api.ts
Due: frontend-lint, go-imports

fix(parents): keine gestapelten Mini-Überschriften auf den Elternbrief-Karten (#3719)
  frontend/src/components/parent/news/news-components.test.tsx
  frontend/src/components/parent/news/news-components.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/pl.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/i18n/messages/tr.json
  frontend/src/i18n/messages/uk.json
Due: frontend-lint

docs(help): Elternbriefe-Hilfe nennt die neue Lage von Wichtig und Erinnerung (#3719)
  frontend/src/components/help/help-content.ts
Due: frontend-lint

fix(enrollment): point parents without an account to their invitation
  backend/api/enrollment/owner_change_requests.go
  backend/api/enrollment/status_takeover_lock_router_test.go
  backend/api/enrollment/submission_handlers.go
  backend/modules/enrollment/change_requests.go
  backend/modules/enrollment/internal/application/status_parent_account.go
  frontend/src/components/enrollment/enrollment-status-view.test.tsx
  frontend/src/components/enrollment/enrollment-status-view.tsx
  frontend/src/components/help/help-content.ts
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/pl.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/i18n/messages/tr.json
  frontend/src/i18n/messages/uk.json
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

fix(enrollment): require reachable parent accounts
  backend/api/enrollment/status_takeover_lock_router_test.go
  backend/modules/enrollment/internal/application/people_ports.go
  backend/modules/enrollment/internal/application/status_parent_account.go
  backend/services/enrollment_decision_people.go
  frontend/src/components/enrollment/enrollment-status-view.tsx
Due: frontend-lint, go-imports

fix(enrollment): show invitations on parent status links
  frontend/src/components/enrollment/enrollment-status-view.test.tsx
  frontend/src/components/enrollment/enrollment-status-view.tsx
Due: frontend-lint

fix(enrollment): keep locked guidance account-neutral
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/pl.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/i18n/messages/tr.json
  frontend/src/i18n/messages/uk.json
Due: frontend-lint

test: stabilize parallel backend fixtures
  backend/modules/identityaccess/behavior/welcome_mail_test.go
  backend/services/education/grade_transition_workflow_fixture_test.go
Due: go-imports

fix(announcements): Nachweis-Integrität und Anhänge sichern
  backend/database/migrations/001015426_parent_declarations.go
  backend/models/users/parent_declaration.go
  backend/models/users/parent_declaration_test.go
  backend/modules/careplan/inbound/parent/declaration_handlers.go
  backend/modules/careplan/inbound/parent/declaration_handlers_test.go
  backend/modules/careplan/inbound/parent/declaration_proof_report.go
  backend/modules/filestorage/compose/new.go
  backend/modules/filestorage/filestorage.go
  backend/modules/filestorage/http/files/attachments.go
  backend/modules/filestorage/internal/application/attachments.go
  backend/modules/filestorage/internal/ports/ports.go
  backend/workflows/parentportal/messaging/parent_announcement_attachments.go
  backend/workflows/parentportal/messaging/parent_declaration_test.go
  frontend/src/app/api/parent/me/news/[announcementId]/attachments/[attachmentId]/download/route.ts
  frontend/src/components/parent/news/declaration-proof-page.test.tsx
  frontend/src/components/parent/news/declaration-proof-page.tsx
  frontend/src/components/ui/attachment-list.tsx
  frontend/src/lib/parent-api.ts
Due: frontend-lint, go-imports

test(announcements): Nachweis-Anhang als Vorschau prüfen
  frontend/src/components/parent/news/declaration-proof-page.test.tsx
Due: frontend-lint

fix(enrollment): guide unavailable parent accounts
  backend/api/enrollment/owner_change_requests.go
  backend/api/enrollment/status_takeover_lock_router_test.go
  backend/api/enrollment/submission_handlers.go
  backend/database/repositories/users/guardian_profile.go
  backend/modules/enrollment/change_requests.go
  backend/modules/enrollment/internal/application/status_parent_account.go
  backend/modules/identityaccess/behavior/guardian_portal_test.go
  backend/modules/identityaccess/guardian_portal.go
  backend/modules/identityaccess/internal/adapters/postgres/guardian_portal.go
  frontend/src/components/enrollment/enrollment-status-view.test.tsx
  frontend/src/components/enrollment/enrollment-status-view.tsx
  frontend/src/components/help/help-content.ts
  frontend/src/i18n/messages/de.json
  frontend/src/i18n/messages/en.json
  frontend/src/i18n/messages/pl.json
  frontend/src/i18n/messages/ru.json
  frontend/src/i18n/messages/sq.json
  frontend/src/i18n/messages/tr.json
  frontend/src/i18n/messages/uk.json
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

fix(announcements): Erklärung-Analytics korrekt erfassen
  backend/analytics/core_actions.go
  backend/analytics/core_actions_middleware.go
  backend/analytics/core_actions_middleware_test.go
  backend/architecture/policy.json
  backend/database/migrations/001015426_parent_declarations.go
  backend/database/migrations/001015426_parent_declarations_test.go
  docs/agents/frontend-api.md
  frontend/src/app/api/parent-announcements/[announcementId]/declaration-export/route.test.ts
  frontend/src/app/api/parent-announcements/[announcementId]/declaration-export/route.ts
  frontend/src/app/api/parent/me/news/[announcementId]/declaration/proof/pdf/route.test.ts
  frontend/src/app/api/parent/me/news/[announcementId]/declaration/proof/pdf/route.ts
Due: frontend-lint, go-imports

fix(enrollment): separate portal login readiness
  backend/database/repositories/identity_ports.go
  backend/database/repositories/users/guardian_profile.go
  backend/database/repositories/users/identity_queries.go
  backend/models/users/repository.go
  backend/modules/identityaccess/behavior/guardian_portal_test.go
  backend/modules/identityaccess/compose/guardian_portal.go
  backend/modules/identityaccess/guardian_portal.go
  backend/modules/identityaccess/identityaccess.go
  backend/modules/identityaccess/internal/adapters/postgres/guardian_portal.go
  backend/modules/identityaccess/internal/application/guardian_portal.go
  backend/modules/identityaccess/internal/ports/account_role_queries.go
  backend/services/enrollment_decision_people.go
  backend/workflows/parentportal/parent_service_test.go
Due: go-imports

fix(announcements): Frist vor Ablauf begrenzen
  backend/modules/communication/internal/staffannouncements/declaration.go
  backend/modules/communication/internal/staffannouncements/declaration_internal_test.go
Due: go-imports

fix(enrollment): require redeemable guardian invitation
  backend/api/enrollment/status_takeover_lock_router_test.go
  backend/database/repositories/users/guardian_profile.go
  backend/database/repositories/users/identity_membership_test.go
  backend/modules/enrollment/compose/intake.go
  backend/modules/enrollment/internal/application/change_requests.go
  backend/modules/enrollment/internal/application/people_ports.go
  backend/modules/enrollment/internal/application/status_parent_account.go
  backend/services/enrollment_decision_people.go
  backend/services/enrollment_intake_composition.go
  backend/services/factory.go
Due: go-imports

fix(announcements): Nachweise und Widerruf bewahren
  backend/modules/communication/internal/staffannouncements/declaration.go
  backend/modules/communication/internal/staffannouncements/declaration_internal_test.go
  backend/modules/communication/internal/staffannouncements/service.go
  backend/workflows/parentportal/messaging/parent_declaration_feed.go
  backend/workflows/parentportal/messaging/parent_declaration_service.go
  backend/workflows/parentportal/messaging/parent_declaration_test.go
Due: go-imports

refactor(enrollment): simplify parent portal access
  backend/modules/enrollment/internal/application/status_parent_account.go
Due: go-imports

refactor(announcements): Update-Validierung auslagern
  backend/modules/communication/internal/staffannouncements/service.go
  backend/modules/communication/internal/staffannouncements/update.go
  backend/test/module_file_size_ratchet_test.go
  backend/test/module_function_length_ratchet_test.go
Due: go-imports

fix(parent-portal): Teilstand nicht als abgeschlossen zeigen
  frontend/src/components/parent/news/news-components.test.tsx
  frontend/src/components/parent/news/news-components.tsx
Due: frontend-lint

chore(architecture): refresh the legacy caller line numbers after the merge
  backend/architecture/composition.json
Due: none

fix(announcements): Erklärungshistorie nach AG-Ende erhalten
  backend/models/users/parent_declaration.go
  backend/modules/communication/internal/adapters/parentaudience/declarations.go
  backend/modules/communication/internal/adapters/parentaudience/predicates.go
  backend/modules/communication/internal/adapters/parentaudience/projection.go
  backend/modules/communication/parentstore/declarations.go
  backend/workflows/parentportal/messaging/parent_declaration_service.go
  backend/workflows/parentportal/messaging/parent_declaration_test.go
  frontend/src/components/announcements/declaration-status-panel.test.tsx
  frontend/src/components/announcements/declaration-status-panel.tsx
Due: frontend-lint, go-imports

chore(school-setup): keep the basics type module-internal
  frontend/src/lib/school-setup-api.ts
Due: frontend-lint

fix(announcements): Historie über Store abfragen
  backend/modules/communication/internal/adapters/parentaudience/declarations.go
  backend/modules/communication/internal/adapters/parentaudience/predicates.go
  backend/modules/communication/internal/adapters/parentaudience/projection.go
  backend/modules/communication/internal/adapters/parentpostgres/declarations.go
  backend/modules/communication/internal/domain/declarations.go
  backend/modules/communication/parentstore/announcements.go
  backend/modules/communication/parentstore/declarations.go
Due: go-imports

test(identityaccess): use a 16+ byte WebAuthn challenge in passkey login fixtures
  backend/modules/identityaccess/internal/application/account_passkey_flow_internal_test.go
  backend/modules/identityaccess/internal/application/operator_passkey_flow_internal_test.go
Due: go-imports

fix(announcements): Widerruf nach Rechteentzug erlauben
  backend/models/users/parent_declaration.go
  backend/modules/communication/internal/adapters/parentaudience/declarations.go
  backend/workflows/parentportal/messaging/parent_declaration_service.go
  backend/workflows/parentportal/messaging/parent_declaration_test.go
Due: go-imports

fix(announcements): Nachweisregeln stabil halten
  backend/modules/communication/internal/adapters/parentaudience/declarations.go
  backend/modules/communication/internal/staffannouncements/declaration.go
  backend/modules/communication/internal/staffannouncements/declaration_internal_test.go
  backend/modules/communication/internal/staffannouncements/update.go
  backend/workflows/parentportal/messaging/parent_declaration_test.go
Due: go-imports

fix(students): gespeicherte Suchfilter erst nach dem Mount laden, damit Hydration passt
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
Due: frontend-lint

fix(frontend): log client aborts and rejected logins as warnings
  frontend/src/app/[tenant]/page.tsx
  frontend/src/lib/expected-failure.test.ts
  frontend/src/lib/expected-failure.ts
  frontend/src/lib/logger-sentry.test.ts
Due: frontend-lint

refactor(users): move the model-free service error vocabulary into People Directory
  backend/architecture/policy.json
  backend/modules/peopledirectory/userscontract/errors.go
  backend/services/users/contract_alias_test.go
  backend/services/users/errors.go
Due: go-imports
