Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

feat(time-tracking): E-Mail-Benachrichtigungen für Abwesenheitsanträge mit Setting-Toggle (#1419)
  backend/database/repositories/users/staff.go
  backend/models/config/keys.go
  backend/models/users/repository.go
  backend/services/active/staff_absence_notifications.go
  backend/services/active/staff_absence_service.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/notifications.go
  backend/services/factory.go
  backend/services/schedule/staff_shift_service_mock_test.go
  backend/templates/email/absence-request-approved.html
  backend/templates/email/absence-request-declined.html
  backend/templates/email/absence-request-question.html
  backend/templates/email/absence-request-received.html
  backend/test/repo_mocks.go
Due: go-imports

fix(lists): Slot-Listen-Konfiguration und Filter-Reconciliation absichern (#1565)
  backend/services/slotlists/service.go
  backend/services/slotlists/service_integration_test.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint, go-imports

test(time-tracking): Abdeckung für Rückfrage-Workflow, E-Mail-Versand und Empfänger-Lookup (#1419)
  backend/api/staff/absence_question_test.go
  backend/api/time-tracking/api_test.go
  backend/database/repositories/users/staff_permission_lookup_test.go
  backend/services/active/staff_absence_service_test.go
  backend/test/hermetic_verification_test.go
Due: go-imports

feat(staff): Anfragen-Inbox auf der Mitarbeiterliste mit Sidebar-Counter und Karten-Badges (#1419)
  backend/services/active/staff_absence_service.go
  frontend/src/app/[tenant]/(protected)/staff/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/app/api/staff/absences/[absenceId]/question/route.ts
  frontend/src/app/api/staff/absences/pending/route.ts
  frontend/src/app/api/time-tracking/absences/[id]/resubmit/route.ts
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/staff/absence-decision-modals.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/staff-pending-inbox.tsx
  frontend/src/components/time-tracking/leave-requests-card.tsx
  frontend/src/lib/absence-helpers.ts
  frontend/src/lib/hooks/use-staff-absences-pending.ts
  frontend/src/lib/staff-api.ts
  frontend/src/lib/time-tracking-api.ts
Due: frontend-lint, go-imports

test(staff): Tests für Absence-Helper und Pending-Hook, Hilfe-Guide zu Anfragen-Inbox und Rückfrage (#1419)
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/absence-helpers.test.ts
  frontend/src/lib/hooks/use-staff-absences-pending.test.ts
Due: frontend-lint

fix(lists): erhalten gebliebene Filter ohne Treffer sichtbar machen (#1565)
  backend/services/slotlists/export_filters_internal_test.go
  backend/services/slotlists/service.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint, go-imports

fix(lists): 400 statt 500 für kaputte Export-JSON und Filter ohne Treffer nicht mehr wegkürzen (#1565)
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/app/api/timetable/lists/export/route.ts
Due: frontend-lint

chore(staff): Routen-Golden und Mitarbeiter-Guide-Screenshot zur Anfragen-Inbox aktualisieren (#1419)
  backend/api/testdata/route_table.golden
  backend/database/repositories/active/staff_absence.go
  backend/models/active/repository.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_session_service_test.go
  frontend/public/help/screens/mitarbeiter.webp
Due: go-imports

fix(staff): ungenutzten SWR-Key-Export entfernen (knip)
  frontend/src/components/staff/staff-pending-inbox.tsx
Due: frontend-lint

fix(lists): kaputte URL-Filter abweisen und Anwesenheit außerhalb der Planzeit zählen (#1565)
  backend/services/slotlists/service.go
  backend/services/slotlists/service_integration_test.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint, go-imports

fix(lists): Filter-Mitgliedschaft statt Länge prüfen und Besuche gebündelt laden (#1565)
  backend/database/repositories/active/visits.go
  backend/database/repositories/active/visits_repository_test.go
  backend/models/active/repository.go
  backend/services/active/end_session_unit_test.go
  backend/services/slotlists/service.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint, go-imports

fix(lists): manuelle Anwesenheit bei abgesagten/nicht gestarteten Slots erhalten und Cutoff-Snapshot vereinheitlichen (#1565)
  backend/services/slotlists/service.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint, go-imports

fix(lists): Eligibilität an Service-Uhr statt Prozessuhr binden (#1565)
  backend/services/slotlists/eligibility_internal_test.go
  backend/services/slotlists/service.go
Due: go-imports

fix(lists): abgemeldete Kinder in noch nicht gestarteten Slots erhalten (#1565)
  backend/services/slotlists/service.go
  backend/services/slotlists/service_integration_test.go
Due: go-imports

fix(lists): Slot-Optionen vor Export/bei Fokus revalidieren statt Snapshot senden (#1565)
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint

fix(lists): Druck-Tab vor Revalidierung öffnen und Metadaten-Drift beim Export erkennen (#1565)
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/lib/slot-lists-api.ts
Due: frontend-lint

fix(lists): Metadaten-Drift bei Slot- und Abhol-Exporten schließen (#1565)
  backend/services/slotlists/service.go
  backend/services/slotlists/types.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/lib/slot-lists-api.ts
Due: frontend-lint, go-imports

fix(lists): Abhol-Vorschau bei Cutoff-Änderung ohne Umbuchung aktualisieren (#1565)
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint

fix(lists): Export-Drift-Prüfung auf die gewählte Liste eingrenzen (#1565)
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint

style(staff): Anfragen-Inbox auf das UI-Kit umbauen (#1419)
  frontend/public/help/screens/mitarbeiter.webp
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/staff/absence-decision-modals.tsx
  frontend/src/components/staff/absence-request-row.tsx
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/components/staff/staff-pending-inbox.tsx
  frontend/src/components/time-tracking/leave-requests-card.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/status-dot-badge.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/lib/absence-helpers.ts
Due: frontend-lint

fix(lists): Kopfzahl-Zähler pro Kind deduplizieren (#1565)
  backend/services/slotlists/service.go
Due: go-imports

fix(lists): Export gegen Filter-, Roster- und Anwesenheits-Drift absichern (#1565)
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint

style(staff): Aktions-Buttons der Anfragen-Inbox neutralisieren (#1419)
  frontend/src/components/staff/absence-request-row.tsx
  frontend/src/components/time-tracking/leave-requests-card.tsx
  frontend/src/components/ui/button.tsx
Due: frontend-lint

chore(staff): Mitarbeiter-Guide-Screenshot mit neutralen Inbox-Buttons aktualisieren (#1419)
  frontend/public/help/screens/mitarbeiter.webp
Due: none

fix(lists): Tageslisten-Export gegen Nebenläufigkeits- und Snapshot-Drift absichern (#1565)
  backend/api/timetable/lists.go
  backend/api/timetable/lists_test.go
  backend/services/slotlists/service.go
  backend/services/slotlists/signature_internal_test.go
  backend/services/slotlists/types.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/lib/slot-lists-api.ts
Due: frontend-lint, go-imports

test(time-tracking): raise new-code coverage (#1419)
  backend/database/repositories/users/staff_permission_lookup_test.go
  backend/services/active/staff_absence_notifications_mock_test.go
  frontend/src/lib/absence-helpers.test.ts
  frontend/src/lib/hooks/use-staff-absences-pending.test.ts
  frontend/src/lib/staff-api.test.ts
  frontend/src/lib/time-tracking-api.test.ts
Due: frontend-lint, go-imports

fix(lists): Export-Drift-Guard um Kopfzeilen-Signatur und Auswahl-Wechsel absichern (#1565)
  backend/services/slotlists/service.go
  backend/services/slotlists/signature_internal_test.go
  backend/services/slotlists/types.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint, go-imports

fix(time-tracking): close absence workflow gaps
  backend/database/repositories/active/staff_absence.go
  backend/models/active/repository.go
  backend/services/active/staff_absence_notifications.go
  backend/services/active/staff_absence_notifications_mock_test.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/factory.go
  backend/services/users/staff_offboarding_test.go
  frontend/src/components/time-tracking/vacation-request-modal.test.tsx
  frontend/src/components/time-tracking/vacation-request-modal.tsx
Due: frontend-lint, go-imports

fix(lists): Optionen-Snapshot, Listenart-Feld und Filter-Erkennung nachschärfen (#1565)
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/components/timetable/event-form/step-termin.tsx
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/ui/page-header/DesktopFilters.tsx
Due: frontend-lint

feat(students): add per-child Betreuungsplan tab on student detail
  backend/api/students/pickup_broadcast_test.go
  backend/api/students/pickup_schedule_handlers.go
  backend/realtime/events.go
  frontend/e2e/student-betreuungsplan-tab.spec.ts
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/app/api/timetable/student/[id]/day/route.test.ts
  frontend/src/app/api/timetable/student/[id]/day/route.ts
  frontend/src/app/api/timetable/student/[id]/week/route.test.ts
  frontend/src/app/api/timetable/student/[id]/week/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-plan-day.test.tsx
  frontend/src/components/students/care-plan-day.tsx
  frontend/src/components/students/care-plan-view.test.tsx
  frontend/src/components/students/care-plan-view.tsx
  frontend/src/lib/care-plan-helpers.test.ts
  frontend/src/lib/care-plan-helpers.ts
  frontend/src/lib/hooks/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-sse.ts
  frontend/src/lib/sse-types.ts
  frontend/src/lib/student-care-plan-api.test.ts
  frontend/src/lib/student-care-plan-api.ts
Due: frontend-lint, go-imports

fix(time-tracking): address absence request review findings
  backend/services/active/staff_absence_notifications.go
  backend/services/active/staff_absence_notifications_mock_test.go
  backend/services/active/staff_absence_service_test.go
  backend/templates/email/absence-request-received.html
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/staff/absence-decision-modals.tsx
  frontend/src/components/staff/absence-request-row.test.tsx
  frontend/src/components/staff/absence-request-row.tsx
  frontend/src/components/staff/staff-pending-inbox.test.tsx
  frontend/src/components/staff/staff-pending-inbox.tsx
  frontend/src/components/time-tracking/leave-requests-card.test.tsx
  frontend/src/components/time-tracking/leave-requests-card.tsx
  frontend/src/components/time-tracking/vacation-request-modal.test.tsx
  frontend/src/components/time-tracking/vacation-request-modal.tsx
  frontend/src/components/ui/textarea.test.tsx
  frontend/src/components/ui/textarea.tsx
Due: frontend-lint, go-imports

fix(lists): Listenart-Serienedit und Export-Drift-Fenster nachschärfen (#1565)
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/components/timetable/event-form/step-termin.tsx
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

fix(lists): ST1005-Lint, deterministische Sortierung und Options-Drift nachschärfen (#1565)
  backend/services/slotlists/service.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint, go-imports

fix(realtime): scope pickup broadcasts per tenant, deliver named SSE events
  backend/api/students/pickup_broadcast_test.go
  backend/api/students/pickup_schedule_handlers.go
  frontend/src/lib/hooks/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
  frontend/src/lib/hooks/use-sse.test.ts
  frontend/src/lib/hooks/use-sse.ts
Due: frontend-lint, go-imports

fix(lists): Migrationskollision, Deferred-Unbooked-Drop und Export-Race-Fenster schließen (#1565)
  backend/database/migrations/001015217_timetable_list_kind.go
  backend/services/slotlists/service.go
  backend/services/slotlists/service_integration_test.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/lib/slot-lists-api.ts
Due: frontend-lint, go-imports

fix(tenant): Tenant-Wechsel bei abweichendem Slug/Subdomain reparieren (#1975)
  frontend/src/components/tenant/tenant-guard.test.tsx
  frontend/src/components/tenant/tenant-guard.tsx
  frontend/src/components/tenant/tenant-switcher.test.tsx
  frontend/src/components/tenant/tenant-switcher.tsx
  frontend/src/lib/tenant-api.ts
  frontend/src/lib/tenant-context.test.tsx
  frontend/src/lib/tenant-context.tsx
Due: frontend-lint

fix(realtime): refresh header care slots on student_updated, scope key match
  frontend/src/lib/hooks/use-global-sse.test.ts
  frontend/src/lib/hooks/use-global-sse.ts
Due: frontend-lint

test(tenant): cover mismatched subdomain response
  frontend/src/lib/tenant-context.test.tsx
Due: frontend-lint

fix(lists): Manual-Abgleich, Cutoff-Snapshot/Leerwert und Drift-Reset nachschärfen (#1565)
  backend/services/config/configtest/mock.go
  backend/services/config/settings_interface.go
  backend/services/config/settings_service.go
  backend/services/slotlists/service.go
  backend/services/slotlists/service_integration_test.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint, go-imports

fix(time-tracking): keep questioned absences actionable
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/time-tracking/leave-requests-card.test.tsx
  frontend/src/components/time-tracking/leave-requests-card.tsx
  frontend/src/components/time-tracking/vacation-request-modal.test.tsx
  frontend/src/lib/time-tracking-api.test.ts
  frontend/src/lib/time-tracking-api.ts
Due: frontend-lint, go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
