Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix: update seed coverage allowlist
  backend/seed/api/coverage_ratchet_test.go
Due: go-imports

fix: correct parent letter delivery tracking
  backend/database/migrations/001015336_parent_letter_delivery.go
  backend/models/platform/email_delivery.go
  backend/services/announcement/letter.go
  backend/services/announcement/letter_internal_test.go
  backend/services/announcement/service.go
  backend/services/announcement/service_letter_internal_test.go
  frontend/src/components/parent/news/news-components.tsx
Due: frontend-lint, go-imports

fix: harden parent letter delivery
  backend/database/migrations/001015336_parent_letter_delivery.go
  backend/database/repositories/platform/email_delivery_repository.go
  backend/models/platform/email_delivery.go
  backend/services/announcement/letter.go
  backend/services/announcement/letter_internal_test.go
  backend/services/announcement/service.go
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/announcements/letter-status-panel.tsx
Due: frontend-lint, go-imports

fix: reject expired letter resends
  backend/database/migrations/001015336_parent_letter_delivery.go
  backend/services/announcement/letter.go
  backend/services/announcement/letter_internal_test.go
Due: go-imports

feat: show pickup times in block rosters
  backend/api/timetable/operations_unit_test.go
  backend/services/factory.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
  frontend/src/app/api/active-supervision-dashboard/route.test.ts
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/components/active-supervisions/past-blocks-section.test.tsx
  frontend/src/components/active-supervisions/past-blocks-section.tsx
  frontend/src/components/active-supervisions/planned-now-section.test.tsx
  frontend/src/components/active-supervisions/planned-now-section.tsx
  frontend/src/components/active-supervisions/timetable-roster.test.tsx
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/school/supervisions/roster-preview.test.tsx
  frontend/src/components/school/supervisions/roster-preview.tsx
  frontend/src/components/school/supervisions/supervisions-view.tsx
  frontend/src/lib/timetable-operations-types.test.ts
  frontend/src/lib/timetable-operations-types.ts
  frontend/src/lib/timetable-roster-helpers.ts
Due: frontend-lint, go-imports

feat: add exact architecture legacy ratchet
  backend/architecture/README.md
  backend/internal/architecture/check.go
  backend/internal/architecture/cli_test.go
  backend/internal/architecture/cmd/main.go
  backend/internal/architecture/git_base.go
  backend/internal/architecture/issue_audit.go
  backend/internal/architecture/legacy.go
  backend/internal/architecture/policy.go
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/ratchet_cli_test.go
  scripts/backend-architecture.sh
Due: go-imports

fix: clarify letter delivery warning
  frontend/src/components/announcements/letter-status-panel.tsx
Due: frontend-lint

fix: tailor parent letter delivery
  backend/seed/api/seed_extras.go
  backend/seed/api/seeder_test.go
  backend/seed/api/workflow_steps.go
  backend/services/announcement/letter.go
  backend/services/announcement/letter_internal_test.go
Due: go-imports

fix: open linked parent letters
  frontend/src/app/parents/news/page.tsx
  frontend/src/components/parent/news/parent-news-page.test.tsx
  frontend/src/components/parent/news/parent-news-page.tsx
Due: frontend-lint

fix: clarify all-contacts letter status
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/announcements/letter-status-panel.tsx
Due: frontend-lint

fix: preserve acknowledged letter status
  backend/services/announcement/letter.go
  backend/services/announcement/letter_internal_test.go
Due: go-imports

fix: enforce delivery tenant isolation
  backend/database/migrations/001015336_parent_letter_delivery.go
  backend/database/migrations/001015336_parent_letter_delivery_test.go
  backend/database/migrations/rls_provisioning.go
Due: go-imports

test: keep delivery RLS test hermetic
  backend/database/migrations/001015336_parent_letter_delivery_test.go
Due: go-imports

docs: add screenshots for PR #2623
  screenshots-pr2623/failed-12p.png
  screenshots-pr2623/failed-16pm.png
  screenshots-pr2623/failed-air.png
  screenshots-pr2623/failed-dt.png
  screenshots-pr2623/failed-pro.png
  screenshots-pr2623/failed-se.png
  screenshots-pr2623/loaded-12p.png
  screenshots-pr2623/loaded-16pm.png
  screenshots-pr2623/loaded-air.png
  screenshots-pr2623/loaded-dt.png
  screenshots-pr2623/loaded-pro.png
  screenshots-pr2623/loaded-se.png
Due: none

fix: tighten architecture policy ratchet
  backend/internal/architecture/legacy.go
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/ratchet_cli_test.go
Due: go-imports

fix: protect roster pickup times
  backend/api/timetable/api.go
  backend/api/timetable/operations_unit_test.go
Due: go-imports

fix: restrict pickup times in operations
  backend/api/timetable/api.go
  backend/api/timetable/operations.go
  backend/api/timetable/operations_unit_test.go
  backend/services/supervisiondashboard/service.go
  backend/services/supervisiondashboard/service_mock_test.go
  backend/services/supervisiondashboard/service_test.go
Due: go-imports

fix(frontend): eine Kachel, eine Statusfarbe
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/app/[tenant]/(protected)/staff/page.tsx
  frontend/src/components/staff/school-overview-section.tsx
  frontend/src/components/students/student-card.test.tsx
  frontend/src/components/students/student-card.tsx
  frontend/src/components/ui/section-card.tsx
  frontend/src/components/ui/stat-card.tsx
  frontend/src/lib/staff-helpers.test.ts
  frontend/src/lib/staff-helpers.ts
Due: frontend-lint

fix: preserve schedule roster access
  backend/api/timetable/api.go
  backend/api/timetable/operations.go
  backend/api/timetable/operations_unit_test.go
Due: go-imports

fix(frontend): Filter sehen aus wie Filter, Sperren wie Zustände
  frontend/src/app/[tenant]/(protected)/activities/page.tsx
  frontend/src/app/[tenant]/(protected)/database/grade-transitions/page.tsx
  frontend/src/app/[tenant]/(protected)/database/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/ended-care/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/components/ui/forbidden-page.test.tsx
  frontend/src/components/ui/forbidden-page.tsx
  frontend/src/components/ui/page-header/DesktopFilters.tsx
Due: frontend-lint

fix(frontend): auch die größte Seite baut ihren Kopf nicht mehr selbst
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix: accept module-root legacy package paths
  backend/go.mod
  backend/internal/architecture/legacy.go
  backend/internal/architecture/legacy_test.go
Due: go-imports

fix(frontend): Export im Menü, Rot nur für Krank und Fehler
  frontend/src/app/[tenant]/(protected)/statistics/page.tsx
  frontend/src/lib/staff-helpers.test.ts
Due: frontend-lint

fix: distinguish redacted pickup times
  backend/api/timetable/operations.go
  backend/api/timetable/operations_unit_test.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/components/active-supervisions/past-blocks-section.tsx
  frontend/src/components/active-supervisions/planned-now-section.tsx
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/school/supervisions/roster-preview.tsx
  frontend/src/components/school/supervisions/supervisions-view.tsx
  frontend/src/lib/timetable-operations-types.test.ts
  frontend/src/lib/timetable-operations-types.ts
  frontend/src/lib/timetable-roster-helpers.test.ts
  frontend/src/lib/timetable-roster-helpers.ts
Due: frontend-lint, go-imports

fix(frontend): der Leerzustand steht auf derselben Fläche wie der Inhalt
  frontend/src/components/ui/forbidden-page.test.tsx
  frontend/src/components/ui/forbidden-page.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix: keep architecture validation policy-clean
  backend/go.mod
  backend/internal/architecture/legacy.go
Due: go-imports

fix(frontend): eine sichtbare Aktion neben dem Titel, der Rest im Menü
  frontend/src/app/[tenant]/(protected)/day-log/page.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint

fix: preserve dashboard roster previews
  backend/services/supervisiondashboard/service.go
  backend/services/supervisiondashboard/service_test.go
Due: go-imports

fix: restore protected tenant routes
  frontend/src/app/[tenant]/(protected)/layout.test.tsx
  frontend/src/app/[tenant]/(protected)/layout.tsx
  frontend/src/app/operator/auth-guard.tsx
  frontend/src/app/school/auth-guard.tsx
  frontend/src/components/dashboard/header/profile-dropdown.tsx
  frontend/src/components/dashboard/header/refresh-button.tsx
  frontend/src/components/dashboard/shell-intl-provider.stories.tsx
  frontend/src/components/dashboard/shell-intl-provider.tsx
  frontend/src/components/dashboard/shell-nav-intl-provider.tsx
  frontend/src/components/students/master-data-review-item.tsx
Due: frontend-lint

fix(frontend): auf dem Telefon keine halbleere Aktionszeile
  frontend/src/app/[tenant]/(protected)/day-log/page.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

docs(frontend): die neuen Regeln stehen im Spec
  frontend/src/components/ui/TENANT-PAGE-SPEC.md
Due: none

fix(tenant): Intl-Kontext für den PWA-Hinweis mitliefern
  frontend/src/app/[tenant]/(protected)/layout.tsx
  frontend/src/components/dashboard/shell-nav-intl-provider.tsx
Due: frontend-lint

feat(betreuungsplan): Tagesansicht zum Umschalten neben der Woche
  frontend/src/app/[tenant]/(protected)/calendar/page.test.tsx
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/betreuungsplan-skeleton.tsx
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/period-switcher-dropdown.tsx
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint

fix(push): Schul-Push nur an Konten mit Lehrkraft-Rolle
  backend/database/repositories/iot/push_staff_accounts_test.go
  backend/database/repositories/iot/push_subscription.go
  backend/database/repositories/iot/push_subscription_repository_test.go
Due: go-imports

test(timetable): stabilize reopened modal retry test
  frontend/src/components/timetable/timetable-event-modal.test.tsx
Due: frontend-lint

fix(migrations): strukturiertes Logging und sauberes Rollback für 1.15.337
  backend/database/migrations/001015337_push_subscriptions_school_portal.go
Due: go-imports

fix: preserve architecture module path
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/ratchet_cli_test.go
Due: go-imports

fix: close architecture ratchet gaps
  backend/architecture/README.md
  backend/internal/architecture/cmd/main.go
  backend/internal/architecture/git_base.go
  backend/internal/architecture/legacy.go
  backend/internal/architecture/legacy_test.go
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/ratchet_cli_test.go
  scripts/backend-architecture.sh
Due: go-imports

fix(betreuungsplan): keep calendar tab in sync
  frontend/public/help/screens/stundenplan.webp
  frontend/src/app/[tenant]/(protected)/calendar/page.test.tsx
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
Due: frontend-lint

fix: remove redundant base reference assignment
  backend/internal/architecture/ratchet_cli_test.go
Due: go-imports
