Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

refactor(careplan): build the companion service once and say what the adapter actually is
  backend/api/base.go
  backend/api/students/companion_lock_error_test.go
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/modules/careplan/legacy/careexitview/careexitview.go
  backend/modules/careplan/legacy/carelifecycle/care_exit_cleanup.go
  backend/modules/careplan/legacy/carelifecycle/care_withdrawal_lifecycle_test.go
  backend/modules/careplan/legacy/carelifecycle/carelifecycle.go
  backend/modules/careplan/legacy/carelifecycle/student_companion_service_test.go
  backend/services/care_participation.go
  backend/services/factory.go
  backend/services/users/student_deletion_workflow_test.go
  backend/test/fixtures_care_lifecycle.go
Due: go-imports

test(timetable): isolate pickup-extension query capture
  backend/api/timetable/pickup_extensions_test.go
Due: go-imports

test(timetable): drop the test capability constructor the care-exit binding left behind
  backend/modules/timetable/timetabletest/timetable.go
Due: go-imports

fix: avoid duplicate mobile catalog create action
  frontend/src/components/database/catalog/catalog-page.test.tsx
  frontend/src/components/database/catalog/catalog-page.tsx
  frontend/src/components/database/database-create-action.tsx
Due: frontend-lint

fix: prevent duplicate empty-state mobile fabs
  frontend/src/app/[tenant]/(protected)/database/activities/page.tsx
  frontend/src/app/[tenant]/(protected)/database/devices/page.tsx
  frontend/src/app/[tenant]/(protected)/database/groups/page.tsx
  frontend/src/app/[tenant]/(protected)/database/roles/page.tsx
  frontend/src/app/[tenant]/(protected)/database/rooms/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/components/database/database-create-action.test.tsx
Due: frontend-lint

fix(deploy): check migration data preconditions before stopping the application
  .github/actions/notify-deploy-failure/action.yml
  backend/architecture/composition.json
  backend/cmd/migrate.go
  backend/cmd/migrate_test.go
  backend/database/migrations/001015397_student_owner_cutover.go
  backend/database/migrations/migration_helpers.go
  backend/database/migrations/preflight.go
  backend/database/migrations/preflight_test.go
  backend/database/migrations/student_owner_backfill_verify.go
  backend/database/migrations/student_owner_cutover_preflight_test.go
  docs/agents/operations.md
  docs/operations/student-owner-storage-cutover.md
  scripts/deploy-remote.sh
Due: go-imports

fix(frontend): show mobile toasts without modal
  .claude/rules/frontend-ui-kit.md
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/toast.test.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/contexts/ToastContext.test.tsx
  frontend/src/contexts/ToastContext.tsx
Due: frontend-lint

test(deploy): separate the preflight from the migration at the docker boundary
  scripts/release-backup.test.mjs
  scripts/test-support/release-docker.mjs
Due: none

fix(frontend): reset reloaded pickup extension state
  frontend/src/components/timetable/pickup-extension-dialog.tsx
Due: frontend-lint

test(architecture): ratchet size, complexity, facade width and layering under modules
  .claude/rules/backend-conventions.md
  backend/test/hermetic_verification_test.go
  backend/test/module_complexity_ratchet_test.go
  backend/test/module_facade_width_ratchet_test.go
  backend/test/module_file_size_ratchet_test.go
  backend/test/module_function_length_ratchet_test.go
  backend/test/module_http_orm_ratchet_test.go
  backend/test/module_legacy_budget_ratchet_test.go
  backend/test/module_passthrough_ratchet_test.go
  backend/test/policy_temporary_rules_ratchet_test.go
Due: go-imports

fix(migrations): make the cutover preflight safe on every environment it runs against
  backend/cmd/migrate.go
  backend/database/migrations/migration_output_contract_test.go
  backend/database/migrations/preflight.go
  backend/database/migrations/preflight_test.go
  backend/database/migrations/student_owner_backfill_verify.go
  backend/database/migrations/student_owner_cutover_preflight_test.go
  backend/test/hermetic_verification_test.go
  docs/agents/operations.md
  scripts/deploy-remote.sh
  scripts/release-backup.test.mjs
Due: go-imports

fix(frontend): center mobile toast stack
  frontend/src/contexts/ToastContext.test.tsx
  frontend/src/contexts/ToastContext.tsx
Due: frontend-lint

chore(frontend): update bundle baseline
  frontend/scripts/perf/bundle-baseline.json
Due: none

test(architecture): reseed five module ratchets after merging development
  .claude/rules/backend-conventions.md
  backend/test/module_complexity_ratchet_test.go
  backend/test/module_file_size_ratchet_test.go
  backend/test/module_function_length_ratchet_test.go
  backend/test/module_legacy_budget_ratchet_test.go
  backend/test/policy_temporary_rules_ratchet_test.go
Due: go-imports

docs(adr): record the student enrollment owner and directory projection
  CONTEXT.md
  docs/adr/0017-grade-transition-is-an-application-workflow.md
  docs/adr/0023-student-enrollment-owner-and-directory-projection.md
Due: none

feat(backend): report which existing children answered an enrollment phase (#3379)
  backend/api/enrollment/api.go
  backend/api/enrollment/phase_response_handlers.go
  backend/api/enrollment/phase_response_handlers_test.go
  backend/modules/peopledirectory/compose/guardians.go
  backend/modules/peopledirectory/compose/guardians_portal_test.go
  backend/modules/peopledirectory/guardian.go
  backend/modules/peopledirectory/guardian_engine_test.go
  backend/modules/peopledirectory/guardian_module.go
  backend/modules/peopledirectory/internal/adapters/postgres/guardian_store.go
  backend/modules/peopledirectory/internal/application/guardian.go
  backend/modules/peopledirectory/internal/domain/guardian.go
  backend/modules/peopledirectory/internal/ports/guardian.go
  backend/modules/peopledirectory/peopledirectory.go
  backend/services/enrollment/phase_response_overview.go
  backend/services/enrollment/phase_response_overview_internal_test.go
  backend/services/enrollment/phase_service.go
  backend/services/enrollment_phase_responses.go
  backend/services/factory.go
Due: go-imports

feat(frontend): show the re-enrollment response per phase and who is missing (#3379)
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.test.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/app/api/enrollment/phases/[id]/responses/route.ts
  frontend/src/components/enrollment/admin-enrollment-phase-detail.responses.test.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/components/enrollment/phase-response-overview.test.tsx
  frontend/src/components/enrollment/phase-response-overview.tsx
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/announcement-prefill.test.ts
  frontend/src/lib/announcement-prefill.ts
  frontend/src/lib/enrollment-phase-api.ts
  frontend/src/lib/enrollment-phase-responses-api.test.ts
Due: frontend-lint

feat(seed): open a re-enrollment phase so the response overview has data (#3379)
  backend/seed/api/parent_enrollment.go
  backend/seed/api/seed_renewal_phase.go
  backend/seed/api/seed_renewal_phase_test.go
  backend/seed/api/stammdaten.go
Due: go-imports

fix(frontend): offer the re-enrollment reminder only next to the missing children (#3379)
  frontend/src/components/enrollment/phase-response-overview.test.tsx
  frontend/src/components/enrollment/phase-response-overview.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

test(api): record the phase responses route in the router goldens (#3379)
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
Due: none

fix(seed): read the demo grade without importing the school-structure domain (#3379)
  backend/seed/api/seed_renewal_phase.go
  backend/seed/api/seed_renewal_phase_test.go
Due: go-imports

fix(enrollment): require active parent access for reminders
  backend/modules/peopledirectory/compose/guardians_portal_test.go
  backend/modules/peopledirectory/compose/new.go
  backend/modules/peopledirectory/guardian.go
  backend/modules/peopledirectory/internal/adapters/postgres/guardian_store.go
  backend/modules/peopledirectory/internal/application/guardian.go
  backend/services/enrollment_phase_responses_query_budget_test.go
  backend/test/query_budgets.go
Due: go-imports

test(architecture): record response query budget test
  backend/architecture/composition.json
Due: none

fix(enrollment): preserve response overview boundaries
  backend/api/base.go
  backend/api/enrollment_contract_golden_test.go
  backend/api/route_table_golden_test.go
  backend/architecture/composition.json
  backend/database/repositories/people_directory.go
  backend/modules/peopledirectory/compose/new.go
  backend/modules/peopledirectory/compose/new_test.go
  backend/modules/peopledirectory/internal/adapters/postgres/guardian_store.go
  backend/services/enrollment_phase_responses_query_budget_test.go
Due: go-imports

docs(architecture): version the #2580 work plan and point backend/CLAUDE.md at it
  backend/CLAUDE.md
  backend/architecture/WORKPLAN.md
Due: none

fix(enrollment): keep automatic renewals open
  backend/services/enrollment/phase_response_overview.go
  backend/services/enrollment/phase_response_overview_internal_test.go
Due: go-imports

fix(timetable): align completion timestamp with recovery writes
  backend/models/schedule/activity_instance.go
  backend/modules/timetable/compose/activity_recovery.go
  backend/modules/timetable/internal/adapters/postgres/store.go
  backend/modules/timetable/legacy/timetableplanning/instance_service.go
  backend/modules/timetable/legacy/timetableplanning/instance_service_integration_test.go
Due: go-imports

fix(tenant): load the sidebar groups for the school that was switched to
  frontend/src/components/tenant/tenant-guard.test.tsx
  frontend/src/components/tenant/tenant-guard.tsx
  frontend/src/lib/supervision-context.test.tsx
  frontend/src/lib/supervision-context.tsx
Due: frontend-lint

refactor(timetable): keep completion lifecycle within budgets
  backend/api/timetable/instance_students_unit_test.go
  backend/models/schedule/activity_instance.go
  backend/modules/timetable/legacy/timetableplanning/instance_service.go
  backend/test/module_file_size_ratchet_test.go
  backend/test/module_function_length_ratchet_test.go
  backend/test/module_legacy_budget_ratchet_test.go
Due: go-imports

fix(enrollment): secure response reminders
  backend/api/enrollment/phase_response_handlers.go
  backend/api/enrollment/phase_response_handlers_test.go
  backend/database/repositories/people_directory.go
  backend/modules/peopledirectory/compose/guardians_portal_test.go
  backend/modules/peopledirectory/compose/guardians_test.go
  backend/modules/peopledirectory/compose/new.go
  backend/modules/peopledirectory/compose/new_test.go
  backend/modules/peopledirectory/internal/adapters/postgres/guardian_store.go
  frontend/scripts/oxlint-plugin-bauart.mjs
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.test.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/components/enrollment/phase-response-overview.test.tsx
  frontend/src/components/enrollment/phase-response-overview.tsx
  frontend/src/lib/announcement-prefill.test.ts
  frontend/src/lib/announcement-prefill.ts
  frontend/src/lib/enrollment-phase-api.ts
  frontend/src/lib/enrollment-phase-responses-api.test.ts
Due: frontend-lint, go-imports

fix(enrollment): respect response phase scope
  backend/services/enrollment/phase_response_overview.go
  backend/services/enrollment/phase_response_overview_internal_test.go
  frontend/src/components/enrollment/phase-response-overview.test.tsx
  frontend/src/components/enrollment/phase-response-overview.tsx
Due: frontend-lint, go-imports

fix(enrollment): advance response class scope
  backend/services/enrollment/phase_response_overview.go
  backend/services/enrollment/phase_response_overview_internal_test.go
Due: go-imports

fix(enrollment): preserve response overview history
  backend/services/enrollment/phase_response_overview.go
  backend/services/enrollment/phase_response_overview_internal_test.go
  frontend/src/components/enrollment/phase-response-overview.test.tsx
  frontend/src/components/enrollment/phase-response-overview.tsx
Due: frontend-lint, go-imports

fix(enrollment): show response overview states
  frontend/src/components/enrollment/admin-enrollment-phase-detail.responses.test.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/components/enrollment/phase-response-overview.test.tsx
  frontend/src/components/enrollment/phase-response-overview.tsx
Due: frontend-lint

fix(enrollment): normalize response class scope
  backend/modules/timetable/legacy/timetableplanning/instance_service.go
  backend/modules/timetable/legacy/timetableplanning/instance_service_integration_test.go
  backend/services/enrollment/phase_response_overview.go
  backend/services/enrollment/phase_response_overview_internal_test.go
Due: go-imports

fix(enrollment): respect rollover grade settings
  backend/services/enrollment/phase_response_overview.go
  backend/services/enrollment/phase_response_overview_internal_test.go
  frontend/src/components/enrollment/phase-response-overview.test.tsx
  frontend/src/components/enrollment/phase-response-overview.tsx
Due: frontend-lint, go-imports

fix(enrollment): preserve renewal response overview
  backend/api/enrollment_contract_golden_test.go
  backend/modules/enrollment/enrollment.go
  backend/modules/enrollment/internal/adapters/postgres/request_children.go
  backend/modules/enrollment/request_child.go
  backend/modules/enrollment/request_children.go
  backend/seed/api/seed_renewal_phase.go
  backend/seed/api/seed_renewal_phase_test.go
  backend/services/enrollment/phase_response_overview.go
  backend/services/enrollment/phase_response_overview_internal_test.go
Due: go-imports

fix: migrate student read projection grants (#3432)
  backend/architecture/README.md
  backend/architecture/policy.json
  backend/database/repositories/users/student_projection_cutover_test.go
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/policy_compare_projection_test.go
  backend/internal/architecture/student_projection_replacement.go
  backend/modules/careplan/legacy/careexitview/careexitview.go
  backend/modules/communication/internal/adapters/parentaudience/predicates.go
  backend/modules/communication/internal/adapters/parentaudience/projection.go
  backend/modules/communication/internal/adapters/parentinbox/projection.go
  backend/test/module_legacy_budget_ratchet_test.go
  docs/adr/0023-student-enrollment-owner-and-directory-projection.md
  docs/adr/0025-replace-student-read-projection-grants.md
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
