Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix(frontend): show delegated catalog navigation
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix(frontend): protect catalog creation while loading
  frontend/src/app/[tenant]/(protected)/database/planning-tracks/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/planning-tracks/page.tsx
  frontend/src/app/[tenant]/(protected)/database/shift-types/page.test.tsx
  frontend/src/components/database/catalog/catalog-page.tsx
  frontend/src/components/database/database-create-action.tsx
  frontend/src/components/ui/database/database-form-modal.tsx
Due: frontend-lint

fix: harden staff backfill verification and recovery evidence
  backend/architecture/staff-owner-backfill-2752.json
  backend/cmd/backfill.go
  backend/cmd/backfill_test.go
  backend/database/migrations/001015382_staff_owner_backfill.go
  backend/database/migrations/001015382_staff_owner_backfill_test.go
  backend/database/migrations/presence_backfill_metrics.go
  backend/database/migrations/staff_owner_backfill.go
  backend/database/migrations/staff_owner_backfill_lock.go
  backend/seed/api/coverage_ratchet_test.go
  docs/operations/staff-owner-storage-backfill.md
Due: go-imports

fix(frontend): align catalog access controls
  frontend/src/app/[tenant]/(protected)/database/categories/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/categories/page.tsx
  frontend/src/app/[tenant]/(protected)/database/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/page.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix: recover staff backfill after deleted membership rejoins
  backend/database/migrations/001015382_staff_owner_backfill_test.go
  backend/database/migrations/staff_owner_backfill.go
  docs/operations/staff-owner-storage-backfill.md
Due: go-imports

fix(frontend): show delegated personnel navigation
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
Due: frontend-lint

fix: close catalog route access gaps
  backend/api/timetable/api.go
  backend/api/timetable/planning_tracks_unit_test.go
  frontend/src/app/[tenant]/(protected)/database/planning-tracks/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/planning-tracks/page.tsx
  frontend/src/app/[tenant]/(protected)/database/shift-types/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/shift-types/page.tsx
  frontend/src/components/staff/use-absence-type-options.test.tsx
  frontend/src/components/staff/use-absence-type-options.ts
  frontend/src/components/staff/use-absence-type-select.test.tsx
  frontend/src/components/staff/use-absence-type-select.tsx
  frontend/src/lib/category-api.test.ts
  frontend/src/lib/category-api.ts
Due: frontend-lint, go-imports

fix(frontend): protect catalog selections
  frontend/src/app/[tenant]/(protected)/database/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/page.tsx
  frontend/src/app/[tenant]/(protected)/database/shift-types/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/shift-types/page.tsx
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
Due: frontend-lint

fix(frontend): preserve archived category selections
  frontend/src/app/[tenant]/(protected)/database/categories/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/categories/page.tsx
  frontend/src/components/timetable/event-form/category-option.ts
  frontend/src/components/timetable/event-form/step-termin.test.tsx
  frontend/src/components/timetable/event-form/step-termin.tsx
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
Due: frontend-lint

fix: order retired staff memberships before same-batch rejoin
  backend/database/migrations/001015382_staff_owner_backfill_test.go
  backend/database/migrations/staff_owner_backfill.go
  docs/operations/staff-owner-storage-backfill.md
Due: go-imports

fix: recover staff rejoin across backfill batches
  backend/database/migrations/001015382_staff_owner_backfill_test.go
  backend/database/migrations/staff_owner_backfill.go
  docs/operations/staff-owner-storage-backfill.md
Due: go-imports

feat: backfill enrollment storage with explicit provenance checks
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/cmd/migrate_backfill.go
  backend/cmd/migrate_backfill_test.go
  backend/database/migrations/001015383_request_child_storage_backfill.go
  backend/database/migrations/001015383_request_child_storage_backfill_test.go
  backend/database/migrations/request_child_storage_backfill.go
  backend/database/migrations/request_child_storage_backfill_lock.go
  backend/database/migrations/request_child_storage_backfill_metrics.go
  backend/seed/api/coverage_ratchet_test.go
  backend/test/calendar_date_verification_test.go
  docs/agents/operations.md
  docs/operations/enrollment-storage-backfill-2713.md
Due: go-imports

fix(frontend): die neuen Katalog-Routen in die Analytics-Allowlist aufnehmen (#3114)
  frontend/src/lib/analytics-routes.ts
Due: frontend-lint

fix(frontend): Kategorie-Farbe korrekt zurücksetzen
  frontend/src/app/[tenant]/(protected)/database/categories/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/categories/page.tsx
Due: frontend-lint

fix(frontend): Katalogzugriff mobil und im Formular erhalten
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
Due: frontend-lint

chore(frontend): Katalogrouten in Bundle-Baseline aufnehmen
  frontend/scripts/perf/bundle-baseline.json
Due: none

refactor(frontend): Planungsspur-Auswahl mit Listbox umsetzen
  frontend/src/components/timetable/planning-track-select.tsx
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

fix(frontend): Startseite nach Design-Feedback nachschärfen
  frontend/src/app/[tenant]/(protected)/home/page.tsx
  frontend/src/components/dashboard/birthday-list.tsx
  frontend/src/components/home/now-strip.test.tsx
  frontend/src/components/home/now-strip.tsx
  frontend/src/components/ui/stat-card.tsx
  frontend/src/lib/home-now.test.ts
  frontend/src/lib/home-now.ts
Due: frontend-lint

feat(frontend): Aufsicht aus der Jetzt-Zone starten
  frontend/src/components/home/my-day-block.tsx
  frontend/src/components/home/now-strip.test.tsx
  frontend/src/components/home/now-strip.tsx
  frontend/src/components/home/use-start-own-block.ts
  frontend/src/lib/home-now.test.ts
  frontend/src/lib/home-now.ts
Due: frontend-lint

style(frontend): Knöpfe der Jetzt-Zone teilen sich mobil die Zeile
  frontend/src/components/home/now-strip.tsx
Due: frontend-lint

docs(frontend): Anleitung zur Jetzt-Zone der Startseite nachziehen
  frontend/public/help/screens/startseite.webp
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/home-now.ts
Due: frontend-lint

fix(enrollment): backfill request-child storage without changing planned days
  backend/cmd/migrate_backfill.go
  backend/cmd/migrate_backfill_test.go
  backend/database/migrations/001015383_request_child_storage_backfill.go
  backend/database/migrations/001015383_request_child_storage_backfill_test.go
  backend/database/migrations/request_child_storage_backfill.go
  docs/operations/enrollment-storage-backfill-2713.md
Due: go-imports

feat(timetable): Personal je Wochentag auch mit Angebot als Kinderquelle
  backend/api/timetable/templates_offering_weekday_staff_test.go
  backend/architecture/composition.json
  backend/services/schedule/template_create_service.go
  backend/services/schedule/template_offering_source_integration_test.go
  backend/services/schedule/template_offering_source_unit_test.go
  backend/services/schedule/template_offering_source_weekday_staff_integration_test.go
  backend/services/schedule/template_split_service.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/event-form/form-model.test.ts
  frontend/src/components/timetable/event-form/form-model.ts
  frontend/src/components/timetable/event-form/step-personal-kinder.test.tsx
  frontend/src/components/timetable/event-form/step-personal-kinder.tsx
  frontend/src/components/timetable/event-form/use-event-form.test.ts
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/event-form/weekday-roster-section.tsx
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
Due: frontend-lint, go-imports

feat(frontend): Entschuldigt in Aktuelle Aufsicht für den Rest des Tages
  backend/api/students/partial_absence_test.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/components/active-supervisions/timetable-roster-excuse.test.tsx
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/active-supervisions/use-timetable-actions.ts
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(frontend): Rest-des-Tages-Entschuldigung nach Review nachschärfen
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part12.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part13.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part5.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part6.test.tsx
  frontend/src/components/active-supervisions/timetable-roster-excuse.test.tsx
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/active-supervisions/use-timetable-actions.ts
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(timetable): Aktions-Buttons nur für eingeplante Kräfte zeigen
  backend/services/schedule/timetable_operations_can_operate_test.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part13.test.tsx
  frontend/src/components/active-supervisions/timetable-roster-can-operate.test.tsx
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/active-supervisions/use-timetable-actions.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/timetable-operation-access.test.ts
  frontend/src/lib/timetable-operation-access.ts
  frontend/src/lib/timetable-operations-types.test.ts
  frontend/src/lib/timetable-operations-types.ts
Due: frontend-lint, go-imports

fix(simulate): pin the full-day clock in the tombstone test
  backend/simulate/feed_tombstone_test.go
  backend/simulate/fullday.go
Due: go-imports

docs: Screenshots für PR #3170
  screenshots-pr3170/12p-01-liste.png
  screenshots-pr3170/12p-02-zeile.png
  screenshots-pr3170/12p-03-dialog.png
  screenshots-pr3170/16pm-01-liste.png
  screenshots-pr3170/16pm-02-zeile.png
  screenshots-pr3170/16pm-03-dialog.png
  screenshots-pr3170/air-01-liste.png
  screenshots-pr3170/air-02-zeile.png
  screenshots-pr3170/air-03-dialog.png
  screenshots-pr3170/dt-01-aufsicht-vor-start.png
  screenshots-pr3170/dt-03-liste-erwartet.png
  screenshots-pr3170/dt-04-dialog.png
  screenshots-pr3170/dt-06-emma-erwartet.png
  screenshots-pr3170/dt-07-emma-dialog.png
  screenshots-pr3170/dt-08-emma-entschuldigt.png
  screenshots-pr3170/dt-09-nur-dieser-block.png
  screenshots-pr3170/dt-10-fehlerfall.png
  screenshots-pr3170/dt-11-mittagessen-vorschau.png
  screenshots-pr3170/dt-12-kinderseite.png
  screenshots-pr3170/dt-14-kinderseite-ab-uhrzeit.png
  screenshots-pr3170/dt-15b-entfernen-stufe2.png
  screenshots-pr3170/dt-16-entschuldigt-liste.png
  screenshots-pr3170/pro-01-liste.png
  screenshots-pr3170/pro-02-zeile.png
  screenshots-pr3170/pro-03-dialog.png
  screenshots-pr3170/se-01-liste.png
  screenshots-pr3170/se-02-zeile.png
  screenshots-pr3170/se-03-dialog.png
  screenshots-pr3170/se-04-nach-rest-des-tages.png
  screenshots-pr3170/se-05-nach-nur-dieser-block.png
Due: none

feat: WIP Hilfebereich-Prototyp, Kontext-Hilfe und Page-Header
  docs/hilfebereich-informationsarchitektur.md
  docs/hilfebereich-umbau-plan.md
  docs/research/help-guide-configuration-impact.md
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/components/dashboard/header.stories.tsx
  frontend/src/components/dashboard/header.test.tsx
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/help/context-help-link.test.tsx
  frontend/src/components/help/context-help-link.tsx
  frontend/src/components/help/prototype/help-prototype.tsx
  frontend/src/components/help/prototype/prototype-data.ts
  frontend/src/components/help/prototype/prototype-sidebar-scroll.test.tsx
  frontend/src/components/help/prototype/prototype-sidebar-scroll.ts
  frontend/src/components/ui/page-header/PageHeader.tsx
  frontend/src/components/ui/page-header/PageHeaderWithSearch.tsx
  frontend/src/components/ui/page-header/types.ts
  frontend/src/components/ui/tooltip.test.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/lib/breadcrumb-context.tsx
  frontend/src/lib/help-topics.test.ts
  frontend/src/lib/help-topics.ts
Due: frontend-lint

docs: Screenshots für PR #3171
  screenshots-pr3171/01-eingeplant-vor-start-dt.png
  screenshots-pr3171/02-eingeplant-liste-dt.png
  screenshots-pr3171/03-eingeplant-nach-einchecken-dt.png
  screenshots-pr3171/04-eingeplant-entschuldigt-dt.png
  screenshots-pr3171/05-eingeplant-kind-hinzufuegen-dt.png
  screenshots-pr3171/06-planung-geaendert-403-meldung-dt.png
  screenshots-pr3171/07-planung-geaendert-nur-ansehen-dt.png
  screenshots-pr3171/10-nicht-eingeplant-liste-dt.png
  screenshots-pr3171/20-nicht-eingeplant-12p.png
  screenshots-pr3171/20-nicht-eingeplant-16pm.png
  screenshots-pr3171/20-nicht-eingeplant-air.png
  screenshots-pr3171/20-nicht-eingeplant-dt.png
  screenshots-pr3171/20-nicht-eingeplant-pro.png
  screenshots-pr3171/20-nicht-eingeplant-se.png
  screenshots-pr3171/21-eingeplant-12p.png
  screenshots-pr3171/21-eingeplant-16pm.png
  screenshots-pr3171/21-eingeplant-air.png
  screenshots-pr3171/21-eingeplant-dt.png
  screenshots-pr3171/21-eingeplant-pro.png
  screenshots-pr3171/21-eingeplant-se.png
Due: none

fix(dashboard): show every child in a released room, not one offering
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/components/active-supervisions/view-model.test.ts
  frontend/src/components/active-supervisions/view-model.ts
Due: frontend-lint

fix(simulate): inject the full-day clock for the feed tombstone step
  backend/simulate/feed_tombstone_test.go
  backend/simulate/fullday.go
Due: go-imports

fix(simulate): run Tanzen in the released Sporthalle with Fußball
  backend/simulate/fullday.go
  backend/simulate/fullday_test.go
Due: go-imports

fix(frontend): show open rooms the way the supervision page shows state
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part10.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part11.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part12.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part13.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part2.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part3.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part4.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part5.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part6.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part7.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part8.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.part9.test.tsx
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/components/active-supervisions/states.stories.tsx
  frontend/src/components/active-supervisions/states.test.tsx
  frontend/src/components/active-supervisions/states.tsx
  frontend/src/components/active-supervisions/student-grid.tsx
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/student-card.tsx
Due: frontend-lint

Revert "fix(simulate): run Tanzen in the released Sporthalle with Fußball"
  backend/simulate/fullday.go
  backend/simulate/fullday_test.go
Due: go-imports

docs(help): give open rooms their own step and screenshot
  frontend/public/help/screens/offene-raeume.webp
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(identity-access): keep the six parent-account routes
  backend/api/auth/api.go
  backend/api/auth/auth_test.go
  backend/api/auth/parent_account_handlers.go
  backend/api/auth/types.go
  backend/api/common/errors.go
  backend/api/common/errors_test.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/database/repositories/auth/account_parent.go
  backend/database/repositories/auth/account_parent_repository_test.go
  backend/database/repositories/auth/accounts.go
  backend/database/repositories/auth_test_helpers.go
  backend/database/repositories/factory.go
  backend/database/repositories/factory_test.go
  backend/models/auth/account_parent.go
  backend/models/auth/account_parent_test.go
  backend/models/auth/repository.go
  backend/models/entity_interfaces_test.go
  backend/services/auth/auth_core_test.go
  backend/services/auth/auth_service.go
  backend/services/auth/errors.go
  backend/services/auth/errors_test.go
  backend/services/auth/interface.go
  backend/services/auth/parent_account.go
  backend/services/auth/refactored_modules_test.go
  backend/services/platform/operator_provisioning_service_test.go
  backend/test/fixtures.go
  frontend/src/lib/auth-helpers.ts
  frontend/src/lib/auth-service.test.ts
  frontend/src/lib/auth-service.ts
Due: frontend-lint, go-imports

fix(frontend): Einträge im Neu-Menü überlappen nicht mehr
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/components/timetable/timetable-add-menu.tsx
Due: frontend-lint

fix(identity-access): record the partial delivery and keep factory callers flat
  backend/architecture/README.md
  backend/architecture/composition.json
  backend/architecture/operator-sessions-2720.json
  backend/database/repositories/auth/token_repository_test.go
  backend/database/repositories/platform/operator_adapter_test.go
  docs/runtime-checkpoints/operator-sessions-2720.md
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
