Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix(students): fail on care exit lookup errors
  backend/api/students/response_helpers.go
  backend/api/students/response_helpers_care_exit_test.go
  backend/api/students/student_handlers.go
Due: go-imports

docs(fehler): Glossar und ADR zur Fehleridentität
  CONTEXT.md
  docs/adr/0006-fehleridentitaet-ist-der-code.md
Due: none

fix(arrival): accept a care day without its own time on the weekly PUT (#2414)
  backend/api/students/arrival_schedule_handlers_test.go
  backend/api/students/effective_time_handler_core.go
Due: go-imports

fix(care): require recorded exits for resumption
  backend/api/students/care_exit_handlers.go
  backend/services/parent/parent_master_data_service.go
  backend/services/users/care_lifecycle_service.go
  backend/services/users/care_lifecycle_service_test.go
Due: go-imports

fix(arrival): drop the doubled "Klasse" in the provenance label and the class dialog (#2414)
  frontend/src/components/students/arrival-schedule-manager.tsx
  frontend/src/components/students/class-bulk-arrival-modal.test.tsx
  frontend/src/components/students/class-bulk-arrival-modal.tsx
Due: frontend-lint

docs: Screenshots für PR #2500 (#2414)
  screenshots-pr2500/ankunftsplan-modal-datenverwaltung.png
  screenshots-pr2500/betreuungszeiten-tab-tageskarten.png
  screenshots-pr2500/klassenzeit-dialog-mobile.png
  screenshots-pr2500/klassenzeit-dialog.png
  screenshots-pr2500/tageskarte-herkunft.png
  screenshots-pr2500/tageskarten-ohne-betreuungstag.png
  screenshots-pr2500/wochenplan-entfernen-bestaetigung.png
  screenshots-pr2500/wochenplan-haken.png
  screenshots-pr2500/wochenplan-leer.png
  screenshots-pr2500/wochenplan-mobile.png
Due: none

fix(students): scope care status to planning date
  backend/api/students/care_exit_handlers_test.go
  backend/api/students/export_handlers.go
  backend/api/students/list_helpers.go
  backend/api/students/student_handlers.go
  backend/api/students/students_test.go
Due: go-imports

fix(care): restrict resume and audit changes
  backend/services/users/care_lifecycle_service.go
  backend/services/users/care_lifecycle_service_test.go
  frontend/src/app/[tenant]/(protected)/database/students/ended-care/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/ended-care/page.tsx
Due: frontend-lint, go-imports

docs(help): refresh the Betreuungszeiten guide screenshot (#2414)
  frontend/public/help/screens/betreuungszeiten-pflegen.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(ci): Seed-Allowlist und ungenutzte Konstante bereinigen
  backend/seed/api/coverage_ratchet_test.go
  frontend/src/lib/care-exit-api.ts
Due: frontend-lint, go-imports

fix(students): Wiederaufnahme nur bei hinterlegtem Austritt anbieten
  frontend/src/app/[tenant]/(protected)/database/students/page.care-exit.test.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/lib/care-exit-api.ts
Due: frontend-lint

docs: Screenshots für PR #2500 aktualisieren
  screenshots-pr2500/ankunftsplan-modal-datenverwaltung.png
  screenshots-pr2500/betreuungszeiten-tab-tageskarten.png
  screenshots-pr2500/klassenzeit-dialog-mobile.png
  screenshots-pr2500/klassenzeit-dialog.png
  screenshots-pr2500/tageskarte-herkunft.png
  screenshots-pr2500/wochenplan-entfernen-bestaetigung.png
  screenshots-pr2500/wochenplan-haken.png
  screenshots-pr2500/wochenplan-leer.png
  screenshots-pr2500/wochenplan-mobile.png
Due: none

fix: preserve unknown class arrival times
  backend/api/students/arrival_schedule_handlers.go
  backend/api/students/arrival_schedule_handlers_test.go
  backend/api/students/export_handlers.go
  backend/services/schedule/arrival_service.go
  backend/services/schedule/arrival_service_test.go
  backend/services/schedule/care_day_resolver.go
  backend/services/schedule/care_day_resolver_test.go
  backend/services/schedule/timetable_read_student_week.go
Due: go-imports

fix: move class arrival locking into repository
  backend/database/repositories/education/class_arrival_time.go
  backend/models/education/repository.go
  backend/services/enrollment/timetable_arrival_projection_test.go
  backend/services/schedule/arrival_service.go
Due: go-imports

fix: project export arrivals for planning date
  backend/api/students/export_handlers.go
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
Due: go-imports

fix: preserve arrival schedule projections
  backend/api/students/api.go
  backend/api/students/arrival_schedule_handlers.go
  backend/api/testdata/route_table.golden
  backend/database/migrations/001015317_backfill_class_arrival_times.go
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
  backend/services/schedule/care_request_service.go
  frontend/src/app/api/students/arrival-schedules/status/route.ts
  frontend/src/components/students/care-schedule-manager.test.tsx
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/components/students/class-bulk-arrival-modal.test.tsx
  frontend/src/components/students/class-bulk-arrival-modal.tsx
  frontend/src/lib/student-arrival-api.test.ts
  frontend/src/lib/student-arrival-api.ts
Due: frontend-lint, go-imports

fix: keep arrival plans aligned with care days
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
  frontend/src/components/students/arrival-schedule-manager.test.tsx
  frontend/src/components/students/arrival-schedule-manager.tsx
  frontend/src/components/students/care-plan-editor-modal.test.tsx
  frontend/src/components/students/care-plan-editor-modal.tsx
  frontend/src/components/students/class-bulk-arrival-modal.test.tsx
  frontend/src/components/students/class-bulk-arrival-modal.tsx
Due: frontend-lint, go-imports

fix: retain unknown arrival care days
  backend/services/enrollment/timetable_arrival_projection_test.go
  backend/services/schedule/timetable_read_exception_conflicts.go
  frontend/src/components/students/arrival-schedule-form-modal.test.tsx
  frontend/src/components/students/arrival-schedule-form-modal.tsx
Due: frontend-lint, go-imports

fix: validate notes without arrival time
  backend/api/students/effective_time_handler_core.go
  backend/api/students/pickup_schedule_bind_test.go
Due: go-imports

fix: project arrival plans across weeks
  backend/api/students/arrival_schedule_handlers.go
  backend/database/migrations/001015317_backfill_class_arrival_times.go
  backend/database/migrations/001015317_backfill_class_arrival_times_test.go
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
  frontend/src/components/students/arrival-schedule-manager.test.tsx
  frontend/src/components/students/arrival-schedule-manager.tsx
  frontend/src/components/students/care-schedule-manager.test.tsx
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/lib/student-arrival-api.test.ts
  frontend/src/lib/student-arrival-api.ts
Due: frontend-lint, go-imports

fix: validate class arrival schedule ranges
  backend/api/students/arrival_schedule_handlers.go
  backend/api/students/arrival_schedule_handlers_test.go
  backend/database/migrations/001015317_backfill_class_arrival_times.go
  backend/database/repositories/education/class_arrival_time.go
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
Due: go-imports

fix: retain care days without arrival times
  backend/api/students/export_handlers.go
  backend/api/students/export_handlers_test.go
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
  frontend/src/components/students/care-weekly-plan-modal.test.tsx
  frontend/src/components/students/care-weekly-plan-modal.tsx
  frontend/src/components/students/student-create-modal.tsx
Due: frontend-lint, go-imports

fix: project arrival plans by weekday
  backend/services/schedule/arrival_baseline_service.go
  backend/services/schedule/arrival_baseline_service_test.go
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
  frontend/src/components/students/care-weekly-plan-modal.test.tsx
  frontend/src/components/students/care-weekly-plan-modal.tsx
  frontend/src/components/students/student-create-modal.tsx
Due: frontend-lint, go-imports

fix: inherit enrollment arrival times
  backend/api/students/arrival_schedule_handlers.go
  backend/database/migrations/001015317_backfill_class_arrival_times.go
  backend/database/migrations/001015317_backfill_class_arrival_times_test.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/decision_service_test.go
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
Due: go-imports

fix: use fixture operator in MFA override test
  backend/services/auth/mfa_service_followups_test.go
Due: go-imports

fix: avoid migration version collision
  backend/database/migrations/001015316_class_arrival_times.go
  backend/database/migrations/001015317_arrival_time_optional.go
  backend/database/migrations/001015318_backfill_class_arrival_times.go
Due: go-imports

test: wait for MFA audit log writes
  backend/services/auth/mfa_service_followups_test.go
Due: go-imports

fix: keep booking care days authoritative
  backend/services/schedule/care_day_resolver.go
  backend/services/schedule/care_day_resolver_test.go
  docs/adr/0005-ankunftszeit-aus-klassenzeit-projizieren.md
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-weekly-plan-modal.test.tsx
  frontend/src/components/students/care-weekly-plan-modal.tsx
  frontend/src/components/students/student-create-modal.test.tsx
  frontend/src/components/students/student-create-modal.tsx
Due: frontend-lint, go-imports

fix: bound pickup plans to booked care days
  backend/services/config/defaults/enrollment.go
  backend/services/enrollment/offering_arrival_projection_test.go
  backend/services/factory.go
  backend/services/schedule/arrival_baseline_service.go
  backend/services/schedule/pickup_baseline_service.go
  backend/services/schedule/pickup_schedule_service.go
  docs/adr/0005-ankunftszeit-aus-klassenzeit-projizieren.md
Due: go-imports

fix: ignore arrival exceptions outside booked days
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
Due: go-imports

fix: seed class arrival times
  backend/seed/api/coverage_ratchet_test.go
  backend/seed/api/seeder.go
  backend/seed/api/stammdaten.go
  backend/seed/api/stammdaten_test.go
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
Due: go-imports

fix: drop expired arrival care days
  backend/services/schedule/arrival_class_bulk_test.go
  backend/services/schedule/arrival_service.go
Due: go-imports

fix: show manual planning conflicts before offering approval
  backend/api/students/offering_request_review_handlers.go
  backend/api/students/offering_request_review_handlers_test.go
  backend/database/repositories/enrollment/offering_change_impact_repository.go
  backend/database/repositories/factory.go
  backend/models/enrollment/offering_change_impact.go
  backend/services/enrollment/offering_change_request_automatic_test.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
  backend/services/factory.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/offering-request-review-item.test.tsx
  frontend/src/components/students/offering-request-review-item.tsx
  frontend/src/lib/offering-request-review-api.test.ts
  frontend/src/lib/offering-request-review-api.ts
Due: frontend-lint, go-imports

docs: add PR 2521 E2E screenshots
  screenshots/issue-2416/approval-consequences-12p.png
  screenshots/issue-2416/approval-consequences-16pm.png
  screenshots/issue-2416/approval-consequences-air.png
  screenshots/issue-2416/approval-consequences-dt.png
  screenshots/issue-2416/approval-consequences-pro.png
  screenshots/issue-2416/approval-consequences-se.png
Due: none

fix: scope legacy planning conflicts
  backend/database/repositories/enrollment/offering_change_impact_repository.go
  backend/services/enrollment/offering_change_request_service_test.go
Due: go-imports

fix: filter non-booked planning conflicts
  backend/database/repositories/enrollment/offering_change_impact_repository.go
  backend/services/enrollment/offering_change_request_service_test.go
Due: go-imports

fix: report empty parent-choice conflicts
  backend/database/repositories/enrollment/offering_change_impact_repository.go
  backend/services/enrollment/offering_change_request_service_test.go
Due: go-imports

fix: use proposed planning coverage
  backend/database/repositories/enrollment/offering_change_impact_repository.go
  backend/services/enrollment/offering_change_request_service.go
  backend/services/enrollment/offering_change_request_service_test.go
Due: go-imports

fix: align student detail web check-in
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint
