Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: make request rows responsive and accessible
  frontend/src/components/students/request-review-card.test.tsx
  frontend/src/components/students/request-review-card.tsx
  frontend/src/components/ui/page-header/PageHeaderWithSearch.tsx
Due: frontend-lint

fix: use shared button for request rows
  frontend/src/components/students/request-review-card.tsx
Due: frontend-lint

fix: right-align stacked presence badges
  frontend/src/components/ui/location-badge.tsx
  frontend/src/components/ui/presence-badge-alignment.issue-2379.test.tsx
  frontend/src/components/ui/presence-badge.tsx
Due: frontend-lint

fix: restrict enrollment backfill to guardians
  backend/database/migrations/001015311_guardian_enrollment_account_backfill.go
  backend/database/migrations/001015311_guardian_enrollment_account_backfill_test.go
Due: go-imports

docs: aktualisiere Screenshots für PR #2475
  screenshots-pr2475/01-kindersuche-desktop.png
  screenshots-pr2475/02-kindersuche-mobile.png
  screenshots-pr2475/03-ogs-gruppe-desktop.png
  screenshots-pr2475/04-ogs-gruppe-mobile.png
Due: none

test: cover ordinary enrollment backfill errors
  backend/services/auth/guardian_invitation_service_test.go
Due: go-imports

chore(ci): run SonarCloud only after merge
  .github/workflows/main.yml
Due: none

fix(students): restore absence badge after checkout
  frontend/src/lib/day-planning-helper.issue-2379.test.ts
  frontend/src/lib/day-planning-helper.ts
Due: frontend-lint

test(ogs-groups): use real location parser
  frontend/src/app/[tenant]/(protected)/ogs-groups/page.test.tsx
Due: frontend-lint

fix(migrations): Abwesenheitsarten auf freie Migrationsnummer 1.15.311
  backend/database/migrations/001015311_staff_absence_types.go
  backend/services/active/staff_absence_type_service.go
Due: go-imports

fix(migrations): use unique absence types version
  backend/database/migrations/001015312_staff_absence_types.go
  backend/services/active/staff_absence_type_service.go
Due: go-imports

fix(time-tracking): offene Blöcke verfallen überall am selben Limit (#2402)
  backend/database/repositories/active/work_session.go
  backend/database/repositories/active/work_session_test.go
  backend/models/active/work_session.go
  backend/services/active/work_time_month_service.go
  frontend/src/components/staff/uebersicht-tab.tsx
  frontend/src/lib/time-tracking-helpers.test.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

test: make absence type tests hermetic
  backend/database/repositories/active/staff_absence_test.go
  backend/database/repositories/active/staff_absence_type_test.go
  backend/models/active/staff_absence_type_test.go
  backend/services/active/staff_absence_merge_audit_mock_test.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/staff_absence_type_service_test.go
  backend/services/active/work_session_export_test.go
Due: go-imports

chore: reduce local and CI test load
  .github/workflows/main.yml
  .github/workflows/test.yml
  backend/CLAUDE.md
  docs/adr/0004-testsuite-besitzt-datenbanken-nicht-server.md
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  scripts/backend-affected-packages.sh
  scripts/backend-affected-packages_test.sh
  scripts/test-changed.sh
Due: frontend-lint

fix(time-tracking): Nachtblöcke am Bereichsanfang, gekappte Enden in der Tabelle (#2402)
  backend/api/staff/time_tracking_handlers.go
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/services/active/work_session_service.go
  frontend/src/components/staff/staff-session-table.blocks.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
Due: frontend-lint, go-imports

test(parent): isolate announcement fixtures
  backend/services/parent/parent_announcement_poll_test.go
  backend/services/parent/parent_announcement_service_test.go
Due: go-imports

fix(rooms): make Schulhof color migration hermetic
  backend/database/migrations/001015305_schulhof_room_color_clear_default.go
  backend/database/migrations/001015305_schulhof_room_color_clear_default_test.go
Due: go-imports

test: preserve parallel test ratchet
  backend/database/migrations/001015305_schulhof_room_color_clear_default_test.go
  backend/services/active/yard_room_color_test.go
Due: go-imports

fix(ci): make test selection hermetic
  frontend/src/test/setup.ts
  scripts/backend-affected-packages.sh
  scripts/backend-affected-packages_test.sh
Due: frontend-lint

fix(rooms): preserve existing Schulhof colors
  backend/constants/activities.go
  backend/database/migrations/001015305_schulhof_room_color_clear_default.go
  backend/database/migrations/001015305_schulhof_room_color_clear_default_test.go
Due: go-imports

refactor(ui): CreatableSelect auf ListboxDropdown aufsetzen (#2403)
  backend/seed/api/seed_time_tracking.go
  frontend/src/components/staff/use-absence-type-options.ts
  frontend/src/components/ui/creatable-select.test.tsx
  frontend/src/components/ui/creatable-select.tsx
  frontend/src/components/ui/listbox-dropdown.tsx
  frontend/src/lib/api-error-message.test.ts
  frontend/src/lib/api-error-message.ts
Due: frontend-lint, go-imports

fix(time-tracking): abgelaufene Blöcke sperren die Stempeluhr nicht mehr (#2402)
  backend/database/repositories/active/work_session.go
  backend/database/repositories/active/work_session_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
Due: frontend-lint, go-imports

refactor(time-tracking): Abwesenheitsart-Auswahl ohne eigene Komponente (#2403)
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/components/staff/use-absence-type-options.ts
  frontend/src/components/staff/use-absence-type-select.test.tsx
  frontend/src/components/staff/use-absence-type-select.tsx
  frontend/src/components/ui/creatable-select.tsx
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

test(calendar-dates): feedback.entries.day als gedroppte DATE-Spalte klassifizieren (#2326)
  backend/test/calendar_date_verification_test.go
Due: go-imports

fix(time-tracking): eigene Abwesenheitsart auch in den Lösch-Elementen (#2403)
  frontend/src/components/staff/abwesenheiten-tab.tsx
  frontend/src/lib/absence-helpers.test.ts
  frontend/src/lib/absence-helpers.ts
Due: frontend-lint

fix(time-tracking): vergessener Checkout blockiert das Einstempeln nicht mehr (#2402)
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  frontend/src/components/staff/uebersicht-tab.presence-days.test.ts
  frontend/src/components/staff/uebersicht-tab.tsx
Due: frontend-lint, go-imports

test: run Schulhof room predicate test in parallel
  backend/constants/activities_test.go
Due: go-imports

fix(ui): lange Optionsnamen brechen die Listbox auf Mobil nicht mehr (#2403)
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

fix(time-tracking): abgelaufener Block blockiert die Stempeluhr nicht mehr (#2402)
  backend/services/active/work_session_service.go
  backend/services/iot/staffclock/service.go
  backend/services/iot/staffclock/service_internal_test.go
  frontend/src/components/staff/staff-session-table.blocks.test.tsx
  frontend/src/components/staff/staff-session-table.tsx
Due: frontend-lint, go-imports

fix: sync approved pickup auto-excusals (#2479)
  backend/api/students/care_request_review_handlers.go
  backend/api/students/change_request_list_handlers_test.go
  backend/api/students/companion_plan_error_test.go
  backend/constants/activities_test.go
  backend/database/repositories/schedule/instance_student_repo.go
  backend/models/schedule/instance_student.go
  backend/services/factory.go
  backend/services/parent/parent_pickup_change_service_test.go
  backend/services/schedule/care_request_service.go
  backend/services/schedule/care_request_service_test.go
  backend/services/schedule/pickup_auto_excusal.go
  backend/services/schedule/pickup_change_request_service_test.go
  frontend/public/help/screens/offene-anfragen.webp
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-request-review-item.test.tsx
  frontend/src/components/students/care-request-review-item.tsx
  frontend/src/lib/care-request-review-api.test.ts
  frontend/src/lib/care-request-review-api.ts
Due: frontend-lint, go-imports

test(parent): ungenutzte Feedback-Felder im fakeParentService entfernen (#2326)
  backend/api/parent/me_handlers_test.go
Due: go-imports

docs(anleitung): Entfernte Feedback-Funktion löschen
  docs/anleitung/content-map.md
  docs/anleitung/landing.md
  docs/anleitung/screenshots.md
  docs/anleitung/standard.md
Due: none

chore(migrations): Reset-Schemareihenfolge beibehalten
  backend/database/migrations/reset.go
Due: go-imports

docs(migrations): Begruendung fuer die gedroppten Schemas im Reset zurueckholen
  backend/database/migrations/reset.go
Due: go-imports

fix(time-tracking): Alt-Pause landet nicht auf dem falschen Kalendertag (#2402)
  backend/services/active/labor_time_policy.go
  backend/services/active/labor_time_policy_test.go
Due: go-imports

fix(time-tracking): Standardart, Logger und lange Namen (#2403)
  backend/services/active/staff_absence_service.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/staff_absence_type_service.go
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint, go-imports

fix(schedule): align pickup impact preview
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/services/schedule/care_request_service.go
Due: go-imports

fix(schedule): preview automatic pickup excusals
  backend/database/repositories/schedule/instance_student_repo.go
  backend/database/repositories/schedule/instance_student_repo_test.go
Due: go-imports

fix(migrations): resolve feedback migration version collision
  backend/database/migrations/001015313_drop_feedback_and_suggestions.go
  backend/database/migrations/reset.go
Due: go-imports

fix(care): retain empty request summaries
  frontend/src/components/students/care-request-review-item.test.tsx
  frontend/src/components/students/care-request-review-item.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
