Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

chore(planung): fremde Formatierung aus dem PR nehmen
  frontend/src/app/[tenant]/(protected)/calendar-periods/page.test.tsx
Due: frontend-lint

fix(planung): mobile kopfzeile und skeleton angleichen
  frontend/src/components/timetable/betreuungsplan-skeleton.tsx
  frontend/src/components/ui/planning-context-bar.test.tsx
  frontend/src/components/ui/planning-context-bar.tsx
Due: frontend-lint

fix(planung): mobile skeleton-kopfzeilen angleichen
  frontend/src/components/staff/dienstplan-skeleton.tsx
  frontend/src/components/timetable/betreuungsplan-skeleton.tsx
Due: frontend-lint

fix(vertretung): Bearbeiten-Button als Hauptaktion der Zeile hervorheben
  frontend/src/components/timetable/vertretung-day-list.tsx
Due: frontend-lint

docs(help): Hilfe-Guide gegen den App-Stand korrigieren
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

docs(help): Screenshots der veralteten Kapitel neu aufnehmen
  frontend/public/help/screens/anmeldeformulare.webp
  frontend/public/help/screens/anmeldephasen.webp
  frontend/public/help/screens/einstellungen.webp
  frontend/public/help/screens/home.webp
  frontend/public/help/screens/kinderdetailansicht.webp
  frontend/public/help/screens/konto-erstellen.webp
  frontend/public/help/screens/notfall.webp
  frontend/public/help/screens/zeiterfassung.webp
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(help): präzisiere aktuelle Anleitungen
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(help): erläutere Notfall-Berechtigung
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(dashboard): blende Raumkarten im Binärmodus aus
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(help): beschreibe Gruppenstarts korrekt
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(dashboard): blende Auslastung im Binärmodus aus
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(dashboard): verberge Bewegungen im Binärmodus
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(dashboard): expand lone staff summary
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
Due: frontend-lint

fix(dashboard): fill stretched staff summary
  frontend/src/app/[tenant]/(protected)/dashboard/page.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
Due: frontend-lint

fix(ui): Slide-over unter sm als Blatt von unten öffnen
  frontend/src/components/ui/slide-over.tsx
  frontend/src/lib/hooks/use-media-query.ts
Due: frontend-lint

feat(planung): Betreuungsplan, Dienstplan und Vertretung auf dem Handy nutzbar machen
  frontend/src/components/staff/dienstplan-resource-grid.tsx
  frontend/src/components/staff/dienstplan-view.test.tsx
  frontend/src/components/staff/dienstplan-view.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/components/timetable/weekly-calendar-grid.tsx
  frontend/src/components/ui/planning-context-bar.test.tsx
  frontend/src/components/ui/planning-context-bar.tsx
Due: frontend-lint

feat(planung): Tageslisten und Kalenderzeiträume mobil erreichbar machen
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/lib/planning-navigation.test.ts
  frontend/src/lib/planning-navigation.ts
Due: frontend-lint

fix(planung): Zustand bei Viewportwechsel erhalten
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/ui/slide-over.test.tsx
  frontend/src/components/ui/slide-over.tsx
Due: frontend-lint

fix(planung): mobile Slide-over initialisieren
  frontend/src/components/ui/slide-over.test.tsx
  frontend/src/components/ui/slide-over.tsx
Due: frontend-lint

fix(planung): mobilen Wochentag zurücksetzen
  frontend/src/components/staff/dienstplan-resource-grid.test.tsx
  frontend/src/components/staff/dienstplan-resource-grid.tsx
  frontend/src/components/ui/planning-context-bar.stories.tsx
Due: frontend-lint

feat(students): Betreuungszeiten mit Reichweiten-Auswahl bearbeiten
  backend/api/students/api.go
  backend/api/students/arrival_schedule_handlers.go
  backend/api/students/care_exception_bulk_test.go
  backend/api/students/effective_time_handler_core.go
  backend/api/students/pickup_schedule_handlers.go
  backend/services/schedule/arrival_service.go
  backend/services/schedule/effective_time_service.go
  backend/services/schedule/pickup_schedule_service.go
  frontend/src/app/api/students/[id]/arrival-exceptions/bulk/route.ts
  frontend/src/app/api/students/[id]/pickup-exceptions/bulk/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-day-override-modal.test.tsx
  frontend/src/components/students/care-day-override-modal.tsx
  frontend/src/components/students/care-plan-editor-modal.stories.tsx
  frontend/src/components/students/care-plan-editor-modal.test.tsx
  frontend/src/components/students/care-plan-editor-modal.tsx
  frontend/src/components/students/care-schedule-manager.test.tsx
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/lib/pickup-schedule-api.ts
  frontend/src/lib/student-arrival-api.ts
Due: frontend-lint, go-imports

fix(students): Layout- und Speicher-Fehler im Betreuungszeiten-Editor
  frontend/src/components/students/care-plan-editor-modal.tsx
  frontend/src/components/students/care-schedule-manager.tsx
Due: frontend-lint

refactor(students): Reichweite und Beschriftung im Betreuungseditor klarziehen
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-plan-editor-modal.test.tsx
  frontend/src/components/students/care-plan-editor-modal.tsx
Due: frontend-lint

refactor(students): dritte Reichweite ist der Wochenplan, kein einzelner Wochentag
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-plan-editor-modal.test.tsx
  frontend/src/components/students/care-plan-editor-modal.tsx
Due: frontend-lint

refactor(students): auf Ausnahme und Wochenplan reduzieren
  backend/api/students/api.go
  backend/api/students/arrival_schedule_handlers.go
  backend/api/students/care_exception_bulk_test.go
  backend/api/students/effective_time_handler_core.go
  backend/api/students/pickup_schedule_handlers.go
  backend/services/schedule/arrival_service.go
  backend/services/schedule/effective_time_service.go
  backend/services/schedule/pickup_schedule_service.go
  frontend/src/app/api/students/[id]/arrival-exceptions/bulk/route.ts
  frontend/src/app/api/students/[id]/pickup-exceptions/bulk/route.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/care-plan-editor-modal.stories.tsx
  frontend/src/components/students/care-plan-editor-modal.test.tsx
  frontend/src/components/students/care-plan-editor-modal.tsx
  frontend/src/components/students/care-schedule-manager.test.tsx
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/lib/pickup-schedule-api.ts
  frontend/src/lib/student-arrival-api.ts
Due: frontend-lint, go-imports

fix(students): überflüssige Bedingung am Editor-Dialog entfernen
  frontend/src/components/students/care-plan-editor-modal.tsx
Due: frontend-lint

feat(operator): Schulzugänge eines Kontos verwalten (#1021)
  backend/api/auth/api.go
  backend/api/auth/link_to_tenant_permission_test.go
  backend/api/auth/session_handlers.go
  backend/api/operator/account_access.go
  backend/api/operator/account_access_internal_test.go
  backend/api/operator/api.go
  backend/api/operator/provisioning_internal_test.go
  backend/api/testdata/route_table.golden
  backend/database/repositories/auth/account_role.go
  backend/database/repositories/auth/account_tenant.go
  backend/models/audit/auth_event.go
  backend/models/auth/repository.go
  backend/models/platform/operator_audit_log.go
  backend/services/auth/auth_core_test.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/role_assignment_policy.go
  backend/services/auth/role_assignment_policy_test.go
  backend/services/auth/role_management_internal_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/factory.go
  backend/services/import/staff_import_config_test.go
  backend/services/platform/errors.go
  backend/services/platform/operator_account_access.go
  backend/services/platform/operator_account_access_integration_test.go
  backend/services/platform/operator_provisioning_service.go
  backend/services/platform/test_mocks_test.go
  frontend/src/app/api/operator/accounts/[accountId]/tenants/[tenantId]/route.ts
  frontend/src/app/api/operator/accounts/[accountId]/tenants/route.test.ts
  frontend/src/app/api/operator/accounts/[accountId]/tenants/route.ts
  frontend/src/app/operator/accounts/page.tsx
  frontend/src/components/operator/account-tenant-access-modal.test.tsx
  frontend/src/components/operator/account-tenant-access-modal.tsx
  frontend/src/components/operator/accounts-table.tsx
  frontend/src/lib/operator/account-tenant-access-api.test.ts
  frontend/src/lib/operator/account-tenant-access-api.ts
Due: frontend-lint, go-imports

test: Abdeckung der Schulzugangs-Verwaltung schließen
  backend/database/repositories/auth/account_role_repository_test.go
  backend/services/auth/role_assignment_policy_test.go
  backend/services/platform/errors_test.go
  backend/services/platform/operator_account_access_integration_test.go
  frontend/src/lib/operator/account-tenant-access-api.test.ts
Due: frontend-lint, go-imports

fix(operator): secure account school access changes
  backend/api/operator/account_access.go
  backend/api/operator/api.go
  backend/api/operator/provisioning_internal_test.go
  backend/services/auth/auth_login.go
  backend/services/factory.go
  backend/services/platform/operator_account_access.go
  backend/services/platform/operator_provisioning_service.go
  frontend/src/components/operator/account-tenant-access-modal.test.tsx
  frontend/src/components/operator/account-tenant-access-modal.tsx
  frontend/src/lib/operator/account-tenant-access-api.test.ts
  frontend/src/lib/operator/account-tenant-access-api.ts
Due: frontend-lint, go-imports

refactor(students): Wochenübersicht als Tabelle statt fünf Karten
  frontend/src/components/students/care-schedule-manager.test.tsx
  frontend/src/components/students/care-schedule-manager.tsx
Due: frontend-lint

Revert "refactor(students): Wochenübersicht als Tabelle statt fünf Karten"
  frontend/src/components/students/care-schedule-manager.test.tsx
  frontend/src/components/students/care-schedule-manager.tsx
Due: frontend-lint

test(api): update operator route golden
  backend/api/testdata/route_table.golden
Due: none

fix(students): Ausnahme-Knopf oben rechts in die Tageskarte
  frontend/src/components/students/care-schedule-manager.test.tsx
  frontend/src/components/students/care-schedule-manager.tsx
Due: frontend-lint

fix(auth): prüfe Rollenvergabe beim Einladen von Mitarbeitenden
  backend/api/auth/api.go
  backend/api/auth/auth_test.go
  backend/api/auth/invitation_handlers.go
  backend/auth/authorize/role_grant.go
  backend/auth/authorize/role_grant_test.go
  backend/services/auth/invitation_interface.go
  backend/services/auth/invitation_service.go
  backend/services/auth/invitation_service_test.go
  backend/services/auth/role_assignment_policy.go
  backend/services/platform/operator_provisioning_service.go
  backend/test/fixtures.go
  backend/test/hermetic_verification_test.go
Due: go-imports

fix(auth): liefere Einladungs-Token nicht in der Übersicht aus
  backend/api/auth/invitation_handlers.go
Due: go-imports

fix(operator): preserve protected school access
  backend/services/platform/operator_account_access.go
  backend/services/platform/operator_account_access_integration_test.go
  frontend/src/app/api/operator/accounts/[accountId]/tenants/[tenantId]/roles/route.test.ts
  frontend/src/app/api/operator/accounts/[accountId]/tenants/[tenantId]/roles/route.ts
  frontend/src/components/operator/account-tenant-access-modal.tsx
Due: frontend-lint, go-imports

fix(auth): prüfe Rollenvergabe auch bei Registrierung und Schulzuordnung
  backend/api/auth/api.go
  backend/api/auth/auth_test.go
  backend/api/auth/session_handlers.go
Due: go-imports

fix(students): preserve care editor state
  frontend/src/components/students/care-plan-editor-modal.test.tsx
  frontend/src/components/students/care-plan-editor-modal.tsx
Due: frontend-lint

fix(operator): protect legacy caregiver roles
  backend/services/platform/operator_account_access.go
  backend/services/platform/operator_account_access_integration_test.go
Due: go-imports

fix(students): refresh partial care exceptions
  frontend/src/components/students/care-schedule-manager.test.tsx
  frontend/src/components/students/care-schedule-manager.tsx
Due: frontend-lint
