Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

feat: add staff work schedule model and weekly aggregation for time tracking
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/database/migrations/001010008_add_staff_employment_fields.go
  backend/database/repositories/config/staff_work_schedule.go
  backend/database/repositories/factory.go
  backend/models/config/staff_work_schedule.go
  backend/models/users/staff.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/factory.go
  frontend/src/app/[tenant]/(protected)/time-tracking/page.test.tsx
  frontend/src/app/[tenant]/(protected)/time-tracking/page.tsx
  frontend/src/lib/__tests__/time-tracking-helpers.test.ts
  frontend/src/lib/time-tracking-api.test.ts
  frontend/src/lib/time-tracking-api.ts
  frontend/src/lib/time-tracking-helpers.test.ts
  frontend/src/lib/time-tracking-helpers.ts
Due: frontend-lint, go-imports

fix teacher selection and role refresh regressions
  backend/api/activities/activities_test.go
  backend/api/activities/api.go
  backend/api/iot/data/available_teachers_internal_test.go
  backend/api/iot/data/data_test.go
  backend/api/iot/data/handlers.go
  backend/services/auth/auth_core_test.go
  backend/services/auth/role_management.go
  backend/services/auth/role_management_internal_test.go
  backend/services/auth/role_management_transaction_test.go
Due: go-imports

fix avatar route bugs: cache header test, missing staff_id guard, and public dir caching
  backend/api/staff/api.go
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/app/api/staff/[id]/avatar/route.test.ts
Due: frontend-lint, go-imports

fix: derive device location from last session instead of manual selection
  backend/api/iot/devices/handlers.go
  backend/api/iot/devices/types.go
  backend/services/active/session_service.go
  frontend/src/lib/database/configs/devices.config.tsx
  frontend/src/lib/iot-helpers.ts
Due: frontend-lint, go-imports

chore: remove unused RoomSelect export
  frontend/src/components/ui/database/database-select.tsx
Due: frontend-lint

feat: add staff work schedule CRUD endpoints and frontend service
  backend/api/base.go
  backend/api/staff/api.go
  frontend/src/app/api/staff/[id]/schedule/route.ts
  frontend/src/lib/staff-api.ts
Due: frontend-lint, go-imports

fix: update device tests for auto-derived location and optimize room update query
  backend/api/iot/devices/devices_test.go
  backend/database/repositories/iot/device.go
  backend/models/iot/repository.go
  backend/services/active/session_service.go
Due: go-imports

fix: add UpdateRoomID to DeviceRepository test stubs
  backend/services/platform/operator_provisioning_service_internal_test.go
  backend/services/platform/operator_provisioning_service_test.go
Due: go-imports

fix: advance sequences in EnsureTestTenant to prevent cross-package PK collisions
  backend/test/fixtures.go
Due: go-imports

test: add coverage for UpdateRoomID and auto-derived device location
  backend/database/repositories/iot/device_repository_test.go
  backend/services/active/device_location_test.go
Due: go-imports

fix wire Sentry error capture and fail-fast JWT init across backend
  backend/api/active/api.go
  backend/api/activities/api.go
  backend/api/admin/grade_transitions.go
  backend/api/auth/api.go
  backend/api/common/errors.go
  backend/api/config/api.go
  backend/api/config/settings_api.go
  backend/api/database/api.go
  backend/api/feedback/api.go
  backend/api/groups/api.go
  backend/api/guardians/api.go
  backend/api/import/api.go
  backend/api/iot/api.go
  backend/api/iot/common/errors.go
  backend/api/operator/api.go
  backend/api/platform/api.go
  backend/api/rooms/api.go
  backend/api/schedules/api.go
  backend/api/sse/api.go
  backend/api/staff/api.go
  backend/api/students/api.go
  backend/api/substitutions/api.go
  backend/api/suggestions/api.go
  backend/api/time-tracking/api.go
  backend/api/usercontext/api.go
  backend/api/users/api.go
  backend/auth/jwt/tokenauth.go
  backend/email/dispatcher.go
  backend/services/auth/token_cleanup.go
  backend/services/scheduler/scheduler.go
Due: go-imports

fix: use correct placeholder syntax for sequence advancement in EnsureTestTenant
  backend/test/fixtures.go
Due: go-imports

fix add structured logging to all silent error paths (#1148)
  backend/api/common/response.go
  backend/api/iot/api.go
  backend/api/iot/attendance/handlers.go
  backend/api/iot/checkin/handlers.go
  backend/api/iot/data/handlers.go
  backend/api/iot/feedback/handlers.go
  backend/api/iot/rfid/handlers.go
  backend/api/iot/sessions/handlers.go
  backend/api/operator/middleware.go
  backend/api/sse/api.go
  backend/api/usercontext/api.go
  backend/auth/authorize/permission.go
  backend/auth/authorize/resource_middleware.go
  backend/auth/device/device_auth.go
  backend/auth/jwt/authenticator.go
  backend/auth/jwt/tokenauth.go
  backend/cmd/serve.go
  backend/database/database_config.go
  backend/tenant/http_middleware.go
Due: go-imports

fix students renderError bypassing slog and Sentry (#1148)
  backend/api/students/api.go
Due: go-imports

fix RespondWithError bypassing slog and Sentry for 500 errors (#1148)
  backend/api/common/response.go
Due: go-imports

fix: remove pulsating animation from device online indicator
  frontend/src/app/[tenant]/(protected)/database/devices/page.tsx
  frontend/src/lib/database/configs/devices.config.tsx
Due: frontend-lint

fix: caregiver modal button logic and supervision end-date query
  backend/services/users/caregiver_capability.go
  frontend/src/components/teachers/caregiver-capability-modal.test.tsx
  frontend/src/components/teachers/caregiver-capability-modal.tsx
Due: frontend-lint, go-imports

feat: complete feedback system with settings, history, and GDPR cleanup
  backend/api/iot/api.go
  backend/api/iot/attendance/attendance_test.go
  backend/api/iot/attendance/handlers.go
  backend/api/iot/attendance/resource.go
  backend/api/iot/attendance/types.go
  backend/api/iot/checkin/handlers.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/feedback/feedback_test.go
  backend/api/iot/feedback/handlers.go
  backend/api/iot/feedback/resource.go
  backend/api/server.go
  backend/database/repositories/feedback/entry.go
  backend/models/config/keys.go
  backend/models/feedback/repository.go
  backend/services/config/defaults/feedback.go
  backend/services/feedback/feedback_service.go
  backend/services/feedback/interface.go
  backend/services/scheduler/scheduler.go
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/app/api/feedback/student/[id]/route.ts
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/components/students/student-detail-components.tsx
  frontend/src/lib/feedback-api.ts
Due: frontend-lint, go-imports

fix: update feedback history tests to mock API calls instead of mock data
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.test.tsx
Due: frontend-lint

fix: resolve review issues in feedback implementation
  backend/api/iot/checkin/handlers.go
  backend/database/repositories/feedback/entry.go
  backend/services/config/defaults/feedback.go
Due: go-imports

test: add coverage for feedback system new code
  backend/api/iot/feedback/feedback_test.go
  backend/database/repositories/feedback/entry_repository_test.go
  backend/services/feedback/feedback_service_test.go
  backend/services/scheduler/scheduler_test.go
  frontend/src/lib/feedback-api.test.ts
Due: frontend-lint, go-imports

fix: use plain TableExpr for DeleteOlderThan and fix test assertions
  backend/database/repositories/feedback/entry.go
  backend/database/repositories/feedback/entry_repository_test.go
  backend/services/feedback/feedback_service_test.go
Due: go-imports

feat: integrate @sentry/nextjs for frontend error tracking
  .env.example
  .github/workflows/build.yml
  docker-compose.example.yml
  environments/production.sops.env
  environments/staging.sops.env
  frontend/.env.example
  frontend/Dockerfile.prod
  frontend/next.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/global-error.tsx
  frontend/src/env.js
  frontend/src/instrumentation-client.ts
  frontend/src/instrumentation.ts
  frontend/src/sentry.client.config.ts
  frontend/src/sentry.server.config.ts
Due: frontend-lint

chore: encrypt Sentry DSN in staging and production SOPS env files
  environments/production.sops.env
  environments/staging.sops.env
Due: none

fix: use DateOfUTC for attendance DATE queries and explicit JOINs for visits
  backend/database/repositories/active/attendance_repository.go
  backend/database/repositories/active/visits.go
Due: go-imports

test: add hermetic tests for attendance-history feature
  backend/api/students/attendance_history_handlers_test.go
  backend/database/repositories/active/attendance_date_range_test.go
  backend/database/repositories/active/visits_time_range_test.go
Due: go-imports

fix: resolve CI failures — migration version collision and page test rewrite
  backend/database/migrations/001015029_audit_data_access_log.go
  frontend/src/app/[tenant]/(protected)/students/[id]/room_history/page.test.tsx
Due: frontend-lint, go-imports

test: increase coverage on attendance-history feature to ~90%
  backend/api/students/attendance_history_handlers_test.go
  backend/api/students/attendance_history_logic_test.go
  backend/models/audit/data_access_log_test.go
  backend/services/config/helpers_test.go
  frontend/src/lib/attendance-history-helpers.test.ts
Due: frontend-lint, go-imports

refactor: rework feedback history page to remove emojis and reuse components
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.tsx
Due: frontend-lint

refactor: redesign feedback history to match student detail page style
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.tsx
Due: frontend-lint

fix: remove duplicate "Klasse" prefix in feedback history header
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.tsx
Due: frontend-lint

refactor: redesign feedback history with chart visualization
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.tsx
Due: frontend-lint

fix: feedback history filter excludes today's entries with future times
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.tsx
Due: frontend-lint

feat: redesign attendance history page with modern shadcn UI
  frontend/src/app/[tenant]/(protected)/students/[id]/components/HistoryLinks.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/components/HistoryLinks.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room_history/page.tsx
  frontend/src/app/api/students/[id]/attendance-history/route.ts
  frontend/src/components/dashboard/header/breadcrumb-components.test.tsx
  frontend/src/components/dashboard/header/breadcrumb-utils.test.ts
  frontend/src/components/dashboard/header/breadcrumb-utils.ts
  frontend/src/components/students/student-detail-components.test.tsx
  frontend/src/components/students/student-detail-components.tsx
Due: frontend-lint

test: increase attendance history page coverage to meet 85% threshold
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.test.tsx
Due: frontend-lint

docs: add kebab-case URL convention to CLAUDE.md
  CLAUDE.md
Due: none

feat: confirmation modal beim aktivieren der anwesenheitshistorie
  frontend/src/components/settings/settings-field.tsx
Due: frontend-lint

fix: exempt Sentry tunnel from proxy, add edge runtime init, scrub PII, and distinguish environments
  .env.example
  .github/workflows/build.yml
  docker-compose.example.yml
  environments/production.sops.env
  environments/staging.sops.env
  frontend/.env.example
  frontend/Dockerfile.prod
  frontend/src/env.js
  frontend/src/instrumentation.ts
  frontend/src/proxy.ts
  frontend/src/sentry.client.config.ts
  frontend/src/sentry.edge.config.ts
  frontend/src/sentry.shared.ts
Due: frontend-lint

test: add coverage for global-error and instrumentation Sentry files
  frontend/src/app/global-error.test.tsx
  frontend/src/instrumentation.test.ts
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
