Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix: address SonarQube issues — extract constant, remove void and redundant return
  backend/services/auth/auth_login.go
  frontend/src/components/teachers/teacher-create-modal.tsx
Due: frontend-lint, go-imports

fix: address code review findings
  backend/api/auth/api.go
  backend/services/auth/auth_login.go
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/components/teachers/teacher-form.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/lib/teacher-api.ts
Due: frontend-lint, go-imports

fix: update test assertions to match German error messages
  frontend/src/lib/teacher-api.test.ts
Due: frontend-lint

fix: extract permUsersCreate constant and reduce linkAccountToTenant complexity
  backend/api/auth/api.go
  backend/services/auth/auth_login.go
Due: go-imports

fix: optimize suggestions list query with LATERAL joins and composite indexes
  backend/database/migrations/001015015_suggestions_performance_indexes.go
  backend/database/repositories/suggestions/post_repository.go
Due: go-imports

fix: remove redundant post_reads index from migration
  backend/database/migrations/001015015_suggestions_performance_indexes.go
Due: go-imports

fix: prevent stale session after logout + login as different user (#1067)
  backend/services/auth/auth_switch_tenant.go
  frontend/src/lib/shell-auth-context.tsx
  frontend/src/server/auth/operator-config.ts
  frontend/src/server/auth/tenant-config.ts
Due: frontend-lint, go-imports

refactor: extract common filter logic in student list helpers (closes #1070)
  backend/api/students/list_helpers.go
Due: go-imports

fix: address review feedback on stale session fix
  backend/services/auth/auth_switch_tenant.go
  frontend/src/app/api/auth/logout/route.ts
  frontend/src/lib/shell-auth-context.tsx
Due: frontend-lint, go-imports

fix: revert aggressive token cleanup in SwitchTenant
  backend/services/auth/auth_switch_tenant.go
Due: go-imports

test: add tests for logout token invalidation and fix logout route tests
  backend/services/auth/auth_switch_tenant_test.go
  frontend/src/app/api/auth/logout/route.test.ts
Due: frontend-lint, go-imports

fix: add timeout to logout fetch and clear inflight session promise
  frontend/src/lib/session-cache.ts
  frontend/src/lib/shell-auth-context.tsx
Due: frontend-lint

fix: make backend logout truly fire-and-forget
  frontend/src/lib/shell-auth-context.tsx
Due: frontend-lint

test: add coverage for signOut events and logout session cleanup
  frontend/src/lib/shell-auth-context.test.tsx
  frontend/src/server/auth/config.test.ts
Due: frontend-lint

fix: prevent guardian creation with invalid contact data
  frontend/src/components/guardians/guardian-form-modal.tsx
  frontend/src/components/guardians/student-guardian-manager.tsx
  frontend/src/lib/guardian-api.ts
Due: frontend-lint

fix: remove deprecated GetRoomUtilization & GetStudentAttendanceRate from active service
  backend/api/active/active_test.go
  backend/api/active/analytics_handlers.go
  backend/api/active/api.go
  backend/api/active/exports.go
  backend/api/active/handlers_integration_test.go
  backend/api/active/handlers_unit_test.go
  backend/api/active/types.go
  backend/services/active/active_group_service_test.go
  backend/services/active/analytics_service.go
  backend/services/active/analytics_service_test.go
  backend/services/active/interface.go
  backend/services/scheduler/scheduler_test.go
  frontend/src/app/api/active/analytics/room/[roomId]/utilization/route.test.ts
  frontend/src/app/api/active/analytics/room/[roomId]/utilization/route.ts
  frontend/src/app/api/active/analytics/student/[studentId]/attendance/route.test.ts
  frontend/src/app/api/active/analytics/student/[studentId]/attendance/route.ts
  frontend/src/lib/active-helpers.test.ts
  frontend/src/lib/active-helpers.ts
  frontend/src/lib/active-service.test.ts
  frontend/src/lib/active-service.ts
  frontend/src/lib/hooks/use-student-data.ts
Due: frontend-lint, go-imports

fix: suppress "session expired" banner after deliberate logout
  frontend/src/app/[tenant]/page.test.tsx
  frontend/src/app/[tenant]/page.tsx
  frontend/src/components/ui/logout-modal.test.tsx
  frontend/src/components/ui/logout-modal.tsx
  frontend/src/lib/session-cache.ts
  frontend/src/lib/shell-auth-context.tsx
Due: frontend-lint

chore: suppress pre-existing oxlint error in chart.tsx
  frontend/src/components/ui/chart.tsx
Due: frontend-lint

fix: prevent long suggestion titles from overflowing card layout
  frontend/src/app/operator/suggestions/page.tsx
  frontend/src/components/suggestions/suggestion-card.tsx
Due: frontend-lint

test: update guardian error translation test for new phone validation entries
  frontend/src/lib/guardian-api.test.ts
Due: frontend-lint

fix: eliminate header name flicker during tenant switch
  frontend/src/components/dashboard/header.tsx
  frontend/src/components/tenant/tenant-guard.test.tsx
  frontend/src/components/tenant/tenant-guard.tsx
  frontend/src/components/tenant/tenant-switcher.test.tsx
  frontend/src/components/tenant/tenant-switcher.tsx
  frontend/src/lib/profile-context.tsx
  frontend/src/lib/tenant-api.ts
Due: frontend-lint

fix: add tenant scoping to roles and protect system roles
  backend/api/auth/api.go
  backend/database/repositories/auth/role.go
  backend/models/auth/role.go
  backend/services/auth/permission_management.go
  backend/services/auth/role_management.go
  frontend/src/app/[tenant]/(protected)/database/roles/page.tsx
  frontend/src/components/auth/role-permission-management-modal.test.tsx
  frontend/src/components/roles/role-detail-modal.test.tsx
  frontend/src/components/roles/role-detail-modal.tsx
  frontend/src/components/roles/role-edit-modal.test.tsx
  frontend/src/components/teachers/teacher-role-management-modal.test.tsx
  frontend/src/lib/auth-helpers.ts
  frontend/src/lib/auth-service.test.ts
  frontend/src/lib/auth-service.ts
  frontend/src/lib/database/configs/roles.config.test.tsx
Due: frontend-lint, go-imports

feat: operator dashboard — create IoT devices and set API keys
  backend/api/operator/api.go
  backend/api/operator/provisioning.go
  backend/api/operator/provisioning_internal_test.go
  backend/models/platform/operator_audit_log.go
  backend/services/platform/errors.go
  backend/services/platform/operator_provisioning_service.go
  backend/services/platform/operator_provisioning_service_internal_test.go
  frontend/src/app/api/operator/provisioning/devices/[id]/set-api-key/route.test.ts
  frontend/src/app/api/operator/provisioning/devices/[id]/set-api-key/route.ts
  frontend/src/app/api/operator/provisioning/devices/route.test.ts
  frontend/src/app/api/operator/provisioning/devices/route.ts
  frontend/src/app/operator/provisioning/create-device-modal.tsx
  frontend/src/app/operator/provisioning/page.test.tsx
  frontend/src/app/operator/provisioning/page.tsx
  frontend/src/app/operator/provisioning/set-api-key-modal.tsx
  frontend/src/lib/iot-helpers.ts
  frontend/src/lib/operator/provisioning-api.ts
  frontend/src/lib/operator/provisioning-helpers.ts
Due: frontend-lint, go-imports

test: add coverage for performTenantSwitch and tenant change debounce reset
  frontend/src/lib/profile-context.test.tsx
  frontend/src/lib/tenant-api.test.ts
Due: frontend-lint

test: raise provisioning coverage for sonar
  backend/api/operator/provisioning_internal_test.go
  backend/services/platform/errors_test.go
  frontend/src/app/operator/provisioning/create-device-modal.test.tsx
  frontend/src/app/operator/provisioning/page.test.tsx
  frontend/src/app/operator/provisioning/set-api-key-modal.test.tsx
  frontend/src/lib/operator/provisioning-api.test.ts
Due: frontend-lint, go-imports

fix: sync JWT session name on profile edit and fix tenant debounce reset
  frontend/src/app/[tenant]/(protected)/settings/page.tsx
  frontend/src/lib/profile-context.test.tsx
  frontend/src/lib/profile-context.tsx
Due: frontend-lint

test: add update mock to useSession in settings page test
  frontend/src/app/[tenant]/(protected)/settings/page.test.tsx
Due: frontend-lint

fix: harden system role protection and return proper HTTP status codes
  backend/api/auth/api.go
  backend/api/auth/errors.go
  backend/database/migrations/001015016_backfill_role_tenant_ids.go
  backend/database/repositories/auth/role.go
  backend/services/auth/errors.go
  backend/services/auth/permission_management.go
  backend/services/auth/role_management.go
Due: go-imports

fix: replace email regex with string checks to avoid ReDoS risk
  frontend/src/components/guardians/guardian-form-modal.tsx
Due: frontend-lint

fix: align tests with tenant-scoped role changes
  backend/api/auth/api.go
  backend/api/auth/auth_test.go
  backend/services/auth/refactored_modules_test.go
  backend/test/fixtures.go
Due: go-imports

fix: block device provisioning for inactive schools and empty manual API keys
  backend/api/operator/provisioning.go
  backend/services/platform/errors.go
  backend/services/platform/operator_provisioning_service.go
  backend/services/platform/operator_provisioning_service_internal_test.go
  frontend/src/app/operator/provisioning/create-device-modal.tsx
Due: frontend-lint, go-imports

fix: scope test role to correct tenant in invitation acceptance test
  backend/services/auth/auth_core_test.go
  backend/test/fixtures.go
Due: go-imports

fix: correct suggestion title overflow from #1077
  frontend/src/app/operator/suggestions/page.tsx
  frontend/src/components/suggestions/suggestion-card.tsx
Due: frontend-lint

fix: use wrap-anywhere instead of break-words for suggestion titles
  frontend/src/app/operator/suggestions/page.tsx
  frontend/src/components/suggestions/suggestion-card.tsx
Due: frontend-lint

fix: address review round 2 — race condition, error feedback, naming
  backend/services/auth/auth_login.go
  frontend/src/components/teachers/teacher-create-modal.tsx
  frontend/src/lib/teacher-api.ts
Due: frontend-lint, go-imports

test: add coverage for system role immutability checks
  backend/models/auth/role_test.go
  backend/services/auth/refactored_modules_test.go
  backend/test/fixtures.go
Due: go-imports

refactor: simplify device types to terminal and info_point
  backend/api/iot/devices/devices_test.go
  backend/api/operator/provisioning_internal_test.go
  backend/auth/device/device_auth_test.go
  backend/database/migrations/001015016_rename_device_types.go
  backend/database/repositories/iot/device_repository_test.go
  backend/models/iot/device_test.go
  backend/seed/api/stammdaten.go
  backend/services/iot/iot_service_test.go
  backend/test/fixtures.go
  backend/test_cleanup_data.sql
  frontend/src/app/[tenant]/(protected)/database/devices/page.test.tsx
  frontend/src/app/[tenant]/(protected)/database/page.tsx
  frontend/src/app/api/operator/provisioning/devices/route.test.ts
  frontend/src/app/operator/provisioning/create-device-modal.test.tsx
  frontend/src/app/operator/provisioning/create-device-modal.tsx
  frontend/src/app/operator/provisioning/page.test.tsx
  frontend/src/app/operator/provisioning/set-api-key-modal.test.tsx
  frontend/src/components/devices/device-detail-modal.test.tsx
  frontend/src/components/devices/device-edit-modal.test.tsx
  frontend/src/lib/database/configs/devices.config.test.tsx
  frontend/src/lib/database/configs/devices.config.tsx
  frontend/src/lib/help-content.tsx
  frontend/src/lib/iot-helpers.test.ts
  frontend/src/lib/iot-helpers.ts
  frontend/src/lib/operator/provisioning-api.test.ts
Due: frontend-lint, go-imports

fix: backfill role tenant_ids instead of deleting, check RowsAffected
  backend/database/migrations/001015016_backfill_role_tenant_ids.go
  backend/database/repositories/auth/role.go
Due: go-imports

fix: correct device type assertion to match toUpperCase mock
  frontend/src/app/[tenant]/(protected)/database/devices/page.test.tsx
Due: frontend-lint

refactor: rename middleware.ts to proxy.ts for Next.js 16
  CLAUDE.md
  frontend/CLAUDE.md
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/tenant/tenant-switcher.tsx
  frontend/src/lib/operator-url.ts
  frontend/src/lib/reserved-slugs.ts
  frontend/src/lib/tenant-router.ts
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
  frontend/src/server/auth/tenant-config.ts
Due: frontend-lint
