Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: keep frontend metrics server-only
  frontend/src/lib/api-helpers.ts
Due: frontend-lint

fix: avoid capacity migration version collision
  backend/database/migrations/001015078_enable_pg_stat_statements.go
Due: go-imports

fix observability review issues
  .sonarcloud.properties
  backend/observability/capacity_test.go
  backend/observability/prometheus.go
  backend/observability/prometheus_test.go
  frontend/src/env.js
  frontend/src/lib/api-helpers.test.ts
  frontend/src/lib/api-helpers.ts
  frontend/src/lib/server-metrics.test.ts
  monitoring/README.md
  monitoring/prometheus-compose.yml
  sonar-project.properties
Due: frontend-lint, go-imports

fix frontend metrics build and coverage
  .github/workflows/test.yml
  frontend/src/lib/api-helpers.test.ts
  frontend/src/lib/api-helpers.ts
  frontend/src/lib/backend-proxy-metrics.ts
  frontend/src/lib/operator/route-wrapper.ts
  frontend/src/lib/server-metrics.test.ts
  frontend/src/lib/server-metrics.ts
Due: frontend-lint

fix tenant coverage ci env
  .github/workflows/test.yml
Due: none

docs: polish guide setup copy
  frontend/src/app/anleitung/funktionen/page.tsx
  frontend/src/components/anleitung/guide-components.tsx
  frontend/src/components/anleitung/guide-data.ts
Due: frontend-lint

feat: add Hilfe nav link and rename guide route to /help
  docs/anleitung/content-map.md
  frontend/public/help/screens/aktivitaeten-anlegen.png
  frontend/public/help/screens/aktivitaeten.png
  frontend/public/help/screens/aktuelle-aufsicht.png
  frontend/public/help/screens/anmeldungen.png
  frontend/public/help/screens/betreuungszeiten-pflegen.png
  frontend/public/help/screens/datenverwaltung.png
  frontend/public/help/screens/feedback.png
  frontend/public/help/screens/go-live-check.png
  frontend/public/help/screens/gruppen-anlegen.png
  frontend/public/help/screens/kind-manuell-anlegen.png
  frontend/public/help/screens/kinder-importieren.png
  frontend/public/help/screens/kindersuche.png
  frontend/public/help/screens/konto-erstellen.png
  frontend/public/help/screens/meine-gruppen.png
  frontend/public/help/screens/mitarbeitende-anlegen.png
  frontend/public/help/screens/mitarbeiter.png
  frontend/public/help/screens/nfc-geraete-pruefen.png
  frontend/public/help/screens/raeume-anlegen.png
  frontend/public/help/screens/raeume.png
  frontend/public/help/screens/stundenplan.png
  frontend/public/help/screens/vertretungen.png
  frontend/public/help/screens/zeiterfassung.png
  frontend/src/app/help/features/page.tsx
  frontend/src/app/help/nfc/page.tsx
  frontend/src/app/help/page.tsx
  frontend/src/app/help/setup/page.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-components.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/help/print-button.tsx
  frontend/src/lib/navigation-icons.ts
  frontend/src/proxy.ts
Due: frontend-lint

fix observability deployment hardening
  backend/api/base.go
  backend/dev.env.example
  backend/observability/prometheus.go
  backend/observability/prometheus_test.go
  docker-compose.example.yml
  frontend/src/instrumentation.ts
  frontend/src/lib/server-metrics.test.ts
  frontend/src/lib/server-metrics.ts
  frontend/src/lib/server-runtime-env.ts
  monitoring/README.md
  monitoring/prometheus-compose.yml
  monitoring/prometheus/prometheus.yml
Due: frontend-lint, go-imports

fix: address guardian invitation review gaps
  backend/api/students/arrival_schedule_handlers.go
  backend/api/students/arrival_schedule_handlers_test.go
  backend/api/students/pickup_schedule_bind_test.go
  backend/api/students/pickup_schedule_handlers.go
  backend/api/students/pickup_schedule_handlers_test.go
  backend/database/repositories/auth/account_tenant.go
  backend/database/repositories/auth/account_tenant_repository_test.go
  backend/models/auth/repository.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/auth/guardian_invitation_service_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/platform/test_mocks_test.go
  backend/services/users/guardian_service.go
  backend/services/users/guardian_service_test.go
Due: go-imports

fix: stabilize frontend default arrays
  frontend/src/components/students/arrival-schedule-manager.tsx
  frontend/src/components/students/care-schedule-manager.tsx
  frontend/src/components/students/pickup-schedule-manager.tsx
  frontend/src/components/students/planned-status-days-modal.tsx
  frontend/src/components/ui/date-picker.tsx
Due: frontend-lint

test fix metrics runtime env fixtures
  frontend/src/instrumentation.test.ts
  frontend/src/lib/server-metrics.test.ts
Due: frontend-lint

fix: align status days with day planning
  backend/api/students/api.go
  backend/api/students/day_planning.go
  backend/api/students/export_handlers.go
  backend/api/students/status_day_internal_test.go
  backend/api/students/status_days_response.go
Due: go-imports

fix: run prometheus token templating through shell
  monitoring/prometheus-compose.yml
Due: none

fix: wire capacity dashboard to prometheus
  monitoring/grafana/provisioning/dashboards/json/phoenix-capacity.json
  monitoring/grafana/provisioning/datasources/prometheus.yml
Due: none

fix: resolve planned status migration collision
  backend/database/migrations/001015079_student_status_days_planned_source.go
Due: go-imports

feat(help): clean PDF export for public Anleitung guides
  .github/workflows/build.yml
  frontend/.gitignore
  frontend/package.json
  frontend/playwright.guides.config.ts
  frontend/scripts/generate-guides.ts
  frontend/src/app/help/page.tsx
  frontend/src/components/help/guide-components.tsx
  frontend/src/components/help/guide-pdf-button.tsx
  frontend/src/components/help/print-button.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

fix: make staff import duplicates tenant-aware
  backend/api/import/import_test.go
  backend/api/import/staff.go
  backend/services/factory.go
  backend/services/import/staff_import_config.go
  backend/services/import/staff_import_config_test.go
Due: go-imports

test: update staff import account tenant stub
  backend/services/import/staff_import_config_test.go
Due: go-imports

docs(help): refresh guide screenshots with realistic demo data
  frontend/public/help/screens/aktivitaeten-anlegen.png
  frontend/public/help/screens/aktivitaeten.png
  frontend/public/help/screens/aktuelle-aufsicht.png
  frontend/public/help/screens/anmeldungen.png
  frontend/public/help/screens/betreuungszeiten-pflegen.png
  frontend/public/help/screens/datenverwaltung.png
  frontend/public/help/screens/feedback.png
  frontend/public/help/screens/go-live-check.png
  frontend/public/help/screens/gruppen-anlegen.png
  frontend/public/help/screens/kind-manuell-anlegen.png
  frontend/public/help/screens/kinder-importieren.png
  frontend/public/help/screens/kindersuche.png
  frontend/public/help/screens/konto-erstellen.png
  frontend/public/help/screens/meine-gruppen.png
  frontend/public/help/screens/mitarbeitende-anlegen.png
  frontend/public/help/screens/mitarbeiter.png
  frontend/public/help/screens/nfc-geraete-pruefen.png
  frontend/public/help/screens/raeume-anlegen.png
  frontend/public/help/screens/raeume.png
  frontend/public/help/screens/stundenplan.png
  frontend/public/help/screens/vertretungen.png
  frontend/public/help/screens/zeiterfassung.png
Due: none

fix(mfa-ui): portal admin-override modal to body so it clears the sticky header
  frontend/src/components/auth/mfa-admin-override-modal.tsx
Due: frontend-lint

docs(help): expand Anmeldungen guide with subpage context
  frontend/public/help/screens/anmeldeformulare.png
  frontend/public/help/screens/anmeldephasen.png
  frontend/public/help/screens/betreuungsangebote.png
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

docs(help): rebuild /help/nfc as the full NFC tablet manual
  frontend/public/help/screens/nfc-aktivitaet-leer.png
  frontend/public/help/screens/nfc-aktivitaet-waehlen.png
  frontend/public/help/screens/nfc-armband-erfolg.png
  frontend/public/help/screens/nfc-armband-erkannt-frei.png
  frontend/public/help/screens/nfc-armband-scan.png
  frontend/public/help/screens/nfc-armband-wechseln.png
  frontend/public/help/screens/nfc-armband-wird-erkannt.png
  frontend/public/help/screens/nfc-aufsicht-bestaetigen.png
  frontend/public/help/screens/nfc-auschecken.png
  frontend/public/help/screens/nfc-einstellungen-betrieb.png
  frontend/public/help/screens/nfc-einstellungen-geraete.png
  frontend/public/help/screens/nfc-hauptbildschirm.png
  frontend/public/help/screens/nfc-kind-eingecheckt.png
  frontend/public/help/screens/nfc-person-ausgewaehlt.png
  frontend/public/help/screens/nfc-person-auswaehlen.png
  frontend/public/help/screens/nfc-person-gefiltert.png
  frontend/public/help/screens/nfc-raum-waehlen.png
  frontend/public/help/screens/nfc-tablet-menue.png
  frontend/public/help/screens/nfc-tablet-pin.png
  frontend/public/help/screens/nfc-tablet-willkommen.png
  frontend/public/help/screens/nfc-team-anpassen.png
  frontend/public/help/screens/nfc-team-gespeichert.png
  frontend/public/help/screens/nfc-team-leer.png
  frontend/public/help/screens/nfc-wer-ist-dabei-leer.png
  frontend/public/help/screens/nfc-wer-ist-dabei.png
  frontend/src/app/help/nfc/page.tsx
  frontend/src/components/help/guide-components.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

test(mfa): add branch + repository coverage; fix mfa_override list ordering
  backend/database/repositories/auth/mfa_override.go
  backend/database/repositories/auth/mfa_override_test.go
  backend/services/auth/mfa_service_branches_test.go
Due: go-imports

docs(help): fix mismatched UI terms and trim NFC manual
  frontend/src/app/help/nfc/page.tsx
  frontend/src/components/help/guide-components.tsx
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix: stabilize care schedule tests
  frontend/src/components/students/care-schedule-manager.test.tsx
Due: frontend-lint

feat: add Bissendorf student search filters (#1492)
  backend/api/students/admin_filters.go
  backend/api/students/admin_filters_test.go
  backend/api/students/api.go
  backend/api/students/export_handlers.go
  backend/api/students/export_handlers_test.go
  backend/api/students/list_helpers.go
  frontend/src/app/[tenant]/(protected)/students/search/page.room-filter.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.school-checkin.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/search/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/student-export-api.ts
Due: frontend-lint, go-imports

test: cover #1492 admin filter query params
  frontend/src/lib/api.test.ts
Due: frontend-lint

fix: address import review feedback
  backend/models/import/types.go
  backend/services/import/import_service.go
  backend/services/import/import_service_test.go
  backend/services/import/staff_import_config.go
  backend/services/import/staff_import_config_test.go
  backend/services/import/student_import_config.go
  backend/services/import/student_import_config_test.go
  frontend/src/components/students/student-stammdaten-tab.test.tsx
  frontend/src/components/students/student-stammdaten-tab.tsx
  frontend/src/lib/student-api.test.ts
  frontend/src/lib/student-api.ts
Due: frontend-lint, go-imports

feat: per-phase care-offering selection mode
  backend/api/enrollment/care_offering_handlers.go
  backend/api/enrollment/phase_handlers.go
  backend/api/enrollment/response_shapers_test.go
  backend/api/enrollment/submission_handlers.go
  backend/database/migrations/001015095_form_schemas_core_requirements.go
  backend/database/migrations/001015096_care_offerings_is_required.go
  backend/database/migrations/001015097_phase_care_offering_selection_mode.go
  backend/database/repositories/enrollment/form_schema_repository.go
  backend/database/repositories/enrollment/form_schema_repository_test.go
  backend/database/repositories/enrollment/phase_repository.go
  backend/models/config/keys.go
  backend/models/enrollment/phase.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/enrollment.go
  backend/services/enrollment/care_offering_service_test.go
  backend/services/enrollment/form_schema_service.go
  backend/services/enrollment/form_schema_service_extra_test.go
  backend/services/enrollment/form_schema_service_test.go
  backend/services/enrollment/request_helpers_test.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
  backend/services/enrollment/rollover_service.go
  frontend/src/components/enrollment/admin-enrollments-list.test.tsx
  frontend/src/components/enrollment/enrollment-admin-editors.test.tsx
  frontend/src/components/enrollment/enrollment-form.test.tsx
  frontend/src/components/enrollment/enrollment-form.tsx
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/components/enrollment/rollover-form.test.tsx
  frontend/src/lib/enrollment-form-schema-api.ts
  frontend/src/lib/enrollment-phase-api.test.ts
  frontend/src/lib/enrollment-phase-api.ts
  frontend/src/lib/enrollment-submission-api.test.ts
  frontend/src/lib/enrollment-submission-api.ts
Due: frontend-lint, go-imports

fix materialization duplicate transaction abort
  backend/database/repositories/schedule/activity_instance_repo.go
  backend/database/repositories/schedule/activity_instance_repo_test.go
  backend/models/schedule/activity_instance.go
  backend/services/schedule/attendance_sync_service_unit_test.go
  backend/services/schedule/materialization_service.go
  backend/services/schedule/materialization_service_test.go
  backend/services/scheduler/setters_test.go
Due: go-imports

fix: make Go coverage collection deterministic
  .github/scripts/collect-go-coverage.sh
  .github/workflows/test.yml
  backend/database/repositories/platform/email_outbox_repository.go
Due: go-imports

feat: add guardians during student creation (#1500)
  backend/api/base.go
  backend/api/students/api.go
  backend/api/students/create_student_guardians_test.go
  backend/api/students/test_helpers_test.go
  backend/api/students/types.go
  backend/services/users/guardian_interface.go
  backend/services/users/guardian_service.go
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/app/api/students/route.ts
  frontend/src/components/students/student-create-modal.test.tsx
  frontend/src/components/students/student-create-modal.tsx
  frontend/src/lib/guardian-helpers.ts
  frontend/src/lib/student-request-helpers.ts
Due: frontend-lint, go-imports

test: cover guardian-create flow (≥85% new-code coverage)
  backend/api/students/create_student_guardians_test.go
  backend/services/users/guardian_validation_message_test.go
  frontend/src/app/[tenant]/(protected)/database/students/page.test.tsx
  frontend/src/components/students/student-create-modal.test.tsx
  frontend/src/lib/student-request-helpers.test.ts
Due: frontend-lint, go-imports

test: update staff import account stub
  backend/services/import/staff_import_config_test.go
Due: go-imports

feat(students): add tabbed navigation to student detail page (#1501)
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback_history/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.tsx
Due: frontend-lint

fix: portal mobile filter panel so it clears the bottom nav
  frontend/src/components/ui/page-header/MobileFilterPanel.test.tsx
  frontend/src/components/ui/page-header/MobileFilterPanel.tsx
Due: frontend-lint

fix: validate schedule slot range before normalization
  backend/services/schedule/schedule_service.go
  backend/services/schedule/schedule_service_test.go
Due: go-imports

fix: validate guardians before student write in atomic create (#1500)
  backend/api/students/api.go
  backend/api/students/create_student_guardians_middleware_test.go
  backend/models/users/person_guardian.go
  backend/models/users/student_guardian.go
  backend/services/users/guardian_interface.go
  backend/services/users/guardian_service.go
  frontend/src/lib/database/service-factory.ts
  frontend/src/lib/student-form-validation.test.ts
  frontend/src/lib/student-form-validation.ts
Due: frontend-lint, go-imports

fix: make timetable setting opt-out
  backend/database/migrations/001015098_make_timetable_enabled_opt_out.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/timetable.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
