Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: preserve retired refresh family expiry
  backend/database/migrations/001015362_auth_token_family_expiry_cap.go
  backend/database/repositories/auth/token.go
  backend/models/auth/token.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_switch_tenant_retire_test.go
Due: go-imports

fix: preserve unresolved status-day rows
  backend/database/repositories/person_projection_adapters.go
  backend/database/repositories/person_projection_platform.go
  backend/database/repositories/platform/operator_summaries_repository.go
  backend/database/repositories/platform/operator_summaries_repository_test.go
  backend/database/repositories/users/staff.go
  backend/modules/peopledirectory/compose/new.go
  backend/modules/peopledirectory/compose/new_test.go
  backend/modules/peopledirectory/internal/adapters/postgres/store.go
  backend/modules/peopledirectory/internal/application/service.go
  backend/modules/peopledirectory/internal/ports/ports.go
  backend/modules/peopledirectory/peopledirectory.go
  backend/modules/peopledirectory/peopledirectory_test.go
  backend/services/active/student_status_day_overview.go
  backend/services/active/student_status_day_overview_test.go
Due: go-imports

test: isolate expired invitation role
  backend/services/auth/auth_core_test.go
Due: go-imports

refactor: match kitchen toolbar to statistics
  frontend/src/components/meal-plan/meal-participant-list.test.tsx
  frontend/src/components/meal-plan/meal-participant-list.tsx
  frontend/src/components/ui/date-picker.tsx
Due: frontend-lint

fix: log transaction rollbacks as errors only behind 5xx
  backend/api/base.go
  backend/api/common/status_recorder.go
  backend/api/common/status_recorder_test.go
  backend/api/common/tenant_middleware.go
  backend/api/common/tenant_middleware_test.go
  backend/api/common/tenant_runtime_observer_route_test.go
  backend/api/common/tenant_runtime_observer_test.go
  backend/api/runtime_metrics.go
  backend/api/runtime_metrics_test.go
  backend/api/tenant_runtime_log_test.go
  backend/api/tenant_runtime_metric_test.go
  backend/architecture/composition.json
  backend/observability/tracer.go
  monitoring/README.md
  monitoring/grafana/provisioning/alerting/server-errors.yml
  monitoring/runbooks/server-errors.md
Due: go-imports

fix: refresh composition inventory line numbers after merge
  backend/architecture/composition.json
Due: none

fix: preserve runtime observer response state
  backend/api/common/status_recorder.go
  backend/api/common/status_recorder_capability_test.go
  backend/api/common/status_recorder_flush_test.go
  backend/api/common/status_recorder_test.go
  backend/api/common/tenant_middleware.go
  backend/api/common/tenant_runtime_observer_order_test.go
  backend/api/runtime_metrics.go
  backend/architecture/composition.json
  monitoring/grafana/provisioning/alerting/server-errors.yml
Due: go-imports

fix(calendar): show a readable message when a response arrives unreadable
  frontend/src/lib/personal-calendar-api.test.ts
  frontend/src/lib/personal-calendar-api.ts
Due: frontend-lint

fix: keep kitchen date picker nearby
  frontend/src/components/meal-plan/meal-participant-list.test.tsx
  frontend/src/components/meal-plan/meal-participant-list.tsx
  frontend/src/components/ui/date-picker.test.tsx
  frontend/src/components/ui/date-picker.tsx
Due: frontend-lint

test: isolate rollover rollback integration test
  backend/services/enrollment/rollover_autoapprove_integration_test.go
Due: go-imports

refactor(school-membership): add the School Membership module and policy seam
  backend/architecture/policy.json
  backend/modules/schoolmembership/compose/new.go
  backend/modules/schoolmembership/http/doc.go
  backend/modules/schoolmembership/internal/adapters/postgres/calendar/date.go
  backend/modules/schoolmembership/internal/adapters/postgres/store.go
  backend/modules/schoolmembership/internal/application/service.go
  backend/modules/schoolmembership/internal/domain/membership.go
  backend/modules/schoolmembership/internal/ports/ports.go
  backend/modules/schoolmembership/schoolmembership.go
  backend/observability/prometheus.go
  backend/observability/prometheus_test.go
Due: go-imports

fix: retain final status after informational responses
  backend/api/common/status_recorder.go
  backend/api/common/status_recorder_test.go
Due: go-imports

fix(frontend): der Inhalt füllt den Bildschirm, die letzte Fläche wächst bis zur Unterkante
  .claude/rules/frontend-ui-kit.md
  frontend/src/app/[tenant]/(protected)/admin/enrollments/page.tsx
  frontend/src/app/[tenant]/(protected)/care-offerings/page.tsx
  frontend/src/app/[tenant]/(protected)/database/grade-transitions/page.tsx
  frontend/src/app/[tenant]/(protected)/enrollment-form/page.tsx
  frontend/src/components/dashboard/app-shell.tsx
  frontend/src/components/database/grade-transitions/grade-transitions-manager.tsx
  frontend/src/components/enrollment/care-offerings-editor.tsx
  frontend/src/components/enrollment/enrollment-form-editor.tsx
  frontend/src/components/enrollment/phases-editor.tsx
  frontend/src/components/ui/BAUARTEN-SPEC.md
  frontend/src/components/ui/TENANT-PAGE-SPEC.md
  frontend/src/components/ui/data-table.tsx
  frontend/src/components/ui/portal-shell.test.tsx
  frontend/src/components/ui/portal-shell.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
  frontend/src/styles/globals.css
Due: frontend-lint

fix: preserve switching protocols status
  backend/api/common/status_recorder.go
  backend/api/common/status_recorder_test.go
Due: go-imports

fix(frontend): ein Kartenradius auf allen Breakpoints
  frontend/src/components/ui/TENANT-PAGE-SPEC.md
  frontend/src/components/ui/section-card.tsx
  frontend/src/components/ui/stat-card.tsx
  frontend/src/components/ui/tile-card.tsx
Due: frontend-lint

fix(calendar): keep the Betreuungsplan tab open after closing an appointment
  frontend/src/app/[tenant]/(protected)/calendar/page.test.tsx
  frontend/src/app/[tenant]/(protected)/calendar/page.tsx
  frontend/src/components/timetable/betreuungsplan-view.test.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
Due: frontend-lint

fix(frontend): restore mobile shell actions
  frontend/src/app/[tenant]/(protected)/substitutions/page.test.tsx
  frontend/src/app/[tenant]/(protected)/substitutions/page.tsx
  frontend/src/components/dashboard/app-shell.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/ui/forbidden-page.test.tsx
  frontend/src/components/ui/forbidden-page.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix(frontend): keep tenant mobile actions scoped
  frontend/src/app/[tenant]/(protected)/activities/page.test.tsx
  frontend/src/app/[tenant]/(protected)/activities/page.tsx
  frontend/src/components/ui/mobile-back-button.test.tsx
  frontend/src/components/ui/mobile-back-button.tsx
  frontend/src/components/ui/segmented-control.test.tsx
  frontend/src/components/ui/segmented-control.tsx
Due: frontend-lint

test(frontend): isolate mobile page chrome
  frontend/src/components/enrollment/admin-enrollment-change-requests.test.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.test.tsx
  frontend/src/components/enrollment/rollover-review-queue.test.tsx
Due: frontend-lint

chore: drop unused school membership test helper
  backend/database/repositories/staff_projection_test_helpers.go
Due: go-imports

fix(frontend): keep tenant page states contained
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/ended-care/page.tsx
  frontend/src/app/[tenant]/(protected)/emergency/page.test.tsx
  frontend/src/app/[tenant]/(protected)/emergency/page.tsx
  frontend/src/app/[tenant]/(protected)/settings/page.tsx
  frontend/src/components/auth/role-guard.test.tsx
  frontend/src/components/auth/role-guard.tsx
  frontend/src/components/ui/tenant-page-scaffold.test.ts
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix: align factory test with school membership
  backend/architecture/composition.json
  backend/services/factory_student_consent_test.go
Due: go-imports

fix(frontend): preserve tenant page navigation
  frontend/src/app/[tenant]/(protected)/admin/enrollments/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/admin/enrollments/change-requests/[id]/page.tsx
  frontend/src/app/[tenant]/(protected)/admin/enrollments/phases/[phaseId]/page.tsx
  frontend/src/app/[tenant]/(protected)/enrollment-phases/[id]/review/page.tsx
  frontend/src/app/[tenant]/(protected)/enrollment-phases/[id]/rollover/page.tsx
  frontend/src/app/[tenant]/(protected)/parent-announcements/page.tsx
  frontend/src/app/[tenant]/(protected)/settings/page.test.tsx
  frontend/src/app/[tenant]/(protected)/settings/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/enrollment/admin-enrollment-change-requests.tsx
  frontend/src/components/enrollment/admin-enrollment-detail.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/components/enrollment/rollover-form.tsx
  frontend/src/components/enrollment/rollover-review-queue.tsx
Due: frontend-lint

fix(frontend): preserve tenant-aware links
  frontend/src/components/enrollment/admin-enrollment-phase-detail.test.tsx
  frontend/src/components/enrollment/admin-enrollment-phase-detail.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix: resolve caregivers in admin contexts
  backend/architecture/composition.json
  backend/database/repositories/staff_membership_adapters_test.go
  backend/database/repositories/staff_membership_teacher.go
Due: go-imports

fix(frontend): retain tenant navigation targets
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/rooms/[id]/page.tsx
  frontend/src/components/ui/tenant-page.test.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

feat: Tagesausnahme der Ankunftszeit für eine ganze Klasse im Backend
  backend/api/students/api.go
  backend/api/students/class_arrival_exception_handlers.go
  backend/api/students/class_arrival_exception_handlers_test.go
  backend/api/timetable/timetable_data_test_helpers_test.go
  backend/database/migrations/001015364_class_arrival_exceptions.go
  backend/database/repositories/education/class_arrival_exception.go
  backend/database/repositories/factory.go
  backend/models/config/keys.go
  backend/models/education/class_arrival_exception.go
  backend/models/education/repository.go
  backend/models/schedule/arrival_schedule.go
  backend/seed/api/seeder.go
  backend/seed/api/stammdaten.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/operations.go
  backend/services/enrollment/offering_arrival_projection_test.go
  backend/services/factory.go
  backend/services/schedule/arrival_baseline_service.go
  backend/services/schedule/arrival_baseline_service_test.go
  backend/services/schedule/arrival_class_exception_internal_test.go
  backend/services/schedule/arrival_class_exception_service.go
  backend/services/schedule/arrival_class_exception_test.go
  backend/services/schedule/arrival_service.go
  backend/services/schedule/timetable_operations_service.go
  frontend/src/app/api/students/class-arrival-exceptions/[schoolClass]/[date]/route.test.ts
  frontend/src/app/api/students/class-arrival-exceptions/[schoolClass]/[date]/route.ts
  frontend/src/app/api/students/class-arrival-exceptions/[schoolClass]/route.test.ts
  frontend/src/app/api/students/class-arrival-exceptions/[schoolClass]/route.ts
  frontend/src/lib/student-arrival-api.ts
Due: frontend-lint, go-imports

fix: preserve staff membership adapter behavior
  backend/api/staff_composition_test.go
  backend/architecture/composition.json
  backend/database/repositories/staff_membership_adapters.go
  backend/database/repositories/staff_membership_adapters_test.go
  backend/services/staff_membership_composition.go
Due: go-imports

feat: Tagesausnahme für eine Klasse im Klassen-Dialog und in der Aufsicht
  frontend/src/components/active-supervisions/timetable-roster-class-exception.test.tsx
  frontend/src/components/active-supervisions/timetable-roster.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/class-arrival-exception-panel.test.tsx
  frontend/src/components/students/class-arrival-exception-panel.tsx
  frontend/src/components/students/class-bulk-arrival-modal-day-view.test.tsx
  frontend/src/components/students/class-bulk-arrival-modal.tsx
Due: frontend-lint

fix: surface staff directory lookup failures
  backend/api/staff_composition.go
  backend/architecture/composition.json
  backend/database/repositories/staff_membership_adapters_test.go
  backend/modules/schoolmembership/http/api_test.go
  backend/modules/schoolmembership/http/handlers_read.go
  backend/modules/schoolmembership/http/handlers_write.go
  backend/modules/schoolmembership/http/helpers.go
  backend/modules/schoolmembership/http/runtime.go
Due: go-imports

fix: Klassenlabel der Tagesausnahme ohne doppeltes Klasse
  backend/models/education/class_arrival_exception.go
  backend/models/education/class_arrival_exception_test.go
Due: go-imports

fix(students): scope directory mutations and locks
  backend/database/repositories/active/student_directory.go
  backend/database/repositories/active/student_status_day.go
  backend/database/repositories/student_projection.go
  backend/internal/careplanning/lock.go
  backend/modules/peopledirectory/compose/students.go
  backend/modules/peopledirectory/internal/adapters/postgres/student_store.go
  backend/modules/peopledirectory/internal/application/student.go
  backend/modules/peopledirectory/internal/ports/student.go
  backend/modules/peopledirectory/student.go
  backend/services/absence/lock_test_helpers.go
  backend/services/factory.go
  backend/services/schedule/care_exception_lock.go
Due: go-imports

fix: keep offboarded staff out of FindByIDs
  backend/database/repositories/staff_membership_adapters.go
  backend/database/repositories/staff_membership_adapters_test.go
Due: go-imports

fix(frontend): retain tenant navigation targets
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/class-list/page.tsx
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/app/[tenant]/(protected)/messages/[threadId]/page.tsx
  frontend/src/app/[tenant]/(protected)/team-chat/[threadID]/page.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.tsx
  frontend/src/components/staff/stammdaten-tab.tsx
  frontend/src/components/students/student-create-modal.tsx
Due: frontend-lint

fix(careplanning): preserve test lock wiring
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/internal/careplanning/lock.go
  backend/services/scheduler/scheduler_status_flag_test.go
Due: go-imports

test(frontend): cover tenant-aware navigation
  frontend/src/app/[tenant]/(protected)/database/personal/page.test.tsx
  frontend/src/components/dashboard/mobile-bottom-nav.test.tsx
  frontend/src/components/staff/stammdaten-tab.test.tsx
  frontend/src/components/students/student-create-modal.test.tsx
Due: frontend-lint

refactor: Klassenausnahme in die Timetable-Pakete und in den Seeder
  backend/api/students/class_arrival_exception_handlers.go
  backend/api/timetable/timetable_data_test_helpers_test.go
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/database/repositories/factory.go
  backend/database/repositories/schedule/class_arrival_exception_repo.go
  backend/models/education/repository.go
  backend/models/schedule/class_arrival_exception.go
  backend/models/schedule/class_arrival_exception_test.go
  backend/models/schedule/repository.go
  backend/seed/api/class_arrival_exception_seed_test.go
  backend/seed/api/stammdaten.go
  backend/services/schedule/arrival_baseline_service.go
  backend/services/schedule/arrival_class_exception_internal_test.go
  backend/services/schedule/arrival_class_exception_service.go
  backend/services/schedule/arrival_class_exception_test.go
  backend/services/schedule/arrival_service.go
  frontend/src/components/students/class-arrival-exception-panel.tsx
Due: frontend-lint, go-imports

docs: Screenshots für PR #2966
  screenshots-pr2966/01-klassen-dialog-jede-woche.png
  screenshots-pr2966/02-aufsicht-vorher-kommt-spaeter.png
  screenshots-pr2966/03-klassen-dialog-tag-leer.png
  screenshots-pr2966/04-klassen-dialog-tag-ausgefuellt.png
  screenshots-pr2966/05-klassen-dialog-tag-gespeichert.png
  screenshots-pr2966/06-aufsicht-nachher-erwartet.png
  screenshots-pr2966/07-einstellungen-setting.png
  screenshots-pr2966/08-aufsicht-sammelbestaetigung.png
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
