Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: validate staff notice acknowledgements
  backend/services/staffnotice/service.go
  backend/services/staffnotice/service_internal_test.go
  frontend/src/lib/staff-notices-api.test.ts
  frontend/src/lib/staff-notices-api.ts
Due: frontend-lint, go-imports

test: stabilize staff notice acknowledgement checks
  backend/services/staffnotice/service.go
  backend/services/staffnotice/service_internal_test.go
Due: go-imports

fix(frontend): auf dem Telefon füllen die Aktionen ihre Zeile
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/components/database/database-create-action.tsx
  frontend/src/components/timetable/betreuungsplan-view.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/page-header/OverflowMenu.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix: scope staff notice visibility
  backend/api/staffnotice/api.go
  backend/api/staffnotice/api_internal_test.go
  backend/services/staffnotice/service.go
  backend/services/staffnotice/service_internal_test.go
  frontend/src/components/dashboard/sidebar.test.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/lib/staff-notices-api.ts
Due: frontend-lint, go-imports

fix: guard staff notice badge access
  frontend/src/components/staff-notices/staff-notice-modal.tsx
  frontend/src/lib/hooks/use-staff-notices-pending.test.ts
  frontend/src/lib/hooks/use-staff-notices-pending.ts
Due: frontend-lint

refactor: reuse tenant RLS provisioning
  backend/database/migrations/001015352_staff_notices.go
Due: go-imports

fix: clarify notice acknowledgement action
  frontend/src/components/staff-notices/today-notice-list.tsx
Due: frontend-lint

fix(frontend): auf dem Telefon ist der Seitenkopf ein weißes Band
  frontend/src/app/[tenant]/(protected)/emergency/page.test.tsx
  frontend/src/app/[tenant]/(protected)/emergency/page.tsx
  frontend/src/components/ui/TENANT-PAGE-SPEC.md
  frontend/src/components/ui/tenant-page-scaffold.test.ts
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix(frontend): der mobile Kopf ist wieder flach, kein weißes Band
  frontend/src/components/ui/TENANT-PAGE-SPEC.md
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix: complete calendar clock injection
  backend/database/repositories/active/work_session.go
  backend/services/active/attendance_service.go
  backend/services/enrollment/care_offering_service.go
  backend/services/enrollment/decision_service.go
  backend/services/enrollment/offering_adjustment_service.go
  backend/services/factory.go
  backend/services/schedule/staff_shift_series_service.go
Due: go-imports

fix: move staff notices into classified architecture modules
  backend/api/base.go
  backend/api/staff/staff_notice_handlers.go
  backend/api/staff/staff_notice_handlers_internal_test.go
  backend/api/testdata/middleware_table.golden
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/database/migrations/001015352_staff_notices.go
  backend/database/repositories/factory.go
  backend/database/repositories/schedule/staff_notice.go
  backend/database/repositories/schedule/staff_notice_repository_test.go
  backend/services/factory.go
  backend/services/schedule/staff_notice_service.go
  backend/services/schedule/staff_notice_service_internal_test.go
  backend/test/fixtures.go
Due: go-imports

fix: avoid duplicate break end column
  backend/database/repositories/active/work_session_break.go
Due: go-imports

fix: persist ended breaks
  backend/database/repositories/active/work_session_break.go
Due: go-imports

test: regenerate middleware golden with pinned Go
  backend/api/testdata/middleware_table.golden
Due: none

fix: require Mailpit URL for MFA seeding
  .env.example
  backend/api/command_mailpit.go
  backend/api/command_mailpit_test.go
  backend/dev.env.example
  docker-compose.example.yml
  environments/production.sops.env
  environments/staging.sops.env
  lefthook.yml
Due: go-imports

fix: preserve architecture ratchet after merge
  backend/database/migrations/001015314_template_source_school_classes.go
  backend/database/migrations/001015314_template_source_school_classes_test.go
  backend/simulate/feed_tombstone_test.go
Due: go-imports

fix: refresh supervision time state
  frontend/src/components/active-supervisions/spontaneous-window.test.ts
  frontend/src/components/active-supervisions/spontaneous-window.ts
  frontend/src/components/active-supervisions/use-supervision-dashboard.ts
Due: frontend-lint

test: pin staff-notices collection route without trailing slash
  backend/api/staff_notice_mount_test.go
Due: go-imports

fix(frontend): Zeitraum und Pfeile sind ein Bedienelement, Kopf auch mobil eine Karte
  frontend/src/app/[tenant]/(protected)/statistics/page.tsx
  frontend/src/components/ui/date-range-picker.test.tsx
  frontend/src/components/ui/date-range-picker.tsx
  frontend/src/components/ui/planning-context-bar.test.tsx
  frontend/src/components/ui/planning-context-bar.tsx
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix: restrict audit retention deletes
  backend/database/migrations/001015225_audit_append_only_grants_test.go
  backend/database/migrations/001015352_audit_retention_capabilities.go
  backend/database/migrations/001015352_audit_retention_capabilities_test.go
  backend/database/repositories/audit/deviation_event.go
  backend/database/repositories/audit/student_field_edit.go
  backend/database/repositories/audit/unregistered_tag_scan.go
  backend/models/audit/student_field_edit.go
  backend/test/helpers.go
Due: go-imports

refactor: standardize oversized surface radii (#2854)
  .claude/rules/frontend-ui-kit.md
  frontend/scripts/oxlint-plugin-ui-kit.mjs
  frontend/src/app/[tenant]/(protected)/dashboard/page-skeleton.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page-skeleton.tsx
  frontend/src/app/[tenant]/(protected)/rooms/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/change-history/page.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/feedback-history/page-skeleton.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page-skeleton.tsx
  frontend/src/app/[tenant]/(public)/enroll/[phaseId]/page.tsx
  frontend/src/app/[tenant]/(public)/enroll/page.tsx
  frontend/src/app/[tenant]/(public)/enroll/preview/page.tsx
  frontend/src/app/[tenant]/(public)/enroll/submitted/page.tsx
  frontend/src/app/help/nfc/erste-schritte/page.tsx
  frontend/src/app/operator/announcements/page.tsx
  frontend/src/app/operator/provisioning/provisioning-shared.test.tsx
  frontend/src/app/operator/provisioning/provisioning-shared.tsx
  frontend/src/app/operator/provisioning/soft-delete-shared.tsx
  frontend/src/components/enrollment/enrollment-status-view.tsx
  frontend/src/components/rooms/room-detail-content.tsx
  frontend/src/components/rooms/students-in-room-section.tsx
  frontend/src/components/rooms/transit-students-section.tsx
  frontend/src/components/students/student-checkout-section.tsx
Due: frontend-lint

fix: scope staff notice caches per account
  frontend/src/app/[tenant]/(protected)/tagesinformationen/page.tsx
Due: frontend-lint

fix(frontend): mobil füllt jede Kopfzeile ihre Breite, auch mit einer Aktion
  frontend/src/components/ui/tenant-page.tsx
Due: frontend-lint

fix: fail closed for audit retention settings
  backend/database/migrations/001015352_audit_retention_capabilities.go
  backend/database/migrations/001015352_audit_retention_capabilities_test.go
Due: go-imports

docs: add screenshots for PR #2867
  screenshots-pr2867/pair-01-nfc-guide-desktop.png
  screenshots-pr2867/pair-02-enrollment-picker-desktop.png
  screenshots-pr2867/pair-03-enrollment-form-mobile.png
  screenshots-pr2867/pair-04-dashboard-desktop.png
  screenshots-pr2867/pair-05-dashboard-mobile.png
  screenshots-pr2867/pair-06-rooms-desktop.png
  screenshots-pr2867/pair-07-room-detail-desktop.png
  screenshots-pr2867/pair-08-student-detail-mobile.png
  screenshots-pr2867/pair-09-change-history-desktop.png
  screenshots-pr2867/pair-10-room-history-desktop.png
  screenshots-pr2867/pair-11-announcements-desktop.png
Due: none

feat: route schedule substitutions through shared module
  backend/api/substitutions/api.go
  backend/api/substitutions/api_internal_test.go
  backend/architecture/composition.json
  backend/architecture/policy.json
  backend/services/education/substitution_contract.go
  backend/services/education/substitution_module.go
  backend/services/factory.go
  backend/services/schedule/substitution_adapter.go
  backend/services/schedule/substitution_adapter_test.go
  backend/services/substitution/contract.go
  backend/test/e2e/timetable/substitution_module_interface_test.go
  frontend/src/components/timetable/bulk-substitution-modal.test.tsx
  frontend/src/components/timetable/bulk-substitution-modal.tsx
  frontend/src/components/timetable/vertretung-view.test.tsx
  frontend/src/components/timetable/vertretung-view.tsx
  frontend/src/lib/substitution-api.test.ts
  frontend/src/lib/substitution-api.ts
  frontend/src/lib/substitution-helpers.ts
  frontend/src/lib/timetable-api.ts
  frontend/src/lib/timetable-helpers.ts
Due: frontend-lint, go-imports

fix: preserve audit retention defaults
  backend/database/migrations/001015352_audit_retention_capabilities.go
  backend/database/migrations/001015352_audit_retention_capabilities_test.go
Due: go-imports

style: format substitution warning log
  backend/services/schedule/substitution_adapter.go
Due: go-imports

fix(frontend): Zeitraum-Chip der Abwesenheiten füllt seine mobile Zeile
  frontend/src/app/[tenant]/(protected)/absences/page.tsx
Due: frontend-lint

fix: restore database handler logging
  backend/api/base.go
  backend/api/database/api.go
  backend/api/database/database_test.go
  backend/dev.env.example
Due: go-imports

test: honor unregistered scan retention cutoff
  backend/database/repositories/audit/unregistered_tag_scan_repository_test.go
Due: go-imports

refactor: eliminate custom query options lists
  backend/api/activities/activity_handlers.go
  backend/api/groups/api.go
  backend/api/groups/group_access_sse_test.go
  backend/api/students/status_day_overview_test.go
  backend/architecture/legacy.jsonl
  backend/database/repositories/active/active_only_filter.go
  backend/database/repositories/active/combined_group.go
  backend/database/repositories/active/group_supervisor.go
  backend/database/repositories/active/list_behavior_test.go
  backend/database/repositories/active/staff_vacation_quota.go
  backend/database/repositories/active/staff_vacation_quota_list_test.go
  backend/database/repositories/activities/group.go
  backend/database/repositories/activities/list_behavior_test.go
  backend/database/repositories/education/grade_transition.go
  backend/database/repositories/education/group.go
  backend/database/repositories/education/list_behavior_test.go
  backend/database/repositories/schedule/dateframe.go
  backend/database/repositories/schedule/list_behavior_test.go
  backend/database/repositories/schedule/recurrence_rule.go
  backend/database/repositories/users/guardian_profile.go
  backend/database/repositories/users/list_behavior_test.go
  backend/database/repositories/users/student.go
  backend/models/activities/group.go
  backend/models/activities/repository.go
  backend/models/education/group.go
  backend/models/education/repository.go
  backend/services/activities/activity_service.go
  backend/services/activities/enrollment_operations.go
  backend/services/activities/interface.go
  backend/services/education/education_service.go
  backend/services/education/education_service_test.go
  backend/services/education/interface.go
  backend/services/facilities/schulhof_service.go
  backend/services/facilities/schulhof_service_conflict_test.go
  backend/services/facilities/wc_service.go
  backend/services/import/relationship_resolver_test.go
  backend/services/iot/checkin/active_group_selection_internal_test.go
  backend/services/iot/checkin/checkin_system_space.go
  backend/services/iot/checkin/schulhof_validation_test.go
  backend/test/data_layer_ratchet_test.go
Due: go-imports

docs: add screenshots for PR #2868
  screenshots-pr2868/bulk-12p.png
  screenshots-pr2868/bulk-16pm.png
  screenshots-pr2868/bulk-air.png
  screenshots-pr2868/bulk-dt.png
  screenshots-pr2868/bulk-pro.png
  screenshots-pr2868/bulk-se.png
  screenshots-pr2868/editor-dt.png
  screenshots-pr2868/overview-12p.png
  screenshots-pr2868/overview-16pm.png
  screenshots-pr2868/overview-air.png
  screenshots-pr2868/overview-dt.png
  screenshots-pr2868/overview-pro.png
  screenshots-pr2868/overview-se.png
Due: none

test: avoid concurrent auth role updates
  backend/api/route_table_golden_test.go
Due: go-imports

feat: add supervisors to active care sessions
  backend/api/substitutions/api.go
  backend/api/substitutions/api_internal_test.go
  backend/architecture/composition.json
  backend/database/migrations/001015352_additional_supervision_audit.go
  backend/database/repositories/active/group_supervisor.go
  backend/database/repositories/active/group_supervisor_repository_test.go
  backend/models/audit/substitution_change.go
  backend/realtime/active_supervision.go
  backend/services/active/active_service.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/session_service.go
  backend/services/active/session_service_internal_test.go
  backend/services/active/staff_time_export_test.go
  backend/services/active/work_session_service.go
  backend/services/active/work_session_service_test.go
  backend/services/active/work_time_month_snapshot_test.go
  backend/services/education/additional_supervision.go
  backend/services/education/substitution_module.go
  backend/services/education/substitution_module_test.go
  backend/services/factory.go
  backend/services/supervisiondashboard/service.go
  backend/services/supervisiondashboard/service_mock_test.go
  backend/test/calendar_fixture_ratchet_test.go
  backend/test/group_supervisor_creator.go
  backend/test/signaling_group_repository.go
  frontend/public/help/screens/aktuelle-aufsicht.webp
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
  frontend/src/app/api/active-supervision-dashboard/route.test.ts
  frontend/src/app/api/active-supervision-dashboard/route.ts
  frontend/src/app/api/substitutions/route.ts
  frontend/src/components/active-supervisions/add-supervisor-modal.test.tsx
  frontend/src/components/active-supervisions/add-supervisor-modal.tsx
  frontend/src/components/active-supervisions/supervision-header.tsx
  frontend/src/components/active-supervisions/use-supervision-dashboard.ts
  frontend/src/components/active-supervisions/view-model.test.ts
  frontend/src/components/active-supervisions/view-model.ts
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/substitution-api.test.ts
  frontend/src/lib/substitution-api.ts
  frontend/src/lib/substitution-helpers.ts
Due: frontend-lint, go-imports

fix: restore audit deletes on rollback
  backend/database/migrations/001015352_audit_retention_capabilities.go
Due: go-imports

test: update composition inventory
  backend/architecture/composition.json
Due: none

fix: keep supervision actions compact on tablets
  frontend/src/app/[tenant]/(protected)/active-supervisions/page.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
