Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

fix: use production favicon for parents app
  frontend/src/lib/favicon-variants.test.ts
  frontend/src/lib/favicon-variants.ts
Due: frontend-lint

fix(timetable): edit creates duplicate series; warn when phase starts later
  backend/api/timetable/offering_sources.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/schedule/template_offering_source_integration_test.go
  frontend/src/components/timetable/event-form/step-personal-kinder.test.tsx
  frontend/src/components/timetable/event-form/step-personal-kinder.tsx
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/components/timetable/timetable-event-modal.tsx
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix: preserve appointments when creating series
  backend/api/base.go
  backend/api/testdata/route_table.golden
  backend/api/timetable/api.go
  backend/api/timetable/instances_convert.go
  backend/api/timetable/instances_convert_test.go
  backend/api/timetable/instances_create.go
  backend/api/timetable/instances_list.go
  backend/api/timetable/instances_list_test.go
  backend/api/timetable/instances_update.go
  backend/api/timetable/offering_sources.go
  backend/api/timetable/templates_create.go
  backend/api/timetable/templates_test.go
  backend/api/timetable/timetable_data_test_helpers_test.go
  backend/services/enrollment/offering_source_service.go
  backend/services/enrollment/offering_source_service_test.go
  backend/services/factory.go
  backend/services/schedule/instance_series_conversion.go
  backend/services/schedule/template_create_service.go
  frontend/src/components/help/guide-data.ts
  frontend/src/components/timetable/event-form/step-personal-kinder.test.tsx
  frontend/src/components/timetable/event-form/step-personal-kinder.tsx
  frontend/src/components/timetable/event-form/use-event-form.ts
  frontend/src/components/timetable/instance-detail-modal.test.tsx
  frontend/src/components/timetable/instance-detail-modal.tsx
  frontend/src/components/timetable/timetable-event-modal.test.tsx
  frontend/src/lib/timetable-api.test.ts
  frontend/src/lib/timetable-api.ts
  frontend/src/lib/timetable-helpers.test.ts
  frontend/src/lib/timetable-helpers.ts
  frontend/src/lib/timetable-types.ts
Due: frontend-lint, go-imports

fix(classday): zehnte Review-Runde: Klassenliste revalidiert mit (#1772)
  frontend/src/app/[tenant]/(protected)/klassen/page.tsx
  frontend/src/app/[tenant]/(protected)/klassen/selected-class.test.ts
  frontend/src/app/[tenant]/(protected)/klassen/selected-class.ts
Due: frontend-lint

test(schedule): cover conversion validation and roster derivation
  backend/services/schedule/instance_series_conversion_unit_test.go
Due: go-imports

fix(classday): elfte Review-Runde: Guide-Wortlaut und unbekannte Status-Werte (#1772)
  backend/services/enrollment/class_day_service.go
  backend/services/enrollment/class_day_service_test.go
  frontend/src/components/help/guide-data.ts
Due: frontend-lint, go-imports

fix(timetable): roll back convert on 4xx; stamp seed period
  backend/api/timetable/instances_convert.go
  backend/api/timetable/instances_convert_test.go
  backend/services/schedule/instance_series_conversion.go
  backend/services/schedule/instance_service.go
Due: go-imports

fix(classday): zwölfte Review-Runde: Position-Guard im Edit-Formular greift wirklich (#1772)
  frontend/src/app/api/staff/[id]/route.ts
  frontend/src/app/api/staff/route.ts
  frontend/src/components/teachers/teacher-form.test.tsx
  frontend/src/components/teachers/teacher-form.tsx
Due: frontend-lint

fix(classday): dreizehnte Review-Runde: Query-Fan-out der Klassenansicht eindampfen (#1772)
  backend/services/enrollment/class_day_service.go
  backend/services/enrollment/report_service.go
Due: go-imports

fix(students): restore class list scrolling
  frontend/src/components/students/students-master-detail.test.tsx
  frontend/src/components/students/students-master-detail.tsx
Due: frontend-lint

fix(classday): vierzehnte Review-Runde: Lehrkraft-Guard auch auf dem Tenant-RBAC-Pfad (#1772)
  backend/api/auth/rbac_handlers.go
  backend/services/auth/role_assignment_policy.go
  backend/services/auth/role_management.go
  backend/services/auth/role_management_transaction_test.go
Due: go-imports

fix(classday): fünfzehnte Review-Runde: Doppelter Betreuungsprofil-Walk, UI-Kit und Audit-Dedupe (#1772)
  backend/database/repositories/audit/data_access_log.go
  backend/services/auth/role_assignment_policy.go
  backend/services/auth/role_management.go
  backend/services/platform/operator_account_access.go
  frontend/src/app/[tenant]/(protected)/klassen/page.tsx
  frontend/src/components/staff/klassen-tab.tsx
Due: frontend-lint, go-imports

fix(students): improve bulk selection toolbar UX
  frontend/src/app/[tenant]/(protected)/database/students/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/students-master-detail.test.tsx
  frontend/src/components/students/students-master-detail.tsx
Due: frontend-lint

fix(classday): sechzehnte Review-Runde: Namen fremder Kinder und Freitext raus, Rollen-Guard in beide Richtungen (#1772)
  backend/api/auth/rbac_handlers.go
  backend/services/auth/role_assignment_policy.go
  backend/services/auth/role_management.go
  backend/services/auth/role_management_transaction_test.go
  backend/services/enrollment/class_day_service.go
  backend/services/enrollment/class_day_service_test.go
Due: go-imports

chore(classday): ungenutzten Export von ClassDayTotals entfernen (#1772)
  frontend/src/lib/class-day-api.ts
Due: frontend-lint

fix(classday): siebzehnte Review-Runde: kein groups:read für angelegte Lehrkräfte (#1772)
  backend/api/staff/staff_handlers.go
  backend/api/staff/staff_test.go
Due: go-imports

feat(school): school-Scope und SchoolMiddleware als Portal-Grundstein (#2207)
  backend/auth/jwt/school_middleware.go
  backend/auth/jwt/school_middleware_test.go
  backend/auth/jwt/tenant_middleware.go
  backend/tenant/context.go
Due: go-imports

feat(school): LoginSchool mit MFA-Gate, Schulwechsel und scope-erhaltendem Refresh (#2207)
  backend/auth/jwt/claims.go
  backend/auth/jwt/mfa_challenge_claims.go
  backend/auth/jwt/mfa_pending_claims.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_test.go
  backend/services/auth/authtest/mocks.go
  backend/services/auth/errors.go
  backend/services/auth/interface.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_stub_test.go
Due: go-imports

feat(school): /school/*-Routen mit Klassenansicht-Doppel-Mount (#2207)
  backend/api/base.go
  backend/api/classday/api.go
  backend/api/common/router.go
  backend/api/school/api.go
  backend/api/school/auth_handlers.go
  backend/api/school/school_api_test.go
  backend/api/testdata/route_table.golden
Due: go-imports

fix(school): Scope-Lücke bei Platform-Announcements schließen und 401-Matrix über den ganzen /api-Baum pinnen (#2207)
  CLAUDE.md
  backend/api/platform/api.go
  backend/api/school/auth_handlers.go
  backend/api/school/school_api_test.go
  backend/api/school_scope_matrix_test.go
  backend/auth/jwt/school_middleware_test.go
  backend/services/auth/auth_login_school_test.go
  backend/test/fixtures.go
Due: go-imports

fix(school): Review-Runde: Schul-Lebenszyklus, Enrollment-Scope und Resend-Guard (#2207)
  backend/api/school/api.go
  backend/api/school/auth_handlers.go
  backend/api/school/school_api_test.go
  backend/api/testdata/route_table.golden
  backend/auth/jwt/mfa_enrollment_claims.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_test.go
  backend/services/auth/authtest/mocks.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_stub_test.go
Due: go-imports

fix(school): mockAuthService um die school-Portal-Methoden ergänzen (#2207)
  backend/services/platform/operator_provisioning_service_test.go
Due: go-imports

test(school): Fehlerpfade des school-Portal-Logins und die Scope-Weitergabe abdecken (#2207)
  backend/api/school/school_api_test.go
  backend/services/auth/auth_login_school_internal_test.go
  backend/services/auth/auth_login_school_test.go
  backend/services/auth/authtest/mocks_test.go
  backend/services/auth/mfa_challenge_scope_test.go
Due: go-imports

fix(auth): Review-Befunde zum school-Portal beheben (#2207)
  backend/api/auth/mfa_handlers.go
  backend/auth/jwt/mfa_challenge_claims.go
  backend/database/repositories/auth/mfa_email_challenge.go
  backend/models/auth/repository.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_parent.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_test.go
  backend/services/auth/authtest/mocks.go
  backend/services/auth/mfa_challenge_binding_test.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_verify_race_test.go
  backend/test/fixtures.go
  backend/test/helpers.go
Due: go-imports

fix(auth): Review-Runde 2 zum school-Portal beheben (#2207)
  backend/api/school/auth_handlers.go
  backend/api/school/school_api_test.go
  backend/database/repositories/auth/account_role.go
  backend/database/repositories/auth/account_tenant.go
  backend/models/auth/repository.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_internal_test.go
  backend/services/auth/auth_login_school_test.go
  backend/services/auth/interface.go
  backend/services/auth/test_helpers_test.go
  backend/services/import/staff_import_config_test.go
  backend/services/platform/operator_provisioning_service_test.go
  backend/services/platform/test_mocks_test.go
  backend/test/fixtures.go
Due: go-imports

fix(auth): Review-Runde 3 zum school-Portal beheben (#2207)
  backend/api/auth/mfa_handlers.go
  backend/api/auth/mfa_handlers_extra_internal_test.go
  backend/api/school/school_api_test.go
  backend/database/migrations/001015282_mfa_challenge_portal_binding.go
  backend/database/repositories/auth/mfa_email_challenge.go
  backend/database/repositories/auth/mfa_smoke_test.go
  backend/models/auth/mfa_email_challenge.go
  backend/models/auth/repository.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_atomicity_test.go
  backend/services/auth/authtest/mocks.go
  backend/services/auth/mfa_audit_tenant_test.go
  backend/services/auth/mfa_challenge_binding_test.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_service_extra_test.go
  backend/services/auth/mfa_service_followups_test.go
  backend/services/auth/mfa_service_test.go
  backend/services/auth/mfa_stub_test.go
  backend/services/auth/mfa_verify_race_test.go
  backend/services/auth/passkey_service.go
Due: go-imports

fix(auth): Review-Runde 4 zum school-Portal beheben (#2207)
  backend/api/school/auth_handlers.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_atomicity_test.go
  backend/services/auth/auth_login_school_internal_test.go
  backend/services/auth/auth_login_school_test.go
  backend/services/auth/authtest/mocks.go
  backend/services/auth/mfa_challenge_binding_test.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_stub_test.go
Due: go-imports

fix(auth): Review-Runde 5 zum school-Portal beheben (#2207)
  backend/api/school/school_api_test.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_internal_test.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_service_extra_test.go
  backend/services/factory.go
  backend/services/users/staff_offboarding.go
  backend/services/users/staff_offboarding_test.go
Due: go-imports

fix(ui): stop dropdown options jumping under the mouse
  frontend/src/components/ui/custom-select.test.tsx
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

fix(auth): Review-Runde 6 zum school-Portal beheben (#2207)
  backend/api/auth/mfa_handlers.go
  backend/api/auth/mfa_handlers_internal_test.go
  backend/api/auth/passkey_handlers.go
  backend/api/auth/passkey_handlers_test.go
  backend/api/school/auth_handlers.go
  backend/api/school/school_api_test.go
  backend/database/migrations/001015282_mfa_challenge_portal_binding.go
  backend/database/repositories/auth/mfa_email_challenge.go
Due: go-imports

fix(ui): keep listbox open toggle updater pure
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

fix(ui): separate listbox open scroll from hover suppress
  frontend/src/components/ui/custom-select.test.tsx
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

fix(ui): ignore menu-local scroll when repositioning listbox
  frontend/src/components/ui/custom-select.test.tsx
  frontend/src/components/ui/listbox-dropdown.tsx
Due: frontend-lint

fix(auth): Review-Runde 7 zum school-Portal beheben (#2207)
  backend/database/migrations/001015282_mfa_challenge_portal_binding.go
  backend/database/repositories/auth/mfa_email_challenge.go
  backend/services/auth/auth_login.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/auth_login_parent.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_internal_test.go
  backend/services/auth/auth_login_school_test.go
Due: go-imports

feat: add planned absence date ranges (#2213)
  backend/api/students/status_day_handlers.go
  backend/api/students/status_day_internal_test.go
  backend/api/students/types.go
  backend/services/active/student_status_day_write.go
  backend/services/active/student_status_day_write_bulk_test.go
  backend/services/parent/parent_write_service.go
  backend/services/parent/parent_write_service_test.go
  frontend/public/help/screens/geplante-abwesenheit-zeitraum.webp
  frontend/src/app/[tenant]/(protected)/students/[id]/page.test.tsx
  frontend/src/app/[tenant]/(protected)/students/[id]/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/students/planned-status-days-modal.stories.tsx
  frontend/src/components/students/planned-status-days-modal.test.tsx
  frontend/src/components/students/planned-status-days-modal.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/segmented-control.tsx
  frontend/src/lib/student-status-days-api.test.ts
  frontend/src/lib/student-status-days-api.ts
Due: frontend-lint, go-imports

fix: reject bulk status conflicts and refresh modal checks
  backend/api/students/status_day_handlers.go
  backend/services/active/student_status_day_write.go
  backend/services/active/student_status_day_write_bulk_test.go
  frontend/src/components/students/planned-status-days-modal.test.tsx
  frontend/src/components/students/planned-status-days-modal.tsx
Due: frontend-lint, go-imports

fix(auth): Review-Runde 8 zum school-Portal beheben (#2207)
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_internal_test.go
Due: go-imports

fix: omit notes from status conflicts and surface bulk conflicts
  backend/api/students/status_day_handlers.go
  backend/api/students/status_day_internal_test.go
  backend/api/students/status_days_response.go
  frontend/src/components/students/class-trip-bulk-status-modal.test.tsx
  frontend/src/components/students/class-trip-bulk-status-modal.tsx
  frontend/src/components/students/planned-status-days-modal.test.tsx
  frontend/src/components/students/planned-status-days-modal.tsx
  frontend/src/lib/api-helpers.server.ts
  frontend/src/lib/api-helpers.test.ts
  frontend/src/lib/student-status-days-api.test.ts
  frontend/src/lib/student-status-days-api.ts
Due: frontend-lint, go-imports

fix: tighten planned conflict list and cap bulk details
  frontend/src/components/students/class-trip-bulk-status-modal.test.tsx
  frontend/src/components/students/class-trip-bulk-status-modal.tsx
  frontend/src/components/students/planned-status-days-modal.test.tsx
  frontend/src/components/students/planned-status-days-modal.tsx
Due: frontend-lint

fix(auth): Review-Runde 9 zum school-Portal beheben (#2207)
  backend/database/repositories/auth/permission.go
  backend/database/repositories/auth/permission_locking_test.go
  backend/models/auth/repository.go
  backend/services/auth/auth_login_school.go
  backend/services/auth/auth_login_school_internal_test.go
  backend/services/auth/auth_login_school_test.go
  backend/services/auth/authtest/mocks.go
  backend/services/auth/mfa_service.go
  backend/services/auth/mfa_stub_test.go
Due: go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
