Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

test: add reproducible runtime checkpoint workload (#3019)
  backend/api/route_table_golden_test.go
  backend/api/runtime_checkpoint_test.go
  backend/test/query_counter.go
  backend/test/query_counter_rows_test.go
  backend/test/runtime_checkpoint.go
  docs/runtime-checkpoints/README.md
  scripts/runtime-checkpoint-report.py
Due: go-imports

fix: preserve start page choices
  backend/database/migrations/001015368_home_layouts.go
  backend/seed/api/coverage_ratchet_test.go
  backend/services/config/home_layout_service.go
  backend/services/config/home_layout_service_internal_test.go
  frontend/src/app/[tenant]/(protected)/dashboard/page.home-layout.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/components/dashboard/customize-dashboard-modal.test.tsx
  frontend/src/components/dashboard/customize-dashboard-modal.tsx
  frontend/src/components/settings/home-blocks-tab.test.tsx
  frontend/src/components/settings/home-blocks-tab.tsx
  frontend/src/lib/home-layout-api.ts
  frontend/src/lib/hooks/use-home-layout.test.ts
  frontend/src/lib/hooks/use-home-layout.ts
Due: frontend-lint, go-imports

fix(frontend): Fortschritt für Inhaltslinks melden
  frontend/src/components/ui/nav-link.test.tsx
  frontend/src/components/ui/nav-link.tsx
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
  frontend/src/lib/hooks/use-navigation-guard.ts
  frontend/src/lib/navigation-progress-events.ts
Due: frontend-lint

fix: synchronize start page layouts
  backend/api/base.go
  backend/api/base_utility_test.go
  backend/api/config/home_layout_api.go
  backend/api/config/settings_api.go
  backend/api/config/settings_integration_test.go
  backend/api/settings_composition.go
  backend/seed/api/coverage_ratchet_test.go
  backend/seed/api/seed_home_layout.go
  backend/seed/api/seed_home_layout_test.go
  backend/seed/api/workflow_steps.go
  backend/services/config/home_layout_service.go
  backend/services/config/home_layout_service_internal_test.go
  backend/services/config/settings_service.go
  backend/services/config/tenant_operations.go
  backend/services/factory.go
  backend/services/settings_callbacks_test_helpers.go
  backend/services/settings_test_helpers.go
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/home-blocks.test.ts
  frontend/src/lib/home-blocks.ts
  frontend/src/lib/hooks/use-home-layout.test.ts
  frontend/src/lib/hooks/use-home-layout.ts
Due: frontend-lint, go-imports

fix(frontend): Linkwechsel nur einmal melden
  frontend/src/components/ui/navigation-link.tsx
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

fix: preserve API initialization boundary
  backend/api/base.go
Due: go-imports

feat(seed): complete booking-led demo profile matrix (#3012)
  .github/workflows/test.yml
  backend/demoprofile/state.go
  backend/seed/api/care_withdrawals.go
  backend/seed/api/enrollment_bookings_profile.go
  backend/seed/api/enrollment_weekly_profile.go
  backend/seed/api/enrollment_weekly_profile_test.go
  backend/seed/api/runtime.go
  backend/seed/api/seeder.go
  backend/seed/api/seeder_test.go
  backend/seed/api/state.go
  backend/seed/api/workflow_steps.go
  backend/simulate/status.go
  backend/simulate/status_test.go
  docs/getting-started.md
Due: go-imports

chore: record accepted runtime checkpoint baseline (#3019)
  backend/architecture/runtime-checkpoints.json
Due: none

feat(seed): complete booking-led demo profile matrix (#3012) (#3068)
  .github/workflows/test.yml
  backend/demoprofile/state.go
  backend/seed/api/care_withdrawals.go
  backend/seed/api/enrollment_bookings_profile.go
  backend/seed/api/enrollment_weekly_profile.go
  backend/seed/api/enrollment_weekly_profile_test.go
  backend/seed/api/runtime.go
  backend/seed/api/seeder.go
  backend/seed/api/seeder_test.go
  backend/seed/api/state.go
  backend/seed/api/workflow_steps.go
  backend/simulate/status.go
  backend/simulate/status_test.go
  docs/getting-started.md
Due: go-imports

fix: restore home layout behavior
  backend/api/base.go
  backend/api/base_utility_test.go
  frontend/public/help/screens/startseite-anpassen.webp
  frontend/public/help/screens/startseite.webp
  frontend/src/app/[tenant]/(protected)/dashboard/page.home-layout.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/home-layout-api.test.ts
  frontend/src/lib/home-layout-api.ts
Due: frontend-lint, go-imports

chore: CONTEXT.md
  CONTEXT.md
Due: none

fix(frontend): Inhaltswechsel ohne Ladehülle halten
  frontend/src/app/[tenant]/(protected)/loading.tsx
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

fix: read home layout response
  frontend/src/lib/home-layout-api.test.ts
  frontend/src/lib/home-layout-api.ts
Due: frontend-lint

fix: serialize home layout writes
  backend/services/config/home_layout_service.go
  backend/services/config/home_layout_service_internal_test.go
  backend/services/config/tenant_operations.go
Due: go-imports

fix(frontend): Querywechsel ohne Ladehülle halten
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

test(frontend): lazy Raumverlaufsdiagramme isolieren
  frontend/src/app/[tenant]/(protected)/students/[id]/room-history/page.test.tsx
Due: frontend-lint

docs: add success and failure screenshots for PR #3070
  screenshots-pr3070/failure-mobile.png
  screenshots-pr3070/failure.png
  screenshots-pr3070/pair-failure.png
  screenshots-pr3070/pair-success.png
  screenshots-pr3070/success-mobile.png
  screenshots-pr3070/success.png
Due: none

fix: show request decision confirmations as toasts
  frontend/src/components/students/aggregated-request-list.test.tsx
  frontend/src/components/students/aggregated-request-list.tsx
  frontend/src/components/students/requests/request-case-navigation.test.tsx
Due: frontend-lint

fix(frontend): Verlaufwechsel nach Redirect abschließen
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

fix: show request decision confirmations as toasts (#3070)
  frontend/src/components/students/aggregated-request-list.test.tsx
  frontend/src/components/students/aggregated-request-list.tsx
  frontend/src/components/students/requests/request-case-navigation.test.tsx
Due: frontend-lint

fix(frontend): Ladehülle bei Inhaltslinks ausblenden
  frontend/src/app/[tenant]/(protected)/loading.test.tsx
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

chore: CONTEXT.md (#3071)
  CONTEXT.md
Due: none

test: keep migrated reminder fixture adapters out of production
  backend/modules/appointments/occurrence_delivery_internal_test.go
  backend/services/calendar/recurrence.go
  backend/services/calendar/reminders_override_test.go
  backend/services/calendar/reminders_test.go
Due: go-imports

test(schedule): classify retained legacy providers as test support
  backend/database/repositories/schedule/activity_exception_test_helpers.go
  backend/database/repositories/schedule/activity_instance_test_helpers.go
  backend/database/repositories/schedule/date_retention_test_helpers.go
  backend/database/repositories/schedule/instance_staff_test_helpers.go
Due: go-imports

chore: remove obsolete care-exit SQL recordset
  backend/database/repositories/users/care_exit_cleanup.go
Due: go-imports

fix: filter RSS feed to pending requests
  backend/modules/parentrequestfeedprojection/query.go
  backend/modules/parentrequestfeedprojection/query_test.go
Due: go-imports

fix: correct CalDAV discovery routes
  backend/api/base.go
  backend/api/caldav_routing_test.go
  backend/api/calendar/caldav.go
  backend/api/calendar/caldav_test.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
Due: go-imports

fix(timetable): consolidate care-exit roster capability
  backend/database/repositories/care_exit_assignments.go
  backend/database/repositories/users/care_exit_assignments.go
  backend/modules/timetable/compose/instance_assignment_runtime_test.go
  backend/modules/timetable/compose/instance_student_care_exit.go
  backend/modules/timetable/compose/instance_student_care_exit_locks.go
  backend/modules/timetable/compose/instance_student_care_exit_test.go
  backend/modules/timetable/instance_student_care_exit.go
  backend/modules/timetable/instance_student_care_exit_locks.go
  backend/modules/timetable/instance_students.go
  backend/modules/timetable/internal/adapters/postgres/instance_student_care_exit.go
  backend/modules/timetable/internal/adapters/postgres/instance_student_care_exit_locks.go
  backend/modules/timetable/internal/application/instance_student_care_exit.go
  backend/modules/timetable/internal/application/instance_student_care_exit_locks.go
  backend/modules/timetable/internal/ports/ports.go
  backend/modules/timetable/timetable_test.go
Due: go-imports

fix: retry start page layout reads
  frontend/src/app/[tenant]/(protected)/dashboard/page.home-layout.test.tsx
  frontend/src/app/[tenant]/(protected)/dashboard/page.tsx
  frontend/src/lib/home-layout-api.test.ts
  frontend/src/lib/home-layout-api.ts
Due: frontend-lint

fix(frontend): restore fallback after cancelled links
  frontend/src/components/ui/navigation-progress.test.tsx
  frontend/src/components/ui/navigation-progress.tsx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
