Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

frontend-lint:
  run: cd frontend && npx lint-staged
  stage_fixed: true

go-imports:
  run: "cd backend\n# Use goimports from PATH or fallback to ~/go/bin\nGOIMPORTS=$(which goimports 2>/dev/null || echo \"$HOME/go/bin/goimports\")\nDIFF=$($GOIMPORTS -d . 2>&1)\nif [ -n \"$DIFF\" ]; then\n  echo \"❌ Go imports not organized. Run: cd backend && goimports -w .\"\n  echo \"$DIFF\"\n  exi
  ...

docs: point time modeling at timezone.Date
  .claude/rules/calendar-dates.md
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

fix: retry caregiver-disable transaction on deadlock (flaky CI)
  backend/models/base/filters_integration_test.go
  backend/models/base/transaction.go
  backend/services/users/caregiver_capability.go
Due: go-imports

test: fix staff fixture cleanup deadlocks
  backend/test/fixtures.go
Due: go-imports

feat(users): soft delete for staff and teachers
  backend/database/migrations/001015120_add_staff_soft_delete.go
  backend/database/repositories/auth/account_tenant.go
  backend/database/repositories/config/work_time_model.go
  backend/database/repositories/education/group_substitution.go
  backend/database/repositories/users/staff.go
  backend/database/repositories/users/teacher.go
  backend/models/users/staff.go
  backend/models/users/teacher.go
Due: go-imports

feat(repos): offboarding repo methods for staff cleanup
  backend/api/operator/mfa_admin_extra_internal_test.go
  backend/database/repositories/activities/supervisor_planned.go
  backend/database/repositories/activities/supervisor_planned_repository_test.go
  backend/database/repositories/auth/account_tenant.go
  backend/database/repositories/auth/account_tenant_repository_test.go
  backend/database/repositories/education/group_substitution.go
  backend/database/repositories/education/group_substitution_repository_test.go
  backend/database/repositories/education/group_teacher.go
  backend/database/repositories/education/group_teacher_repository_test.go
  backend/database/repositories/schedule/instance_staff_repo.go
  backend/database/repositories/schedule/instance_staff_repo_test.go
  backend/models/activities/repository.go
  backend/models/auth/repository.go
  backend/models/education/repository.go
  backend/models/schedule/instance_staff.go
  backend/services/auth/auth_login_internal_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/import/staff_import_config_test.go
  backend/services/platform/test_mocks_test.go
  backend/services/schedule/auto_start_service_test.go
Due: go-imports

feat(users): staff offboarding service replaces bare staff delete
  backend/api/base.go
  backend/api/iot/data/available_teachers_internal_test.go
  backend/api/staff/api.go
  backend/api/staff/staff_test.go
  backend/services/factory.go
  backend/services/users/interface.go
  backend/services/users/person_service.go
  backend/services/users/staff_offboarding.go
Due: go-imports

fix: end open visits atomically with attendance checkout
  backend/api/active/active_internal_test.go
  backend/api/active/checkin.go
  backend/api/active/checkin_selfheal_integration_test.go
  backend/api/active/checkout_helpers.go
  backend/api/active/checkout_integration_test.go
  backend/api/active/checkout_test.go
  backend/api/iot/attendance/attendance_test.go
  backend/api/iot/attendance/handlers.go
  backend/api/students/school_checkin_handlers.go
  backend/services/active/attendance_service.go
  backend/services/active/attendance_service_test.go
  backend/services/active/interface.go
Due: go-imports

fix(auth): reactivate account-tenant mapping on invitation acceptance
  backend/services/auth/invitation_service.go
  backend/services/auth/invitation_service_test.go
Due: go-imports

test(users): integration coverage for staff offboarding
  backend/api/activities/caregiver_supervisors_internal_test.go
  backend/api/staff/staff_test.go
  backend/database/repositories/activities/supervisor_planned_repository_test.go
  backend/database/repositories/education/group_substitution_repository_test.go
  backend/database/repositories/education/group_teacher_repository_test.go
  backend/database/repositories/schedule/instance_staff_repo_test.go
  backend/services/users/staff_offboarding_test.go
Due: go-imports

feat(frontend): offboarding copy in Personal delete confirmation
  frontend/src/app/[tenant]/(protected)/database/personal/page.tsx
Due: frontend-lint

test: cover checkout invariant error branches for quality gate
  backend/api/active/checkin_selfheal_integration_test.go
  backend/services/active/attendance_service.go
  backend/services/active/checkout_visit_invariant_mock_test.go
Due: go-imports

fix: retry caregiver capability disable when killed as deadlock victim
  backend/services/users/caregiver_capability.go
  backend/services/users/caregiver_capability_deadlock_test.go
Due: go-imports

test: isolate backend packages with cloned databases
  backend/test/db_clone.go
  backend/test/db_clone_test.go
  backend/test/helpers.go
Due: go-imports

fix: harden attendance visit healing
  backend/services/active/attendance_service.go
  backend/services/active/attendance_service_test.go
  backend/services/active/checkout_visit_invariant_mock_test.go
Due: go-imports

fix: close offboarding gaps in permissions, guardian access, and planned state
  backend/api/time-tracking/api_test.go
  backend/api/timetable/instances_test.go
  backend/database/repositories/active/staff_absence.go
  backend/database/repositories/auth/account_permission.go
  backend/database/repositories/platform/operator_summaries_repository.go
  backend/database/repositories/platform/operator_summaries_repository_test.go
  backend/database/repositories/schedule/instance_staff_repo.go
  backend/database/repositories/schedule/instance_staff_repo_test.go
  backend/database/repositories/users/staff.go
  backend/models/active/repository.go
  backend/models/auth/repository.go
  backend/models/schedule/instance_staff.go
  backend/models/users/repository.go
  backend/services/active/staff_absence_service_test.go
  backend/services/active/work_session_service_test.go
  backend/services/auth/test_helpers_test.go
  backend/services/factory.go
  backend/services/platform/operator_provisioning_service_test.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/users/staff_offboarding.go
  backend/services/users/staff_offboarding_test.go
Due: go-imports

docs: expand time and staff guide
  docs/pr-screenshots/features-pdf-page-10-10.png
  docs/pr-screenshots/features-pdf-page-15-15.png
  docs/pr-screenshots/help-mitarbeiter-admin-profil.png
  docs/pr-screenshots/help-zeiterfassung-urlaub-historie.png
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

docs: correct guide review wording
  docs/pr-screenshots/features-pdf-page-10-10.png
  docs/pr-screenshots/features-pdf-page-15-15.png
  docs/pr-screenshots/help-mitarbeiter-admin-profil.png
  docs/pr-screenshots/help-zeiterfassung-urlaub-historie.png
  frontend/src/components/help/guide-data.ts
Due: frontend-lint

fix(timetable): improve loading skeletons
  frontend/src/app/[tenant]/(protected)/timetables/page.test.tsx
  frontend/src/app/[tenant]/(protected)/timetables/page.tsx
Due: frontend-lint

fix: post-merge frontend fixups (departure mode)
  frontend/src/components/students/personal-info-form-modal.tsx
  frontend/src/lib/enrollment-form-schema-api.test.ts
  frontend/src/lib/student-helpers.ts
Due: frontend-lint

test: add shrink-only handler-layer ratchet for api/ repository access
  backend/test/handler_layer_ratchet_test.go
  backend/test/hermetic_verification_test.go
Due: go-imports

feat(users): add entity lookup methods to PersonService
  backend/api/iot/data/available_teachers_internal_test.go
  backend/api/time-tracking/api_test.go
  backend/api/timetable/instances_test.go
  backend/services/users/interface.go
  backend/services/users/person_service.go
Due: go-imports

refactor(api): replace PersonService repository-getter calls with lookup methods
  backend/api/active/checkin.go
  backend/api/active/checkout_helpers.go
  backend/api/active/groups_handlers.go
  backend/api/active/unclaimed_handlers.go
  backend/api/activities/api.go
  backend/api/groups/api.go
  backend/api/import/api.go
  backend/api/iot/attendance/handlers.go
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/checkin/workflow.go
  backend/api/iot/data/available_teachers_internal_test.go
  backend/api/iot/data/handlers.go
  backend/api/iot/feedback/handlers.go
  backend/api/iot/rfid/handlers.go
  backend/api/iot/sessions/helpers.go
  backend/api/iot/sessions/sessions_internal_test.go
  backend/api/sse/sse_helpers.go
  backend/api/students/pickup_schedule_handlers.go
  backend/api/time-tracking/api.go
  backend/api/time-tracking/api_test.go
  backend/api/timetable/instances.go
  backend/api/timetable/instances_test.go
  backend/services/users/interface.go
  backend/services/users/person_service.go
  backend/test/handler_layer_ratchet_test.go
Due: go-imports

refactor: route internal PersonService getter consumers through lookup methods
  backend/auth/authorize/policies/student_visit.go
  backend/services/schedule/timetable_operations_service.go
  backend/services/schedule/timetable_operations_service_test.go
  backend/test/handler_layer_ratchet_test.go
Due: go-imports

refactor(staff): move staff handler data access into services
  backend/api/base.go
  backend/api/iot/data/available_teachers_internal_test.go
  backend/api/staff/api.go
  backend/api/staff/staff_helpers.go
  backend/api/staff/staff_test.go
  backend/api/time-tracking/api_test.go
  backend/api/timetable/instances_test.go
  backend/services/active/staff_absence_service.go
  backend/services/active/work_session_service.go
  backend/services/users/interface.go
  backend/services/users/person_service.go
  backend/test/handler_layer_ratchet_test.go
Due: go-imports

refactor(users): delete the PersonService repository getters
  backend/api/iot/checkin/checkin_test.go
  backend/api/iot/data/available_teachers_internal_test.go
  backend/api/iot/sessions/sessions_internal_test.go
  backend/api/time-tracking/api_test.go
  backend/api/timetable/instances_test.go
  backend/services/users/caregiver_capability_test.go
  backend/services/users/interface.go
  backend/services/users/person_service.go
  backend/services/users/person_service_test.go
Due: go-imports

refactor: introduce platform SchoolService; school + membership lookups leave api/
  backend/api/auth/api.go
  backend/api/auth/auth_test.go
  backend/api/auth/guardian_invitation_handlers.go
  backend/api/auth/invitation_handlers.go
  backend/api/auth/mfa_handlers_extra_internal_test.go
  backend/api/auth/tenant_resolve_hidden_test.go
  backend/api/auth/tenant_resolve_photos_test.go
  backend/api/base.go
  backend/api/enrollment/api.go
  backend/api/enrollment/care_offering_handlers.go
  backend/api/enrollment/legal_handlers.go
  backend/api/enrollment/schema_handlers.go
  backend/api/enrollment/submission_handlers.go
  backend/api/iot/api.go
  backend/api/iot/api_test.go
  backend/api/operator/api.go
  backend/api/operator/mfa_admin.go
  backend/api/operator/mfa_admin_extra_internal_test.go
  backend/api/operator/provisioning.go
  backend/api/operator/settings.go
  backend/api/operator/settings_internal_test.go
  backend/api/operator/settings_photo_paths_test.go
  backend/api/parent/api.go
  backend/api/parent/auth_handlers_test.go
  backend/api/parent/child_write_handlers_test.go
  backend/api/parent/enrollment_handlers.go
  backend/api/students/api.go
  backend/api/students/export_handlers.go
  backend/services/auth/auth_login_mfa_infra_test.go
  backend/services/auth/auth_service.go
  backend/services/auth/interface.go
  backend/services/auth/mfa_service.go
  backend/services/factory.go
  backend/services/platform/operator_provisioning_service_test.go
  backend/services/platform/school_service.go
  backend/test/handler_layer_ratchet_test.go
Due: go-imports

refactor: move auth slug lookups and operator presence guard query to services
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/api/auth/guardian_invitation_handlers.go
  backend/api/auth/invitation_handlers.go
  backend/api/auth/invitation_handlers_internal_test.go
  backend/api/base.go
  backend/api/iot/checkin/workflow_helpers_test.go
  backend/api/operator/api.go
  backend/api/operator/settings.go
  backend/api/operator/settings_integration_test.go
  backend/api/operator/settings_internal_test.go
  backend/api/operator/settings_photo_paths_test.go
  backend/api/sse/resolve_supervisions_internal_test.go
  backend/database/repositories/active/attendance_repository.go
  backend/models/active/attendance.go
  backend/services/active/active_service.go
  backend/services/active/interface.go
  backend/services/auth/guardian_invitation_interface.go
  backend/services/auth/guardian_invitation_service.go
  backend/services/auth/invitation_interface.go
  backend/services/auth/invitation_service.go
  backend/services/import/staff_import_config_test.go
  backend/services/platform/operator_provisioning_service_internal_test.go
  backend/services/platform/operator_provisioning_service_test.go
  backend/services/scheduler/scheduler_test.go
  backend/test/handler_layer_ratchet_test.go
Due: go-imports

refactor: groups, guardians, rooms, import, work-time-models leave the repository layer
  backend/api/base.go
  backend/api/groups/api.go
  backend/api/groups/groups_test.go
  backend/api/guardians/api.go
  backend/api/guardians/guardians_test.go
  backend/api/guardians/handlers.go
  backend/api/import/api.go
  backend/api/import/import_test.go
  backend/api/import/staff.go
  backend/api/rooms/api.go
  backend/api/rooms/export_handlers.go
  backend/api/work-time-models/api.go
  backend/services/config/work_time_model_service.go
  backend/services/education/education_service.go
  backend/services/education/interface.go
  backend/services/factory.go
  backend/services/import/import_service.go
  backend/test/handler_layer_ratchet_test.go
Due: go-imports

refactor(students): handler data access moves behind three new services
  backend/api/base.go
  backend/api/students/api.go
  backend/api/students/attendance_history_handlers.go
  backend/api/students/day_planning.go
  backend/api/students/export_handlers.go
  backend/api/students/parent_notes_handlers.go
  backend/api/students/parent_staff_internal_test.go
  backend/api/students/pickup_schedule_handlers.go
  backend/api/students/privacy_handlers.go
  backend/api/students/status_day_handlers.go
  backend/api/students/status_day_internal_test.go
  backend/api/students/status_days_response.go
  backend/api/students/status_history.go
  backend/api/students/students_test.go
  backend/api/students/test_helpers_test.go
  backend/api/timetable/instances_test.go
  backend/services/active/student_history_service.go
  backend/services/active/student_status_day_service.go
  backend/services/factory.go
  backend/services/schedule/arrival_service.go
  backend/services/schedule/auto_start_service_test.go
  backend/services/schedule/instance_service.go
  backend/services/schedule/pickup_schedule_service.go
  backend/services/users/student_service.go
  backend/test/handler_layer_ratchet_test.go
Due: go-imports

refactor(active): handler-level queries move into the visit and room repositories
  backend/api/active/api.go
  backend/api/active/groups_handlers.go
  backend/api/active/supervision_overview_internal_test.go
  backend/api/active/tracking_handlers_test.go
  backend/api/iot/checkin/workflow_helpers_test.go
  backend/api/sse/resolve_supervisions_internal_test.go
  backend/database/repositories/active/visits.go
  backend/database/repositories/facilities/room.go
  backend/models/active/repository.go
  backend/models/active/visit.go
  backend/models/facilities/repository.go
  backend/services/active/active_service.go
  backend/services/active/end_session_unit_test.go
  backend/services/active/interface.go
  backend/services/import/relationship_resolver_test.go
  backend/services/scheduler/scheduler_test.go
  backend/test/handler_layer_ratchet_test.go
Due: go-imports

chore: final #584 sweep — lint cleanup after the layer migration
  backend/api/students/status_day_internal_test.go
  backend/api/students/test_helpers_test.go
  backend/database/repositories/facilities/room.go
Due: go-imports

feat: allow fully disabling each enrollment consent block
  backend/models/config/keys.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/enrollment.go
  backend/services/enrollment/request_service.go
  backend/services/enrollment/request_service_test.go
Due: go-imports

feat: add timetable slot list exports
  backend/api/base.go
  backend/api/timetable/api.go
  backend/api/timetable/lists.go
  backend/models/config/keys.go
  backend/services/config/defaults/defaults_test.go
  backend/services/config/defaults/timetable.go
  backend/services/factory.go
  backend/services/listexport/pdf.go
  backend/services/listexport/service_test.go
  backend/services/listexport/types.go
  backend/services/listexport/xlsx.go
  backend/services/slotlists/service.go
  backend/services/slotlists/service_integration_test.go
  backend/services/slotlists/types.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/app/api/timetable/lists/export/route.ts
  frontend/src/app/api/timetable/lists/options/route.ts
  frontend/src/app/api/timetable/lists/preview/route.ts
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/components/ui/date-picker.tsx
  frontend/src/components/ui/page-header/DesktopFilters.tsx
  frontend/src/lib/navigation-icons.ts
  frontend/src/lib/slot-lists-api.ts
Due: frontend-lint, go-imports

feat: refine daily timetable lists
  backend/api/timetable/lists_test.go
  backend/services/slotlists/service.go
  backend/services/slotlists/service_integration_test.go
  backend/services/slotlists/types.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
  frontend/src/components/dashboard/sidebar.tsx
  frontend/src/components/help/guide-data.ts
  frontend/src/lib/navigation-icons.ts
  frontend/src/lib/slot-lists-api.ts
Due: frontend-lint, go-imports

fix: address slot list review findings
  backend/services/slotlists/service.go
  backend/services/slotlists/service_integration_test.go
  frontend/src/app/[tenant]/(protected)/lists/page.tsx
Due: frontend-lint, go-imports

Path conditions:
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx,mdx}
  go-imports: any of: backend/**/*.go
