Repository moto-nrw/project-phoenix: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, go-imports

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

# Pre-commit: Quick checks on staged files
pre-commit:
  parallel: true
  commands:
    # Git secrets check (if installed)
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    # Frontend lint-staged (prettier + eslint with auto-fix)
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx,mdx}"
      run: cd frontend && npx lint-staged
      stage_fixed: true

    # Go imports check (formatting and organization)
    go-imports:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use goimports from PATH or fallback to ~/go/bin
        GOIMPORTS=$(which goimports 2>/dev/null || echo "$HOME/go/bin/goimports")
        DIFF=$($GOIMPORTS -d . 2>&1)
        if [ -n "$DIFF" ]; then
          echo "❌ Go imports not organized. Run: cd backend && goimports -w ."
          echo "$DIFF"
          exit 1
        fi

# Pre-push: Full quality checks (runs before pushing to remote)
pre-push:
  parallel: true
  commands:
    git-secrets:
      run: git secrets --pre_commit_hook 2>/dev/null || true

    go-vet:
      glob: "backend/**/*.go"
      run: cd backend && go vet ./...

    golangci-lint:
      glob: "backend/**/*.go"
      run: cd backend && golangci-lint run --timeout 5m

    # Dead code detection (matches CI)
    go-deadcode:
      glob: "backend/**/*.go"
      run: |
        cd backend
        # Use deadcode from PATH or fallback to ~/go/bin (install if missing)
        DEADCODE=$(which deadcode 2>/dev/null || echo "$HOME/go/bin/deadcode")
        [ -x "$DEADCODE" ] || go install golang.org/x/tools/cmd/deadcode@latest
        # Run with exclusions matching CI
        OUTPUT=$($DEADCODE -test ./... 2>&1 | grep -vE "cmd/root.go:.*Execute" || true)
        if [ -n "$OUTPUT" ]; then
          echo "❌ Dead code detected:"
          echo "$OUTPUT"
          exit 1
        fi

    # Frontend lint + typecheck (pnpm check = eslint + tsc --noEmit)
    frontend-check:
      glob: "frontend/**/*.{ts,tsx}"
      run: cd frontend && pnpm run check

    # Frontend unused code detection (matches CI)
    frontend-knip:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && pnpm knip

# Post-merge: Check env sync after git pull
post-merge:
  commands:
    env-sync-check:
      run: |
        dotenv-linter diff .env .env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff backend/dev.env backend/dev.env.example 2>/dev/null | grep "missing" || true
        dotenv-linter diff frontend/.env.local frontend/.env.example 2>/dev/null | grep "missing" || true

    docker-compose-sync:
      run: |
        if [ -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          dyff between --omit-header docker-compose.example.yml docker-compose.yml 2>/dev/null || true
        elif [ ! -f docker-compose.yml ] && [ -f docker-compose.example.yml ]; then
          echo "docker-compose.yml missing - copy from docker-compose.example.yml"
        fi

fix: resolve architecture base paths inside Git hooks
  backend/internal/architecture/composition_ratchet_test.go
  scripts/backend-architecture.sh
Due: go-imports

fix(deploy): isolate runtime secrets by service
  .claude/rules/env-docker-sync.md
  CLAUDE.md
  backend/database/database_config.go
  backend/database/serve_dsn_boundary_test.go
  docs/runtime-environment-boundaries.md
  environments/production.compose.yml
  environments/runtime-env-allowlist.json
  environments/staging.compose.yml
  scripts/check-runtime-env.py
  scripts/deploy-remote.sh
  scripts/env-check.sh
  scripts/inspect-env-boundary.py
  scripts/rehearse-runtime-env.py
Due: go-imports

refactor: move activity exceptions into timetable owner
  backend/architecture/composition.json
  backend/database/repositories/activity_booking_directory.go
  backend/database/repositories/schedule/activity_exception_repo_test.go
  backend/database/repositories/schedule/compatibility_errors.go
  backend/database/repositories/timetable_activity_exception_repository.go
  backend/modules/timetable/activity_exceptions.go
  backend/modules/timetable/compose/activity_exception_owner_test.go
  backend/modules/timetable/compose/new.go
  backend/modules/timetable/internal/adapters/postgres/activity_exceptions.go
  backend/modules/timetable/internal/adapters/postgres/store.go
  backend/modules/timetable/internal/application/activity_exceptions.go
  backend/modules/timetable/internal/domain/activity_exception.go
  backend/modules/timetable/internal/ports/ports.go
  backend/modules/timetable/timetable.go
  backend/modules/timetable/timetable_test.go
  backend/test/query_budgets.go
Due: go-imports

feat: ratchet central aggregate fields and composition setters (#3043)
  backend/architecture/README.md
  backend/internal/architecture/cli.go
  backend/internal/architecture/composition_ratchet.go
  backend/internal/architecture/composition_ratchet_test.go
  scripts/backend-architecture.sh
Due: go-imports

refactor: move activity instances into timetable owner
  backend/database/repositories/activity_booking_directory.go
  backend/database/repositories/schedule/compatibility_errors.go
  backend/database/repositories/timetable_activity_instance_repository.go
  backend/modules/timetable/activity_instances.go
  backend/modules/timetable/compose/activity_instance_owner_test.go
  backend/modules/timetable/compose/new.go
  backend/modules/timetable/internal/adapters/postgres/activity_instances.go
  backend/modules/timetable/internal/application/activity_instances.go
  backend/modules/timetable/internal/domain/activity_instance.go
  backend/modules/timetable/internal/ports/ports.go
  backend/modules/timetable/timetable.go
  backend/modules/timetable/timetable_test.go
  backend/test/query_budgets.go
Due: go-imports

refactor: move instance staff into timetable owner
  backend/architecture/composition.json
  backend/database/repositories/activity_booking_directory.go
  backend/database/repositories/schedule/compatibility_errors.go
  backend/database/repositories/schedule/instance_staff_repo_test.go
  backend/database/repositories/timetable_instance_staff_repository.go
  backend/modules/timetable/compose/instance_staff_owner_test.go
  backend/modules/timetable/compose/new.go
  backend/modules/timetable/instance_staff.go
  backend/modules/timetable/internal/adapters/postgres/instance_staff.go
  backend/modules/timetable/internal/adapters/postgres/store.go
  backend/modules/timetable/internal/application/instance_staff.go
  backend/modules/timetable/internal/domain/instance_staff.go
  backend/modules/timetable/internal/ports/ports.go
  backend/modules/timetable/timetable.go
  backend/modules/timetable/timetable_test.go
  backend/test/query_budgets.go
Due: go-imports

refactor: route categories through timetable owner
  backend/database/repositories/activities/category_repository_test.go
  backend/database/repositories/activities/compatibility_errors.go
  backend/database/repositories/activity_booking_directory.go
  backend/database/repositories/timetable_category_repository.go
  backend/modules/timetable/compose/new.go
  backend/modules/timetable/internal/adapters/postgres/store.go
  backend/modules/timetable/internal/application/service.go
  backend/modules/timetable/internal/ports/ports.go
  backend/modules/timetable/timetable.go
  backend/modules/timetable/timetable_test.go
Due: go-imports

refactor: route cleanup through timetable owner
  backend/api/timetable_cleanup_composition.go
  backend/cmd/cleanup_helpers.go
  backend/database/repositories/command_roots.go
  backend/database/repositories/room_directory_test.go
  backend/services/cleanup_composition.go
Due: go-imports

refactor: move instance student queries into timetable owner
  backend/architecture/composition.json
  backend/database/repositories/activity_booking_directory.go
  backend/database/repositories/schedule/compatibility_errors.go
  backend/database/repositories/schedule/instance_student_repo_test.go
  backend/database/repositories/timetable_instance_student_repository.go
  backend/modules/timetable/compose/instance_student_owner_test.go
  backend/modules/timetable/compose/new.go
  backend/modules/timetable/instance_students.go
  backend/modules/timetable/internal/adapters/postgres/instance_students.go
  backend/modules/timetable/internal/adapters/postgres/store.go
  backend/modules/timetable/internal/application/instance_students.go
  backend/modules/timetable/internal/domain/instance_student.go
  backend/modules/timetable/internal/ports/ports.go
  backend/modules/timetable/timetable.go
  backend/modules/timetable/timetable_test.go
  backend/test/query_budgets.go
Due: go-imports

chore: trim frontend test dependencies and fix dependency audits
  docs/getting-started.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

fix: require owners for new migration data objects
  backend/architecture/README.md
  backend/internal/architecture/migration_additions.go
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/ratchet_cli_test.go
Due: go-imports

chore(frontend): patch Next.js and native image dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(frontend): resolve production build warnings
  frontend/pnpm-workspace.yaml
  frontend/src/instrumentation-client.ts
Due: frontend-lint

fix: close migration ownership discovery gaps
  backend/architecture/README.md
  backend/internal/architecture/migration_additions.go
  backend/internal/architecture/migration_queries.go
  backend/internal/architecture/migration_sql.go
  backend/internal/architecture/ratchet_cli_test.go
Due: go-imports

test(frontend): pin class-day weekday fixtures
  frontend/src/components/class-day/class-day-class.test.tsx
Due: frontend-lint

fix: require ownership for every new writable database object (#3046)
  backend/architecture/README.md
  backend/internal/architecture/migration_additions.go
  backend/internal/architecture/migration_queries.go
  backend/internal/architecture/migration_sql.go
  backend/internal/architecture/policy_compare.go
  backend/internal/architecture/ratchet_cli_test.go
Due: go-imports

test: update activity category repository stubs
  backend/services/platform/operator_provisioning_service_internal_test.go
  backend/services/platform/operator_provisioning_service_test.go
Due: go-imports

refactor: remove obsolete schedule student directory
  backend/database/repositories/schedule/student_directory.go
  backend/database/repositories/student_projection.go
  backend/services/slotlists/service_integration_test.go
Due: go-imports

refactor: remove activity user model relations
  backend/architecture/legacy.jsonl
  backend/database/repositories/activity_booking_directory.go
  backend/database/repositories/person_projection_activities.go
  backend/database/repositories/person_projection_adapters.go
  backend/database/repositories/staff_projection_activities.go
  backend/database/repositories/timetable_student_enrollment_repository.go
  backend/database/repositories/timetable_supervisor_repository.go
  backend/models/activities/group.go
  backend/models/activities/repository.go
  backend/models/activities/student_enrollment.go
  backend/models/activities/supervisor_planned.go
  backend/modules/timetable/compose/httpadapter/activities_internal_test.go
  backend/modules/timetable/compose/httpadapter/activity_handlers.go
  backend/modules/timetable/compose/httpadapter/helpers.go
  backend/services/activities/enrollment_operations.go
  backend/services/schedule/materialization_service.go
  backend/services/schedule/materialization_service_test.go
  backend/services/users/caregiver_capability.go
Due: go-imports

refactor: decouple legacy schedule models
  backend/architecture/legacy.jsonl
  backend/models/schedule/activity_instance.go
  backend/models/schedule/staff_shift.go
  backend/models/schedule/staff_shift_series.go
Due: go-imports

refactor: move activity compatibility into timetable composition
  backend/architecture/composition.json
  backend/architecture/legacy.jsonl
  backend/modules/timetable/compose/legacy_activity_service.go
  backend/modules/timetable/compose/legacy_category_operations.go
  backend/modules/timetable/compose/legacy_enrollment_operations.go
  backend/modules/timetable/compose/legacy_errors.go
  backend/modules/timetable/compose/legacy_group_update.go
  backend/modules/timetable/compose/legacy_interface.go
  backend/modules/timetable/compose/legacy_schedule_operations.go
  backend/modules/timetable/compose/legacy_supervisor_operations.go
  backend/services/activities/activity_service_test.go
  backend/services/activities/category_operations_test.go
  backend/services/activities/compatibility.go
  backend/services/activities/enrollment_alumni_read_test.go
  backend/services/activities/enrollment_graduation_race_test.go
  backend/services/activities/errors_test.go
  backend/services/activities/group_update_test.go
  backend/services/activities/main_test.go
  backend/services/activities/supervisor_operations_internal_test.go
Due: go-imports

fix: recognize Playwright config and stabilize class-day tests
  frontend/playwright.config.ts
  frontend/src/components/class-day/class-day-class.test.tsx
Due: frontend-lint

fix(architecture): track compatibility imports as migration debt
  backend/architecture/README.md
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/internal/architecture/cli.go
  backend/internal/architecture/import_debt.go
  backend/internal/architecture/import_debt_test.go
  backend/internal/architecture/ratchet_cli_test.go
Due: go-imports

chore: trim frontend test dependencies and fix dependency audits (#3044)
  docs/getting-started.md
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/components/class-day/class-day-class.test.tsx
Due: frontend-lint

fix(auth): verify token handoffs and bound client logs
  backend/api/auth/api.go
  backend/api/auth/session_validation.go
  backend/api/testdata/middleware_table.golden
  backend/api/testdata/route_table.golden
  backend/architecture/composition.json
  backend/services/auth/auth_login.go
  backend/services/auth/session_validation.go
  backend/services/auth/session_validation_test.go
  backend/services/platform/operator_auth_service.go
  frontend/src/app/api/auth/token-handoff.test.ts
  frontend/src/app/api/logs/route.test.ts
  frontend/src/app/api/logs/route.ts
  frontend/src/server/auth/config.test.ts
  frontend/src/server/auth/operator-config.ts
  frontend/src/server/auth/parent-config.ts
  frontend/src/server/auth/school-config.ts
  frontend/src/server/auth/shared.ts
  frontend/src/server/auth/staff-preview-session.test.ts
  frontend/src/server/auth/tenant-config.ts
  frontend/src/server/auth/token-validation.ts
  frontend/vitest.config.ts
Due: frontend-lint, go-imports

fix(architecture): track compatibility imports as migration debt (#3047)
  backend/architecture/README.md
  backend/architecture/legacy.jsonl
  backend/architecture/policy.json
  backend/internal/architecture/cli.go
  backend/internal/architecture/import_debt.go
  backend/internal/architecture/import_debt_test.go
  backend/internal/architecture/ratchet_cli_test.go
Due: go-imports

test(auth): compose focused persistence for security regressions
  backend/api/auth/invitation_ownership_test.go
  backend/architecture/composition.json
  backend/database/repositories/auth_persistence_test_helpers.go
  backend/services/auth/auth_core_test.go
  backend/services/auth/invitation_ownership_test.go
  backend/services/auth/invitation_resend_race_test.go
  backend/services/auth/invitation_rollback_internal_test.go
  backend/services/auth/session_validation_test.go
Due: go-imports

refactor(auth): remove obsolete helper and break type import cycle
  backend/services/auth/invitation_service.go
  backend/services/auth/invitation_service_test.go
  frontend/src/server/auth/jwt-payload.ts
  frontend/src/server/auth/shared.ts
  frontend/src/server/auth/token-validation.ts
Due: frontend-lint, go-imports

chore(frontend): record parent invitation bundle budget
  frontend/scripts/perf/bundle-baseline.json
Due: none

refactor: remove obsolete schedule date adapter
  backend/models/schedule/date.go
  backend/modules/careplan/legacy/schedule_contract.go
Due: go-imports

fix(deps): resolve URI and image parser vulnerabilities
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

fix(deps): resolve URI and image parser vulnerabilities (#3052)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none
